{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Examenes de "'~ course.title ~'"',
    path: {
        index: {uri: path('aper_course_index', {'cursopadre': course.cursoPadre.id})},
    },
    } only %}
{% endblock page_header %}


{% block page_content %}
    <h3>Encuestas</h3>
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>{{ 'Empleado' }}</th>
                <th>{{ 'Código de Estación' }}</th>
                <th>{{ 'Estado' }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for employeeExamen in paginationEncuestas %}
                <tr data-id="{{ employeeExamen.id }}">
                    <td>{{ employeeExamen.employee.profile.name | default('') }}</td>
                    <td>{{ employeeExamen.employee.store.code | default('') }}</td>
                    <td>{% if employeeExamen.aprobado %}Aprobado{% else %}No Aprobado{% endif %}</td>
{#                    <!--td>{{ categories.slug }}</td-->#}
                    <td>
                        <a href="{{ path('examen_empleado_show', {id: employeeExamen.id }) }}"
                           class="btn">{{ 'Ver' }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ grid_pagination(paginationEncuestas) }}
        </br>
        <h3>Examenes Previos</h3>
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>{{ 'Empleado' }}</th>
                <th>{{ 'Código de Estación' }}</th>
                <th>{{ 'Estado' }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for employeeExamen in paginationEPrevios %}
                <tr data-id="{{ employeeExamen.id }}">
                    <td>{{ employeeExamen.employee.profile.name | default('') }}</td>
                    <td>{{ employeeExamen.employee.store.code | default('') }}</td>
                    <td>{% if employeeExamen.aprobado %}Aprobado{% else %}No Aprobado{% endif %}</td>
                    <td>
                        <a href="{{ path('examen_empleado_show', {id: employeeExamen.id }) }}"
                           class="btn">{{ 'Ver' }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ grid_pagination(paginationEPrevios) }}
        </br>
        <h3>Examenes Finales</h3>
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>{{ 'Empleado' }}</th>
                <th>{{ 'Código de Estación' }}</th>
                <th>{{ 'Estado' }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for employeeExamen in paginationEFinales %}
                <tr data-id="{{ employeeExamen.id }}">
                    <td>{{ employeeExamen.employee.profile.name | default('') }}</td>
                    <td>{{ employeeExamen.employee.store.code | default('') }}</td>
                    <td>{% if employeeExamen.aprobado %}Aprobado{% else %}No Aprobado{% endif %}</td>
                    <td>
                        <a href="{{ path('examen_empleado_show', {id: employeeExamen.id }) }}"
                           class="btn">{{ 'Ver' }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </br>
        {{ grid_pagination(paginationEFinales) }}

{#    </div>#}
{% endblock page_content %}