{% extends 'base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Ver ' ~ tipoExamen,
    path: {
        index: {uri: path('lista_resultados_examenes_index', {'id':curso.id})},
    },
    } only %}

{% endblock page_header %}


{% block page_content %}
    <table class="table">
        <tbody>
        <tr>
            <th> Titulo del Curso</th>
            <td>{{ curso.title}}</td>
        </tr>
        <tr>
            <th> Empleado </th>
            <td>{{ employeeExamen.employee.profile.name | default('')}}</td>
        </tr>
        <tr>
            <th>{{ 'Código de Estación' }}</th>
            <td>{{ employeeExamen.employee.store.code | default('')}}</td>
        </tr>
        <tr>
            <th>{{ 'Localidad' }}</th>
            <td>{{ employeeExamen.employee.store.localidad.nombre | default('')}}</td>
        </tr>
        <tr>
            <th>{{ 'Provincia' }}</th>
            <td>{{ employeeExamen.employee.store.localidad.provincia.nombre | default('')}}</td>
        </tr>
        <tr>
            <th>Porcentaje De Aprobación</th>
            <td>{{ employeeExamen.porcentaje | default('0') }}%</td>
        </tr>
        <tr>
            <th>Estado</th>
            <td>{% if employeeExamen.aprobado %}Aprobado{% else %}Reprobado{% endif %}</td>
        </tr>
        {% if tipoExamen != 'Encuesta' %}
            <tr>
                <th>Cantidad de Intentos Disponibles desde este examen</th>
                <td>{{ employeeExamen.examen.cantidadIntentos - employeeExamen.cantIntentos }}</td>
            </tr>
            <tr>
                <th>Reiniciar Contador de Intentos</th>
                <td><a href="{{ path('examen_empleado_reiniciar', {'id':employeeExamen.id}) }}" class="btn">Reiniciar</a></td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}