{% form_theme form with easyadmin_config('design.form_theme') %}
{#{% form_theme form 'jquery.collection.html.twig' %}#}

{% set _entity_config = easyadmin_entity(app.request.query.get('entity')) %}
{% set _entity_id = attribute(entity, _entity_config.primary_key_field_name) %}
{% trans_default_domain _entity_config.translation_domain %}
{% set _trans_parameters = { '%entity_name%': _entity_config.name|trans, '%entity_label%': _entity_config.label|trans, '%entity_id%': _entity_id } %}

{% extends _entity_config.templates.layout %}

{% block body_id 'easyadmin-edit-' ~ _entity_config.name ~ '-' ~ _entity_id %}
{% block body_class 'edit edit-' ~ _entity_config.name|lower %}

{% block content_title %}
{% spaceless %}
    {% set _default_title = 'edit.page_title'|trans(_trans_parameters, 'EasyAdminBundle') %}
    {{ _entity_config.edit.title is defined ? _entity_config.edit.title|trans(_trans_parameters) : _default_title }}
{% endspaceless %}
{% endblock %}

{% block main %}
    {% block entity_form %}
        {{ form(form) }}
    {% endblock entity_form %}

    {% block delete_form %}
        {{ include('@EasyAdmin/default/includes/_delete_form.html.twig', {
            view: 'edit',
            referer: app.request.query.get('referer', ''),
            delete_form: delete_form,
            _translation_domain: _entity_config.translation_domain,
            _trans_parameters: _trans_parameters,
            _entity_config: _entity_config,
        }, with_context = false) }}
    {% endblock delete_form %}
{% endblock %}

{% block body_javascript %}
    {{ parent() }}
{#    <script src="{{ asset('js/jquery.collection.js') }}" type="application/javascript"></script>#}
    <script type="text/javascript">
        // if ($('.talleres-multimedia-collection').length )
        // {
        //     $('.talleres-multimedia-collection').collection({
        //         elements_selector: '> div.form-group ',
        //         drag_drop:         true,
        //         /*drag_drop_options: {
        //             placeholder: 'ui-state-highlight'
        //         },*/
        //         position_field_selector: '.multimedia-position',
        //         name_prefix:   'talleres[multimedias]',
        //         up:             '<a href="#" class="btn btn-default" data-collection="sections" title="Subir 1 posición"><span class="fa fa-arrow-up"></span></a>',
        //         down:           '<a href="#" class="btn btn-default" data-collection="sections" title="Bajar 1 posición"><span class="fa fa-arrow-down"></span></a>',
        //         remove:         '<a href="#" class="btn btn-danger"  data-collection="sections" title="Eliminar Multimedia" onclick="if (!confirm(\'Está seguro que desea eliminar el Multimedia?\')) { event.stopPropagation(); event.preventDefault(); }"><span class="fa fa-trash"></span></a>',
        //         add:            '<a href="#" class="btn btn-primary" data-collection="sections" title="Agregar Multimedia inmediatamente abajo"><span class="fa fa-plus"></span></a>',
        //         prototype_name: '__name__',
        //         allow_add:      true,
        //         allow_remove:   true,
        //         // add_at_the_end: true,
        //     });
        // }
        // if ($('.capacitaciones-multimedia-collection').length ) {
        //     $('.capacitaciones-multimedia-collection').collection({
        //         elements_selector: '> div.form-group ',
        //         drag_drop:         true,
        //         /*drag_drop_options: {
        //             placeholder: 'ui-state-highlight'
        //         },*/
        //         position_field_selector: '.multimedia-position',
        //         name_prefix:    'capacitaciones[multimedias]',
        //         up:             '<a href="#" class="btn btn-default" data-collection="sections" title="Subir 1 posición"><span class="fa fa-arrow-up"></span></a>',
        //         down:           '<a href="#" class="btn btn-default" data-collection="sections" title="Bajar 1 posición"><span class="fa fa-arrow-down"></span></a>',
        //         remove:         '<a href="#" class="btn btn-danger"  data-collection="sections" title="Eliminar Multimedia" onclick="if (!confirm(\'Está seguro que desea eliminar el Multimedia?\')) { event.stopPropagation(); event.preventDefault(); }"><span class="fa fa-trash"></span></a>',
        //         add:            '<a href="#" class="btn btn-primary" data-collection="sections" title="Agregar Multimedia inmediatamente abajo"><span class="fa fa-plus"></span></a>',
        //         prototype_name: '__name__',
        //         allow_add:      true,
        //         allow_remove:   true,
        //         // add_at_the_end: true,
        //     });
        // }
        $(function() {
            $('.edit-form').areYouSure({ 'message': '{{ 'form.are_you_sure'|trans({}, 'EasyAdminBundle')|e('js') }}' });

            $('.form-actions').easyAdminSticky();

            $('a.action-delete').on('click', function(e) {
                e.preventDefault();

                $('#modal-delete').modal({ backdrop: true, keyboard: true })
                    .off('click', '#modal-delete-button')
                    .on('click', '#modal-delete-button', function () {
                        $('#delete-form').trigger('submit');
                    });
            });

            $('.field-collection').on('easyadmin.collection.item-added', function() {
                var $fields = $(this).find('select[data-easyadmin-autocomplete-url]');
                if ($fields.length) {
                    createAutoCompleteFields($fields);
                }
            });
        });
    </script>

    {{ include('@EasyAdmin/default/includes/_select2_widget.html.twig') }}
{% endblock %}
