{% use "@EasyAdmin/form/bootstrap_3_horizontal_layout.html.twig" %}

{% block form_label_class %}
    {% if easyadmin.field.fix_label is defined %}
        {{ easyadmin.field.fix_label }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block form_group_class %}
    {% if easyadmin.field.fix_group is defined %}
        {{ easyadmin.field.fix_group }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}


{% block form_label -%}
    {% spaceless %}
        {% if label is same as(false) %}
            <div class="col-sm-0"></div>
        {% else %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ block('form_label_class'))|trim}) %}
            {{- parent() -}}
        {% endif %}
    {% endspaceless %}
{%- endblock form_label %}


{% block form_row -%}
    {% spaceless %}
        {% set _field_type = easyadmin.field.fieldType|default('default') %}
        <div class="form-group {% if (not compound or force_error|default(false)) and not valid %}has-error{% endif %} field-{{ block_prefixes|slice(-2)|first }}" >
            {{ form_label(form) }}
            <div class="{{ (easyadmin.field.fix_label is defined) ? block('form_group_class') : 'col-sm-10' }}">
                {{ form_widget(form) }}

                {% if _field_type in ['datetime', 'datetime_immutable', 'date', 'date_immutable', 'time', 'time_immutable', 'birthday'] and easyadmin.field.nullable|default(false) %}
                    <div class="nullable-control">
                        <label>
                            <input type="checkbox" {% if data is null %}checked="checked"{% endif %}>
                            {{ 'label.nullable_field'|trans({}, 'EasyAdminBundle')}}
                        </label>
                    </div>
                {% endif %}

                {{ form_errors(form) }}

                {% if easyadmin.field.help|default('') != '' %}
                    <span class="help-block"><i class="fa fa-info-circle"></i> {{ easyadmin.field.help|trans(domain = easyadmin.entity.translation_domain)|raw }}</span>
                {% endif %}
            </div>
        </div>
    {% endspaceless %}
{%- endblock form_row %}

{# EasyAdmin form type #}
{% block easyadmin_widget %}
    {% set _translation_domain = easyadmin.entity.translation_domain %}
    <div class="row">
        {% if easyadmin_form_tabs | length > 0 %}
            <div class="col-xs-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        {% for tab_name, tab_config in easyadmin_form_tabs %}
                            <li class="{% if tab_config.active %}active{% endif %}">
                                <a href="#{{ tab_config['id'] }}" id="{{ tab_config['id'] }}-tab" data-toggle="tab">
                                    {% if tab_config.icon|default(false) %}
                                        <i class="fa fa-{{ tab_config.icon }}"></i>
                                    {% endif %}
                                    {% set labelTxt = tab_config['label']|trans(domain = _translation_domain) %}
                                    {% set labelCnt = '' %}
                                    {% if (isInstanceOf(data, '\\Aper\\PlanCarreraBundle\\Entity\\Module')) %}
                                        {% if tab_config.type_options is defined %}
                                            {% if (tab_config.type_options.counter is defined) and tab_config.type_options.counter and tab_config.type_options.index is defined %}
                                                {% if attribute(data,tab_config.type_options.index) is defined %}
                                                        {% set labelTxt = labelTxt ~ ' (' ~ attribute(data,tab_config.type_options.index)|length ~ ')' %}
                                                    {% else %}
                                                        {% set labelTxt = labelTxt ~ ' (0)' %}
                                                    {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                    {{ labelTxt }}
                                    {% if tab_config.errors > 0 %}
                                        <span class="label label-danger" title="{{ 'form.tab.error_badge_title'|transchoice(tab_config.errors, {}, 'EasyAdminBundle') }}">
                                            {{ tab_config.errors }}
                                        </span>
                                    {% endif %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="tab-content">
                        {% for tab_name, tab_config in easyadmin_form_tabs %}
                            <div id="{{ tab_config['id'] }}" class="tab-pane {% if tab_config.active %}active{% endif %}">
                                <div class="row">
                                    {{ block('easyadmin_widget_groups') }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% else %}
            {{ block('easyadmin_widget_groups') }}
        {% endif %}
    </div>
{% endblock easyadmin_widget %}