{% form_theme form with easyadmin_config('design.form_theme') %}

{% set _entity_config = easyadmin_entity(app.request.query.get('entity')) %}
{% trans_default_domain _entity_config.translation_domain %}
{% set _trans_parameters = { '%entity_name%': _entity_config.name|trans, '%entity_label%': _entity_config.label|trans } %}

{% extends _entity_config.templates.layout %}

{% block body_id 'easyadmin-new-' ~ _entity_config.name %}
{% block body_class 'new new-' ~ _entity_config.name|lower %}

{% block content_title %}
{% spaceless %}
    {% set _default_title = 'new.page_title'|trans(_trans_parameters, 'EasyAdminBundle') %}
    {{ _entity_config.new.title is defined ? _entity_config.new.title|trans(_trans_parameters) : _default_title }}
{% endspaceless %}
{% endblock %}

{% block main %}
    {% block entity_form %}
        {{ form(form) }}
    {% endblock entity_form %}
{% endblock %}

{% block body_javascript %}
    {{ parent() }}
{#    <script src="{{ asset('js/jquery.collection.js') }}"></script>#}
    <script type="text/javascript">
        // if ($('.talleres-multimedia-collection').length )
        // {
        //     $('.talleres-multimedia-collection').collection({
        //         elements_selector: '> div.form-group ',
        //         drag_drop:         true,
        //         /*drag_drop_options: {
        //             placeholder: 'ui-state-highlight'
        //         },*/
        //         position_field_selector: '.multimedia-position',
        //         name_prefix:    'talleres[multimedias]',
        //         up:             '<a href="#" class="btn btn-default" data-collection="sections" title="Subir 1 posición"><span class="fa fa-arrow-up"></span></a>',
        //         down:           '<a href="#" class="btn btn-default" data-collection="sections" title="Bajar 1 posición"><span class="fa fa-arrow-down"></span></a>',
        //         remove:         '<a href="#" class="btn btn-danger" data-collection="sections" title="Eliminar Multimedia" onclick="if  (!confirm(\'Está seguro que desea eliminar el Multimedia?\')) { event.stopPropagation(); event.preventDefault(); }"><span class="fa fa-trash"></span></a>',
        //         add:            '<a href="#" class="btn btn-primary" data-collection="sections" title="Agregar Multimedia inmediatamente abajo"><span class="fa fa-plus"></span></a>',
        //         prototype_name: '__name__',
        //         allow_add:      true,
        //         allow_remove:   true,
        //         add_at_the_end: true,
        //     });
        // }
        // if ($('.capacitaciones-multimedia-collection').length )
        // {
        //     $('.capacitaciones-multimedia-collection').collection({
        //         elements_selector: '> div.form-group ',
        //         drag_drop:         true,
        //         /*drag_drop_options: {
        //             placeholder: 'ui-state-highlight'
        //         },*/
        //         position_field_selector: '.multimedia-position',
        //         name_prefix:    'capacitaciones[multimedias]',
        //         up:             '<a href="#" class="btn btn-default" data-collection="sections" title="Subir 1 posición"><span class="fa fa-arrow-up"></span></a>',
        //         down:           '<a href="#" class="btn btn-default" data-collection="sections" title="Bajar 1 posición"><span class="fa fa-arrow-down"></span></a>',
        //         remove:         '<a href="#" class="btn btn-danger" data-collection="sections" title="Eliminar Multimedia" onclick="if (!confirm(\'Está seguro que desea eliminar el Multimedia?\')) { event.stopPropagation(); event.preventDefault(); }"><span class="fa fa-trash"></span></a>',
        //         add:            '<a href="#" class="btn btn-primary" data-collection="sections" title="Agregar Multimedia inmediatamente abajo"><span class="fa fa-plus"></span></a>',
        //         prototype_name: '__name__',
        //         allow_add:      true,
        //         allow_remove:   true,
        //         add_at_the_end: true,
        //     });
        // }
    </script>
    <script type="text/javascript">
        $(function() {
            $('.new-form').areYouSure({ 'message': '{{ 'form.are_you_sure'|trans({}, 'EasyAdminBundle')|e('js') }}' });

            $('.form-actions').easyAdminSticky();

            $('.field-collection').on('easyadmin.collection.item-added', function() {
                var $fields = $(this).find('select[data-easyadmin-autocomplete-url]');
                if ($fields.length) {
                    createAutoCompleteFields($fields);
                }
            });
        });
    </script>

    {{ include('@EasyAdmin/default/includes/_select2_widget.html.twig') }}
{% endblock %}
