El usuario {{ user.employee.profile.name }} con email {% if changeSet.email is defined %}{{ changeSet.email[1] }} (anteriormente {{ changeSet.email[0] }}){% else %}{{ user.email }}{% endif %} ha modificado sus datos
{{ what }}
<br>
{{ txt }}

<br>

{% if arrays %}
    {% for arrays in arrays %}
        {{ arrays.name }}
        {{ arrays.birthDay|date('d/m/Y') }}
        <br>
    {% endfor %}

{% endif %}

{% if arraye %}
    {% for arraye in arraye %}
        {{ arraye.title }}
        {{ arraye.finishat|date('d/m/Y') }}
        <br>
    {% endfor %}

{% endif %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Puma Energy</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/email.css"/>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        * {
            font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
        }

        img {
            max-width: 100%;
            display: block;
            width: 100%;
        }

        .collapse {
            margin: 0;
            padding: 0;
        }

        body {
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: none;
            width: 100% !important;
            height: 100%;
            color: #3a526f;
        }

        /* -------------------------------------
                ELEMENTS
        ------------------------------------- */
        a {
            color: #b5252e;
        }

        .btn {
            text-decoration: none;
            color: #FFF;
            background-color: #666;
            padding: 10px 16px;
            font-weight: bold;
            margin-right: 10px;
            text-align: center;
            cursor: pointer;
            display: inline-block;
        }

        /* -------------------------------------
                HEADER
        ------------------------------------- */
        table.head-wrap {
            width: 100%;
        }

        .header.container table td.logo {
            padding: 15px;
        }

        .header.container table td.label {
            padding: 15px;
            padding-left: 0px;
        }

        /* -------------------------------------
                BODY
        ------------------------------------- */
        table.body-wrap {
            width: 100%;
            color: #3a526f;
        }

        .content table {
            background-color: #FFFFFF;
        }

        /* -------------------------------------
                FOOTER
        ------------------------------------- */
        table.footer-wrap {
            width: 100%;
            clear: both !important;
        }

        .footer-wrap .container td.content p {
            border-top: 1px solid rgb(215, 215, 215);
            padding-top: 15px;
        }

        .footer-wrap .container td.content p {
            font-size: 10px;
            font-weight: bold;
        }

        /* -------------------------------------
                TYPOGRAPHY
        ------------------------------------- */
        h1, h2, h3, h4, h5, h6 {
            font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            line-height: 1.1;
            margin-bottom: 15px;
            color: #3a526f;
        }

        h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
            font-size: 60%;
            color: #6f6f6f;
            line-height: 0;
            text-transform: none;
        }

        h1 {
            font-weight: 200;
            font-size: 44px;
        }

        h2 {
            font-weight: 200;
            font-size: 37px;
        }

        h3 {
            font-weight: 500;
            font-size: 18px;
        }

        h4 {
            font-weight: 500;
            font-size: 23px;
        }

        h5 {
            font-weight: 900;
            font-size: 17px;
        }

        h6 {
            font-weight: 900;
            font-size: 14px;
            text-transform: uppercase;
            color: #444;
        }

        .collapse {
            margin: 0 !important;
        }

        p {
            color: #3a526f;
        }

        p, ul {
            margin-bottom: 10px;
            font-weight: normal;
            font-size: 14px;
            line-height: 1.6;
        }

        p.lead {
            font-size: 17px;
        }

        p.last {
            margin-bottom: 0px;
        }

        ul li {
            margin-left: 5px;
            list-style-position: inside;
        }

        /* ---------------------------------------------------
                RESPONSIVENESS
                Nuke it from orbit. It's the only way to be sure.
        ------------------------------------------------------ */

        /* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */

        .container {
            display: block !important;
            max-width: 600px !important;
            margin: 0 auto !important; /* makes it centered */
            clear: both !important;
        }

        /* This should also be a block element, so that it will fill 100% of the .container */
        .content {
            padding: 15px;
            max-width: 600px;
            margin: 0 auto;
            display: block;
        }

        /* Let's make sure tables in the content area are 100% wide */
        .content table {
            width: 100%;
        }

        /* Be sure to place a .clear element after each set of columns, just to be safe */
        .clear {
            display: block;
            clear: both;
        }

        /* -------------------------------------------
            PHONE
            For clients that support media queries.
            Nothing fancy.
    -------------------------------------------- */
        @media only screen and (max-width: 600px) {
            a[class="btn"] {
                display: block !important;
                margin-bottom: 10px !important;
                background-image: none !important;
                margin-right: 0 !important;
            }
        }
    </style>
</head>

<body bgcolor="#FFFFFF">
<table class="head-wrap" cellpadding="0" cellspacing="0" align="center" border="0">
    <tr>
        <td></td>
        <td class="header container">
            <div class="content" style="background-color: #FFFFFF;">
                <table>

                </table>
            </div>
        </td>
        <td></td>
    </tr>
</table>
<table class="body-wrap" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" align="center" border="0">
    <tr>
        <td></td>
        <td class="container" bgcolor="#ed1c24">
            <div class="content">
                <table cellpadding="0" cellspacing="0" align="center" border="0">
                    <tr>
                        <td>
                            <img src="https://team.pumaenergyarg.com.ar/dist/images/mails/1.png" style="max-width: 250px; width: 100%;"/>

                            <div style="padding: 25px 15px;">
                                El usuario {{ user.employee.profile.name }} con
                                email {% if changeSet.email is defined %}{{ changeSet.email[1] }} (anteriormente {{ changeSet.email[0] }}){% else %}{{ user.email }}{% endif %}
                                ha modificado sus datos.
                                <br/>
                                {{ what }}
                                <br>
                                {{ txt }} &nbsp; {{ data }}
                                <br>

                                {% if arrays %}
                                    {% for arrays in arrays %}
                                        {{ arrays.name }}
                                        {{ arrays.birthDay|date('d/m/Y') }}
                                        <br>
                                    {% endfor %}
                                {% endif %}

                                {% if arraye %}
                                    {% for arraye in arraye %}
                                        {{ arraye.title }}
                                        {{ arraye.finishat|date('d/m/Y') }}
                                        <br>
                                    {% endfor %}
                                {% endif %}
                            </div>

{#                            <img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('dist/images/mails/welcome/footer.jpg') }}"#}
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td></td>
    </tr>
</table>
{#<table class="footer-wrap">#}
    {#<tr>#}
        {#<td></td>#}
        {#<td class="container">#}
            {#<div class="content">#}
                {#<table>#}
                    {#<tr>#}
                        {#<td align="center">#}
                            {#<p style="font-size: 11px; text-align: center;">Sino deseas recibir más novedades#}
                                {#<a href="" style="color:#3e6596; text-decoration: underline; ">haz clic aquí</a>#}
                            {#</p>#}
                        {#</td>#}
                    {#</tr>#}
                {#</table>#}
            {#</div>#}
        {#</td>#}
        {#<td></td>#}
    {#</tr>#}
{#</table>#}
</body>

</html>
