{% set text = [] %}
 {% if what2 == 'son' %}
     {% set text = [
     'Queremos felicitarte y acompañarte a vos y a toda tu familia en este momento tan especial de la vida.',
     'En breve, nos contactaremos con vos para coordinar la entrega del regalo de bienvenida para el nuevo integrante de la familia.'
     ] %}
 {% elseif what2 == 'sentimental' %}
     {% set text = [
     'Felicidades por este gran paso en sus vidas. Queremos celebrar con vos y tu esposo/a este momento de unión tan especial y por eso, en breve nos contactaremos con vos para coordinar la entrega de tu regalo de casamiento.'
     ] %}
 {% elseif what2 == 'education' %}
     {% set text = [
     'Estamos orgullosos de vos y por eso queremos felicitarte por este logro en tu vida personal. ¡Vamos por todo!',
     'En breve, nos contactaremos con vos para coordinar la entrega del regalo que tenemos preparado especialmente para esta ocasión.',
     ] %}
 {% endif %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Simples-Minimalistic Responsive Template</title>

    <style type="text/css">
        img {
            outline: none;
            text-decoration: none;
            border: none;
            -ms-interpolation-mode: bicubic;
        }

        a img {
            border: none;
        }

        p {
            margin: 0px 0px !important;
        }

        table td {
            border-collapse: collapse;
        }

        table {
            border-collapse: collapse;
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }

        a {
            color: white;
            text-decoration: none;
            text-decoration: none !important;
        }

        .imgpop p, .imgpop a {
            color: white;
            font-weight: bolder;
        }

        /*STYLES*/
        table[class=full] {
            width: 100%;
            clear: both;
        }

        /*IPAD STYLES*/
        @media only screen and (max-width: 640px) {
            a[href^="tel"], a[href^="sms"] {
                text-decoration: none;
                color: #0a8cce; /* or whatever your want */
                pointer-events: none;
                cursor: default;
            }

            table[class=devicewidth] {
                width: 440px !important;
                text-align: center !important;
            }

            table[class=devicewidthinner] {
                width: 420px !important;
                text-align: center !important;
            }

            img[class=banner] {
                width: 440px !important;
                height: 220px !important;
            }

            img[class=colimg2] {
                width: 440px !important;
                height: 220px !important;
            }

        }

        /*IPHONE STYLES*/
        @media only screen and (max-width: 480px) {
            a[href^="tel"], a[href^="sms"] {
                text-decoration: none;
                color: #0a8cce; /* or whatever your want */
                pointer-events: none;
                cursor: default;
            }

            table[class=devicewidth] {
                width: 280px !important;
                text-align: center !important;
            }

            table[class=devicewidthinner] {
                width: 250px !important;
                text-align: center !important;
            }

            img[class=banner] {
                width: 280px !important;
                height: 140px !important;
            }

            img[class=colimg2] {
                width: 280px !important;
                height: 140px !important;
            }

            td[class=mobile-hide] {
                display: none !important;
            }

            td[class="padding-bottom25"] {
                padding-bottom: 25px !important;
            }

        }
    </style>
</head>
<body style="width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;">
<!-- Start of preheader -->
<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="backgroundTable"
       st-sortable="preheader" style="margin:0; padding:0; width:100% !important; line-height: 100% !important;">
    <tbody>
    <tr>
        <td>
            <table width="980" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                <tbody>
                <tr>
                    <td width="100%">
                        <table width="980" cellpadding="0" cellspacing="0" border="0" align="center"
                               class="devicewidth">
                            <tbody>
                            <!-- Spacing -->
                            <tr>
                                <td width="100%" height="10"></td>
                            </tr>
                            <!-- Spacing -->
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<!-- End of preheader -->
<!-- Start of seperator -->
<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="backgroundTable"
       style="margin:0; padding:0; width:100% !important; line-height: 100% !important;" st-sortable="seperator">
    <tbody>
    <tr>
        <td>
            <table width="980" align="center" cellspacing="0" cellpadding="0" border="0" class="devicewidth">
                <tbody>
                <tr>
                    <td bgcolor="#ed1c24" align="center" height="20" style="font-size:1px; line-height:1px;">&nbsp;</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<!-- End of seperator -->
<!-- Start of header -->
<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="backgroundTable"
       style="margin:0; padding:0; width:100% !important; line-height: 100% !important;" st-sortable="header">
    <tbody>
    <tr>
        <td>
            <table width="980" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                <tbody>
                <tr>
                    <td width="100%">
                        <table width="980" cellpadding="0" cellspacing="0" border="0" align="center"
                               class="devicewidth">
                            <tbody>
                            <tr>

                                <td>
                                    <!-- header -->
                                    <table bgcolor="#ed1c24" width="980" align="center" border="0" cellpadding="0"
                                           cellspacing="0" class="devicewidth">
                                        <tbody>
                                        <tr>

                                            <td align="center">
                                                <div class="imgpop">

                                                        <img src="https://team.pumaenergyarg.com.ar/dist/images/mails/1.png"
                                                             border="0"
                                                             style="display: block; max-width: 300px; width: 100%; border: none;"
                                                             alt="Puma energy" />

                                                </div>
                                            </td>


                                        </tr>
                                        </tbody>
                                    </table>
                                    <!-- end of header -->
                                </td>

                            </tr>

                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<!-- End of Header -->

<!-- Start Full Text -->
<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="backgroundTable"
       style="margin:0; padding:0; width:100% !important; line-height: 100% !important;" st-sortable="full-text">
    <tbody>
    <tr>
        <td>
            <table width="980" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                <tbody>
                <tr>
                    <td width="100%">
                        <table width="980" cellpadding="0" cellspacing="0" border="0" align="center"
                               class="devicewidth">
                            <tbody>
                            <tr>
                                <td width="15px" bgcolor="#ed1c24" height="100%">
                                </td>
                                <td>
                                    <table bgcolor="#FFFFFF" width="570" align="center" cellpadding="0" cellspacing="0"
                                           border="0" class="devicewidthinner">
                                        <tbody>
                                        <!-- Content -->
                                        <tr>
                                            <td width="20px">&nbsp;</td>

                                            <td style="font-family: Helvetica, arial, sans-serif; font-size: 30px; color: #333333; text-align:left; line-height: 30px;"
                                                st-title="fulltext-heading">
                                                <h3 style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; line-height: 1.1; margin-bottom: 15px; margin-top: 25px; color: #3a526f; font-weight: 400; font-size: 18px;">
                                                    Hola <span
                                                            style="text-transform: capitalize;font-weight: normal">{{ user.employee.profile.name|title|replace({',': ''}) }}</span>
                                                </h3>
                                                {% for p in text %}
                                                    <p style="color: #3a526f; margin-bottom: 10px; font-weight: normal; font-size: 14px; line-height: 1.6;">{{ p }}</p>
                                                {% endfor %}
                                                <p style="color: #3a526f; margin-bottom: 10px; font-weight: normal; font-size: 14px; line-height: 1.6;">
                                                    Nuevamente, FELICIDADES!!</p>
                                            </td>
                                            <td width="20px">&nbsp;</td>

                                        </tr>
                                        <!-- End of Content -->
                                        </tbody>
                                    </table>
                                </td>
                                <td width="15px" bgcolor="#ed1c24" height="100%" align="right">
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<!-- end of full text -->
<!-- Start of footer -->
<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="backgroundTable"
       st-sortable="footer" style="margin:0; padding:0; width:100% !important; line-height: 100% !important;">
    <tbody>
    <tr>
        <td>
            <table width="980" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                <tbody>
                <tr>
                    <td width="100%">
                        <table bgcolor="ed1c24" width="980" cellpadding="0" cellspacing="0" border="0" align="center"
                               class="devicewidth">
                            <tbody>
                            <tr>
                                <td>
                                    <!-- footer -->
                                    <table bgcolor="#FFFFFF" width="980" align="center" border="0" cellpadding="0"
                                           cellspacing="0" class="devicewidth">
                                        <tbody>
                                        <tr>
                                            <td width="15px" bgcolor="#ed1c24" height="100%"></td>
                                            <td align="center"bgcolor="#ed1c24" height="100%">
                                                <div class="imgpop footer"
                                                    style="min-height: 50px;
                                                    color: white;
                                                    margin: 20px auto;">
                                                    <p style="font-family: Helvetica, arial, sans-serif; color: white; font-weight: bolder; font-size: 20px; text-align: center;">www.pumaenergyarg.com.ar</p>
                                                </div>
                                            </td>
                                            <td width="15px" bgcolor="#ed1c24" height="100%"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!-- end of footer -->
                                </td>
                            </tr>
                            <!-- Spacing -->
                            <tr>
                                <td height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">
                                    &nbsp;
                                </td>
                            </tr>
                            <!-- Spacing -->
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<!-- End of footer -->
</body>
</html>


