{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'page_header.aper.news.list.title'|trans,
    path: {
    new: {uri: path('aper_news_new')},
    },
    } only %}
{% endblock page_header %}


{% block page_content %}
    <div class="table-responsiv5568e">



        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th{% if pagination.isSorted('news.title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name'|trans, 'Benefit.name') }}</th>
                <th>Categoría</th>
                <th>Contenido de la Nota</th>
                <th>Estado</th>
                <th>{{ 'Roles allowed'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for news in pagination %}
                <tr data-id="{{ news.id }}">
                    <td>{{ news.title }}</td>
                    <td>{{ news.category|trans }}</td>
                    <td>{{ news.content|raw }}</td>
                    <td>{% if news.active == 1 %}
                            <b>   <span class="text-success">Activa</span></b>
                        {% elseif news.active == 0 %}
                            <b> <span class="text-danger">Inactiva</span> </b>
                        {% endif %}</td>
                    <td>
                        <ul class="list-unstyled">
                            {% for role in news.rolesAllowed %}
                                {%  if role != 'ROLE_ADMIN' %}
                                <li>{{ role|trans }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <a href="{{ path('aper_news_show', {id: news.id }) }}" class="btn"
                           onclick="">{{ 'actions.show.label'|trans }}</a>
                        <a href="{{ path('aper_news_edit', {id: news.id }) }}"
                           class="btn">{{ 'actions.edit.label'|trans }}</a>
                        <a href="{{ path('aper_news_delete', {id: news.id }) }}"
                           class="btn btn btn-danger btn-delete"
                           onclick="return confirm('{{ 'Desea eliminar la comunicación?' }}')">{{ 'actions.delete.label'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <br>

        {{ grid_pagination(pagination) }}

    </div>
{% endblock page_content %}