{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'page_header.aper.new.new.title'|trans,
    path: {
    index: {uri: path('aper_news_index')},
    },
    } only %}
{% endblock page_header %}


{% block page_content %}
    {{ form(form) }}

{% endblock %}

{% block head_style %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/apernews/css/jquery.tagit.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/apernews/css/tagit.ui-zendesk.css') }}" />
{% endblock %}

{% block body_scripts_optional %}
    <script src="{{ asset('bundles/mopabootstrap/js/mopabootstrap-collection.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/apernews/js/tag-it.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/apernews/js/keyword-form.js') }}"></script>
{% endblock %}

