{% extends 'base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'page_header.aper.news.show.title'|trans,
    path: {
    index: {uri: path('aper_news_index')},
    edit: {uri: path('aper_news_edit', {'id': news.id})},
    delete: {uri: path('aper_news_delete', {'id': news.id})},
    },

    } only %}
{% endblock page_header %}


{% block page_content %}
    <table class="table">
        <tbody>
        <tr>
            <th> Titulo </th>
            <td>{{ news.title}}</td>
        </tr>
        <tr>
            <th> Contenido </th>
            <td>{{ news.content|raw }}</td>
        </tr>
        <tr>
            <th>{{ 'Category'|trans }}</th>
            <td>{{ news.category|trans }}</td>
        </tr>
        <tr>
            <th>{{ 'Roles allowed'|trans }}</th>
            <td>
                <ul class="list-unstyled">
                    {% for role in news.rolesAllowed %}
                        <li>{{ role|trans }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>

        <tr>
            <th>{{ 'Tags'|trans }}</th>
            <td>
                <ul class="list-unstyled">
                    {% for tag in news.tags %}
                        <li>{{ tag.name}}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>


        <tr>
            <th>Activo</th>
            <td>{% if news.active %}{{ 'Yes'|trans }}{% else %}{{ 'No'|trans }}{% endif %}</td>
        </tr>
        <tr>
            <th>Destacado</th>
            <td>{% if news.highlighted %}{{ 'Yes'|trans }}{% else %}{{ 'No'|trans }}{% endif %}</td>
        </tr>
        <tr>

            <th> Imágen principal </th>
       {% if news.mainimage %}
            <td>  <img src=" {{ asset(news.mainimage.webPath) }}" height="200"/>   </td>
        {% endif %}
           </tr>

        <tr>
            <th> Galería </th>

            <td>
                {% for galeria in news.gallery %}
                <img src=" {{ asset(galeria.webPath) }}" height="200"/>
                {% endfor %}
            </td>
        </tr>

        </tbody>
    </table>
{% endblock %}