{# REQUERIMIENTOS DEL PLAN #}
{% verbatim %}

<div :id="'the-loader-employee-fuller-requi' + trainer_employees.id" class="the-loader the-loader5"></div>

<div class="extra-content extra-content-current-plan-line extra-content-current-plan-line-bg">
    <div class="col-md-12">
        <h1>Plan {{ trainer_employees.employeeCurrentPlan.plan.title }} <strong>[Requerimientos]</strong></h1>
        <button type="button" class="close_admin_plan">&times;</button>
    </div>
</div>

<div class="extra-content extra-content-with-image flexbox-container extra-content-general-line">

    <div v-for="(trainer_emp_requeriments, index) in trainer_employees.employeeCurrentPlan.requirements"
            :id="'the_req_box_' + trainer_emp_requeriments.requirement.id"
            class="row-liner-white flexbox-content listed">

        <div class="col-md-12 no-padding-left no-padding-right">
            <div class="col-md-4 sky-color no-padding-left no-padding-right">
                <div class="col-md-12 white-border flexbox-columns">
                    <h3>
                        <i class="fa fa-play-circle-o"></i> <strong>{{ trainer_emp_requeriments.requirement.description }}:</strong>
                    </h3>
                </div>
            </div>
            <div class="col-md-8 sky-color no-padding-left no-padding-right">
                <div class="col-md-12 no-padding-right no-padding-left flexbox-columns">
                    <div class="col-md-1 white-border sky-color text-center"></div>
                    <div class="col-md-3 white-border sky-color text-center">
                        <div class="col-md-12 flexbox-columns sky-color text-center zona-btn-confirmar">
                            <span v-if="(trainer_emp_requeriments.enabled == false && trainer_emp_requeriments.approved == false)"
                                class="dib text-center text-data text-gris icon-image-lock">
                                Inactivo
                            </span>
                            <span v-if="(trainer_emp_requeriments.enabled == true && trainer_emp_requeriments.approved == false)"
                                class="dib text-center text-data text-dark icon-image-play">
                                Activado
                            </span>
                            <span v-if="(trainer_emp_requeriments.enabled == true && trainer_emp_requeriments.approved == true)"
                                class="dib text-center text-data text-lila icon-image-check">
                                Aprobado
                            </span>
                        </div>
                    </div>
                    <div class="col-md-1 white-border sky-color text-center"></div>
                    <div class="col-md-6 white-border sky-color text-center no-padding-left no-padding-right">
                        <div class="trainer-bloqueador">
                            No puedes realizar ninguna acción en esta sección.
                        </div>
                        <div class="col-md-6 white-border flexbox-columns sky-color text-center">
                            <div class="col-md-12 flexbox-columns sky-color text-center zona-btn-confirmar">
                                <a v-if="(trainer_emp_requeriments.enabled == false && trainer_emp_requeriments.approved == false)"
                                   v-on:click="doAction(trainer_employees.id, a_requirement, trainer_emp_requeriments.requirement.id, trainer_employees.id, a_activate, trainer_employees.employeeCurrentPlan.enabled)"
                                    class="dib text-center btn-confirmar">
                                    Activar
                                </a>
                                <a v-if="(trainer_emp_requeriments.enabled == true && trainer_emp_requeriments.approved == false)"
                                   v-on:click="doAction(trainer_employees.id, a_requirement, trainer_emp_requeriments.requirement.id, trainer_employees.id, a_deactivate, trainer_employees.employeeCurrentPlan.enabled)"
                                    class="dib text-center btn-confirmar">
                                    Desactivar
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 white-border flexbox-columns sky-color text-center">
                            <div class="col-md-12 flexbox-columns sky-color text-center zona-btn-confirmar">
                                <a v-if="(trainer_emp_requeriments.enabled == true && trainer_emp_requeriments.approved == false)"
                                   v-on:click="doAction(trainer_employees.id, a_requirement, trainer_emp_requeriments.requirement.id, trainer_employees.id, a_approve, trainer_employees.employeeCurrentPlan.enabled)"
                                    class="dib text-center btn-confirmar">
                                    Aprobar
                                </a>
                                <a v-if="(trainer_emp_requeriments.enabled == true && trainer_emp_requeriments.approved == true)"
                                   v-on:click="doAction(trainer_employees.id, a_requirement, trainer_emp_requeriments.requirement.id, trainer_employees.id, a_disapprove, trainer_employees.employeeCurrentPlan.enabled)"
                                    class="dib text-center btn-confirmar">
                                    Desaprobar
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>

<div class="extra-content extra-content-current-plan-line extra-content-current-plan-line-bg">
    <div class="col-md-12">
    </div>
</div>

<div class="extra-content-form-comment">
</div>
{% endverbatim %}