{# NOMBRE DEL MODULO  #}
{% verbatim %}
<div class="eachModuleF" v-for="(plan_modules, index) in trainer_employees.employeeCurrentPlan.modules"
        :id="'employee_module_box_' + trainer_employees.id + '_id_' + plan_modules.module.id">

    <!--{# BLOQUE LOADER #}-->
    <div :id="'the-loader-employee-fuller-' + trainer_employees.id + '-' + plan_modules.module.id" class="the-loader the-loader5"></div>

    <!--{# BLOQUE DE MODULE #}-->
    <div class="extra-content extra-content-current-plan-line extra-content-current-plan-line-bg">
        <div class="col-md-12">
            <h1>Plan {{ trainer_employees.employeeCurrentPlan.plan.title }} <br/> {{ plan_modules.module.title }} <strong>[Modulo]</strong></h1>
            <button type="button" class="close_admin_plan">&times;</button>
        </div>
    </div>
    <div class="extra-content extra-content-with-image flexbox-container extra-content-general-line" v-if="(trainer_employees.employeeCurrentPlan.plan.id)">

        <div class="row-liner-white flexbox-content listed">

            <div class="col-md-12 no-padding-left no-padding-right">
                <div class="col-md-4 sky-color no-padding-left no-padding-right">
                    <div class="col-md-12 white-border flexbox-columns">
                        <h3>
                            <i class="fa fa-play-circle-o"></i> <strong>Modulo {{ plan_modules.module.title }}: </strong>
                        </h3>
                    </div>
                </div>
                <div class="col-md-8 sky-color no-padding-left no-padding-right">
                    <div class="col-md-12 no-padding-right no-padding-left flexbox-columns">
                        <div class="col-md-1 white-border sky-color text-center"></div>
                        <div class="col-md-3 white-border sky-color text-center">
                            <div class="col-md-12 flexbox-columns sky-color text-center zona-btn-confirmar">
                                <span v-if="((plan_modules.approved == false && plan_modules.enabled == true))"
                                    class="dib text-center text-data text-dark icon-image-play">
                                    Activado
                                </span>
                                <span v-if="(plan_modules.approved == false && plan_modules.enabled == false)"
                                    class="dib text-center text-data text-gris icon-image-lock">
                                    Inactivo
                                </span>
                                <span v-if="(plan_modules.approved == true && plan_modules.enabled == true)"
                                    class="dib text-center text-data text-lila icon-image-check">
                                    Aprobado
                                </span>
                            </div>
                        </div>
                        <div class="col-md-1 white-border sky-color text-center"></div>
                        <div class="col-md-6 white-border sky-color text-center no-padding-left no-padding-right">
                            <div class="col-md-6 white-border flexbox-columns sky-color text-center">
                                <div class="col-md-12 flexbox-columns sky-color text-center zona-btn-confirmar">
                                    <a v-if="(plan_modules.enabled == false && plan_modules.approved == false )"
                                       v-on:click="doAction(trainer_employees.id, a_module , plan_modules.module.id, trainer_employees.id, a_activate, trainer_employees.employeeCurrentPlan.enabled, plan_modules.module.id)"
                                       class="dib text-center btn-confirmar">
                                       Activar
                                    </a>
                                    <a v-if="(plan_modules.enabled == true && plan_modules.approved == false )"
                                       v-on:click="doAction(trainer_employees.id, a_module , plan_modules.module.id, trainer_employees.id, a_deactivate, trainer_employees.employeeCurrentPlan.enabled, plan_modules.module.id)"
                                       class="dib text-center btn-confirmar">
                                       Desactivar
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6 white-border flexbox-columns sky-color text-center">
                                <div class="col-md-12 flexbox-columns sky-color text-center zona-btn-confirmar">
                                    <a v-if="(plan_modules.approved == false && plan_modules.enabled == true)"
                                        v-on:click="doAction(trainer_employees.id, a_module , plan_modules.module.id, trainer_employees.id, a_approve, trainer_employees.employeeCurrentPlan.enabled, plan_modules.module.id)"
                                       class="dib text-center btn-confirmar">
                                       Aprobar
                                    </a>
                                    <a v-if="(plan_modules.approved == true && plan_modules.enabled == true)"
                                         v-on:click="doAction(trainer_employees.id, a_module , plan_modules.module.id, trainer_employees.id, a_disapprove, trainer_employees.employeeCurrentPlan.enabled, plan_modules.module.id)"
                                       class="dib text-center btn-confirmar">
                                       Desaprobar
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

    <!--{# BLOQUE DEL TALLERES #}-->
    <div v-if="((plan_modules.external_trainings != 'null') && (plan_modules.module.type == 'workshop'))"
        class="extra-content extra-content-current-plan-line extra-content-current-plan-line-bg">
        <div class="col-md-12">
            <h2>Talleres y cursos presenciales:</h2>
        </div>
    </div>

    <div v-for="(plan_modules_external_trainings, index) in plan_modules.external_trainings"
         v-if="((plan_modules.external_trainings != 'null') && (plan_modules.module.type == 'workshop'))">

        <div class="extra-content extra-content-with-image flexbox-container extra-content-general-line">

            <div class="row-liner-white flexbox-content listed">

                <div class="col-md-12 no-padding-left no-padding-right">
                    <div class="col-md-4 sky-color no-padding-left no-padding-right">
                        <div class="col-md-12 white-border flexbox-columns">
                            <h3>
                                <i class="fa fa-play-circle-o"></i> <strong>{{ plan_modules_external_trainings.name }}:</strong>
                            </h3>
                        </div>
                    </div>
                    <div class="col-md-8 sky-color no-padding-left no-padding-right">
                        <div class="col-md-12 no-padding-right no-padding-left flexbox-columns">
                            <div class="col-md-1 white-border sky-color text-center"></div>
                            <div class="col-md-3 white-border sky-color text-center">
                                <div class="col-md-12 flexbox-columns sky-color text-center zona-btn-confirmar"
                                    v-for="(trainings_inscriptions, index) in plan_modules_external_trainings.inscriptions">
                                    <span v-if="(trainings_inscriptions.id)"
                                        class="dib text-center text-data text-dark icon-image-play">
                                        Suscripto
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-1 white-border sky-color text-center"></div>
                            <div class="col-md-6 white-border sky-color text-center no-padding-left no-padding-right">
                                <div class="col-md-6 white-border flexbox-columns sky-color text-center">
                                    <div class="col-md-12 flexbox-columns sky-color text-center zona-btn-confirmar">
                                    </div>
                                </div>
                                <div class="col-md-6 white-border flexbox-columns sky-color text-center">
                                    <div class="col-md-12 flexbox-columns sky-color text-center zona-btn-confirmar">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="text-info-extra">
                        <p>
                            Hora y día del curso: {{ plan_modules_external_trainings.date | moment }} <br/>
                            Lugar donde se realizara el taller es el {{ plan_modules_external_trainings.place }}, el mismo tendra una duracion de {{ plan_modules_external_trainings.duration }}.<br/>
                            El curso tiene un total de {{ plan_modules_external_trainings.quota }} cupos.<br/>
                            <span v-if="(plan_modules_external_trainings.trainer)">El TRAINER responsable del curso es {{ plan_modules_external_trainings.trainer.name }}.</span>
                            <span v-if="(plan_modules_external_trainings.expositor)">El curso sera dictado por {{ plan_modules_external_trainings.expositor }}.</span>
                        </p>
                    </div>

                    <div class="text-info-extra"
                        v-for="(trainings_inscriptions, index) in plan_modules_external_trainings.inscriptions">
                        <p> Asistencia:
                            <span v-if="(trainings_inscriptions.assists == true)">
                                Si
                            </span>
                            <span v-if="(trainings_inscriptions.assists == false)">
                                No
                            </span>
                        </p>
                         <p> Aprobación:
                            <span v-if="(trainings_inscriptions.approved == true)">
                                Si
                            </span>
                            <span v-if="(trainings_inscriptions.approved == false)">
                                No
                            </span>
                        </p>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!--{# BLOQUE DEL EXAMEN #}-->
    <div v-if="plan_modules.module.exam"
        class="extra-content extra-content-current-plan-line extra-content-current-plan-line-bg">
        <div class="col-md-12">
            <h2>Examenes:</h2>
        </div>
    </div>
    <div v-if="plan_modules.module.exam"
        class="extra-content extra-content-with-image flexbox-container extra-content-general-line">

        <div class="extra-content extra-content-with-image flexbox-container extra-content-general-line">

            <div class="row-liner-white flexbox-content listed">

                <div class="col-md-12 no-padding-left no-padding-right">
                    <div class="col-md-4 sky-color no-padding-left no-padding-right">
                        <div class="col-md-12 white-border flexbox-columns">
                            <h3>
                                <i class="fa fa-play-circle-o"></i> <strong>Examen de {{ plan_modules.module.title }}:</strong>
                            </h3>
                        </div>
                    </div>
                    <div class="col-md-8 sky-color no-padding-left no-padding-right">
                        <div class="col-md-12 no-padding-right no-padding-left flexbox-columns">
                            <div class="col-md-1 white-border sky-color text-center"></div>
                            <div class="col-md-3 white-border sky-color text-center">
                                <div class="col-md-12 flexbox-columns sky-color text-center zona-btn-confirmar">
                                    <span v-if="(plan_modules.examPermission == false || plan_modules.examPermission.enabled == false)"
                                        class="dib text-center text-data text-gris icon-image-lock">
                                        Inactivo
                                    </span>
                                    <span v-if="(plan_modules.examPermission.enabled == true)"
                                        class="dib text-center text-data text-dark icon-image-play">
                                        Activado
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-1 white-border sky-color text-center"></div>
                            <div v-if="plan_modules.module.presencial_exam != true" class="col-md-6 white-border sky-color text-center no-padding-left no-padding-right">
                                <div class="col-md-6 white-border flexbox-columns sky-color text-center">
                                    <div class="col-md-12 flexbox-columns sky-color text-center zona-btn-confirmar">
                                        <a v-if="(plan_modules.examPermission == false || plan_modules.examPermission.enabled == false)"
                                            v-on:click="doAction(trainer_employees.id, a_exam , plan_modules.module.exam.id, trainer_employees.id, a_activate, trainer_employees.employeeCurrentPlan.enabled, plan_modules.module.id)"
                                           class="dib text-center btn-confirmar">
                                           Activar
                                        </a>
                                        <a v-if="(plan_modules.examPermission.enabled == true)"
                                             v-on:click="doAction(trainer_employees.id, a_exam , plan_modules.module.exam.id, trainer_employees.id, a_deactivate, trainer_employees.employeeCurrentPlan.enabled, plan_modules.module.id)"
                                           class="dib text-center btn-confirmar">
                                           Desactivar
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6 white-border flexbox-columns sky-color text-center">
                                    <div class="col-md-12 flexbox-columns sky-color text-center zona-btn-confirmar">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-12">

                    <div class="text-info-extra" v-if="(plan_modules.examPermission.enabled == true)">
                        <p>Estado actual del examén:
                            <span class="text-uppercase" v-if="(plan_modules.examPermission.next_step == 'none')">
                                No ha iniciado examen
                            </span>
                            <span class="text-uppercase" v-if="(plan_modules.examPermission.next_step == 'completed')">
                                Aprobado
                            </span>
                            <span class="text-uppercase" v-if="(plan_modules.examPermission.next_step == 'continue')">
                                Pendiente
                            </span>
                            <span class="text-uppercase" v-if="(plan_modules.examPermission.next_step == 'finish')">
                                Finalizado
                            </span>
                            <span class="text-uppercase" v-if="(plan_modules.examPermission.next_step == 'forbidden')">
                                Agoto intentos
                            </span>
                            <span class="text-uppercase" v-if="(plan_modules.examPermission.next_step == 'workshop')">
                                Se evaluará en Taller de Nivelación
                            </span>
                            <span class="text-uppercase" v-if="(plan_modules.examPermission.next_step == 'wait')">
                                En espera
                            </span>
                            <span class="text-uppercase" v-if="(plan_modules.examPermission.next_step == 'start')">
                                No ha iniciado examen
                            </span>
                        </p>
                    </div>

                    <div class="text-info-extra" v-if="(plan_modules.examPermission.enabled == true)">
                        <p>El número de veces que realizo el examen es de:
                            <span v-if="(plan_modules.examPermission.employee_exams)">
                                 {{ plan_modules.examPermission.employee_exams.length }}
                            </span> intento/s
                        </p>
                    </div>

                </div>



            </div>

            <div class="row-liner-white flexbox-content listed" v-if="((plan_modules.examPermission.next_step != 'none') && (plan_modules.examPermission.next_step != 'start') && (plan_modules.module.presencial_exam != true) && (plan_modules.examPermission.next_step))">

                <div class="col-md-6 sky-color no-padding-left no-padding-right">
                    <div class="col-md-12 white-border flexbox-columns">
                    </div>
                </div>
                <div class="col-md-6 grey-color no-padding-left no-padding-right">
                    <div class="col-md-12 no-padding-right no-padding-left flexbox-columns">
                        <div class="col-md-12 white-border flexbox-columns sky-color text-center">
                            <div class="col-md-12 flexbox-columns sky-color text-center zona-btn-confirmar">
                                <a v-if="((plan_modules.examPermission.next_step != 'none') && (plan_modules.examPermission.next_step != 'start') && (plan_modules.examPermission.next_step))"
                                    data-toggle="modal" :data-target="'#myModalEmployeeExam_' + trainer_employees.id + '_id_' + plan_modules.module.id"
                                    class="dib text-center btn-confirmar">
                                    <i class="fa fa-search-plus"></i> VER Información del EXAMEN
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>


    </div>

    <!--{# BLOQUE DE ENCUESTA #}-->
    <div v-if="((plan_modules.module.poll))"
            class="extra-content extra-content-current-plan-line extra-content-current-plan-line-bg">
        <div class="col-md-12">
            <h2>Encuesta:</h2>
        </div>
    </div>
    <div v-if="((plan_modules.module.poll))"
            class="extra-content extra-content-with-image flexbox-container extra-content-general-line">

             <div v-if="plan_modules.module.poll" class="extra-content extra-content-with-image flexbox-container extra-content-general-line">

                <div class="row-liner-white flexbox-content listed">

                    <div class="col-md-12 no-padding-left no-padding-right">
                        <div class="col-md-4 sky-color no-padding-left no-padding-right">
                            <div class="col-md-12 white-border flexbox-columns">
                                <h3>
                                    <i class="fa fa-play-circle-o"></i> <strong>Encuesta de {{ plan_modules.module.title }}:</strong>
                                </h3>
                            </div>
                        </div>
                        <div class="col-md-8 sky-color no-padding-left no-padding-right">
                        <div class="col-md-12 no-padding-right no-padding-left flexbox-columns">
                            <div class="col-md-1 white-border sky-color text-center"></div>
                            <div class="col-md-3 white-border sky-color text-center">
                                <div class="col-md-12 flexbox-columns sky-color text-center zona-btn-confirmar">
                                    <span v-if="(plan_modules.pollPermission == false)"
                                        class="dib text-center text-data text-gris icon-image-lock">
                                        Inactivo
                                    </span>
                                    <span v-if="(plan_modules.pollPermission != false)"
                                        class="dib text-center text-data text-dark icon-image-play">
                                        Activado
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-1 white-border sky-color text-center"></div>
                            <div class="col-md-6 white-border sky-color text-center no-padding-left no-padding-right">
                                <div class="col-md-6 white-border flexbox-columns sky-color text-center">
                                    <div class="col-md-12 flexbox-columns sky-color text-center zona-btn-confirmar">
                                        <a v-if="(plan_modules.pollPermission.enabled != true)"
                                           v-on:click="doAction(trainer_employees.id, a_poll , plan_modules.module.poll.id, trainer_employees.id, a_activate, trainer_employees.employeeCurrentPlan.enabled, plan_modules.module.id)"
                                           class="dib text-center btn-confirmar">
                                           Activar
                                        </a>
                                        <a v-if="(plan_modules.pollPermission.enabled == true)"
                                            v-on:click="doAction(trainer_employees.id, a_poll , plan_modules.module.poll.id, trainer_employees.id, a_deactivate, trainer_employees.employeeCurrentPlan.enabled, plan_modules.module.id)"
                                           class="dib text-center btn-confirmar">
                                           Desactivar
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6 white-border flexbox-columns sky-color text-center">
                                    <div class="col-md-12 flexbox-columns sky-color text-center zona-btn-confirmar">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    </div>

                    <div class="col-md-12" v-if="(plan_modules.pollPermission.next_step)">
                        <div class="text-info-extra">
                                <p v-if="(plan_modules.pollPermission.next_step == 'none')">
                                    El estado actual de la encuesta es <span class="text-uppercase">Deshabilitada</span>.
                                </p>
                                <p v-if="(plan_modules.pollPermission.next_step == 'finish')">
                                    El estado actual de la encuesta es <span class="text-uppercase">Finalizada</span>.
                                </p>
                                <p v-if="(plan_modules.pollPermission.next_step == 'start')">
                                    El estado actual de la encuesta es <span class="text-uppercase">Pendiente</span> de realizar.
                                </p>
                        </div>
                    </div>

                </div>

            </div>


    </div>

    <!--{# BLOQUE DE COMMENT #}-->
    <div class="a-general-box-comment" v-if="(plan_modules.enabled == true)">
        <div class="extra-content extra-content-current-plan-line extra-content-current-plan-line-bg">
            <div class="col-md-12">
                <h2>Comentario:</h2>
            </div>
        </div>
        <div class="extra-content extra-content-with-image flexbox-container extra-content-general-line">

            <div class="row-liner-white flexbox-content listed no-padding">

                <div class="col-md-12 sky-color no-padding-left no-padding-right">
                    <div v-if="(plan_modules.comment.text)" class="col-md-12 white-border flexbox-columns zone-comment">
                        <h1><strong>{{ plan_modules.comment.author }} ({{ plan_modules.comment.role }})</strong></h1>
                        <p>
                            "{{ plan_modules.comment.text }}"
                        </p>
                    </div>
                    <div v-if="(!(plan_modules.comment.text))" class="col-md-12 white-border flexbox-columns zone-comment">
                        <p class="pato10">
                            No hay ningún comentario publicado.
                        </p>
                    </div>
                </div>

            </div>

        </div>
        <div class="row-liner-white flexbox-content listed">

            <div class="col-md-6 sky-color no-padding-left no-padding-right">
                <div class="col-md-12 white-border flexbox-columns">
                </div>
            </div>
            <div class="col-md-6 grey-color no-padding-left no-padding-right">
                <div class="col-md-12 no-padding-right no-padding-left flexbox-columns">
                    <div class="col-md-12 white-border flexbox-columns sky-color text-center">
                        <div class="col-md-12 flexbox-columns sky-color text-center zona-btn-confirmar">
                            <a class="dib text-center btn-confirmar" data-toggle="modal" :data-target="'#myModalEmployeeComment_' + trainer_employees.id + '_id_' + plan_modules.module.id"
                               title="Publicar un nuevo comentario">
                                <i class="fa fa-pencil-square-o"></i> Publicar un nuevo comentario
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>

<div class="extra-content extra-content-current-plan-line extra-content-current-plan-line-bg">
    <div class="col-md-12">
    </div>
</div>

<div class="extra-content-form-comment">
</div>
{% endverbatim %}