{#HEADER#}

<div id="header-search" class="row header_image animated fadeIn">

    <div class="header-search-top col-lg-12 col-md-12 col-sm-12">

        <div class="cabecera-gris">

            <div class="col-md-5">
                <h1>
                    <span>TRAINER</span>
                    <br/>PLANES DE CARRERA
                </h1>
            </div>

            <div class="col-md-7">

                <form id="form-search" class="form-search">

                    <div class="form-row">
                        <input v-model="nameform" placeholder="Ingrese un nombre" class="input">
                    </div>
                    <div class="form-row">
                        <input v-model="dniform" placeholder="Ingrese un D.N.I." class="input">
                    </div>
                    <div class="form-row">

                            {#ROLE_STORE_MANAGER#}
                            {% if (('ROLE_STORE_MANAGER' in app.user.roles)) %}
                                {% verbatim %}
                                <div v-for="(a_complejo, index) in pdc_data_stores" v-if="pdc_data_stores">
                                    <input :value="a_complejo.code + ' - ' + a_complejo.location" disabled class="input" v-if="(a_complejo.id == {% endverbatim %}{{ user.employee.store.id }}{% verbatim %})">
                                </div>
                                {% endverbatim %}
                            {% else %}
                                {% verbatim %}
                                <select v-model="selected_store" v-if="pdc_data_stores">
                                    <option value="">Complejo</option>
                                      <option v-for="(a_complejo, index) in pdc_data_stores" v-bind:value="a_complejo.id">
                                        {{ a_complejo.code }} - {{ a_complejo.location }}
                                      </option>
                                </select>
                                {% endverbatim %}
                            {% endif %}


                    </div>
                    <div class="form-row">
                        {% verbatim %}
                        <select v-model="selected_plan">
                          <option value="">Plan de carrera</option>
                          <option v-for="(a_carrera, index) in pdc_plan"  v-bind:value="a_carrera.id">
                            {{ a_carrera.title }}
                          </option>
                        </select>
                        {% endverbatim %}
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                        </div>
                    </div>
                    <div class="form-row">
                        {% if (('ROLE_STORE_MANAGER' in app.user.roles)) %}
                            {% verbatim %}
                                <a class="btn-search"
                                   v-on:click="searchMethod(nameform, dniform, {% endverbatim %}{{ user.employee.store.id }}{% verbatim %}, selected_plan);" title="Buscar">
                                    Buscar
                                </a>
                            {% endverbatim %}
                        {% else %}
                            {% verbatim %}
                                <a class="btn-search"
                                   v-on:click="searchMethod(nameform, dniform, selected_store, selected_plan);" title="Buscar">
                                    Buscar
                                </a>
                            {% endverbatim %}
                        {% endif %}
                    </div>

                </form>

            </div>

        </div>

    </div>

    <div class="develops-active-bg"></div>

</div>

<div class="col-md-12 text-left hidden">
    {% verbatim %}
        <br/>
        <p>
            Resultado de busqueda para: Nombre: {{ nameform }} / DNI: {{ dniform }} / Complejo: {{ selected_store }} / Plan: {{ selected_plan }}
        </p>
    {% endverbatim %}
</div>

{% verbatim %}
<div class="searchingZone" v-if="(searchingForResult == true)">

    <div class="flexbox-container">

        <div class="flexbox-content">

            <div class="flexbox-columns">

                <div class="the-loader"></div>

            </div>

        </div>

    </div>

</div>

<div class="searchingZone" v-if="(statusMessageForSearch && searchingForResult == false)">

    <div class="flexbox-container">

        <div class="flexbox-content">

            <div class="flexbox-columns">

                <h1>{{ statusMessageForSearch }}</h1>

            </div>

        </div>

    </div>

</div>
{% endverbatim %}