<div id="result-search-modales"
     v-if="((searchingForResult == false) && (pdc_trainer_employees_list))"
     class="all-modules-modales">

    <div v-for="(trainer_employees, index) in pdc_trainer_employees_list"
         class="flexbox-container row-employee-line"
         v-if="((trainer_employees.employeeCurrentPlan != false) && (pdc_trainer_employees_list))"
         :id="'before_employee_box_' + trainer_employees.id">

        <div class="eachModuleFModales" v-for="(plan_modules, index) in trainer_employees.employeeCurrentPlan.modules"
             :id="'before_employee_module_box_' + trainer_employees.id + '_id_' + plan_modules.module.id">

            <!-- Modal -->
            <div :id="'myModalEmployeeExam_' + trainer_employees.id + '_id_' + plan_modules.module.id" class="modal modal-sky fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">

                        <div class="modal-body">

                            <!-- BLOQUE DE RESPUESTYAS EXAMEN -->
                            <div class="bloque_examen_en_modal">
                                <div class="extra-content extra-content-current-plan-line extra-content-current-plan-line-bg">

                                    <button type="button" class="close_admin_plan2"
                                            data-dismiss="modal" :data-target="'#myModalEmployeeExam_' + trainer_employees.id + '_id_' + plan_modules.module.id">
                                        &times;
                                    </button>

                                    <div class="col-md-12">
                                        <h2><i class="fa fa-th-list"></i> Respuestas del examen:</h2>
                                    </div>
                                </div>
                                <div class="list_exam_answer extra-content extra-content-with-image flexbox-container extra-content-general-line">

                                    <div v-if="((plan_modules.examPermission.next_step != 'start') && (plan_modules.examPermission.next_step != 'none'))"
                                         class="extra-content extra-content-with-image flexbox-container extra-content-general-line">
                                        {% verbatim %}
                                        <div class="divider-exam"
                                             v-for="(plan_modules_exam_full, index) in plan_modules.examPermission.employee_exams"
                                             v-if="plan_modules_exam_full">

                                            <div class="row-liner-white extra-content-2 flexbox-content row-liner-white-ql">

                                                <div class="col-md-12 sky-color no-padding-left no-padding-right">
                                                    <div class="col-md-12 white-border no-padding-left no-padding-right">
                                                        <h4>
                                                            <i class="fa fa-square"></i> INTENTO DE EXAMEN Nº {{ index + 1}} /
                                                            <span v-if="(plan_modules_exam_full.approved == true)">Estado del examen: APROBADO <i class="fa fa-thumbs-o-up"></i></span>
                                                            <span v-else>Estado del examen: DESAPROBADO <i class="fa fa-thumbs-o-down"></i></span>
                                                        </h4>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row-liner-white extra-content-1 flexbox-content row-liner-white-ql">

                                                <div class="col-md-12 sky-color no-padding-left no-padding-right">
                                                    <div class="col-md-5 white-border flexbox-columns">
                                                        <h3>Pregunta:</h3>
                                                    </div>
                                                    <div class="col-md-5 white-border flexbox-columns ">
                                                        <h3>Respuesta:</h3>
                                                    </div>
                                                    <div class="col-md-2 white-border flexbox-columns">
                                                    </div>
                                                </div>

                                            </div>

                                            <div v-for="(plan_modules_exa_per, index) in plan_modules_exam_full.answers" v-if="(plan_modules_exam_full.total_answers == 0)">

                                                <div class="row-liner-white flexbox-content row-liner-white-q" >

                                                    <div class="col-md-12 sky-color no-padding-left no-padding-right">

                                                         <div class="col-md-5 white-border flexbox-columns flexbox-columns-border">
                                                                <p>{{ index+1 }}). {{ plan_modules_exa_per.question.text }}</p>
                                                            </div>
                                                            <div class="col-md-5 white-border flexbox-columns">
                                                                <p>No ha respondido la pregunta aún.</p>
                                                            </div>

                                                    </div>

                                                </div>

                                            </div>

                                            <div v-for="(plan_modules_exa_per, index) in plan_modules_exam_full.answers" v-if="(plan_modules_exam_full.total_answers > 0)">

                                                <div class="row-liner-white flexbox-content row-liner-white-q" >

                                                    <div class="col-md-12 sky-color no-padding-left no-padding-right">

                                                            <div v-if="((plan_modules_exa_per) && (plan_modules_exa_per.question))" class="col-md-5 white-border flexbox-columns flexbox-columns-border">
                                                                <p>{{ index+1 }}). {{ plan_modules_exa_per.question.text }}</p>
                                                            </div>
                                                            <div v-if="((plan_modules_exa_per) && (plan_modules_exa_per.answer))" class="col-md-5 white-border flexbox-columns">
                                                                <p>{{ plan_modules_exa_per.answer.text }}</p>
                                                            </div>
                                                            <div v-else class="col-md-5 white-border flexbox-columns">
                                                                <p>No ha respondido la pregunta aún.</p>
                                                            </div>
                                                            <div v-if="((plan_modules_exa_per) && (plan_modules_exa_per.answer))" class="col-md-2 white-border flexbox-columns">
                                                                <div class="btn_para_icon btn_para_icon_green"
                                                                        v-if="(plan_modules_exa_per.answer.correct == true)">Correcta
                                                                </div>
                                                                <div class="btn_para_icon btn_para_icon_red"
                                                                        v-if="(plan_modules_exa_per.answer.correct == false)">Incorrecta
                                                                </div>
                                                            </div>
                                                    </div>

                                                </div>

                                            </div>

                                            <div class="row-liner-white flexbox-content row-liner-white-q row-liner-white-q-2">

                                                <div class="col-md-12 sky-color no-padding-left no-padding-right text-right">
                                                    <div class="col-md-6 white-border flexbox-columns">
                                                        <p><i class="fa fa-play"></i> <strong>TOTAL DE RESPUESTAS:  {{ plan_modules_exam_full.total_answers }}</strong></p>
                                                    </div>
                                                    <div class="col-md-6 white-border flexbox-columns">
                                                        <p><i class="fa fa-play"></i> <strong>TOTAL DE PREGUNTAS:  {{ plan_modules_exam_full.answers.length }}</strong></p>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                        {% endverbatim %}

                                    </div>

                                </div>

                                <div class="extra-content extra-content-current-plan-line extra-content-current-plan-line-bg last_line_exam">

                                    <button type="button" class="close_admin_plan3"
                                            data-dismiss="modal" :data-target="'#myModalEmployeeExam_' + trainer_employees.id + '_id_' + plan_modules.module.id">
                                        CERRAR
                                    </button>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>

            <!-- Modal -->
            <div :id="'myModalEmployeeComment_' + trainer_employees.id + '_id_' + plan_modules.module.id" class="modal modal-sky fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">

                        <div class="modal-body">

                            <!--{# BLOQUE DE COMENTARIO #}-->
                            <div class="bloque_comentario_en_modal">
                                <div class="extra-content extra-content-current-plan-line extra-content-current-plan-line-bg">

                                    <button type="button" class="close_admin_plan2"
                                            data-dismiss="modal" :data-target="'#myModalEmployeeComment_' + trainer_employees.id">
                                        &times;
                                    </button>

                                    <div class="col-md-12">
                                        <h2>Dejar un comentario:</h2>
                                    </div>
                                </div>
                                <div class="extra-content extra-content-with-image flexbox-container extra-content-general-line">

                                    <div class="row-liner-white flexbox-content">
                                        {% verbatim %}
                                        <div class="col-md-12 sky-color no-padding-left no-padding-right">
                                            <div class="col-md-12 white-border flexbox-columns">
                                                <textarea class="textareaCommentSubmit"
                                                  :id="'textareaCommentSubmit_' + trainer_employees.id + '_id_' + plan_modules.module.id" name="comment" placeholder="Ingrese un comentario"></textarea>
                                            </div>
                                        </div>
                                        {% endverbatim %}
                                    </div>

                                    <div class="row-liner-white flexbox-content pink-bg">

                                        <div class="col-md-6 no-padding-left no-padding-right">
                                            <div class="col-md-12 white-border flexbox-columns">
                                            </div>
                                        </div>
                                        <div class="col-md-6 no-padding-left no-padding-right">
                                            <div class="col-md-12 no-padding-right no-padding-left flexbox-columns">
                                                <div class="col-md-12 white-border flexbox-columns sky-color text-center">
                                                    <div class="col-md-12 flexbox-columns sky-color text-center zona-btn-confirmar btn-confirmar-green">
                                                        <a class="dib text-center btn-confirmar"
                                                           title="Guardar" v-on:click="saveSubmitCommentModule(trainer_employees.id, plan_modules.module.id)">
                                                            <i class="fa fa-pencil-square-o"></i>
                                                            Guardar
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>

</div>