{# NOMBRE DEL PLAN  #}
{% verbatim %}
<div :id="'the-loader-employee-fuller-plan' + trainer_employees.id" class="the-loader the-loader5"></div>

<div class="extra-content extra-content-current-plan-line extra-content-current-plan-line-bg">
    <div class="col-md-12">
        <h1>Plan {{ trainer_employees.employeeCurrentPlan.plan.title }}: <strong v-if="((trainer_employees.employeeCurrentPlan.status != false) && (inicial_plan_position_id[index] == trainer_employees.employeeCurrentPlan.plan.id))">(Plan Actual)</strong></h1>
        <button type="button" class="close_admin_plan">&times;</button>
    </div>
</div>

<div class="extra-content extra-content-with-image flexbox-container extra-content-general-line" v-if="(trainer_employees.employeeCurrentPlan.plan.id)">

        <div class="row-liner-white flexbox-content listed">

            <div class="col-md-12 no-padding-left no-padding-right">
                <div class="col-md-4 sky-color no-padding-left no-padding-right">
                    <div class="col-md-12 white-border flexbox-columns">
                        <h3>
                            <i class="fa fa-play-circle-o"></i> <strong>Plan {{ trainer_employees.employeeCurrentPlan.plan.title }}: </strong>
                        </h3>
                    </div>
                </div>
                <div class="col-md-8 sky-color no-padding-left no-padding-right">
                    <div class="col-md-12 no-padding-right no-padding-left flexbox-columns">
                        <div class="col-md-1 white-border sky-color text-center"></div>
                        <div class="col-md-3 white-border sky-color text-center">
                            <div class="col-md-12 flexbox-columns sky-color text-center zona-btn-confirmar">
                                <span v-if="(trainer_employees.employeeCurrentPlan.enabled == false && trainer_employees.employeeCurrentPlan.approved == false)"
                                    class="dib text-center text-data text-gris icon-image-lock">
                                    Inactivo
                                </span>
                                <span v-if="(trainer_employees.employeeCurrentPlan.enabled == true && trainer_employees.employeeCurrentPlan.approved == false)"
                                    class="dib text-center text-data text-dark icon-image-play">
                                    Activado
                                </span>
                                <span v-if="(trainer_employees.employeeCurrentPlan.enabled == true && trainer_employees.employeeCurrentPlan.approved == true)"
                                    class="dib text-center text-data text-lila icon-image-check">
                                    Aprobado
                                </span>
                            </div>
                        </div>
                        <div class="col-md-1 white-border sky-color text-center"></div>
                        <div class="col-md-6 white-border sky-color text-center no-padding-left no-padding-right">
                            <div class="trainer-bloqueador">
                                No puedes realizar ninguna acción en esta sección.
                            </div>
                            <div class="col-md-6 white-border flexbox-columns sky-color text-center">
                                <div class="col-md-12 flexbox-columns sky-color text-center zona-btn-confirmar">
                                    <a v-if="(trainer_employees.employeeCurrentPlan.enabled == false)"
                                       v-on:click="doAction(trainer_employees.id, a_plan, trainer_employees.employeeCurrentPlan.plan.id, trainer_employees.id, a_activate, trainer_employees.employeeCurrentPlan.enabled)"
                                       class="dib text-center btn-confirmar">
                                       Activar
                                    </a>
                                    <!--<a v-if="(trainer_employees.employeeCurrentPlan.enabled == true)"-->
                                       <!--class="dib text-center btn-confirmar">-->
                                       <!--Plan Actual-->
                                    <!--</a>-->
                                </div>
                            </div>
                            <div class="col-md-6 white-border flexbox-columns sky-color text-center">
                                <div class="col-md-12 flexbox-columns sky-color text-center zona-btn-confirmar">
                                    <a v-if="(trainer_employees.employeeCurrentPlan.enabled == true && trainer_employees.employeeCurrentPlan.approved == false)"
                                       v-on:click="doAction(trainer_employees.id, a_plan, trainer_employees.employeeCurrentPlan.plan.id, trainer_employees.id, a_approve, trainer_employees.employeeCurrentPlan.enabled)"
                                       class="dib text-center btn-confirmar">
                                       Aprobar
                                    </a>
                                    <a v-if="(trainer_employees.employeeCurrentPlan.enabled == true && trainer_employees.employeeCurrentPlan.approved == true)"
                                       v-on:click="doAction(trainer_employees.id, a_plan, trainer_employees.employeeCurrentPlan.plan.id, trainer_employees.id, a_disapprove, trainer_employees.employeeCurrentPlan.enabled)"
                                       class="dib text-center btn-confirmar">
                                       Desaprobar
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

</div>

<div class="extra-content extra-content-current-plan-line extra-content-current-plan-line-bg">
    <div class="col-md-12"></div>
</div>

<div class="extra-content extra-content-current-plan-line">

    <div class="col-md-12 no-padding-right no-padding-left">

        <div class="data-user-current-name-plan col-md-12 no-padding-right no-padding-left">

            <div class="col-md-6">
                <p><i class="fa fa-book"></i> <strong>DNI:</strong> {{ trainer_employees.dni }}
                </p>
            </div>

            <div class="col-md-6">
                <p><i class="fa fa-ticket"></i> <strong>Estación:</strong> {{ trainer_employees.store.location }}</p>
            </div>

            <div class="col-md-6" v-if="(trainer_employees.employeeCurrentPlan.plan.title)">
                <p><i class="fa fa-user"></i> <strong>Plan de carrera:</strong> {{ trainer_employees.employeeCurrentPlan.plan.title }}</p>
            </div>

            <div class="col-md-6">
                <p><i class="fa fa-star"></i> <strong>Email:</strong> {{ trainer_employees.email }}
                </p>
            </div>

        </div>

    </div>

</div>

<div class="extra-content extra-content-blank">
    <div class="col-md-12">
    </div>
</div>

<div class="extra-content extra-content-current-plan-line extra-content-current-plan-line-bg">
    <div class="col-md-12">
    </div>
</div>

<div class="extra-content-form-comment">
</div>
{% endverbatim %}