{% verbatim %}
<div class="primary-content" v-if="(trainer_employees.employeeCurrentPlan != false)">
    <div class="data-user-name-plan">
        <h1>{{ trainer_employees.name }} / <span v-if="(trainer_employees.employeeCurrentPlan != false)">{{ trainer_employees.employeeCurrentPlan.plan.title }}</span></h1>
        <p>{{ trainer_employees.store.location }}</p>

    </div>

    <div class="rueda-de-planes rueda-de-planes-trainer">
        <ul class="fondito">
            <li v-for="(plan, index) in trainer_employees.employeeCareerPlans"
                :id="'employee_' + trainer_employees.id + '_position_' + plan.position"
                v-bind:class="{'active-area plan-imagen-big':((plan.is_current_plan == true) && (plan.enabled == true)), 'active-area active-area-gris plan-imagen-big':((plan.is_current_plan == true) && (plan.enabled == false)), 'passed-area plan-imagen-lila':((plan.enabled == true) && (plan.is_current_plan != true)), 'plan-imagen-gris':((plan.enabled == false) && (plan.is_current_plan != true))}"
                class="plan-type">

                <span class="loader"
                        :id="'loader_employee_' + trainer_employees.id + '_position_' + plan.position"></span>

                <a v-on:click="callLoadPlan(trainer_employees.id, plan.position, plan.id, 'open_a_plan', nameform, dniform, selected_store, selected_plan, plan.enabled, plan.is_current_plan == true && plan.enabled == true)" :title="plan.title">
                    <img v-if="((plan.is_current_plan == true) && (plan.enabled == true))"
                         :src="'/' + plan.big_active_image.web_path"/>
                    <img v-if="((plan.is_current_plan == true) && (plan.enabled == false))"
                         :src="'/' + plan.big_inactive_image.web_path"/>
                    <img v-if="((plan.enabled == true) && (plan.is_current_plan != true))"
                         :src="'/' + plan.tiny_active_image.web_path"/>
                    <img v-if="((plan.enabled == false) && (plan.is_current_plan != true))"
                         :src="'/' + plan.tiny_inactive_image.web_path"/>
                        <span class="small-title">{{ plan.title }}</span>
                        <span class="active-plan-rueda-img-rounded"></span>
                </a>
                <span class="active-plan-rueda"></span>

                <ul v-bind:class="{last : index == (pdc_plan_length)}">
                    <li class="divider" v-bind:class="{'passed-area':(index < inicial_plan_position[index])}"></li>
                </ul>

            </li>
        </ul>
    </div>

    <div class="rounded-module" style="overflow: hidden;">
        <div :id="'scroller_horizontal_' + trainer_employees.id" class="scroller_horizontal content_malibu">

            <div :id="'the-loader-employee-' + trainer_employees.id" class="the-loader the-loader3"></div>
            <div :id="'the-loader-employee-especial' + trainer_employees.id" class="the-loader the-loader4"></div>

            <div :id="'the-rounded-box-employee-noplan-' + trainer_employees.id" class="rueda-no-status"
                v-if="(trainer_employees.employeeCurrentPlan.status == false)">
                <p>Este empleado no tiene activado este plan.</p>
            </div>

            <ul :id="'the-rounded-box-employee-' + trainer_employees.id"
                v-if="(trainer_employees.employeeCurrentPlan.status != false)">

                <li v-bind:class="{'requi_default':((trainer_employees.employeeCurrentPlan.requirements_approved == false) && (trainer_employees.employeeCurrentPlan.requirements_enabled == true)), 'requi_approved':((trainer_employees.employeeCurrentPlan.requirements_approved == true) && (trainer_employees.employeeCurrentPlan.requirements_enabled == true)), 'requi_locked':((trainer_employees.employeeCurrentPlan.requirements_enabled == false)) }"
                    class="rm-icon-list rm-icon-format-big">
                    <a title="Requisitos Excluyentes">Requisitos Excluyentes</a>
                </li>
                <ul>
                    <li :id="'employee_requi_' + trainer_employees.id" v-on:click="callLoadRequirements(trainer_employees.id, 'open_a_requirement')">
                        <a v-if="((trainer_employees.employeeCurrentPlan.requirements_enabled == true) && (trainer_employees.employeeCurrentPlan.requirements_approved == true))" title="Requisitos Excluyentes: Cumplidos" class="rm-icon-ok rm-icon-format-normal cursored">
                            Cumplidos
                        </a>
                        <a v-if="((trainer_employees.employeeCurrentPlan.requirements_enabled == true) && (trainer_employees.employeeCurrentPlan.requirements_approved == false))" title="Requisitos Excluyentes: No Cumplidos" class="rm-icon-no-ok rm-icon-format-normal cursored">
                            No Cumplidos
                        </a>
                        <a v-if="(trainer_employees.employeeCurrentPlan.requirements_enabled == false)" title="Requisitos Desabilitados" class="rm-icon-lock rm-icon-format-normal cursored">
                            Requisitos Desabilitados
                        </a>
                        <span class="active-plan-rueda-img-rounded-smaller"></span>
                        <span class="active-plan-rueda-smaller"></span>
                    </li>
                </ul>

                <li v-if="((has_modules[index]) >= 1)" class="rm-icon-video rm-icon-format-big"
                    v-bind:class="{'box-approved-header':((is_all_module_approved[index]) >= 1), 'box-nivelacion-header':(((pdc_capacitacion_entrenamiento_status_array[index]) >= 1) && ((pdc_capacitacion_entrenamiento_status_array[index]) - (pdc_capacitacion_entrenamiento_approved_array[index]) != 0)), 'box-locked-header':((is_all_module_locked[index]) == true)}">
                    <a title="Capacitación y entrenamiento en el puesto">
                        Capacitación y entrenamiento en el puesto
                    </a>
                </li>

                <ul v-if="((has_modules[index]) >= 1)">

                    <li v-for="(module, index) in trainer_employees.employeeCurrentPlan.modules"
                        :id="'employee_module_' + trainer_employees.id + '_id_' + module.module.id"
                            v-if="((module.module.type == 'module') && (module.module.enabled == true))"
                                v-on:click="callLoadModule(trainer_employees.id, module.module.id, 'open_a_module')">

                                <span v-if="((module.module.nivelation == true) && (module.enabled == true) && (module.approved == false))">
                                     <a v-bind:title="'Módulo de Nivelación: ' + module.title" class="rm-icon-nivelacion rm-icon-format-normal cursored">
                                         Nivelación
                                     </a>
                                </span>
                                <span v-else-if="((module.module.nivelation == true) && (module.enabled == true) && (module.approved == true))">
                                     <a v-bind:title="'Módulo Deshabilitado: ' + module.module.title" class="rm-icon-nivelacion-ok rm-icon-format-normal cursored">
                                         Nivelación Aprobada
                                     </a>
                                </span>
                                <span v-else-if="module.enabled == false">
                                     <a v-bind:title="'Módulo Deshabilitado: ' + module.module.title" class="rm-icon-lock rm-icon-format-normal cursored">
                                         Deshabilitado
                                     </a>
                                </span>
                                <span v-else-if="module.approved == true && module.enabled == true">
                                    <a v-bind:title="'Módulo Aprobado: ' + module.module.title" class="rm-icon-ok rm-icon-format-normal cursored">
                                        Aprobado
                                    </a>
                                </span>
                                <span v-else>
                                     <a v-bind:title="'Módulo Habilitado: ' + module.module.title" class="rm-icon-habilitado rm-icon-format-normal cursored">
                                         Habilitado
                                     </a>
                                </span>
                            <span class="active-plan-rueda-img-rounded-smaller"></span>
                        <span class="active-plan-rueda-smaller"></span>
                    </li>
                </ul>

                <li v-if="((has_workshops[index]) >= 1)" class="rm-icon-diapositiva rm-icon-format-big"
                    v-bind:class="{'box-approved-header':((is_all_workshop_approved[index]) >= 1), 'box-nivelacion-header':(((pdc_cursos_talleres_status_array[index]) >= 1) && ((((pdc_cursos_talleres_status_array[index]) - (pdc_cursos_talleres_approved_array[index])) != 0))), 'box-locked-header':((is_all_workshop_locked[index]) == true)}">
                    <a title="Talleres y cursos presenciales">
                        Talleres y cursos presenciales
                    </a>
                </li>
                <ul v-if="((has_workshops[index]) >= 1)">
                    <li v-for="(module, index) in trainer_employees.employeeCurrentPlan.modules"
                        :id="'employee_module_' + trainer_employees.id + '_id_' + module.module.id"
                            v-if="((module.module.type == 'workshop') && (module.module.enabled == true))"
                            v-on:click="callLoadModule(trainer_employees.id, module.module.id, 'open_a_module')">

                                <span v-if="((module.module.nivelation == true) && (module.enabled == true) && (module.approved == false))">
                                     <a v-bind:title="'Módulo de Nivelación: ' + module.title" class="rm-icon-nivelacion rm-icon-format-normal cursored">
                                         Nivelación
                                     </a>
                                </span>
                                <span v-else-if="((module.module.nivelation == true) && (module.enabled == true) && (module.approved == true))">
                                     <a v-bind:title="'Módulo Deshabilitado: ' + module.module.title" class="rm-icon-nivelacion-ok rm-icon-format-normal cursored">
                                         Nivelación Aprobada
                                     </a>
                                </span>
                                <span v-else-if="module.enabled == false">
                                     <a v-bind:title="'Módulo Deshabilitado: ' + module.module.title" class="rm-icon-lock rm-icon-format-normal cursored">
                                         Deshabilitado
                                     </a>
                                </span>
                                <span v-else-if="module.approved == true && module.enabled == true">
                                    <a v-bind:title="'Módulo Aprobado: ' + module.module.title" class="rm-icon-ok rm-icon-format-normal cursored">
                                        Aprobado
                                    </a>
                                </span>
                                <span v-else>
                                     <a v-bind:title="'Módulo Habilitado: ' + module.module.title" class="rm-icon-habilitado rm-icon-format-normal cursored">
                                         Habilitado
                                     </a>
                                </span>
                            <span class="active-plan-rueda-img-rounded-smaller"></span>
                        <span class="active-plan-rueda-smaller"></span>
                    </li>
                </ul>
            </ul>

        </div>

        <button class="slide_scroll_left" type="button">Prev</button>
        <button class="slide_scroll_right" type="button">Next</button>

    </div>


</div>
{% endverbatim %}