<div class="cs-loader" id="cs-loader">
    <p>PLANES DE CARRERA<br/>CARGANDO TRAINER</p>
    <div class="cs-loader-inner">
        <label> ●</label>
        <label> ●</label>
        <label> ●</label>
        <label> ●</label>
        <label> ●</label>
        <label> ●</label>
    </div>
</div>