<div class="row-fluid">
    <div class="span6">
        {{ form_row(form.category) }}
        {{ form_row(form.title) }}
        {{ form_row(form.abstract) }}
    </div>
    <div class="span6">
        {{ form_row(form.mainImage) }}

    </div>
</div>

<div class="separator bottom"></div>

<div class="row-fluid">
    <div class="span12">
        {{ form_row(form.content) }}
    </div>
</div>

<div class="separator bottom"></div>

{{ form_rest(form) }}