{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Listado de Capacitaciones'|trans,
    path: {
    new: {uri: path('aper_course_new')},
    },
    } only %}
{% endblock page_header %}


{% block page_content %}
    <div class="table-responsiv5568e">



        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th{% if pagination.isSorted('course.title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name'|trans, 'Benefit.name') }}</th>
                <th>Categoría</th>
                <th>Contenido de la Capacitación</th>
                <th>Estado</th>
                <th>{{ 'Roles allowed'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for course in pagination %}
                <tr data-id="{{ course.id }}">
                    <td>{{ course.title }}</td>
                    <td>{{ course.category|trans }}</td>
                    <td>{{ course.content|raw }}</td>
                    <td>{% if course.active == 1 %}
                            <b>   <span class="text-success">Activa</span></b>
                        {% elseif course.active == 0 %}
                            <b> <span class="text-danger">Inactiva</span> </b>
                        {% endif %}</td>
                    <td>
                        <ul class="list-unstyled">
                            {% for role in course.rolesAllowed %}
                                {%  if role != 'ROLE_ADMIN' %}
                                <li>{{ role|trans }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <a href="{{ path('aper_course_show', {id: course.id }) }}" class="btn"
                           onclick="">{{ 'actions.show.label'|trans }}</a>
                        <a href="{{ path('aper_course_edit', {id: course.id }) }}"
                           class="btn">{{ 'actions.edit.label'|trans }}</a>
                        <a href="{{ path('aper_course_delete', {id: course.id }) }}"
                           class="btn btn btn-danger btn-delete"
                           onclick="return confirm('{{ 'Desea eliminar la capacitación?' }}')">{{ 'actions.delete.label'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <br>

        {{ grid_pagination(pagination) }}

    </div>
{% endblock page_content %}