{% extends '::base.html.twig' %}

{% block page_header %}
    {% if tipo=='encuesta' %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
        title:'Editar Encuesta',
        path: {
            index: {uri: path('aper_course_index', { 'cursopadre' : curso_id })},
        },
    } only %}
    {% else %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
        title:'Editar Examen',
        path: {
            index: {uri: path('aper_course_index', { 'cursopadre' : curso_id })},
        },
    } only %}
    {% endif %}
{% endblock page_header %}

{% block page_content %}

<div class="row">
{#    <div class="col-sm-5">#}
{#        <h2>Editar Examen</h2>#}

    {{ form_start(edit_form) }}
    {{ form_end(edit_form) }}

</div>
{% endblock %}
