{% extends '::base.html.twig' %}

{% block page_content %}
<div class="container">
	<form action="{{ path('frontend_encuesta_set', {'id': curso.id, 'examen_id': examen_id}) }}" method="post">
	    {% for pregunta in curso.encuesta.preguntas %}
	    	<div class="form row">
	    	{{ pregunta.texto }}
	    	</div>
				<div class="row">
			{% for respuesta in pregunta.respuestas %}
					<input type="radio" name="respuesta{{ pregunta.id }}" value="{{ respuesta.id }}">
					<label for="{{ respuesta.id }}">{{ respuesta.textoRespuesta }}</label><br>
			{% endfor %}
				</div>
	    {% endfor %}
	    <input type="submit" name="submit" value="Enviar">
	</form>
	<a href="{{ path('homepage') }}">Volver</a>
</div>
{% endblock %}