{% extends '::base.html.twig' %}

{% block page_content %}

<div class="container row" style="font-size: 25px; color: red; text-align: center; margin: 10% auto;">
	{{ mensaje }}

	<p class="inner-container">
		<a href="{{ path(volver) }}">Volver</a>
	</p>

</div>



{% endblock %}