{% extends '::base.html.twig' %}
{% block pagename %}examen{% endblock %}
{% block page_content %}
<div class="container examen">

	<div class="container row">
		<form action="{{ path('frontend_examen_set', {'id': curso.id, 'examen_id': examen_id}) }}" method="post">

			{% set counter = 0 %}

			{% for pregunta in preguntas %}
			<div class="all">
				{% set counter = counter + 1 %}
				<div class="right question-title col-lg-3">
					<h4>Pregunta <strong>{{ counter }}</strong></h4>
				</div>

				<div class="content col-lg-9">
					<div class="question">
					{{ pregunta.texto }}
					</div>
						<div class="anwsers">
					{% for respuesta in pregunta.respuestas %}
							<input type="radio" name="respuesta{{ pregunta.id }}" value="{{ respuesta.id }}">
							<label for="{{ respuesta.id }}">{{ respuesta.textoRespuesta }}</label><br>
					{% endfor %}
						</div>
				</div>
			</div>
			{% endfor %}
			<input type="submit" name="submit" value="Enviar">
		</form>
	</div>
	<div class="container backAction">
		<div class="row">
			<a href="{{ path('homepage') }}">Volver</a>
		</div>
	</div>
</div>
{% endblock %}