{% extends '::base.html.twig' %}
{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
        title:'Lista de examenes',
        path: {
            new: {uri: path(examen_new, { 'id': curso_id })},
        },
    } only %}
{% endblock page_header %}

{% block page_content %}

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Título</th>
                <th>Nro de preguntas</th>
                <th>% de Aprobación</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% if examen %}
            <tr>
                <td>{{ examen.titulo }}</td>
                <td>{{ examen.cantPreg }}</td>
                <td>{{ examen.porcentajeAprobacion }}</td>
                <td>
                    <a href="{{ path('examen_show', { 'id': examen.id }) }}" class="btn">Ver</a>
                    <a href="{{ path('examen_edit', { 'id': examen.id }) }}" class="btn">Editar</a>
                    <a href="{{ path('pregunta_index', { 'id': examen.id }) }}" class="btn">Agregar Preguntas</a>
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}
