{% extends '::base.html.twig' %}

{% block page_header %}
    {% if tipo=='encuesta' %}
        {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
            title:'Nueva Encuesta',
            path: {
                index: {uri: path('aper_course_show', { 'id' : curso_id })},
            },
        } only %}
    {% else %}
        {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
            title:'Nuevo Examen',
            path: {
                index: {uri: path('aper_course_show', { 'id' : curso_id })},
            },
        } only %}
    {% endif %}
{% endblock page_header %}

{% block page_content %}
    {{ form(form) }}
{% endblock %}
