{% extends '::base.html.twig' %}

{% block page_header %}
    {% if examen.encuesta %}
        {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
            title:'Encuesta',
            path: {
                index: {uri: path('aper_course_show', { 'id' : curso_id })},
                edit: {uri: path('examen_edit', { 'id': examen.id })},
            },
            } only %}
    {% else %}
        {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
            title:'Examen',
            path: {
                index: {uri: path('aper_course_show', { 'id' : curso_id })},
                edit: {uri: path('examen_edit', { 'id': examen.id })},
            },
            } only %}
    {% endif %}
{% endblock page_header %}

{% block page_content %}
    <table class="table">
        <tbody>
            <tr>
                <th>Titulo</th>
                <td>{{ examen.titulo }}</td>
            </tr>
            <tr>
                <th>Nro de preguntas</th>
                <td>{{ examen.cantPreg }}</td>
            </tr>
            <tr>
                <th>% de Aprobacion</th>
                <td>{{ examen.porcentajeAprobacion }}</td>
            </tr>
            <tr>
                <th><a href="{{ path('pregunta_index', { 'id': examen.id }) }}">Agregar Preguntas</a></th>
                <td></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
