{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Listado de Categorias de Politicas y Procedimientos',
    path: {
    new: {uri: path('admin_politic_and_procedure_category_new')},
    },
    } only %}
{% endblock page_header %}


{% block page_content %}
    <div class="table-responsiv5568e">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for politicAndProcedureCategory in pagination %}
                <tr data-id="{{ politicAndProcedureCategory.id }}">
                    <td>{{ politicAndProcedureCategory.name }}</td>
                    <td>{{ politicAndProcedureCategory.description }}</td>
                    <td>
                        <a href="{{ path('admin_politic_and_procedure_category_show', {id: politicAndProcedureCategory.id }) }}" class="btn"
                           onclick="">{{ 'actions.show.label'|trans }}</a>
                        <a href="{{ path('admin_politic_and_procedure_category_edit', {id: politicAndProcedureCategory.id }) }}"
                           class="btn">{{ 'actions.edit.label'|trans }}</a>
                        <a href="{{ path('admin_politic_and_procedure_category_delete', {id: politicAndProcedureCategory.id }) }}"
                           class="btn btn btn-danger btn-delete"
                           onclick="return confirm('{{ 'Desea eliminar esta Categoría de Política y Procedimiento?' }}')">{{ 'actions.delete.label'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <br>

        {{ grid_pagination(pagination) }}

    </div>
{% endblock page_content %}