{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Nueva Categoria de Politicas y Procedimientos',
    path: {
    index: {uri: path('admin_politic_and_procedure_category_index')},
    },
    } only %}
{% endblock page_header %}

{% block page_content %}
    {{ form(form) }}
{% endblock %}
