{% extends 'base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'page_header.aper.politic_and_procedure_category.show.title'|trans,
    path: {
    edit: {uri: path('admin_politic_and_procedure_category_edit', {'id': politicAndProcedureCategory.id})},
    delete: {uri: path('admin_politic_and_procedure_category_delete', {'id': politicAndProcedureCategory.id})},
    },

    } only %}
{% endblock page_header %}


{% block page_content %}
    <table class="table">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ politicAndProcedureCategory.name }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ politicAndProcedureCategory.description }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}