{% extends '::base.html.twig' %}

{% block page_header %}
        {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
            title:'Contenidos de Clase',
            path: {
                new: {uri: path('contenido_de_clase_new', {'id': curso.id})},
                index: {uri: path('cursopadre_show', {'id': curso.id})},
            },
        } only %}

{% endblock %}
{% block page_content %}
{#    <h3>{{ examen.titulo }}</h3>#}

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Título</th>
                <th>Url</th>
{#                <th>Path</th>#}
                <th>Archivos</th>
                <th>{{ 'Actions' |trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% if contenidos %}
            {% for contenido in contenidos %}
                <tr>
                    <td>{{ contenido.titulo | default('')}}</td>
                    <td>{% if contenido.url %}<a href="{{ contenido.url }}">{{ contenido.url }}</a>{% endif %}</td>
                    <td>
                        {% if contenido.pdf and contenido.pdf.getFilePath %}
                            <a href="{{ asset(contenido.pdf.WebPath) }}">{{ contenido.pdf.getFilePath }}</a></br>
                        {% endif %}
                        {% if contenido.video and contenido.video.getFilePath%}
                            <a href="{{ asset(contenido.video.WebPath) }}">{{ contenido.video.getFilePath }}</a>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('contenido_de_clase_show', { 'id': contenido.id }) }}" class="btn">Ver</a>
                        <a href="{{ path('contenido_de_clase_edit', { 'id': contenido.id }) }}" class="btn">Editar</a>
                        <a href="{{ path('contenido_de_clase_delete', {'id': contenido.id }) }}" class="btn btn btn-danger btn-delete" onclick="return confirm('Está seguro de eliminar?')">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

{% endblock %}
