{% extends '::base.html.twig' %}

{% block page_header %}

    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
        title:'Ver Contenido De Clase',
        path: {
            index: {uri: path('contenido_de_clase_index', { 'id': contenido.cursoPadre.id })},
            edit: {uri: path('contenido_de_clase_edit', { 'id': contenido.id })},
        },
    } only %}
{% endblock %}

{% block page_content %}
    <table class="table">
        <tbody>
        <tr>
            <th>Título</th>
            <td>{{ contenido.titulo | default('No contiene')}}</td>
        </tr>
        <tr>
            <th>Url</th>
            <td>{{ contenido.getUrl | default('No contiene')}}</td>
        </tr>
        <tr>
            <th>Archivo PDF</th>
            {% if contenido.pdf and contenido.pdf.getFilePath %}
                <td><a href="{{ asset(contenido.pdf.WebPath) }}">{{ contenido.pdf.getFilePath }}</a></td>
            {% else %}
                <td>No Contiene</td>
            {% endif %}
        </tr>
        <tr>
            <th>Video</th>
            {% if contenido.video and contenido.video.getFilePath %}
                <td><a href="{{ asset(contenido.video.WebPath) }}">{{ contenido.video.getFilePath }}</a></td>
            {% else %}
                <td>No Contiene</td>
            {% endif %}
        </tr>
        </tbody>
    </table>
{% endblock %}
