{% extends '::base.html.twig' %}

{% block page_header %}

{% endblock page_header %}


{% block page_content %}

    {#CREAR BOTON SIGUIENTE ENVIANDO POR AJAX LOS PARAMETROS NECESARIOS AL EVENTO ADD DE RESPONSECONTROLLER#}

{% endblock %}