{% extends '::base.html.twig' %}

{% block page_header %}

{% endblock page_header %}

{% block page_content %}
    <div class="table-responsive">


        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th{% if pagination.isSorted('contact.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name'|trans, 'contact.name') }}</th>
                <th>Área</th>
                <th>Puesto</th>
                <th>Sala</th>


            </tr>
            </thead>
            <tbody>
            {% for contact in pagination %}
                <tr data-id="{{ contact.id }}">
                    <td>{{ contact.fullname }}</td>
                    <td>{{ contact.area }}</td>
                    <td>{{ contact.jobposition }}</td>
                    <td>{{ contact.store.location }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>

        <br>

        {{ grid_pagination(pagination) }}

    </div>
{% endblock page_content %}