{% extends '::base.html.twig' %}

{% block page_header %}

{% endblock page_header %}

{% set roleHeadOffice = false %}
{% set user = app.user %}
{% if user %}
    {% for role in user.roles if not roleHeadOffice %}
        {% if role == 'ROLE_HEAD_OFFICE'%}
            {% set roleHeadOffice = true %}
        {% endif %}
    {% endfor %}
{% else %}
    {% set roleHeadOffice = false %}
{% endif %}


{% block page_content %}

    <div class="container trivia-content">

        <div class="col-xs-12 content1" style="padding: 0">

            <div class="headline">
                <div class="icon-home draws"></div>
                <h2 class="col-xs-11">
                    {{ ruffle.title|upper}}
                </h2>
            </div>

            <div class="col-xs-12 portada1" style="background-image: url({{ asset(ruffle.mainImage.webPath) }})"></div>

            <div class="col-xs-12 beforeplay">

                <p class="beforeplay-title">

                    {% if( ruffle.timeResponse != 0 ) %}
                        <i class="fa fa-clock-o"></i> Dispondrás de <span class="timegiven">{{ ruffle.timeResponse/60 }}</span> minutos para completar la siguiente trivia
                    {% endif %}

                </p>
                <a href="#step2" class="trivia-btn">Participar » </a>
                <p class="beforeplay-viegencia">Vigencia: {{ ruffle.dateIni|date('d/m/Y') }} al {{ ruffle.dateEnd|date('d/m/Y') }} inclusive</p>
                <div class="conditions">
                    <input type="checkbox"> <p> Acepto las <a href="{{ asset(ruffle.legal.webPath) }}" target="_blank">bases y condiciones del sorteo</a></p>
                </div>
            </div>

        </div>

        <!-- BEGIN -->
        <div class="col-xs-12 content2">
            <!-- STEP 2 -->
            <div class="questions-content" id="step2">

                <form id="form">
                    <!-- TRIVIA -->
                    {% if ruffle.isTrivia %}
                        {% set counter = 1 %}
                        <div class="questions-trivia">

                            {% for pregunta in ruffle.mchoice %}
                                <div id="q-{{ loop.index }}" class="{{ loop.index > 1 ? 'hidden' }}">
                                    <div class="headline">
                                        <div class="time">
                                            <i class="fa fa-clock-o"></i> <span class="timer"></span>
                                        </div>
                                        <div class="xofy"> <strong>{{ loop.index }}</strong> de {{ ruffle.mchoice|length }}</div>
                                    </div>

                                        {% if pregunta.image.filePath %}
                                        <div class="qa-content qa-wimage" style="display: flex">
                                            <div class="col-sm-12 col-md-4 qa-content-img" style="
                                                background: url({{ asset(pregunta.image.webPath) }});
                                                background-position: 50%;
                                                background-repeat: no-repeat;
                                                background-size: cover;
                                            "></div>
                                            <div class="col-sm-12 col-md-8">
                                                <div class="question">
                                                    {{ pregunta.inquiry }}
                                                </div>
                                                <div class="answers">
                                                    {% for respuesta in pregunta.rchoice %}
                                                        <div class="answer">
                                                            <div>
                                                                <span>{{ loop.index }}.</span> {{ respuesta.answer }}
                                                            </div>
                                                            <div class="answer-input">
                                                                <span style="display:none">{{ respuesta.answer }}</span>
                                                                <input type="radio" value="{{ respuesta.id }}" name="responded">
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% else %}
                                        <div class="qa-content">
                                        <div class="question">
                                            {{ pregunta.inquiry }}
                                        </div>
                                        <div class="answers">
                                            {% for respuesta in pregunta.rchoice %}
                                                <div class="answer">
                                                    <div>
                                                        <span>{{ loop.index }}.</span> {{ respuesta.answer }}
                                                    </div>
                                                    <div class="answer-input">
                                                        <span style="display:none">{{ respuesta.answer }}</span>
                                                        <input type="radio" value="{{ respuesta.id }}" name="responded">
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="next-question">
                                        {% if loop.last %}
                                        <a href="#finish" class="btn trivia-btn ver-resultados">Siguiente »</a>
                                        {% else %}
                                        <a href="#q-{{ loop.index + 1}}" class="btn trivia-btn">Siguiente »</a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    <!-- QUESTION  -->
                    {% elseif ruffle.isQuestion %}
                        {% set counter = 1 %}
                        <div class="questions-questions">

                            {% for pregunta in ruffle.mchoice %}
                                <div id="q-{{ loop.index }}" class="{{ loop.index > 1 ? 'hidden' }}">
                                    <div class="headline">
                                        <div class="time">
                                            <i class="fa fa-clock-o"></i> <span class="timer"></span>
                                        </div>
                                        <div class="xofy"> <strong>{{ loop.index }}</strong> de {{ ruffle.mchoice|length }}</div>
                                    </div>
                                    <div class="qa-content">
                                        <div class="question">
                                            {{ pregunta.inquiry }}
                                        </div>
                                        <div class="answers">
                                            {% for respuesta in pregunta.rchoice %}
                                                <div class="answer">
                                                    <div>
                                                        <span>{{ loop.index }}.</span> {{ respuesta.answer }}
                                                    </div>
                                                    <div class="answer-input">
                                                        <input type="text" value="{{ respuesta.id }}" name="responded">
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="next-question">
                                        {% if loop.last %}
                                            <a href="#finish" class="trivia-btn ver-resultados">Siguiente »</a>
                                        {% else %}
                                            <a href="#q-{{ loop.index + 1}}" class="trivia-btn">Siguiente »</a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}

                        </div>

                    <!-- DIRECT -->
                    {% else %}
                        {% set counter = 1 %}
                        <div class="questions-direct">

                            {% for pregunta in ruffle.mchoice %}
                                <div id="q-{{ loop.index }}" class="{{ loop.index > 1 ? 'hidden' }}">
                                    <div class="headline">
                                        <div class="time">
                                            <i class="fa fa-clock-o"></i> <span class="timer"></span>
                                        </div>
                                        <div class="xofy"> <strong>{{ loop.index }}</strong> de {{ ruffle.mchoice|length }}</div>
                                    </div>
                                    <div class="qa-content">
                                        <div class="question">
                                            {{ pregunta.inquiry }}
                                        </div>
                                        <div class="answers">
                                            {% for respuesta in pregunta.rchoice %}
                                                <div class="answer">
                                                    <div>
                                                        <span>{{ loop.index }}.</span> {{ respuesta.answer }}
                                                    </div>
                                                    <div class="answer-input">
                                                        <input type="radio" value="1" name="radio">
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="next-question">
                                        {% if loop.last %}
                                            <a href="#finish" class="trivia-btn ver-resultados">Siguiente »</a>
                                        {% else %}
                                            <a href="#q-{{ loop.index + 1}}" class="trivia-btn">Siguiente »</a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}

                        </div>

                    {% endif %}

                </form>

            </div>

        </div>

        <!-- NO TIME -->
        <div class="col-xs-12 content3-notime" id="notime">

            <div class="col-xs-12 portada1" style="background-image: url({{ asset(ruffle.mainImage.webPath) }})"></div>

            <div class="headline">
                <h2 class="col-xs-12">
                    <div class="top">
                        <div class="icon-cont">
                            <img src="{{ asset('dist/images/wrong.png') }}" alt="">
                        </div>
                        <span>SE HA AGOTADO EL TIEMPO!</span> GRACIAS POR PARTICIPAR
                    </div>
                    <div class="bottom">
                        Comunicaremos el resultado de los ganadores entre el {{ ruffle.dateEnd|date_modify("+2 day")|date('d/m/Y') }} y el {{ ruffle.dateEnd|date_modify("+5 day")|date('d/m/Y') }}
                    </div>
                </h2>
            </div>

            <div class="exit-cont">
                <a href="{{ path('homepage') }}" class="trivia-btn">Salir</a>
            </div>

        </div>

        <!-- DIRECT -->
        {% if ruffle.isDirect  %}
            <div class="col-xs-12 content3-finish" id="finish">

                <div class="col-xs-12 portada1" style="background-image: url({{ asset(ruffle.mainImage.webPath) }})"></div>

                <div class="headline">
                    <h2 class="col-xs-12">
                        <div class="top">
                            <div class="icon-cont">
                                <img src="{{ asset('dist/images/right.png') }}" alt="">
                            </div>
                                TE INSCRIBISTE EN EL SORTEO <span>¡FELICITACIONES!</span>
                        </div>
                    </h2>
                </div>

                <div class="exit-cont">
                    <a href="{{ path('homepage') }}" class="trivia-btn">Salir </a>
                </div>

            </div>
        {% else %}
            <div class="col-xs-12 content3-finish" id="finish">

                <div class="col-xs-12 portada1" style="background-image: url({{ asset(ruffle.mainImage.webPath) }})"></div>

                <div class="headline">
                    <h2 class="col-xs-12">
                        <div class="top">
                            <div class="icon-cont">
                                <img src="{{ asset('dist/images/right.png') }}" alt="">
                            </div>
                            <span>FELICITACIONES!</span> HAS COMPLETADO LA TRIVIA
                        </div>
                        <div class="bottom">
                        Comunicaremos el resultado de los ganadores entre el {{ ruffle.dateEnd|date_modify("+2 day")|date('d/m/Y') }} y el {{ ruffle.dateEnd|date_modify("+5 day")|date('d/m/Y') }}
                        </div>
                    </h2>
                </div>

                <div class="results">
                    {% for pregunta in ruffle.mchoice %}
                        <div class="qa-content col-sm-12 col-md-4">
                            <div class="question question-{{ loop.index }}"> <p></p> </div>
                            <div class="answer answer-{{ loop.index }}">
                                <div class="answer-text">
                                    <span>{{ loop.index }}.</span> <span></span>
                                </div>
                                <div class="answer-icon">
                                    <img class="hidden" src="{{ asset('dist/images/right.png') }}" alt="">
                                    <img class="hidden" src="{{ asset('dist/images/wrong.png') }}" alt="">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="exit-cont">
                    <a href="{{ path('homepage') }}" class="trivia-btn">Salir </a>
                </div>

            </div>
        {% endif %}


    </div>


{% endblock %}

{% block body_scripts_optional %}

<script>

    {#INTERACCION#}
    var interval;
    var questionNumber = '';
    var toSend = {responded:''};

    $('.content1 .beforeplay .trivia-btn').click(function (e) {
        e.preventDefault();

        if($('input[type=checkbox]').is(':checked')){

            if( "{{ ruffle.isDirect }}" ){
                $.post( "{{ path('api_ruffle_start', {ruffle:ruffle.id}) }}", function(data) {
                    $('.content1').css('display','none');
                    $('.content3-finish').css('display','flex');
                }).fail(function(data, textStatus, xhr) {
                    alert(data.responseJSON.data.message);
                    return;
                });
            }else{

                $.post( "{{ path('api_ruffle_start', {ruffle:ruffle.id}) }}", function(data) {
                    $('.content1').css('display','none');
                    $('.content2').css('display','flex');
                    $('.content2 .trivia-btn').addClass('disabled');

                    $('.answer-input input[type=radio]').change(function(){
                        $('.content2 .trivia-btn').removeClass('disabled');
                    });
                    // Timer
                    var timer2 = $('.timegiven').text() + ":00";
                    interval = setInterval(function() {
                        var timer = timer2.split(':');
                        var minutes = parseInt(timer[0], 10);
                        var seconds = parseInt(timer[1], 10);
                        --seconds;
                        minutes = (seconds < 0) ? --minutes : minutes;
                        if (minutes < 0) clearInterval(interval);
                        seconds = (seconds < 0) ? 59 : seconds;
                        seconds = (seconds < 10) ? '0' + seconds : seconds;
                        //minutes = (minutes < 10) ?  minutes : minutes;
                        $('.time .timer').html(minutes + ':' + seconds);
                        timer2 = minutes + ':' + seconds;
                        if(timer2 == '0:00'){
                            $('.content2').css('display','none');
                            $('.content3-notime').css('display','flex');
                            $('.content2 .trivia-btn').removeClass('disabled');
                        }
                    }, 1000);

                }).fail(function(data, textStatus, xhr) {
                    alert(data.responseJSON.data.message);
                    return;
                });
            }

        }else{
            alert("Debe aceptar los términos y condiciones antes de continuar.");
        }

    });

    $('.answer-input input[type=radio]').change(function(){
        toSend = {responded: $(this).val()};
        $('.content2 .trivia-btn').removeClass('disabled');
    });

    $('.content2 .trivia-btn').click(function (e) {
        e.preventDefault();
        $(this).addClass('disabled');

        if("{{ ruffle.isTrivia }}"){

            var current = $(this).parent().parent();
            var next = $(this).attr('href');
            var currentTime = $(this).parent().parent().attr('id');
            questionNumber = document.querySelector('#' + currentTime + ' .xofy').innerText.split(' de ');

            $.post( "{{ path('api_ruffle_respond_multiple_choice', {ruffle:ruffle.id}) }}", JSON.stringify(toSend) , function(data) {

                if(questionNumber[0] == questionNumber[1]){
                    clearInterval(interval);
                    var results = document.querySelector('.results');
                    var cont = 1;
                    var response = data.data.message.map(function(item){
                        return {"q":item.question,"r":item.answer,"is":item.right};
                    });

                    for(item in response){
                        results.querySelector('.qa-content .question-' + cont + ' p').innerHTML = "P" + cont + ": " + response[item].q;
                        results.querySelector('.qa-content .answer-' + cont + ' .answer-text').append(response[item].r);

                        if(response[item].is){
                            results.querySelector('.qa-content .answer-' + cont + ' .answer-icon :first-child').classList.remove('hidden');
                        }else{
                            results.querySelector('.qa-content .answer-' + cont + ' .answer-icon  :last-child').classList.remove('hidden');
                        }

                        cont++;
                    }

                    $('.content2').css('display','none');
                    $('.content3-finish').css('display','flex');

                     return;

                }else{
                    $(current).css('display','none');
                    $(next).removeClass('hidden');
                }

            })
            .fail(function(data, textStatus, xhr) {
                alert(data.responseJSON.data.message[0]);
                return;
            });

        }
        $('.answer-input input[type=radio]').each(function(){
            $(this).prop('checked', false);
            $('.content2 .trivia-btn').addClass('disabled');
        });

    });

</script>

{% endblock %}