{% extends '::base.html.twig' %}

{% block page_class %}homepage{% endblock %}
{% block page_content %}
    <div class="container birthdays-full">

        <div class="row header_image" style="margin-bottom: 25px" >
            <div class="col-lg-12 col-md-12 col-sm-12" style="background-image: url({{ asset('dist/images/puma/header-news.png') }})">
                <img class="img_backHeader" src="{{ asset('dist/images/puma/header-news.png') }}">
                <h1 class="title_header bold" style="position:absolute; color: white;">
                    Próximos Cumpleaños
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="birthdays-home">
                    <div class="title birth">
                        <div class="icon-home birthdays"></div>
                        <p>
                            Próximos Cumpleaños
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12"><h3 class="text-uppercase " style="font-size: 22px">Mi lugar de trabajo</h3></div>
            {% for birth_day in birthDaysSameStore %}
                <div class="col-md-4">
                    <div class="row-birth flex align-center">
                        {% set avatar = birth_day.employee.profile.avatar %}
                        <div class="birth-photo">
                            <img src="{{ asset(avatar ? avatar.webPath : 'dist/images/empty-avatar.png') }}"
                                 alt="" class="img-circle img-responsive empty-avatar">
                        </div>
                        <div class="birth-txt">
                            <p class="nomargin"> {{ birth_day.employee.profile.name|capitalize }} </p>
                            <p class="nomargin"> {{ birth_day.employee.category }} </p>
                            {#{{ dump(birth_day) }}#}
                            <p class="nomargin">
                                {{ birth_day.employee.profile.birthDay|localizeddate('full', 'none', 'es', null, 'd') }}
                                {{ birth_day.employee.profile.birthDay|localizeddate('full', 'none', 'es', null, 'MMM')|capitalize }}|
                                ({{ birth_day.employee.profile.birthDay|age }})</p>
                        </div>
                        {#<div class="birth-cta">#}
                        {#<button class="btn btn-primary sm">Saludar</button>#}
                        {#</div>#}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-xs-12"><h3 class="text-uppercase " style="font-size: 22px">OTROS</h3></div>
            {% for birth_day in birthDaysOtherStore %}
                <div class="col-md-4">
                    <div class="row-birth flex align-center">
                        {% set avatar = birth_day.employee.profile.avatar %}
                        <div class="birth-photo">
                            <img src="{{ asset(avatar ? avatar.webPath : 'dist/images/empty-avatar.png') }}"
                                 alt="" class="img-circle img-responsive empty-avatar">
                        </div>
                        <div class="birth-txt">
                            <p class="nomargin"> {{ birth_day.employee.profile.name|capitalize }} </p>
                            <p class="nomargin"> {{ birth_day.employee.category }} </p>
                            {#{{ dump(birth_day) }}#}
                            <p class="nomargin">
                                {{ birth_day.employee.profile.birthDay|localizeddate('full', 'none', 'es', null, 'd') }}
                                {{ birth_day.employee.profile.birthDay|localizeddate('full', 'none', 'es', null, 'MMM' )|capitalize}} |
                                ({{ birth_day.employee.profile.birthDay|age }})</p>
                        </div>
                        {#<div class="birth-cta">#}
                        {#<button class="btn btn-primary sm">Saludar</button>#}
                        {#</div>#}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

