{% extends '::base.html.twig' %}


{% block page_class %}homepage{% endblock %}
{% block page_content %}
    <div class="container">
        <div class="row ">
            <div class="col-xs-12 preSlider">
                {% if slider %}
                    <div class="slider-home owl-carousel">
                        {% for slide in slider %}

                            {% if slide.url %}
                                <a href="{{ slide.url }}" title="{{ slide.url }}"
                                   style="display: block;height: 0;background: url({{ asset(slide.file.webPath) }}) center / cover no-repeat scroll;padding-bottom: 33.57%;cursor: pointer">
                                </a>
                            {% else %}
                                <span style="display: block;height: 0;background: url({{ asset(slide.file.webPath) }}) center / cover no-repeat scroll;padding-bottom: 33.57%;"></span>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% else %}
                    <img src="{{ asset('dist/images/home-hero2.jpg') }}" alt="Bienvenidos!"
                         class="home-hero-img center-block">
                {% endif %}
            </div>
        </div>
{#        Aqui va el home Destacado#}
        <div class="row">
           <div class="scannerBlock col-12 container" style="margin-top: 10px;">
                {% if homeDestacados %}
                    {% set homeDestacado = homeDestacados[0] %}
                        {% if homeDestacado %}
                            {# {% if homeDestacado.url %} #}
                                <a href="{{ homeDestacado.url }}" title="{{ homeDestacado.url }}" class="destacado">
                                    <img src="{{ asset(homeDestacado.homeDestacadoFile.webPath) }}" alt="Bienvenidos!"
                                         class="home-hero-img  center-block">
                                </a>
                            {# {% endif %} #}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            {% if last2news|length >= 1 %}
            </div>
            <div class="col-lg-12">
            {% else %}
            <div class="hidden">
            {% endif %}
                <div class="news-home container">
                    <div class="title">
                        <h4>Novedades</h4>
                    </div>
                    <div class="inner">
                        {% if last2news|length >= 1 %}
                            <div class="row">
                                {% for news in last2news %}
                                    <div class="news-home-new" id="{{ news.id }}" style="background-image: url('{{ asset(news.mainimage.webPath) }}')">

                                        <a class="title-link" href="{{ path('frontend_news_show',{id:news.id}) }}" >
                                            <img src="{{ asset(news.mainimage.webPath) }}" />
                                            <div class="new-title bold" style="font-size:10px;">
                                                <p>{{ news.title }}</p>
                                             </div>
                                        </a>

                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <h2 class="bold"> NO SE HAN ENCONTRADO NOVEDADES </h2>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% set hasBirthdays = birthDaysSameStore|length > 0 or birthDaysOtherStore|length > 0 %}
            {% set birthDaysSameStore = [] %}
            {% set hasBirthdays = 0 %}
            {% set hasRuffle = ruffle|length >= 1 %}

            {% if hasRuffle %}
                <div class="container" >
                    <div class="row">
                    {% if hasBirthdays %}
                        <div class="col-lg-8 col-md-12">
                    {% else %}
                        <div class="col-lg-12 col-md-12">
                    {% endif %}
                        <div class="ruffles-home">
                            <div class="title draws">
                                <div class="icon-home draws"></div>
                                <p>Sorteos</p>
                            </div>
                            <div class="inner">
                                <div class="image-cont" style="background-image: url({{ asset(ruffle.secImage.webPath) }})">
                                    <img src="{{ asset(ruffle.secImage.webPath) }}" class="img-sorteo"/>
                                </div>
                                <a href="{{ path('frontend_ruffle_view') }}" class="concursar">Haz Click Aquí » </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    {% if hasBirthdays %}
                        <div class="col-lg-4 col-md-12">
                            <div class="birthdays-home">
                                <div class="birth4">
                                    <div class="title birth">
                                        <div class="icon-home birthdays"></div>
                                        <p>
                                            Próximos Cumpleaños
                                            <span class="badge">{{ birthDaysSameStore|length + birthDaysOtherStore|length }}</span>
                                            <i class="fa fa-angle-right def" aria-readonly="true"></i>
                                        </p>
                                    </div>
                                    <div class="inner">
                                        {% if birthDaysSameStore|length >= 1 %}
                                            <h3 class="red-title-sm">Mi lugar de trabajo</h3>
                                            <div class="row bthsala">
                                                {% for birth_day in birthDaysSameStore %}
                                                    <div class="col-md-12">
                                                        <div class="row-birth align-center {{ loop.index > 2 ? 'hidden' }} ">
                                                            {% set avatar = birth_day.employee.profile.avatar %}
                                                            <div class="birth-pt">
                                                                <div class="birth-photo">
                                                                    <img src="{{ asset(avatar ? avatar.webPath : 'dist/images/empty-avatar.png') }}" alt="">
                                                                </div>
                                                                <div class="birth-txt">
                                                                    <p class="nomargin"> {{ birth_day.employee.profile.name|capitalize }} </p>
                                                                    <p class="nomargin"> {{ birth_day.employee.category }} </p>
                                                                    <p class="nomargin">
                                                                        {{ birth_day.employee.profile.birthDay|localizeddate('full', 'none', 'es', null, 'd') }}
                                                                        {{ birth_day.employee.profile.birthDay|localizeddate('full', 'none', 'es', null, 'MMM' )|capitalize }}
                                                                        |
                                                                        ({{ birth_day.employee.profile.birthDay|age }})</p>
                                                                </div>
                                                            </div>
                                                            <div class="birth-cta">
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <h3 class="red-title-sm">Otros</h3>
                                            <div class="row bthotros">
                                                {% for birth_day in birthDaysOtherStore %}
                                                    <div class="col-md-12">
                                                        <div class="row-birth flex align-center {{ loop.index > 2 ? 'hidden' }}">
                                                            {% set avatar = birth_day.employee.profile.avatar %}
                                                            <div class="birth-pt">
                                                                <div class="birth-photo">
                                                                    <img src="{{ asset(avatar ? avatar.webPath : 'dist/images/empty-avatar.png') }}" alt="">
                                                                </div>
                                                                <div class="birth-txt">
                                                                    <p class="nomargin"> {{ birth_day.employee.profile.name|capitalize }} </p>
                                                                    <p class="nomargin"> {{ birth_day.employee.category }} </p>
                                                                    <p class="nomargin">
                                                                        {{ birth_day.employee.profile.birthDay|localizeddate('full', 'none', 'es', null, 'd') }}
                                                                        {{ birth_day.employee.profile.birthDay|localizeddate('full', 'none', 'es', null, 'MMM' )|capitalize }}
                                                                        |
                                                                        ({{ birth_day.employee.profile.birthDay|age }})</p>
                                                                </div>
                                                            </div>
                                                            <div class="birth-cta">
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            <h3 class="red-title-sm">No hay cumpleaños para mostrar</h3>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% if birthDaysSameStore|length > 0 or birthDaysOtherStore|length > 0 %}
                            <div class="text-center nooutline">
                                <a href="{{ path('aper_store_homepage_birthdays') }}" class="view-more">Ver más »</a>
                            </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            {% else %}
                 {% if birthDaysSameStore|length >= 1 %}
                    <div class="container">
                        <div class="col-lg-12">
                            <div class="birthdays-home">
                                <div class="birth4">
                                    <div class="title birth">
                                        <div class="icon-home birthdays"></div>
                                        <p>
                                            Próximos Cumpleaños
                                            <span class="badge">{{ birthDaysSameStore|length + birthDaysOtherStore|length }}</span>
                                            <i class="fa fa-angle-right def" aria-readonly="true"></i>
                                        </p>
                                    </div>
                                    <div class="inner">
                                        {% if birthDaysSameStore|length >= 1 %}
                                            <h3 class="red-title-sm">Mi lugar de trabajo</h3>
                                            <div class="row bthsala">
                                                {% for birth_day in birthDaysSameStore %}
                                                    <div class="col-lg-6 col-md-12">
                                                        <div class="row-birth align-center {{ loop.index > 2 ? 'hidden' }} ">
                                                            {% set avatar = birth_day.employee.profile.avatar %}
                                                            <div class="birth-pt">
                                                                <div class="birth-photo">
                                                                    <img src="{{ asset(avatar ? avatar.webPath : 'dist/images/empty-avatar.png') }}" alt="">
                                                                </div>
                                                                <div class="birth-txt">
                                                                    <p class="nomargin"> {{ birth_day.employee.profile.name|capitalize }} </p>
                                                                    <p class="nomargin"> {{ birth_day.employee.category }} </p>
                                                                    <p class="nomargin">
                                                                        {{ birth_day.employee.profile.birthDay|localizeddate('full', 'none', 'es', null, 'd') }}
                                                                        {{ birth_day.employee.profile.birthDay|localizeddate('full', 'none', 'es', null, 'MMM' )|capitalize }}
                                                                        |
                                                                        ({{ birth_day.employee.profile.birthDay|age }})</p>
                                                                </div>
                                                            </div>
                                                            <div class="birth-cta">
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <h3 class="red-title-sm">Otros</h3>
                                            <div class="row bthotros">
                                                {% for birth_day in birthDaysOtherStore %}
                                                    <div class="col-lg-6 col-md-12">
                                                        <div class="row-birth flex align-center {{ loop.index > 2 ? 'hidden' }}">
                                                            {% set avatar = birth_day.employee.profile.avatar %}
                                                            <div class="birth-pt">
                                                                <div class="birth-photo">
                                                                    <img src="{{ asset(avatar ? avatar.webPath : 'dist/images/empty-avatar.png') }}" alt="">
                                                                </div>
                                                                <div class="birth-txt">
                                                                    <p class="nomargin"> {{ birth_day.employee.profile.name|capitalize }} </p>
                                                                    <p class="nomargin"> {{ birth_day.employee.category }} </p>
                                                                    <p class="nomargin">
                                                                        {{ birth_day.employee.profile.birthDay|localizeddate('full', 'none', 'es', null, 'd') }}
                                                                        {{ birth_day.employee.profile.birthDay|localizeddate('full', 'none', 'es', null, 'MMM' )|capitalize }}
                                                                        |
                                                                        ({{ birth_day.employee.profile.birthDay|age }})</p>
                                                                </div>
                                                            </div>
                                                            <div class="birth-cta">
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            <h3 class="red-title-sm">No hay cumpleaños para mostrar</h3>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="text-center nooutline">
                                <a href="{{ path('aper_store_homepage_birthdays') }}" class="view-more">Ver más »</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                {% endif %}
                    </div>
            </div>

        </div>
    </div>
    
{% endblock page_content %}
{% block body_scripts_optional %}
    <script src="{{ asset('dist/scripts/vendor/owl-carousel.js') }}"></script>
    <script>
        $(function () {
            $('.owl-carousel').owlCarousel({
                items: 1,
                autoplay: true,
                loop: true,
                dots: true,
                autoplayHoverPause: true,
                autoplayTimeout: 5000,
                animateOut: 'fadeOut'
            });
        });
    </script>
{% endblock %}