{% extends '::base.html.twig' %}
{% block pagename %}surprise_targets{% endblock %}
{% block page_logo %}
    <div class="hidden-xs hidden-sm">
        {{ parent() }}
    </div>
    <div class="hidden-md hidden-lg incentivo">
        <img src="{{ asset('dist/images/puma/logo-puma.png') }}">
    </div>
{% endblock %}

{% set roleProfile = '' %}
{% set roleHeadOffice = false %}
{% set user = app.user %}
{% if user %}
{% for role in user.roles if not roleHeadOffice %}
    {% if role == 'ROLE_HEAD_OFFICE'%}
        {% set roleHeadOffice = true %}
        {% set roleProfile = role %}
    {% endif %}
{% endfor %}
{% else %}
    {% set roleHeadOffice = false %}
{% endif %}

{% set roleHeadOffice = false %}


{#
'PERFIL 1' => self::ROLE_HEAD_OFFICE,
'PERFIL 2' => self::ROLE_MANAGER,
'PERFIL 3' => self::ROLE_EMPLOYEE,
'PERFIL 4' => self::ROLE_MANAGER_GLOBAL,
'PERFIL 5' => self::ROLE_ADMIN,
#}



{% block page_content %}
    <style type="text/css">
        .header_bg .tabs {
            background: url({{ asset('dist/images/puma/header-compromiso.png') }}) no-repeat;
            height: 185px;
        }
    </style>
    <div class="container">
        {% if  roleHeadOffice == false %}
        <div class="row">
            <div class="col-xs-12 bases">
                <div class="header_bg">
                    <div class="tabs">
                        <div class="title col-lg-4 col-md-12 col-sm-12" >
                            {# <h2>Programa compromiso</h2> #}
                        </div>
                        <ul class="list-unstyled col-lg-7 col-md-12 col-sm-12">

                            {% if (user.maxRoleType == 'ROLE_HEAD_OFFICE') or (user.maxRoleType == 'ROLE_MANAGER') or (user.maxRoleType == 'ROLE_MANAGER_GLOBAL') %}
                                {% if app.request.attributes.get('_route') == 'aper_ranking_performance' %}
                                    <li class="active">
                                        <a href="{{ path('aper_ranking_performance') }}">
                                            <img src="{{ asset('dist/images/puma/metricas.png') }}" />
                                            <span class="visible-md visible-lg">Indicadores de Performance</span>
                                        </a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="{{ path('aper_ranking_performance') }}">
                                            <img src="{{ asset('dist/images/puma/metricas_off.png') }}" />
                                            <span class="visible-md visible-lg">Indicadores de Performance</span>
                                        </a>
                                    </li>
                                {% endif %}
                            {% endif %}

                            {% if (user.maxRoleType == 'ROLE_MANAGER') or (user.maxRoleType == 'ROLE_EMPLOYEE') or (user.maxRoleType == 'ROLE_MANAGER_GLOBAL') %}
                                {% if app.request.attributes.get('_route') == 'aper_ranking_mensuales_empleado' %}
                                    <li class="active">
                                        <a href="{{ path('aper_ranking_mensuales_empleado') }}">
                                            <img src="{{ asset('dist/images/puma/objetivos-red.png') }}" />
                                            <span class="visible-md visible-lg">Mis objetivos</span>
                                        </a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="{{ path('aper_ranking_mensuales_empleado') }}">
                                            <img src="{{ asset('dist/images/puma/objetivos.png') }}" />
                                            <span class="visible-md visible-lg">Mis objetivos</span>
                                        </a>
                                    </li>
                                {% endif %}
                            {% endif %}

                            {% if app.request.attributes.get('_route') == 'aper_ranking_mensualesanuales' or
                                  app.request.attributes.get('_route') == 'aper_ranking_anuales' %}
                                <li class="active">
                                    <a href="{{ path('aper_ranking_mensualesanuales') }}">
                                    <img src="{{ asset('dist/images/puma/bomba-red.png') }}" />
                                    <span class="visible-md visible-lg">Ranking de Estaciones</span>
                                    </a>
                                    </li>
                            {% else %}
                                <li>
                                    <a href="{{ path('aper_ranking_mensualesanuales') }}">
                                        <img src="{{ asset('dist/images/puma/bomba-gas.png') }}" />
                                        <span class="visible-md visible-lg">Ranking de Estaciones</span>
                                    </a>
                                </li>
                            {% endif %}

                            {% if (user.maxRoleType == 'ROLE_MANAGER') or (user.maxRoleType == 'ROLE_EMPLOYEE') or (user.maxRoleType == 'ROLE_MANAGER_GLOBAL') %}
                                {% if app.request.attributes.get('_route') == 'aper_ranking_mensualesanuales_empleados' or
                                      app.request.attributes.get('_route') == 'aper_ranking_anual_empleados' %}

                                <li class="active">
                                    <a href="{{ path('aper_ranking_mensualesanuales_empleados') }}">
                                        <img src="{{ asset('dist/images/puma/playeros-red.png') }}" />
                                        <span class="visible-md visible-lg">Ranking de Playeros</span>
                                    </a>
                                </li>

                                {% else %}

                                    <li>
                                        <a href="{{ path('aper_ranking_mensualesanuales_empleados') }}">
                                            <img src="{{ asset('dist/images/puma/playeros.png') }}" />
                                            <span class="visible-md visible-lg">Ranking de Playeros</span>
                                        </a>
                                    </li>

                                {% endif %}
                            {% endif %}

                            {# SUNRISE TARGET  #}
                             {% if user.maxRoleType == 'ROLE_EMPLOYEE' %}
                                {% if app.request.attributes.get('_route') == 'aper_target_surprise_home' %}
                                    <li class="active">
                                        <a href="{{ path('aper_target_surprise_home') }}">
                                            <img src="{{ asset('dist/images/puma/star-red.png') }}" />
                                            <span class="visible-md visible-lg">Objetivo sorpresa</span>
                                        </a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="{{ path('aper_target_surprise_home') }}">
                                            <img src="{{ asset('dist/images/puma/star.png') }}" />
                                            <span class="visible-md visible-lg">Objetivo sorpresa</span>
                                        </a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12">
                    <div class="loaderSpinner" style="display: none">
                        <div class="loader">
                            <span class="dot dot_1"></span>
                            <span class="dot dot_2"></span>
                            <span class="dot dot_3"></span>
                            <span class="dot dot_4"></span>
                        </div>
                    </div>
                    <div class="ajaxContent">
                        {% block surpriseTargetContent %}

                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    </div>
{% endblock page_content %}

{% block body_scripts_optional %}
    {{ parent() }}
    <script src="{{ asset('dist/scripts/vendor/animationNumber.js') }}"></script>
{% endblock %}

