
{% extends '::base.html.twig' %}

{% block page_header %}


    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Editar Categoría de Comunicaciones Internas'|trans,
    path: {
    index: {uri: path('aper_categorycomm_index')},
    },
    } only %}
{% endblock page_header %}

{% block page_content %}
    {{ form_start (form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.mainImage) }}


    {{ form_row(form.color,{ 'attr': {'style': 'width:80px' } })  }}

    <div class="col-sm-4">
        <input style="float:right;margin-right: 70px;" id="background-color" type="color" placeholder="Elija un color" value="#ff0000" readonly
               onchange="javascript:document.getElementById('categorycomm_color').value = document.getElementById('background-color').value;
                         javascript:document.getElementById('categorycomm_color').style.backgroundColor= document.getElementById('background-color').value;"
        >
    </div>

    <br><br>
    {{ form_row(form.save) }}


    {{ form_end(form) }}
    <script>

        javascript:document.getElementById('categorycomm_color').style.backgroundColor = "{{ color }}";
        javascript:document.getElementById('background-color').value = "{{ color }}";
        {#document.querySelector("#categorycomm_color").addEventListener('focus', function(e){#}
            {#this.setAttribute('disabled','true');#}
            {#this.style.backgroundColor = "{{ color }}";#}

        {#});#}


    </script>
    <style>
        form .thebuttomcontent a {
            background: transparent !important;
        }
    </style>
{% endblock %}


