{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'page_header.aper.categories_comm.list.title'|trans,
    path: {
    new: {uri: path('aper_categorycomm_create')},
    },
    } only %}
{% endblock page_header %}


{% block page_content %}
    <div class="table-responsiv5568e">

        {% if filter_form is defined %}
            {{ grid_filter_form(filter_form) }}
        {% endif %}

        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>{{ 'Name'|trans }}</th>
                <th>{{ 'Color' }}</th>
                <th>{{ 'Imagen' }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for categories in pagination %}
                <tr data-id="{{ categories.id }}">
                    <td>{{ categories.name }}</td>
                    <td style="background-color:{{ categories.color }}"></td>
                    <td> 
                        {% if(categories.mainImage and categories.mainImage.webPath) %}
                            <img src={{ asset(categories.mainImage.webPath) }} title="Download" alt="Download" style="max-width:256px; max-height:180px">
                        {% endif %}
                    <td>
                        <a href="{{ path('aper_categorycomm_edit', {id: categories.id }) }}"
                           class="btn">{{ 'actions.edit.label'|trans }}</a>
                        <a href="{{ path('aper_categorycomm_delete', {id: categories.id }) }}"
                           class="btn btn btn-danger btn-delete"
                           onclick="return confirm('{{ 'Desea eliminar la categoría?' }}')">{{ 'actions.delete.label'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <br>

        {{ grid_pagination(pagination) }}

    </div>
{% endblock page_content %}