{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Nueva Categoría de Comunicación Interna'|trans,
    path: {
    index: {uri: path('aper_categorycomm_index')},
    },
    } only %}

{% endblock page_header %}
{% block head_javascripts %}
    {{ parent() }}
{% endblock %}

{% block page_content %}
    {{ form_start (form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.mainImage) }}
        {{ form_row(form.color,{ 'attr': {'style': 'width:100px'} })  }}
        <div class="col-sm-4">

            <input style="float:right;margin-right: 73px;" id="background-color" type="color" placeholder="Elija un color" value="#ff0000"
                   onchange="javascript:document.getElementById('categorycomm_color').value = document.getElementById('background-color').value;
                         javascript:document.getElementById('categorycomm_color').style.backgroundColor= document.getElementById('background-color').value;">

        </div><br>
        {{ form_row(form.save) }}
    {{ form_end(form) }}

{% endblock %}
