{% extends '@SurpriseTarget/index.html.twig' %}


{% block surpriseTargetContent %}

<div class="row">
        <div class="col-md-12" >
              <h3 class="title text-center titulo-surprise">Objetivo sorpresa</h3>
        </div>
</div>
<div class="row">
        <div class="col-md-12" >
              <div class="text-target-description">
                <p class="text-center text-body-surprise">
                {% if targets %}
                  En esta sección encontrarás tu objetivo sorpresa. <br> Estos objetivos irán cambiando y te los iremos comunicando.
                {% else %}
                  Tu estación no tienen objetivos sorpresa asignados
                {% endif %}
                </p>
              </div>
        </div>
</div>

{#{dump(targets)}#}
{% for target in targets %}
  <div class="row">
    {% if target.date_to|date('U') > 'now'|date('U')  %}
    <!-- SI ESTÁ VIGENTE -->
      <div class="col-md-12 ">
        <div class=" target-container">
          <div class="row">
            <div class="col-md-4">
              <img class="itemImage" src="{{ asset('/uploads/target_img/' ~ target.file) }}">
            </div>
            <div class="col-md-3">
              <h3 class="itemDescription">  {% if target.is_special == 1 %} <i class="far fa-star"></i> {% endif %}{{target.name}}</h3>
            </div>
            <div class="col-md-4" style="margin-top:2%;">
            {% if (user.maxRoleType == 'ROLE_MANAGER') %}
              <!-- SI ES GERENTE -->
              {% if target.is_special == 0 %}
                 <!-- SI ES COMUN -->
                <a class="itemButton" href="{{ path('aper_target_surprise_front_manager_target_detail', {id: target.idAsignacion}) }}">Ingresar</a>
              {% else %}
                <!-- SI ES ESPECIAL -->
                <a class="itemButton" href="{{ path('aper_target_surprise_front_manager_target_performance', {id: target.idAsignacion}) }}"> Ingresar</a>
              {% endif %}
            {% else %}

              {% if user.maxRoleType == 'ROLE_HEAD_OFFICE' or user.maxRoleType == 'ROLE_MANAGER_GLOBAL'  %}
                <a class="itemButton" href="{{ path('aper_target_surprise_front_commercial_target_detail', {id: target.idAsignacion}) }}">Ingresar </a>
              {% else %}
                <!-- SI ES USUARIO COMUN -->
                <a class="itemButton" href="{{ path('aper_target_surprise_front_employee_target_detail', {id: target.idAsignacion}) }}">Ingresar</a>
              {% endif %}
            {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% else %}
    <!-- NO VIGENTE -->
      <div class="col-md-12 ">
        <div class=" target-container historico">
          <div class="row">
            <div class="col-md-4">
              <img class="itemImage" src="{{ asset('/uploads/target_img/' ~ target.file) }}">
            </div>
            <div class="col-md-3">
              <h3 class="itemDescription"> {{target.name}}</h3>
            </div>
            <div class="col-md-4  " style="color: #fff;
              margin-top:2%;
              font-weight: 700;">
            {% if (user.maxRoleType == 'ROLE_MANAGER')%}
              <a  style="margin-left:70%" href="{{ path('aper_target_surprise_front_manager_target_performance', {id: target.idAsignacion}) }}"> Ver resultados</a>
            {% else %}
              <a  style="margin-left:70%" href="{{ path('aper_target_surprise_front_employee_target_detail', {id: target.idAsignacion}) }}"> Ver resultados</a>
            {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{% endfor %}


{% endblock %}
