{% extends '@SurpriseTarget/index.html.twig' %} {% block surpriseTargetContent%}

<style type="text/css">
  .selectMonthYear {
    margin: 15px auto;
  }
  .selector {
    margin: 25px auto;
  }
  .active_button {
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    background: #0b6349;
    border: solid 2px #0b6349;
  }
  .inactive_button {
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    background-color: transparent;
    border: solid 2px #0b6349;
  }

  .progressInfo .title {
    padding: 15px;
  }

  .progressInfo .myStar .myRank {
    font-size: 20px;
    line-height: 36px;
  }
  .progressInfo .myStar .myRank.default {
    line-height: 27px;
    font-size: 12px;
  }
  .title.floatTitle {
    width: 80%;
    float: left;
  }
  .floatZone {
    float: right;
    padding: 10px;
    margin: 5px;
    width: 15%;
  }

  a,
  a:hover {
    color: unset;
    text-decoration: none !important;
  }

  .color-promedio {
    color: #6d6d6d !important;
  }

  .color-mayor {
    color: #00694b !important;
  }
  .color-menor {
    color: #bd0511 !important;
  }
  .bg-color-promedio {
    background-color: #6d6d6d !important;
  }
  .bg-color-mayor {
    background-color: #00694b !important;
  }
  .bg-color-menor {
    background-color: #bd0511 !important;
  }
  .indice {
    font-size: 16px;
    line-height: 14px;
  }
  .cuadrado {
    width: 13px;
    height: 13px;
    display: inline-block;
  }

  .radial-graph-big,
  .shape-big,
  .mask-big,
  .fill-big {
    width: 257px;
    height: 257px;
    border-radius: 50%;
    position: relative;
  }
  .shape-big,
  .mask-big,
  .fill-big {
    position: absolute;
    background-color: #6e6e6e;
  }

  .mask-big,
  .fill-big {
    -webkit-backface-visibility: hidden;
    transition: transform 1s;
    border-radius: 50%;
  }

  .mask-big {
    clip: rect(0px, 257px, 257px, 128.5px);
  }
  .fill-big {
    clip: rect(0px, 128.5px, 257px, 0px);
    background-color: #50e3c2;
  }
  .cutout-big {
    margin-left: 7px;
    margin-top: 7px;
    width: 242px;
    height: 242px;
    position: absolute;
    background-color: #dedede;
    border-radius: 50%;
  }

  .radial-graph-medium,
  .shape-medium,
  .mask-medium,
  .fill-medium {
    width: 171px;
    height: 171px;
    border-radius: 50%;
    position: relative;
  }
  .shape-medium,
  .mask-medium,
  .fill-medium {
    position: absolute;
    background-color: #6e6e6e;
  }

  .mask-medium,
  .fill-medium {
    -webkit-backface-visibility: hidden;
    transition: transform 1s;
    border-radius: 50%;
  }

  .mask-medium {
    clip: rect(0px, 171px, 171px, 85.5px);
  }
  .fill-medium {
    clip: rect(0px, 85.5px, 171px, 0px);
    background-color: #50e3c2;
  }

  .cutout-medium {
    margin-left: 7px;
    margin-top: 7px;
    width: 155px;
    height: 155px;
    position: absolute;
    background-color: #dedede;
    border-radius: 50%;
  }
  a:hover .cutout-medium {
    margin-left: 10px;
    margin-top: 10px;
    width: 151px;
    height: 151px;
    position: absolute;
    background-color: #dedede;
    border-radius: 50%;
  }

  .mask.full-mask,
  .fill {
    /*
            For a value of 90%
            0.9 * 360  / 2
          */
    transform: rotate(162deg);
  }
  .fill.shim {
    /*
            For a value of 90%
            0.9 * 360
          */
    transform: rotate(324deg);
  }

  /*
        45 = 81 y 162
        78 = 140.4 y 280.8
        */

  .data-prom-big {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    font-size: 34px;
    color: #6d6d6d;
  }
  .data-prom-medium {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    font-size: 30px;
    color: #6d6d6d;
  }

  .progressBlock {
    margin-top: 55px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
  }
  .loadsales {
    margin-top: 20%;
    margin-left: 40%;
  }
  .progressBlock .col-11-per {
    width: 14%;
  }
  .progressBlock .progressItem {
    text-align: center;
  }
  .progressBlock .progressItem h4 {
    font-size: 15px;
    font-weight: normal;
    color: #6d6d6d;
    display: block;
    text-align: center;
    width: 120%;
    margin-left: -10%;
    height: 27px;
  }
  .progressBlock .progressItem.more-height h4 {
    height: 60px;
  }
  .progressBlock .progressItem .bar {
    display: block;
    width: 80%;
    height: 15px;
    margin: 10px auto 15px;
    background-color: #6d6d6d;
    position: relative;
    z-index: 1;
  }
  .progressBlock .progressItem .bar .prog {
    position: absolute;
    z-index: 2;
    height: 15px;
  }
  .progressBlock .progressItem .result {
    font-size: 32px;
    font-weight: bold;
    display: block;
    text-align: center;
  }
  .progressBlock .progressItem .promedio {
    font-size: 28px;
    font-weight: normal;
    color: #6d6d6d;
    display: block;
    text-align: center;
    border-top: 1px solid #6d6d6d;
    padding: 5px 0;
    width: 80%;
    margin: 0 auto;
  }

  .progressStations .title {
    font-size: 25px;
    font-weight: bolder;
    max-width: 80%;
    margin: 30px auto;
  }
  .incentive-more {
    padding-top: 15px;
  }
  .incentive-more a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #6f6f6f;
    display: block;
    margin: 0;
    text-align: center;
  }
  .incentive-more a span {
    color: #ffffff;
    font-size: 50px;
    line-height: 50px;
    font-weight: bold;
  }
  .incentive-more a:hover span {
    color: #e5e5e5;
  }
  .progressInfo .myWorkPlace {
    margin-left: 35px;
  }
  .progressInfo .myWorkPlace .where {
    font-weight: normal;
    color: #6e6e6e;
    font-size: 18px;
  }
  .progressInfo .myWorkPlace .where span {
    font-weight: bold;
    color: #02684b;
  }
  .progressInfo .myStar .myRank.default {
    width: 60px;
    height: 60px;
    line-height: 56px;
    font-size: 25px;
  }

  @media (max-width: 900px) {
    .progressBlock {
      display: block;
    }
    .progressBlock .col-11-per {
      float: left;
      width: 32%;
      margin-bottom: 20px;
    }
    .progressBlock .progressItem .result {
      font-size: 22px;
    }
    .progressBlock .progressItem .promedio {
      font-size: 18px;
    }
    .progressBlock .progressItem h4 {
      height: 45px;
    }
    .progressStations .title {
      max-width: 100%;
    }
    .progressInfo .myStar .myRank.default {
      width: 40px;
      height: 40px;
      line-height: 36px;
      font-size: 15px;
    }
    .progressInfo .data {
      margin-left: -7%;
    }
    body[data-page="incentives"] .progressInfo .where.mobile {
      right: unset;
      left: 18%;
      color: #6e6e6e;
      font-size: inherit;
      text-align: left;
      top: 14px;
      font-weight: normal;
    }
    body[data-page="incentives"] .progressInfo .where.mobile span {
      font-weight: bold;
      color: #02684b;
    }
    .incentive-more {
      padding-top: 15px;
      float: right;
      padding: 49px 0 0 10px;
      margin-right: -7%;
    }
    .incentive-more a {
      width: 30px;
      height: 30px;
    }
    .incentive-more a span {
      font-size: 30px;
      line-height: 30px;
    }
    .progressBar .points {
      top: 50px;
    }
  }

  .data-big {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 12.5%;
    left: 12.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    font-size: 72px;
    font-weight: bold;
    letter-spacing: -4px;
  }
  .data-medium {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 12.5%;
    left: 12.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    font-size: 52px;
    font-weight: bold;
    letter-spacing: -4px;
  }
  .data-canal-medium {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    font-size: 19px;
    line-height: 24px;
    color: #6d6d6d;
    padding-top: 183px;
    text-align: center;
    text-decoration: none !important;
  }
  .data-canal-medium .normal {
    display: block;
  }
  .data-canal-medium .color {
    display: none;
    font-weight: bold;
  }
  .active .data-canal-medium .normal {
    display: none;
  }
  .active .data-canal-medium .color {
    display: block;
  }
  .ml4 {
    margin-left: 4%;
  }
  .pt4 {
    padding-top: 4%;
  }
  .circle-line {
    position: absolute;
    bottom: 150px;
    height: 5px;
    background-color: #6d6d6d;
    width: 30%;
    margin-left: 10%;
  }
  .rankingHeader {
    position: relative;
    padding-bottom: 30px;
    /*border-bottom: 13px #a9a9a9 solid;*/
  }
  .rankingHeaderGraph {
    position: relative;
    padding-bottom: 30px;
    border-bottom: 13px #a9a9a9 solid;
    background-color: #dedede;
    /*display: flex;*/
  }

  .graph .border {
    display: none;
  }
  .graph.active .border {
    height: 13px;
    width: 100%;
    position: relative;
    top: 73px;
    display: block;
  }
  .graph.active .arrow {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    margin: 0 auto;
  }
  .graph.active .arrow.arrow-color-mayor {
    border-top: 25px solid #00694b;
  }
  .graph.active .arrow.arrow-color-menor {
    border-top: 25px solid #bd0511;
  }

  .content-category {
    display: none;
  }
  .content-category.active {
    display: block;
  }
  .descripcioninforme {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
    font-size: 16px;
  }

  @media (max-width: 900px) {
    body[data-page="incentives"] .rankingHeader .title {
      max-width: 100%;
    }
    .rankingHeader {
      border: none;
    }
    .floatZone {
      width: 55%;
    }
    .descripcioninforme {
      width: 100%;
    }

    .ml4 {
      margin-left: 0px;
    }

    .radial-graph-big,
    .shape-big,
    .mask-big,
    .fill-big {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      position: relative;
    }
    .shape-big,
    .mask-big,
    .fill-big {
      position: absolute;
      background-color: #6e6e6e;
    }

    .mask-big,
    .fill-big {
      -webkit-backface-visibility: hidden;
      transition: transform 1s;
      border-radius: 50%;
    }
    .mask-big {
      clip: rect(0px, 200px, 200px, 100px);
    }
    .fill-big {
      clip: rect(0px, 100px, 200px, 0px);
      background-color: #50e3c2;
    }
    .cutout-big {
      margin-left: 7px;
      margin-top: 7px;
      width: 186px;
      height: 186px;
      position: absolute;
      background-color: #dedede;
      border-radius: 50%;
    }

    .radial-graph-medium,
    .shape-medium,
    .mask-medium,
    .fill-medium {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      position: relative;
    }
    .shape-medium,
    .mask-medium,
    .fill-medium {
      position: absolute;
      background-color: #6e6e6e;
    }

    .mask-medium,
    .fill-medium {
      -webkit-backface-visibility: hidden;
      transition: transform 1s;
      border-radius: 50%;
    }
    .mask-medium {
      clip: rect(0px, 80px, 80px, 40px);
    }
    .fill-medium {
      clip: rect(0px, 40px, 80px, 0px);
      background-color: #50e3c2;
    }
    .cutout-medium {
      margin-left: 2.5px;
      margin-top: 2.5px;
      width: 75px;
      height: 75px;
      position: absolute;
      background-color: #dedede;
      border-radius: 50%;
    }
    a:hover .cutout-medium {
      margin-left: 5px;
      margin-top: 5px;
      width: 70px;
      height: 70px;
      position: absolute;
      background-color: #dedede;
      border-radius: 50%;
    }
    .data-prom-medium {
      font-size: 20px;
    }
    .data-medium {
      font-size: 30px;
    }
    .data-canal-medium {
      z-index: 10;
      font-size: 15px;
      line-height: 15px;
      padding-top: 96px;
    }

    .mobile-none {
      display: none;
    }

    .col-12 {
      width: 100%;
    }

    .rankingHeaderGraph {
      padding-bottom: 60px;
    }
    .rankingHeaderGraph .fl-m {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .rankingHeaderGraph .fl-m-r {
      width: 25%;
      float: left;
    }
    .rankingHeaderGraph .fl-m-r a {
      left: -8px;
      position: relative;
    }
  }
</style>

<!-- MODAL HISTORIAL DE CARGA-->
<div
  class="modal fade"
  id="stockHistoryModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="stockHistoryLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-loading">Cargando...</div>
      <div class="modal-body">
        <div class="progressInfo inner-container">
          <div class="row">
            <div class="col-md-12">
              <h2>Historial</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p id="nodata"></p>
              <ul id="historyList"></ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- FIN MODAL -->

<!-- MODAL CARGA DE STOCK -->
<div
  class="modal fade"
  id="loadStockModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="loadStockLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-loading">Cargando...</div>
      <div class="modal-body">
        <div class="progressInfo inner-container">
          <div class="row">
            <div class="col-md-9">
              <h2 style="color: #727272; font-weight: bold">Mis Ventas</h2>
            </div>
            <div class="col-md-3">
              <img
                src="{{asset('/uploads/target_img/' ~ file) }}"
                alt=""
                width="120px"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h3>Sumá tu venta y llegá a tu objetivo</h3>
              <p>
                Recordá que no verás impactado en tus objetivos hasta que tu
                superior valide tu carga.
              </p>
            </div>
          </div>

          <div
            class="row flex align-center justify-center"
            style="margin-top: 5%; margin-bottom: 5%"
          >
            <span style="font-weight: bold">{{ name }}</span
            ><input type="number" id="newStock" />
          </div>

          <div
            class="row flex align-center justify-center"
            style="margin-top: 5%; margin-bottom: 5%"
          >
            <button
              type="button"
              class="saveStockButton"
              id="saveStockButton"
              onclick="onConfirmSales()"
            >
              Confirmar Ventas
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- FIN MODAL CARGA STOCK -->

<div class="row rankingHeader notShow">
  <div class="col-md-12">
    <h2 class="title text-center color-promedio">Performance Objetivo Spot</h2>
  </div>

  <div class="col-md-9">
    <p class="color-promedio indice">
      <span class="cuadrado bg-color-promedio"></span> Mi objetivo
    </p>
    <p class="color-mayor indice">
      <span class="cuadrado bg-color-mayor"></span> Indicador objetivo alcanzado
    </p>
    <p class="color-menor indice">
      <span class="cuadrado bg-color-menor"></span> Indicador objetivo no
      alcanzado
    </p>
  </div>
</div>
{% set porc_dato1 = percent > 100? 360 : percent / 100 * 360 %} {% set
porc_dato2 = porc_dato1 / 2 %}
{% set
styleColor = percent >= 100? 'bg-color-mayor': 'bg-color-menor' %}
<div class="row rankingHeaderGraph notShow">
  <div class="circle-line mobile-none"></div>

  <div class="col-md-3 ml4 col-12 fl-m">
    <div class="data-prom-big">100%</div>
    <div class="radial-graph-big">
      <div class="shape-big">
        <div
          class="mask-big full-mask-big"
          style="transform: rotate({{ porc_dato2 }}deg)"
        >
          <div
            class="fill-big {{styleColor}}"
            style="transform: rotate({{ porc_dato2 }}deg)"
          ></div>
        </div>
        <div class="mask-big">
          <div
            class="fill-big {{styleColor}}"
            style="transform: rotate({{ porc_dato2 }}deg)"
          ></div>
          <div
            class="fill-big {{styleColor}} shim-medium"
            style="transform: rotate({{ porc_dato1 }}deg)"
          ></div>
        </div>
      </div>
      <div class="cutout-big">
        <div class="data-big color-menor">{{ percent }}%</div>
      </div>
    </div>
  </div>

  <div class="col-md-2 graph pt4 fl-m-r" id="graph_MYSTERYSHOPPER">
    <div class="data-prom-medium">{{ assigned }}</div>
    <a href="javascript:changeView('MYSTERYSHOPPER');">
      <div class="radial-graph-medium">
        <!-- SHAPE -->

        <div class="shape-medium">
          <div
            class="mask-medium full-mask-medium"
            style="transform: rotate({{ porc_dato2 }}deg)"
          >
            <div
              class="fill-medium {{styleColor}}"
              style="transform: rotate({{ porc_dato2 }}deg)"
            ></div>
          </div>
          <!-- MASK -->
          <div class="mask-medium">
            <div
              class="fill-medium {{styleColor}}"
              style="transform: rotate({{ porc_dato2 }}deg)"
            ></div>
            <div
              class="fill-medium {{styleColor}} shim-medium"
              style="transform: rotate({{ porc_dato1 }}deg)"
            ></div>
          </div>
        </div>
        <div class="cutout-medium color-menor">
          <div class="data-medium">
            <img
            style="
                object-fit: contain;
                width: 120px;
                height: 120px;"
              src="{{asset('/uploads/target_img/' ~ file) }}"
              alt=""
              width="120px"
            />
          </div>
        </div>
        <div class="data-canal-medium">
          <span
            class="normal {%if loaded > assigned %} totalSold-mayor {% else %} totalSold-menor {%endif%}"
            >{{ loaded }}</span
          >
        </div>
      </div>
    </a>
    <div class="border {{styleColor}}">
      <div class="arrow arrow-color-menor"></div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
    {#{dump(date_to, is_special)}#}
      {% if ( date_to|date('U') > 'now'|date('U') ) and is_special == "0" %}
      <button
        class="saveStockButton"
        type="button"
        onclick="openModalLoadStock()"
      >
        Cargar ventas
      </button>
      {% endif %}
    </div>
    <div class="row mt-2">
    {% if is_special == "0" %}
      <a href="#" onclick="openModalStockHistory()">Historial de cargas</a>
    {% endif %}
    </div>
  </div>
</div>

<style type="text/css"></style>

{% set catActive = true %}

<!-- Button trigger modal -->
<button
  type="button"
  id="launchModal"
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#estadisticasModal"
  style="display: none"
></button>

<style type="text/css">
  .modal-dialog {
    width: 60%;
    max-width: 1200px;
    background-color: #e5e5e5;
    border: 8px solid #00694b;
  }
  @media (max-width: 900px) {
    .modal-dialog {
      width: 95%;
    }
  }
  .modal-dialog .modal-header {
    border-bottom: unset;
    position: absolute;
    right: 0;
    z-index: 999;
  }
  .modal-dialog .modal-loading {
    display: block;
    text-align: center;
    padding: 200px;
  }
  .modal-dialog .modal-body {
    margin-top: 20px;
    display: none;
  }
  .modal-dialog .modal-content {
    box-shadow: unset;
    border-radius: 0px;
    background-color: #e5e5e5;
  }
  .modal-dialog .myWorkPlace {
    margin-left: 0px;
  }

  .modal-dialog .block-category {
    display: flex;
    align-items: center;
    height: 175px;
    flex-direction: row-reverse;
  }
  .modal-dialog .block-category h3 {
    font-weight: normal;
    color: #6e6e6e;
    font-size: 20px;
  }
  .modal-dialog .mt-negativo {
    margin-top: -35px;
  }
  .progressInfo .myWorkPlace .where {
  }
  .progressInfo .myWorkPlace .where small {
    font-size: 65%;
  }
  .modal-dialog .estadisticas {
    width: 100%;
    background-color: #ffffff;
    margin: 0 0 30px 0;
    padding: 40px 0 30px 0;
  }
  .modal-dialog .estadisticas.mistery {
    background-color: transparent;
    padding-top: 0px;
  }
  .modal-dialog .estadisticas .progressBlock {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px;
  }
  .modal-dialog .estadisticas.mistery .progressBlock {
    background-color: #ffffff;
    margin: 0 20px;
  }
  .modal-dialog .estadisticas .progressTitle {
    font-size: 18px;
    padding-top: 20px;
  }
  .modal-dialog .estadisticas .progressItem h4 {
    font-size: 26px;
    font-weight: bold;
    height: auto;
    width: 100%;
    margin: 0;
  }
  .modal-dialog .estadisticas .progressItem .bar {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .modal-dialog .estadisticas .porc_promedio {
    font-size: 24px;
    font-weight: normal;
    padding-top: 17px;
  }
  .modal-dialog .leyenda-calidad {
    display: none;
  }
  .modal-dialog .min-height-30 {
    min-height: 30px;
  }

  .modal-dialog .progressBlock.especial {
    background-color: #a9a9a9 !important;
    margin-top: 20px !important;
  }
  .modal-dialog .estadisticas .especial .porc_promedio {
    color: #ffffff !important;
  }
  .modal-dialog .hidespecial {
    display: none;
  }
  .modal-dialog .incentive-more {
    padding-top: 8px;
  }
  .modal-dialog .incentive-more .minus {
    line-height: 44px;
  }
</style>

<script type="text/javascript">

  let assigned = "{{assigned}}";

  console.log(assigned);
  if(assigned < 1){
    $('.rankingHeaderGraph').hide();
    $('.rankingHeader').html(`<center><h3>No tenes objetivos asignados para éste spot</h3></center>`);
  }

  const openModalLoadStock = () => {
    $(".modal-dialog .modal-loading").hide();
    $(".modal-dialog .modal-body").show();
    $("#loadStockModal").modal("show");
  };

  const buttonSpinner = (on) => {
    $("#saveStockButton").html(on ? "" : "Confirmar Ventas");

    $("#saveStockButton").prop('disabled', on);

    if (on) {
      $('#saveStockButton').addClass('saveStockButton-disabled').removeClass('.saveStockButton');
      $("#saveStockButton").append(
        `<span class="glyphicon glyphicon-refresh spinning"></span> Procesando...`
      );
    } else {
      $('#saveStockButton').removeClass('saveStockButton-disabled').addClass('.saveStockButton');
      $(".spinning").remove();
    }
  };

  const openModalStockHistory = () => {
    $("#stockHistoryModal").modal("show");
    $("#historyList").html("");

    let jsonData = {
      target_id: "{{target_id}}",
      assign_id_stock:  "{{assign_id_stock}}"
    };

    // Get Stocks loaded
    $.ajax({
      type: "GET",
      url: "{{ path('aper_target_surprise_api_employee_get_my_sales') }}",
      data: jsonData,
      dataType: "json",
      beforeSend: function () {
        buttonSpinner(true);
      },
      success: function (data, textStatus, xhr) {
        $(".modal-dialog .modal-loading").hide();
        $(".modal-dialog .modal-body").show();
        if (data.history.length == 0) {
          $("#nodata").html("Todavía no cargaste ninguna venta");
          return;
        } else {
          data.history.forEach((sale) => {
            let created = new Date(sale.created_at);

            $("#historyList").append(`
              <li style='font-size:20px;'>Fecha: ${
                created.getDate() +
                "/" +
                created.getMonth() +
                1 +
                "/" +
                created.getFullYear()
              } :Cantidad: ${sale.stock_loaded} - ${
              sale.rejected == 1
                ? "<span style='color:#d52424;font-weight:bold;'>(Rechazada)</span>"
                : sale.confirmed_by_manager == 1
                ? "<span style='color:#37c137;font-weight:bold;'>(Confirmada)</span>"
                : "<span style='color:#4a3b0f;font-weight:bold;'>(Pendiente de confirmación)</span>"
            }</li>
            `);
          });
        }
      },
      error: function (XMLHttpRequest, textStatus, errorThrown) {
        $("#stockHistoryModal").modal("hide");
        toastr.error(
          "Ocurrió un problema al obtener el historial de ventas cargadas",
          `Error`
        );
        $("*[class*='toast-top-right']")
          .removeClass("toast-top-right")
          .addClass("toast-top-center");
      },
    });

    buttonSpinner(false);
  };

  const onConfirmSales = () => {
    // Ocultar modal

    let newStock = $("#newStock").val();

    if (newStock < 1 || newStock > 999999) {
      $("#newStock").focus();
      return;
    }

    let jsonData = {
      target_id: "{{target_id}}",
      newStock,
      assign_id_stock: "{{assign_id_stock}}"
    };

    $.ajax({
      type: "POST",
      url: "{{ path('aper_target_surprise_api_employee_load_sales') }}",
      data: jsonData,
      dataType: "json",
      beforeSend: function () {
        buttonSpinner(true);
      },
      success: function (data, textStatus, xhr) {
        if (data.message) {
          $("#loadStockModal").modal("hide");
          $("#newStock").val(0);
          toastr.success("Ventas cargadas correctamente", `¡Guardado!`);
          $("*[class*='toast-top-right']")
            .removeClass("toast-top-right")
            .addClass("toast-top-center");
        } else {
          toastr.error("Ocurrió un problema al guardar las ventas", `Error`);
          $("*[class*='toast-top-right']")
            .removeClass("toast-top-right")
            .addClass("toast-top-center");
        }
        buttonSpinner(false);
      },
      error: function (XMLHttpRequest, textStatus, errorThrown) {
        $("#loadStockModal").modal("hide");
        $("#newStock").val(0);
        toastr.error("Ocurrió un problema al guardar las ventas", `Error`);
        $("*[class*='toast-top-right']")
          .removeClass("toast-top-right")
          .addClass("toast-top-center");
        buttonSpinner(false);
      },
    });
  };
</script>

{% endblock %}
