{% extends '::base.html.twig' %}
{% block pagename %}develops{% endblock %}
{% block page_logo %}
    <div class="hidden-xs hidden-sm">
        {{ parent() }}
    </div>
    <div class="hidden-md hidden-lg develop">
        <img src="{{ asset('dist/images/puma/logo-puma.png') }}">
    </div>
{% endblock %}

{% set roleHeadOffice = false %}
{% set user = app.user %}
{% if user %}
    {% for role in user.roles if not roleHeadOffice %}
        {% if role == 'ROLE_HEAD_OFFICE'%}
            {% set roleHeadOffice = true %}
        {% endif %}
    {% endfor %}
{% else %}
    {% set roleHeadOffice = false %}
{% endif %}

{% block page_content %}
    <div class="container">

        <div class="row header_image">
            <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs">
                <img class="img_backHeader" src="{{ asset('dist/images/header_desarrolloD.jpg') }}">
            </div>
            <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                <img class="img_backHeader" src="{{ asset('dist/images/header_desarrolloM.jpg') }}">
            </div>
            <div class="develops-active-bg"></div>
        </div>

        <div class="competition-headline row">

            <h2 class="medium">NUESTRAS COMPETENCIAS</h2>

            <div class="clearfix "></div>

        </div>

        <div class="competition-content">

            {% for competition in pagination %}
                <div class="col-xs-12 nopadding acordion-wrap">
                    <button data-toggle="collapse" data-target="#content{{ loop.index }}">
                        {{ loop.index }}. {{ competition.title }} <i class="fa fa-angle-down"></i>
                        <div class="clearfix"></div>
                    </button>
                    <div id="content{{ loop.index }}" class="collapse content">
                        {{ competition.content|raw }}
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock page_content %}