{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
        title:'Editar Respuesta',
        path: {
            index: {uri: path('respuesta_index', {'id': pregunta.id})},
        },
    } only %}
{% endblock page_header %}

{% block page_content %}

    {{ form_start(edit_form) }}
    {{ form_end(edit_form) }}

{% endblock %}
