{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
        title:'Lista de Respuestas',
        path: {
            index: {uri: path('pregunta_index', {'id': examen_id})},
            new: {uri: path('respuesta_new', {'id': pregunta.id})},
        },
    } only %}
{% endblock page_header %}

{% block page_content %}

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Texto de Respuesta</th>
                <th>Es correcta</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for respuestum in respuestas %}
            <tr>
                <td>{{ respuestum.textoRespuesta }}</td>
                <td>{% if respuestum.correcta %}{{ 'Yes'|trans }}{% else %}{{ 'No'|trans }}{% endif %}</td>
                <td>
                    <a href="{{ path('respuesta_show', { 'id': respuestum.id }) }}" class="btn">Ver</a>
                    <a href="{{ path('respuesta_edit', { 'id': respuestum.id }) }}" class="btn">Editar</a>
                    <a href="{{ path('respuesta_delete', {'id': respuestum.id }) }}" class="btn btn btn-danger btn-delete" onclick="return confirm('Está seguro de eliminar?')">Eliminar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
