{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
        title:'Crear Respuesta',
        path: {
        },
    } only %}
{% endblock page_header %}

{% block page_content %}

    {{ form_start(form) }}
    {{ form_end(form) }}

{% endblock %}
