{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
        title:'Respuesta',
        path: {
            index: {uri: path('respuesta_index', { 'id': respuesta.id })},
            edit: {uri: path('respuesta_edit', { 'id': respuesta.id })},
            delete: {uri: path('respuesta_delete', {'id': respuesta.id})},
        },

    } only %}
{% endblock page_header %}


{% block page_content %}

    <table class="table">
        <tbody>
            <tr>
                <th>Texto</th>
                <td>{{ respuesta.textoRespuesta }}</td>
            </tr>
            <tr>
                <th>Correcta</th>
                <td>{% if respuesta.correcta %}Si{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
