{% extends app.user ? ':layouts/backend:user.html.twig' : ':layouts/backend:guest.html.twig' %}

{% block page_content %}
    {% block content %}
    {% endblock content %}
{% endblock page_content %}

{% block meta_title %}{{ 'Backend'|trans }}{% endblock meta_title %}

{% block body_class %}skin-4{% endblock %}

{% block head_stylesheets_required %}
    {{ parent() }}
    {#<link rel="stylesheet" type="text/css" href="{{ asset('dist/css/base.min.css') }}"/>#}
    {#<link rel="stylesheet" type="text/css" href="{{ asset('dist/css/styles.min.css') }}"/>#}
    <link rel="stylesheet" href="{{ asset('bundles/webfactorygrid/css/filter-form.css') }}"/>
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.1/css/bootstrap-colorpicker.min.css"/>
{% endblock head_stylesheets_required %}

{% block head_javascripts %}
    {#<script src="{{ asset('bundles/webfactorygrid/js/filter-form.js') }}" type="text/javascript"></script>#}
    {#<script src="{{ asset('bundles/webfactorygrid/js/grid.js') }}" type="text/javascript"></script>#}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <!-- change location Andres b. script src="/aper-plataforma-vos-sos-la-estrella/web/bundles/bootstrapcolorpicker/js/bootstrap-colorpicker.js"></script-->
     <script src="{{ asset('bundles/webfactorybackofficetheme/js/bootstrap-colorpicker.min.js') }}"></script>
    <script src="{{ asset('bundles/webfactorybackofficetheme/js/jquery.mobile.custom.min.js') }}"></script>
{% endblock %}

{% block head_stylesheets_custom %}
    <!-- page specific plugin styles -->

    <style type="text/css">
        /* backend */
        .btn.btn-minier.btn-info,
        .btn.btn-minier.btn-danger {
            padding: 2px 6px;
        }

        .btn, .btn-default {
            border: medium none !important;
            border-radius: 0 !important;
            color: white !important;
            font-size: 16px;
            /*letter-spacing: 0.12em;
            padding: 8px 26px;*/
        }

        div.time {
            display: block;
            overflow: hidden;
            width: 100%;
        }

        .modal-body img {
            max-width: 558px;
        }

        #content_evaluation_estimatedTime_hour,
        #content_evaluation_estimatedTime_minute,
        #module_evaluation_estimatedTime_minute,
        #module_evaluation_estimatedTime_hour {
            display: inline-block;
            margin-right: 15px;
            max-width: 50px;
            vertical-align: top;
            width: 50%;
        }

        .grid-search .input-group.date {
            display: inline-block;
            margin-right: 15px;
            max-width: 90px;
            vertical-align: top;
            width: 50%;
        }

        .footer .footer-inner .footer-content {
            border-top: 3px double #abbcb6;
        }

        .skin-4 .navbar {
            background: #1f89cb none repeat scroll 0 0;
        }

        .skin-4 .ace-nav > li.light-blue > a {
            background-color: #08436f;
        }

        .skin-4 .sidebar-toggle,
        .skin-4 .sidebar-shortcuts-mini,
        .skin-4 .breadcrumbs,
        .skin-4 .sidebar-shortcuts,
        .skin-4 .sidebar {
            background: #f6f6f6 none repeat scroll 0 0;
        }

        .btn {
            border-radius: 25px;
        }

        .form-control, select {
            border-radius: 5px !important;
        }

        .form-actions {
            background-color: #f6f6f6;
            border: 1px solid #e8e8e8;
            border-radius: 0;
            text-align: right;
        }

        textarea, input[type="text"],
        input[type="password"],
        input[type="datetime"],
        input[type="datetime-local"],
        input[type="date"],
        input[type="month"],
        input[type="time"],
        input[type="week"],
        input[type="number"],
        input[type="email"],
        input[type="url"],
        input[type="search"],
        input[type="tel"],
        input[type="color"] {
            border-radius: 5px !important;
        }

        .input-group .input-group-addon {
            border-radius: 5px !important;
        }

        .accordion-style1.panel-group .panel {
            border-radius: 5px !important;
        }

        .skin-4 .nav-list > li > a {
            background-color: #eeeeee;
        }

        .skin-4 .nav-list > li > a:hover,
        .skin-4 .nav-list > li.open > a {
            font-weight: bold;
        }

        .skin-4 .page-header h1 {
            font-weight: normal;
        }

        .skin-4 .nav-list > li.active > a,
        .skin-4 .nav-list > li.active > a:hover,
        .skin-4 .nav-list > li.active > a:focus {
            background-color: #e8e8e8;
        }

        .help-block {
            font-weight: bold;
            border-radius: 5px !important;
        }

        .page-content,
        .main-content,
        .main-container::before {
            background-color: #f9f9f9;
        }

        .label {
            font-weight: bold;
        }

        .collection-item {
            display: block;
            overflow: hidden;
            width: 100%;
        }

        .btn.btn-img-down {
            border-radius: 5px;
        }

        /* dt-button buttons-excel buttons-html5 */
        .dt-button.buttons-excel.buttons-html5 {
            background-image: none !important;
            border: 4px solid #ffb752;
            box-shadow: none !important;
            color: #fff !important;
            cursor: pointer;
            display: inline-block;
            margin: 0;
            position: relative;
            vertical-align: middle;
            background-color: #ffb752 !important;
            font-weight: bold;
            text-shadow: 0 0 2px rgba(0, 0, 0, 0.7) !important;
            text-transform: uppercase;
            border-radius: 25px;
            font-size: 13px;
            line-height: 1.39;
            padding: 4px 9px;
            margin-bottom: 15px;
        }

        .dt-button.buttons-excel.buttons-html5:hover {
            background-color: #ed9c28 !important;
            border-color: #d58512;
        }

        textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
            border-radius: 0 !important;
        }

        .form-control, select {
            border-radius: 0 !important;
        }

        .glyphicon {
            margin-bottom: 4px;
        }

        .form-group > label[class*="col-"] {
            font-weight: bold;
        }

        .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
            background: #eeeeee none repeat scroll 0 0;
        }

        .table-bordered tr th {
            background: #39464f none repeat scroll 0 0 !important;
            color: #ffffff !important;
            text-transform: uppercase;
        }

        .grid-search .form-group > label {
            font-size: 14px !important;
            font-weight: bold !important;
        }

        .form-group {
            overflow: hidden;
            max-width: 100%;
        }

        body a[data-collection-add-btn=".ruffle_mchoice_form_group"] {
            position: relative !important;
            left: 209px;
            top: 0;
        }

    </style>
{% endblock %}
{% block javascripts %}
{% endblock %}