<html>
    <head>
        <title>{% block subject %}Email{% endblock subject %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <style type="text/css">
            a {color: #e74141;text-decoration:underline !important;}
            p {color: #404040;}
        </style>
    </head>

    <body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
        <table id="mailingTabla" width="670" border="0" cellpadding="0" cellspacing="0" style="background: #b9e4ff;">
            <tr>
                <td><img src="{{ app.request.uriForPath('/img/imagenes/mailing_01.png') | raw }}" width="670" height="72" style="display: block; border: none; overflow: hidden;" alt=""/></td>
            </tr>
            <tr style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #404040; font-size: 16px; line-height: 22px;">
                <td width="670" style="vertical-align: top; padding: 0 20px;">
                    <div style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #404040; font-size: 16px; line-height: 22px;">

                        {% block body_text %}
                        {% endblock body_text %}

                        {% block body_html %}
                        {% endblock body_html %}

                        {% block body_content_html %}
                        {% endblock body_content_html %}
                    </div>
                    <br/>
                    <br/>

                </td>
            </tr>
            <tr>
                <td>
                    <img src="{{ app.request.uriForPath('/img/imagenes/mailing_02.png') | raw }}" width="670" height="51" style="display: block; border: none; overflow: hidden;" alt=""/>
                </td>
            </tr>
        </table>

    </body>
</html>