{% extends '@Incentive/Frontend/Incentive/index.html.twig' %}

{% block incentiveContent %}
    <style type="text/css">
        .active_button{
            padding: 10px;
            text-align: center;
            text-transform: uppercase;
            font-weight: 600;
            background: #0B6349;
            border:solid 2px #0b6349;
        }
        .inactive_button{
            padding: 10px;
            text-align: center;
            text-transform: uppercase;
            font-weight: 600;
            background-color: transparent;
            border:solid 2px #0b6349;
        }



    </style>
    <div class="row rankingHeader">
        <div class="col-md-12" >
            <h2 class="title text-center">Ranking Anual de Estaciones</h2>
            <div class="col-md-12 col-sm-12 col-xs-12" >
                <p class="col-md-2 col-sm-12 col-xs-12 inactive_button">
                    <a style="text-decoration:none; color: #0B6349;" href="{{ path('aper_ranking_mensualesanuales_empleados') }}">Mensual</a>
                </p>
                <p class="col-md-2 col-sm-12 col-xs-12 active_button">
                    <a style="text-decoration:none; color: #fff;" href="{{ path('aper_ranking_anual_empleados') }}">Anual</a>
                </p>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <h4 class="text-uppercase medium" style="font-size: 18px;margin: 0;line-height: 28px">Año</h4>
                {# <p class="text-uppercase bold" style="font-size: 22px">{{ selectedYear|date('Y') }}</p> #}
                <p class="text-uppercase bold" style="font-size: 22px">2019/2020</p>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 text-right">
                <select class="select2" onchange="window.location = '?' + $(this).val()">
                <option value="">Seleccionar año</option>
                {% for year in selectorChoices %}
                    {# <option value="year={{ year.format('Y') }}" {% if year.format('Y') == selectedYear.format('Y') %}selected="selected"{% endif %} >{{ year|date('Y') }}</option> #}
                    <option value="year={{ year.format('Y') }}" {% if year.format('Y') == selectedYear.format('Y') %}selected="selected"{% endif %} >2019/2020</option>
                {% endfor %}
            </select>
            </div>
        </div>
    </div>
    <div id="sticky-anchor"></div>
    <div class="progressInfo myRoom row">
        <p>Empleados</p>

        {% set totalPoints = store.getGoalsByYearAndName(selectedYear, 'TOTAL_EMPLEADO_OBJETIVO') %}
        {% set completedPoints = store.getGoalsByYearAndName(selectedYear, 'TOTAL_EMPLEADO_RESULTADO') %}
        {% set myRank = (store.getRankingByYear(selectedYear)).empty ? 0: store.getRankingByYear(selectedYear).first.position %}
        {% set myWorkPlace = {type: store.code, where: store.profile.name, avatar: store.profile.avatar ? store.profile.avatar.webpath : ''} %}
        {% set extraPoints = store.isDisabled(selectedYear.format('Y')) %}

        {% if (extraPoints == null) %}
            {% set disqualified = false %}
        {% else %}
            {% set totalPoints = extraPoints.ptsObjetives %}
            {% set disqualified = extraPoints.disqualified %}
        {% endif %}
        {% set i = 'my' %}

        <div class="flex align-center justify-between">
            {# Mi sala cuando no está en top 3 #}
        <div class="myWorkPlace employees col-lg-4">
            <div class="myStar">
                {% include '@Incentive/Frontend/Incentive/widgetsEmployee/cup.html.twig' with {'podium':podium, 'position':myRank,'myrank': true} only %}
            </div>
                <div class="" style="border-radius: 50%;">
                {% if myWorkPlace.avatar %}
                    <img class="avatar" style="border-radius: 50%;" src="{{ asset(myWorkPlace.avatar) }}" />
                {% else %}
                    <img class="avatar" style="border-radius: 50%;" src="{{ asset('dist/images/empty-avatar.png') }}" />
                {% endif %}
                 </div>

            <div class="myWorkPlace">
                <div class="where">{{ myWorkPlace.where }}</div>
            </div>
        </div>
            <style>
                @media (max-width: 992px) {
                    .progressInfo .myWorkPlace{
                        min-height: auto;
                    }
                    .avatar{
                        position: relative;
                        bottom: -20px;
                    }
                }
                .progressBar{
                    width: 100%;
                }
            </style>

            <div class="col-lg-9">

                {% if (disqualified) %}
                    {% include "@Incentive/Frontend/Incentive/widgetsEmployee/red-bar.html.twig" with {'totalPoints':totalPoints,'completedPoints':completedPoints} only %}
                {% else %}
                    {% include "@Incentive/Frontend/Incentive/widgetsEmployee/progress-bar.html.twig" with {'totalPoints':totalPoints,'completedPoints':completedPoints} only %}
                {% endif %}

            </div>

            <div class="clearfix visible-sm visible-xs"></div>
        </div>

        {% if (disqualified) %}
            <div class="align-center" style="text-align: right; color: #db0000; font-size: 15px;">
                Descalificado
            </div>
        {% endif %}
    </div>

    <div style="height: 1px;background-color: #f6f8fa;"></div>

    {# Solo mostrar los 3 primeros  #}
    {# Si me encuentro dentro de los 3 primeros se muestran solo 3 #}
    {# Si no me encuentro dentro de los 3 primeros, se muestra mi sala con su puesto arriba y luego los 3 primeros #}
    {% for gas_station in storeRankings %}
        {% set own = gas_station == store %}
        {% set extraPoints = gas_station.isDisabled(selectedYear.format('Y')) %}
        {% if(extraPoints == null) %}
            {% set disqualified = false %}
        {% else %}
            {% set disqualified = extraPoints.disqualified %}
        {% endif %}
        <div class="progressInfo anual">
            {% if (extraPoints == null) %}
                {% set totalPoints = gas_station.getGoalsByYearAndName(selectedYear, 'TOTAL_EMPLEADO_OBJETIVO') %}
            {% else %}
                {% set totalPoints = extraPoints.ptsObjetives %}
            {% endif %}

            {% set completedPoints = gas_station.getGoalsByYearAndName(selectedYear, 'TOTAL_EMPLEADO_RESULTADO') %}
            {% set myRank = (gas_station.getRankingByYear(selectedYear)) ? gas_station.getRankingByYear(selectedYear).first.position : 0 %}
            {% set myWorkPlace = {type: gas_station.code, where: gas_station.profile.name, avatar: gas_station.profile.avatar} %}
            {% set i = 'my' %}

            <div class="flex align-center justify-between">

                {# Primeros puestos #}
                <div class="myWorkPlace employees col-lg-4">
                    <div class="myStar">
                        {% include '@Incentive/Frontend/Incentive/widgetsEmployee/cup.html.twig' with {'podium':podium, 'position':myRank ,'myrank':(own ? true : false)} only %}
                    </div>
                    <div class="" style="border-radius: 50%;">
                        {% if myWorkPlace.avatar %}
                            <img class="avatar" style="border-radius: 50%;" src="{{ asset(myWorkPlace.avatar.webpath) }}" />
                        {% else %}
                            <img class="avatar" style="border-radius: 50%;" src="{{ asset('dist/images/empty-avatar.png') }}" />
                        {% endif %}
                    </div>

                    <div class="myWorkPlace">
                        <div class="where">{{ myWorkPlace.where }}</div>
                    </div>
                </div>
                <div class="col-lg-9">

                {% if (disqualified) %}
                    {% include "@Incentive/Frontend/Incentive/widgetsEmployee/red-bar.html.twig" with {'totalPoints':totalPoints,'completedPoints':completedPoints} only %}
                {% else %}
                    {% include "@Incentive/Frontend/Incentive/widgetsEmployee/progress-bar.html.twig" with {'totalPoints':totalPoints,'completedPoints':completedPoints} only %}
                {% endif %}

                </div>

                {% if (disqualified) %}
                    <div class="viewMore">
                        <h4 class="hidden-xs"> VER </h4>
                        <a href="#progress-detail{{ loop.index }}" data-toggle="collapse" style="text-decoration: none">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            <i class="fa fa-minus" aria-hidden="true" style="display: none"></i>
                        </a>
                    </div>
                {% endif %}

                <div class="clearfix visible-sm visible-xs"></div>
            </div>
    
            {% if (disqualified) %}
                <div class="align-center" style="text-align: right; color: #db0000; font-size: 15px;">
                    Descalificado
                </div>


            <div class="row-objectives collapse" id="progress-detail{{ loop.index }}">
                <p style="background:#F7F8FA;
                    font-size: 18px;
                    font-weight: 700;
                    margin: 0;
                    line-height: 28px;
                    overflow: hidden;
                    padding: 20px 20px;
                    text-align: center;
                    display: block;">
                    {{  extraPoints.reason }}

                </p>
            </div>
            {% endif %}
        </div>
        {% endfor %}

    {% endblock %}