{% block subject %}
    {{ 'web_factory_user.email.user.confirm.subject'|trans({}, 'web_factory_user') }}
{% endblock subject %}

{% block body_text %}
    {% if confirmationUrl %}
        {{ 'web_factory_user.email.user.confirm.message_confirm'|trans({}, 'web_factory_user') }}

        {{ confirmationUrl }}
    {% else %}
        {{ 'web_factory_user.email.user.confirm.message'|trans({}, 'web_factory_user') }}
    {% endif %}
{% endblock body_text %}

{% block body_html %}
    {% if confirmationUrl %}
        <p>{{ 'web_factory_user.email.user.confirm.message_confirm'|trans({}, 'web_factory_user') }}.</p>

        <a href="{{ confirmationUrl }}">{{ confirmationUrl }}</a>
    {% else %}
        <p>{{ 'web_factory_user.email.user.confirm.message'|trans({}, 'web_factory_user') }}.</p>
    {% endif %}

</p>
{% endblock body_html %}