{% block subject %}
    {{ 'web_factory_user.email.user.new_password.subject'|trans({}, 'web_factory_user') }}
{% endblock subject %}

{% block body_text %}
    {{ 'web_factory_user.email.user.new_password.message'|trans({}, 'web_factory_user') }}.

    {{ user.username }} ( {{ user.email }} )

{% endblock body_text %}

{% block body_html %}
    <p class="passwordChanged">{{ 'web_factory_user.email.user.new_password.message'|trans({}, 'web_factory_user') }}. </p>

    <p>{{ user.username }} ( {{ user.email }} ) </p>

{% endblock body_html %}