{% block subject %}
    {{ 'web_factory_user.email.user.welcome.subject'|trans({}, 'web_factory_user') }}
{% endblock subject %}

{% block body_text %}
    {{ 'web_factory_user.email.user.welcome.message'|trans({}, 'web_factory_user') }}.

    {{ user.username }} ( {{ user.email }} )

{% endblock body_text %}

{% block body_html %}
    <p class="welcome">{{ 'web_factory_user.email.user.welcome.message'|trans({}, 'web_factory_user') }}. </p>

    <p>{{ user.username }} ( {{ user.email }} )</p>

{% endblock body_html %}