{% set max_value = podium %}

{% if position|number_format <= max_value %}
    {% if myrank %}
{#        <img src="{{ asset('dist/images/puma/podium.png') }}" alt="">#}

    {% endif %}
    <div class="myRank top">
        {{ position }}

{#        <div style="width: 30px;height: 30px">#}
{#            <svg version="1.1" id="pos_{{ position }}" xmlns="http://www.w3.org/2000/svg"#}
{#                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"#}
{#                 y="0px"#}
{#                 viewBox="0 0 132.2 132" style="enable-background:new 0 0 132.2 132;" xml:space="preserve">#}
{#        <style type="text/css">#}
{#            #pos_{{ position }} .st0 {#}
{#            {% if position|number_format == 1 %} fill: #F0C232;#}
{#            {% elseif position|number_format == 3 %} fill: #a1765f;#}
{#            {% else %} fill: #a5a5a6;#}
{#            {% endif %}#}
{#            }#}

{#            #pos_{{ position }} .st3, .st1 {#}
{#                fill: #FFFFFF;#}
{#            }#}

{#            #pos_{{ position }} .st3 {#}
{#                font-family: 'Gotham', sans-serif !important;#}
{#                font-weight: bold;#}
{#                font-size: 70px;#}
{#            }#}
{#        </style>#}
{#                <g>#}
{#                    <path class="st0" d="M128,0c0.1,0,0.1,0,0.2,0c0.9,0.3,1.8,0.2,2.6,0.9c1.2,1,1.4,2.3,1.4,3.7c0,0.8,0,1.7,0,2.5c0,0.4,0,0.9,0,1.3#}
{#		c0,4.1,0,8.2-0.3,12.3c-0.5,6.6-1.5,13.2-2.9,19.7c-2,9.3-4.8,18.3-8.6,27C117.1,75,113,82.1,108,88.7c-1.8,2.3-3.7,4.5-5.7,6.6#}
{#		c-3.1,3.3-6.5,6.3-10.3,8.9c-6,4.1-12.5,6.9-19.7,7.9c-0.7,0.1-1,0.5-1,1.2c0,2.5,0,5,0,7.6c0,0.9,0.2,1.1,1.3,1.1#}
{#		c6.3,0,12.6,0,18.9,0c1.8,0,3.6,0.1,5.4,0c2.8-0.2,5.6,3,4.9,6.2c-0.2,0.9-0.6,1.8-1.1,2.5c-0.8,1-1.9,1.2-3.1,1.4#}
{#		c-0.3,0-0.5,0-0.8,0c-0.3-0.2-0.7-0.1-1-0.1c-19.8,0-39.7,0-59.5,0c-0.3,0-0.7-0.1-1,0.1c-0.3,0-0.5,0-0.8,0#}
{#		c-2.4-0.3-3.6-1.7-4-3.9c-0.4-2.3,0.5-4,2.2-5.4c0.9-0.7,1.9-0.8,2.9-0.8c7.7,0,15.5,0,23.2,0c0.4,0,0.7,0,1.1,0c0.7,0,1-0.3,1-1.1#}
{#		c0-2.5,0-5,0-7.6c0-0.8-0.3-1.1-1.1-1.2c-6.4-1-12.2-3.3-17.7-6.7c-5.2-3.2-9.7-7.2-13.7-11.7c-4.7-5.2-8.7-11-12-17.1#}
{#		c-3.7-6.8-6.7-13.8-9.1-21.1c-2.6-7.8-4.4-15.8-5.7-24c-0.5-3.5-1-7-1.3-10.6c-0.2-1.8-0.2-3.7-0.2-5.5c0-2.3-0.2-4.6-0.1-6.9#}
{#		C0,8,0,7.6,0,7.1c0-0.8,0-1.7,0-2.5c0-1.5,0.2-2.8,1.5-3.8C2.2,0.2,3,0.3,3.8,0c0.1,0,0.3,0,0.4,0c0.2,0.2,0.5,0.1,0.8,0.1#}
{#		c7.3,0,14.5,0,21.8,0c0.3,0,0.5,0.1,0.8-0.1c0.1,0,0.1,0,0.2,0C29,0.2,30.2,0.7,31,2c0.5,0.7,0.8,1.5,0.8,2.4c0,1.8,0,3.6,0,5.3#}
{#		c0,1.1,0.2,1.3,1.3,1.3c0.3,0,0.6,0,1,0c21.3,0,42.7,0,64,0c2.3,0,2.3,0,2.3-2.4c0-1.4,0-2.7,0-4.1c0-1.6,0.8-2.9,2-3.9#}
{#		c0.6-0.5,1.4-0.4,2.1-0.6c0.1,0,0.3,0,0.4,0c0.2,0.2,0.5,0.1,0.8,0.1c7.2,0,14.4,0,21.6,0C127.5,0.1,127.8,0.2,128,0z"/>#}
{#                    <path class="st1" d="M38.3,93.9c-6-6.4-10.5-13.6-14.1-21.5c-5.4-11.5-8.7-23.6-10.7-36.1c-1-6.3-1.6-12.6-1.8-19#}
{#		c0-0.7,0.2-0.9,0.9-0.9c3.6,0,7.2,0,10.8,0c0.8,0,1,0.3,1,1c-0.1,5.8,0,11.6,0.3,17.4c1,17.9,4,35.4,10.7,52.1c0.8,2,1.7,4,2.7,6#}
{#		C38.1,93.3,38.2,93.6,38.3,93.9z"/>#}
{#                    <path class="st1" d="M98.5,93.7c-0.1-0.3,0.1-0.5,0.2-0.6c5-10.3,8.1-21.2,10.2-32.4c2.7-14.1,3.6-28.4,3.5-42.8#}
{#		c0-1.5-0.2-1.4,1.4-1.4c3.4,0,6.8,0,10.3,0c0.6,0,0.9,0.1,0.9,0.8c-0.6,14.1-2.7,27.9-7.1,41.4c-3.5,10.6-8.1,20.7-14.8,29.7#}
{#		c-1.1,1.5-2.3,2.9-3.5,4.4C99.1,93.1,98.9,93.5,98.5,93.7z"/>#}
{#                    <text class="st3">{{ position }}</text>#}
{#                </g>#}
{#    </svg>#}
{#        </div>#}
    </div>
{% else %}
    {% if myrank %}
{#        <img src="{{ asset('dist/images/puma/podium.png') }}" alt="">#}
        <div class="myRank">
            {{ position }}
        </div>
    {% else %}
        <div class="myRank default">
            {{ position }}
        </div>
    {% endif %}
{% endif %}