{% set progress = totalPoints ? (completedPoints * 100) / totalPoints : 0 %}

<div class="progressBar">
    <div class="points text-right" title="{{completedPoints}}/{{totalPoints}}"><span data-point="{{ completedPointsReal|round }}">0</span>/{{ totalPoints }} Ptos</div>
    <div class="mask" data-width="{{ 100-progress }}"></div>
    <span></span>
</div>