{% extends '::base.html.twig' %}

{% block pagename %}develops{% endblock %}

{% block page_logo %}
    <div class="hidden-xs hidden-sm">
        {{ parent() }}
    </div>
    <div class="hidden-md hidden-lg develop">
        <img src="{{ asset('dist/images/logo_desarrollo.png') }}">
    </div>
{% endblock %}

{% set roleHeadOffice = false %}
{% set user = app.user %}
{% if user %}
    {% for role in user.roles if not roleHeadOffice %}
        {% if role == 'ROLE_HEAD_OFFICE' %}
            {% set roleHeadOffice = true %}
        {% endif %}
    {% endfor %}
{% else %}
    {% set roleHeadOffice = false %}
{% endif %}

{% block page_content %}
    <div class="container">

        <div class="row header_image">
            <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs">
                <img class="img_backHeader" src="{{ asset('dist/images/header_desarrolloD.jpg') }}">
            </div>
            <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                <img class="img_backHeader" src="{{ asset('dist/images/header_desarrolloM.jpg') }}">
            </div>
            <div class="develops-active-bg"></div>
        </div>

        <div class="courses-headline row">

            <h2 class="medium">KIT DE ENTRENAMIENTO</h2>

            <div class="clearfix "></div>

        </div>

        <div class="courses-content">

            <div class="kit-box-area">

                <h2 class="bold"><a style="margin: 0 0 0 15px;" href="{{ path('aper_course_frontend_course_index') }}" title="KIT DE ENTRENAMIENTO">KIT DE ENTRENAMIENTO</a> > {{ folder.name }}</h2>

                <br/>
                <br/>

                <div class="container">

                    <div class="container2">

                        {% if pagination|length >= 1 %}

                            <div class="content-courses">

                                <div class="row">

                                    {% for news in pagination %}

                                        {#{{ dump(news.createdAt|date("Y")) }}#}

                                        <div class="col-sm-12 col-lg-4 course" id="{{ news.id }}">

                                            <div class="course-title bold">{{ news.title }}</div>

                                            <div class="img-cont">
                                                {% if news.mainimage %}
                                                    <div class="the-img"
                                                         style="width: 100%;padding-bottom: 56%;background: url({{ asset(news.mainimage.webPath) }}) center /cover no-repeat;"></div>
                                                {% endif %}
                                            </div>

                                            <div class="course-body-cont">
                                                <div class="course-body">{{ news.content|striptags|truncate(120)|raw }}</div>
                                            </div>

                                            <div class="course-pdf-cont">
                                                {% if news.pdf.webPath %}
                                                    <a class="medium read-more"
                                                       href="{{ asset(news.pdf.webPath) }}"
                                                       target="_blank"> Descargar Archivo </a>
                                                {% endif %}
                                            </div>

                                            <hr class="border-bottom">

                                        </div>

                                    {% endfor %}

                                </div>

                            </div>

                            {% if pagination|length >= 9 %}
                                <div class="row">
                                    <a class="medium load-more" href="#">
                                        <i class="fa fa-rotate-right" aria-hidden="true"></i> Cargar más módulos
                                    </a>
                                </div>
                            {% endif %}

                        {% else %}

                            <h2 class="bold">
                                NO SE HAN ENCONTRADO MÓDULOS
                            </h2>

                        {% endif %}

                    </div>

                </div>

            </div>

        </div>

    </div>

{% endblock page_content %}

{% block body_scripts_optional %}

    {{ parent() }}

    <script type="text/javascript">

        var $currentPage = 1;
        var base = '{{ app.request.getBaseUrl() }}';

        $('a.load-more').on('click', function (e) {
            e.preventDefault();
            e.stopImmediatePropagation();

            $('a.load-more i').removeClass('fa fa-rotate-right');
            $('a.load-more i').addClass('fa fa-circle-o-notch fa-spin fa-fw');

            $currentPage++;

            var url = document.location.href;

            if (url.indexOf('?') !== -1) {
                url = url + '&page=' + $currentPage;
            } else {
                url = url + '?page=' + $currentPage;
            }

            if ($currentPage > 0) {
                $.ajax({
                    url: url,
                    type: 'json',
                    success: function (res) {

                        var res = $.parseJSON(res);

                        if (res.length < 9) {
                            $currentPage = 0;
                            $('.load-more').hide();
                        }

                        for (var key in res) {

                            var html = '<div class="col-sm-12 col-lg-4 course">';

                            html += '<div class="course-title bold">' + res[key].title + '</div>';

                            html += '<div class="img-cont">';
                            if (res[key].img) {
                                html += '<div class="the-img" style="background: url(' + res[key].img + ') center / cover no-repeat"></div>';
                            }
                            html += '</div>';

                            html += '<div class="course-body-cont">';
                            html += '<div class="course-body">' + res[key].content.replace(/(<([^>]+)>)/ig, "") + '</div>';
                            html += '</div>';

                            html += '<div class="course-pdf-cont">'

                            if (res[key].pdf) {
                                html += '<a class="medium read-more" href="' + base + '/' + res[key].pdf + '" target=_blank> Descargar Archivo </a>';
                            }

                            html += '</div>';

                            html += '<hr class="border-bottom">';

                            html += '</div>';

                            $('.content-courses .row').append(html);

                        }

                        $('a.load-more i').removeClass('fa fa-circle-o-notch fa-spin fa-fw');
                        $('a.load-more i').addClass('fa fa-rotate-right');

                    }
                });
            }


        });

    </script>

{% endblock %}
