{% extends '::base.html.twig' %}
{% block pagename %}develops{% endblock %}

{% block head_stylesheets_custom %}
    <!-- page specific plugin styles -->
    <link rel="stylesheet" type="text/css" href="{{ asset('stylesheet/animate.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('stylesheet/plan-de-carrera.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('stylesheet/pdc-mobile.css') }}"/>
{% endblock %}

{% block page_logo %}
    <div class="hidden-xs hidden-sm">
        {{ parent() }}
    </div>
    <div class="hidden-md hidden-lg develop">
        <img src="{{ asset('dist/images/puma/logo-puma.png') }}">
    </div>
{% endblock %}

{% set roleHeadOffice = false %}
{% set user = app.user %}
{% if user %}
    {% for role in user.roles if not roleHeadOffice %}
        {% if role == 'ROLE_HEAD_OFFICE' %}
            {% set roleHeadOffice = true %}
        {% endif %}
    {% endfor %}
{% else %}
    {% set roleHeadOffice = false %}
{% endif %}

{% block page_content %}
    <div class="container">

        <div class="row header_image" >
            <div class="col-lg-12 col-md-12 col-sm-12" style="background-image: url({{ asset('dist/images/puma/header-news.png') }})">
                <img class="img_backHeader" src="{{ asset('dist/images/puma/header-news.png') }}">
                <h1 class="title_header bold">
                    Tú conocimiento al próximo nivel
                </h1>
            </div>
        </div>

{#            <div class="folders-tree">#}
{#                {% if rootFolder|length %}#}
{#                    {% macro nodeRow(node) %}#}
{#                        {% if node.lvl == 0 %}#}
{#                            <div class="folder-lvl-0">#}
{#                                <div class="panel-group" id="accordion-{{node.id}}" role="tablist">#}
{#                                    <div class="panel panel-default">#}
{#                                        <div class="panel-heading" role="tab" id="headingOne">#}
{#                                            <div class="folder-lvl-0-title">#}
{#                                                <div class="folder-lvl-0-title-img">#}
{#                                                    <img src="{{ asset('dist/images/training/folder-lvl0-icon.png') }}" alt="folder icon" class="folder-icon">#}
{#                                                </div>#}
{#                                                <div class="folder-lvl-0-title-text"> #}
{#                                                    {{ node.name }}#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                        {% elseif node.lvl == 1 %}#}
{#                            <div class="folder-lvl-1">#}
{#                                <div class="panel-group" id="accordion-{{node.id}}" role="tablist">#}
{#                                    <div class="panel panel-default">#}
{#                                        <div class="panel-heading" role="tab" id="headingOne">#}
{#                                            <div class="panel-title">#}
{#                                                <div class="folder-lvl-1-title-img">#}
{#                                                    <img src="{{ asset('dist/images/training/folder-lvl1-icon.png') }}" alt="folder-icon">#}
{#                                                </div>#}
{#                                                <div class="folder-lvl-1-title-text"> {{ node.name }}</div>#}
{#                                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#folder-lvl-{{node.id}}">#}
{#                                                    <img src="{{ asset('dist/images/training/plus-icon-closed.png') }}" alt="opened-minus-icon" class="opened-minus-icon">#}
{#                                                </a>#}
{#                                            </div>#}
{#                                        </div>#}
{#                        {% else %}#}
{#                            <div class="folder-lvl-2">#}
{#                                <div class="panel-group" id="accordion-{{node.id}}" role="tablist">#}
{#                                    <div class="panel panel-default">#}
{#                                        <div class="panel-heading" role="tab" id="headingOne">#}
{#                                            <div class="panel-title">#}
{#                                                <div class="folder-lvl-2-title-img">#}
{#                                                    <img src="{{ asset('dist/images/training/folder-lvl2-open-icon.png') }}" alt="folder-icon">#}
{#                                                </div>#}
{#                                                <div class="folder-lvl-2-title-text"> {{ node.name }}</div>#}
{#                                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#folder-lvl-{{node.id}}">#}
{#                                                    <img src="{{ asset('dist/images/training/plus-icon-opened.png') }}" alt="opened-minus-icon" class="opened-minus-icon">#}
{#                                                </a>#}
{#                                            </div>#}
{#                                        </div>#}
{#                        {% endif %}#}
{#                                        <div id="folder-lvl-{{node.id}}" class="panel-collapse collapse {{node.lvl == 0 ? 'in'}}" data-parent="#accordion-{{node.id}}" role="tabpanel">#}
{#                                            <div class="panel-body">#}
{#                                                {% if not node.children.empty %}#}

{#                                                    {% for child in node.children %}#}
{#                                                        {{ _self.nodeRow(child) }}#}
{#                                                    {% endfor %}#}

{#                                                {% endif %}#}

{#                                                {% if not node.courseCollection.empty %}#}
{#                                                    {% for course in node.courseCollection %}#}
{#                                                        {% set filetype = 'file-icon.png' %}#}
{#                                                        {% if course.pdf %}#}
{#                                                            {% if course.pdf.extension|lower in ['xls', 'xlsx', 'ods'] %}#}
{#                                                                {% set filetype = 'xls-icon.png' %}#}
{#                                                            {% elseif course.pdf.extension|lower in ['doc', 'docx', 'odt'] %}#}
{#                                                                {% set filetype = 'doc-icon.png' %}#}
{#                                                            {% elseif course.pdf.extension|lower in ['ppt', 'pptx', 'odp'] %}#}
{#                                                                {% set filetype = 'ppt-icon.png' %}#}
{#                                                            {% elseif course.pdf.extension|lower in ['jpg', 'jpeg', 'png', 'gif', 'bmp'] %}#}
{#                                                                {% set filetype = 'file-icon.png' %}#}
{#                                                            {% elseif course.pdf.extension|lower in ['mpg', 'mpeg', 'avi', 'mkv', 'mp4'] %}#}
{#                                                                {% set filetype = 'avi-icon.png' %}#}
{#                                                            {% elseif course.pdf.extension|lower == 'txt' %}#}
{#                                                                {% set filetype = 'file-icon.png' %}#}
{#                                                            {% elseif course.pdf.extension|lower == 'pdf' %}#}
{#                                                                {% set filetype = 'pdf-icon.png' %}#}
{#                                                            {% endif %}#}
{#                                                        {% endif %}#}
{#                                                        <div class="doc-info doc-info-dsk" style="width:80%;margin:0 auto">#}
{#                                                            <div class="doc-icon">#}
{#                                                                <img src="{{ asset('dist/images/training/' ~ filetype) }}" alt="doctype-icon" class="doctype-icon">#}
{#                                                            </div>#}
{#                                                            <div class="doc-text">#}
{#                                                                <div class="doc-text-title">{{ course.title }}</div>#}
{#                                                                <div class="doc-text-desc">{{course.content|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES')}}</div>#}
{#                                                            </div>#}
{#                                                            <a href="{{ asset(course.pdf.webPath) }}" class="doc-download" target="_blank">#}
{#                                                                <div class="doc-download-icon">#}
{#                                                                    <img src="{{ asset('dist/images/training/download-icon.png') }}" alt="download-icon" class="download-icon">#}
{#                                                                </div>#}
{#                                                                <div class="doc-download-text">#}
{#                                                                    Descargar#}
{#                                                                </div>#}
{#                                                            </a>#}
{#                                                        </div>#}
{#                                                        <div class="doc-info doc-info-mob">#}
{#                                                            #}
{#                                                            <div class="doc-text">#}
{#                                                                <div class="doc-text-title">{{ course.title }}</div>#}
{#                                                                <div class="doc-text-desc">{{course.content|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES')}}</div>#}
{#                                                            </div>#}
{#                                                            <div class="doc-downloads">#}
{#                                                                <div class="doc-icon">#}
{#                                                                    <img src="{{ asset('dist/images/training/' ~ filetype) }}" alt="doctype-icon" class="doctype-icon">#}
{#                                                                </div>#}
{#                                                                <a href="{{ asset(course.pdf.webPath) }}" class="doc-download" target="_blank">#}
{#                                                                    <div class="doc-download-icon">#}
{#                                                                        <img src="{{ asset('dist/images/training/download-icon.png') }}" alt="download-icon" class="download-icon">#}
{#                                                                    </div>#}
{#                                                                    <div class="doc-download-text">#}
{#                                                                        Descargar#}
{#                                                                    </div>#}
{#                                                                </a>#}
{#                                                            </div>#}
{#                                                        </div>#}
{#                                                    {% endfor %}#}
{#                                                {% endif %}#}
{#                                            </div>#}
{#                                        </div>#}

{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                    {% endmacro %}#}
{#                    {% for node in rootFolder %}#}
{#                        {{ _self.nodeRow(node) }}#}
{#                    {% endfor %}#}
{#                {% else %}#}
{#                    <br/>#}
{#                    <div class=" notification msginfo"><p>{{ 'No hay objetos para mostrar' }}</p></div>#}
{#                {% endif %}#}
{#    #}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endblock page_content %}