{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Listado de capacitaciones presenciales'|trans,
    path: {
    new: {uri: path('aper_plancarrera_schedule_new',
        { 'id' : module.id }
    )},
    delete : {uri: path('aper_plancarrera_inscription_training_new') , text: "Nueva inscripción"}
    },
    } only %}
{% endblock page_header %}


{% block page_content %}
    <div class="table-responsiv5568e">
        <h3>Módulo: {{ module.title }}</h3>
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>Lugar</th>
                <th>Fecha</th>
                <th>Cupos</th>
                <th>Capacitador</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>

            {% for training in trainings %}
                <tr data-id="{{ training.id }}">
                    <td>{{ training.place|raw }}</td>
                    <td>{{ training.date.format('d/m H:i') }}</td>
                    <td>
                        {{ training.quota }}
                    </td>
                    <td>
                        {{ training.trainer.email }}
                    </td>
                    <td>
                        <a href="{{ path('aper_plancarrera_schedule_edit', {id : training.id }) }}" class="btn">
                            Editar
                        </a>
                        <a href="{{ path('aper_plancarrera_inscription_training_index', {id : training.id }) }}" class="btn">
                            Inscripciones
                        </a>
                        <a href="{{ path('aper_plancarrera_modules_delete', {id: training.id }) }}"
                           class="btn btn btn-danger btn-delete"
                           onclick="return confirm('{{ 'Desea eliminar la capacitación?' }}')">{{ 'actions.delete.label'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <br>

    </div>
{% endblock page_content %}