{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Nueva capacitación presencial'|trans,
    path: {
    index: {
    uri: path(
        'aper_plancarrera_schedule_index',
        { 'id' : module.id }
    )
    },
    },
    } only %}
{% endblock page_header %}


{% block page_content %}
    {{ form(form) }}

{% endblock %}

{% block head_style %}

{% endblock %}

{% block body_scripts_optional %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="{{ asset('bundles/mopabootstrap/js/mopabootstrap-collection.js') }}"></script>
    <script type="text/javascript">
        $('#aper_plancarrerabundle_externaltraining_trainer').select2({
            placeholder: 'Seleccione el coordinador'
        });

        $('#aper_plancarrerabundle_externaltraining_plan').on('change', function() {
            $.ajax({
                url: "/admin/plancarrera/json/presencialModulesByPlan/"+$(this).val(),
                type: 'GET',
                success : function(r){
                    $("#aper_plancarrerabundle_externaltraining_module").html("");

                    for(row=0;row<r.length;row++) {
                        $("#aper_plancarrerabundle_externaltraining_module").append("<option value='"+r[row].id+"'>"+r[row].title+"</option>");
                    }
                }
            })
        });
    </script>
{% endblock %}
