{% extends 'base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Ver Módulo'|trans,
    path: {
    index: {uri: path('aper_plancarrera_modules_index')},
    edit: {uri: path('aper_plancarrera_modules_edit', {'id': module.id})},
    delete: {uri: path('aper_plancarrera_modules_delete', {'id': module.id})},
    },

    } only %}
{% endblock page_header %}


{% block page_content %}
    <table class="table">
        <tbody>
        <tr>
            <th> Título </th>
            <td>{{ module.title|raw }}</td>
        </tr>
        <tr>
            <th> Texto </th>
            <td>{{ module.text|raw }}</td>
        </tr>
        <tr>
            <th> Plan </th>
            <td>{{ module.plan.title|raw }}</td>
        </tr>
        <tr>
            <th> Imagen </th>
            <td>
                {% if module.image %}
                    <img src="/{{ module.image.getWebPath }}" height="200"/>
                {% else %}
                    N/D
                {% endif %}
            </td>
        </tr>
        <tr>
            <th> Archivos </th>
            {% if module.multimedia and module.multimedia.count > 0 %}
            <td>
                <ul>
                    {% for mult in module.multimedia %}
                        <li>
                            <a href="/{{ mult.getWebPath }}" target="_blank">
                                {{ mult.filePath }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </td>
            {% else %}
            <td>
                El módulo no tiene archivos asociados
            </td>
            {% endif %}
        </tr>
        <tr>
            <th> De nivelación: </th>
            <td>
                {% if module.nivelation == true %}
                    SI
                {% else %}
                    NO
                {% endif %}
            </td>
        </tr>
        <tr>
            <th> Es presencial: </th>
            <td>
                {% if module.presencial == true %}
                    SI
                {% else %}
                    NO
                {% endif %}
            </td>
        </tr>
        <tr>
            <th> Tiempo lectura </th>
            <td>{{ module.readingTime }}</td>
        </tr>
        <tr>
            <th> Orden en plan </th>
            <td>{{ module.orden }}</td>
        </tr>
        <tr>
            <th> Estado </th>
            <td>
                {% if module.status == true %}
                    Activo
                {% else %}
                    Inactivo
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}