{% extends '@SurpriseTarget/index.html.twig' %} {% block surpriseTargetContent
%}
<!-- MENU SUPERIOR -->
<div class="row tab">
  <div
    class="col tab-item {% if app.request.attributes.get('_route') == 'aper_target_surprise_front_commercial_target_detail' %}tab-active{% endif %}"
  >
    <a href="#">Performance</a>
  </div>
</div>
<!--FILTRO DE ESTACIÓN-->
<div class="row flex align-center justify-center"
  style="margin-top: 5%; margin-bottom: 5%" id="seleccione">
  <div class="col-md-12 flex align-center justify-center">
    <h3>Seleccione un área comercial para ver su performance</h3>
  </div>
</div>
<div
  class="row flex align-center justify-center"
  style="margin-top: 5%; margin-bottom: 5%"
>
  <div class="col-md-4">
    <select
      name="zone"
      id="zone"
      class="puma-select"
      onchange="applyZoneFilter()"
    >
      <option value="0">Seleccionar</option>
      {%if zones %} {%for zone in zones %}
      <option value="{{ zone.zona }}">{{ zone.zona }}</option>
      {%endfor%} {%endif%}
    </select>
  </div>

  <div class="col-md-2" id="graphic"></div>
  <div class="col-md-6">
    <h3 id="targetNamePerformance"></h3>
  </div>
</div>

<!-- MODAL LISTADO DE VENTAS DEL EMPLEADO-->
<div
  class="modal fade"
  id="employeesPerformanceModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="employeesPerformanceLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-loading">Cargando...</div>
      <div class="modal-body">
        <div class="progressInfo inner-container">
          <div class="row">
            <div class="col-md-6">
              <h5 style="color: #727272; font-weight: bold">
                Puma Energy
                <span
                  id="stationName"
                  style="color: green; font-size: 16px"
                ></span>
              </h5>
            </div>
            <div class="col-md-6">
              <h5 style="color: #727272; font-weight: bold">
                <span id="targetName"></span>
              </h5>
            </div>
          </div>

          <div class="row">
            <div class="panel panel-default">
              <div class="panel-heading" id="employeePerformanceList">
                <div class="emp">
                  <div class="row">
                    <div class="col-md-4">Name</div>
                    <div class="col-md-8">Linear</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row flex align-center justify-center">
            <h3 id="actualizando"></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- FIN MODAL -->

<div class="row" id="loading">
  <div class="col-md-12 flex align-center justify-center">
    <h3>Cargando...</h3>
  </div>
</div>




<div class="row" id="nodata" style="display: none">
  <div class="col-md-12 flex align-center justify-center">
    <h3>No hay registros para la zona seleccionada</h3>
  </div>
</div>

<div class="row">
  <div id="stationList"></div>
</div>

<script type="text/javascript">
  const target_id = "{{target}}";
  const assign_id_stock = "{{assign_id_stock}}";
  $("#loading").hide();

  const applyZoneFilter = () => {
    retrieveData();
  };

  const retrieveData = () => {
    let zone = $("#zone").val();
    $("#stationList").html("");
    let jsonData = {
      target: target_id,
      zone: zone,
    };

    $.ajax({
      type: "GET",
      url: "{{ path('aper_target_surprise_front_commercial_api_stations_per_zone') }}",
      data: jsonData,
      dataType: "json",
      beforeSend: function (params) {
        $('#seleccione').hide();
        $("#loading").show("slow");
        $("#graphic").html("");
      },
      success: function (data, textStatus, xhr) {
        if (data.stores.length == 0) {
          $("#nodata").show("slow");
          $('#graphic').hide();
        } else {
          $("#nodata").hide();
          $("#graphic").show("slow");
        }

        let asignado_all_stores = 0;
        let vendido_all_stores = 0;

        data.stores.forEach((store) => {
          asignado_all_stores += parseInt(store.totalAsignadoObjetivo);
          vendido_all_stores += parseInt(store.totalVendidoObjetivo);

          var progress = store.totalAsignadoObjetivo
            ? (store.totalVendidoObjetivo * 100) / store.totalAsignadoObjetivo
            : 100;

          $("#stationList").append(
            stationPerformanceComponent(
              store.id,
              store.location,
              store.zona,
              store.totalVendidoObjetivo,
              store.totalAsignadoObjetivo,
              progress,
              {
                desde: store.desde,
                hasta: store.hasta,
              },
              store.idStoreStock
            )
          );
        });
        $("#loading").hide();
        $("#graphic").append(
          graphicComponent(asignado_all_stores, vendido_all_stores, data.file)
        );
      },
    });
  };

  const stationPerformanceComponent = (
    id,
    location,
    zona,
    vendido,
    total,
    progress,
    periodo,
    id_store_stock
  ) => {
    console.log(id, location, location, vendido, total, progress);
    return `
    <div class="progressInfo inner-container">
      <div class="flex align-center justify-between hidden-md hidden-sm hidden-xs">
        <div class="col-lg-4 data">
          <div class="myWorkPlace">
            <div class="where">
              <span class="perf-name">${location}</span>
              <br />
              <small>Período: ${periodo.desde} - ${periodo.hasta}</small>
              <br />
              <span class="perf-location"><span style="font-size: 23px;">${zona}</span></span>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="progressBar">
              <div class="points text-right"><span data-point="${vendido}">${vendido} </span>/${total}</div>
              <div class="mask" data-width="${
                100 - progress < 0 ? 0: 100 - progress
              }" id="progress_emp_${id}" style="width:${
       100 - progress < 0 ? 0: 100 - progress
    }%!important;"></div>
              <span></span>
          </div>
        </div>

        <div class="col-lg-2">
          <button class="viewMorePerformanceButton" data-id="${id_store_stock}" onclick="showEmployeesPerformancePerStore(${id_store_stock})">+</button>
        </div>
      </div>
      <div class="clearfix visible-sm visible-xs"></div>
    </div>`;
  };

  const employeePerformanceComponent = (nombre, objetivo, vendido) => {
    var progress = objetivo ? (vendido * 100) / objetivo : 100;
    console.log(progress);

    return `
    <div class="progressInfo inner-container">
      <div class="flex align-center justify-between hidden-md hidden-sm hidden-xs">
        <div class="col-lg-4 data">
          <div class="myWorkPlace">
            <div class="where">
              <span class="perf-name">${nombre}</span>
              <br />
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="progressBar">
              <div class="points text-right"><span data-point="${vendido}">${vendido} </span>/${objetivo}</div>
              <div class="mask" data-width="${100 - progress}" style="width:${
      100 - progress < 0 ? 0:  100 - progress
    }%!important;"></div>
              <span></span>
          </div>
        </div>
      </div>
      <div class="clearfix visible-sm visible-xs"></div>
    </div>`;
  };

  const showEmployeesPerformancePerStore = (id) => {
    $("#employeesPerformanceModal").modal("show");
    $(".modal-dialog .modal-loading").show();
    $(".modal-dialog .modal-body").hide();

    // Busco empleados de la store
    let jsonData = {
      stockStation: id,
    };

    $.ajax({
      type: "GET",
      url: "{{ path('aper_target_surprise_front_commercial_api_performance_detail_employee') }}",
      data: jsonData,
      dataType: "json",
      beforeSend: function (params) {
        $("#employeePerformanceList").html("");
      },
      success: function (data, textStatus, xhr) {
        $(".modal-dialog .modal-body").show();
        $(".modal-dialog .modal-loading").hide();
        console.log(data);

        $("#stationName").html(data.employees[0].location);
        $("#targetName").html(data.employees[0].targetName);

        if (data.employees.length > 0) {
          data.employees.map((e) => {
            $("#employeePerformanceList").append(
              employeePerformanceComponent(
                e.nombreEmpleado,
                e.stockAsignadoEmpleado,
                e.stockVendidoEmpleado
              )
            );
          });
        }
      },
    });
  };

  const graphicComponent = (target, sales, file) => {
    let percent = (sales * 100) / target;

    let style = percent >= 100? "bg-color-mayor":"bg-color-menor";

    let numberStyle = percent >= 100? "totalSold-mayor":"totalSold-menor";

    console.log(style, percent);

    let porc_dato1 = percent > 100 ? 360 : (percent / 100) * 360;
    let porc_dato2 = porc_dato1 / 2;

    return `
    <div class="graph pt4 fl-m-r" id="graph_MYSTERYSHOPPER">
      <div class="data-prom-medium">${target}</div>
      <a href="#">
        <div class="radial-graph-medium">
          <!-- SHAPE -->
          <div class="shape-medium">
            <div
              class="mask-medium full-mask-medium"
              style="transform: rotate(${porc_dato2}deg)"
            >
              <div
                class="fill-medium ${style}"
                style="transform: rotate(${porc_dato2}deg)"
              ></div>
            </div>
            <!-- MASK -->
            <div class="mask-medium">
              <div
                class="fill-medium ${style}"
                style="transform: rotate(${porc_dato2}deg)"
              ></div>
              <div
                class="fill-medium ${style} shim-medium"
                style="transform: rotate(${porc_dato1}deg)"
              ></div>
            </div>
          </div>
          <div class="cutout-medium color-menor">
            <div class="data-medium">
              <img
              style="
                object-fit: contain;
                width: 120px;
                height: 120px;"
                src="{{ asset('/uploads/target_img/')}}${file}"
                alt=""
                width="120px"
              />
            </div>
          </div>
          <div class="data-canal-medium">
            <span class="normal ${numberStyle}">${sales}</span>
          </div>
        </div>
      </a>
      <div class="border ${style}">
        <div class="arrow arrow-color-menor"></div>
      </div>
    </div>`;
  };
</script>
{% endblock %}
