<div class="commentarea">
	<h1>{{ 'Comments'|trans }}</h1>

	{% for entity in entities %}
	<div class="comment">
	    <p class="commentname">{{ entity.user.profile.firstName }} {{ entity.user.profile.lastName }}</p>
	    <p class="commentdate">{{ entity.createdAtDiff|date('%a days %h hours %i minutes'|trans) }}</p>
	    <div class="clearme"></div>
	    <p class="commentcontent">{{ entity.content }}</p>
	</div>
	{% else %}
	<div class="comment">
	    <p>{{ 'There is no comments yet'|trans }}</p>
	</div>
	{% endfor %}
	<div class="commentline"></div>

	<div class="facebookcomment">
        <div class="fb-comments" data-href="{{ url('frontend_news_show', {id:news.slug}) }}" data-width="690"></div>
	</div>
</div>