<div class="commentarea">
	<h1>{{ 'Leave a Comment'|trans }}</h1>
	<div class="commentcreation">
		<form action="{{ path('frontend_news_show', { id : news.slug }) }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
	    	{{ form_widget(form) }}
	    	<div class="form_action">
				<button type="submit" class="btn btn-comment">{{ 'Comment'|trans }}</button>    		
	    	</div>
	    	<div class="clearme"></div>
		</form>	
	</div>
</div>