{% set progress = totalPoints ? (completedPoints * 100) / totalPoints : 0 %}

<div class="progressBar">
    <div class="points text-right"><span data-point="{{ completedPoints }}">{{ completedPoints|round(2,0) }}</span>/{{ totalPoints }} Ptos</div>
    <div class="mask" data-width="{{ 100-progress }}" style="width: {{ 100-progress }}%;"></div>
    <span></span>
</div>