{% extends 'WebFactoryBackOfficeThemeBundle::login_layout.html.twig' %}

{% block page_content %}
    {% embed '@WebFactoryBackOfficeTheme/embed/resetting_change_password.html.twig' with {
    form: form,
    title: ' ',
    subtitle: ' ',
    copyright: '© 2017',
    form_title: 'Ingrese sus nuevas credenciales',
    } %}
        {% block header_icon %}<img src="{{ asset('img/logo.png') }}" alt="logo" height="50" />{% endblock %}
    {% endembed %}
{% endblock %}
