{% extends 'WebFactoryBackOfficeThemeBundle::login_layout.html.twig' %}

{% block page_content %}
    {% embed '@WebFactoryBackOfficeTheme/embed/resetting.html.twig' with {
    form: form,
    title: ' ',
    subtitle: ' ',
    copyright: '© ' ~ 'now'|date('Y'),
    form_title: 'Ingrese sus credenciales',
    back_to_login_uri: path('backend_web_factory_user_security_login')
    } %}
        {% block header_icon %}<img src="{{ asset('img/logo.png') }}" alt="logo" height="50" />{% endblock %}
    {% endembed %}
{% endblock %}