<tr>
    <td class="col-md-10">
        {% if(module.presencialExam) %}
            El Examen se tomará presencial en el Taller de Nivelación
        {% else %}
            Examen Previo: {{ module.exam.questions|length }} preguntas
        {% endif %}
    </td>
    <td class="col-md-2">
        <div class="pull-right">
            {% if(module.presencialExam) %}
                &nbsp;
            {% else %}
                {% if haveModuleActive(employee, module) %}
                    {% if haveModuleExamActive(employee, module.exam, false) %}
                        {% if not moduleExamStarted(employee, module.exam, false) %}
                            <i class="fa fa-clock-o text-warning" title="Examen pendiente"></i>&nbsp;
                        {% endif %}
                        <a onclick = "if (! confirm('Está seguro que desea Desactivar el Examen de la Capacitación {{ module.nivelation ? 'de Nivelación ' : '' }}para el usuario?')) { return false; }" href="{{ path('employee_career_plan_deactivate_module_exam', {employee:employee.id, moduleExam:module.exam.id, prepost:0}) }}" class="btn btn-tiny" title="Desactivar Examen Previo"><i class="fa fa-sign-out text-warning"></i> Desactivar</a>
                    {% else %}
                        <a onclick = "if (! confirm('Está seguro que desea Activar el Examen de la Capacitación {{ module.nivelation ? 'de Nivelación ' : '' }}para el usuario?')) { return false; }" href="{{ path('employee_career_plan_activate_module_exam', {employee:employee.id, moduleExam:module.exam.id, prepost:0}) }}" class="btn btn-tiny" title="Activar Examen Previo"><i class="fa fa-sign-in text-info"></i> Activar</a>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </td>
</tr>
{% if testModuleFinish(employee, module.exam, false)|length %}
    <tr>
        <td colspan="2" class="col-md-12">
            <table class="table table-hover table-condensed">
                {% set i = 0 %}
                {% for test in testModuleFinish(employee, module.exam, false)  %}
                    <tr>
                        <td class="col-md-10">
                            {% set i = i+1 %}
                            Intento {{ i }}
                        </td>
                        <td class="col-md-2">
                            <div class="pull-right">

                                {% if test.finished %}
                                    {% if testEvaluated(test) %}
                                        {% if test.approved %}
                                            <i class="fa fa-check text-success" title="Examen Aprobado!"></i>&nbsp;
                                            <a onclick = "if (! confirm('Está seguro que desea Desaprobar el Examen de la Capacitación de Nivelación para el usuario?')) { return false; }" href="{{ path('employee_career_plan_disapprove_module_exam', {employee:employee.id, moduleExam:module.exam.id, test:test.id}) }}" class="btn btn-tiny" title="Reprobar Examen"><i class="fa fa-close text-danger"></i> Reprobar</a>
                                        {% else %}
                                            <i class="fa fa-close text-danger" title="Examen Desaprobado!"></i>&nbsp;
                                            <a onclick = "if (! confirm('Está seguro que desea Aprobar el Examen de la Capacitación de Nivelación para el usuario?')) { return false; }" href="{{ path('employee_career_plan_approve_module_exam', {employee:employee.id, moduleExam:module.exam.id, moduleExam:module.exam.id, test:test.id}) }}" class="btn btn-tiny" title="Aprobar Examen"><i class="fa fa-check text-success"></i> Aprobar</a>
                                        {% endif %}
                                    {% else %}
                                        <i class="fa fa-hourglass-2 text-warning" title="Examen pendiente de Corrección"></i>&nbsp;
                                        <a onclick = "if (! confirm('Está seguro que desea Desaprobar el Examen de la Capacitación de Nivelación para el usuario?')) { return false; }" href="{{ path('employee_career_plan_disapprove_module_exam', {employee:employee.id, moduleExam:module.exam.id, test:test.id}) }}" class="btn btn-tiny" title="Reprobar Examen"><i class="fa fa-close text-danger"></i> Reprobar</a>
                                        <a onclick = "if (! confirm('Está seguro que desea Aprobar el Examen de la Capacitación de Nivelación para el usuario?')) { return false; }" href="{{ path('employee_career_plan_approve_module_exam', {employee:employee.id, moduleExam:module.exam.id, test:test.id}) }}" class="btn btn-tiny" title="Aprobar Examen"><i class="fa fa-check text-success"></i> Aprobar</a>
                                    {% endif %}
                                {% else %}
                                    <i class="fa fa-clock-o text-warning" title="Examen no finalizado"></i>&nbsp;
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
{% endif %}
<tr>
    <td class="col-md-10">
        {% if(module.presencialExam) %}
            El Examen se tomará presencial en el Taller de Nivelación
        {% else %}
            Examen Posterior: {{ module.exam.questions|length }} preguntas
        {% endif %}
    </td>
    <td class="col-md-2">
        <div class="pull-right">
            {% if(module.presencialExam) %}
                &nbsp;
            {% else %}
                {% if haveModuleActive(employee, module) %}
                    {% if haveModuleExamActive(employee, module.exam, true) %}
                        {% if not moduleExamStarted(employee, module.exam, true) %}
                            <i class="fa fa-clock-o text-warning" title="Examen pendiente"></i>&nbsp;
                        {% endif %}
                        <a onclick = "if (! confirm('Está seguro que desea Desactivar el Examen de la Capacitación {{ module.nivelation ? 'de Nivelación ' : '' }}para el usuario?')) { return false; }" href="{{ path('employee_career_plan_deactivate_module_exam', {employee:employee.id, moduleExam:module.exam.id, prepost:1}) }}" class="btn btn-tiny" title="Desactivar Examen"><i class="fa fa-sign-out text-warning"></i> Desactivar</a>
                    {% else %}
                        <a onclick = "if (! confirm('Está seguro que desea Activar el Examen de la Capacitación {{ module.nivelation ? 'de Nivelación ' : '' }}para el usuario?')) { return false; }" href="{{ path('employee_career_plan_activate_module_exam', {employee:employee.id, moduleExam:module.exam.id, prepost:1}) }}" class="btn btn-tiny" title="Activar Examen"><i class="fa fa-sign-in text-info"></i> Activar</a>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </td>
</tr>
{% if testModuleFinish(employee, module.exam, true)|length %}
    <tr>
        <td colspan="2" class="col-md-12">
            <table class="table table-hover table-condensed">
                {% set i = 0 %}
                {% for test in testModuleFinish(employee, module.exam, true)  %}
                    <tr>
                        <td class="col-md-10">
                            {% set i = i+1 %}
                            Intento {{ i }}
                        </td>
                        <td class="col-md-2">
                            <div class="pull-right">

                                {% if test.finished %}
                                    {% if testEvaluated(test) %}
                                        {% if test.approved %}
                                            <i class="fa fa-check text-success" title="Examen Aprobado!"></i>&nbsp;
                                            <a onclick = "if (! confirm('Está seguro que desea Desaprobar el Examen de la Capacitación de Nivelación para el usuario?')) { return false; }" href="{{ path('employee_career_plan_disapprove_module_exam', {employee:employee.id, moduleExam:module.exam.id, test:test.id}) }}" class="btn btn-tiny" title="Reprobar Examen"><i class="fa fa-close text-danger"></i> Reprobar</a>
                                        {% else %}
                                            <i class="fa fa-close text-danger" title="Examen Desaprobado!"></i>&nbsp;
                                            <a onclick = "if (! confirm('Está seguro que desea Aprobar el Examen de la Capacitación de Nivelación para el usuario?')) { return false; }" href="{{ path('employee_career_plan_approve_module_exam', {employee:employee.id, moduleExam:module.exam.id, moduleExam:module.exam.id, test:test.id}) }}" class="btn btn-tiny" title="Aprobar Examen"><i class="fa fa-check text-success"></i> Aprobar</a>
                                        {% endif %}
                                    {% else %}
                                        <i class="fa fa-hourglass-2 text-warning" title="Examen pendiente de Corrección"></i>&nbsp;
                                        <a onclick = "if (! confirm('Está seguro que desea Desaprobar el Examen de la Capacitación de Nivelación para el usuario?')) { return false; }" href="{{ path('employee_career_plan_disapprove_module_exam', {employee:employee.id, moduleExam:module.exam.id, test:test.id}) }}" class="btn btn-tiny" title="Reprobar Examen"><i class="fa fa-close text-danger"></i> Reprobar</a>
                                        <a onclick = "if (! confirm('Está seguro que desea Aprobar el Examen de la Capacitación de Nivelación para el usuario?')) { return false; }" href="{{ path('employee_career_plan_approve_module_exam', {employee:employee.id, moduleExam:module.exam.id, test:test.id}) }}" class="btn btn-tiny" title="Aprobar Examen"><i class="fa fa-check text-success"></i> Aprobar</a>
                                    {% endif %}
                                {% else %}
                                    <i class="fa fa-clock-o text-warning" title="Examen no finalizado"></i>&nbsp;
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
{% endif %}