<link rel="stylesheet" href="{{ asset('js/jquery-ui/jquery-ui.min.css') }}">
<script src="{{ asset('js/jquery-ui/jquery-ui.min.js') }}"></script>
<tr class="text-white p-3 bg-dark">
    <td class="col-md-9">
        <span title="{{ haveModuleActive(employee, module) ? (haveModuleApprove(employee, module) ? (module.type == 'module' ? 'Capacitación Aprobada' : 'Taller Aprobado') : (module.type == 'module' ? 'Módulo Desaprobado' : 'Taller Desaprobado') ) : (module.type == 'module' ? 'Módulo no activado para el usuario' : 'Taller no activado para el usuario') }}">
            <b>{{ module }}</b>
            {% if haveModuleActive(employee, module) %}
                {% set fechas = getDates(employee, module) %}
                | Desde el {{ fechas[0]|date("d/m/Y") }} hasta el {{ fechas[1]|date("d/m/Y") }}
            {% endif %}
        </span>
    </td>
    <td class="col-md-3">
        <div class="pull-right">
            {% if haveModuleActive(employee, module) %}
            {% if not haveModuleApprove(employee, module) %}
                <i class="fa fa-close text-danger"
                   title="{{ module.type == 'module' ? 'Capacitación Desaprobada!' : 'Taller Desaprobado!' }}"></i>&nbsp;
            {% else %}
                <i class="fa fa-check text-success"
                   title="{{ module.type == 'module' ? 'Capacitación Aprobada!' : 'Taller Aprobado!' }}"></i>&nbsp;
            {% endif %}
                <a onclick="if (! confirm('Está seguro que desea Desactivar el {{ module.type == 'module' ? 'Capacitación' : 'Taller' }} {{ module.nivelation ? 'de Nivelación ' : '' }}para el usuario?')) { return false; }"
                   href="{{ path('employee_career_plan_deactivate_module', {employee:employee.id, module:module.id}) }}"
                   class="btn btn-tiny" title="Desactivar {{ module.type == 'module' ? 'Módulo' : 'Taller' }}"><i
                            class="fa fa-sign-out text-warning"></i> Desactivar</a>
            {% if not haveModuleApprove(employee, module) %}
                <a onclick="if (! confirm('Está seguro que desea Aprobar el {{ module.type == 'module' ? 'Capacitación' : 'Taller' }} {{ module.nivelation ? 'de Nivelación ' : '' }}para el usuario?')) { return false; }"
                   href="{{ path('employee_career_plan_approve_module', {employee:employee.id, module:module.id}) }}"
                   class="btn btn-tiny" title="Aprobar {{ module.type == 'module' ? 'Módulo' : 'Taller' }}"><i
                            class="fa fa-check text-success"></i> Aprobar</a>
            {% else %}
                <a onclick="if (! confirm('Está seguro que desea Desactivar el {{ module.type == 'module' ? 'Capacitación' : 'Taller' }} {{ module.nivelation ? 'de Nivelación ' : '' }}para el usuario?')) { return false; }"
                   href="{{ path('employee_career_plan_disapprove_module', {employee:employee.id, module:module.id}) }}"
                   class="btn btn-tiny" title="Reprobar {{ module.type == 'module' ? 'Módulo' : 'Taller' }}"><i
                            class="fa fa-close text-danger"></i> Reprobar</a>
            {% endif %}
            {% else %}

                <button class="btn btn-tiny" title="Activar {{ module.type == 'module' ? 'Módulo' : 'Taller' }}"
                        id="activar" name={{ module.id }}>
                        <i class="fa fa-sign-in text-info"></i>
                        Activar
                </button>

            {% endif %}
        </div>
    </td>
</tr>
<tr>
    <td colspan="2" class="col-md-12">
        <table class="table table-hover table-condensed">
            {% if module.exam %}
                {{ include('@PlanCarrera/Backend/Partials/exam.html.twig', [module]) }}
            {% endif %}
            {% if module.poll %}
                {{ include('@PlanCarrera/Backend/Partials/poll.html.twig', [module]) }}
            {% endif %}
        </table>
    </td>
</tr>




