<tr>
    <td class="col-md-10">
        Encuesta: {{ module.poll.questions|length }} preguntas
    </td>
    <td class="col-md-2">
        <div class="pull-right">
            {% if ((module.poll.id is defined) and (haveModuleActive(employee, module))) %}
                {% if haveModulePollActive(employee, module.poll) %}
                    <a onclick = "if (! confirm('Está seguro que desea Desactivar la Encuesta de la Capacitación {{ module.nivelation ? 'de Nivelación ' : '' }}para el usuario?')) { return false; }" href="{{ path('employee_career_plan_deactivate_module_poll', {employee:employee.id, modulePoll:module.poll.id}) }}" class="btn btn-tiny" title="Desactivar Encuesta"><i class="fa fa-sign-out text-warning"></i> Desactivar</a>
                {% else %}
                    <a onclick = "if (! confirm('Está seguro que desea Activar la Encuesta de la Capacitación {{ module.nivelation ? 'de Nivelación ' : '' }}para el usuario?')) { return false; }" href="{{ path('employee_career_plan_activate_module_poll', {employee:employee.id, modulePoll:module.poll.id}) }}" class="btn btn-tiny" title="Activar Encuesta"><i class="fa fa-sign-in text-info"></i> Activar</a>
                {% endif %}
            {% endif %}
        </div>
    </td>
</tr>