<table class="table table-striped table-hover table-condensed">
    {% for requirement in plan.requirements %}
        <tr>
            <td class="col-md-9>
                <span title="{{ requirementApproved(employee, requirement) ? 'Aprobado' : 'No Aprobado' }}">
            <i class="fa fa-caret-right"></i>&nbsp;{{ requirement }}
                </span>
            </td>
            <td class="col-md-3">
                <div class="pull-right">
                    {% if haveRequirementActive(employee, requirement) %}
                        {% if requirementApproved(employee, requirement) %}
                            <i class="fa fa-check text-success" title="Aprobado"></i>&nbsp;
                        {% else %}
                            <i class="fa fa-close text-danger" title="No Aprobado"></i>&nbsp;
                        {% endif %}
                        <a onclick = "if (! confirm('Está seguro que desea Desactivar el Requerimiento del Plan para el usuario?')) { return false; }" href="{{ path('employee_career_plan_deactivate_requirement', {employee:employee.id, planRequirement:requirement.id}) }}" class="btn btn-tiny" title="Desactivar Requerimiento"><i class="fa fa-sign-out text-warning"></i> Desactivar</a>
                        {% if requirementApproved(employee, requirement) %}
                            <a onclick = "if (! confirm('Está seguro que desea Desaprobar el Requerimiento del Plan para el usuario?')) { return false; }" href="{{ path('employee_career_plan_disapprove_requirement', {employee:employee.id, planRequirement:requirement.id}) }}" class="btn btn-tiny" title="Reprobar Requerimiento"><i class="fa fa-close text-danger"></i> Reprobar</a>
                        {% else %}
                            <a onclick = "if (! confirm('Está seguro que desea Aprobar el Requerimiento del Plan para el usuario?')) { return false; }" href="{{ path('employee_career_plan_approve_requirement', {employee:employee.id, planRequirement:requirement.id}) }}" class="btn btn-tiny" title="Aprobar Requerimiento"><i class="fa fa-check text-success"></i> Aprobar</a>
                        {% endif %}
                    {% else %}
                        <a onclick = "if (! confirm('Está seguro que desea Activar el Requerimiento del Plan para el usuario?')) { return false; }" href="{{ path('employee_career_plan_activate_requirement', {employee:employee.id, planRequirement:requirement.id}) }}" class="btn btn-tiny" title="Activar Requerimiento"><i class="fa fa-sign-in text-info"></i> Activar</a>
                    {% endif %}
                </div>
            </td>
        </tr>
    {% else %}
        <i>No hay Requerimientos para este Plan</i>
    {% endfor %}
</table>