{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Listado de Archivos de Incentivos de Empleados',
    path: {
        new: {uri: path('aper_importxls_employee_add')},
    },
    } only %}
{% endblock page_header %}

{#title:'log.list.title'|trans,#}

{% block page_content %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>{{'Month'|trans }}</th>
                    <th>{{'Year'|trans}}</th>
                    <th>{{'Fecha de subida' }}</th>
                    <th>{{'Usuario'}}</th>
                    <th>{{'Archivo'}}</th>
                </tr>
            </thead>
            <tbody>
                {% for log in pagination %}
                    <tr>
                        <td>{{log.month }}</td>
                        <td>{{log.year }}</td>
                        <td>{{log.createdat|date('d/m/Y h:m:s') }}</td>
                        <td>{{log.user.employee ? log.user.employee.profile.name : "Administrador" }}</td>
                        <td>{% if log.file is not null %}<a href="{{asset(log.file.webPath)}}" download="{{log.file.filepath}}.xls"> Descargar </a>{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        {{ grid_pagination(pagination) }}
    </div>
{% endblock page_content %}