{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block body_class %}edit {% endblock %}

{% block page_title %}Encuesta del Curso &laquo;{{ module.title }}&raquo;{% endblock %}

{% block content_header %}
    <div class="row">
        <div class="col-sm-7">
            {% block content_title_wrapper %}
                <h1 class="title">Encuesta del Curso &laquo;{{ module.title }}&raquo;</h1>
            {% endblock %}
        </div>

        <div class="col-sm-5">
            <div class="global-actions">
                {% block global_actions %}
                    <div class="pull-right">
                        <a class="btn btn-primary action-edit" href="{{ path('easyadmin', {action:'edit', id:poll.id, entity:'ModulePoll'}) }}"><i class="fa fa-edit"></i> Modificar</a>
                    </div>
                    {% block search_action %}

                    {% endblock search_action %}

                {% endblock global_actions %}
            </div>
        </div>
    </div>
{% endblock content_header %}

{% block main %}
    <div class="content">
        <div class="row">
            <div class="field-group col-md-8 ">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Detalle</h3>
                    </div>
                    <div class="box-body">
                        <p>
                            <div class="row">
                                <div class="col-md-4">
                                    Curso:
                                </div>
                                <div class="col-md-8">
                                    <b><a class="" href="{{ path('easyadmin', {action:'show', id: module.id, entity:'Capacitaciones'}) }}">{{ module.title }}</a></b>
                                </div>
                            </div>
                        </p>
                        <p>
                            <div class="row">
                                <div class="col-md-4">
                                    Empleados Encuestados:
                                </div>
                                <div class="col-md-8">
                                    <b>{{ employeesSurveyed }}</b>
                                </div>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
            <div class="field-group col-md-4">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Exportar Estad&iacute;sticas</h3>
                    </div>
                    <div class="box-body">
                        {{ form(export_data_form) }}
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="ro-w field-group">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Preguntas</h3>
                </div>
                <div class="box-body">
                    {% if poll.questions|length %}
                        {% set t = 1 %}
                        {% for question in poll.questions %}
                            <div class="box box-primary box-solid">
                                <div class="box-header">
                                    <h3 class="box-title">{{ t }}) - {{ question.text }}</h3>
                                    {#<div class="pull-right" ><a class="btn btn-tiny btn-default" title="Editar Pregunta" href="{{ path('easyadmin', {action:'edit', id:question.id, entity:'ModulePollQuestion'}) }}"><i class="fa fa-edit text-black"></i></a></div>#}
                                </div>
                                <div class="box-body">
                                    {% if question.type == 'MULTCHOICE' %}
                                        {% if question.image %}
                                            <div class="row">
                                                {% if question.image.extension %}
                                                    <div class="col-sm-1">
                                                        Imagen:
                                                    </div>
                                                    <div class="col-sm-11">
                                                        <a title="{{ question.text }}" href="#"><img  style="max-width: 200px;" class="img-thumbnail lightbox img-responsive" src="/{{ question.image.webPath }}"></a>
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <br>
                                        {% endif %}
                                        <div class="row">
                                            <div class="col-sm-1">
                                                Opciones:
                                            </div>
                                            <div class="col-sm-11">
                                                {#{% set t=1 %}{% for answer in question.answers %}<b>{{ answer.text }}</b>{% if (question.answers|length != t) %}&nbsp;|&nbsp;{% endif %}{% set t=t+1 %}{% endfor %}#}
                                                {% for answer in question.answers %}
                                                    <p>
                                                        <i class="fa fa-square-o"></i>&nbsp;<b>{{ answer.text }}</b>
                                                    </p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% else %}
                                        {% if question.image %}
                                            <div class="row">
                                                {% if question.image.extension %}
                                                    <div class="col-sm-1">
                                                        Imagen:
                                                    </div>
                                                    <div class="col-sm-11">
                                                        <a title="{{ question.text }}" href="#"><img  style="max-width: 200px;" class="img-thumbnail lightbox img-responsive" src="/{{ question.image.webPath }}"></a>
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <br>
                                        {% endif %}
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <textarea cols="40" rows="4" style="width: 100%" disabled readonly placeholder="--texto libre--"></textarea>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% set t = t+1 %}
                        {% endfor %}
                    {% else %}
                        <div class="empty collection-empty">
                            <span class="label label-empty">{{ 'label.empty'|trans(domain = 'EasyAdminBundle') }}</span>
                        </div>
                        <br>
                        <br>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 form-actions">
                <div class="form-group">
                    <div id="form-actions-row">
                        <a class="btn btn-primary action-edit" href="{{ path('easyadmin', {action:'edit', id:poll.id, entity:'ModulePoll'}) }}"><i class="fa fa-edit"></i> Modificar</a>
                        <a class="btn btn-secondary action-list" href="{{ path('easyadmin', {action:'list', entity:'ModulePoll'}) }}">Volver al listado</a>
                    </div>
                </div>
            </div>
            {#<div class="col-xs-12 form-actions sticky-wrapper" style="height: 0px;"></div>#}
        </div>
    </div>
    <div tabindex="-1" class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">×</button>
                    <h3 class="modal-title">Heading</h3>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('.form-actions').easyAdminSticky();
        $(document).ready(function() {
            $('.lightbox').click(function(){
                $('.modal-body').empty();
                var title = $(this).parent('a').attr("title");
                $('.modal-title').html(title);
                let img = $(this);//.clone();
                $(img.parents('div').html()).appendTo('.modal-body');
                let i = $('.modal-body').find('img');
                i.attr('style', 'max-width:100%');
                $('#myModal').modal({show:true});
                return false;
            });
        });
    </script>

{% endblock %}

{% block head_stylesheets %}
    {{ parent() }}
{% endblock %}