{% extends 'MopaBootstrapBundle:Form:fields.html.twig' %}

{# form_legend #}
{% block form_legend %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <{{ legend_tag }} class="header smaller {{ form.parent ? 'blue' : 'black' }}">{{ label|trans({}, translation_domain) }}</{{ legend_tag }}>
{% endspaceless %}
{% endblock form_legend %}

{# widget_form_group_start #}
{% block widget_form_group_start %}
    {% if widget_form_group|default(false) or form.parent == null %}
        {% if form.parent is not null and 'collection' in form.parent.vars.block_prefixes %} {# i am a collection child #}
            {% if not omit_collection_item %}
                {# collection item wrapper doesnt need form-group it gets added to childs anyways #}
                {% set widget_form_group_attr = widget_form_group_attr|merge({class: 'collection-item'}) %}
            {% endif %}
        {% endif %}
        {% if errors|length > 0 %}
            {# Add Error Class to Widget Wrapper#}
            {% set widget_form_group_attr = widget_form_group_attr|merge({'class': widget_form_group_attr.class|default('') ~ ' has-error'}) %}
        {% endif %}
        {% if help_widget_popover.selector is sameas(null) %}
            {% set help_widget_popover = help_widget_popover|merge({'selector': '#' ~ id }) %}
        {% endif %}
        <div{% if help_widget_popover.title is not sameas(null) %}{{ block('help_widget_popover') }}{% endif %} {% for attrname,attrvalue in widget_form_group_attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>
        {# a form item containing the field in block_prefixes is a near subform or a field directly #}
        {% if (form|length > 0 and form.parent != null)
        and 'field' not in form.vars.block_prefixes
        and 'date' not in form.vars.block_prefixes %}
            {% if show_child_legend%}
                {{ block('form_legend') }}
            {% elseif label_render %}
                {{ form_label(form, label|default(null)) }}
            {% else %}
            {% endif %}
        {% else %}
            {% if label_render %}
                {{ form_label(form, label|default(null)) }}
            {% endif %}
        {% endif %}
    {% else %}
        {% if label_render %}
            {{ form_label(form, label|default(null)) }}
        {% endif %}
    {% endif %}
{% endblock widget_form_group_start %}

{# form_row #}
{% block form_row %}
    {% set isFrontend = not (app.request.pathInfo starts with '/admin') %}

    {% spaceless %}
        {% if 'tab' in form.vars.block_prefixes %}
            {{ block('form_tab') }}
        {% else %}
            {{ block('widget_form_group_start') }}

            {% set show_horizontal_wrapper = horizontal and not (form.parent is not null and 'collection' in form.parent.vars.block_prefixes) %}

            {% if horizontal and not label_render %}
                {% set horizontal_input_wrapper_class = horizontal_input_wrapper_class ~ ' ' ~ horizontal_label_offset_class %}
            {% endif %}

            {% if compound %}
                {% set show_horizontal_wrapper = false %}
                {#% set horizontal_input_wrapper_class = 'col-sm-9 pull-left' %#}
            {% endif %}

            {% if show_horizontal_wrapper%}
                {% if isFrontend %}
                    {% set horizontal_input_wrapper_class = '' %}
                {% endif %}

                <div class="{{ horizontal_input_wrapper_class }}">
            {% endif %}

            {{ widget_prefix|trans({}, translation_domain)|raw }} {{ form_widget(form, _context) }} {{ widget_suffix|trans({}, translation_domain)|raw }}

            {% set type = type|default('text') %}
            {% if type != 'hidden' %}
                {{ block('form_message') }}
            {% endif %}

            {% if show_horizontal_wrapper %}
                </div>
            {% endif %}

            {% if form.parent is not null and 'collection' in form.parent.vars.block_prefixes and widget_remove_btn|default(null) and form.parent.vars.allow_delete|default(false) %}
                {{ block('form_widget_remove_btn') }}
            {% endif -%}
            {{ block('widget_form_group_end') }}
        {% endif %}
    {% endspaceless %}
{% endblock form_row %}

{# button_row #}
{% block button_row %}
    {% spaceless %}
        {% if button_offset is defined and button_offset is not empty %}
            {% set attr = attr|merge({'for': id, 'class': button_offset }) %}
            <div class="form-group">
                <div {% for attrname, attrvalue in attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>
                {{ form_widget(form) }}
                </div>
            </div>
        {% else %}
            <div class="clearfix form-actions">
                {{ form_widget(form) }}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock button_row %}

{# Errors #}
{% block form_errors %}
{% spaceless %}
{% if error_delay %}
    {% for child in form %}
        {% if loop.index == 1 %}
            {% if child.set('errors', errors) %}{% endif %}
        {% endif %}
    {% endfor %}
{% else %}
    {% if errors|length > 0 %}
        {% if form.parent == null %}
            {% from 'MopaBootstrapBundle::flash.html.twig' import flash %}
            {% for error in errors %}
                {{
                    flash('danger', error.messagePluralization is null
                        ? error.messageTemplate|trans(error.messageParameters, 'validators')
                        : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                    )
                }}
            {% endfor %}
        {% else %}
            <span class="help-{{ block('error_type') }}"><i class="ace-icon fa fa-exclamation-triangle bigger-120"></i>
            {% for error in errors %}
                {{
                    error.messagePluralization is null
                        ? error.messageTemplate|trans(error.messageParameters, 'validators')
                        : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                }} <br>
            {% endfor %}
            </span>
        {% endif %}
    {% endif %}
{% endif %}
{% endspaceless %}
{% endblock form_errors %}