
{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Editar Concurso'|trans,
    path: {
    index: {uri: path('aper_ruffle_index')},
    },
    } only %}
{% endblock page_header %}

{% block page_content %}

    <style>
        #collectionruffle_mchoice_form_group > .collection-item{
            border: 1px solid #d5e3ef;
            padding: 1em;
            margin: 1em 0;
        }

        .collection-item .form-group .header.smaller.blue{
            border-bottom: none;
            width: 60%;
            margin: 0 auto;
        }
        a[data-collection-add-btn=".ruffle_mchoice_form_group"]{
            position: relative !important;
            left: 289px;
            top: -18px;
        }


    </style>

    {{ form_start(form, {'attr': { 'role' : 'form'}}) }}
    <h4 class="text-danger">{{ form_errors(form) }}</h4>

    {{ form_end(form) }}

{% endblock %}

{% block body_scripts_optional %}

    <script src="{{ asset('bundles/mopabootstrap/js/mopabootstrap-collection.js') }}"></script>
    <script>

        $(window).on('load', function (){

//            $('div.ruffle_mchoice_form_group').parent().hide();
//            $('div.ruffle_question_form_group').parent().hide();
//
//            $('div.ruffle_question_form_group a[data-collection-add-btn]:not([data-collection-add-btn=".ruffle_question_form_group"])').hide();
//            $('div.ruffle_question_form_group a[data-collection-add-btn]').appendTo($('div.ruffle_question_form_group'));
//
//
//            $('div.ruffle_mchoice_form_group a[data-collection-add-btn]:not([data-collection-add-btn=".ruffle_mchoice_form_group"])').hide();
//            $('div.ruffle_mchoice_form_group a[data-collection-add-btn]').appendTo($('div.ruffle_mchoice_form_group'));



            // Ruffle on change
            $('#ruffle_ruffletype').change(function(){
                if (ruffle_ruffletype.value === "{{ constant('TYPE_TRIVIA', ruffle) }}") {
                    $('div.ruffle_question_form_group').parent().hide();
                    $('div.ruffle_mchoice_form_group').parent().show();
                }
                if (ruffle_ruffletype.value === "{{ constant('TYPE_QUESTION', ruffle) }}") {
                    $('div.ruffle_mchoice_form_group').parent().hide();
                    $('div.ruffle_question_form_group').parent().show();
                }
                if (ruffle_ruffletype.value === "{{ constant('TYPE_DIRECT', ruffle) }}") {
                    $('div.ruffle_question_form_group').parent().hide();
                    $('div.ruffle_mchoice_form_group').parent().hide();
                }
            });

            // Ruffle get selected and trigger it
            $('#ruffle_ruffletype').val(ruffle_ruffletype.value).trigger('change');

        });

    </script>

{% endblock %}



