{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'page_header.aper.ruffle.list.title'|trans,
    path: {
    new: {uri: path('aper_ruffle_new')},
    },
    } only %}
{% endblock page_header %}

{% block page_content %}
    <div class="table-responsiv5568e">


        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th{% if pagination.isSorted('ruffle.title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name'|trans, 'ruffle.title') }}</th>
                <th>Descripción</th>
                <th>Tipo de Concurso</th>
                <th>Inicio</th>
                <th>Fin</th>

                <th>{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for ruffle in pagination %}
                <tr data-id="{{ ruffle.id }}">
                    <td>{{ ruffle.title }}</td>
                    <td>{{ ruffle.description }}</td>
                    <td>{{ ruffle.ruffletype|trans }}</td>
                    <td>{{ ruffle.dateini| date('d/m/Y')  }}</td>
                    <td>{{ ruffle.dateend| date('d/m/Y')  }}</td>
                    <td>

                        <a href="{{ path('aper_ruffle_show', {id: ruffle.id }) }}" class="btn"
                           onclick="">{{ 'actions.show.label'|trans }}</a>
                        <a href="{{ path('aper_ruffle_edit', {id: ruffle.id }) }}"
                           class="btn">{{ 'actions.edit.label'|trans }}</a>
                        <a href="{{ path('aper_ruffle_delete', {id: ruffle.id }) }}"
                           class="btn btn btn-danger btn-delete"
                           onclick="return confirm('{{ 'Desea eliminar este Concurso?' }}')">{{ 'actions.delete.label'|trans }}</a>
                        <a href="{{ path('aper_ruffle_export', {id: ruffle.id }) }}"
                           class="btn">{{ 'actions.export.label'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <br>

        {{ grid_pagination(pagination) }}

    </div>
{% endblock page_content %}