{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Nuevo Concurso'|trans,
    path: {
    index: {uri: path('aper_ruffle_index')},
    },
    } only %}
{% endblock page_header %}


{% block page_content %}
    <style>
        #collectionruffle_mchoice_form_group > .collection-item{
            border: 1px solid #d5e3ef;
            padding: 1em;
            margin: 1em 0;
        }

        .collection-item .form-group .header.smaller.blue{
            border-bottom: none;
            width: 60%;
            margin: 0 auto;
        }
        a[data-collection-add-btn=".ruffle_mchoice_form_group"]{
            position: relative !important;
            left: 289px;
            top: -18px;
        }
    </style>


    {{ form(form) }}
    {#{{ form_start(form, {'attr' : {'role' : 'form'}, 'action':'', 'method':'POST' }) }}#}


    {#<div id="titulo">#}
        {#<b> Título</b>#}
        {#{{ form_widget(form.title, { 'attr' : { 'class' : 'form-control', 'placeholder' : 'Título del Concurso'} }) }}#}
        {#<br>#}
    {#</div>#}




    {#{{ form_end(form) }}#}


{% endblock %}

{% block head_style %}

{% endblock %}

{% block body_scripts_optional %}
    <script src="{{ asset('bundles/mopabootstrap/js/mopabootstrap-collection.js') }}"></script>


    <script>
        $(function () {
            $('div.ruffle_mchoice_form_group a[data-collection-add-btn]:not([data-collection-add-btn=".ruffle_mchoice_form_group"])').hide();
            $('div.ruffle_mchoice_form_group a[data-collection-add-btn]').appendTo($('div.ruffle_mchoice_form_group'))

            $('div.ruffle_question_form_group a[data-collection-add-btn]:not([data-collection-add-btn=".ruffle_question_form_group"])').hide();
            $('div.ruffle_question_form_group a[data-collection-add-btn]').appendTo($('div.ruffle_question_form_group'))

            $('div.ruffle_question_form_group a[data-collection-add-btn]:not([data-collection-add-btn=".ruffle_question_form_group"])').hide();
            $('div.ruffle_question_form_group a[data-collection-add-btn]').appendTo($('div.ruffle_question_form_group'))

        });
    </script>


    <script>
    ruffle_ruffletype.onchange = function() {

        $valor = ruffle_ruffletype.value;


        if ($valor === "{{ constant('TYPE_TRIVIA', ruffle) }}") {
            $('div.ruffle_question_form_group').parent().hide();
            $('div.ruffle_mchoice_form_group').parent().show();

        }

        if ($valor === "{{ constant('TYPE_QUESTION', ruffle) }}") {
            $('div.ruffle_mchoice_form_group').parent().hide();
            $('div.ruffle_question_form_group').parent().show();
        }


        if ($valor === "{{ constant('TYPE_DIRECT', ruffle) }}") {
            $('div.ruffle_mchoice_form_group').parent().hide();
            $('div.ruffle_question_form_group').parent().hide();
        }
    }

    </script>


    <script>
        $(window).on('load', function (){
            $('div.ruffle_mchoice_form_group').parent().hide();
            $('div.ruffle_question_form_group').parent().hide();
        } )
    </script>


{% endblock %}
