{% extends 'base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Ver Concurso'|trans,
    path: {
    index: {uri: path('aper_ruffle_index')},
    edit: {uri: path('aper_ruffle_edit', {'id': ruffle.id})},
    delete: {uri: path('aper_ruffle_delete', {'id': ruffle.id})},
    },

    } only %}
{% endblock page_header %}


{% block page_content %}
    <table class="table">
        <tbody>
        <tr>
            <th> Titulo </th>
            <td>{{ ruffle.title}}</td>
        </tr>
        <tr>
            <th> Descripción </th>
            <td>{{ ruffle.description }}</td>
        </tr>
        <tr>
            <th>{{ 'Tipo de Concurso'|trans }}</th>
            <td>{{ ruffle.ruffletype|trans }}</td>
        </tr>

        <tr>
            <th>{{ 'Fecha Inicio'|trans }}</th>
            <td>{{ ruffle.dateini| date('d/m/Y')}}</td>
        </tr>

        <tr>
            <th>{{ 'Fecha Fin'|trans }}</th>
            <td>{{ ruffle.dateend| date('d/m/Y') }}</td>
        </tr>

        <tr>
            <th>{{ 'Tiempo de Respuesta (en segundos)'|trans }}</th>
            <td>{{ ruffle.timeresponse }}</td>
        </tr>

        <tr>
            <th>{{ 'Roles allowed'|trans }}</th>
            <td>
                <ul class="list-unstyled">
                    {% for role in ruffle.rolesAllowed %}
                        <li>{{ role|trans }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>

        <tr>
            <th> Imágen principal </th>
        {% if ruffle.mainimage.webPath %}
            <td>  <img src=" {{ asset(ruffle.mainimage.webPath) }}" height="200"/>   </td>
        {% else %}
            <td>  N/D </td>
        {% endif %}
        </tr>

        <tr>
            <th> Imágen secundaria </th>
            {% if ruffle.secimage.webPath %}
                <td>  <img src=" {{ asset(ruffle.secimage.webPath) }}" height="200"/>   </td>
            {% else %}
                <td>  N/D </td>
            {% endif %}
        </tr>

        <tr>
        <th> Legales </th>
        {% if ruffle.legal.webPath %}
        <td>  <a href="{{ asset(ruffle.legal.WebPath) }}">Descargar</a></td>
        {% else %}
            <td>  N/D </td>
        {% endif %}

        </tr>

    {% if ruffle.ruffletype == "PREGUNTAS" %}

        <tr>
            <th> Preguntas </th>

            <td>
                {% for question in ruffle.question %}
                  -   {{ question.inquiry }} <br>

                    <img src=" {{ asset(question.questionimage.webPath) }}" height="200"/>  <br><br>
                {% endfor %}
            </td>
        </tr>

    {% endif %}

        {% if ruffle.ruffletype == "TRIVIA" %}

            <tr>
                <th> Opciones  </th>

                <td>
                    {% for question in ruffle.mchoice %}
                      - {{ question.inquiry }} <br>
                    {% endfor %}
                </td>
            </tr>

        {% endif %}



        </tbody>
    </table>
{% endblock %}