{% extends 'WebFactoryUserBundle::layout.html.twig' %}
{% block page_class %}login-page{% endblock %}
{% block web_factory_user_content %}
    <div class="container">
        <div class="formBox">
            <img src="{{ asset('dist/images/puma/logo-puma.png') }}" alt="Puma Energy"
                 class="img-responsive login-logo">
            <div class="formContainer">
                <h3 class="text-uppercase text-center medium">iniciar sesión</h3>
                <p>SI INGRESAS POR PRIMERA VEZ A LA PLATAFORMA, UTILIZÁ <strong>TU EMAIL</strong> Y LA CONTRASEÑA <strong>123456</strong>. LUEGO PODRÁS CAMBIAR TU CONTRASEÑA EN LA SECCIÓN MI PERFIL</p>
                <p class="error">{{ error|trans({}, 'web_factory_user') }}</p>

                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form._username, 'Usuario:',{ 'label_attr': {'class': 'form-label'} }) }}
                    {{ form_widget(form._username, {widget_addon_prepend: {text :"<span class='icon icon-user'></span>"},attr:{placeholder:'Email'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form._password, 'Contraseña:', { 'label_attr': {'class': 'form-label'} }) }}
                    {{ form_widget(form._password,{widget_addon_prepend: {text :"<span class='icon icon-pw'></span>"},attr:{placeholder:'******'}}) }}
                </div>
                <a href="{{ path('frontend_web_factory_user_resetting_request') }}"class="form-label control-label" style="text-align: right; text-decoration: underline; color: #285171; !important" title="Recuperar Contraseña">Recuperar contraseña</a>
                <div class="text-center">
                    <button type="submit" class="submit redirect" value="Continuar" style="width:100% !important">
                        <div class="inner" style="color: white; font-weight: 500; font-size: 20px;">
                            Ingresar
                        </div>
                    </button>
                </div>
                <p style="text-align: center; color: #285171; margin-top: 20px; margin-bottom: 40px; font-size: 18px;">
                    Aún no tiene una cuenta? <a href="/register/" class="form-label control-label" style="text-decoration: underline; color: #285171;" title="Registrarse">Registrarse</a>
                </p>
                
                <div class="text-center">
                <p style="font-style: italic; font-size: 12px; text-align: center; margin-bottom: 20px;">
                    Si tenés problemas para ingresar al sitio, envíanos tus datos y la descripción del inconveniente a: <a href="mailto:soporteteam@pumaenergyarg.com.ar">soporteteam@pumaenergyarg.com.ar</a>. <br>En 24hs hábiles recibirás una respuesta.
                </p>
                {# <div class="text-center">
                    <button class="submit redirect" value="Registrarse">
                        <div class="inner">
                            <a href="/register/" >Registrarse</a> &nbsp;&nbsp;
                        </div>
                    </button>
                </div> #}
                {{ form_end(form) }}
                {#{{ form(form) }}#}
            </div>
        </div>
    </div>
{% endblock web_factory_user_content %}
