
{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Editar Comunicación Interna'|trans,
    path: {
    index: {uri: path('aper_comm_index')},
    },
    } only %}
{% endblock page_header %}

{% block page_content %}

    {{ form_start(form, {'attr': { 'role' : 'form'}}) }}
    <h4 class="text-danger">{{ form_errors(form) }}</h4>
    {{ form_end(form) }}

{% endblock %}

{% block body_scripts_optional %}
    <script src="{{ asset('bundles/mopabootstrap/js/mopabootstrap-collection.js') }}"></script>
    <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script type="text/javascript">
        $('select').select2();
        $(function () {
            var $formGroup = $('#communication_clearCustomActualEmails').closest('.form-group');

            $formGroup.hide();
            $formGroup.after('<button type="button" class="clearBtn">Borrar emails extras actuales</button>');

            $('.clearBtn').on('click', function () {
                $(this).hide();
                $('#communication_clearCustomActualEmails').prop('checked', true);
                $('#communication_customActualEmails').val('');
            });
        });
    </script>
    <style>
        .clearBtn {
            float:right;
        }
    </style>
{% endblock %}
