{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'page_header.aper.comm.list.title'|trans,
    path: {
    new: {uri: path('aper_comm_new')},
    },
    } only %}
{% endblock page_header %}


{% block page_content %}
    <div class="table-responsiv5568e">

        {% if filter_form is defined %}
            {{ grid_filter_form(filter_form) }}
        {% endif %}

        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th{% if pagination.isSorted('news.title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name'|trans, 'Benefit.name') }}</th>
                <th>Categoría</th>
                <th>Contenido de la Comunicación Interna</th>
                <th>Estado</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for news in pagination %}
                <tr data-id="{{ news.id }}">
                    <td>{{ news.title }}</td>
                    <td>{{ news.category|trans }}</td>
                    <td>{{ news.content|raw }}</td>
                    <td>{% if news.sent == 1 %}
                            <b>   <span class="text-success">Enviado</span></b>
                        {% elseif news.sent == 0 %}
                            <b> <span class="text-danger">No Enviado</span> </b>
                        {% endif %}</td>

                    <td>
                        <a href="{{ path('aper_comm_show', {id: news.id }) }}" class="btn"
                           onclick="">{{ 'actions.show.label'|trans }}</a>
                        <a href="{{ path('aper_comm_edit', {id: news.id }) }}"
                           class="btn">{{ 'actions.edit.label'|trans }}</a>
                        <a href="{{ path('aper_comm_delete', {id: news.id }) }}"
                           class="btn btn btn-danger btn-delete"
                           onclick="return confirm('{{ 'Desea eliminar la comunicación?' }}')">{{ 'actions.delete.label'|trans }}</a>
                        <a href="{{ path('aper_sendcomm_edit', {id: news.id }) }}"
                           class="btn">{{ 'Enviar Mail' }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <br>

        {{ grid_pagination(pagination) }}

    </div>
{% endblock page_content %}