{% extends 'base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'page_header.aper.communication.show.title'|trans,
    path: {
    index: {uri: path('aper_comm_index')},
    edit: {uri: path('aper_comm_edit', {'id': news.id})},
    delete: {uri: path('aper_comm_delete', {'id': news.id})},
    },

    } only %}
{% endblock page_header %}


{% block page_content %}
    <table class="table">
        <tbody>

        <tr>
            <th>Destinatarios</th>
            <td>
                <ul class="list-unstyled">
                    <b>Perfiles:</b>
                    {% for dest in news.mailprofiles %}
                        <li>{{ dest|trans }}</li>
                    {% endfor %}

                    <br><b>Salas:</b>
                    {% for dest in stores %}
                    <li>{{ dest|trans }}</li>
                    {% endfor %}

                    <br><b>Usuarios Individuales:</b>
                    {% for dest in mailusers %}
                        <li>{{ dest }}</li>
                    {% endfor %}


                </ul>
                {% if news.mailall %}{{ 'A TODOS'|trans }}{% else %}{{ ''|trans }}{% endif %}

            </td>
        </tr>


        <tr>
            <th> Titulo </th>
            <td>{{ news.title}}</td>
        </tr>
        <tr>
            <th> Contenido </th>
            <td>{{ news.content|raw }}</td>
        </tr>
        <tr>
            <th>{{ 'Category'|trans }}</th>
            <td>{{ news.category|trans }}</td>
        </tr>

        <tr>
            <th>Activo</th>
            <td>{% if news.active %}{{ 'Yes'|trans }}{% else %}{{ 'No'|trans }}{% endif %}</td>
        </tr>
        <tr>
            <th>Enviado</th>
            <td>{% if news.sent %}{{ 'Yes'|trans }}{% else %}{{ 'No'|trans }}{% endif %}</td>
        </tr>
        {% if news.mainimage.webpath %}
           <tr>
            <th> Imágen principal </th>


            <td>  <img src=" {{ asset(news.mainimage.webPath) }}" height="200"/>   </td>


        </tr>
        {% endif %}


        <tr>
            <th> Galería </th>

            <td>

                {% for galeria in news.gallery %}
                <img src=" {{ asset(galeria.webPath) }}" height="200"/>
                {% endfor %}

            </td>
        </tr>


        </tbody>
    </table>
{% endblock %}