
{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Nuevo módulo'|trans,
    path: {
    index: {uri: path('aper_plancarrera_modules_index')},
    },
    } only %}
{% endblock page_header %}

{% block page_content %}

    {{ form_start(form, {'attr': { 'role' : 'form'}}) }}
    <h4 class="text-danger">{{ form_errors(form) }}</h4>

    {{ form_end(form) }}

{% endblock %}

{% block body_scripts_optional %}
    <script src="{{ asset('bundles/mopabootstrap/js/mopabootstrap-collection.js') }}"></script>
    {#<script>#}
        {#document.querySelector(".thebuttomcontent img").src = '';#}
        {#document.querySelector(".thebuttomcontent img").title = 'Descargar';#}
        {#document.querySelector(".thebuttomcontent img").alt = 'Descargar';#}
    {#</script>#}

    <style>
        form .thebuttomcontent a img {
            background: white !important;
        }
    </style>
{% endblock %}

