{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Listado de Módulos'|trans,
    path: {
    new: {uri: path('aper_plancarrera_modules_new')},
    },
    } only %}
{% endblock page_header %}


{% block page_content %}
    <div class="table-responsiv5568e">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>Título</th>
                <th>Plan asociado</th>
                <th>Archivos</th>
                <th>Presencial</th>
                <th>Estado</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>

            {% for module in modules %}
                <tr data-id="{{ module.id }}">
                    <td><b>{{ module.title }}</b></td>
                    <td><b>{{ module.plan.title }}</b></td>
                    <td>
                        {{ module.multimedia.count }}
                    </td>
                    <td>
                        {% if module.presencial == 0 %}
                            <span class="label label-danger">NO</span>
                        {% else %}
                            <span class="label label-success">SI</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if module.status == 0 %}
                            <span class="label label-danger">INACTIVO</span>
                        {% else %}
                            <span class="label label-success">ACTIVA</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('aper_plancarrera_modules_show', {id: module.id }) }}" class="btn"
                           onclick="">
                            {{ 'actions.show.label'|trans }}
                        </a>

                        {% if module.presencial %}
                            <a href="{{ path('aper_plancarrera_schedule_index', {id: module.id }) }}" class="btn"
                               onclick="">
                                Ver presenciales
                            </a>
                        {% endif %}

                        {% if module.poll != null %}
                            <a href="{{ path('aper_plancarrera_poll_show', {id: module.poll.id }) }}" class="btn"
                               onclick="">
                                Ver encuesta
                            </a>
                        {% endif %}

                        <a href="{{ path('aper_plancarrera_modules_edit', {id: module.id }) }}"
                           class="btn">Editar</a>
                        <a href="{{ path('aper_plancarrera_modules_delete', {id: module.id }) }}"
                           class="btn btn btn-danger btn-delete"
                           onclick="return confirm('{{ 'Desea eliminar la capacitación?' }}')">{{ 'actions.delete.label'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <br>

    </div>
{% endblock page_content %}