{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Nuevo módulo'|trans,
    path: {
    index: {uri: path('aper_plancarrera_modules_index')},
    },
    } only %}
{% endblock page_header %}


{% block page_content %}
    {{ form(form) }}

{% endblock %}

{% block head_style %}

{% endblock %}

{% block body_scripts_optional %}
    <script src="{{ asset('bundles/mopabootstrap/js/mopabootstrap-collection.js') }}"></script>
<script>
    {#var plan = $('#aper_plancarrerabundle_moduleexam_plan');#}
    {#plan.change(function() {#}
        {#var $form = $(this).closest('form');#}
        {#var data = {};#}
        {#data['plan'] = plan.val();#}
        {#$.ajax({#}
            {#url : {{ path('json_get_modules_by_plan') }},#}
            {#type: $form.attr('method'),#}
            {#data : data,#}
            {#success: function(r) {#}
                {#alert(r);#}
            {#}#}
        {#});#}
    {#});#}
</script>
{% endblock %}
