{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'page_header.aper.politic_and_procedure.edit.title'|trans,
    path: {
    index: {uri: path('admin_politic_and_procedure_index')},
    },
    } only %}
{% endblock page_header %}

{% block page_content %}
    {{ form(edit_form) }}
{% endblock %}
