{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'page_header.aper.politic_and_procedure.list.title'|trans,
    path: {
    new: {uri: path('admin_politic_and_procedure_new')},
    },
    } only %}
{% endblock page_header %}


{% block page_content %}
    <div class="table-responsiv5568e">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>{{ 'Title'|trans }}</th>
                <th>{{ 'politic_and_procedure.enabled'|trans }}</th>
                <th>{{ 'Roles allowed'|trans }}</th>
                <th>Categoria</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for politicAndProcedure in pagination %}
                <tr data-id="{{ politicAndProcedure.id }}">
                    <td>{{ politicAndProcedure.title|raw }}</td>
                    <td>
                        <b>
                        {% if politicAndProcedure.enabled %}
                            <span class="text-success">{{ 'Yes'|trans }}</span>
                        {% else %}
                            <span class="text-danger">{{ 'No'|trans }}</span>
                        {% endif %}
                        </b>
                    </td>
                    <td>
                        <ul class="list-unstyled">
                            {% for role in politicAndProcedure.rolesAllowed %}
                                {%  if role != 'ROLE_ADMIN' %}
                                    <li>{{ role|trans }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        {% if politicAndProcedure.category %}
                            <span class="text-success">{{ politicAndProcedure.category.name|raw }}</span>
                        {% else %}
                            <span class="text-danger">Sin Categoria</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('admin_politic_and_procedure_show', {id: politicAndProcedure.id }) }}" class="btn"
                           onclick="">{{ 'actions.show.label'|trans }}</a>
                        <a href="{{ path('admin_politic_and_procedure_edit', {id: politicAndProcedure.id }) }}"
                           class="btn">{{ 'actions.edit.label'|trans }}</a>
                        <a href="{{ path('admin_politic_and_procedure_delete', {id: politicAndProcedure.id }) }}"
                           class="btn btn btn-danger btn-delete"
                           onclick="return confirm('{{ 'Desea eliminar esta Política y Procedimiento?' }}')">{{ 'actions.delete.label'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <br>

        {{ grid_pagination(pagination) }}

    </div>
{% endblock page_content %}