{% extends 'base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'page_header.aper.politic_and_procedure.show.title'|trans,
    path: {
    edit: {uri: path('admin_politic_and_procedure_edit', {'id': politicAndProcedure.id})},
    delete: {uri: path('admin_politic_and_procedure_delete', {'id': politicAndProcedure.id})},
    },

    } only %}
{% endblock page_header %}


{% block page_content %}
    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'Title'|trans }}</th>
                <td>{{ politicAndProcedure.title}}</td>
            </tr>
            <tr>
                <th>{{ 'Content'|trans }}</th>
                <td>{{ politicAndProcedure.content|raw }}</td>
            </tr>
            <tr>
                <th>{{ 'Roles allowed'|trans }}</th>
                <td>
                    <ul class="list-unstyled">
                        {% for role in politicAndProcedure.rolesAllowed %}
                            <li>{{ role|trans }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>

            <tr>
                <th>{{ 'politic_and_procedure.enabled'|trans }}</th>
                <td>{% if politicAndProcedure.enabled %}{{ 'Yes'|trans }}{% else %}{{ 'No'|trans }}{% endif %}</td>
            </tr>

            <tr>
                <th>{{ 'Image'|trans }}</th>
                <td>
                    {% if politicAndProcedure.image.webPath %}
                    <img src="{{ asset(politicAndProcedure.image.webPath) }}" height="200"/>
                    {% else %}
                    N/D
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th>{{ 'PDF'|trans }}</th>
                <td>
                    {% if politicAndProcedure.pdf.webPath %}
                        <img src="{{ asset(politicAndProcedure.pdf.webPath) }}" height="200"/>
                    {% else %}
                        N/D
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}