{% extends 'WebFactoryNewsBundle:Frontend:layout.html.twig' %}

{% block content -%}
<h1>Category</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
    </tbody>
</table>

{% endblock %}
