{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Editar item de objetivo spot',
    path: {
        new: {uri: path('aper_importxls_employee_add')},
    },
    } only %}
{% endblock page_header %}

{#title:'log.list.title'|trans,#}

{% block page_content %}
    {{ form(form) }}
{% endblock page_content %}
