{% extends '::base.html.twig' %}

{% block page_header %}
    {% if is_granted('ROLE_ADMIN') %}
        {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
        title:'page_header.surpriseTarget.list.title'|trans,
        path: { new: {uri: path( 'aper_target_surprise_create')}, },
        } only %}
    {% else %}
        {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
        title:'page_header.surpriseTarget.list.title'|trans,
        } only %}
    {% endif %}
{% endblock page_header %}

{% block page_content %}
    <div class="table-responsive">

        {{ grid_filter_form(filter_form) }}

        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
              <th>  {{ 'ID'|trans }}</th>
                <th>{{ 'Nombre'|trans }}</th>
                <th>{{ 'Legales' }}</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for surpriseTarget in pagination %}
                <tr data-id="{{ surpriseTarget.id }}">
                    <td>{{ surpriseTarget.id }}</td>
                    <td>{{ surpriseTarget.name }}</td>
                    <td>{{ surpriseTarget.getLegals()}}</td>
                    <td>
                    <a href="{{ path('aper_target_surprise_edit', {id: surpriseTarget.id }) }}"
                               class="btn">{{ 'actions.edit.label'|trans }}</a>
                   <!-- <a href="{#{ path('aper_target_surprise_show', {id: surpriseTarget.id }) }#}" class="btn">Editar</a>-->
                    <a href="{{ path('aper_store_delete', {id: surpriseTarget.id }) }}" class="btn btn btn-danger btn-delete" onclick="return confirm('Está seguro de eliminar?')">Eliminar</a>
                  </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <br>

        {{ grid_pagination(pagination) }}

    </div>

{% endblock page_content %}
