{% extends '::base.html.twig' %}

{% block page_header %}
    {% if is_granted('ROLE_ADMIN') %}
        {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
        title:'page_header.surpriseTargetStock.list.title'|trans,
        path: { new: {uri: path( 'aper_target_surprise_create')}, },
        } only %}
    {% else %}
        {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
        title:'page_header.surpriseTargetStock.list.title'|trans,
        } only %}
    {% endif %}
{% endblock page_header %}

{% block page_content %}
    <div class="table-responsive">

        {{ grid_filter_form(filter_form) }}

        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
              <th>  {{ 'ID Objetivo'|trans }}</th>
              <th>{{ 'Objetivo spot'|trans }}</th>
              <th>{{ 'Estación (código)'|trans }}</th>
              <th>{{ 'Stock cargado' }}</th>
              <th>{{ 'Válido desde' }}</th>
              <th>{{ 'Válido hasta' }}</th>
              <th>{{ 'Fecha de creación'|trans }}</th>
              <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for surpriseTargetStock in pagination %}
                <tr data-id="{{ surpriseTargetStock.getId() }}">
                    <td>{{ surpriseTargetStock.getSurpriseTarget().getId() }}</td>
                    <td>{{ surpriseTargetStock.getSurpriseTarget().getName() }}</td>
                    <td>{{ surpriseTargetStock.getStationCode() }}</td>
                    <td>{{ surpriseTargetStock.getAssignedStock() }}</td>

                    <td>{{ surpriseTargetStock.getDateFrom() |date('Y-m-d') }}</td>
                    <td>{{ surpriseTargetStock.getDateTo() |date('Y-m-d') }}</td>

                    <td>{{ surpriseTargetStock.getCreatedAt() |date('Y-m-d') }}</td>
                    <td>
                   <!-- <a href="{#{ path('aper_target_surprise_show', {id: surpriseTarget.id }) }#}" class="btn">Editar</a>-->
                    <a href="{{ path('aper_store_delete', {id: surpriseTargetStock.id }) }}" class="btn btn btn-danger btn-delete" onclick="return confirm('Está seguro de eliminar?')">Eliminar</a>

                </tr>
                {% endfor %}
            </tbody>
        </table>

        <br>

        {{ grid_pagination(pagination) }}

    </div>

{% endblock page_content %}
