
{% extends '::base.html.twig' %} {% block page_header %} {% if
is_granted('ROLE_ADMIN') %} {% include
'@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
title:'page_header.surpriseTarget.modify.title'|trans, path: { new: {uri: path(
'aper_target_surprise_create')}, }, } only %} {% else %} {% include
'@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
title:'page_header.surpriseTarget.modify.title'|trans, } only %} {% endif %} {%
endblock page_header %} {% block page_content %}
<style type="text/css">
  select {
    width: 100%;
  }
  .box-filter {
    margin-top: 2%;
  }
  .glyp-nocolor{
    color:unset!important;
  }

  .a-o{
    font-weight: bold;
    color: red;
    font-size: 19px;

  }

  .a-a{
    font-weight: bold;
    color: green;
    font-size: 19px;

  }
</style>

<div class="row">
  <div class="col-md-3 box-filter">
    <label for="store">Estación</label>
    <select name="store" id="store" onchange="searchSpotsPerStore()">
      {% for store in stores %}
      <option value="{{ store.id }}">{{store.code}} ({{ store.location }})</option>
      {% endfor %}
    </select>
  </div>
  <div class="col-md-2 box-filter">
    <label for="store">Objetivo spot y período </label>
    <select
      name="item"
      id="item"
      onchange="searchEmployeeAssignByTarget()"
    ></select>
  </div>

  <div class="col-md-2 box-filter">
    <h5>Asignado a la estación: <span class="a-o" id="a_rep_o"></span></h5>
  </div>

  <div class="col-md-2 box-filter">
    <h5>Distribución original: <span class="a-o" id="a_o"></span></h5>
  </div>

  <div class="col-md-2 box-filter">
    <h5>Distribución actual: <span class="a-a" id="a_a"></span></h5>
  </div>

</div>
<div class="row" style="margin-top: 3%;">
  <div class="col-md-12">
    <small style="color:red">Atención: Recuerde que la asignación de la estación cambiará si la cantidad distribuida difiere de la misma </small>
  </div>
</div>
<hr />

<div class="row" id="response">

</div>

<div class="row">
  <div class="panel panel-default" id="box-table" style="display: none">
    <!-- Default panel contents -->
    <div class="panel-heading">Editar asignaciones</div>

    <!-- Table -->
    <table class="table">
      <thead>
        <th>Nombre</th>
        <th>Stock asignado</th>
        <th>Alcanzado</th>
      </thead>
      <tbody id="bodyTable"></tbody>
    </table>
  </div>
  <center><button class="btn btn-success" id="saveButton" onclick="saveAssign()">Guardar cambios</button></center>
</div>

<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"
></script>
<script type="text/javascript">

  let g_mainData;
  let g_originalAssigned;
  let g_currentlyAsigned;

  $('.macros-buttons').hide();

  $(document).ready(() => {
    searchSpotsPerStore();
  });

  const searchSpotsPerStore = () => {

    let store = $("#store").val();

    let jsonData = {
      store: store,
    };

    $.ajax({
      type: "POST",
      url: "{{ path('aper_target_surprise_api_targets_per_store') }}",
      data: jsonData,
      dataType: "json",
      beforeSend: function () {
        $("#item").html(`<option>Cargando...</option>`);
      },
      success: function (data, textStatus, xhr) {
        $("#item").html("");
        if (data.targets.length > 0) {
          const { targets } = data;

          let now = new Date();

          targets.forEach((e) => {
            let date = new Date(e.date_to);

            $("#item").append(
              `<option style="font-weight:bold;color:${
                date.getTime() > now.getTime ? "red" : "green"
              }" id="${e.id}" value="${e.id}">${e.name} (${e.date_from} - ${
                e.date_to
              })</option>`
            );
          });

          searchEmployeeAssignByTarget();
        } else {
          $("#item").append(`<option id="0">Sin objetivos asignados</option>`);
        }
      },
      error: function (XMLHttpRequest, textStatus, errorThrown) {
        alert(
          "No pudimos obtener información del servidor. Cierre su sesión e intente nuevamente."
        );
      },
    });
  };

  const searchEmployeeAssignByTarget = () => {
    $("#box-table").show("slow");
    $('#saveButton').html("Guardar cambios");
    let idAssign = $("#item").val();

    let jsonData = {
      item: idAssign,
    };

    g_mainData = null;

    $.ajax({
      type: "POST",
      url: "{{ path('aper_target_surprise_api_targets_per_store_employee') }}",
      data: jsonData,
      dataType: "json",
      beforeSend: function () {
        $("#bodyTable").html("");
      },
      success: function (data, textStatus, xhr) {
        const { employees, totalAssigned, original } = data;
        g_mainData = employees;
        g_StoreAssigned = totalAssigned;

        $('#a_o').html(totalAssigned);
        $('#a_rep_o').html(original); // Asignado original a la estación

        employees.forEach((e) => {
          $("#bodyTable").append(
            tableRowComponent(e.name, e.asignado, e.id_asignacion, e.alcanzado, e.user_id)
          );
        });

        if(employees.length == 0){
          $("#bodyTable").html('<tr> <td colspan="4">No hay resultados</td></tr>');
        }

        let a = calculateValues();
        updateUI(a.local_assigned, a.g_originalAssigned, original);
      },
      error: function (XMLHttpRequest, textStatus, errorThrown) {
        alert(
          "No pudimos obtener información del servidor. Cierre su sesión e intente nuevamente."
        );
      },
    });
  };

  const tableRowComponent = (name, assigned, id_assign, sales, user_id) => {

    let div = `<div id="div_user_id_${user_id}"  onclick="enableInput('div_user_id_${user_id}', 'input_user_id_${user_id}')" style="position:absolute; left:0; right:0; top:0; bottom:0;"></div>`;

    return `<tr>
        <td>${name}</td>
        <td>
          <div style="position:relative;">
            <input type="number" ${user_id?'disabled':''} id="input_user_id_${user_id}" onchange="updatemainData(${user_id})"  value="${assigned}" style="width:100%; height:100%;">
            ${user_id? div:''}
          </div>
        </td>
        <td>${sales}</td>
      </tr>`;
  };

  const saveAssign = () => {

    if(g_mainData.length < 1){
      alert("No hay cambios por guardar");
      return;
    }
    //$(`#button_user_id_${user_id}`).html('...');

    let storeSpot = $('#item').val();
    //let newValue = $(`#input_user_id_${user_id}`).val();

    $('#saveButton').html("Guardando cambios...");

    let jsonData = {
      storeSpot,
      //user_id,
      //id_assign,
      //newValue,
      g_originalAssigned,
      g_currentlyAsigned,
      g_mainData
    };

    $.ajax({
      type: "POST",
      url: "{{ path('aper_target_surprise_api_targets_set_assigned_employee') }}",
      data: jsonData,
      dataType: "json",
      beforeSend: function () {
        $('#response').html('');
      },
      success: function (data, textStatus, xhr) {
        $('#response').append(`
          <div class="alert alert-${data.type == "success"?'success':'danger'}" role="alert">${data.message}</div>`);
        if(data.type == "success") searchEmployeeAssignByTarget();

      },
      error: function (XMLHttpRequest, textStatus, errorThrown) {
        alert(
          "No pudimos obtener información del servidor. Cierre su sesión e intente nuevamente."
        );
      },
    });

  }

  const enableInput = (divId, inputId) => {
      $('#'+inputId).removeAttr("disabled");
      $('#'+divId).hide();
  }

  const updatemainData = (user_id) => {
    let newVal = $(`#input_user_id_${user_id}`).val();

    g_mainData.forEach(e => {
      if(e.user_id == user_id){
        let index = g_mainData.indexOf(e);
        e.asignado = newVal
        g_mainData[index] = e;
      }
    });

    let a = calculateValues();
    updateUI(a.local_assigned, a.g_originalAssigned);
  }

  const calculateValues = () => {
    let local_assigned = 0;

    g_mainData.forEach(e => {
      local_assigned = local_assigned + parseInt(e.asignado);
    });

    g_currentlyAsigned = local_assigned;

    return {
      local_assigned,
      g_originalAssigned
    };

  }

  const updateUI = (asignado, original, originalStore) => {
    $('#a_o').html(original);
    $('#a_a').html(asignado);
    $('#a_rep_o').html(originalStore);
  }
</script>

{% endblock page_content %}
