{% extends '::base.html.twig' %}

{% block page_header %}
    {% if is_granted('ROLE_ADMIN') %}
        {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
        title:'page_header.surpriseTargetStock.reporte.detallado.title'|trans,
        path: { new: {uri: path( 'aper_target_surprise_create')}, },
        } only %}
    {% else %}
        {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
        title:'page_header.surpriseTargetStock.reporte.detallado.title'|trans,
        } only %}
    {% endif %}
{% endblock page_header %}

{% block page_content %}
    <div class="table-responsive">

        {{ grid_filter_form(filter_form) }}
    </div>

{% endblock page_content %}
