{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Editar objetivo spot',
    path: {
        new: {uri: path('aper_target_surprise_show')},
    },
    } only %}
{% endblock page_header %}

{#title:'log.list.title'|trans,#}

{% block page_content %}

    {{ form(form) }}
{% endblock page_content %}
