<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	</head>
	<body style="width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;">

        <h3> Registro Rechazado! </h3>

   		<p>Estimado/a {{ name }}. Su registro fue rechazado.</p>

   		<p>Por favor, pongase en contacto con su superior para mayor información. </p>

   		<p>Atte.: Puma Energy Team</p>
           
   		<p>------------------------------------</p>
	</body>
</html>

 



