{% extends 'WebFactoryUserBundle::layout.html.twig' %}
{% block page_class %}login-page{% endblock %}

{% block body_scripts_optional %}
    {% if app.user %}
        <script src="{{ asset('dist/scripts/vendor/pass.js') }}"></script>
    {% endif %}
{% endblock %}

{% block web_factory_user_content %}
    <style>
        .form-control {
            border-left: 2px solid #dae2ea !important;
        }
    </style>
    <div class="container">
        <div class="formBox">
            <img src="{{ asset('dist/images/puma/logo-puma.png') }}" alt="Puma Energy"
                 class="img-responsive login-logo">
            <div class="formContainer">
                <h3 class="text-uppercase text-center medium">Recuperar contraseña</h3>
                <p>{{ 'Recordá que la contraseña debe contener de 10 a 15 caracteres, e incluir al menos una mayúscula, un número y un símbolo.'|upper }}</p>
                <p class="pw-error" style="display: none"></p>
                {{ form_start(form) }}
                {{ form_end(form) }}
                {#{{ form(form) }}#}
            </div>
        </div>
    </div>

{% endblock web_factory_user_content %}