{% extends 'WebFactoryUserBundle::layout.html.twig' %}
{% block page_class %}login-page{% endblock %}
{% block web_factory_user_content %}
    <div class="container">
        <div class="formBox">
            <img src="{{ asset('dist/images/puma/logo-puma.png') }}" alt="Puma Energy"
                 class="img-responsive login-logo">
            <div class="formContainer">
                <h3 class="text-uppercase text-center medium">Recuperar contraseña</h3>
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.user, 'Usuario:',{ 'label_attr': {'class': 'form-label'} }) }}
                    {{ form_widget(form.user, {widget_addon_prepend: {text :"<span class='icon icon-user'></span>"},attr:{placeholder:'Email'}}) }}
                    <p class="error">{{ form_errors(form.user) }}</p>
                </div>
                <div class="text-center">
                    <button type="submit" class="submit" value="Continuar">
                        <div class="inner">
                            <span class="icon arrow-circle-right"></span> &nbsp;&nbsp;&nbsp; Continuar
                        </div>
                    </button>
                </div>
                {{ form_end(form) }}
                {#{{ form(form) }}#}
            </div>
        </div>
    </div>
{% endblock web_factory_user_content %}
