{% extends 'WebFactoryUserBundle::layout.html.twig' %}

{% block page_class %}login-page{% endblock %}
{% block web_factory_user_content %}
    <div class="container">
        <div class="formBox">
            <img src="{{ asset('dist/images/puma/logo-puma.png') }}" alt="Puma Energy"
                 class="img-responsive login-logo">
            <div class="formContainer">
                <h3 class="text-uppercase text-center medium">Recuperar contraseña</h3>
                <p>{{ 'web_factory_user.message.resetting_request_success'|trans({}, 'web_factory_user') }}</p>
                <br/>
                <div class="text-center">
                    <a href="/" class="submit-recovery-btn">
                        <div class="inner">
                            <span class="icon arrow-circle-left"></span> &nbsp;&nbsp;&nbsp; Volver
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock web_factory_user_content %}
