{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
        title:'Cursos',
        path: {
            new: {uri: path('cursopadre_new')},
        },

    } only %}

{% endblock %}
{% block page_content %}
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>Activo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for cursoPadre in cursoPadres %}
            <tr>
                <td>{{ cursoPadre.titulo }}</td>
                <td>{{ cursoPadre.descripcion }}</td>
                <td>{% if cursoPadre.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <a href="{{ path('aper_course_index', { 'cursopadre': cursoPadre.id }) }}" class="btn">Ver</a>
                    <a href="{{ path('cursopadre_edit', { 'id': cursoPadre.id }) }}" class="btn">Editar</a>
{#                    <a href="{{ path('pregunta_delete', {'id': pregunta.id }) }}" class="btn btn btn-danger btn-delete" onclick="return confirm('Está seguro de eliminar?')">Eliminar</a>#}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
