{% extends '::base.html.twig' %}

{% block page_header %}

    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
        title:'Crear',
        path: {
            index: {uri: path('cursopadre_index')},
        },
    } only %}
{% endblock %}

{% block page_content %}

    {{ form_start(form) }}
    {{ form_end(form) }}

{% endblock %}
