{% extends '::base.html.twig' %}

{% block page_header %}

    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
        title:'Curso show',
        path: {
            index: {uri: path('cursopadre_index')},
            edit: {uri: path('cursopadre_edit', { 'id': cursoPadre.id })},
        },
    } only %}
{% endblock %}
{% block page_content %}
    {#    <div class="table-responsive">#}
    {#        {{ grid_filter_form(filter_form) }}#}
    <table class="table">
        <tbody>
        <tr>
            <th>Titulo</th>
            <td>{{ cursoPadre.titulo }}</td>
        </tr>
        <tr> <th> Relanzar curso  </th> <td><a href="{{ path('relanzar_curso_padre', {'curso_id': cursoPadre.id}) }}">Relanzar</a></td></tr>
        <tr>
            <th>Descripcion</th>
            <td>{{ cursoPadre.descripcion }}</td>
        </tr>
        <tr>
            <th>{{ 'Roles allowed'|trans }}</th>
            <td>
                <ul class="list-unstyled">
                    {% for role in cursoPadre.rolesAllowed %}
                        <li>{{ role|trans }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        </tr>

        <tr>
            <th>Examen Previo</th>
            <td>
                <ul class="list-unstyled">
                    {% if cursoPadre.examenPrevio %}
                        <li>Título: {{ cursoPadre.examenPrevio.titulo | default('') }}</li>
                        <li>Nro de Preguntas: {{ cursoPadre.examenPrevio.cantPreg | default('') }}</li>
                        <li>% de Aprobación: {{ cursoPadre.examenPrevio.porcentajeAprobacion | default('') }}</li>
                        <li><a href="{{ path('examen_curso_show', {'id': cursoPadre.examenPrevio.id}) }}">Ver</a></li>
                        <li><a href="{{ path('examen_curso_edit', {'id': cursoPadre.examenPrevio.id}) }}">Editar</a></li>
                    {% else %}
                        <li><a href="{{ path('ex_previo_curso_new', {'id': cursoPadre.id}) }}">Nuevo</a></li>
                    {% endif %}
                </ul>
            </td>
        </tr>
        <tr>
            <th>Examen Posterior</th>
            <td>
                <ul class="list-unstyled">
                    {% if cursoPadre.examenFinal %}
                        <li>Título: {{ cursoPadre.examenFinal.titulo | default('') }}</li>
                        <li>Nro de Preguntas: {{ cursoPadre.examenFinal.cantPreg | default('') }}</li>
                        <li>% de Aprobación: {{ cursoPadre.examenFinal.porcentajeAprobacion | default('') }}</li>
                        <li><a href="{{ path('examen_curso_show', {'id': cursoPadre.examenFinal.id}) }}">Ver</a></li>
                        <li><a href="{{ path('examen_curso_edit', {'id': cursoPadre.examenFinal.id}) }}">Editar</a></li>
                    {% else %}
                        <li><a href="{{ path('ex_final_curso_new', {'id': cursoPadre.id}) }}">Nuevo</a></li>
                    {% endif %}
                </ul>
            </td>
        </tr>
        <tr>
            <th>Encuesta</th>
            <td>
                <ul class="list-unstyled">
                    {% if cursoPadre.encuesta %}
                        <li>Título: {{ cursoPadre.encuesta.titulo | default('') }}</li>
                        <li>Nro de Preguntas: {{ cursoPadre.encuesta.cantPreg | default('') }}</li>
                        {#                    <li>% de Aprobación: {{ cursoPadre.encuesta.porcentajeAprobacion | default('') }}</li>#}
                        <li><a href="{{ path('examen_curso_show', {'id': cursoPadre.encuesta.id}) }}">Ver</a></li>
                        <li><a href="{{ path('examen_curso_edit', {'id': cursoPadre.encuesta.id}) }}">Editar</a></li>
                    {% else %}
                        <li> <a href="{{ path('encuesta_curso_new', {'id': cursoPadre.id}) }}">Nuevo</a></li>
                    {% endif %}
                </ul>
            </td>
        </tr>
        <tr>
            <th> Imágen principal </th>
            {% if cursoPadre.imagen %}
                <td>  <img src=" {{ asset(cursoPadre.imagen.webPath) }}" height="200"/>   </td>
            {% else %}
                <td>  N/D </td>
            {% endif %}
        </tr>
        <tr>
            <th>Contenido de las Clases</th>
            <td>
{#                {% if cursoPadre.contenidoDeClases %}#}
                    <a href="{{ path('contenido_de_clase_index', {'id': cursoPadre.id}) }}">Ver</a></br>
{#                {% endif %}#}
{#                <a href="{{ path('contenido_de_clase_new', {'id': cursoPadre.id}) }}">Nuevo</a>#}
            </td>
        </tr>
        </tbody>
    </table>

{% endblock page_content %}
