{% extends '::base.html.twig' %}
{% block pagename %}incentives{% endblock %}
{% block page_logo %}
    <div class="hidden-xs hidden-sm">
        {{ parent() }}
    </div>
    <div class="hidden-md hidden-lg incentivo">
        <img src="{{ asset('dist/images/puma/logo-puma.png') }}">
    </div>
{% endblock %}

{% set roleProfile = '' %}
{% set roleHeadOffice = false %}
{% set user = app.user %}
{% if user %}
{% for role in user.roles if not roleHeadOffice %}
    {% if role == 'ROLE_HEAD_OFFICE'%}
        {% set roleHeadOffice = true %}
        {% set roleProfile = role %}
    {% endif %}
{% endfor %}
{% else %}
    {% set roleHeadOffice = false %}
{% endif %}

{% set roleHeadOffice = false %}


{#
'PERFIL 1' => self::ROLE_HEAD_OFFICE,
'PERFIL 2' => self::ROLE_MANAGER,
'PERFIL 3' => self::ROLE_EMPLOYEE,
'PERFIL 4' => self::ROLE_MANAGER_GLOBAL,
'PERFIL 5' => self::ROLE_ADMIN,
#}



{% block page_content %}
    <style type="text/css">
        .header_bg .tabs {
            background: url({{ asset('dist/images/puma/header-compromiso.png') }}) no-repeat;
            height: 185px;
        }
    </style>
    <div class="container">
        {% if  roleHeadOffice == false %}
        <div class="row">
            <div class="col-xs-12 bases">
                <div class="header_bg">
                    <div class="tabs">
                        <div class="title col-lg-4 col-md-12 col-sm-12" >
                            {# <h2>Programa compromiso</h2> #}
                        </div>
                        <ul class="list-unstyled col-lg-7 col-md-12 col-sm-12">

                            {% if (user.maxRoleType == 'ROLE_HEAD_OFFICE') or (user.maxRoleType == 'ROLE_MANAGER') or (user.maxRoleType == 'ROLE_MANAGER_GLOBAL') %}
                                {% if app.request.attributes.get('_route') == 'aper_ranking_performance' %}
                                    <li class="active">
                                        <a href="{{ path('aper_ranking_performance') }}">
                                            <img src="{{ asset('dist/images/puma/metricas.png') }}" />
                                            <span class="visible-md visible-lg">Indicadores de Performance</span>
                                        </a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="{{ path('aper_ranking_performance') }}">
                                            <img src="{{ asset('dist/images/puma/metricas_off.png') }}" />
                                            <span class="visible-md visible-lg">Indicadores de Performance</span>
                                        </a>
                                    </li>
                                {% endif %}
                            {% endif %}

                            {% if (user.maxRoleType == 'ROLE_MANAGER') or (user.maxRoleType == 'ROLE_EMPLOYEE') or (user.maxRoleType == 'ROLE_MANAGER_GLOBAL') %}
                                {% if app.request.attributes.get('_route') == 'aper_ranking_mensuales_empleado' %}
                                    <li class="active">
                                        <a href="{{ path('aper_ranking_mensuales_empleado') }}">
                                            <img src="{{ asset('dist/images/puma/objetivos-red.png') }}" />
                                            <span class="visible-md visible-lg">Mis objetivos</span>
                                        </a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="{{ path('aper_ranking_mensuales_empleado') }}">
                                            <img src="{{ asset('dist/images/puma/objetivos.png') }}" />
                                            <span class="visible-md visible-lg">Mis objetivos</span>
                                        </a>
                                    </li>
                                {% endif %}
                            {% endif %}
                            
                            {% if app.request.attributes.get('_route') == 'aper_ranking_mensualesanuales' or 
                                  app.request.attributes.get('_route') == 'aper_ranking_anuales' %}
                                <li class="active">
                                    <a href="{{ path('aper_ranking_mensualesanuales') }}">
                                    <img src="{{ asset('dist/images/puma/bomba-red.png') }}" />
                                    <span class="visible-md visible-lg">Ranking de Estaciones</span>
                                    </a>
                                    </li>
                            {% else %}
                                <li>
                                    <a href="{{ path('aper_ranking_mensualesanuales') }}">
                                        <img src="{{ asset('dist/images/puma/bomba-gas.png') }}" />
                                        <span class="visible-md visible-lg">Ranking de Estaciones</span>
                                    </a>
                                </li>
                            {% endif %}

                            {% if (user.maxRoleType == 'ROLE_MANAGER') or (user.maxRoleType == 'ROLE_EMPLOYEE') or (user.maxRoleType == 'ROLE_MANAGER_GLOBAL') %}
                                {% if app.request.attributes.get('_route') == 'aper_ranking_mensualesanuales_empleados' or
                                      app.request.attributes.get('_route') == 'aper_ranking_anual_empleados' %}

                                <li class="active">
                                    <a href="{{ path('aper_ranking_mensualesanuales_empleados') }}">
                                        <img src="{{ asset('dist/images/puma/playeros-red.png') }}" />
                                        <span class="visible-md visible-lg">Ranking de Playeros</span>
                                    </a>
                                </li>

                                {% else %}

                                    <li>
                                        <a href="{{ path('aper_ranking_mensualesanuales_empleados') }}">
                                            <img src="{{ asset('dist/images/puma/playeros.png') }}" />
                                            <span class="visible-md visible-lg">Ranking de Playeros</span>
                                        </a>
                                    </li>

                                {% endif %}
                            {% endif %}
                        </ul>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12">
                    <div class="loaderSpinner" style="display: none">
                        <div class="loader">
                            <span class="dot dot_1"></span>
                            <span class="dot dot_2"></span>
                            <span class="dot dot_3"></span>
                            <span class="dot dot_4"></span>
                        </div>
                    </div>
                    <div class="ajaxContent">
                        {% block incentiveContent %}

                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    </div>
{% endblock page_content %}

{% block body_scripts_optional %}
    {{ parent() }}
    <script src="{{ asset('dist/scripts/vendor/animationNumber.js') }}"></script>
    <script>
        $(function () {
            var _slug = false;

            {% if slug is defined %}
            _slug = "{{ slug }}";
            $('[data-slug="{{ slug }}"]').click();
            reloadClassAndUrl(_slug, _slug);
            {% endif %}

            animateProgressBar()

            $('select.select2').select2({
                minimumResultsForSearch: -1,
                width: 200
            });

            $(window).scroll(sticky_relocate);
            sticky_relocate();
        })

        function animateProgressBar() {
            $('.progressBar').each(function (i, v) {
                var _progress = $(this).find('.mask').attr('data-width');
                var $this = $(this);
                $this.find('.mask').css({width: _progress + '%'});
                $this.find('.points span').animateNumber({
                    number: parseInt($this.find('.points span').attr('data-point')),
                }, 2000)
            })

            $(document).on('show.bs.collapse', '[id*="-content"].collapse', function () {
                var el = $(this).parent().find('p.viewMore')
                el.find('img.plus,img.minus').css('display', 'none');
                el.find('img.minus').css('display', 'block');
            })
            $(document).on('hide.bs.collapse', '[id*="-content"].collapse', function () {
                var el = $(this).parent().find('p.viewMore')
                el.find('img.plus,img.minus').css('display', 'none');
                el.find('img.plus').css('display', 'block');
            })

            $('div.viewMore').on('click', function () {
                $(this).toggleClass('fixMe')
            })
        }

        function reloadClassAndUrl($url, $class) {
            var _slug = $url.split("/").pop();
            $('.ajaxContent').closest('.col-xs-12').attr('class', 'col-xs-12 ' + $class)

            if (history.pushState) {
                history.replaceState(null, null, _slug);
            } else {
                window.location.hash = _slug;
            }
        }


        function sticky_relocate() {
            if ($('#sticky-anchor').length > 0) {
                var window_top = $(window).scrollTop();

                if ($(window).width() > 993) {
                    var div_top = $('#sticky-anchor').offset().top;
                } else {
                    var div_top = $('#sticky-anchor').offset().top - 80;
                }


                if (window_top > div_top) {
                    if ($(window).width() > 993) {
                        var width = $('#sticky').outerWidth();
                    } else {
                        var width = "100%";
                    }

                    $('#sticky')
                        .width($('#sticky').outerWidth())
                    $('#sticky').addClass('stick');
                    $('#sticky-anchor').height($('#sticky').outerHeight());
                } else {
                    $('#sticky').removeClass('stick');
                    $('#sticky-anchor').height(0);

                }
            }

            var count = 0;
            $('.flex-table').each(function () {
                var $this = $(this);
                var head = $this.find('.flex-row.head')
                var index = count;
                var _contentCollapse = head.next();
                _contentCollapse.attr('id', 'row' + index + '-content' + _contentCollapse.index());
                head.find('a').attr('href', '#row' + index + '-content' + _contentCollapse.index());
                count++;
            })
        }

        var dir = 1;
        var MIN_TOP = 200;
        var MAX_TOP = 350;

        function autoscroll() {
            var window_top = $(window).scrollTop() + dir;
            if (window_top >= MAX_TOP) {
                window_top = MAX_TOP;
                dir = -1;
            } else if (window_top <= MIN_TOP) {
                window_top = MIN_TOP;
                dir = 1;
            }
            $(window).scrollTop(window_top);
            window.setTimeout(autoscroll, 100);
        }

    </script>
{% endblock %}

