{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'page_header.aper.categories.list.title'|trans,
    path: {
    new: {uri: path('aper_category_create')},
    },
    } only %}
{% endblock page_header %}


{% block page_content %}
    <div class="table-responsiv5568e">

        {% if filter_form is defined %}
            {{ grid_filter_form(filter_form) }}
        {% endif %}

        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                {#<th{% if pagination.isSorted('categories.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name'|trans, 'Benefit.name') }}</th>#}
                <th>{{ knp_pagination_sortable(pagination, 'Nombre', 'categories.name') }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for categories in pagination %}
                <tr data-id="{{ categories.id }}">
                    <td>{{ categories.name }}</td>
                    <!--td>{{ categories.slug }}</td-->
                    <td>
                        <a href="{{ path('aper_category_index', {id: categories.id }) }}" class="btn"
                           onclick="">{{ 'actions.show.label'|trans }}</a>
                        <a href="{{ path('aper_category_edit', {id: categories.id }) }}"
                           class="btn">{{ 'actions.edit.label'|trans }}</a>
                        <a href="{{ path('aper_category_delete', {id: categories.id }) }}"
                           class="btn btn btn-danger btn-delete"
                           onclick="return confirm('{{ 'Desea eliminar la categoría?' }}')">{{ 'actions.delete.label'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <br>

        {{ grid_pagination(pagination) }}

    </div>
{% endblock page_content %}