{% extends '::base.html.twig' %} {% block pagename %}incentives{% endblock %} {%
block page_logo %}
<div class="hidden-xs hidden-sm">
  {{ parent() }}
</div>
<div class="hidden-md hidden-lg incentivo">
  <img src="{{ asset('dist/images/puma/logo-puma.png') }}" />
</div>
{% endblock %} {% set roleProfile = '' %} {% set roleHeadOffice = false %} {%
set user = app.user %} {% if user %} {% for role in user.roles if not
roleHeadOffice %} {% if role == 'ROLE_HEAD_OFFICE'%} {% set roleHeadOffice =
true %} {% set roleProfile = role %} {% endif %} {% endfor %} {% else %} {% set
roleHeadOffice = false %} {% endif %} {% set roleHeadOffice = false %} {#
'PERFIL 1' => self::ROLE_HEAD_OFFICE, 'PERFIL 2' => self::ROLE_MANAGER, 'PERFIL
3' => self::ROLE_EMPLOYEE, 'PERFIL 4' => self::ROLE_MANAGER_GLOBAL, 'PERFIL 5'
=> self::ROLE_ADMIN, #} {% block page_content %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"
/>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<style type="text/css">
  .tab {
    background-color: #014c2dc9;
    height: 60px;
    display: flex;
    justify-content: space-around;
  }
  .viewMorePerformanceButton {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: grey;
    font-size: 25px;
    font-weight: bold;
    color: white;
  }

  a:hover{
    color:white!important;
  }

  a:active{
    color:white!important;
  }

  a:focus{
    color:white!important;
  }

  .tab-item * {
    color: white;
    font-size: 16px;
  }

  .tab-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .tab-active {
    border-bottom: 5px solid red;
    border-top: 5px #014c2dc9;
  }

  .header_bg .tabs {
    background: url({{asset("dist/images/puma/header-compromiso.png")}})
      no-repeat;
    height: 185px;
  }
  .titulo-surprise {
    color: #ed1c24;
    font-weight: bolder;
    margin-top: 5%;
    margin-bottom: 3%;
  }

  .text-body-surprise {
    font-size: 20px;
    font-weight: bold;
    color: #00704a;
  }

  .historico{
    background-color:grey!important;
  }
  .approveBtn{
    padding: 1%;
    background: #22b78c;
    color: white;
    width: 40px;
    font-size: 22px;
    border: none;
    margin-right:5%;
    border-radius: 20%;
  }
  .rejectBtn{
    padding: 1%;
    background: #d92f2f;
    color: white;
    width: 40px;
    font-size: 22px;
    border: none;
    margin-right:5%;
    border-radius: 20%;
  }
  .target-container {
    background-color: #00704a;
    border: 2px solid;
    height: 100%;
    margin-top: 10%;
  }

  .text-target-description {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 65%;
    text-align: center;
  }
  .itemImage {
    margin-top: -27%;
    /*max-height: 260px;
    /*margin-left: 33%;*/
    padding-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    object-fit: contain;
    width: 220px;
    height: 220px;
  }

  .modalBtn{
    margin: 5px 25px;
    padding: 1%;
    font-size: 22px;
    color: white;
    font-weight: bold;
    width: 296px;
    border-radius: 5%;
  }
  .stockErrorInput {
    border: 2px solid red;
  }

  .employee-c {
    background-color: #e1e1e1;
    margin: 5px 5px 5px 5px;
  }

  .f-none {
    float: none !important;
  }

  .bold {
    font-weight: bold;
  }
  .resume {
    background-color: #e1e1e1;
  }

  .puma-select {
    margin: 5%;
    height: 40px;
    background-color: #b1b1b1;
    color: white;
    font-weight: bold;
    padding-left: 4%;
    padding-right: 3%;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-size: 14px;
  }

  .modal-dialog {
    width: 60%;
    max-width: 1200px;
    background-color: #e5e5e5;
    border: 8px solid #00694b;
  }
  @media (max-width: 900px) {
    .modal-dialog {
      width: 95%;
    }
  }
  .modal-dialog .modal-header {
    border-bottom: unset;
    position: absolute;
    right: 0;
    z-index: 999;
  }
  .modal-dialog .modal-loading {
    display: block;
    text-align: center;
    padding: 200px;
  }
  .modal-dialog .modal-body {
    margin-top: 20px;
    display: none;
  }
  .modal-dialog .modal-content {
    box-shadow: unset;
    border-radius: 0px;
    background-color: #e5e5e5;
  }
  .modal-dialog .myWorkPlace {
    margin-left: 0px;
  }

  .modal-dialog .block-category {
    display: flex;
    align-items: center;
    height: 175px;
    flex-direction: row-reverse;
  }
  .modal-dialog .block-category h3 {
    font-weight: normal;
    color: #6e6e6e;
    font-size: 20px;
  }
  .modal-dialog .mt-negativo {
    margin-top: -35px;
  }
  .progressInfo .myWorkPlace .where {
  }
  .progressInfo .myWorkPlace .where small {
    font-size: 65%;
  }

  .centrado {
    margin: 0 auto;
    text-align: center;
  }
  .tycLink {
    text-decoration: none;
    color: #006948cc;
    font-size: 20px;
    margin-left: 1%;
    text-decoration: revert;
  }

  .puma-select select::-ms-expand {
    display: none;
  }

  #launchModal {
  }

  .fx {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }

  .center {
    margin: 0 auto;
  }
  .mt-3 {
    margin-top: 3%;
  }
  .mt-2 {
    margin-top: 2%;
  }

  .btnSaveStocks {
    background-color: #006948;
    color: white;
    font-weight: bold;
    padding: 1.2%;
    width: 497px;
    margin-top: 2%;
    font-size: 20px;
  }

  .mycheck {
    outline: 2px solid #006948;
    appearance: none;
    border-radius: 2px;
    width: 15px;
    height: 15px;
  }

  .mycheck:focus {
    /* background-color: #006948;
          border-radius: 2px;
          outline:1px;*/
  }

  .mycheck:checked {
    background-color: #006948 !important;
    border-radius: 2px !important;
    outline: 1px solid !important;
  }

  .mycheck:checked:before {
    content: "\2713";
    color: white;
    padding: initial;
    font-weight: bold;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 4px;
  }


  .saveStockButton {
    background-color: #ed1c24;
    color: white;
    padding: 1%;
    border-radius: 5%;
    border: none;
    width: 248px;
    font-weight: bold;
    font-size: 16px;
  }
  .saveStockButton-disabled {
    background-color: grey;
    color: white;
    padding: 1%;
    border-radius: 5%;
    border: none;
    width: 248px;
    font-weight: bold;
    font-size: 16px;
  }



  .totalSold-menor{
    color: red;
    font-weight: bold;
    font-size: 26px;
  }

  .totalSold-mayor{
    color: green;
    font-weight: bold;
    font-size: 26px;
  }

  .selectMonthYear{
            margin: 15px auto;
        }
        .selector{
            margin: 25px auto;
        }
        .active_button{
            padding: 10px;
            text-align: center;
            text-transform: uppercase;
            font-weight: 600;
            background: #0B6349;
            border:solid 2px #0b6349;
        }
        .inactive_button{
            padding: 10px;
            text-align: center;
            text-transform: uppercase;
            font-weight: 600;
            background-color: transparent;
            border:solid 2px #0b6349;
        }

        .progressInfo .title{
            padding: 15px;
        }

        .progressInfo .myStar .myRank {
            font-size: 20px;
            line-height: 36px;
        }
        .progressInfo .myStar .myRank.default {
            line-height: 27px;
            font-size: 12px;
        }
        .title.floatTitle {
            width: 80%;
            float: left;
        }
        .floatZone {
            float: right;
            padding: 10px;
            margin: 5px;
            width: 15%;
        }

        a, a:hover {
            color: unset;
            text-decoration: none !important;
        }

        .color-promedio {
            color: #6d6d6d !important;
        }

        .color-mayor {
            color: #00694b !important;
        }
        .color-menor {
            color: #bd0511 !important;
        }
        .bg-color-promedio {
            background-color: #6d6d6d !important;
        }
        .bg-color-mayor {
            background-color: #00694b !important;
        }
        .bg-color-menor {
            background-color: #bd0511 !important;
        }
        .indice {
            font-size: 16px;
            line-height: 14px;
        }
        .cuadrado {
            width: 13px;
            height: 13px;
            display: inline-block;
        }



        .radial-graph-big,
        .shape-big,
        .mask-big,
        .fill-big {
          width: 257px;
          height: 257px;
          border-radius: 50%;
          position: relative;
        }
        .shape-big,
        .mask-big,
        .fill-big {
          position: absolute;
          background-color: #6e6e6e;
        }

        .mask-big,
        .fill-big {
          -webkit-backface-visibility: hidden;
          transition: transform 1s;
          border-radius: 50%;
        }

        .mask-big {
          clip: rect(0px, 257px, 257px, 128.5px);
        }
        .fill-big {
          clip: rect(0px, 128.5px, 257px, 0px);
          background-color: #50e3c2;
        }
        .cutout-big {
          margin-left: 7px;
          margin-top: 7px;
          width: 242px;
          height: 242px;
          position: absolute;
          background-color: #dedede;
          border-radius: 50%;
        }



        .radial-graph-medium,
        .shape-medium,
        .mask-medium,
        .fill-medium {
          width: 171px;
          height: 171px;
          border-radius: 50%;
          position: relative;
        }
        .shape-medium,
        .mask-medium,
        .fill-medium {
          position: absolute;
          background-color: #6e6e6e;
        }

        .mask-medium,
        .fill-medium {
          -webkit-backface-visibility: hidden;
          transition: transform 1s;
          border-radius: 50%;
        }

        .mask-medium {
          clip: rect(0px, 171px, 171px, 85.5px);
        }
        .fill-medium {
          clip: rect(0px, 85.5px, 171px, 0px);
          background-color: #50e3c2;
        }

        .cutout-medium {
          margin-left: 7px;
          margin-top: 7px;
          width: 155px;
          height: 155px;
          position: absolute;
          background-color: #dedede;
          border-radius: 50%;
        }
        a:hover .cutout-medium {
          margin-left: 10px;
          margin-top: 10px;
          width: 151px;
          height: 151px;
          position: absolute;
          background-color: #dedede;
          border-radius: 50%;
        }

        .mask.full-mask,
        .fill {
          /*
            For a value of 90%
            0.9 * 360  / 2
          */
          transform: rotate(162deg);
        }
        .fill.shim {
          /*
            For a value of 90%
            0.9 * 360
          */
          transform: rotate(324deg);
        }


        /*
        45 = 81 y 162
        78 = 140.4 y 280.8
        */

        .data-prom-big {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 10;
            font-size: 34px;
            color: #6d6d6d;
        }
        .data-prom-medium {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 10;
            font-size: 30px;
            color: #6d6d6d;
        }

        .data-big {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            top: 12.5%;
            left: 12.5%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 10;
            font-size: 82px;
            font-weight: bold;
            letter-spacing: -4px;
        }
        .data-medium {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            top: 12.5%;
            left: 12.5%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 10;
            font-size: 52px;
            font-weight: bold;
            letter-spacing: -4px;
        }
        .data-canal-medium {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 10;
            font-size: 19px;
            line-height: 24px;
            color: #6d6d6d;
            padding-top: 183px;
            text-align: center;
            text-decoration: none !important;
        }
        .data-canal-medium .normal {
            display: block;
        }
        .data-canal-medium .color {
            display: none;
            font-weight: bold;
        }
        .active .data-canal-medium .normal {
            display: none;
        }
        .active .data-canal-medium .color {
            display: block;
        }
        .ml4 {
            margin-left: 4%;
        }
        .pt4 {
            padding-top: 4%;
        }
        .circle-line {
            position: absolute;
            bottom: 150px;
            height: 5px;
            background-color: #6d6d6d;
            width: 80%;
            margin-left: 10%;
        }
        .rankingHeader {
            position: relative;
            padding-bottom: 30px;
            /*border-bottom: 13px #a9a9a9 solid;*/
        }
        .rankingHeaderGraph {
            position: relative;
            padding-bottom: 30px;
            border-bottom: 13px #a9a9a9 solid;
            background-color: #dedede;
            /*display: flex;*/

        }


        #salesList thead td{
          font-weight:bold;
        }

        .graph .border {
            display: none;
        }
        .graph.active .border {
            height: 13px;
            width: 100%;
            position: relative;
            top: 73px;
            display: block;
        }
        .graph.active .arrow {
              width: 0;
              height: 0;
              border-left: 25px solid transparent;
              border-right: 25px solid transparent;
              margin: 0 auto;
        }
        .graph.active .arrow.arrow-color-mayor {
              border-top: 25px solid #00694b;
        }
        .graph.active .arrow.arrow-color-menor {
              border-top: 25px solid #bd0511;
        }

        .content-category {
            display: none;
        }
        .content-category.active {
            display: block;
        }
        .descripcioninforme {
            width: 60%;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 40px;
            font-size: 16px;
        }


        @media (max-width: 900px) {
            body[data-page=incentives] .rankingHeader .title {
                max-width: 100%;
            }
            .rankingHeader {
              border: none;
            }
            .floatZone {
                width: 55%;
            }
            .descripcioninforme {
                width: 100%;
            }

            .ml4 {
                margin-left: 0px;
            }

            .radial-graph-big,
            .shape-big,
            .mask-big,
            .fill-big {
              width: 200px;
              height: 200px;
              border-radius: 50%;
              position: relative;
            }
            .shape-big,
            .mask-big,
            .fill-big {
              position: absolute;
              background-color: #6e6e6e;
            }

            .mask-big,
            .fill-big {
              -webkit-backface-visibility: hidden;
              transition: transform 1s;
              border-radius: 50%;
            }
            .mask-big {
              clip: rect(0px, 200px, 200px, 100px);
            }
            .fill-big {
              clip: rect(0px, 100px, 200px, 0px);
              background-color: #50e3c2;
            }
            .cutout-big {
              margin-left: 7px;
              margin-top: 7px;
              width: 186px;
              height: 186px;
              position: absolute;
              background-color: #dedede;
              border-radius: 50%;
            }


            .radial-graph-medium,
            .shape-medium,
            .mask-medium,
            .fill-medium {
              width: 80px;
              height: 80px;
              border-radius: 50%;
              position: relative;
            }
            .shape-medium,
            .mask-medium,
            .fill-medium {
              position: absolute;
              background-color: #6e6e6e;
            }

            .mask-medium,
            .fill-medium {
              -webkit-backface-visibility: hidden;
              transition: transform 1s;
              border-radius: 50%;
            }
            .mask-medium {
              clip: rect(0px, 80px, 80px, 40px);
            }
            .fill-medium {
              clip: rect(0px, 40px, 80px, 0px);
              background-color: #50e3c2;
            }
            .cutout-medium {
              margin-left: 2.5px;
              margin-top: 2.5px;
              width: 75px;
              height: 75px;
              position: absolute;
              background-color: #dedede;
              border-radius: 50%;
            }
            a:hover .cutout-medium {
              margin-left: 5px;
              margin-top: 5px;
              width: 70px;
              height: 70px;
              position: absolute;
              background-color: #dedede;
              border-radius: 50%;
            }
            .data-prom-medium {
              font-size: 20px;
            }
            .data-medium {
              font-size: 30px;
            }
            .data-canal-medium {
              z-index: 10;
              font-size: 15px;
              line-height: 15px;
              padding-top: 96px;
          }



            .mobile-none {
                display: none;
            }

            .col-12 {
              width: 100%;
            }

            .rankingHeaderGraph {
                padding-bottom: 60px;
            }
            .rankingHeaderGraph .fl-m {
              display: flex;
              flex-direction: column;
              align-items: center;
            }
            .rankingHeaderGraph .fl-m-r {
              width: 25%;
              float: left;
            }
            .rankingHeaderGraph .fl-m-r a {
              left: -8px;
              position: relative;
            }

            #targetNamePerformance{
              color:#1c8b2a;
              font-size:29px;
            }


        }

            .perf-location{
              color: green;
              font-weight: bold;
              font-size: 25px;
              font-family: system-ui;
            }

            .perf-name{
              color:#a3a3a3;
            }

  input[type="checkbox"] {
    /* Double-sized Checkboxes
          -ms-transform: scale(2); /* IE
          -moz-transform: scale(2); /* FF
          -webkit-transform: scale(2); /* Safari and Chrome
          -o-transform: scale(2); /* Opera
          padding: 10px;*/
  }

  .targetFor {
    color: green;
  }

  #targetName {
    color: #606060;
    font-weight: bold;
  }
  #newStock {
    margin-left: 5px;
    width: 100px;
    text-align: center;
    font-size: 20px;
  }
  .mt-1 {
    margin-top: 2%;
  }

  .asignar {
    color: red;
    font-size: 22px;
  }

  .asignado {
    color: green;
    font-size: 22px;
  }
  .modifyBtn {
    width: 140px;
    background-color: #006948cc;
    color: white;
    font-weight: bold;
    font-size: 13px;
    padding: 5px 10px 5px 10px;
    margin-left: 50%;
  }
  .prod {
    width: 60px;
    margin: 10px 10px 10px 10px;
  }
  .itemDescription {
    font-size: 26px;
    color: #e5e5e5;
    font-weight: bold;
    line-height: 45px;
  }

  .itemButton {
    margin-left: 70%;
    background-color: #ed1c24;
    margin-top: 15%;
    padding: 3%;
    width: 160px;
    color: white;
    font-weight: bold;
    font-size: 16px;
  }

  .font-weight-bold{
    font-weight:bold;
  }
  .glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
  }

  @keyframes spin {
    from {
      transform: scale(1) rotate(0deg);
    }
    to {
      transform: scale(1) rotate(360deg);
    }
  }

  @-webkit-keyframes spin2 {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }

  .assigned {
    font-size: 22px;
  }


</style>
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<div class="container">
  {% if roleHeadOffice == false %}
  <div class="row">
    <div class="col-xs-12 bases">
      <div class="header_bg">
        <div class="tabs">
          <div class="title col-lg-4 col-md-12 col-sm-12">
            {#
            <h2>Programa compromiso</h2>
            #}
          </div>
          <ul class="list-unstyled col-lg-7 col-md-12 col-sm-12">
            {% if (user.maxRoleType == 'ROLE_HEAD_OFFICE') or (user.maxRoleType
            == 'ROLE_MANAGER') or (user.maxRoleType == 'ROLE_MANAGER_GLOBAL') %}
            {% if app.request.attributes.get('_route') ==
            'aper_ranking_performance' %}
            <li class="active">
              <a href="{{ path('aper_ranking_performance') }}">
                <img src="{{ asset('dist/images/puma/metricas.png') }}" />
                <span class="visible-md visible-lg"
                  >Indicadores de Performance</span
                >
              </a>
            </li>
            {% else %}
            <li>
              <a href="{{ path('aper_ranking_performance') }}">
                <img src="{{ asset('dist/images/puma/metricas_off.png') }}" />
                <span class="visible-md visible-lg"
                  >Indicadores de Performance</span
                >
              </a>
            </li>
            {% endif %} {% endif %} {% if (user.maxRoleType == 'ROLE_MANAGER')
            or (user.maxRoleType == 'ROLE_EMPLOYEE') or (user.maxRoleType ==
            'ROLE_MANAGER_GLOBAL') %} {% if app.request.attributes.get('_route')
            == 'aper_ranking_mensuales_empleado' %}
            <li class="active">
              <a href="{{ path('aper_ranking_mensuales_empleado') }}">
                <img src="{{ asset('dist/images/puma/objetivos-red.png') }}" />
                <span class="visible-md visible-lg">Mis objetivos</span>
              </a>
            </li>
            {% else %}
            <li>
              <a href="{{ path('aper_ranking_mensuales_empleado') }}">
                <img src="{{ asset('dist/images/puma/objetivos.png') }}" />
                <span class="visible-md visible-lg">Mis objetivos</span>
              </a>
            </li>
            {% endif %} {% endif %}

            {% if app.request.attributes.get('_route')
            == 'aper_ranking_mensualesanuales' or
            app.request.attributes.get('_route') == 'aper_ranking_anuales' %}
            <li class="active">
              <a href="{{ path('aper_ranking_mensualesanuales') }}">
                <img src="{{ asset('dist/images/puma/bomba-red.png') }}" />
                <span class="visible-md visible-lg">Ranking de Estaciones</span>
              </a>
            </li>
            {% else %}
            <li>
              <a href="{{ path('aper_ranking_mensualesanuales') }}">
                <img src="{{ asset('dist/images/puma/bomba-gas.png') }}" />
                <span class="visible-md visible-lg">Ranking de Estaciones</span>
              </a>
            </li>
            {% endif %}

            {% if (user.maxRoleType == 'ROLE_MANAGER') or
            (user.maxRoleType == 'ROLE_EMPLOYEE') or (user.maxRoleType ==
            'ROLE_MANAGER_GLOBAL') %} {% if app.request.attributes.get('_route')
            == 'aper_ranking_mensualesanuales_empleados' or
            app.request.attributes.get('_route') ==
            'aper_ranking_anual_empleados' %}

            <li class="active">
              <a href="{{ path('aper_ranking_mensualesanuales_empleados') }}">
                <img src="{{ asset('dist/images/puma/playeros-red.png') }}" />
                <span class="visible-md visible-lg">Ranking de Playeros</span>
              </a>
            </li>

            {% else %}

            <li>
              <a href="{{ path('aper_ranking_mensualesanuales_empleados') }}">
                <img src="{{ asset('dist/images/puma/playeros.png') }}" />
                <span class="visible-md visible-lg">Ranking de Playeros</span>
              </a>
            </li>

            {% endif %}
            {% endif %}

            {# SURPRISE TARGET #}
            {% if user.maxRoleType == 'ROLE_EMPLOYEE' %}
              {% if app.request.attributes.get('_route') == 'aper_target_surprise_front_home' %}
                <li class="active">
                  <a href="{{ path('aper_target_surprise_front_home') }}">
                    <img src="{{ asset('dist/images/puma/star-red.png') }}" />
                    <span class="visible-md visible-lg">Objetivo sorpresa</span>
                  </a>
                </li>
              {% else %}
                <li>
                  <a href="{{ path('aper_target_surprise_front_home') }}">
                    <img src="{{ asset('dist/images/puma/star.png') }}" />
                    <span class="visible-md visible-lg">Objetivo sorpresa</span>
                  </a>
                </li>
              {% endif %}
            {% endif %}

            {# SURPRISE TARGET para gerentes #}
            {% if user.maxRoleType == 'ROLE_MANAGER' %}
              {% if app.request.attributes.get('_route') == 'aper_target_surprise_front_home_manager' or app.request.attributes.get('_route') == 'aper_target_surprise_front_manager_target_detail' %}
                <li class="active">
                  <a href="{{ path('aper_target_surprise_front_home_manager') }}">
                    <img src="{{ asset('dist/images/puma/star-red.png') }}" />
                    <span class="visible-md visible-lg">Objetivo sorpresa</span>
                  </a>
                </li>
              {% else %}
                <li>
                  <a href="{{ path('aper_target_surprise_front_home_manager') }}">
                    <img src="{{ asset('dist/images/puma/star.png') }}" />
                    <span class="visible-md visible-lg">Objetivo sorpresa</span>
                  </a>
                </li>
              {% endif %}
            {% endif %}

            {# SURPRISE TARGET para comerciales #}
            {% if user.maxRoleType == 'ROLE_HEAD_OFFICE' or user.maxRoleType == 'ROLE_MANAGER_GLOBAL' %}
              {% if app.request.attributes.get('_route') == 'aper_target_surprise_front_home_comercial' or app.request.attributes.get('_route') == 'aper_target_surprise_front_commercial_target_detail' %}
                <li class="active">
                  <a href="{{ path('aper_target_surprise_front_home_comercial') }}">
                    <img src="{{ asset('dist/images/puma/star-red.png') }}" />
                    <span class="visible-md visible-lg">Objetivo sorpresa</span>
                  </a>
                </li>
              {% else %}
                <li>
                  <a href="{{ path('aper_target_surprise_front_home_comercial') }}">
                    <img src="{{ asset('dist/images/puma/star.png') }}" />
                    <span class="visible-md visible-lg">Objetivo sorpresa</span>
                  </a>
                </li>
              {% endif %}
            {% endif %}
          </ul>
        </div>
      </div>

      <div class="col-lg-12 col-md-12">
        <div class="loaderSpinner" style="display: none">
          <div class="loader">
            <span class="dot dot_1"></span>
            <span class="dot dot_2"></span>
            <span class="dot dot_3"></span>
            <span class="dot dot_4"></span>
          </div>
        </div>
        <div class="ajaxContent">
          {% block surpriseTargetContent %} {% endblock %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock page_content %} {% block body_scripts_optional %}
{{ parent() }}
<script src="{{ asset('dist/scripts/vendor/animationNumber.js') }}"></script>

<script>
  $(function () {
      var _slug = false;

      {% if slug is defined %}
      _slug = "{{ slug }}";
      $('[data-slug="{{ slug }}"]').click();
      reloadClassAndUrl(_slug, _slug);
      {% endif %}

      animateProgressBar()

      $('select.select2').select2({
          minimumResultsForSearch: -1,
          width: 200
      });

      $(window).scroll(sticky_relocate);
      sticky_relocate();
  })

  function animateProgressBar() {
      $('.progressBar').each(function (i, v) {
          var _progress = $(this).find('.mask').attr('data-width');
          var $this = $(this);
          $this.find('.mask').css({width: _progress + '%'});
          $this.find('.points span').animateNumber({
              number: parseInt($this.find('.points span').attr('data-point')),
          }, 2000)
      })

      $(document).on('show.bs.collapse', '[id*="-content"].collapse', function () {
          var el = $(this).parent().find('p.viewMore')
          el.find('img.plus,img.minus').css('display', 'none');
          el.find('img.minus').css('display', 'block');
      })
      $(document).on('hide.bs.collapse', '[id*="-content"].collapse', function () {
          var el = $(this).parent().find('p.viewMore')
          el.find('img.plus,img.minus').css('display', 'none');
          el.find('img.plus').css('display', 'block');
      })

      $('div.viewMore').on('click', function () {
          $(this).toggleClass('fixMe')
      })
  }

  function reloadClassAndUrl($url, $class) {
      var _slug = $url.split("/").pop();
      $('.ajaxContent').closest('.col-xs-12').attr('class', 'col-xs-12 ' + $class)

      if (history.pushState) {
          history.replaceState(null, null, _slug);
      } else {
          window.location.hash = _slug;
      }
  }


  function sticky_relocate() {
      if ($('#sticky-anchor').length > 0) {
          var window_top = $(window).scrollTop();

          if ($(window).width() > 993) {
              var div_top = $('#sticky-anchor').offset().top;
          } else {
              var div_top = $('#sticky-anchor').offset().top - 80;
          }


          if (window_top > div_top) {
              if ($(window).width() > 993) {
                  var width = $('#sticky').outerWidth();
              } else {
                  var width = "100%";
              }

              $('#sticky')
                  .width($('#sticky').outerWidth())
              $('#sticky').addClass('stick');
              $('#sticky-anchor').height($('#sticky').outerHeight());
          } else {
              $('#sticky').removeClass('stick');
              $('#sticky-anchor').height(0);

          }
      }

      var count = 0;
      $('.flex-table').each(function () {
          var $this = $(this);
          var head = $this.find('.flex-row.head')
          var index = count;
          var _contentCollapse = head.next();
          _contentCollapse.attr('id', 'row' + index + '-content' + _contentCollapse.index());
          head.find('a').attr('href', '#row' + index + '-content' + _contentCollapse.index());
          count++;
      })
  }

  var dir = 1;
  var MIN_TOP = 200;
  var MAX_TOP = 350;

  function autoscroll() {
      var window_top = $(window).scrollTop() + dir;
      if (window_top >= MAX_TOP) {
          window_top = MAX_TOP;
          dir = -1;
      } else if (window_top <= MIN_TOP) {
          window_top = MIN_TOP;
          dir = 1;
      }
      $(window).scrollTop(window_top);
      window.setTimeout(autoscroll, 100);
  }
</script>
{% endblock %}
