{% extends '@Incentive/Frontend/Incentive/index.html.twig' %}

{% block incentiveContent %}
    <style type="text/css">
        .active_button{
            padding: 10px;
            text-align: center;
            text-transform: uppercase;
            font-weight: 600;
            background: #0B6349;
            border:solid 2px #0b6349;
        }
        .inactive_button{
            padding: 10px;
            text-align: center;
            text-transform: uppercase;
            font-weight: 600;
            background-color: transparent;
            border:solid 2px #0b6349;
        }
        body[data-page=incentives] .points-table .head {
            padding: 5px 25px !important;
        }
        .descripcioninforme {
            width: 60%;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 40px;
            font-size: 16px;
        }
        @media (max-width: 900px) {
            .descripcioninforme {
                width: 100%;
            }
        }
    </style>
    <div class="row">
        <div class="col-md-12 objectives">
            <h4 class="title text-capitalize text-center hidden-xs" style="font-size: 25px;line-height: 28px">Mis Objetivos</h4>
            <h4 class="title text-capitalize text-center visible-xs"
                style="font-size: 16px;line-height: 28px; text-align:center">Mis Objetivos</h4>
            {% if user.maxRoleType == 'ROLE_MANAGER' %}
                <p class="descripcioninforme">En Puma Energy no solo queremos que la calidad máxima se identifique con nuestro combustible sino también con el servicio que brindamos. <br>
De ese esfuerzo y dedicación constante surge el “Programa Compromiso”: un sistema que mide y regula las acciones llevadas adelante para alcanzar los mejores estándares de servicio y brindar a nuestros clientes la mejor experiencia. 
Mediante esta sección podrás hacer un seguimiento de las metas de tu Estación de acuerdo al Programa Compromiso, con acceso al detalle de las métricas que conducen a los resultados para potenciar tus ventas.</p>
            {% elseif user.maxRoleType == 'ROLE_EMPLOYEE' %}
                <p class="descripcioninforme">En Puma Energy no solo queremos que la calidad máxima se identifique con nuestro combustible sino también con el servicio que brindamos. <br>
De ese esfuerzo y dedicación constante surge el “Programa Compromiso”: un sistema que mide y regula las acciones llevadas adelante para alcanzar los mejores estándares de servicio y brindar a nuestros clientes la mejor experiencia. 
Mediante esta sección podrás hacer un seguimiento de las metas de tu Estación de acuerdo al Programa Compromiso, con acceso al detalle de las métricas que conducen a los resultados para potenciar tus ventas. 
            {% endif %}
        </div>
    </div>
    <br/>
    {% if lastUploadDate != false  %}
        <ul class="nav nav-tabs">
            {% if lastUploadDate2 != false %}
            <li><a data-toggle="tab" href="#{{ lastUploadDate2|date('F')|trans }}">{{ lastUploadDate2|date('F')|trans }}</a></li>
            {% endif %}
            <li class="active"><a data-toggle="tab" href="#{{ lastUploadDate|date('F')|trans }}">{{ lastUploadDate|date('F')|trans }}</a></li>
        </ul>
        <div class="tab-content">
            <div id="{{ lastUploadDate|date('F')|trans }}" class="tab-pane fade in active">
                <div class="points-table">
                    <div class="flex-table">
                        <div class="flex-row head general" style="background-color: #0b6349;font-size: 17px;">
                            <div>
                                GENERALES
                            </div>
                            <div style="white-space: nowrap; padding-right: 0px !important;">
                                {{ store.getGoalsByMonthAndNameEmployee(lastUploadDate, 'TOTAL_EMPLEADO_OBJETIVO').empty ? 0 : store.getGoalsByMonthAndNameEmployee(lastUploadDate, 'TOTAL_EMPLEADO_OBJETIVO').first.objetive }}
                                Ptos
                            </div>
                        </div>
                    </div>
                </div>

                {% for type in categories %}
                    {% include '@Incentive/Frontend/Incentive/widgetsEmployee/points-table-objetive.html.twig' with {
                    'render_values': false,
                    'title': type,
                    'total_objetive': store.getGoalsByMonthAndNameEmployee(lastUploadDate, 'PUNTAJES OBJETIVO', type).empty ? 0: store.getGoalsByMonthAndNameEmployee(lastUploadDate, 'PUNTAJES OBJETIVO', type).first.result,
                    'total_result': store.getGoalsByMonthAndNameEmployee(lastUploadDate, 'TOTAL_EMPLEADO_OBJETIVO', type).empty ? 0: store.getGoalsByMonthAndNameEmployee(lastUploadDate, 'TOTAL_EMPLEADO_OBJETIVO', type).first.result,
                    'items': store.getGoalsByMonthAndCategoryEmployee(lastUploadDate, type),
                    'message': textSpecialGoalMessage,
                    } only %}
                {% endfor %}
            </div>
            {% if lastUploadDate2 != false %}
                <div id="{{ lastUploadDate2|date('F')|trans }}" class="tab-pane fade in">
                    <div class="points-table">
                        <div class="flex-table">
                            <div class="flex-row head general" style="background-color: #0b6349;font-size: 17px;">
                                <div>
                                    GENERALES
                                </div>
                                <div style="white-space: nowrap; padding-right: 0px !important;">
                                    {{ store.getGoalsByMonthAndNameEmployee(lastUploadDate2, 'TOTAL_EMPLEADO_OBJETIVO').empty ? 0 : store.getGoalsByMonthAndNameEmployee(lastUploadDate2, 'TOTAL_EMPLEADO_OBJETIVO').first.objetive }}
                                    Ptos
                                </div>
                            </div>
                        </div>
                    </div>
                    {% for type in categories %}

                        {% include '@Incentive/Frontend/Incentive/widgetsEmployee/points-table-objetive.html.twig' with {
                        'render_values': false,
                        'title': type,
                        'total_objetive': store.getGoalsByMonthAndNameEmployee(lastUploadDate2, 'TOTAL_EMPLEADO_OBJETIVO', type).empty ? 0 : store.getGoalsByMonthAndNameEmployee(lastUploadDate2, 'PUNTAJES OBJETIVO', type).first.result,
                        'total_result': store.getGoalsByMonthAndNameEmployee(lastUploadDate2, 'TOTAL_EMPLEADO_OBJETIVO', type).empty ? 0: store.getGoalsByMonthAndNameEmployee(lastUploadDate2, 'TOTAL_EMPLEADO_OBJETIVO', type).first.result,
                        'items': store.getGoalsByMonthAndCategoryEmployee(lastUploadDate2, type),
                        'message': textSpecialGoalMessage2,
                        } only %}
                    {% endfor %}


                </div>
            {% endif %}
        </div>
    {% else %}
        <div class="tab-content">
            <div id="{{ lastUploadDate|date('F')|trans }}" class="tab-pane fade in active">
                <div class="points-table">
                    <div class="flex-table">
                        <div class="flex-row head general">
                            <div>
                                Generales
                            </div>
                            <div style="white-space: nowrap; padding-right: 0px !important;">
                                {% set total_objective = 0 %}
                                    {% for type in categories %}
                                        {% set aux = store.getGoalsByMonthAndNameEmployee(selectedMonth, 'PUNTAJES OBJETIVO', type).empty ? 0 : store.getGoalsByMonthAndNameEmployee(selectedMonth, 'PUNTAJES OBJETIVO', type).first.result %}
                                        {% set total_objective = total_objective + aux %}
                                    {% endfor %}
                                {{ total_objective }} ptos
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <br/>
    <div class="row">
        <div class="col-md-6">
            <h4 class="text-uppercase medium" style="font-size: 18px;margin: 0;line-height: 28px">Mis Objetivos y Resultados</h4>
        </div>
        {% if selectorChoices %}
            <div class="col-md-6 text-right">
                <select class="select2" onchange="window.location = '?' + $(this).val()">
                    <option value="" disabled="disabled">Seleccionar mes</option>
                    {% for month in selectorChoices %}
                        <option value="month={{ month.format('n') }}&year={{ month.format('Y') }}"
                                {% if month.format('n') == selectedMonth.format('n') and  month.format('Y') == selectedMonth.format('Y') %}selected="selected"{% endif %}
                        >{{ month|date('F')|trans }}/{{ month|date('Y') }}</option>
                    {% endfor %}
                </select>
           </div>
       {% endif %}
    </div>
    {% set position = store.getRankingByMonthAndYearEmployee(selectedMonth,store).empty ? 0 : store.getRankingByMonthAndYearEmployee(selectedMonth,store).first.position %}
    {% if position != 0 %} {# LUCAS ESTO ES != 0 #}
        <div class="objetives">
            {% set totalPoints = store.getGoalsByMonthAndNameEmployee(selectedMonth, 'TOTAL_EMPLEADO_OBJETIVO').empty ? 0 : store.getGoalsByMonthAndNameEmployee(selectedMonth, 'TOTAL_EMPLEADO_OBJETIVO').first.objetive %}
            {% set completedPoints = store.getGoalsByMonthAndNameEmployee(selectedMonth, 'TOTAL_EMPLEADO_RESULTADO').empty ? 0: store.getGoalsByMonthAndNameEmployee(selectedMonth, 'TOTAL_EMPLEADO_RESULTADO').first.result %}

            <div class="flex align-center justify-between">
                <div class="myWorkPlace">
                    <div class="where">{{ store.profile.name }}</div>
                </div>

                {% include "@Incentive/Frontend/Incentive/widgetsEmployee/progress-bar.html.twig" with {'totalPoints':totalPoints,'completedPoints':completedPoints} only %}
            </div>


            <div class="clearfix visible-sm visible-xs"></div>
            <div class="row-objectives collapse in" id="progress-detailME">
                
                {% for type in categories %}
                    {% set total_objective = store.getGoalsByMonthAndNameEmployee(selectedMonth, 'PUNTAJES OBJETIVO', type).empty ? 0 : store.getGoalsByMonthAndNameEmployee(selectedMonth, 'PUNTAJES OBJETIVO', type).first.result %}
                    {% include '@Incentive/Frontend/Incentive/widgetsEmployee/points-table.html.twig' with {
                    'render_values': true,
                    'title': type,
                    'total_objetive': store.getGoalsByMonthAndNameEmployee(selectedMonth, 'PUNTAJES OBJETIVO', type).empty ? 0 : store.getGoalsByMonthAndNameEmployee(selectedMonth, 'PUNTAJES OBJETIVO', type).first.result,
                    'total_result': store.getGoalsByMonthAndNameEmployee(selectedMonth, 'PUNTAJES RESULTADO', type).empty ? 0 : store.getGoalsByMonthAndNameEmployee(selectedMonth, 'PUNTAJES RESULTADO', type).first.result,
                    'items': store.getGoalsByMonthAndCategoryEmployee(selectedMonth, type),
                    'message': textSpecialGoalMessageSelector,
                    } only %}

                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="points-table">
            <div class="flex-table">
                <div class="flex-row head general" style="background-color: #a8a8a8;font-size: 17px;">
                    <div>
                        NO HAY OBJETIVOS Y RESULTADOS PREVIOS
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
