{% extends '@Incentive/Frontend/Incentive/index.html.twig' %}
{% block incentiveContent %}
    <div class="row custom-row" style="margin: 0;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" data-slider-id="1">
            <br/>
            <div class="marginThis">
                <p>Te invitamos a revivir juntos la alegría del lanzamiento de "LIGA DE ESTRELLAS", con toda la
                    información del Programa.</p>
                <p>VOS sos lo más importante. SOMOS TU FAN.</p>
            </div>
            <p class="customTitle" style="color: #ff4f88;font-family: Gotham,sans-serif!important;font-weight: 500;font-size: 25px;">Video Lanzamiento</p>
            <div class="video-section" style="padding: 30px;background-color: #ff4f88">
                <div class="wrapIframe" style="position: relative">
                    <div style="width: 100%;padding-bottom: 56.42%;"></div>
                    <iframe style="position: absolute;width: 100%;height: 100%;top: 0;left: 0"
                            src="//www.youtube.com/embed/MOCum0l2kCo?rel=0"
                            frameborder="0"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock incentiveContent %}
