{% extends '@Incentive/Frontend/Incentive/index.html.twig' %}

{% block incentiveContent %}


    <style type="text/css">
        .active_button{
            padding: 10px;
            text-align: center;
            text-transform: uppercase;
            font-weight: 600;
            background: #0B6349;
            border:solid 2px #0b6349;
        }
        .inactive_button{
            padding: 10px;
            text-align: center;
            text-transform: uppercase;
            font-weight: 600;
            background-color: transparent;
            border:solid 2px #0b6349;
        }
        @media screen and (max-width: 980px){
            .where{
                padding: 0 30px;
            }
        }
        .descripcioninforme {
            width: 60%;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 40px;
            font-size: 16px;
        }
        @media (max-width: 900px) {
            .descripcioninforme {
                width: 100%;
            }
        }
    </style>
    <div class="row rankingHeader" >
        <div class="col-md-12">
            <h2 class="title text-center">Ranking Bimestral de Playeros</h2>
            {% if user.maxRoleType == 'ROLE_MANAGER' %}
                <p class="descripcioninforme">Esta sección te facilita el seguimiento de las posiciones que ocupan tus Colaboradores en el ranking general de la Red Puma Energy. <br>Próximamente se premiarán también a los Colaboradores mejor posicionados.</p>
            {% elseif user.maxRoleType == 'ROLE_EMPLOYEE' %}
                <p class="descripcioninforme">Esta sección te facilita el seguimiento de las posiciones que ocupan los Colaboradores en el ranking general de la Red Puma Energy. <br>Próximamente se premiarán también a los Colaboradores mejor posicionados.
            {% endif %}
            <div class="col-md-12 col-sm-12 col-xs-12" >
                <p class="col-md-2 col-sm-12 col-xs-12 active_button">
                    <a style="text-decoration:none; color: #fff;" href="{{ path('aper_ranking_mensualesanuales_empleados') }}">Bimestral</a>
                </p>
                <p class="col-md-2 col-sm-12 col-xs-12 inactive_button">
                    <a style="text-decoration:none; color: #0B6349;" href="{{ path('aper_ranking_anual_empleados') }}">Anual</a>
                </p>
            </div>
            <h4 class="text-uppercase medium" style="font-size: 18px;margin: 0;line-height: 28px; padding: 15px;">Período</h4>
            {# <p class="text-uppercase bold" style="font-size: 22px; padding: 0 15px;">{{selectedYear|date('F')|trans }}/{{ selectedYear|date('Y')  }}</p> #}
            <p class="text-uppercase bold" style="font-size: 22px; padding: 0 15px;">2019/2020</p>
        </div>
    </div>

    <div id="sticky-anchor"></div>
    <div class="progressInfo myRoom row" >

        {% set totalPoints = store.getGoalsByMonthAndNameEmployee(selectedYear, 'TOTAL_EMPLEADO_OBJETIVO').empty ? 0 : store.getGoalsByMonthAndNameEmployee(selectedYear, 'TOTAL_EMPLEADO_OBJETIVO').first.objetive %}
        {% set completedPoints = store.getGoalsByMonthAndNameEmployee(selectedYear, 'TOTAL_EMPLEADO_RESULTADO').empty ? 0: store.getGoalsByMonthAndNameEmployee(selectedYear, 'TOTAL_EMPLEADO_RESULTADO').first.result %}
        {% set position = store.getRankingByMonthAndYearEmployee(selectedYear,store).empty ? 0 : store.getRankingByMonthAndYearEmployee(selectedYear,store).first.position %}
        <div class="flex align-center justify-between hidden-md hidden-sm hidden-xs">


            <div class="myWorkPlace podium col-lg-4">
                {% if store.profile.avatar %}
                    <img class="avatarRanking" src="{{ asset(store.profile.avatar.webPath) }}" />
                {% endif %}
                <div class="data" style="display: block">
                    <div class="where">{{ store.profile.name }}</div>
                    <div class="myStar podium">
                       Ranking  {{ position }}
                    </div>
                </div>
            </div>


            <div class="col-lg-9">
            {% include "@Incentive/Frontend/Incentive/widgetsEmployee/progress-bar.html.twig" with {'totalPoints':totalPoints,'completedPoints':completedPoints} only %}
            </div>




            <!--div class="viewMore">
                <h4 class="hidden-xs"> VER </h4>
                <a href="#progress-detailME" data-toggle="collapse" style="text-decoration: none">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    <i class="fa fa-minus" aria-hidden="true" style="display: none"></i>
                </a>
            </div-->
        </div>
        <div class="clearfix visible-sm visible-xs"></div>

        <div class="flex align-center justify-between hidden-lg">

            <div class="myWorkPlace podium">
                {% if store.profile.avatar %}
                    <img class="avatarRanking" src="{{ asset(store.profile.avatar.webPath) }}" />
                {% endif %}
                <div class="ranking mobile" style="position: absolute;  color: red;">   Ranking  {{ position }}</div>

                {% include "@Incentive/Frontend/Incentive/widgetsEmployee/progress-bar.html.twig" with {'totalPoints':totalPoints,'completedPoints':completedPoints} only %}
            </div>


            <!--div class="viewMore">
                <h4 class="hidden-xs"> VER </h4>
                <a href="#progress-detailME" data-toggle="collapse" style="text-decoration: none">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    <i class="fa fa-minus" aria-hidden="true" style="display: none"></i>
                </a>
            </div-->
        </div>
{#        <div class="row-objectives collapse" id="progress-detailME">#}
{#            {% for type in categories %}#}

{#                {% include '@Incentive/Frontend/Incentive/widgetsEmployee/points-table.html.twig' with {#}
{#                'render_values': true,#}
{#                'title': type,#}
{#                'total_objetive': store.getGoalsByMonthAndNameEmployee(selectedYear, 'TOTAL_OBJETIVO', type).empty ? 0 : store.getGoalsByMonthAndNameEmployee(selectedYear, 'TOTAL_OBJETIVO', type).first.objetive,#}
{#                'total_result': store.getGoalsByMonthAndNameEmployee(selectedYear, 'TOTAL_RESULTADO', type).empty ? 0 : store.getGoalsByMonthAndNameEmployee(selectedYear, 'TOTAL_RESULTADO', type).first.result,#}
{#                'items': store.getGoalsByMonthAndCategoryEmployee(selectedYear, type),#}
{#                'message': ''#}
{#                } only %}#}

{#            {% endfor %}#}
{#        </div>#}
    </div>

{#    <div class="row">#}
{#        <div class="col-md-12">#}
{#            {% if podium > 0%}#}
{#                <h4 class="text-uppercase medium" style="font-size: 18px;margin: 0;line-height: 28px">Felicitamos a los ganadores del mes de {{selectedYear.format('F')|trans}}</h4>#}
{#            {% else %}#}
{#                <h4 class="text-uppercase medium" style="font-size: 18px;margin: 0;line-height: 28px">Ranking del mes de {{selectedYear.format('F')|trans}}</h4>#}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}


    {% for gas_station in storeRankings %}



        {% set own = false %}
        {% if gas_station == store %}
            {% set own = true %}
        {% endif %}



        {#{{ own ? 'propio' : '' }}#}

        <div class="progressInfo employeeRanking">

            {% set totalPoints = gas_station.getGoalsByMonthAndNameEmployee(selectedYear, 'TOTAL_EMPLEADO_OBJETIVO').empty ? 0 : gas_station.getGoalsByMonthAndNameEmployee(selectedYear, 'TOTAL_EMPLEADO_OBJETIVO').first.objetive %}
            {% set completedPoints = gas_station.getGoalsByMonthAndNameEmployee(selectedYear, 'TOTAL_EMPLEADO_RESULTADO').empty ? 0 : gas_station.getGoalsByMonthAndNameEmployee(selectedYear, 'TOTAL_EMPLEADO_RESULTADO').first.result %}

            <div class="flex align-center justify-between hidden-md hidden-sm hidden-xs">


                <div class="myWorkPlace employees col-lg-4">

                    <div class="myStar">
                        {% include '@Incentive/Frontend/Incentive/widgetsEmployee/cup.html.twig'
                            with {'podium':podium,'position':loop.index,'myrank': (own ? true : false)} only %}
                    </div>
                    <div>
                        {% if gas_station.profile.avatar %}
                            <img class="avatar" src="{{ asset(gas_station.profile.avatar.webPath) }}" />
                            {% else %}
                            <img class="avatar" src="{{ asset('dist/images/empty-avatar.png') }}" />
                        {% endif %}
                    </div>
                    <div class="data">
                        <div class="where">{{ gas_station.profile.name }}</div>
                    </div>

                </div>

                <div class="col-lg-9">
                {% include "@Incentive/Frontend/Incentive/widgetsEmployee/progress-bar.html.twig" with {'totalPoints':totalPoints,'completedPoints':completedPoints} only %}
                </div>

                <!--div class="viewMore">
                    <a href="#progress-detail{{ loop.index }}" data-toggle="collapse"
                       style="text-decoration: none;{#{ not own ? 'visibility:hidden' : '' }#}">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        <i class="fa fa-minus" aria-hidden="true" style="display: none"></i>
                    </a>
                </div-->
            </div>


            <div class="flex align-center justify-between hidden-lg">

{#                <div class="myWorkPlace podium">#}
{#                    {% if store.profile.avatar %}#}
{#                        <img class="avatarRanking" src="{{ asset(store.profile.avatar.webPath) }}" />#}
{#                    {% endif %}#}
{#                    <div class="ranking mobile" style="position: absolute; right: 0; color: red;">   Ranking  {{ position }}</div>#}

{#                    {% include "@Incentive/Frontend/Incentive/widgetsEmployee/progress-bar.html.twig" with {'totalPoints':totalPoints,'completedPoints':completedPoints} only %}#}
{#                </div>#}


                <div class="myWorkPlace employees" style="margin: 10% auto;">
                    <div class="where" style="position: absolute; top: -5%;  color: red; min-width: 100vw">{{ gas_station.profile.name }}</div>

                    <div class="myStar">
                        {% include '@Incentive/Frontend/Incentive/widgetsEmployee/cup.html.twig'
                            with {'podium':podium,'position':loop.index,'myrank': (own ? true : false)} only %}
                    </div>


                    <div class="" style="position: relative; bottom: -25px;">
                        {% if gas_station.profile.avatar %}
                            <img class="avatar"  style="max-width: 45px;" src="{{ asset(gas_station.profile.avatar.webPath) }}" />
                        {% else %}
                            <img class="avatar" style="max-width: 45px;"  src="{{ asset('dist/images/empty-avatar.png') }}" />
                        {% endif %}
                    </div>


                    {% include "@Incentive/Frontend/Incentive/widgetsEmployee/progress-bar.html.twig" with {'totalPoints':totalPoints,'completedPoints':completedPoints} only %}


                </div>


                <!--div class="viewMore">
                    <a href="#progress-detail{{ loop.index }}" data-toggle="collapse"
                       style="text-decoration: none;{#{ not own ? 'visibility:hidden' : '' }#}">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        <i class="fa fa-minus" aria-hidden="true" style="display: none"></i>
                    </a>
                </div-->
            </div>

        </div>
    {% endfor %}

    {% if podium > 0 %}
{#        <div style="background-color:#f7f8fa; width:100%;">#}
{#            <h4 style="font-size: 18px;#}
{#                        font-weight: 700;#}
{#                        margin: 0;#}
{#                        line-height: 28px;#}
{#                        overflow: hidden;#}
{#                        padding: 40px 20px;#}
{#                        display: block;">#}
{#                        Recursos Humanos contactará a los gerentes de cada complejo para coordinar la entrega de los premios.#}
{#            </h4>#}
{#        </div>#}
{#        <br>#}
    {% endif %}
{% endblock %}