{% extends '@Incentive/Frontend/Incentive/index.html.twig' %}

{% block incentiveContent %}
    {% if user.maxRoleType == 'ROLE_HEAD_OFFICE' or user.maxRoleType == 'ROLE_MANAGER_GLOBAL' %}
        {% set storeName = true %}
    {% elseif user.maxRoleType == 'ROLE_MANAGER' or user.maxRoleType == 'ROLE_EMPLOYEE' %}
        {% set storeName = false %}
    {% endif %}

    <style type="text/css">
        .selectMonthYear{
            margin: 15px auto;
        }
        .selector{
            margin: 25px auto;
        }
        .active_button{
            padding: 10px;
            text-align: center;
            text-transform: uppercase;
            font-weight: 600;
            background: #0B6349;
            border:solid 2px #0b6349;
        }
        .inactive_button{
            padding: 10px;
            text-align: center;
            text-transform: uppercase;
            font-weight: 600;
            background-color: transparent;
            border:solid 2px #0b6349;
        }
        .progressInfo .title{
            padding: 15px;
        }
        .progressInfo .myStar .myRank {
            font-size: 20px;
            line-height: 36px;
        }
        .progressInfo .myStar .myRank.default {
            line-height: 27px;
            font-size: 12px;
        }
        #sticky{
            max-width: 1240px;
        }
        @media screen and (max-width: 980px){
            .progressBar{
                width: 100%;
            }
        }
        .title.floatTitle {
            width: 80%;
            float: left;
        }
        .floatZone {
            float: right;
            padding: 10px;
            margin: 5px;
            width: 15%;
        }
        .descripcioninforme {
            width: 60%;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 40px;
            font-size: 16px;
        }
        @media (max-width: 900px) {
            .descripcioninforme {
                width: 100%;
            }
        }

        .progressInfo .myWorkPlace .where span  {
            font-size: 65%;
        }
        .progressInfo .myWorkPlace .where span small {
            font-size: 75%;
            color: #7a7a7a;
            display: block;
        }
    </style>
    <div class="row rankingHeader">
        <div class="col-md-12" >
            <h2 class="title text-center">Ranking Anual de Estaciones</h2>
            {% if user.maxRoleType == 'ROLE_HEAD_OFFICE' or user.maxRoleType == 'ROLE_MANAGER_GLOBAL' %}
                <p class="descripcioninforme">Esta variable te permite saber la posición actualizada de tus Estaciones de servicio en el Ranking que cubre tu área comercial. <br>Tené en cuenta que las Estaciones de Servicio ganadoras son aquellas que se encuentran dentro de los 10 primeros puestos.</p>
            {% elseif user.maxRoleType == 'ROLE_MANAGER' %}
                <p class="descripcioninforme">Esta variable te permite saber la posición actualizada de tu Estación de servicio en el Ranking que cubre tu área comercial. <br>Tené en cuenta que las Estaciones de Servicio ganadoras son aquellas que se encuentran dentro de los 10 primeros puestos.</p>
            {% elseif user.maxRoleType == 'ROLE_EMPLOYEE' %}
                <p class="descripcioninforme">En esta sección, podrás hacer un seguimiento de la ubicación de tu Estación de Servicio en el Ranking de tu área comercial. Recordá que los ganadores serán aquellas Estaciones de servicio que se encuentren en los <strong>10 mejores puestos del Ranking</strong>.
            {% endif %}
            <div class="col-md-6 col-sm-12 col-xs-12 selectMonthYear" >

                    <p class="col-md-6 col-sm-12 col-xs-12 inactive_button">
                        <a style="text-decoration:none; color: #0B6349;" href="{{ path('aper_ranking_mensualesanuales') }}">Bimestral</a>
                    </p>
				{# HOTFIX hasta que determinemos por que el anual se calcula mal.
                <p class="col-md-6 col-sm-12 col-xs-12 active_button">
                    <a style="text-decoration:none; color: #fff;" href="{{ path('aper_ranking_anuales') }}">Anual</a>
                </p>
				#}
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12 text-right selector">
                <select class="select2" onchange="window.location = '?zone={{ zone }}&' + $(this).val()">
                    <option value="">Seleccionar año</option>
                    <option value="year=2020" {% if 2020 == selectedYear.format('Y') %}selected="selected"{% endif %} >2019/2020</option>
                    <option value="year=2021" {% if 2021 == selectedYear.format('Y') %}selected="selected"{% endif %} >2021/2022</option>
                    {# {% for year in selectorChoices %}
                        <option value="year={{ year.format('Y') }}" {% if year.format('Y') == selectedYear.format('Y') %}selected="selected"{% endif %} >{{ year|date('Y') }}</option>
                        <option value="year={{ year.format('Y') }}" {% if year.format('Y') == selectedYear.format('Y') %}selected="selected"{% endif %} >2019/2020</option>
                    {% endfor %} #}
                </select>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <h4 class="text-uppercase medium" style="font-size: 18px;margin: 0;line-height: 28px">Año</h4>
                <p class="text-uppercase bold" style="font-size: 22px">
                    {% if (selectedYear|date('Y') == 2020) %}
                        2019 / 2020
                    {% else %}
                        {{ selectedYear|date('Y') }}/{{ selectedYear|date('Y') + 1 }}
                    {% endif %} 
                </p>
                {# <p class="text-uppercase bold" style="font-size: 22px">2019/2020</p> #}
            </div>
        </div>
    </div>

    <div id="sticky-anchor"></div>
    <div class="progressInfo myRoom row" id="sticky_">
        {% if user.maxRoleType != 'ROLE_HEAD_OFFICE' and user.maxRoleType != 'ROLE_MANAGER_GLOBAL' %}
            <p class="title floatTitle" >Mi estación</p>
        {% endif %}

        {% if showZone == 1 %}
        <select class="floatZone" onchange="window.location = '?year={{ selectedYear.format('Y') }}&zone=' + $(this).val()">
            <option value="general">Total Red</option>
            {% if user.maxRoleType != 'ROLE_MANAGER_GLOBAL' %}
                <option value="zone" {% if zone == 'zone' %}selected="selected"{% endif %} >Mi área</option>
            {% else %}
                <option value="Red Propia" {% if zone == 'Red Propia' %}selected="selected"{% endif %} >Red Propia</option>
                <option value="Centro" {% if zone == 'Centro' %}selected="selected"{% endif %} >Centro</option>
                <option value="Norte" {% if zone == 'Norte' %}selected="selected"{% endif %} >Norte</option>
                <option value="Sur" {% if zone == 'Sur' %}selected="selected"{% endif %} >Sur</option>
            {% endif %}
        </select>
        {% endif %}

        <div style="clear: both; float: none;"></div>

        {% set totalPoints = store.goalsByYearAndName(selectedYear, 'TOTAL_STORE_OBJETIVO') %}
        {% set completedPoints = store.goalsByYearAndName(selectedYear, 'TOTAL_STORE_RESULTADO') %}
        {# {% set myRank = (store.getRankingByYear(selectedYear)).empty ? 0: store.getRankingByYear(selectedYear).first.position %} #}
        {% set myWorkPlace = {type: store.brand, where: store.location} %}
        {% set extraPoints = store.isDisabled(selectedYear.format('Y')) %}

        {% set myRank = 0 %}
        {% for ind,_gas_station in storeRankings %}
            {% if _gas_station.store.id == store.id %}
                {% set myRank = ind+1 %}
            {% endif %}
        {% endfor %}
        
        {% if (extraPoints == null) %}
            {% set disqualified = false %}
        {% else %}
            {% set totalPoints = extraPoints.ptsObjetives %}
            {% set disqualified = extraPoints.disqualified %}
        {% endif %}
        {% set i = 'my' %}

            {% set completedPointsReal = completedPoints %}
                    {% if (completedPoints < 0) %}
                        {% set completedPoints = 0 %}
                    {% endif %}

        {% if user.maxRoleType != 'ROLE_HEAD_OFFICE' and user.maxRoleType != 'ROLE_MANAGER_GLOBAL' %}
            {% if user.maxRoleType != 'ROLE_MANAGER' %}
                <div class="flex align-center justify-between">
                    {# Mi sala cuando no está en top 3 #}
                    <div class="col-lg-4 data">
                        <div class="myStar">
                            {% include '@Incentive/Frontend/Incentive/widgets/cup.html.twig' with {'podium':podium, 'position':myRank,'myrank': true} only %}
                        </div>

                        <div class="myWorkPlace">
                            <div class="type">{{ myWorkPlace.type }}</div>
                            <div class="where">
                                {{ myWorkPlace.where }}
                                <br><span>{{ store.address }} <br><small>({{ store.provincia.nombre }})</small></span>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-9">

                        {% if (disqualified) %}
                            {% include "@Incentive/Frontend/Incentive/widgets/red-bar.html.twig" with {'totalPoints':totalPoints,'completedPoints':completedPoints} only %}
                        {% else %}
                            {% include "@Incentive/Frontend/Incentive/widgets/progress-bar.html.twig" with {'totalPoints':totalPoints,'completedPoints':completedPoints, 'completedPointsReal':completedPointsReal} only %}
                        {% endif %}
                    </div>

                    {# <div class="viewMore"> #}
                        {#<a href="#progress-detail{{ i }}" data-toggle="collapse" style="text-decoration: none">#}
                        {# <i class="fa fa-plus" aria-hidden="true"></i> #}
                        {#<i class="fa fa-minus" aria-hidden="true" style="display: none"></i>#}
                        {#</a>#}
                    {# </div> #}
                    <div class="clearfix visible-sm visible-xs"></div>
                </div>
            {% else %}

                {# {% for _pos,sto in storesComplete %} #}
                {% for indMy,_gas_station in myRankStores %}
                    {% set sto = _gas_station.store %}
                    {% set own = sto == store %}

                    {% set totalPoints = _gas_station.totalPoints %}
                    {% set completedPoints = _gas_station.completedPoints %}
                    {% set completedPointsReal = _gas_station.completedPointsReal %}

                    {# {% set totalPoints = sto.goalsByYearAndName(selectedYear, 'TOTAL_STORE_OBJETIVO') %} #}
                    {# {% set completedPoints = sto.goalsByYearAndName(selectedYear, 'TOTAL_STORE_RESULTADO') %} #}
                    {# {% set myRank = (sto.getRankingByYear(selectedYear)).empty ? 0: sto.getRankingByYear(selectedYear).first.position %} #}
                    {# {% set myRank = _pos %} #}
                    {% set myRank = (indMy+1) %}

                    {% set myWorkPlace = {type: sto.brand, where: sto.location} %}
                    {% set extraPoints = sto.isDisabled(selectedYear.format('Y')) %}

                    {% if (extraPoints == null) %}
                        {% set disqualified = false %}
                    {% else %}
                        {% set totalPoints = extraPoints.ptsObjetives %}
                        {% set disqualified = extraPoints.disqualified %}
                    {% endif %}
                    {% set i = 'my' %}

                    <div class="flex align-center justify-between" style="padding-top: 20px;">

                        {# Mi sala cuando no está en top 3 #}
                        <div class="col-lg-4 data">
                            <div class="myStar">
                                {% include '@Incentive/Frontend/Incentive/widgets/cup.html.twig' with {'podium':podium, 'position':myRank,'myrank': true} only %}
                            </div>

                            <div class="myWorkPlace">
                                <div class="type">{{ myWorkPlace.type }}</div>
                                <div class="where">
                                    {{ myWorkPlace.where }}
                                    <br><span>{{ sto.address }} <br><small>({{ sto.provincia.nombre }})</small></span>
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-9">

                            {% if (disqualified) %}
                                {% include "@Incentive/Frontend/Incentive/widgets/red-bar.html.twig" with {'totalPoints':totalPoints,'completedPoints':completedPoints} only %}
                            {% else %}
                                {% include "@Incentive/Frontend/Incentive/widgets/progress-bar.html.twig" with {'totalPoints':totalPoints,'completedPoints':completedPoints, 'completedPointsReal':completedPoints} only %}
                            {% endif %}
                        </div>

                        {# <div class="viewMore"> #}
                            {#<a href="#progress-detail{{ i }}" data-toggle="collapse" style="text-decoration: none">#}
                            {# <i class="fa fa-plus" aria-hidden="true"></i> #}
                            {#<i class="fa fa-minus" aria-hidden="true" style="display: none"></i>#}
                            {#</a>#}
                        {# </div> #}
                        <div class="clearfix visible-sm visible-xs"></div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endif %}

        {% if (disqualified) %}
            <div class="align-center" style="text-align: right; color: #db0000; font-size: 15px;">
                Descalificado
            </div>
        {% endif %}
    </div>
    <div style="height: 1px;background-color: #f6f8fa;"></div>

    {# Solo mostrar los 3 primeros  #}
    {# Si me encuentro dentro de los 3 primeros se muestran solo 3 #}
    {# Si no me encuentro dentro de los 3 primeros, se muestra mi sala con su puesto arriba y luego los 3 primeros #}
    {% for ind,_gas_station in storeRankings %}
        {% set gas_station = _gas_station.store %}
        {% set own = gas_station == store %}

        {#
        {% set extraPoints = gas_station.isDisabled(selectedYear.format('Y')) %}
        #}
        {% set extraPoints = null %}
        {% if (extraPoints == null) %}
            {% set disqualified = false %}
        {% else %}
            {% set disqualified = extraPoints.disqualified %}
        {% endif %}
        {#}{ dump(gas_station.isDisabled(selectedYear.format('Y'))) }#}
        <div class="progressInfo">
            {#<p>MI gas_station</p>#}
            {# {{ dump(gas_station) }} #}
            {% if (extraPoints == null) %}
                {#
                {% set totalPoints = gas_station.goalsByYearAndName(selectedYear, 'TOTAL_STORE_OBJETIVO') %}
                #}
                {% set totalPoints = _gas_station.totalPoints %}
            {% else %}
                {% set totalPoints = extraPoints.ptsObjetives %}
            {% endif %}

            {#
            {% set completedPoints = gas_station.goalsByYearAndName(selectedYear, 'TOTAL_STORE_RESULTADO') %}
            #}
            {% set completedPoints = _gas_station.completedPoints %}


            {% if zone == 'zone' %}
                {% set myRank = (ind+1) %}
                {% if own %}
                    <script type="text/javascript">
                        function ready() {
                            var myPosJS = {{ myRank }};
                            jQuery('.myRoom .myRank').html(myPosJS);
                        }

                        document.addEventListener("DOMContentLoaded", ready);
                    </script>
                {% endif %}
            {% else %}
                {#
                {% set myRank = (gas_station.getRankingByYear(selectedYear)) ? gas_station.getRankingByYear(selectedYear).first.position : 0 %}
                #}
                {% set myRank = _gas_station.stoRank %}
            {% endif %}

            {# LUCAS #}
            {% set myRank = (ind+1) %}
            
            {% set myWorkPlace = {type: gas_station.brand, where: {location: (gas_station.cliente ? gas_station.cliente : gas_station.location), address: gas_station.address, state: gas_station.provincia.nombre, code: gas_station.code }} %}
            {% set i = 'my' %}

            <div class="flex align-center justify-between">

                <div class="col-lg-4 data">
                {# Primeros puestos #}
                    <div class="myStar">
                        {% include '@Incentive/Frontend/Incentive/widgets/cup.html.twig' with {'podium':podium, 'position':myRank ,'myrank':(own ? true : false)} only %}
                    </div>

                    <div class="myWorkPlace" style="max-width: 300px;">
                        {% if own %}
                            <div class="type">{{ myWorkPlace.type }}</div>
                            <div class="where">{{ myWorkPlace.where.location }} <br><span>{{ myWorkPlace.where.address  }} <br><small>({{ myWorkPlace.where.state }})</small></span></div>
                        {% else %}
                            {% if myWorkPlace.where.code in idStores %}
                                <div class="where">
                                    {{ myWorkPlace.where.location }}
                                    <br><span>{{ myWorkPlace.where.address }} <br><small>({{ myWorkPlace.where.state }})</small></span>
                                </div>
                            {% else %}
                                {% if storeName %}
                                    <div class="type">{{ myWorkPlace.type }}</div>
                                    {# <div class="where">{{ myWorkPlace.where }}</div> #}
                                    <div class="where">{{ myWorkPlace.where.location }} <br><span>{{ myWorkPlace.where.address  }} <br><small>({{ myWorkPlace.where.state }})</small></span></div>
                                {% else %}
                                    <div class="where">Estación {{ loop.index }} </div>
                                    {# <div class="where">Estacion {{ myRank }}</div> #}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

                <div class="col-lg-9">
                {% if (disqualified) %}
                    {% include "@Incentive/Frontend/Incentive/widgets/red-bar.html.twig" with {'totalPoints':totalPoints,'completedPoints':completedPoints} only %}
                {% else %}
                    {% include "@Incentive/Frontend/Incentive/widgets/progress-bar.html.twig" with {'totalPoints':totalPoints, 'completedPoints':completedPoints, 'completedPointsReal':completedPoints} only %}
                {% endif %}
                </div>

                {% if (disqualified) %}
                    <div class="viewMore">
                        <h4 class="hidden-xs"> VER </h4>
                        <a href="#progress-detail{{ loop.index }}" data-toggle="collapse" style="text-decoration: none">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            <i class="fa fa-minus" aria-hidden="true" style="display: none"></i>
                        </a>
                    </div>
                {% endif %}

                <div class="clearfix visible-sm visible-xs"></div>
            </div>
    
            {% if (disqualified) %}
                <div class="align-center" style="text-align: right; color: #db0000; font-size: 15px;">
                    Descalificado
                </div>


            <div class="row-objectives collapse" id="progress-detail{{ loop.index }}">
                <p style="background:#F7F8FA;
                    font-size: 18px;
                    font-weight: 700;
                    margin: 0;
                    line-height: 28px;
                    overflow: hidden;
                    padding: 20px 20px;
                    text-align: center;
                    display: block;">
                    {{  extraPoints.reason }}

                </p>
            </div>
            {% endif %}
        </div>
        {% endfor %}

{#        <div style="background-color:#f7f8fa; width:100%;">#}
{#            <h4 style="font-size: 18px; font-weight: 700; margin: 0; line-height: 28px; overflow: hidden;#}
{#                       padding: 40px 20px; text-align: center; display: block;">#}
{#        {% if selectedYear.format('Y') == 2017 %}#}
{#            Recuerden que para la elección del Ganador del Liga de Estrellas Anual se tendrán en cuenta todos los puntos del año, el resultado ANUAL de la auditoría internacional y el indicador de ausentismo ANUAL.#}
{#        {% elseif selectedYear.format('Y') == 2018 %}#}
{#            Recuerden que para la elección del Ganador del Liga de Estrellas Anual se tendrán en cuenta todos los puntos del año y el indicador de ausentismo ANUAL. Se dejó por fuera la variable de Auditorias ya que no teníamos parámetros para Unicenter y Abasto. Es por esto, que dicha variable no se verá reflejada en ningún gas_station.#}
{#        {% else %}#}
{#            Recuerden que para la elección del Ganador del Liga de Estrellas Anual se tendrán en cuenta todos los puntos del año y el indicador de ausentismo ANUAL. Para los puntos de Auditoría se tomará en cuenta la cantidad de Hallazgos totales, otorgando puntos según detalle en las Condiciones de Participación.#}
{#        {% endif %}#}
{#            </h4>#}
{#        </div>#}
    {% endblock %}