{% extends '@Incentive/Frontend/Incentive/index.html.twig' %}
{% block pagename %}Quality{% endblock %}
{% block incentiveContent %}

    <style type="text/css">
	
	#DIV_1 {
    align-items: center;
    block-size: 141px;
    border-block-end-color: rgb(40, 81, 113);
    border-block-start-color: rgb(40, 81, 113);
    border-inline-end-color: rgb(40, 81, 113);
    border-inline-start-color: rgb(40, 81, 113);
    box-sizing: border-box;
    caret-color: rgb(40, 81, 113);
    color: rgb(40, 81, 113);
    column-rule-color: rgb(40, 81, 113);
    display: flex;
    height: 141px;
    inline-size: 813.438px;
    justify-content: space-between;
    margin-inline-end: 101.688px;
    margin-inline-start: 101.672px;
    padding-block-end: 14px;
    padding-block-start: 14px;
    perspective-origin: 406.719px 70.5px;
    text-decoration: none solid rgb(40, 81, 113);
    text-size-adjust: 100%;
    transform-origin: 406.719px 70.5px;
    width: 813.438px;
    border: 0px none rgb(40, 81, 113);
    font: 14px / 20px "Gotham Book", sans-serif;
    margin: 0px 101.688px 0px 101.672px;
    outline: rgb(40, 81, 113) none 0px;
    padding: 14px 0px;
}/*#DIV_1*/

#DIV_1:after {
    border-block-end-color: rgb(40, 81, 113);
    border-block-start-color: rgb(40, 81, 113);
    border-inline-end-color: rgb(40, 81, 113);
    border-inline-start-color: rgb(40, 81, 113);
    box-sizing: border-box;
    caret-color: rgb(40, 81, 113);
    color: rgb(40, 81, 113);
    column-rule-color: rgb(40, 81, 113);
    display: block;
    text-decoration: none solid rgb(40, 81, 113);
    text-size-adjust: 100%;
    border: 0px none rgb(40, 81, 113);
    font: 14px / 20px "Gotham Book", sans-serif;
    outline: rgb(40, 81, 113) none 0px;
}/*#DIV_1:after*/

#DIV_1:before {
    border-block-end-color: rgb(40, 81, 113);
    border-block-start-color: rgb(40, 81, 113);
    border-inline-end-color: rgb(40, 81, 113);
    border-inline-start-color: rgb(40, 81, 113);
    box-sizing: border-box;
    caret-color: rgb(40, 81, 113);
    color: rgb(40, 81, 113);
    column-rule-color: rgb(40, 81, 113);
    display: block;
    text-decoration: none solid rgb(40, 81, 113);
    text-size-adjust: 100%;
    border: 0px none rgb(40, 81, 113);
    font: 14px / 20px "Gotham Book", sans-serif;
    outline: rgb(40, 81, 113) none 0px;
}/*#DIV_1:before*/

#DIV_2 {
    block-size: 70px;
    border-block-end-color: rgb(40, 81, 113);
    border-block-start-color: rgb(40, 81, 113);
    border-inline-end-color: rgb(40, 81, 113);
    border-inline-start-color: rgb(40, 81, 113);
    box-sizing: border-box;
    caret-color: rgb(40, 81, 113);
    color: rgb(40, 81, 113);
    column-rule-color: rgb(40, 81, 113);
    height: 70px;
    inline-size: 55px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 27.5px 35px;
    text-decoration: none solid rgb(40, 81, 113);
    text-size-adjust: 100%;
    transform-origin: 27.5px 35px;
    width: 55px;
    border: 0px none rgb(40, 81, 113);
    font: 14px / 20px "Gotham Book", sans-serif;
    outline: rgb(40, 81, 113) none 0px;
}/*#DIV_2*/

#DIV_2:after {
    border-block-end-color: rgb(40, 81, 113);
    border-block-start-color: rgb(40, 81, 113);
    border-inline-end-color: rgb(40, 81, 113);
    border-inline-start-color: rgb(40, 81, 113);
    box-sizing: border-box;
    caret-color: rgb(40, 81, 113);
    color: rgb(40, 81, 113);
    column-rule-color: rgb(40, 81, 113);
    text-decoration: none solid rgb(40, 81, 113);
    text-size-adjust: 100%;
    border: 0px none rgb(40, 81, 113);
    font: 14px / 20px "Gotham Book", sans-serif;
    outline: rgb(40, 81, 113) none 0px;
}/*#DIV_2:after*/

#DIV_2:before {
    border-block-end-color: rgb(40, 81, 113);
    border-block-start-color: rgb(40, 81, 113);
    border-inline-end-color: rgb(40, 81, 113);
    border-inline-start-color: rgb(40, 81, 113);
    box-sizing: border-box;
    caret-color: rgb(40, 81, 113);
    color: rgb(40, 81, 113);
    column-rule-color: rgb(40, 81, 113);
    text-decoration: none solid rgb(40, 81, 113);
    text-size-adjust: 100%;
    border: 0px none rgb(40, 81, 113);
    font: 14px / 20px "Gotham Book", sans-serif;
    outline: rgb(40, 81, 113) none 0px;
}/*#DIV_2:before*/

#IMG_3 {
    block-size: 69.7969px;
    border-block-end-color: rgb(40, 81, 113);
    border-block-start-color: rgb(40, 81, 113);
    border-inline-end-color: rgb(40, 81, 113);
    border-inline-start-color: rgb(40, 81, 113);
    box-sizing: border-box;
    caret-color: rgb(40, 81, 113);
    color: rgb(40, 81, 113);
    column-rule-color: rgb(40, 81, 113);
    height: 69.7969px;
    inline-size: 55px;
    perspective-origin: 27.5px 34.8906px;
    text-decoration: none solid rgb(40, 81, 113);
    text-size-adjust: 100%;
    transform-origin: 27.5px 34.8984px;
    vertical-align: middle;
    width: 55px;
    border: 0px none rgb(40, 81, 113);
    font: 14px / 20px "Gotham Book", sans-serif;
    outline: rgb(40, 81, 113) none 0px;
}/*#IMG_3*/

#IMG_3:after {
    border-block-end-color: rgb(40, 81, 113);
    border-block-start-color: rgb(40, 81, 113);
    border-inline-end-color: rgb(40, 81, 113);
    border-inline-start-color: rgb(40, 81, 113);
    box-sizing: border-box;
    caret-color: rgb(40, 81, 113);
    color: rgb(40, 81, 113);
    column-rule-color: rgb(40, 81, 113);
    text-decoration: none solid rgb(40, 81, 113);
    text-size-adjust: 100%;
    border: 0px none rgb(40, 81, 113);
    font: 14px / 20px "Gotham Book", sans-serif;
    outline: rgb(40, 81, 113) none 0px;
}/*#IMG_3:after*/

#IMG_3:before {
    border-block-end-color: rgb(40, 81, 113);
    border-block-start-color: rgb(40, 81, 113);
    border-inline-end-color: rgb(40, 81, 113);
    border-inline-start-color: rgb(40, 81, 113);
    box-sizing: border-box;
    caret-color: rgb(40, 81, 113);
    color: rgb(40, 81, 113);
    column-rule-color: rgb(40, 81, 113);
    text-decoration: none solid rgb(40, 81, 113);
    text-size-adjust: 100%;
    border: 0px none rgb(40, 81, 113);
    font: 14px / 20px "Gotham Book", sans-serif;
    outline: rgb(40, 81, 113) none 0px;
}/*#IMG_3:before*/

#DIV_4 {
    align-items: flex-start;
    block-size: 59px;
    border-block-end-color: rgb(40, 81, 113);
    border-block-start-color: rgb(40, 81, 113);
    border-inline-end-color: rgb(40, 81, 113);
    border-inline-start-color: rgb(40, 81, 113);
    box-sizing: border-box;
    caret-color: rgb(40, 81, 113);
    color: rgb(40, 81, 113);
    column-rule-color: rgb(40, 81, 113);
    display: flex;
    height: 59px;
    inline-size: 610.078px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 305.031px 29.5px;
    text-decoration: none solid rgb(40, 81, 113);
    text-size-adjust: 100%;
    transform-origin: 305.039px 29.5px;
    width: 610.078px;
    border: 0px none rgb(40, 81, 113);
    flex-flow: column nowrap;
    font: 700 20px / 25px Gotham;
    outline: rgb(40, 81, 113) none 0px;
}/*#DIV_4*/

#DIV_4:after {
    border-block-end-color: rgb(40, 81, 113);
    border-block-start-color: rgb(40, 81, 113);
    border-inline-end-color: rgb(40, 81, 113);
    border-inline-start-color: rgb(40, 81, 113);
    box-sizing: border-box;
    caret-color: rgb(40, 81, 113);
    color: rgb(40, 81, 113);
    column-rule-color: rgb(40, 81, 113);
    display: block;
    text-decoration: none solid rgb(40, 81, 113);
    text-size-adjust: 100%;
    border: 0px none rgb(40, 81, 113);
    font: 700 20px / 25px Gotham;
    outline: rgb(40, 81, 113) none 0px;
}/*#DIV_4:after*/

#DIV_4:before {
    border-block-end-color: rgb(40, 81, 113);
    border-block-start-color: rgb(40, 81, 113);
    border-inline-end-color: rgb(40, 81, 113);
    border-inline-start-color: rgb(40, 81, 113);
    box-sizing: border-box;
    caret-color: rgb(40, 81, 113);
    color: rgb(40, 81, 113);
    column-rule-color: rgb(40, 81, 113);
    display: block;
    text-decoration: none solid rgb(40, 81, 113);
    text-size-adjust: 100%;
    border: 0px none rgb(40, 81, 113);
    font: 700 20px / 25px Gotham;
    outline: rgb(40, 81, 113) none 0px;
}/*#DIV_4:before*/

#DIV_5 {
    block-size: 25px;
    border-block-end-color: rgb(125, 23, 125);
    border-block-start-color: rgb(125, 23, 125);
    border-inline-end-color: rgb(125, 23, 125);
    border-inline-start-color: rgb(125, 23, 125);
    box-sizing: border-box;
    caret-color: rgb(125, 23, 125);
    color: rgb(125, 23, 125);
    column-rule-color: rgb(125, 23, 125);
    height: 25px;
    inline-size: 328.875px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 164.438px 12.5px;
    text-decoration: none solid rgb(125, 23, 125);
    text-size-adjust: 100%;
    transform-origin: 164.438px 12.5px;
    width: 328.875px;
    border: 0px none rgb(125, 23, 125);
    font: 700 20px / 25px Gotham;
    outline: rgb(125, 23, 125) none 0px;
}/*#DIV_5*/

#DIV_5:after {
    border-block-end-color: rgb(125, 23, 125);
    border-block-start-color: rgb(125, 23, 125);
    border-inline-end-color: rgb(125, 23, 125);
    border-inline-start-color: rgb(125, 23, 125);
    box-sizing: border-box;
    caret-color: rgb(125, 23, 125);
    color: rgb(125, 23, 125);
    column-rule-color: rgb(125, 23, 125);
    text-decoration: none solid rgb(125, 23, 125);
    text-size-adjust: 100%;
    border: 0px none rgb(125, 23, 125);
    font: 700 20px / 25px Gotham;
    outline: rgb(125, 23, 125) none 0px;
}/*#DIV_5:after*/

#DIV_5:before {
    border-block-end-color: rgb(125, 23, 125);
    border-block-start-color: rgb(125, 23, 125);
    border-inline-end-color: rgb(125, 23, 125);
    border-inline-start-color: rgb(125, 23, 125);
    box-sizing: border-box;
    caret-color: rgb(125, 23, 125);
    color: rgb(125, 23, 125);
    column-rule-color: rgb(125, 23, 125);
    text-decoration: none solid rgb(125, 23, 125);
    text-size-adjust: 100%;
    border: 0px none rgb(125, 23, 125);
    font: 700 20px / 25px Gotham;
    outline: rgb(125, 23, 125) none 0px;
}/*#DIV_5:before*/

#DIV_6 {
    block-size: 34px;
    border-block-end-color: rgb(101, 101, 102);
    border-block-start-color: rgb(101, 101, 102);
    border-inline-end-color: rgb(101, 101, 102);
    border-inline-start-color: rgb(101, 101, 102);
    box-sizing: border-box;
    caret-color: rgb(101, 101, 102);
    color: rgb(101, 101, 102);
    column-rule-color: rgb(101, 101, 102);
    height: 34px;
    inline-size: 610.078px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 305.031px 17px;
    text-decoration: none solid rgb(101, 101, 102);
    text-size-adjust: 100%;
    transform-origin: 305.039px 17px;
    width: 610.078px;
    border: 0px none rgb(101, 101, 102);
    font: 500 16px / 17px Gotham;
    outline: rgb(101, 101, 102) none 0px;
}/*#DIV_6*/

#DIV_6:after {
    border-block-end-color: rgb(101, 101, 102);
    border-block-start-color: rgb(101, 101, 102);
    border-inline-end-color: rgb(101, 101, 102);
    border-inline-start-color: rgb(101, 101, 102);
    box-sizing: border-box;
    caret-color: rgb(101, 101, 102);
    color: rgb(101, 101, 102);
    column-rule-color: rgb(101, 101, 102);
    text-decoration: none solid rgb(101, 101, 102);
    text-size-adjust: 100%;
    border: 0px none rgb(101, 101, 102);
    font: 500 16px / 17px Gotham;
    outline: rgb(101, 101, 102) none 0px;
}/*#DIV_6:after*/

#DIV_6:before {
    border-block-end-color: rgb(101, 101, 102);
    border-block-start-color: rgb(101, 101, 102);
    border-inline-end-color: rgb(101, 101, 102);
    border-inline-start-color: rgb(101, 101, 102);
    box-sizing: border-box;
    caret-color: rgb(101, 101, 102);
    color: rgb(101, 101, 102);
    column-rule-color: rgb(101, 101, 102);
    text-decoration: none solid rgb(101, 101, 102);
    text-size-adjust: 100%;
    border: 0px none rgb(101, 101, 102);
    font: 500 16px / 17px Gotham;
    outline: rgb(101, 101, 102) none 0px;
}/*#DIV_6:before*/

#A_7 {
    align-items: center;
    block-size: 75px;
    border-block-end-color: rgb(51, 122, 183);
    border-block-start-color: rgb(51, 122, 183);
    border-inline-end-color: rgb(51, 122, 183);
    border-inline-start-color: rgb(51, 122, 183);
    box-sizing: border-box;
    caret-color: rgb(51, 122, 183);
    color: rgb(51, 122, 183);
    column-rule-color: rgb(51, 122, 183);
    display: flex;
    height: 75px;
    inline-size: 90.9844px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 45.4844px 37.5px;
    text-decoration: none solid rgb(51, 122, 183);
    text-size-adjust: 100%;
    transform-origin: 45.4922px 37.5px;
    width: 90.9844px;
    border: 0px none rgb(51, 122, 183);
    flex-flow: column nowrap;
    font: 14px / 20px "Gotham Book", sans-serif;
    outline: rgb(51, 122, 183) none 0px;
}/*#A_7*/

#A_7:after {
    border-block-end-color: rgb(51, 122, 183);
    border-block-start-color: rgb(51, 122, 183);
    border-inline-end-color: rgb(51, 122, 183);
    border-inline-start-color: rgb(51, 122, 183);
    box-sizing: border-box;
    caret-color: rgb(51, 122, 183);
    color: rgb(51, 122, 183);
    column-rule-color: rgb(51, 122, 183);
    display: block;
    text-decoration: none solid rgb(51, 122, 183);
    text-size-adjust: 100%;
    border: 0px none rgb(51, 122, 183);
    font: 14px / 20px "Gotham Book", sans-serif;
    outline: rgb(51, 122, 183) none 0px;
}/*#A_7:after*/

#A_7:before {
    border-block-end-color: rgb(51, 122, 183);
    border-block-start-color: rgb(51, 122, 183);
    border-inline-end-color: rgb(51, 122, 183);
    border-inline-start-color: rgb(51, 122, 183);
    box-sizing: border-box;
    caret-color: rgb(51, 122, 183);
    color: rgb(51, 122, 183);
    column-rule-color: rgb(51, 122, 183);
    display: block;
    text-decoration: none solid rgb(51, 122, 183);
    text-size-adjust: 100%;
    border: 0px none rgb(51, 122, 183);
    font: 14px / 20px "Gotham Book", sans-serif;
    outline: rgb(51, 122, 183) none 0px;
}/*#A_7:before*/

#DIV_8 {
    block-size: 50px;
    border-block-end-color: rgb(51, 122, 183);
    border-block-start-color: rgb(51, 122, 183);
    border-inline-end-color: rgb(51, 122, 183);
    border-inline-start-color: rgb(51, 122, 183);
    box-sizing: border-box;
    caret-color: rgb(51, 122, 183);
    color: rgb(51, 122, 183);
    column-rule-color: rgb(51, 122, 183);
    cursor: pointer;
    height: 50px;
    inline-size: 46px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 23px 25px;
    text-decoration: none solid rgb(51, 122, 183);
    text-size-adjust: 100%;
    transform-origin: 23px 25px;
    width: 46px;
    border: 0px none rgb(51, 122, 183);
    font: 14px / 20px "Gotham Book", sans-serif;
    outline: rgb(51, 122, 183) none 0px;
}/*#DIV_8*/

#DIV_8:after {
    border-block-end-color: rgb(51, 122, 183);
    border-block-start-color: rgb(51, 122, 183);
    border-inline-end-color: rgb(51, 122, 183);
    border-inline-start-color: rgb(51, 122, 183);
    box-sizing: border-box;
    caret-color: rgb(51, 122, 183);
    color: rgb(51, 122, 183);
    column-rule-color: rgb(51, 122, 183);
    cursor: pointer;
    text-decoration: none solid rgb(51, 122, 183);
    text-size-adjust: 100%;
    border: 0px none rgb(51, 122, 183);
    font: 14px / 20px "Gotham Book", sans-serif;
    outline: rgb(51, 122, 183) none 0px;
}/*#DIV_8:after*/

#DIV_8:before {
    border-block-end-color: rgb(51, 122, 183);
    border-block-start-color: rgb(51, 122, 183);
    border-inline-end-color: rgb(51, 122, 183);
    border-inline-start-color: rgb(51, 122, 183);
    box-sizing: border-box;
    caret-color: rgb(51, 122, 183);
    color: rgb(51, 122, 183);
    column-rule-color: rgb(51, 122, 183);
    cursor: pointer;
    text-decoration: none solid rgb(51, 122, 183);
    text-size-adjust: 100%;
    border: 0px none rgb(51, 122, 183);
    font: 14px / 20px "Gotham Book", sans-serif;
    outline: rgb(51, 122, 183) none 0px;
}/*#DIV_8:before*/

#IMG_9 {
    block-size: 51.2188px;
    border-block-end-color: rgb(51, 122, 183);
    border-block-start-color: rgb(51, 122, 183);
    border-inline-end-color: rgb(51, 122, 183);
    border-inline-start-color: rgb(51, 122, 183);
    box-sizing: border-box;
    caret-color: rgb(51, 122, 183);
    color: rgb(51, 122, 183);
    column-rule-color: rgb(51, 122, 183);
    cursor: pointer;
    height: 51.2188px;
    inline-size: 46px;
    perspective-origin: 23px 25.6094px;
    text-decoration: none solid rgb(51, 122, 183);
    text-size-adjust: 100%;
    transform-origin: 23px 25.6094px;
    vertical-align: middle;
    width: 46px;
    border: 0px none rgb(51, 122, 183);
    font: 14px / 20px "Gotham Book", sans-serif;
    outline: rgb(51, 122, 183) none 0px;
}/*#IMG_9*/

#IMG_9:after {
    border-block-end-color: rgb(51, 122, 183);
    border-block-start-color: rgb(51, 122, 183);
    border-inline-end-color: rgb(51, 122, 183);
    border-inline-start-color: rgb(51, 122, 183);
    box-sizing: border-box;
    caret-color: rgb(51, 122, 183);
    color: rgb(51, 122, 183);
    column-rule-color: rgb(51, 122, 183);
    cursor: pointer;
    text-decoration: none solid rgb(51, 122, 183);
    text-size-adjust: 100%;
    border: 0px none rgb(51, 122, 183);
    font: 14px / 20px "Gotham Book", sans-serif;
    outline: rgb(51, 122, 183) none 0px;
}/*#IMG_9:after*/

#IMG_9:before {
    border-block-end-color: rgb(51, 122, 183);
    border-block-start-color: rgb(51, 122, 183);
    border-inline-end-color: rgb(51, 122, 183);
    border-inline-start-color: rgb(51, 122, 183);
    box-sizing: border-box;
    caret-color: rgb(51, 122, 183);
    color: rgb(51, 122, 183);
    column-rule-color: rgb(51, 122, 183);
    cursor: pointer;
    text-decoration: none solid rgb(51, 122, 183);
    text-size-adjust: 100%;
    border: 0px none rgb(51, 122, 183);
    font: 14px / 20px "Gotham Book", sans-serif;
    outline: rgb(51, 122, 183) none 0px;
}/*#IMG_9:before*/

#DIV_10 {
    block-size: 25px;
    border-block-end-color: rgb(101, 101, 102);
    border-block-start-color: rgb(101, 101, 102);
    border-inline-end-color: rgb(101, 101, 102);
    border-inline-start-color: rgb(101, 101, 102);
    box-sizing: border-box;
    caret-color: rgb(101, 101, 102);
    color: rgb(101, 101, 102);
    column-rule-color: rgb(101, 101, 102);
    cursor: pointer;
    height: 25px;
    inline-size: 90.9844px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 45.4844px 12.5px;
    text-decoration: none solid rgb(101, 101, 102);
    text-size-adjust: 100%;
    transform-origin: 45.4922px 12.5px;
    width: 90.9844px;
    border: 0px none rgb(101, 101, 102);
    font: 18px / 25px "Gotham Book", sans-serif;
    outline: rgb(101, 101, 102) none 0px;
}/*#DIV_10*/

#DIV_10:after {
    border-block-end-color: rgb(101, 101, 102);
    border-block-start-color: rgb(101, 101, 102);
    border-inline-end-color: rgb(101, 101, 102);
    border-inline-start-color: rgb(101, 101, 102);
    box-sizing: border-box;
    caret-color: rgb(101, 101, 102);
    color: rgb(101, 101, 102);
    column-rule-color: rgb(101, 101, 102);
    cursor: pointer;
    text-decoration: none solid rgb(101, 101, 102);
    text-size-adjust: 100%;
    border: 0px none rgb(101, 101, 102);
    font: 18px / 25px "Gotham Book", sans-serif;
    outline: rgb(101, 101, 102) none 0px;
}/*#DIV_10:after*/

#DIV_10:before {
    border-block-end-color: rgb(101, 101, 102);
    border-block-start-color: rgb(101, 101, 102);
    border-inline-end-color: rgb(101, 101, 102);
    border-inline-start-color: rgb(101, 101, 102);
    box-sizing: border-box;
    caret-color: rgb(101, 101, 102);
    color: rgb(101, 101, 102);
    column-rule-color: rgb(101, 101, 102);
    cursor: pointer;
    text-decoration: none solid rgb(101, 101, 102);
    text-size-adjust: 100%;
    border: 0px none rgb(101, 101, 102);
    font: 18px / 25px "Gotham Book", sans-serif;
    outline: rgb(101, 101, 102) none 0px;
}/*#DIV_10:before*/


	
	
	
	
	
	
	
	
	
	
	

        .tabs {
            display: none;
        }
        .selectMonthYear{
            margin: 15px auto;
        }
        .selector{
            margin: 25px auto;
        }
        .active_button{
            padding: 10px;
            text-align: center;
            text-transform: uppercase;
            font-weight: 600;
            background: #0B6349;
            border:solid 2px #0b6349;
        }
        .inactive_button{
            padding: 10px;
            text-align: center;
            text-transform: uppercase;
            font-weight: 600;
            background-color: transparent;
            border:solid 2px #0b6349;
        }

        .progressInfo .title{
            padding: 15px;
        }

        .progressInfo .myStar .myRank {
            font-size: 20px;
            line-height: 36px;
        }
        .progressInfo .myStar .myRank.default {
            line-height: 27px;
            font-size: 12px;
        }
        .title.floatTitle {
            width: 80%;
            float: left;
        }
        .floatZone {
            float: right;
            padding: 10px;
            margin: 5px;
            width: 15%;
        }

        a, a:hover {
            color: unset;
            text-decoration: none !important;
        }

        .color-promedio {
            color: #6d6d6d !important;
        }
        .color-mayor {
            color: #00694b !important;
        }
        .color-menor {
            color: #bd0511 !important;
        }
        .bg-color-promedio {
            background-color: #6d6d6d !important;
        }
        .bg-color-mayor {
            background-color: #00694b !important;
        }
        .bg-color-menor {
            background-color: #bd0511 !important;
        }
        .indice {
            font-size: 16px;
            line-height: 14px;
        }
        .cuadrado {
            width: 13px;
            height: 13px;
            display: inline-block;
        }



        .radial-graph-big,
        .shape-big,
        .mask-big,
        .fill-big {
          width: 257px;
          height: 257px;
          border-radius: 50%;
          position: relative;
        }
        .shape-big,
        .mask-big,
        .fill-big {
          position: absolute;
          background-color: #6e6e6e;
        }

        .mask-big,
        .fill-big {
          -webkit-backface-visibility: hidden;
          transition: transform 1s;
          border-radius: 50%;
        }

        .mask-big {
          clip: rect(0px, 257px, 257px, 128.5px);
        }
        .fill-big {
          clip: rect(0px, 128.5px, 257px, 0px);
          background-color: #50e3c2;
        }
        .cutout-big {
          margin-left: 7px;
          margin-top: 7px;
          width: 242px;
          height: 242px;
          position: absolute;
          background-color: #dedede;
          border-radius: 50%;
        }



        .radial-graph-medium,
        .shape-medium,
        .mask-medium,
        .fill-medium {
          width: 171px;
          height: 171px;
          border-radius: 50%;
          position: relative;
        }
        .shape-medium,
        .mask-medium,
        .fill-medium {
          position: absolute;
          background-color: #6e6e6e;
        }

        .mask-medium,
        .fill-medium {
          -webkit-backface-visibility: hidden;
          transition: transform 1s;
          border-radius: 50%;
        }

        .mask-medium {
          clip: rect(0px, 171px, 171px, 85.5px);
        }
        .fill-medium {
          clip: rect(0px, 85.5px, 171px, 0px);
          background-color: #50e3c2;
        }

        .cutout-medium {
          margin-left: 7px;
          margin-top: 7px;
          width: 155px;
          height: 155px;
          position: absolute;
          background-color: #dedede;
          border-radius: 50%;
        }
        a:hover .cutout-medium {
          margin-left: 10px;
          margin-top: 10px;
          width: 151px;
          height: 151px;
          position: absolute;
          background-color: #dedede;
          border-radius: 50%;
        }

        .mask.full-mask,
        .fill {
          /*
            For a value of 90%
            0.9 * 360  / 2
          */
          transform: rotate(162deg);
        }
        .fill.shim {
          /* 
            For a value of 90%
            0.9 * 360
          */
          transform: rotate(324deg);
        }

        
        /*
        45 = 81 y 162
        78 = 140.4 y 280.8
        */

        .data-prom-big {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 10;
            font-size: 34px;
            color: #6d6d6d;
        }
        .data-prom-medium {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 10;
            font-size: 30px;
            color: #6d6d6d;
        }

        .data-big {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            top: 12.5%;
            left: 12.5%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 10;
            font-size: 82px;
            font-weight: bold;
            letter-spacing: -4px;
        }
        .data-medium {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            top: 12.5%;
            left: 12.5%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 10;
            font-size: 52px;
            font-weight: bold;
            letter-spacing: -4px;
        }
        .data-canal-medium {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 10;
            font-size: 19px;
            line-height: 24px;
            color: #6d6d6d;
            padding-top: 183px;
            text-align: center;
            text-decoration: none !important;
        }
        .data-canal-medium .normal {
            display: block;
        }
        .data-canal-medium .color {
            display: none;
            font-weight: bold;
        }
        .active .data-canal-medium .normal {
            display: none;
        }
        .active .data-canal-medium .color {
            display: block;
        }
        .ml4 {
            margin-left: 4%;
        }
        .pt4 {
            padding-top: 4%;
        }
        .circle-line {
            position: absolute;
            bottom: 150px;
            height: 5px;
            background-color: #6d6d6d;
            width: 80%;
            margin-left: 10%;
        }
        .rankingHeader {
            position: relative;
            padding-bottom: 30px;
            /*border-bottom: 13px #a9a9a9 solid;*/
        }
        .rankingHeaderGraph {
            position: relative;
            padding-bottom: 30px;
            border-bottom: 13px #a9a9a9 solid;
            background-color: #dedede;
            /*display: flex;*/

        }


        .graph .border {
            display: none;
        }
        .graph.active .border {
            height: 13px;
            width: 100%;
            position: relative;
            top: 73px;
            display: block;
        }
        .graph.active .arrow {
              width: 0; 
              height: 0; 
              border-left: 25px solid transparent;
              border-right: 25px solid transparent;
              margin: 0 auto;
        }
        .graph.active .arrow.arrow-color-mayor {
              border-top: 25px solid #00694b;
        }
        .graph.active .arrow.arrow-color-menor {
              border-top: 25px solid #bd0511;
        }

        .content-category {
            display: none;
        }
        .content-category.active {
            display: block;
        }
        .descripcioninforme {
            width: 60%;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 40px;
            font-size: 16px;
        }


        @media (max-width: 900px) {
            body[data-page=incentives] .rankingHeader .title {
                max-width: 100%;
            }
            .rankingHeader {
              border: none;
            }
            .floatZone {
                width: 55%;
            }
            .descripcioninforme {
                width: 100%;
            }

            .ml4 {
                margin-left: 0px;
            }

            .radial-graph-big,
            .shape-big,
            .mask-big,
            .fill-big {
              width: 200px;
              height: 200px;
              border-radius: 50%;
              position: relative;
            }
            .shape-big,
            .mask-big,
            .fill-big {
              position: absolute;
              background-color: #6e6e6e;
            }

            .mask-big,
            .fill-big {
              -webkit-backface-visibility: hidden;
              transition: transform 1s;
              border-radius: 50%;
            }
            .mask-big {
              clip: rect(0px, 200px, 200px, 100px);
            }
            .fill-big {
              clip: rect(0px, 100px, 200px, 0px);
              background-color: #50e3c2;
            }
            .cutout-big {
              margin-left: 7px;
              margin-top: 7px;
              width: 186px;
              height: 186px;
              position: absolute;
              background-color: #dedede;
              border-radius: 50%;
            }


            .radial-graph-medium,
            .shape-medium,
            .mask-medium,
            .fill-medium {
              width: 80px;
              height: 80px;
              border-radius: 50%;
              position: relative;
            }
            .shape-medium,
            .mask-medium,
            .fill-medium {
              position: absolute;
              background-color: #6e6e6e;
            }

            .mask-medium,
            .fill-medium {
              -webkit-backface-visibility: hidden;
              transition: transform 1s;
              border-radius: 50%;
            }
            .mask-medium {
              clip: rect(0px, 80px, 80px, 40px);
            }
            .fill-medium {
              clip: rect(0px, 40px, 80px, 0px);
              background-color: #50e3c2;
            }
            .cutout-medium {
              margin-left: 2.5px;
              margin-top: 2.5px;
              width: 75px;
              height: 75px;
              position: absolute;
              background-color: #dedede;
              border-radius: 50%;
            }
            a:hover .cutout-medium {
              margin-left: 5px;
              margin-top: 5px;
              width: 70px;
              height: 70px;
              position: absolute;
              background-color: #dedede;
              border-radius: 50%;
            }
            .data-prom-medium {
              font-size: 20px;
            }
            .data-medium {
              font-size: 30px;
            }
            .data-canal-medium {
              z-index: 10;
              font-size: 15px;
              line-height: 15px;
              padding-top: 96px;
          }



            .mobile-none {
                display: none;
            }

            .col-12 {
              width: 100%;
            }

            .rankingHeaderGraph {
                padding-bottom: 60px;
            }
            .rankingHeaderGraph .fl-m {
              display: flex;
              flex-direction: column;
              align-items: center;
            }
            .rankingHeaderGraph .fl-m-r {
              width: 25%;
              float: left;
            }
            .rankingHeaderGraph .fl-m-r a {
              left: -8px;
              position: relative;
            }

        }
    </style>

    <div class="row rankingHeader">
        <div class="col-md-12" >
            <h2 class="title text-center color-promedio" style="    font-size: 25px;     font-weight: bolder;     max-width: 80%;     margin: 30px  auto;">Informes de Calidad</h2>
			<h2 class="title text-center" style="    font-size: 15px;     font-weight: bolder;     max-width: 80%;     margin: 30px  auto;">
			Para corregir los desvíos detectados en su estación de servicio, por favor contactarse a: <a href="mailto:coordinadoreess@otihdl.com?subject=Puma%20Team%20-%20Error%20de%20en%20informe%20OTI">coordinadoreess@otihdl.com</a> </h2>
        </div>
		

        <div class="col-md-12" >
        
            {% if existDirectory %}

                {% if filesName is not empty %}

              
                    {% for name in filesName %}
					
					<div id="DIV_1" style=" margin:0 auto;">
						<div id="DIV_2">
							<img src="https://somostufan.com.ar/dist/images/training/pdf-icon.png" alt="doctype-icon" id="IMG_3" />
						</div>
						<div id="DIV_4" style="display: flex;    align-items: left;     justify-content: center;">
							<div id="DIV_5"  >
								<a href="{{path('download_file', { 'directory':  directory, 'filename': name })}}" style="font-weight: lighter; padding-left:80px; color: #6e6e6e;   font-size: 18px;" > {{ name }} </a>
							</div>
							
						</div><a href="{{path('download_file', { 'directory':  directory, 'filename': name })}}" id="A_7">
						<div id="DIV_8">
							<img src="http://team.pumaenergyarg.com.ar/img/dlicon.png" alt="download-icon" id="IMG_9" />
						</div>
						<div id="DIV_10">
							Descargar
						</div></a>
						</div>
									
					
                    {% endfor %}
                    

                {% else %}
                    <p class="descripcioninforme"> Oops! Al parecer la estacion seleccionada no posee Informes para descargar. </p>                     
                {% endif %}  

            {% else %}
                <p class="descripcioninforme"> Oops! Al parecer la estacion seleccionada no posee una Carpeta con Informes para descargar. </p>                
            {% endif %}

        </div>
		
								
    </div>

    <style type="text/css">
        .progressBlock {
            margin-top: 55px;
            margin-bottom: 40px;
            display: flex;
            justify-content: center;
        }
        .progressBlock .col-11-per {
            width: 14%;
        }
        .progressBlock .progressItem {
            text-align: center;
        }
        .progressBlock .progressItem h4 {
            font-size: 15px;
            font-weight: normal;
            color: #6d6d6d;
            display: block;
            text-align: center;
            width: 120%;
            margin-left: -10%;
            height: 27px;
        }
        .progressBlock .progressItem.more-height h4 {
            height: 60px;
        }
        .progressBlock .progressItem .bar {
            display: block;
            width: 80%;
            height: 15px;
            margin: 10px auto 15px;
            background-color: #6d6d6d;
            position: relative;
            z-index: 1;
        }
        .progressBlock .progressItem .bar .prog {
            position: absolute;
            z-index: 2;
            height: 15px;
        }
        .progressBlock .progressItem .result {
            font-size: 32px;
            font-weight: bold;
            display: block;
            text-align: center;
        }
        .progressBlock .progressItem .promedio {
            font-size: 28px;
            font-weight: normal;
            color: #6d6d6d;
            display: block;
            text-align: center;
            border-top: 1px solid #6d6d6d;
            padding: 5px 0;
            width: 80%;
            margin: 0 auto;
        }


        .progressStations .title {
            font-size: 25px;
            font-weight: bolder;
            max-width: 80%;
            margin: 30px auto;
        }
        .incentive-more {
            padding-top: 15px;
        }
        .incentive-more a {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #6f6f6f;
            display: block;
            margin: 0;
            text-align: center;
        }
        .incentive-more a span {
            color: #FFFFFF;
            font-size: 50px;
            line-height: 50px;
            font-weight: bold;
        }
        .incentive-more a:hover span {
            color: #e5e5e5;
        }
        .progressInfo .myWorkPlace {
            margin-left: 35px;
        }
        .progressInfo .myWorkPlace .where {
            font-weight: normal;
            color: #6e6e6e;
            font-size: 18px;
        }
        .progressInfo .myWorkPlace .where span {
            font-weight: bold;
            color: #02684b;
        }
        .progressInfo .myStar .myRank.default {
            width: 60px;
            height: 60px;
            line-height: 56px;
            font-size: 25px;
        }

        @media (max-width: 900px) {
            .progressBlock {
              display: block;
            }
            .progressBlock .col-11-per {
              float: left;
              width: 32%;
              margin-bottom: 20px;
            }
            .progressBlock .progressItem .result {
              font-size: 22px;
            }
            .progressBlock .progressItem .promedio {
              font-size: 18px;
            }
            .progressBlock .progressItem h4 {
              height: 45px;
            }
            .progressStations .title {
              max-width: 100%;
            }
            .progressInfo .myStar .myRank.default {
              width: 40px;
              height: 40px;
              line-height: 36px;
              font-size: 15px;
            }
            .progressInfo .data {
              margin-left: -7%;
            }
            body[data-page=incentives] .progressInfo .where.mobile {
              right: unset;
              left: 18%;
              color: #6e6e6e;
              font-size: inherit;
              text-align: left;
              top: 14px;
              font-weight: normal;
            }
            body[data-page=incentives] .progressInfo .where.mobile span {
                  font-weight: bold;
                  color: #02684b;
              }
            .incentive-more {
                padding-top: 15px;
                float: right;
                padding: 49px 0 0 10px;
                margin-right: -7%;
            }
            .incentive-more a {
              width: 30px;
              height: 30px;
            }
            .incentive-more a span {
                font-size: 30px;
                line-height: 30px;
            }
            .progressBar .points {
              top: 50px;
            }

        }
    </style>
    <style type="text/css">
        .modal-dialog {
            width: 60%;
            max-width: 1200px;
            background-color: #e5e5e5;
            border: 8px solid #00694b;
        }
        @media (max-width: 900px) {
          .modal-dialog {
            width: 95%;
          }
        }
        .modal-dialog .modal-header {
            border-bottom: unset;
            position: absolute;
            right: 0;
            z-index: 999;
        }
        .modal-dialog .modal-loading {
            display: block;
            text-align: center;
            padding: 200px;
        }
        .modal-dialog .modal-body {
            margin-top: 20px;
            display: none;
        }
        .modal-dialog .modal-content {
            box-shadow: unset;
            border-radius: 0px;
            background-color: #e5e5e5;
        }
        .modal-dialog .myWorkPlace {
            margin-left: 0px;
        }

        .modal-dialog .block-category {
            display: flex;
            align-items: center;
            height: 175px;
            flex-direction: row-reverse;
        }
        .modal-dialog .block-category h3 {
            font-weight: normal;
            color: #6e6e6e;
            font-size: 20px;
        }
        .modal-dialog .mt-negativo {
            margin-top: -35px;
        }
        .progressInfo .myWorkPlace .where {
        }
        .progressInfo .myWorkPlace .where small {
            font-size: 65%;
        }
        .modal-dialog .estadisticas {
            width: 100%;
            background-color: #ffffff;
            margin: 0 0 30px 0;
            padding: 40px 0 30px 0;
        }
        .modal-dialog .estadisticas.mistery {
            background-color: transparent;
            padding-top: 0px;
        }
        .modal-dialog .estadisticas .progressBlock {
            margin-top: 0px;
            margin-bottom: 0px;
            padding: 20px;
        }
        .modal-dialog .estadisticas.mistery .progressBlock {
            background-color: #ffffff;
            margin: 0 20px;
        }
        .modal-dialog .estadisticas .progressTitle {
            font-size: 18px;
            padding-top: 20px;
        }
        .modal-dialog .estadisticas .progressItem h4 {
            font-size: 26px;
            font-weight: bold;
            height: auto;
            width: 100%;
            margin: 0;
        }
        .modal-dialog .estadisticas .progressItem .bar {
            width: 100%;
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .modal-dialog .estadisticas .porc_promedio {
            font-size: 24px;
            font-weight: normal;
            padding-top: 17px;
        }
        .modal-dialog .leyenda-calidad {
            display: none;
        }
        .modal-dialog .min-height-30 {
            min-height: 30px;
        }

        .modal-dialog .progressBlock.especial {
            background-color: #a9a9a9 !important;
            margin-top: 20px !important;
        }
        .modal-dialog .estadisticas .especial .porc_promedio {
            color: #ffffff !important;
        }
        .modal-dialog .hidespecial {
            display: none;
        }
        .modal-dialog .incentive-more {
            padding-top: 8px;
        }
        .modal-dialog .incentive-more .minus {
            line-height: 44px;
        }
    </style>

    <script type="text/javascript">
        function changeView(name) {
            jQuery('.content-category.active').removeClass('active');
            jQuery('.content-category#' + name).addClass('active');

            jQuery('.graph.active').removeClass('active');
            jQuery('.graph#graph_' + name).addClass('active');
        }


        function showModal(cat, storeId, storeName, storeAddress, storeLocation, catName, promedioRed, promedioEstaciones, month, year, token, storeProgress) {
            jQuery('.modal-dialog .modal-loading').show();
            jQuery('.modal-dialog .modal-body').hide();
            jQuery('#launchModal').trigger('click');



            var jsonData = {'json': true, 'cat': cat, 'store': storeId, 'month': month, 'year': year};
            $.ajax({
              type: 'GET',
              url: "{{ path('aper_ranking_performance') }}",
              data: jsonData,
              dataType: "json",
              success: function(data, textStatus, xhr){
                console.log(data);

                promedioEstaciones = Math.round(storeProgress);
                var porc_dato1 = promedioEstaciones / 100 * 360;
                var porc_dato2 = porc_dato1 / 2;
                var porc_color = (promedioEstaciones < promedioRed) ? 'bg-color-menor' : 'bg-color-mayor';
                var porc_colortext = (promedioEstaciones < promedioRed) ? 'color-menor' : 'color-mayor';

                jQuery('.modal-body .myWorkPlace .where').html(storeName + ' <br><span>' + storeAddress + '<br><small>(' + storeLocation + ')</small></span>');
                jQuery('.modal-body .block-category h3').html(catName);

                jQuery('.modal-body .data-prom-medium').html(promedioRed + '%');
                jQuery('.modal-body .cutout-medium .data-medium').html(promedioEstaciones + '%');
                jQuery('.modal-body .cutout-medium .data-medium').attr('class', 'data-medium ' + porc_colortext);

                jQuery('.modal-body .shape-medium .fill-medium').attr('class', 'fill-medium ' + porc_color);

                jQuery('.modal-body #porc_dato2_1').attr('style', 'transform: rotate(' + porc_dato2 + 'deg);');
                jQuery('.modal-body #porc_dato2_2').attr('style', 'transform: rotate(' + porc_dato2 + 'deg);');
                jQuery('.modal-body #porc_dato2_3').attr('style', 'transform: rotate(' + porc_dato2 + 'deg);');
                jQuery('.modal-body #porc_dato1').attr('style', 'transform: rotate(' + porc_dato1 + 'deg);');

                if (cat == 'MYSTERY SHOPPER') {
                    jQuery('.modal-body .estadisticas').attr('class', 'estadisticas mistery');
                    if (token) {
                        jQuery('.modal-body .block-category h3').append('<br><small><a style="color: #337ab7;font-size: 16px;" href="https://www.webethere.net/main-menu.php?&chk_key=' + token + '" target="_blank">Ver informe</a></small>');
                    }
                } else {
                    jQuery('.modal-body .estadisticas').attr('class', 'estadisticas');
                }

                jQuery('.modal-body .estadisticas').html('');

                if (data.items.length > 0) {
                    var special = '';
                    for (var indice in data.items) {
                        var v = data.items[indice];
                        if (cat == 'OBJETIVOS DE VENTA') {
                            console.log(v)
                          var _porc_color = (v.cumple < v.objetivo) ? 'bg-color-menor' : 'bg-color-mayor';
                          var _porc_colortext = (v.cumple < v.objetivo) ? 'color-menor' : 'color-mayor';
                        } else {
                          var _porc_color = (v.cumple < v.promedio) ? 'bg-color-menor' : 'bg-color-mayor';
                          var _porc_colortext = (v.cumple < v.promedio) ? 'color-menor' : 'color-mayor';
                        }
                        // var _especial = (v.especial) ? 'especial' : '';

                        if (v.especial) {
                            special = indice;
                            var text = '<div class="row progressBlock especial">';
                            text += '       <div class="col-md-4 progressTitle ' + _porc_colortext + ' text-left">' + v.titulo + ' ' + v.cumple + '%</div>';
                            text += '       <div class="col-md-6 progressItem"></div>';
                            text += '       <div class="col-md-1 porc_promedio color-promedio">' + v.promedio + '%</div>';
                            text += '       <div class="col-md-1 incentive-more"><a class="linkspecials linkspecials' + special + '" href="javascript:showEspecial(' + special + ')"><span>+</span></a></div>';
                            text += '   </div>';
                        } else {

                            var text = '<div class="row progressBlock special' + special + ' ' + (special != '' ? 'hidespecial' : '') + '">';
                            text += '       <div class="col-md-4 progressTitle color-promedio text-left">' + v.titulo + '</div>';
                            text += '       <div class="col-md-7 progressItem">';
                            if (cat == 'OBJETIVOS DE VENTA') {
                              var tipoMedida = 'm3';
                                if (v.titulo == 'VENTA DE LUBRICANTES EN ENVASE MENOR') {
                                  tipoMedida = 'ltrs';
                                }
                                text += '           <h4 style="color: #000;"><span class="' + _porc_colortext + '">' + v.cumple + '<small class="' + _porc_colortext + '">' + tipoMedida + '</small></span>/' + v.objetivo + '<small>' + tipoMedida + '</small></h4>';
                            } else {
                                text += '           <h4 style="color: #000;"><span class="' + _porc_colortext + '">' + v.cumple + '</span>/' + v.objetivo + '</h4>';
                            }
                            text += '           <div class="bar"><div class="prog ' + _porc_color + '" style="width: ' + (v.cumple * 100 / v.objetivo) + '%; max-width: 100%;"></div></div>';
                            text += '       </div>';
                            if (cat != 'OBJETIVOS DE VENTA') {
                                text += '       <div class="col-md-1 porc_promedio color-promedio">' + v.promedio + '%</div>';
                            }
                            text += '   </div>';
                        }

                        

                        jQuery('.modal-body .estadisticas').append(text);

                    };
                } else {
                    jQuery('.modal-body .estadisticas').append('<p style="text-align: center; padding: 90px; background-color: #FFFFFF;"> Sin datos </div>');
                }


                if (cat == 'CAPACITACIÓN') {
                    jQuery('.modal-body .leyenda-calidad').show();
                } else {
                    jQuery('.modal-body .leyenda-calidad').hide();
                }


                jQuery('.modal-dialog .modal-loading').hide();
                jQuery('.modal-dialog .modal-body').show();
              },
              error: function(data) {
                jQuery('.modal-dialog .modal-loading').hide();
                jQuery('.modal-dialog .modal-body').show();
                console.log('formulario-fallido-usuario');
                console.log(data);
              }
            });
        }

        var showSpecial = '';
        function showEspecial(special){
            if (showSpecial === special) {
                showSpecial = '';
                jQuery('.linkspecials' + special).html('<span>+</span>');
                // jQuery('.hidespecial').slideUp();
                jQuery('.special' + special).slideUp();
            } else {
                showSpecial = special;
                jQuery('.linkspecials').html('<span>+</span>');
                jQuery('.linkspecials' + special).html('<span class="minus">-</span>');
                jQuery('.hidespecial').slideUp();
                jQuery('.special' + special).slideDown();
            }
        }
    </script>

{% endblock %}