<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	</head>
	<body style="width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;">
   		<p><b>Email:</b> {{ user.email }}</p>

   		<p><b>Motivo:</b> {{ subject }}</p>

   		<p><b>De:</b> {{ user.employee.profile.name|title|replace({',': ''}) }}</p>

   		<p><b>Documento:</b> {{ user.username }}</p>

   		<p><b>Mensaje:</b> <br>{{ message | raw}}</p>
   		<p>------------------------------------</p>
   		<p><b>Imagen:</b> <br><img src="{{ absolute_url(asset('uploads/contact/' ~ fileName))  }}"></p>

	</body>
</html>