{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
        title:'Editar Pregunta',
        path: {
            index: {uri: path('pregunta_index', {'id': examen.id})},
        },
    } only %}
{% endblock page_header %}

{% block page_content %}

{{ form_start(edit_form) }}
{{ form_end(edit_form) }}

{% endblock %}
