{% extends '::base.html.twig' %}

{% block page_header %}
    {% if tipo == 'encuesta' %}
        {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
            title:'Preguntas de la Encuesta',
            path: {
                index: {uri: path('examen_show', { 'id' : examen.id })},
            },
        } only %}
    {% else %}
        {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
            title:'Preguntas del Examen',
            path: {
                index: {uri: path('examen_show', { 'id' : examen.id })},
            },
        } only %}
    {% endif %}

{% endblock %}
{% block page_content %}

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>{{ 'Question' |trans}}</th>
                <th>{{ 'Actions' |trans}}</th>
            </tr>
        </thead>
        <tbody>

        {% for pregunta in preguntas %}
            <tr>
                <td {% if pregunta.tieneRespuestasCorrecta <= 0 and  tipo != 'encuesta' %}style="color:#ff0000"{% endif %}>{{ pregunta.texto }}</td>
                <td>
                    <a href="{{ path('pregunta_show', { 'id': pregunta.id }) }}" class="btn">Ver</a>
                    <a href="{{ path('pregunta_edit', { 'id': pregunta.id }) }}" class="btn">Editar</a>
                    <a href="{{ path('pregunta_delete', {'id': pregunta.id }) }}" class="btn btn btn-danger btn-delete" onclick="return confirm('Está seguro de eliminar?')">Eliminar</a>
                    <a href="{{ path('respuesta_index', { 'id': pregunta.id })}}" class="btn">Respuestas</a>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td>
                <a href="{{ path('pregunta_new', { 'id': examen.id })}}" class="btn">Nueva Pregunta</a>
            </td>
        </tr>
        </tbody>
    </table>
    {% if tipo != 'encuesta' %}
            <p style="color:#ff0000">* Preguntas sin respuesta/s correctas</p>
    {% endif %}
{% endblock %}
