{% extends '::base.html.twig' %}

{% block page_content %}

    <div class="row">
        <div class="col-sm-5">
            <h2>Nueva Pregunta</h2>
        </div>
    </div>
    {{ form(form) }}
{% endblock %}
