{% extends '::base.html.twig' %}

{% block page_header %}

    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
        title:'Pregunta',
        path: {
            index: {uri: path('pregunta_index', { 'id': examen.id })},
            edit: {uri: path('pregunta_edit', { 'id': examen.id })},
            delete: {uri: path('pregunta_delete', { 'id': examen.id })},
        },
    } only %}
{% endblock %}

{% block page_content %}
    <h2>{{ pregunta.texto }}</h2>
    <h2></h2>
            <a href="{{ path('respuesta_index', { 'id': pregunta.id })}}" class="btn">Ver Respuestas</a>
{% endblock %}
