{% extends 'base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
        title:'page_header.aper.goal_type.edit.title'|trans,
        path: {
            index: {uri: path('goal_type_index')},
            delete: {uri: path('goal_type_delete', {'id': goalType.id})},
        },
        delete_form: delete_form,
    } only %}
{% endblock page_header %}


{% block page_content %}
    {{ form(edit_form) }}
{% endblock %}
