{% extends '::base.html.twig' %}
{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
        title:'Importador de tipos de objetivos de estaciones'|trans,
        path: {

        },
    } only %}
{% endblock page_header %}

{% block page_content %}
    {{ form(form) }}

{% endblock %}

