            {% extends 'base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
        title:'page_header.aper.goal_type.new.title'|trans,
        path: {
            index: {uri: path('goal_type_index')},
        },
    } only %}
{% endblock page_header %}


{% block page_content %}
    {{ form(form) }}
{% endblock %}
