{% extends 'base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
        title:'page_header.aper.goal_type.show.title'|trans,
        path: {
            index: {uri: path('goal_type_index')},
            edit: {uri: path('goal_type_edit', {'id': goalType.id})},
            delete: {uri: path('goal_type_delete', {'id': goalType.id})},
        },
        delete_form: delete_form,
    } only %}
{% endblock page_header %}


{% block page_content %}
    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'Year'|trans }}</th>
                <td>{{ goalType.year }}</td>
            </tr>
            <tr>
                <th>{{ 'Month'|trans }}</th>
                <td>{{ goalType.month }}</td>
            </tr>
            <tr>
                <th>{{ 'Category'|trans }}</th>
                <td>{{ goalType.category }}</td>
            </tr>
            <tr>
                <th>{{ 'Name'|trans }}</th>
                <td>{{ goalType.name }}</td>
            </tr>
            <tr>
                <th>{{ 'Cell'|trans }}</th>
                <td>{{ goalType.cell }}</td>
            </tr>
            {# <tr>
                <th>{{ 'Front symbol'|trans }}</th>
                <td>{{ goalType.frontSymbol }}</td>
            </tr>
            <tr>
                <th>{{ 'Back symbol'|trans }}</th>
                <td>{{ goalType.backSymbol }}</td>
            </tr> #}
            <tr>
                <th>{{ 'Is special'|trans }}</th>
                <td>{{ goalType.special ? 'Yes'|trans : 'No'|trans }}</td>
            </tr>
            <tr>
                <th>{{ 'Is totalizer'|trans }}</th>
                <td>{{ goalType.totalizer ? 'Yes'|trans : 'No'|trans }}</td>
            </tr>
            {# <tr>
                <th>{{ 'Parent'|trans }}</th>
                <td>{{ goalType.parent ? goalType.parent.name : '' }}</td>
            </tr> #}
            <tr>
                <th>{{ 'Be There - ID'|trans }}</th>
                <td>{{ goalType.bt }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}