
{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Editar Categoría de Capacitaciones'|trans,
    path: {
    index: {uri: path('aper_categorycourse_index')},
    },
    } only %}
{% endblock page_header %}

{% block page_content %}

    {{ form_start(form, {'attr': { 'role' : 'form'}}) }}
    <h4 class="text-danger">{{ form_errors(form) }}</h4>

    {{ form_end(form) }}

{% endblock %}

