{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Nueva Categoría de Capacitaciones'|trans,
    path: {
    index: {uri: path('aper_categorycourse_index')},
    },
    } only %}
{% endblock page_header %}


{% block page_content %}
    {{ form(form) }}
{% endblock %}
