{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
        title:'page_header.successfulLogin.list.title'|trans,
        path: {
        },
    } only %}
{% endblock page_header %}


{% block page_content %}
    <div class="table-responsive">

        {{ grid_filter_form(filter_form) }}

        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>{{'Docket'|trans }}</th>
                <th>{{'Name'|trans}}</th>
                <th>{{'Email'|trans}}</th>
                <th>{{'Phone'|trans}}</th>
                <th>{{'Estación'}}</th>
                <th>{{'StartAtExport'|trans }}</th>
                <th>{{'LastLoginAt'|trans }}</th>
                <th>{{'CountLogins'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in pagination %}
                <tr data-id="{{ user[0].employee.id }}">
                    <td>{{ user[0].employee ? user[0].employee.code }}</td>
                    <td>{{ user[0].employee ? user[0].employee.profile.name }}</td>
                    <td>{{ user[0].email }}</td>
                    <td>{{ user[0].employee ? user[0].employee.profile.phoneAreaCode ~ "-" ~ user[0].employee.profile.phoneNumber}}</td>
                    <td>{{ user[0].employee ? user[0].employee.store}}</td>
                    <td>{{ user[0].employee ? user[0].employee.profile.startat|date('d/m/Y')}}</td>
                    <td>{{ user[0].employee ? user[0].lastLoginAt|date('d/m/Y - H:i:s')}}</td>
                    <td>{{ user['countLogins'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <br>
        {{ grid_pagination(pagination) }}
    </div>




{% endblock page_content %}