{% block page_content %}
    <div class="container">
        {% block page_benefit_container %}
            <div class="row">
                {% block benefit_category %}
                    <div class="col-lg-6 col-xs-12">
                        <div class="block_titleCategory">
                            <img src="{{ asset('dist/images/svg/logo.svg') }}">
                            <h2>{% block section_title %}{% endblock %}</h2>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <h3>{% block benefit_title %}{% endblock %}&#187;</h3>
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
