{% import '@WebFactoryBackOfficeTheme/macros/flash.html.twig' as macros %}
<!doctype html>
<html lang="es">
<head>
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta charset="utf-8"/>
        <title>{% block meta_title %}Puma Energy{% endblock meta_title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
        <meta name="description"
              content="{% block meta_description %}overview &amp; stats{% endblock meta_description %}">
        <meta name="author" content="">

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
    {% endblock meta %}

    {% block head_stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('dist/styles/main.css') }}"/>
        {% block head_stylesheets_custom %}
            <!-- page specific plugin styles -->
        {% endblock %}
    {% endblock %}
    {% block head_scripts %}
        <script>
            var globals = {"jqMobile": "{{ asset('dist/scripts/vendor/jquery.gestures.mobile.js') }}"};
        </script>
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% block head_scripts_optional %}
            <!-- inline scripts related to this page -->
        {% endblock %}
    {% endblock %}

</head>

<body class="{% block page_class %}{% endblock %}">

{% block site_header %}
{% endblock %}

<main class="page-content {% block data_class %}{% endblock %}" data-content="{% block data_page %}{% endblock %}">
    <section class="content">
        {{ macros.show_flash() }}
        {% block page_content %}
        {% endblock %}
    </section><!-- /content -->

    {% block footer_page %}
    {% endblock %}
</main>

{% block site_footer %}
{% endblock %}
{% block body_scripts %}
    {{ include(':layouts:ga_script.html.twig') }}
    <script src="{{ asset('dist/scripts/main.js') }}"></script>

    {% block body_scripts_optional %}
        <!-- inline scripts related to this page -->
    {% endblock %}
{% endblock %}

</body>
</html>

