{% extends '::base.html.twig' %}

{% block page_content %}

    <div class="row">
        <div class="col-sm-5">
            <h2>Editar Localidad</h2>
            <a href="{{ path('localidad_de_estacion_index')}}" class="head-link">
                <h5>
                    <span><i class="icon ion-plus"></i></span>
                    Volver al Listado de Localidades
                </h5>
            </a>
        </div>

    </div>

    {{ form(form) }}
{% endblock %}

