{% extends '::base.html.twig' %}

{% block page_header %}
    {% if is_granted('ROLE_ADMIN') %}
        {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
            title:'Localidades',
            path: {
            new: {uri: path('localidad_de_estacion_add')},
            },
            } only %}
    {% else %}
        {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
            title:'Localidades',
            } only %}
    {% endif %}
{% endblock page_header %}


{% block page_content %}
    <div class="table-responsive">

        {{ grid_filter_form(filter_form) }}

        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>{{ 'Nombre' }}</th>
                <th>{{ 'Provincia' }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for store in pagination %}
            <tr data-id="{{ store.id }}">
                <td>{{ store.nombre }}</td>
                <td>{{ store.provincia.nombre }}</td>
                <td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('localidad_de_estacion_edit', {id: store.id }) }}" class="btn">Editar</a>
                        <a href="{{ path('localidad_de_estacion_delete', {id: store.id }) }}" class="btn btn btn-danger btn-delete" onclick="return confirm('Está seguro de eliminar?')">Eliminar</a>
                    {% endif %}
                        <a href="{{ path('localidad_de_estacion_show', {id: store.id }) }}" class="btn" onclick="">Ver</a>
                </td>
            </tr>
                {% endfor %}
            </tbody>
        </table>

        <br>

        {{ grid_pagination(pagination) }}

    </div>




{% endblock page_content %}