{% extends '::base.html.twig' %}

{% block page_header %}
    {% if is_granted('ROLE_ADMIN') %}
        {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
        title:'Localidad',
        path: {
        index: {uri: path('localidad_de_estacion_index')},
        edit: {uri: path('localidad_de_estacion_edit', {'id': localidad.id})},
        delete: {uri: path('localidad_de_estacion_delete', {'id': localidad.id})},
        },
        } only %}
    {% else %}
        {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
        title:'Localidad',
        path: {
        index: {uri: path('localidad_de_estacion_index')},
        },
        } only %}
    {% endif %}
{% endblock page_header %}


{% block page_content %}
    <table class="table">
        <tbody>
        <tr>
            <th>{{ 'Nombre' }}</th>
            <td>{{ localidad.nombre | default('')}}</td>
        </tr>
        <tr>
            <th>{{ 'Location'|trans }}</th>
            <td>{{ localidad.provincia.nombre | default('')}}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}