{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Editar Home Destacado',
    path: {
    index: {uri: path('aper_home_destacado_index')},
    delete: {uri: path('aper_home_destacado_delete', {'id': slider.id})},
    },

    } only %}
{% endblock page_header %}


{% block page_content %}


    {{ form(form) }}
{% endblock %}

