{% extends 'base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Home Destacado',
    path: {
        index: {uri: path('aper_home_destacado_index')},
        edit: {uri: path('aper_home_destacado_update', {'id': slider.id})},
        delete: {uri: path('aper_home_destacado_delete', {'id': slider.id})},
    },

    } only %}
{% endblock page_header %}


{% block page_content %}
    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'Estado' }}</th>
                <td>{% if slider.activo %}{{ 'Activo' }}{% else %}{{ 'Inactivo' }}{% endif %}</td>
            </tr>
            <tr>
{#                <th>{{ 'Roles'|trans }}</th>#}
                <th>{{ 'Role Asociado' }}</th>
{#               <td>
                {% for roles in slider.categories %}
                    {{roles|trans}} <br>
                {% endfor %}
                </td>#}
                <td>{{slider.roleString|trans}}</td>
            <tr>
                <th>{{'Url'}}</th>
                <td>{{ slider.url }}</td>
            </tr>
            <tr>
                <th>{{ 'Imagen'|trans }}</th>
                <td>
                    <img src="{{asset(slider.homeDestacadoFile.webPath)}}" style="max-height: 600px">
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}