{% extends 'base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'page_header.aper.benefit.edit.title'|trans,
    path: {
        index: {uri: path('aper_benefit_benefit_index')},
        delete: {uri: path('aper_benefit_benefit_delete', {'id': benefit.id})},
    },
    delete_form: delete_form,
    } only %}
{% endblock page_header %}


{% block page_content %}
    {{ form(edit_form) }}
{% endblock %}
