{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'page_header.aper.benefit.list.title'|trans,
    path: {
    new: {uri: path('aper_benefit_benefit_new')},
    },
    } only %}
{% endblock page_header %}


{% block page_content %}
    <div class="table-responsive">

        {% if filter_form is defined %}
            {{ grid_filter_form(filter_form) }}
        {% endif %}

        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th{% if pagination.isSorted('Benefit.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name'|trans, 'Benefit.name') }}</th>
                <th{% if pagination.isSorted('Benefit.category') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Category'|trans, 'Benefit.category') }}</th>
                <th{% if pagination.isSorted('Benefit.description') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Description'|trans, 'Benefit.description') }}</th>
                <th>{{ 'Roles allowed'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for benefit in pagination %}
                <tr data-id="{{ benefit.id }}">
                    <td>{{ benefit.name }}</td>
                    <td>{{ benefit.category|trans }}</td>
                    <td>{{ benefit.description|raw }}</td>
                    <td>
                        <ul class="list-unstyled">
                            {% for role in benefit.rolesAllowed %}
                                <li>{{ role|trans }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <a href="{{ path('aper_benefit_benefit_show', {id: benefit.id }) }}" class="btn"
                           onclick="">{{ 'actions.show.label'|trans }}</a>
                        <a href="{{ path('aper_benefit_benefit_edit', {id: benefit.id }) }}"
                           class="btn">{{ 'actions.edit.label'|trans }}</a>
                        <a href="{{ path('aper_benefit_benefit_delete', {id: benefit.id }) }}"
                           class="btn btn btn-danger btn-delete"
                           onclick="return confirm('{{ 'actions.delete.confirm_cuestion'|trans }}')">{{ 'actions.delete.label'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <br>

        {{ grid_pagination(pagination) }}

    </div>
{% endblock page_content %}