{% extends 'base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'page_header.aper.benefit.new.title'|trans,
    path: {
    index: {uri: path('aper_benefit_benefit_index')},
    },
    } only %}
{% endblock page_header %}


{% block page_content %}
    {{ form(form) }}
{% endblock %}
