{% extends 'base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'page_header.aper.benefit.show.title'|trans,
    path: {
        index: {uri: path('aper_benefit_benefit_index')},
        edit: {uri: path('aper_benefit_benefit_edit', {'id': benefit.id})},
        delete: {uri: path('aper_benefit_benefit_delete', {'id': benefit.id})},
    },
    delete_form: delete_form,
    } only %}
{% endblock page_header %}


{% block page_content %}
    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'Name'|trans }}</th>
                <td>{{ benefit.name }}</td>
            </tr>
            <tr>
                <th>{{ 'Description'|trans }}</th>
                <td>{{ benefit.description|raw }}</td>
            </tr>
            <tr>
                <th>{{ 'Category'|trans }}</th>
                <td>{{ benefit.category|trans }}</td>
            </tr>
            <tr>
                <th>{{ 'Roles allowed'|trans }}</th>
                <td>
                    <ul class="list-unstyled">
                        {% for role in benefit.rolesAllowed %}
                            <li>{{ role|trans }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>{{ 'Enabled'|trans }}</th>
                <td>{% if benefit.enabled %}{{ 'Yes'|trans }}{% else %}{{ 'No'|trans }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}