{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/user/css/pass.css') }}"/>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/user/css/pass.js') }}"></script>
{% endblock %}

{% block page_content %}
    {{ block('web_factory_user_content') }}
{% endblock page_content %}
