{% extends '::base.html.twig' %}
{% block pagename %}communications{% endblock %}

{% block page_logo %}
    <div class="hidden-xs hidden-sm">
        {{ parent() }}
    </div>
    <div class="hidden-md hidden-lg comunicacion">
        <img src="{{ asset('dist/images/puma/logo-puma.png') }}">
    </div>
{% endblock %}

{% block page_content %}
<style>
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #29674A;
  color: #fff;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  padding-bottom:15px;

}
.active {
  background-color: #509977;
}

.panel {
  padding: 0 25px;
  background-color: white;
  display: none;
  overflow: hidden;
  width: 100%;
  border: 1px solid gray;
  text-align:left;
}
.accordion:after {
  content: '\2212';
  font-size: 5em;
  float: right;
  margin-left: 5px;
  position: relative;
  top: -92px; left: -15px;
  color: #fff !important;
}

.active:after {
  content: "\002B";
}

i.fa.fa-folder-open {
  font-size: 40px !important;
}

i.fa.fa-folder-open, b {
  margin-left: 16px;
}

.title-panel {
  font-size: 28px;
}

.title-content {
  font-size:18px;
}

.paragraph {
  padding-top: 20px; 
  padding-left: 60px;
}

</style>
    <div class="container">

        <div class="row header_image">
            <div class="communications-active-bg"></div>
            <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs" style="background-image: url({{ asset('dist/images/puma/header-news.png') }})">
                <img class="img_backHeader" src="{{ asset('dist/images/puma/header-news.png') }}">
                <h4 class="header-title">Biblioteca de usuario</h4>
            </div>
            <div class="col-xs-12 hidden-sm hidden-md hidden-lg" style="background-image: url({{ asset('dist/images/puma/header-news.png') }})">
                <img class="img_backHeader" src="{{ asset('dist/images/puma/header-news.png') }}">
                <h4 class="header-title">Biblioteca de usuario</h4>
            </div>
           
        </div>
        

        <div class="courses-headline row">

            <h2 class="medium">CAPACITACIONES</h2>

            <div class="clearfix "></div>

        </div>

<div class="politics-content">

  {% if politicsAndProceduresByCategory|length > 0 %}

    {% set category = politicsAndProceduresByCategory[0].category %}

    {% for key, politic in politicsAndProceduresByCategory %}
      {% if key == 0 %}
        <button class="accordion" style="height:60px;"><p style="padding-left:10px;padding-top:10px;padding-bottom:10px"><i class="fa fa-folder-open"></i><b class="title-panel">{{ politic.category }}</b></p></button>
        <div class="panel">
          <p class="paragraph"><b class="title-content">{{ politic.title }}</b><a href="{{ politic.pdf }}" target="_blank"><i class="fa fa-download" style="float:right; font-size:30px;"></i></a></p>
      {% else %}

        {% if politic.category != category %}
          {% set category = politic.category %}
          </div>
          <br>
          <br>
          <button class="accordion" style="height:60px;"><p style="padding-left:10px;padding-top:10px;padding-bottom:10px"><i class="fa fa-folder-open"></i><b class="title-panel">{{ politic.category }}</b></p></button>
          <div class="panel">
            <p class="paragraph"><b class="title-content">{{ politic.title }}</b><a href="{{ politic.pdf }}" target="_blank"><i class="fa fa-download" style="float:right; font-size:30px;"></i></a></p>
        {% else %}
            <p class="paragraph"><b class="title-content">{{ politic.title }}</b><a href="{{ politic.pdf }}" target="_blank"><i class="fa fa-download" style="float:right; font-size:30px;"></i></a></p>
        {% endif %}

      {% endif %}

    {% endfor %}

  {% else %}
    {% if politicsAndProceduresByCategory|length == 0 %}
      {% set politic = politicsAndProceduresByCategory[0] %}
      <button class="accordion" style="height:60px;"><p style="padding-left:10px;padding-top:10px;padding-bottom:10px"><i class="fa fa-folder-open"></i><b class="title-panel">{{ politic.category }}</b></p></button>
      <div class="panel">
        <p class="paragraph"><b class="title-content">{{ politic.title }}</b><a href="{{ politic.pdf }}" target="_blank"><i class="fa fa-download" style="float:right; font-size:30px;"></i></a></p>
      </div>
      <br>
      <br>
    {% else %}
      <h3>No existe contenido.</h3>
    {% endif %}
  {% endif %}

  {# TEMPLATE _RESG #}
    {# <button class="accordion" style="height:60px;"><p style="font-size:22px; padding-left:60px;padding-top:10px;padding-bottom:10px"><b>Alianzas y Promociones</b></p></button>
    <div class="panel" >
      <p style="font-size:18px;padding-top:20px; padding-left:60px;"><b>Alianza MODO</b></p>
      <p style="font-size:18px;padding-top:20px; padding-left:60px;"><b>Alianza Agro Nación</b></p>
      <p style="font-size:18px;padding-top:20px; padding-left:60px; padding-bottom:20px;"><b>Plan Z Tarjeta Naranja</b></p>
    </div>
    <br>
    <br> #}

    {# <button class="accordion" style="height:60px;"><p style="font-size:22px; padding-left:60px;padding-top:10px;padding-bottom:10px"><b>App</b></p></button>
    <div class="panel" >
      <p style="font-size:18px;padding-top:20px; padding-left:60px; padding-bottom:20px;"><b>Información sobre la app de Puma Energy</b></p>
    </div>
    <br>
    <br>

    <button class="accordion" style="height:60px;"><p style="font-size:22px; padding-left:60px;padding-top:10px;padding-bottom:10px"><b>Lubricantes</b></p></button>
    <div class="panel" >
      <p style="font-size:18px;padding-top:20px; padding-left:60px;"><b>Boletín Técnico</b></p>
      <p style="font-size:18px;padding-top:20px; padding-left:60px; padding-bottom:20px;"><b>Manual de lubricantes</b></p>
    </div>
    <br>
    <br>

    <button class="accordion" style="height:60px;"><p style="font-size:22px; padding-left:60px;padding-top:10px;padding-bottom:10px"><b>Surtidores</b></p></button>
    <div class="panel" > 
      <p style="font-size:18px;padding-top:20px; padding-left:60px; padding-bottom:20px;"><b>Guía de mantenimiento de surtidores y tanques</b></p>
    </div>
    <br>
    <br>

    <button class="accordion" style="height:60px;"><p style="font-size:22px; padding-left:60px;padding-top:10px;padding-bottom:10px"><b>Super 7</b></p></button>
    <div class="panel" > 
      <p style="font-size:18px;padding-top:20px; padding-left:60px; padding-bottom:20px;"><b>Manual de imagen y material de soporte sobre el negocio de tiendas de conveniencia SUPER 7</b></p>
    </div> #}
  {# END TEMPLATE _RESG #}

</div>

{#<i class="fa fa-download"></i>#}
{#<i class="fa fa-folder-open"></i>#}

<script>
var acc = document.getElementsByClassName("accordion");
var i;
for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>

{% endblock page_content %}

{% block body_scripts_optional %}
    {{ parent() }}
    
{% endblock %}

