{% extends '::base.html.twig' %}
{% block pagename %}Biblioteca{% endblock %}

{% block page_logo %}
    <div class="hidden-xs hidden-sm">
        {{ parent() }}
    </div>
    <div class="hidden-md hidden-lg biblioteca">
        <img src="{{ asset('dist/images/puma/logo-puma.png') }}">
    </div>
{% endblock %}

{% block page_content %}
<style>
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #0B6349;
  color: #fff;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  padding-bottom:15px;

}

.active {
  background-color: #3B806B;
}

.panel {
  padding: 0 25px;
  background-color: white;
  display: none;
  overflow: hidden;
  width: 100%;
  border: 1px solid gray;
  text-align: left;
  position: sticky;
}

.accordion:after {
  content: "\002B";
  font-size: 5em;
  float: right;
  margin-left: 5px;
  position: relative;
  top: -92px; left: -15px;
  color: #fff !important;
}

.active:after {
  content: '\2212';
}

i.fa.fa-folder-open {
  font-size: 40px !important;
}

i.fa.fa-folder-open, b {
  margin-left: 16px;
}

.title-panel {
  font-size: 28px;
}

.title-content {
  font-size: 22px;
}

.paragraph {
  padding-top: 20px; 
  padding-left: 60px;
  color: #6E6E6E;
  display: inline-block;
}

.file {
  width: 52px;
  position: relative;
  display: inline-block;
  float: right;
  bottom: -8px;
}

.file .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.file:hover .img-top {
  display: inline;
}

</style>
    <div class="container">

        <div class="row header_image">
            <div class="biblioteca-active-bg"></div>
            <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs" style="background-image: url({{ asset('dist/images/puma/header-news.png') }})">
                <img class="img_backHeader" src="{{ asset('dist/images/puma/header-news.png') }}">
                <h4 class="header-title">Biblioteca de usuario</h4>
            </div>
            <div class="col-xs-12 hidden-sm hidden-md hidden-lg" style="background-image: url({{ asset('dist/images/puma/header-news.png') }})">
                <img class="img_backHeader" src="{{ asset('dist/images/puma/header-news.png') }}">
                <h4 class="header-title">Biblioteca de usuario</h4>
            </div>
           
        </div>
        

        <div class="courses-headline row">

            <h2 class="medium">CAPACITACIONES</h2>

            <div class="clearfix "></div>

        </div>

<div class="politics-content">

  {% if politicsAndProceduresByCategory|length > 0 %}

    {% set category = politicsAndProceduresByCategory[0].category %}

    {% for key, politic in politicsAndProceduresByCategory %}
      {% if key == 0 %}
        <button class="accordion" style="height:60px;"><p style="padding-left:10px;padding-top:10px;padding-bottom:10px"><i class="fa fa-folder-open"></i><b class="title-panel">{{ politic.category }}</b></p></button>
        <div class="panel">
          <p class="paragraph"><b class="title-content">{{ politic.title }}</b>
            <a href="{{ politic.pdf }}" target="_blank">
              <div class="file">
                <img src="{{ asset('dist/images/puma/icon_file_active.svg') }}">
                <img src="{{ asset('dist/images/puma/icon_file.svg') }}" class="img-top">
              </div>
            </a>
          </p>
      {% else %}

        {% if politic.category != category %}
          {% set category = politic.category %}
          </div>
          <br>
          <br>
          <button class="accordion" style="height:60px;"><p style="padding-left:10px;padding-top:10px;padding-bottom:10px"><i class="fa fa-folder-open"></i><b class="title-panel">{{ politic.category }}</b></p></button>
          <div class="panel">
            <p class="paragraph"><b class="title-content">{{ politic.title }}</b>
              <a href="{{ politic.pdf }}" target="_blank">
                <div class="file">
                  <img src="{{ asset('dist/images/puma/icon_file_active.svg') }}">
                  <img src="{{ asset('dist/images/puma/icon_file.svg') }}" class="img-top">
                </div>
              </a>
            </p>
        {% else %}
            <p class="paragraph"><b class="title-content">{{ politic.title }}</b>
              <a href="{{ politic.pdf }}" target="_blank">
                <div class="file">
                  <img src="{{ asset('dist/images/puma/icon_file_active.svg') }}">
                  <img src="{{ asset('dist/images/puma/icon_file.svg') }}" class="img-top">
                </div>
              </a>
            </p>
        {% endif %}

      {% endif %}

    {% endfor %}

  {% else %}
    {% if politicsAndProceduresByCategory|length == 0 %}
      {% set politic = politicsAndProceduresByCategory[0] %}
      <button class="accordion" style="height:60px;"><p style="padding-left:10px;padding-top:10px;padding-bottom:10px"><i class="fa fa-folder-open"></i><b class="title-panel">{{ politic.category }}</b></p></button>
      <div class="panel">
        <p class="paragraph"><b class="title-content">{{ politic.title }}</b>
          <a href="{{ politic.pdf }}" target="_blank">
            <div class="file">
              <img src="{{ asset('dist/images/puma/icon_file_active.svg') }}">
              <img src="{{ asset('dist/images/puma/icon_file.svg') }}" class="img-top">
            </div>
          </a>
        </p>
      </div>
      <br>
      <br>
    {% else %}
      <h3>No existe contenido.</h3>
    {% endif %}
  {% endif %}

</div>

<script>
var acc = document.getElementsByClassName("accordion");
var i;
for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>

{% endblock page_content %}

{% block body_scripts_optional %}
    {{ parent() }}
    
{% endblock %}

