{% extends '::base.html.twig' %}
{% block pagename %}communications{% endblock %}

{% block page_logo %}
    <div class="hidden-xs hidden-sm">
        {{ parent() }}
    </div>
    <div class="hidden-md hidden-lg comunicacion">
        <img src="{{ asset('dist/images/puma/logo-puma.png') }}">
    </div>
{% endblock %}


{% set roleHeadOffice = false %}
{% set user = app.user %}
{% if user %}
    {% for role in user.roles if not roleHeadOffice %}
        {% if role == 'ROLE_HEAD_OFFICE'%}
            {% set roleHeadOffice = true %}
        {% endif %}
    {% endfor %}
{% else %}
    {% set roleHeadOffice = false %}
{% endif %}

{% block page_content %}

    <div class="container">

{#        <div class="row header_image">#}
{#            <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs" style="background-image: url({{ asset('dist/images/puma/header-news.png') }})">#}
{#                <img class="img_backHeader" src="{{ asset('dist/images/puma/header-news.png') }}">#}
{#            </div>#}
{#            <div class="col-xs-12 hidden-sm hidden-md hidden-lg" style="background-image: url({{ asset('dist/images/puma/header-news.png') }})">#}
{#                <img class="img_backHeader" src="{{ asset('dist/images/header-news.png') }}">#}
{#            </div>#}
{#        </div>#}

        <div class="row header_image">
            <div class="communications-active-bg"></div>
            <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs" style="background-image: url({{ asset('dist/images/puma/header-news.png') }})">
                <img class="img_backHeader" src="{{ asset('dist/images/puma/header-news.png') }}">
                <h4 class="header-title">Biblioteca de usuario</h4>
            </div>
            <div class="col-xs-12 hidden-sm hidden-md hidden-lg" style="background-image: url({{ asset('dist/images/puma/header-news.png') }})">
                <img class="img_backHeader" src="{{ asset('dist/images/puma/header-news.png') }}">
                <h4 class="header-title">Biblioteca de usuario</h4>
            </div>
        </div>

        <div class="courses-headline row">

            <h2 class="medium">CAPACITACIONES</h2>

            <div class="clearfix "></div>

        </div>

        <div class="politics-content">


            {% if pagination|length >= 1 %}
                <div class="content-politics">

                    <div class="row">

                        {% for news in pagination %}

                            <div class="col-sm-12 col-lg-4 politic" id="{{ news.id }}">

                                <div class="politic-title bold">{{ news.title|striptags|truncate(50)|raw }}</div>

                                <div class="img-cont">
                                    {% if news.image %}
                                        <div class="the-img" style="width: 100%;padding-bottom: 56%;background: url({{ asset(news.image.webPath) }}) center /cover no-repeat;"></div>
                                    {% endif %}
                                </div>

                                <div class="politic-body-cont">
                                    <div class="politic-body">{{ news.content|striptags|truncate(120)|raw }}</div>
                                </div>

                                <div class="politic-pdf-cont">
                                    {% if news.pdf.webPath %}
                                        <a class="medium read-more" href="{{ asset(news.pdf.webPath) }}" target="_blank"> Descargar </a>
                                    {% endif %}
                                </div>

                                <hr class="border-bottom">

                            </div>

                        {% endfor %}

                    </div>
                </div>

                {% if pagination|length >= 9 %}
                    <div class="row">
                        <a class="medium load-more" href="#">
                            <i class="fa fa-rotate-right" aria-hidden="true"></i> Cargar más
                        </a>
                    </div>
                {% endif %}
            {% else %}
                <h3 class="bold"> NO SE HAN ENCONTRADO Biblioteca de usuario</h3>
            {% endif %}

        </div>

    </div>

{% endblock page_content %}

{% block body_scripts_optional %}
    {{ parent() }}
    <script>

        var currentPage = 1;

        $('a.load-more').on('click', function (e) {
            e.preventDefault();
            e.stopImmediatePropagation();

            $('a.load-more i').removeClass('fa-rotate-right');
            $('a.load-more i').addClass('fa fa-circle-o-notch fa-spin fa-fw');

            currentPage++;

            var url = document.location.href;

            if (url.indexOf('?') !== -1) {
                url = url + '&page=' + currentPage;
            } else {
                url = url + '?page=' + currentPage;
            }

            if (currentPage > 0) {

                $.ajax({
                    url: url,
                    type: 'json',
                    success: function (res) {
                        //var res = $.parseJSON(res);

                        if (res.length < 9) {
                            currentPage = 0;
                            $('.load-more').hide();
                        }

                        for (var key in res) {

                            var html = '<div class="col-sm-12 col-lg-4 politic">';

                            html += '<div class="politic-title bold">' + res[key].title + '</div>';

                            html += '<div class="img-cont">';
                            if(res[key].img !== null){
                                html += '<div class="the-img" style="background: url('+res[key].img +') center / cover no-repeat"></div>';
                            }
                            html += '</div>';

                            html += '<div class="politic-body-cont">';
                            html += '<div class="politic-body">' + res[key].content.replace(/(<([^>]+)>)/ig,"") + '</div>';
                            html += '</div>';

                            html += '<div class="politic-pdf-cont">'
                            if(res[key].pdf !== null){
                                html += '<a class="medium read-more" href="' + res[key].pdf + '"> Descargar </a>';
                            }
                            html += '</div>';

                            html += '<hr class="border-bottom">';

                            html += '</div>';

                            $('.content-politics .row').append(html);

                        }

                        $('a.load-more i').removeClass('fa fa-circle-o-notch fa-spin fa-fw');
                        $('a.load-more i').addClass('fa-rotate-right');

                    }
                });
            }



        });

    </script>
{% endblock %}