{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Editar Carpeta'|trans,
    } only %}
{% endblock page_header %}

{% block page_content %}
        <div class="sm-col-12">
            {{ form_start(form) }}
            {{ form_row(form.parent) }}
            {{ form_row(form.name) }}
            <div style="display:none">
            {{ form_row(form.required) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
