{% extends '::base.html.twig' %}

{% block page_header %}
    {% macro breadcrumNode(node) %}
        {% if node.parent == null %}
            {{ ' :: ' ~ node.name }}
        {% else %}
            {{ _self.breadcrumNode(node.parent) ~ ' :: ' ~ node.name }}
        {% endif %}
    {% endmacro %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
        title: 'Kit de entrenamiento ' ~ (node is defined ? _self.breadcrumNode(node) : ' :: Carpetas'),
        path: {
            new: {uri: path('aper_trainingkit_add')}
        },
    } only %}
{% endblock page_header %}

{% block page_content %}
    <div class="col-sm-12">
        <table class="table table-bordered table-hover" cellspacing="0" cellpadding="0" border="0">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>{{ 'Category'|trans }}</th>
                    <th>Contenido de la Capacitación</th>
                    <th>Estado</th>
                    <th style="max-width: 200px !important; min-width: 200px !important; width: 200px !important;">{{ 'Roles allowed'|trans }}</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
            {# Subir nivel#}
                {% if node is defined %}
                    {% if node.id != node.root %}
                        <tr>
                            <td colspan="6">
                                <a href="{{ url('aper_training_kit_folder_courses_by_folder', {'id': node.parent.id}) }}" title="Subir un nivel"><i class="menu-icon fa fa-folder"></i> ...</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">
                                <a href="{{ url('aper_training_kit_folder_courses_by_root_folder') }}" title="Subir un nivel"><i class="menu-icon fa fa-folder"></i> ...</a>
                            </td>
                        </tr>
                    {% endif %}
                {% else %}

                    {% if roots is not defined %}
                        {% set roots = {} %}
                    {% endif %}
                    {% set node = {children: [], allCourseCollection: []} %}
                    {% set node = node|merge({'children' : roots}) %}
                {% endif %}

                {# listado de carpetas hijas #}
                {% for child in node.children  %}
                    <tr>
                        <td colspan="6">
                            <a href="{{ url('aper_training_kit_folder_courses_by_folder', {'id': child.id}) }}" title="{{ child.name }}"><i class="menu-icon fa fa-folder"></i> {{ child.name }}</a>
                        </td>
                    </tr>
                {% endfor %}

                {# listado de archivos #}
                {% for course in node.allCourseCollection %}
                    <tr>
                        <td style="background-color: #ffffff">
                            {% set filetype = 'file' %}
                            {% if course.pdf %}
                                {% if course.pdf.extension|lower in ['xls', 'xlsx', 'ods'] %}
                                    {% set filetype = 'file-excel-o' %}
                                {% elseif course.pdf.extension|lower in ['doc', 'docx', 'odt'] %}
                                    {% set filetype = 'file-word-o' %}
                                {% elseif course.pdf.extension|lower in ['ppt', 'pptx', 'odp'] %}
                                    {% set filetype = 'file-powerpoint-o' %}
                                {% elseif course.pdf.extension|lower in ['jpg', 'jpeg', 'png', 'gif', 'bmp'] %}
                                    {% set filetype = 'file-image-o' %}
                                {% elseif course.pdf.extension|lower in ['mpg', 'mpeg', 'avi', 'mkv', 'mp4'] %}
                                    {% set filetype = 'file-video-o' %}
                                {% elseif course.pdf.extension|lower in ['zip', 'rar', '7zip'] %}
                                    {% set filetype = 'file-zip-o' %}
                                {% elseif course.pdf.extension|lower == 'txt' %}
                                    {% set filetype = 'file-text-o' %}
                                {% elseif course.pdf.extension|lower == 'pdf' %}
                                    {% set filetype = 'file-pdf-o' %}
                                {% endif %}
                            {% endif %}
                            <a style="" href="{{ url('aper_course_show', {'id': course.id}) }}" title="{{ course.title }}"><i class="menu-icon fa fa-{{ filetype }}"></i> {{ course.title }}</a>
                        </td>
                        <td style="background-color: #ffffff">
                            {{ course.category.name }}
                        </td>
                        <td style="background-color: #ffffff">
                            {{ course.content|raw }}
                        </td>
                        <td style="background-color: #ffffff">
                            {{ course.active ? 'Activo' : 'Inactivo' }}
                        </td>
                        <td style="background-color: #ffffff; max-width: 200px !important; min-width: 200px !important; width: 200px !important;">
                            <ul class="list-unstyled">
                                {% for role in course.rolesAllowed %}
                                    <li>{{ role|trans }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td style="background-color: #ffffff">
                            <a href="{{ url('aper_course_show', {id: course.id}) }}" class="btn" title="Ver">Ver</a>
                            <a href="{{ url('aper_course_edit', {id: course.id}) }}" class="btn" title="Editar">Editar</a>
                            <a href="{{ url('aper_course_delete', {id: course.id}) }}" class="btn btn btn-danger btn-delete" onclick="return confirm('Desea eliminar la capacitación?')">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
