{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Kit de entrenamiento :: Carpetas'|trans,
    path: {
    new: {uri: path('aper_trainingkit_add')}
    },
    } only %}
{% endblock page_header %}

{% block page_content %}
            {% if tree %}
                {% macro nodeRow(node, canBeMoved, isFirst, isLast) %}
                    <tr style="{{ node.lvl==0 ? 'color:red'}}">
                        <td>
                            <div style="text-indent: {{ node.lvl * 2 }}em;
                            {% if node.required %}
                                    font-weight:bold
                            {% endif %}">
                            {% if node.name %}
                                {{ (node.lvl + 1) ~ ') ' ~ node.name}}
                            {% else %}
                                <span style="font-style: italic;color:#888;">{{ (node.lvl + 1) ~ ') Sin nombre'}}</span>
                            {% endif %}
                            </div>
                        </td>
                        <td class="center"><a href="{{ url('aper_training_kit_folder_courses_by_folder', {id: node.id}) }}" title="Archivos en la Carpeta">{{ node.courseCollection|length }}</a></td>
                        <td class="center">
                            {% if node.lvl != 0 and canBeMoved %}
                                {% if not isFirst %}
                                    <a class="btn btn-default" href="{{ path('aper_trainingkit_moveup', { 'id': node.id }) }}">
                                        <span style="font-weight:bold;font-size: .9em">&uarr; Subir</span>
                                    </a>
                                {% endif %}

                                {% if not isLast %}
                                    <a class="btn btn-default" href="{{ path('aper_trainingkit_movedown', { 'id': node.id }) }}">
                                        <span style="font-weight:bold;font-size: .9em">&darr; Bajar</span>
                                    </a>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td class="center">
                            <a class="btn btn-action glyphicons pencil btn-success" href="{{ path('aper_trainingkit_edit', { 'id': node.id }) }}"><i></i>Editar</a>
                            {% if node.children.empty and node.courseCollection|length == 0 %}
                                <a class="btn btn-action glyphicons pencil btn-error" href="{{ path('aper_trainingkit_delete', { 'id': node.id }) }}"><i></i>Borrar</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% if not node.children.empty %}
                        {% for child in node.children %}
                            {{ _self.nodeRow(child, node.children|length > 1, loop.first, loop.last) }}
                        {% endfor %}
                    {% endif %}
                {% endmacro %}

                <table id="dyntableNoSorter" cellpadding="0" cellspacing="0" border="0" class="table table-bordered">
                    <colgroup>
                        <col class="con0" />
                        <col class="con1" />
                        <col class="con0" />
                    </colgroup>
                    <thead>
                    <tr>
                        <th class="head0">{{ 'Nombre' }}</th>
                        <th>Cantidad de Archivos</th>
                        <th class="head1" colspan="2">{{ 'Acciones' }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for node in tree %}
                        {{ _self.nodeRow(node) }}
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <br/>
                <div class=" notification msginfo"><p>{{ 'No hay objetos para mostrar' }}</p></div>
            {% endif %}
        </div>
    </div>
{% endblock %}
