{% extends '::base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row-fluid">

            <div class="col-sm-6">
                <h3>Carpeta</h3>
                {% set pathString = '' %}
                {% for item in path %}
                    {% set pathString = pathString ~ '/' ~ item.name|default('[Sin nombre]') %}
                {% endfor %}

                <dl class="dl-horizontal user-profile-dl" style="font-size: larger">
                    <dt>Path</dt>
                    <dd>{{ pathString }}</dd>
                    <dt>Parent node</dt>
                    <dd>
                        {% if node.parent %}
                            <a href="{{ path('aper_trainingkit_show', {id:node.parent.id}) }}">{{ node.parent.name|default('[Sin nombre]') }}</a>
                        {% endif %}
                    </dd>
                    <dt>Required</dt>
                    <dd>{{ node.required ? 'Yes' : 'No' }}</dd>
                    <dt>Enabled</dt>
                    <dd>{{ node.enabled ? 'Yes' : 'No' }}</dd>
                    <dt>Created at</dt>
                    <dd>{{ node.createdAt|date }}</dd>
                    <dt>Updated at</dt>
                    <dd>{{ node.updatedAt|date }} <a href="{{ path('aper_trainingkit_edit', {id: node.id}) }}">Editar</a></dd>
                </dl>
            </div>
        </div>
    </div>
{% endblock %}
