{% extends '@WebFactoryBackOfficeTheme/layout.html.twig' %}

{% block page_content %}
    {% block content %}
    {% endblock content %}
{% endblock page_content %}


{% block meta_title %}{{ 'Backend'|trans }}{% endblock meta_title %}

{% block navbar %}
    {% embed '@WebFactoryBackOfficeTheme/embed/navbar.html.twig' %}
        {% block navbar_icon %}<img src="{{ asset('img/logo.png') }}" alt="logo" height="24" />{% endblock %}
        {% block navbar_title '' %}

        {% block navbar_tasks %}
        {% endblock %}

        {% block navbar_notifications %}

        {% endblock %}

        {% block navbar_messages %}
        {% endblock %}

        {% block navbar_user %}
            <li class="light-blue">
                <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                    {#{% if app.user and app.user.profile and app.user.profile.avatar and app.user.profile.avatar.webPath %}#}
                    {#<img class="nav-user-photo" src="{{ asset(app.user.profile.avatar.webPath) }}"#}
                    {#alt="{{ app.user }}"/>#}
                    {#{% endif %}#}
                    <span class="user-info">
                        <small>{{ 'Welcome'|trans }},</small>
                        {{ app.user }}
                    </span>
                    <i class="ace-icon fa fa-caret-down"></i>
                </a>

                <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                    <li>
                        <a href="{{ path('backend_web_factory_user_profile_show') }}">
                            <i class="ace-icon fa fa-user"></i>
                            {{ 'Profile'|trans }}
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="{{ path('backend_web_factory_user_security_logout') }}">
                            <i class="ace-icon fa fa-power-off"></i>
                            {{ 'Logout'|trans }}
                        </a>
                    </li>
                </ul>
            </li>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block sidebar %}
    {% embed '@WebFactoryBackOfficeTheme/embed/sidebar.html.twig' %}
        {% block sidebar_shortcuts %}
            <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">

                    <a class="btn btn-success" href="{{ path('backend_root') }}">
                        <i class="ace-icon fa fa-tachometer"></i>
                    </a>

                    <a class="btn btn-info" href="{{ path('backend_web_factory_user_profile_show') }}">
                        <i class="ace-icon fa fa-user"></i>
                    </a>

                    <a class="btn btn-warning" href="{{ path('backend_web_factory_user_profile_edit') }}">
                        <i class="ace-icon fa fa-gear"></i>
                    </a>

                    <a class="btn btn-danger" href="{{ path('backend_web_factory_user_account_edit') }}">
                        <i class="ace-icon fa fa-gears"></i>
                    </a>

                </div>

                <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                    <span class="btn btn-success"></span>

                    <span class="btn btn-info"></span>

                    <span class="btn btn-warning"></span>

                    <span class="btn btn-danger"></span>
                </div>
            </div><!-- /.sidebar-shortcuts -->
        {% endblock %}

        {% block nav_list %}
            <ul class="nav nav-list">
                <li class="{{ active_route('backend_root') }}">
                    <a href="{{ path('backend_root') }}">
                    <i class="menu-icon fa fa-tachometer"></i>
                    <span class="menu-text">{{ 'menu.dashboard'|trans }}</span>
                    </a>

                    <b class="arrow"></b>
                </li>

                {% if is_granted('ROLE_ADMIN') %}
                <li class="{{ active_route(['backend_web_factory_user_profile*', 'backend_web_factory_user_account*'], 'active open hsub') }}">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-gears"></i>
                        <span class="menu-text">{{ 'menu.account'|trans }}</span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">

                        <li class="{{ active_route('backend_web_factory_user_profile_show') }}">
                            <a href="{{ path('backend_web_factory_user_profile_show') }}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                {{ 'menu.view'|trans }}
                            </a>
                            <b class="arrow"></b>
                        </li>

                        <li class="{{ active_route('backend_web_factory_user_profile_edit') }}">
                            <a href="{{ path('backend_web_factory_user_profile_edit') }}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                {{ 'menu.edit'|trans }}
                            </a>

                            <b class="arrow"></b>
                        </li>
                        <li class="{{ active_route('backend_web_factory_user_account_edit') }}">
                            <a href="{{ path('backend_web_factory_user_account_edit') }}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                {{ 'menu.change_password'|trans }}
                            </a>

                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>
                {% endif %}
                
                <li class="{{ active_route('aper_store*', 'active open hsub') }}">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-car"></i>
                        <span class="menu-text">{{ 'menu.store'|trans }}</span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">

                        <li class="{{ active_route('aper_store_index') }}">
                            <a href="{{ path('aper_store_index') }}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                {{ 'menu.list'|trans }}
                            </a>

                            <b class="arrow"></b>
                        </li>

                        <li class="{{ active_route(['localidad_de_estacion_index']) }}">
                            <a href="{{ path('localidad_de_estacion_index') }}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                {{ 'Listado Localidades' }}
                            </a>

                            <b class="arrow"></b>
                        </li>

                        {% if is_granted('ROLE_ADMIN') %}
                        <li class="{{ active_route(['aper_store_new', 'aper_store_create']) }}">
                            <a href="{{ path('aper_store_add') }}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                {{ 'Agregar Estación' }}
                            </a>

                            <b class="arrow"></b>
                        </li>
                        {% endif %}

                    </ul>
                </li>

                <li class="{{ active_route(['aper_user*', 'backend_web_factory_user_user_*'], 'active open hsub') }}">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-male"></i>
                        <span class="menu-text">{{ 'menu.crew'|trans }}</span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>
                    <ul class="submenu">
                        {% if is_granted('ROLE_ADMIN') %}
                        <li class="{{ active_route(['UserBundle_upload_ajax_file', 'UserBundle_upload_ajax_file']) }}">
                            <a href="{{ path('UserBundle_upload_ajax_file') }}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                {{ 'menu_load_file'|trans }}
                            </a>
                            <b class="arrow"></b>
                        </li>

                        <li class="{{ active_route(['backend_web_factory_user_user_index']) }}">
                        <a href="{{ path('backend_web_factory_user_user_index') }}">
                            <i class="menu-icon fa fa-caret-right"></i>
                            {{ 'menu.list'|trans }}
                        </a>
                        <b class="arrow"></b>
                        </li>

                        <li class="{{ active_route(['backend_web_factory_user_user_new', 'backend_web_factory_user_user_create']) }}">
                            <a href="{{ path('backend_web_factory_user_user_new') }}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                {{ 'menu.new'|trans }}
                            </a>
                            <b class="arrow"></b>
                        </li>
                        {% endif %}
                        
                        <li class="{{ active_route(['aper_successful_login_index', 'aper_successful_login_index']) }}">
                            <a href="{{ path('aper_successful_login_index') }}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                {{ 'Estadísticas'|trans }}
                            </a>
                            <b class="arrow"></b>
                        </li>

                        {% if is_granted('ROLE_ADMIN') %}
                        <li class="{{ active_route(['backend_employees_registered', 'backend_employees_registered']) }}" >
                            <a href="{{ path('backend_employees_registered') }}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                {{ 'Registrados'|trans }}
                            </a>
                            <b class="arrow"></b>
                        </li>
                        {% endif %}
                    </ul>
                </li>

                {% if is_granted('ROLE_ADMIN') %}
                <li class="{{ active_route(['aper_import_xls', 'aper_benefit_benefit_new', 'goal_type_index','goal_type_importer'], 'active open hsub') }}">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-trophy"></i>
                        <span class="menu-text">{{ 'menu.incentive.store'|trans }}</span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="{{ active_route('aper_import_xls') }}">
                            <a href="{{ path('aper_importxls_index') }}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Listado
                            </a>
                            <b class="arrow"></b>
                        </li>
                        <li class="{{ active_route('aper_benefit_benefit_new') }}">
                            <a href="{{ path('aper_importxls_add') }}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Agregar
                            </a>

                            <b class="arrow"></b>
                        </li>
                        <li class="{{ active_route('goal_type_index') }}">
                            <a href="{{ path('goal_type_index') }}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Tipos de objetivos de estaciones
                            </a>
                            <b class="arrow"></b>
                        </li>
                        <li class="{{ active_route('goal_type_importer') }}">
                            <a href="{{ path('goal_type_importer') }}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                {{ 'menu.incentive.goal_type.import'|trans }}
                                de estaciones
                            </a>
                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>

                <li class="{{ active_route(['aper_importxls_employee_index', 'aper_benefit_benefit_new', 'goal_type_employee_index','goal_type_employee_importer'], 'active open hsub') }}">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-trophy"></i>
                        <span class="menu-text">{{ 'menu.incentive.employee'|trans }}</span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="{{ active_route('aper_importxls_employee_index') }}">
                            <a href="{{ path('aper_importxls_employee_index') }}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Listado
                            </a>
                            <b class="arrow"></b>
                        </li>
                        <li class="{{ active_route('aper_benefit_benefit_new') }}">
                            <a href="{{ path('aper_importxls_employee_add') }}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Agregar
                            </a>

                            <b class="arrow"></b>
                        </li>
                        <li class="{{ active_route('goal_type_employee_index') }}">
                            <a href="{{ path('goal_type_employee_index') }}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Tipos de objetivos de empleados
                            </a>
                            <b class="arrow"></b>
                        </li>
                        <li class="{{ active_route('goal_type_employee_importer') }}">
                            <a href="{{ path('goal_type_employee_importer') }}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Importar tipos de objetivos de empleados
                            </a>
                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>

                {#Surprise target#}
                <li class="{{ active_route(['aper_importxls_employee_index', 'aper_benefit_benefit_new', 'goal_type_employee_index','goal_type_employee_importer'], 'active open hsub') }}">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-star-o"></i>
                        <span class="menu-text">{{ 'menu.surprise_target'|trans }}</span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="{{ active_route('aper_target_surprise_home') }}">
                            <a href="{{ path('aper_target_surprise_home') }}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                {{'menu.surprise_target.list_spots'|trans}}
                            </a>
                            <b class="arrow"></b>
                        </li>
                        <li class="{{ active_route('aper_target_surprise_create') }}">
                            <a href="{{ path('aper_target_surprise_create') }}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                {{'menu.surprise_target.create'|trans}}
                            </a>

                            <b class="arrow"></b>
                        </li>
                        <li class="{{ active_route('aper_target_surprise_import_stock') }}">
                            <a href="{{ path('aper_target_surprise_import_stock') }}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                {{'menu.surprise_target.set_stock'|trans}}
                            </a>
                            <b class="arrow"></b>
                        </li>
                        <li class="{{ active_route('aper_target_surprise_modify_stock') }}">
                            <a href="{{ path('aper_target_surprise_modify_stock') }}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                {{'menu.surprise_target.modify_stocks'|trans}}
                            </a>
                            <b class="arrow"></b>
                        </li>
                        <li class="{{ active_route('aper_target_surprise_assigned_stocks') }}">
                            <a href="{{ path('aper_target_surprise_assigned_stocks') }}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                {{'menu.surprise_target.assigned_stocks'|trans}}
                            </a>
                            <b class="arrow"></b>
                        </li>

                        <li class="{{ active_route('aper_target_surprise_reporte_consolidado') }}">
                            <a href="{{ path('aper_target_surprise_reporte_consolidado') }}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                {{'menu.surprise_target.reports_consolidado'|trans}}
                            </a>
                            <b class="arrow"></b>
                        </li>

                        <li class="{{ active_route('aper_target_surprise_reporte_detallado') }}">
                            <a href="{{ path('aper_target_surprise_reporte_detallado') }}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                {{'menu.surprise_target.reports_stock_employees'|trans}}
                            </a>
                            <b class="arrow"></b>
                        </li>

                        <li class="{{ active_route('aper_target_surprise_reporte_datos_stock') }}">
                            <a href="{{ path('aper_target_surprise_reporte_datos_stock') }}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                {{'menu.surprise_target.reports_datos_stock'|trans}}
                            </a>
                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>

                <li class="{{ active_route(['aper_term_index', 'active aper_term_add hsub']) }}">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-list-ol"></i>
                        <span class="menu-text">{{ 'menu.term'|trans }}</span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">

                        <li class="{{ active_route('aper_term_index') }}">
                            <a href="{{ path('aper_term_index') }}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                {{ 'menu.list'|trans }}
                            </a>
                            <b class="arrow"></b>
                        </li>

                        <li class="{{ active_route('aper_term_add') }}">
                            <a href="{{ path('aper_term_add') }}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                {{ 'new_term_file'|trans }}
                            </a>

                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>                
                {% endif %}

                {#SECCION SLIDER HOME  #}
                {% if is_granted('ROLE_ADMIN_CONSULTA') %}
                <li class="{{ active_route(['aper_slider'], 'active open hsub') }}">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-image"></i>
                        <span class="menu-text">{{ 'menu.slider'|trans }}</span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">

                        <li class="{{ active_route('aper_slider_index') }}">
                            <a href="{{ path('aper_slider_index') }}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                {{ 'menu.list'|trans }}
                            </a>
                            <b class="arrow"></b>
                        </li>

                        <li class="{{ active_route('aper_slider_add') }}">
                            <a href="{{ path('aper_slider_add') }}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                {{ 'menu.new'|trans }}
                            </a>

                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>
                {% endif %}

                {# SECCION DESTACADO HOME #}
                {% if is_granted('ROLE_ADMIN') %}
                <li class="{{ active_route(['aper_home_destacado'], 'active open hsub') }}">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-star"></i>
                        <span class="menu-text">{{ 'Home Destacado' }}</span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">

                        <li class="{{ active_route('aper_home_destacado_index') }}">
                            <a href="{{ path('aper_home_destacado_index') }}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                {{ 'menu.list'|trans }}
                            </a>
                            <b class="arrow"></b>
                        </li>

                        <li class="{{ active_route('aper_home_destacado_add') }}">
                            <a href="{{ path('aper_home_destacado_add') }}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                {{ 'menu.new'|trans }}
                            </a>

                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>
                {% endif %}

                {#SECCION COMUNICACIONES#}
                {% if is_granted('ROLE_ADMIN_CONSULTA') %}
                <li class="{{ active_route(['aper_news'], 'active open hsub') }}">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-newspaper-o"></i>
                        <span class="menu-text">{{ 'menu.news'|trans }}</span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">

                        <li class="{{ active_route('aper_news_index') }}">

                            <a href="{{ path('aper_news_index') }}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                {{ 'menu.list'|trans }}
                            </a>
                            <b class="arrow"></b>
                        </li>

                        <li class="{{ active_route('aper_news_new') }}">
                            <a href="{{ path('aper_news_new') }}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                {{ 'menu.new'|trans }}
                            </a>

                        <li>
                            <a href="{{ path('aper_category_index') }}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                {{ 'menu.categ'|trans }}
                            </a>


                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>

                {#SECCION COMUNICACIONES INTERNAS#}
                <li class="{{ active_route(['aper_communication'], 'active open hsub') }}">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-bullhorn"></i>
                        <span class="menu-text">{{ 'menu.communication'|trans }}</span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">

                        <li class="{{ active_route('aper_comm_index') }}">

                            <a href="{{ path('aper_comm_index') }}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                {{ 'menu.list'|trans }}
                            </a>
                            <b class="arrow"></b>
                        </li>

                        <li class="{{ active_route('aper_comm_new') }}">
                            <a href="{{ path('aper_comm_new') }}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                {{ 'menu.new'|trans }}
                            </a>

                        <li>
                            <a href="{{ path('aper_categorycomm_index') }}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                {{ 'menu.categ'|trans }}
                            </a>


                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>
                {% endif %}

                {#SECCION CAPACITACIONES#}
                {% if is_granted('ROLE_ADMIN_CAPACITACION') %}
                <li class="{{ active_route('easyadmin*', 'active open hsub') }}">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-book"></i>
                        <span class="menu-text">Cursos</span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">

                        <li class="{{ active_route('easyadmin') }}">
                            <a href="{{ path('easyadmin') }}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Administrador de Cursos
                            </a>
                        </li>
                    </ul>
                </li>
                {% endif %}

                {#SECCION RUFFLE#}
                {% if is_granted('ROLE_ADMIN_CONSULTA') %}
                <li class="{{ active_route(['aper_ruffle'], 'active open hsub') }}">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-gamepad"></i>
                        <span class="menu-text">{{ 'menu.ruffle'|trans }}</span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">

                        <li class="{{ active_route('aper_ruffle_index') }}">

                            <a href="{{ path('aper_ruffle_index') }}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                {{ 'menu.list'|trans }}
                            </a>
                            <b class="arrow"></b>
                        </li>

                        <li class="{{ active_route('aper_ruffle_new') }}">
                            <a href="{{ path('aper_ruffle_new') }}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                {{ 'menu.new'|trans }}
                            </a>
                        </li>
                    </ul>
                </li>

                {#SECCION POLITICS AND PROCEDURES (Políticas y procedimientos)#}
                <li class="{{ active_route([
                    'admin_politic_and_procedure_edit',
                    'admin_politic_and_procedure_index',
                    'admin_politic_and_procedure_new',
                    'admin_politic_and_procedure_show'
                    ], 'active open hsub') }}">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-gavel"></i>
                        <span class="menu-text">{{ 'menu.politic_and_procedure'|trans }}</span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">

                        <li class="{{ active_route('admin_politic_and_procedure_index') }}">

                            <a href="{{ path('admin_politic_and_procedure_index') }}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                {{ 'menu.list'|trans }}
                            </a>
                            <b class="arrow"></b>
                        </li>

                        <li class="{{ active_route('admin_politic_and_procedure_category_index') }}">

                            <a href="{{ path('admin_politic_and_procedure_category_index') }}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Listado de Categorias
                            </a>
                            <b class="arrow"></b>
                        </li>

                        <li class="{{ active_route('admin_politic_and_procedure_new') }}">
                            <a href="{{ path('admin_politic_and_procedure_new') }}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                {{ 'menu.new'|trans }}
                            </a>
                        </li>
                    </ul>
                </li>
                {% endif %}
            </ul>
            <!-- /.nav-list -->

            <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left"
                   data-icon2="ace-icon fa fa-angle-double-right"></i>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block breadcrumbs %}
    {% embed '@WebFactoryBackOfficeTheme/embed/breadcrumb.html.twig' %}
        {% block breadcrumb_left %}
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i> <a
                            href="">{% block breadcrumb_position_default %}Dashboard{% endblock %}</a>
                </li>
                <li class="active">{% block breadcrumb_position_current %}Backend{% endblock %} </li>
            </ul><!-- /.breadcrumb -->
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block nav_search %}
{% endblock %}

{% block header_buttons %}
{% endblock %}

{% block footer %}
    {% embed '@WebFactoryBackOfficeTheme/embed/footer.html.twig' %}
        {% block footer_icon %}<img src="{{ asset('img/logo.png') }}" alt="logo" height="24" />{% endblock %}
        {% block footer_title '' %}
        {% block footer_description %}{% endblock %}
        {% block footer_links %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block head_stylesheets_custom %}


    <style>
        table.table a + img.preview {
            display: block;
            height: 0px;
            transition: height 500ms linear 100ms;
        }

        table.table a:hover + img.preview, table.table a + img.preview:hover {
            height: 200px;
        }

        .grid-filter-input .input-group.date {
            position: relative;
            display: table;
            border-collapse: separate;
            width: 30%;
            float: left;
            margin-right: 10px;
        }

        .btn, .btn-default{
            padding:8px !important;
            font-size: 12px;
        }
    </style>
{% endblock %}

{% block body_script_custom %}
{% endblock body_script_custom %}
