{% extends '::base.html.twig' %}
{% block pagename %}beneficios{% endblock %}
{% block page_logo %}
    <div class="hidden-xs hidden-sm">
        {{ parent() }}
    </div>
    <div class="hidden-md hidden-lg">
        <img src="{{ asset('dist/images/logo_beneficios.png') }}">
    </div>
{% endblock %}
{% block page_content %}
    <div class="benefits container">
        <div class="benefit_element header_benefits row">
            <div class="text_header">
                <h2 class="subtitle_header">BENEFICIOS</h2>
                <h1 class="title_header bold">VOS EN PRIMER PLANO</h1>
            </div>
            <div class="benefit-active-bg" style="">
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs">
                <img class="img_backHeader" src="{{ asset('dist/images/header_benefitsD.jpg') }}">
            </div>
            <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                <img class="img_backHeader" src="{{ asset('dist/images/header_benefitsM.jpg') }}">
            </div>
        </div>


<form method="get" action="#" class="form-inline pull-right" role="search">
    <div class="form-group date-range">
        <div class="input-group">
            <input type="submit" class="" placeholder="Buscar" name="buscar" value="Buscar">
        </div>
    </div>
    <div class="form-group select-class">
        <select class="form-control" id="category" name="category" value="">
            <option value="" selected="">Todas las Categorías</option>
            <option value="0">BIENESTAR</option>
            <option value="1">MOMENTOS</option>
            <option value="2">DIVERSION</option>
            <option value="3">SERVICIOS</option>
        </select>
    </div>
    <div class="form-group date-range">
        <div class="input-group">
            <input type="Text" class="" placeholder="Beneficio" id="name" name="name" value="">
        </div>
    </div>
</form>



        <div class="benefit_element row">
            {% for category,benefits in benefits %}
                {% set catname = category|split('.')|last %}
                <div class="medium col-lg-6 col-xs-12 {{ 'box_category box_benefit' ~ category|trans[:5] }}">
                    <a data-toggle="collapse" data-target="#collapse{{ loop.index }}">
                        <div class="header_categoryBox">
                            <img class="img_category"
                                 src="{{ asset('dist/images/ico_') ~ catname ~ '.png' }}">
                            <h3>{{ category|trans }}</h3>
                            <img class="img_header" src="{{ asset('dist/images/bckHeaderCategory.png') }}">
                        </div>
                    </a>
                    <div id="collapse{{ loop.index }}" class="panel-collapse collapse">
                        <div class="panel-body container_benefits">
                            {% if (catname == 'services') %}
                                <div class="col-lg-6 col-xs-12">
                                    <a class="box_benefit_link" href='api/coupons'>
                                        <div class="box_benefit">CLUB DE DESCUENTOS &raquo;</div>
                                    </a>
                                </div>
                            {% endif %}
                            {% for benefit in benefits %}
                                <div class="col-lg-6 col-xs-12">
                                    <a class="box_benefit_link"
                                       href="{{ path('aper_benefit_frontendbenefit_show', {category:category}) }}#{{ benefit.id }}">
                                        <div class="box_benefit">{{ benefit|trans }} &raquo;</div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {#<a onclick="" href="#" class="openContactFrom">CONTACTO</a>#}
{% endblock page_content %}
{% block body_scripts_optional %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            if ($(window).width() > 992){
                setTimeout(function () {
                    var maxH = 0;
                    $('.box_benefit').each(function () {
                        if ($(this).height() > maxH) {
                            maxH = $(this).height();
                        }
                    });
                    $('.box_benefit').css('height', (maxH + 30) + 'px');

                    maxH = 0;

                    $('.container_benefits').each(function () {
                        if ($(this).height() > maxH) {
                            maxH = $(this).height();
                        }
                    });
                    $('.container_benefits').height(maxH);
                }, 1000)
            }
        })
    </script>
{% endblock %}
