{% extends '::base.html.twig' %}
{% block pagename %}beneficios{% endblock %}
{% block page_logo %}
    <div class="hidden-xs hidden-sm">
        {{ parent() }}
    </div>
    <div class="hidden-md hidden-lg">
        <img src="{{ asset('dist/images/puma/logo-puma.png') }}">
    </div>
{% endblock %}
{% block page_content %}

    <div class="services benefits_categories header_benefits container">
        <div class="container row" style="position: relative;margin: 0;">
            <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs" style="background-image: url({{ asset('dist/images/puma/header-news.png') }})">
                <img class="img_backHeader" src="{{ asset('dist/images/puma/header-news.png') }}">
                <h1 class="title_header bold">
                   Mis cupones
                </h1>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 hidden-sm hidden-md hidden-lg" style="background-image: url({{ asset('dist/images/puma/header-news.png') }})">
                <img class="img_backHeader" src="{{ asset('dist/images/puma/header-news.png') }}">
                <h1 class="title_header bold">
                  Mis cupones
                </h1>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>

    <div class="container benefit-list">
        {% if not (response.error is defined) or response.error == '' %}
            {% if response.results|length >= 1 %}
                <div class="list">
                    <div class="list-header">

                        <h4 class="col-lg-3">Empresa</h4>

                        <h4 class="col-lg-4">Descripción</h4>

                        <h4 class="col-lg-3">Fecha</h4>

                        <h4 class="col-lg-2 codigo">Código</h4>

                    </div>
                    {% for coupon in response.results %}
                        {% set month = coupon.envio.fecha|date("F")|trans %}
                        {% set day = coupon.envio.fecha|date("j")|trans %}
                        {% set year = coupon.envio.fecha|date("Y")|trans %}

                        <div class="item desktop">
                            <div class="col-lg-3">
                                <img src="{{ coupon.foto_thumbnail["90x90"] }}"/>
                            </div>
                            <p class="description col-lg-4">{{ coupon.envio.mensaje }}</p>
                            <p class="date col-lg-3">{{ day }} de {{ month }} {{ year }}</p>
                            <p class="codigo col-lg-2 codigo">{{ coupon.envio.codigo }}</p>
                        </div>

                        <div class="item mobile col-12">
                            <div class="col-12 text-center mb-5">
                                <img src="{{ coupon.foto_thumbnail["90x90"] }}" class="col-4"/>
                                <p class="description col-lg-8">{{ coupon.envio.mensaje }}</p>
                            </div>
                            <p class="date col-12">Fecha: {{ day }} de {{ month }} {{ year }}</p>
                            <p class="codigo">CÓDIGO: {{ coupon.envio.codigo }}</p>
                        </div>

                    {% endfor %}
                </div>
            {% else %}
                <p align="center" style="font-size: 16px; margin-top: 30px;">No hay cupones a mostrar</p>
            {% endif %}
        {% else %}
            <p align="center" style="font-size: 16px; margin-top: 30px;">{{ response.error }}</p>
        {% endif %}
    </div>


{% endblock %}