{% extends '::base.html.twig' %}
{% block pagename %}beneficios{% endblock %}
{% block page_content %}
    {% set category = benefits|first.category|split('.')|last %}
    {% set category_esp = benefits|first.category|trans %}
    <div class="{{ category }} benefits_categories header_benefits container">
        <div class="row" style="position: relative;margin: 0;">
            <div class="benefit-active-bg" style="">
            </div>
            <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12 container_headerimg">
                <img class="img_backHeader hidden-sm hidden-md hidden-lg"
                     src="{{ asset('dist/images/bck_headerBaseM.png') }}">
                <img class="img_backHeader hidden-xs" src="{{ asset('dist/images/bck_headerBaseD.png') }}">
                <img class="icon_header" src="{{ asset('dist/images/icoheader_' ~ category ~'.png' ) }}">
                <div class="text_header">
                    <h1 class="title_header bold">
                        <img class="icon_text"
                             src="{{ asset('dist/images/ico_' ~ category ~'.png' ) }}"> {{ category_esp }}
                    </h1>

                </div>
            </div>
            <div class="clearfix"></div>
            {% if category == 'services' %}
                <div class="col-lg-4 col-md-6">
                    <a class="medium show_benefit_detail" href='../api/coupons'>
                        <div class="box_benefit">CLUB DE DESCUENTOS &raquo;</div>
                    </a>
                </div>
            {% endif %}
            {% for benefit in benefits %}
                <div class="col-lg-4 col-md-6">
                    <a class="medium show_benefit_detail" data-benefit="{{ benefit.id }}" data-toggle="tab"
                       href="#menu{{ benefit.id }}">
                        <div class="box_benefit menu{{ benefit.id }}">{{ benefit|trans }} &raquo;</div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div>
            <div class="tab-content">
                {% for benefit in benefits %}
                    <div id="menu{{ benefit.id }}" class="col-lg-12 benefit_detail tab-pane fade">
                        <h1 class="benefit_title">{{ benefit.name }}</h1>
                        <h2>Descripción</h2>
                        {{ benefit.description|raw }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block body_scripts_optional %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            if (window.location.hash) {
                var active = window.location.hash.replace('#', '');
                $('[data-benefit=' + active + ']').trigger('click').addClass('active')
            }
            $(document).on('click', '.show_benefit_detail', function () {
                $('.show_benefit_detail').removeClass('active');
                $(this).addClass('active');
            });
        });
    </script>
{% endblock %}