{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Listado de encuestas'|trans,
    path: {
    new: {uri: path('aper_plancarrera_poll_new')},
    },
    } only %}
{% endblock page_header %}


{% block page_content %}
    <div class="table-responsiv5568e">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>Módulo</th>
                <th>Plan</th>
                <th>Preguntas</th>
                <th>Estado</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for poll in polls %}
                <tr data-id="{{ poll.id }}">
                    <td><b>{{ poll.module.title }}</b></td>
                    <td><b>{{ poll.module.plan.title }}</b></td>
                    <td>{{ poll.questions.count }}</td>
                    <td>
                        {% if poll.status %}
                            <span class="label label-success">ACTIVA</span>
                        {% else %}
                            <span class="label label-danger">INACTIVA</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('aper_plancarrera_poll_show', {id: poll.id }) }}" class="btn"
                           onclick="">
                            {{ 'actions.show.label'|trans }}
                        </a>
                        <a href="{{ path('aper_plancarrera_poll_edit', {id: poll.id }) }}"
                           class="btn">Editar</a>
                        <a href="{{ path('aper_plancarrera_poll_delete', {id: poll.id }) }}"
                           class="btn btn btn-danger btn-delete"
                           onclick="return confirm('{{ 'Desea eliminar la encuesta?' }}')">{{ 'actions.delete.label'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <br>

    </div>
{% endblock page_content %}