{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Nueva encuesta'|trans,
    path: {
    index: {uri: path('aper_plancarrera_poll_index')},
    },
    } only %}
{% endblock page_header %}


{% block page_content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn" type="submit">Crear encuesta</button>
    {{ form_end(form) }}

{% endblock %}

{% block head_style %}

{% endblock %}

{% block body_scripts_optional %}
    <script src="{{ asset('bundles/mopabootstrap/js/mopabootstrap-collection.js') }}"></script>
    <script>
        $('#aper_plancarrerabundle_modulepoll_plan').on('change', function() {
            $.ajax({
                url: "/admin/plancarrera/json/modulesByPlan/"+$(this).val(),
                type: 'GET',
                success : function(r){
                    $("#aper_plancarrerabundle_modulepoll_module").html("");

                    for(row=0;row<r.length;row++) {
                        $("#aper_plancarrerabundle_modulepoll_module").append("<option value='"+r[row].id+"'>"+r[row].title+"</option>");
                    }
                }
            })
        });
    </script>
{% endblock %}
