{% extends 'base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Ver encuesta'|trans,
    path: {
    index: {uri: path('aper_plancarrera_poll_index')},
    edit: {uri: path('aper_plancarrera_poll_edit', {'id': poll.id})},
    delete: {uri: path('aper_plancarrera_poll_delete', {'id': poll.id})},
    },

    } only %}
{% endblock page_header %}


{% block page_content %}
    <table class="table">
        <tbody>
        <tr>
            <th> Módulo </th>
            <td>{{ poll.module.title }}</td>
        </tr>
        <tr>
            <th> Preguntas </th>
            <td>
                <ul>
                {% for question in poll.questions %}
                    <li>{{ question.text }}:
                        <ul>
                            {% for answer in question.answers %}
                            <li>{{ answer.text }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <th> Estado </th>
            <td>
                {% if poll.status %}
                    ACTIVA
                {% else %}
                    INACTIVA
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}