{% extends 'base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'page_header.aper.benefit.employee.title'|trans,
    path: {
        index: {uri: path(user_context('user').getRoute('index'))},
        show: {uri: path(user_context('user').getRoute('show'), {id: user.id})},
    },
    } only %}
{% endblock page_header %}

{% block page_content %}
    <div class="row">
        <div class="col-sm-12">
            <legend class="header smaller blue" style="border-bottom: 0">Datos del empleado</legend>
            <table class="table">
                {% if user_context('user').userContext.identifierField == 'both' %}
                    <tr>
                        <th>{{ 'Username'|trans }}</th>
                        <td>{{ user.username }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th>{{ 'Email'|trans }}</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>{{ 'Roles'|trans }}</th>
                    <td>
                        {% for role in user.roles if role != 'ROLE_USER' %}
                            <span class="label label-lg label-info arrowed-in-right">
                            {{ ('web_factory_user.roles.' ~ role ~ '.name')|trans({}, 'web_factory_user') }}
                        </span>
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>
    </div>

    {{ form(form) }}
{% endblock %}
