{% extends '::base.html.twig' %}
{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Upload archivo de Empleados'|trans,
    } only %}
{% endblock page_header %}
{% block page_content -%}

            <div class="fourcol">

{# /////////////////////////////////////// INPUT PARA CAMBIAR EL TIPO DE ARCHIVO ///////// #}
                            <input type="hidden" name="tipoArchivo" value="EMPLOYEE">
                            <input type="hidden" name="operacion" value="2">
{# /////////////////////////////////////// INPUT PARA CAMBIAR EL TIPO DE ARCHIVO ///////// #}
                <div class="twelvecol">
                    <h4>Seleccione el archivo a subir</h4>
                </div>

                <br/>

                <div class="row">
                    <input type="file" id="file" accept=".csv" onchange="procesarArchivos( this.files );">
                </div>

                <br/>

                <div class="row detalles">
                    <span id="salida-archivo">Sin seleccion</span>
                </div>
            </div>

            <div class="threecol">

                <div class="twelvecol">
                    <h4>Informe:</h4>
                    <br/>
                </div>
                
                <div class="row">
                    <div class="twocol detalles">
                        <label>Inicio:</label>
                        <span id="salida-inicio">&nbsp;</span>
                    </div>
                    <div class="twocol detalles last">
                        <label>Fin:</label>
                        <span id="salida-fin">&nbsp;</span>
                    </div>
                </div>
                
                <br/>
                
                <div class="row">
                    <div class="twocol detalles">
                        <label>Cantidad:</label>
                        <span id="salida-cantidad">&nbsp;</span>
                    </div>
                    <div class="twocol detalles last">
                        <label>Total:</label>
                        <span id="salida-total">&nbsp;</span>
                    </div>
                </div>
                
                <br/>
                
                <div class="row">
                    <div class="fourcol detalles last">
                        <label>Porcentaje:</label>
                        <span id="salida-porcentaje">&nbsp;</span>
                    </div>
                </div>
                
                <br/>
                
                <div class="row">
                    <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"  role="button" aria-disabled="false" id="bEnviar">
                        <span class="ui-button-text"> Iniciar</span>
                    </button>
                    <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"  role="button" id="bLimpiar">
                        <span class="ui-button-text">Limpiar Consola</span>
                    </button>
                </div>

            
            <div class="fivecol">
            <h4>EL SISTEMA AL INICIARSE QUEDA CONGELADO POR UNOS MINUTOS, NO TOQUE NADA</h4>
                <h4>Estado de la operación: CONSOLA</h4>
                <div id="consola" class="ui-state-error ui-corner-all"></div>
            </div>
        </div>
{#            </form>#}

<style type="text/css">
    #consola {
        width: 100%;
        height: 530px;
        margin: 5px; 
        padding: 10px; 
        overflow: scroll;
    }
</style>

<script type="text/javascript">

    var texto;
    var mensaje = '<p style="color: COLOR"> <span class="ui-icon ICONO" style="float: left; margin-right: .3em;"></span> <strong>STATUS</strong> MENSAJE</p>';
    var textConsole = '';

    function procesarArchivos( files ) {
        var reader;
        var procesar = true;
        var encontrado = false;
        var permitidos = [ '', 'text/plain', 'text/csv', 'application/vnd.ms-excel' ];

        $( "#salida-archivo" ).text( "Cargando archivo ..." );

        var file = files[ 0 ];

        console.log("File type: " + file.type);
        //verify the file is a text file
        permitidos.forEach( function( extension ) {
            console.log("EXT:" + extension);
//            if( file.type.match( extension ) ) {
            if( file.type === extension ) {
                encontrado = true;
            }
        });

        if( ! encontrado ) {
            $( "#salida-archivo" ).text( "El Archivo " + file.name  + " no tiene el Mimetype correcto" );
        }

        var file_array = file.name.split( "." );
        if( file_array.length !== 2 ) {
            procesar = false;
            $( "#salida-archivo" ).text( "El Archivo " + file.name  + " no tiene la extension correcta" );
        } 
        
        if( encontrado && procesar ) {
            reader = new FileReader();

            reader.onload = function( e ) {
                texto = reader.result;
                texto = texto.split( '\n' );
                $( "#salida-archivo" ).text( "El archivo " + file.name + " se cargó" );
            };
            reader.readAsText( file );
        }
    }


    function enviarDatos( ini, fin, tipoArchivo, operacion ) {
        estado = true;
        $.ajax({
            type: "POST",
            async: false, 
            cache: false,
            url: "{{ path('UserBundle_upload_ajax_file_insert') }}",
            data: {
                registros: JSON.stringify( texto.slice( ini, fin ) ), 
                tipoArchivo: tipoArchivo, 
                operacion: operacion
            },
            statusCode: {
                404: function() {
                    textConsole = textConsole + mensaje.replace('MENSAJE', 'La URL no funciona.');
                    textConsole = textConsole.replace('STATUS', 'ERROR');
                    textConsole = textConsole.replace('ICONO', 'ui-icon-alert');
                    textConsole = textConsole.replace('COLOR', 'red');
                    $('#consola').html(textConsole);
                    estado = false;
                },
                500: function() {
                    textConsole = textConsole + mensaje.replace('MENSAJE', 'Hay un error interno en el servidor.');
                    textConsole = textConsole.replace('STATUS', 'ERROR');
                    textConsole = textConsole.replace('ICONO', 'ui-icon-alert');
                    textConsole = textConsole.replace('COLOR', 'red');
                    $('#consola').html(textConsole);
                    estado = false;
                }
            },
            success: function( d ) {
                if(d != ''){
                    textConsole = textConsole + mensaje.replace('MENSAJE', 'Estos datos dieron error: <pre>' + d + '</pre>');
                    textConsole = textConsole.replace('STATUS', 'ERROR');
                    textConsole = textConsole.replace('ICONO', 'ui-icon-alert');
                    textConsole = textConsole.replace('COLOR', 'red');
                    $('#consola').html(textConsole);
                }
            }
            // dataType: dataType
        });
        return estado;
    }


    function actualizarDatos( operacion, tipoArchivo, fase ) {
        estado = true;
         $.ajax({
            type: "POST",
            async: false, 
            cache: false,
            url: "{{ path('UserBundle_upload_ajax_file_update') }}",
            data: {
                fase: fase,
                tipoArchivo: tipoArchivo, 
                operacion: operacion
            },
            statusCode: {
                404: function() {
                    textConsole = textConsole + mensaje.replace('MENSAJE', 'La URL no funciona.');
                    textConsole = textConsole.replace('STATUS', 'ERROR');
                    textConsole = textConsole.replace('ICONO', 'ui-icon-alert');
                    textConsole = textConsole.replace('COLOR', 'red');
                    $('#consola').html(textConsole);
                    estado = false;
                },
                500: function() {
                    textConsole = textConsole + mensaje.replace('MENSAJE', 'Hay un error interno en el servidor.');
                    textConsole = textConsole.replace('STATUS', 'ERROR');
                    textConsole = textConsole.replace('ICONO', 'ui-icon-alert');
                    textConsole = textConsole.replace('COLOR', 'red');
                    $('#consola').html(textConsole);
                    estado = false;
                }
            },
            success: function(d){
                console.log(d);
            }
            // dataType: dataType
        });
        return estado;
    }

    
    function obtenerTotal( operacion, tipoArchivo ) {
        var total;
        $.ajax({
            type: "POST",
            async: false, 
            cache: false,
            url: "{{ path('UserBundle_upload_ajax_file_count') }}",
            data: {
                cantidad: 1,
                tipoArchivo: tipoArchivo, 
                operacion: operacion
            },
            statusCode: {
                404: function() {
                    textConsole = textConsole + mensaje.replace('MENSAJE', 'La URL no funciona.');
                    textConsole = textConsole.replace('STATUS', 'ERROR');
                    textConsole = textConsole.replace('ICONO', 'ui-icon-alert');
                    textConsole = textConsole.replace('COLOR', 'red');
                    $('#consola').html(textConsole);
                },
                500: function() {
                    textConsole = textConsole + mensaje.replace('MENSAJE', 'Hay un error interno en el servidor.');
                    textConsole = textConsole.replace('STATUS', 'ERROR');
                    textConsole = textConsole.replace('ICONO', 'ui-icon-alert');
                    textConsole = textConsole.replace('COLOR', 'red');
                    $('#consola').html(textConsole);
                }
            },
            success: function( d ) {
                total = d;
            }
            // dataType: dataType
        });
        return parseInt( total );
    }

    function obtenerTotalUpdates(operacion, tipoArchivo) {
        var total;
        $.ajax({
            type: "POST",
            async: false, 
            cache: false,
            url: "{{ path('UserBundle_upload_ajax_count_updates') }}",
            data: {
                cantidad: 1,
                tipoArchivo: tipoArchivo, 
                operacion: operacion
            },
            statusCode: {
                404: function() {
                    textConsole = textConsole + mensaje.replace('MENSAJE', 'La URL no funciona.');
                    textConsole = textConsole.replace('STATUS', 'ERROR');
                    textConsole = textConsole.replace('ICONO', 'ui-icon-alert');
                    textConsole = textConsole.replace('COLOR', 'red');
                    $('#consola').html(textConsole);
                },
                500: function() {
                    textConsole = textConsole + mensaje.replace('MENSAJE', 'Hay un error interno en el servidor.');
                    textConsole = textConsole.replace('STATUS', 'ERROR');
                    textConsole = textConsole.replace('ICONO', 'ui-icon-alert');
                    textConsole = textConsole.replace('COLOR', 'red');
                    $('#consola').html(textConsole);
                }
            },
            success: function( d ) {
                total = d;
            }
            // dataType: dataType
        });
        return parseInt( total );
    }


    function enviarBorrar( operacion, tipoArchivo, cantidad ) {
        estado = true;
        $.ajax({
            type: "POST",
            async: false, 
            cache: false,
            url: "{{ path('UserBundle_upload_ajax_file_delete') }}",
            data: {
                cantidad: cantidad,
                tipoArchivo: tipoArchivo, 
                operacion: operacion
            },
            statusCode: {
                404: function() {
                    textConsole = textConsole + mensaje.replace('MENSAJE', 'La URL no funciona.');
                    textConsole = textConsole.replace('STATUS', 'ERROR');
                    textConsole = textConsole.replace('ICONO', 'ui-icon-alert');
                    textConsole = textConsole.replace('COLOR', 'red');
                    $('#consola').html(textConsole);
                    estado = false;
                },
                500: function() {
                    textConsole = textConsole + mensaje.replace('MENSAJE', 'Hay un error interno en el servidor.');
                    textConsole = textConsole.replace('STATUS', 'ERROR');
                    textConsole = textConsole.replace('ICONO', 'ui-icon-alert');
                    textConsole = textConsole.replace('COLOR', 'red');
                    $('#consola').html(textConsole);
                    estado = false;
                }
            },
            success: function(d){
                total = d;
            }
            // dataType: dataType
        });
        return estado;
    }


    function setValorModulo( cantidad ) {
        if( cantidad > 500000 ) { return 50000; }
        if( cantidad > 250000 ) { return 20000; }
        if( cantidad > 100000 ) { return 10000; }
        if( cantidad >  50000 ) { return  5000; }
        if( cantidad >  20000 ) { return  2000; }
        return 1000;
    }


    function controlPorcentaje( total, cantidad ) {
        if( total === 0 ) {
            total = 1;
        }
        return ( cantidad * 100 / total ).toFixed( 2 );
    }


    function formatoFecha( fecha ) {
        return ( fecha.getHours()   < 10 ? "0" + fecha.getHours()   : fecha.getHours()   ) + ':' 
             + ( fecha.getMinutes() < 10 ? "0" + fecha.getMinutes() : fecha.getMinutes() ) + ':' 
             + ( fecha.getSeconds() < 10 ? "0" + fecha.getSeconds() : fecha.getSeconds() );
    }

    $(function () {
        /*dialog = $( "#consola" ).dialog({
            autoOpen: false,
            width: 450,
            height: 300,
            position: "right-120 top+180"
        });*/
    
        $("#bLimpiar").click(function() {
            textConsole = '';
            $('#consola').html(textConsole);
        });

        $("#bDetener").click(function() {
            est = false;
        });

        $( "#bEnviar" ).click( function() {
            est = true;
            var total;
            var modulo = 1000;

            var tipoArchivo = $("input[name=tipoArchivo]").val();
            // var operacion = $("input[name=operacion]:checked").val();
            var operacion = $("input[name=operacion]").val();

            $( "#salida-inicio"     ).text( formatoFecha( new Date() ) );
            $( "#salida-fin"        ).text( " " );
            $( "#salida-cantidad"   ).text( "0" );
            $( "#salida-total"      ).text( "0" );
            $( "#salida-porcentaje" ).text( "0.00 %" );

            texto = texto;

            switch( operacion ) {
                case '0':
                    total = obtenerTotal( operacion, tipoArchivo );
                    modulo = setValorModulo( total );
                    $( "#salida-total" ).text( total.toLocaleString() );

                    textConsole = textConsole + mensaje.replace('MENSAJE', tipoArchivo + ' --> Eliminar datos');
                    textConsole = textConsole.replace('STATUS', 'EJECUTANDO');
                    textConsole = textConsole.replace('ICONO', 'ui-icon-trash');
                    textConsole = textConsole.replace('COLOR', 'blue');
                    $('#consola').html(textConsole);
                    for( var i = 0; i < total; i += modulo ) {
                        est = enviarBorrar( operacion, tipoArchivo, modulo );
                        if(!est){
                            break;
                        }
                        $( "#salida-porcentaje" ).text( controlPorcentaje( total, i + modulo ) + " %" );
                        $( "#salida-cantidad"   ).text( ( i + modulo ).toLocaleString() );
                    };

                    if( i - modulo < total ) { i = total; }
                    textConsole = textConsole + mensaje.replace('MENSAJE', tipoArchivo + ' --> Datos eliminados');
                    textConsole = textConsole.replace('STATUS', 'TERMINADO');
                    textConsole = textConsole.replace('ICONO', 'ui-icon-check');
                    textConsole = textConsole.replace('COLOR', 'green');
                    $('#consola').html(textConsole);
                    $( "#salida-porcentaje" ).text( controlPorcentaje( total, i ) + " %" );
                    $( "#salida-cantidad"   ).text( i.toLocaleString() );
                    $( "#salida-fin"        ).text( formatoFecha( new Date() ) );
                    break;

                case '2':
                    // Formatea el archivo para poder ser tratado en el server
{#                    if( tipoArchivo === "5" ) {#}

                    // Para mejorar la performance en TAB6SEC
{#                    if( tipoArchivo === "0" ) {#}
                    if(tipoArchivo === "EMPLOYEE"){
                        modulo = 200;
                    }

                    total = texto.length;
//                    modulo = 400;
//                    total = 400000;
                    $( "#salida-total" ).text( total.toLocaleString() );
                    $( "#salida-total" ).text( total.toLocaleString() );
                    textConsole = textConsole + mensaje.replace('MENSAJE', tipoArchivo + ' --> Enviar datos.');
                    textConsole = textConsole.replace('STATUS', 'EJECUTANDO');
                    textConsole = textConsole.replace('ICONO', 'ui-icon-transferthick-e-w');
                    textConsole = textConsole.replace('COLOR', 'blue');
                    $('#consola').html(textConsole);
                    for( var i = 0; i < total; i += modulo ) {
                        est = enviarDatos( i, i + modulo, tipoArchivo, operacion );
                        if(!est){
                            break;
                        }
                        $( "#salida-porcentaje" ).text( controlPorcentaje( total, i + modulo ) + " %" );
                        $( "#salida-cantidad"   ).text( ( i + modulo ).toLocaleString() );
                    }

                    if( i - modulo < total ) {
                        i = total;
                    }
                    textConsole = textConsole + mensaje.replace('MENSAJE', tipoArchivo + ' --> Datos enviados.');
                    textConsole = textConsole.replace('STATUS', 'TERMINADO');
                    textConsole = textConsole.replace('ICONO', 'ui-icon-check');
                    textConsole = textConsole.replace('COLOR', 'green');
                    $('#consola').html(textConsole);
                    $( "#salida-cantidad"   ).text( i.toLocaleString() );
                    $( "#salida-porcentaje" ).text( controlPorcentaje( total, i ) + " %" );
                    $( "#salida-fin"        ).text( formatoFecha( new Date() ) );
                    break;

                case '3':
                    var totalUpdates = obtenerTotalUpdates( operacion, tipoArchivo );

                    $( "#salida-cantidad" ).text( "0" );
                    $( "#salida-total"    ).text( totalUpdates.toLocaleString() );
                    textConsole = textConsole + mensaje.replace('MENSAJE', tipoArchivo + ' --> Actualizar datos.');
                    textConsole = textConsole.replace('STATUS', 'EJECUTANDO');
                    textConsole = textConsole.replace('ICONO', 'ui-icon-pencil');
                    textConsole = textConsole.replace('COLOR', 'blue');
                    $('#consola').html(textConsole);

                    for( var i = 1; i <= totalUpdates; i ++ ) {
                        est = actualizarDatos( operacion, tipoArchivo, i );
                        if(!est){
                            break;
                        }
                        $( "#salida-porcentaje" ).text( controlPorcentaje( totalUpdates, i ) + " %" );
                        $( "#salida-cantidad"   ).text( i.toLocaleString() );
                    }

                    textConsole = textConsole + mensaje.replace('MENSAJE', tipoArchivo + ' --> Datos actualizados.');
                    textConsole = textConsole.replace('STATUS', 'TERMINADO');
                    textConsole = textConsole.replace('ICONO', 'ui-icon-check');
                    textConsole = textConsole.replace('COLOR', 'green');
                    $('#consola').html(textConsole);
//                    $( "#salida-porcentaje" ).text( "100.00 %" );
                    $( "#salida-fin" ).text( formatoFecha( new Date() ) );
                    break;
            } 
        });
    });

</script>

{% endblock %}
