{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Listado de evaluaciones'|trans,
    path: {
    new: {uri: path('aper_plancarrera_exam_new')},
    },
    } only %}
{% endblock page_header %}


{% block page_content %}
    <div class="table-responsiv5568e">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>Plan</th>
                <th>Nombre</th>
                <th>Módulo</th>
                <th>Preg.</th>
                <th>Estado</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for exam in exams %}
                <tr data-id="{{ exam.id }}">
                    <td><b>{{ exam.module.plan.title }}</b></td>
                    <td><b>{{ exam.name }}</b></td>
                    <td><b>{{ exam.module.title }}</b></td>
                    <td>{{ exam.questions.count }}</td>
                    <td>
                        {% if exam.status %}
                            <span class="label label-success">ACTIVA</span>
                        {% else %}
                            <span class="label label-danger">INACTIVA</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('aper_plancarrera_exam_show', {id: exam.id }) }}" class="btn btn-sm"
                           onclick="">
                            {{ 'actions.show.label'|trans }}
                        </a>
                        <a href="{{ path('aper_plancarrera_exam_edit', {id: exam.id }) }}"
                           class="btn btn-sm">Editar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <br>

    </div>
{% endblock page_content %}