{% extends 'base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Ver evaluación'|trans,
    path: {
    index: {uri: path('aper_plancarrera_exam_index')},
    edit: {uri: path('aper_plancarrera_exam_edit', {'id': exam.id})},
    delete: {uri: path('aper_plancarrera_exam_delete', {'id': exam.id})},
    },

    } only %}
{% endblock page_header %}


{% block page_content %}
    <table class="table">
        <tbody>
        <tr>
            <th> Nombre </th>
            <td>{{ exam.name }}</td>
        </tr>
        <tr>
            <th> Módulo </th>
            <td>{{ exam.module.title }}</td>
        </tr>
        <tr>
            <th> Preguntas </th>
            <td>
                <ul>
                {% for question in exam.questions %}
                    <li>{{ question.text }}
                        {% if question.file != null and question.file.getWebPath != '' %}
                        <br />
                        Archivo:
                        <a href="/{{ question.file.getWebPath }}" target="_blank">
                            {{ question.file.filePath }}
                        </a>
                        <br />
                        {% endif %}

                        {% if question.answers.count %}
                        <br />
                        Opciones:<br />

                        <ul>
                            {% for answer in question.answers %}
                            <li>
                                {{ answer.text }}
                                {% if answer.correct %}
                                    [ CORRECTA ]
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                            <br />
                            Pregunta sin opciones
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <th> Estado </th>
            <td>
                {% if exam.status %}
                    ACTIVO
                {% else %}
                    INACTIVO
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}