{% extends 'base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'page_header.aper.competition.show.title'|trans,
    path: {
        index: {uri: path('aper_competition_index')},
        edit: {uri: path('aper_competition_update', {'id': competition.id})},
        delete: {uri: path('aper_competition_delete', {'id': competition.id})},
    },

    } only %}
{% endblock page_header %}


{% block page_content %}
    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'Title'|trans }}</th>
                <td>{{ competition.title }}</td>
            </tr>
            <tr>
                <th>{{ 'Content'|trans }}</th>
                <td>{{ competition.content|raw }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}