{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'page_header.aper.competition.update.title'|trans,
    path: {
    index: {uri: path('aper_competition_index')},
    delete: {uri: path('aper_competition_delete', {'id': competition.id})},
    },

    } only %}
{% endblock page_header %}


{% block page_content %}


    {{ form(form) }}
{% endblock %}

