<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office"><head><base href="https://raw.githubusercontent.com/TedGoas/Cerberus/master/cerberus-hybrid.html">
    <meta charset="utf-8"> <!-- utf-8 works for most cases -->
    <meta name="viewport" content="width=device-width"> <!-- Forcing initial-scale shouldn't be necessary -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Use the latest (edge) version of IE rendering engine -->
    <meta name="x-apple-disable-message-reformatting">  <!-- Disable auto-scale in iOS 10 Mail entirely -->
    <title></title> <!-- The title tag shows in email notifications, like Android 4.4. -->

    <!-- Web Font / @font-face : BEGIN -->
    <!-- NOTE: If web fonts are not required, lines 10 - 27 can be safely removed. -->

    <!-- Desktop Outlook chokes on web font references and defaults to Times New Roman, so we force a safe fallback font. -->
    <!--[if mso]>
    <style>
        * {
            font-family: sans-serif !important;
        }
    </style>
    <![endif]-->

    <!-- All other clients get the webfont reference; some will render the font and others will silently fail to the fallbacks. More on that here: http://stylecampaign.com/blog/2015/02/webfont-support-in-email/ -->
    <!--[if !mso]><!-->
    <!-- insert web font reference, eg: <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'> -->
    <!--<![endif]-->

    <!-- Web Font / @font-face : END -->

    <!-- CSS Reset -->
    <style>

        /* What it does: Remove spaces around the email design added by some email clients. */
        /* Beware: It can remove the padding / margin and add a background color to the compose a reply window. */
        html,
        body {
            margin: 0 auto !important;
            padding: 0 !important;
            height: 100% !important;
            width: 100% !important;
        }

        /* What it does: Stops email clients resizing small text. */
        * {
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }

        /* What it does: Centers email on Android 4.4 */
        div[style*="margin: 16px 0"] {
            margin:0 !important;
        }

        /* What it does: Stops Outlook from adding extra spacing to tables. */
        table,
        td {
            mso-table-lspace: 0pt !important;
            mso-table-rspace: 0pt !important;
        }

        /* What it does: Fixes webkit padding issue. Fix for Yahoo mail table alignment bug. Applies table-layout to the first 2 tables then removes for anything nested deeper. */
        table {
            border-spacing: 0 !important;
            border-collapse: collapse !important;
            table-layout: fixed !important;
            margin: 0 auto !important;
        }
        table table table {
            table-layout: auto;
        }

        /* What it does: Uses a better rendering method when resizing images in IE. */
        img {
            -ms-interpolation-mode:bicubic;
        }

        /* What it does: A work-around for email clients meddling in triggered links. */
        *[x-apple-data-detectors],	/* iOS */
        .x-gmail-data-detectors, 	/* Gmail */
        .x-gmail-data-detectors *,
        .aBn {
            border-bottom: 0 !important;
            cursor: default !important;
            color: inherit !important;
            text-decoration: none !important;
            font-size: inherit !important;
            font-family: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
        }

        /* What it does: Prevents Gmail from displaying an download button on large, non-linked images. */
        .a6S {
            display: none !important;
            opacity: 0.01 !important;
        }
        /* If the above doesn't work, add a .g-img class to any image in question. */
        img.g-img + div {
            display:none !important;
        }

        /* What it does: Prevents underlining the button text in Windows 10 */
        .button-link {
            text-decoration: none !important;
        }

        /* What it does: Removes right gutter in Gmail iOS app: https://github.com/TedGoas/Cerberus/issues/89  */
        /* Create one of these media queries for each additional viewport size you'd like to fix */
        /* Thanks to Eric Lepetit @ericlepetitsf) for help troubleshooting */
        @media only screen and (min-device-width: 375px) and (max-device-width: 413px) { /* iPhone 6 and 6+ */
            .email-container {
                min-width: 375px !important;
            }
        }

    </style>

    <!-- Progressive Enhancements -->
    <style>

        /* What it does: Hover styles for buttons */
        .button-td,
        .button-a {
            transition: all 100ms ease-in;
        }
        .button-td:hover,
        .button-a:hover {
            background: #555555 !important;
            border-color: #555555 !important;
        }

        /* Media Queries */
        @media screen and (max-width: 480px) {

            /* What it does: Forces elements to resize to the full width of their container. Useful for resizing images beyond their max-width. */
            .fluid {
                width: 100% !important;
                max-width: 100% !important;
                height: auto !important;
                margin-left: auto !important;
                margin-right: auto !important;
            }

            /* What it does: Forces table cells into full-width rows. */
            .stack-column,
            .stack-column-center {
                display: block !important;
                width: 100% !important;
                max-width: 100% !important;
                direction: ltr !important;
            }
            /* And center justify these ones. */
            .stack-column-center {
                text-align: center !important;
            }

            /* What it does: Generic utility class for centering. Useful for images, buttons, and nested tables. */
            .center-on-narrow {
                text-align: center !important;
                display: block !important;
                margin-left: auto !important;
                margin-right: auto !important;
                float: none !important;
            }
            table.center-on-narrow {
                display: inline-block !important;
            }

            /* What it does: Adjust typography on small screens to improve readability */
            .email-container p {
                font-size: 17px !important;
                line-height: 22px !important;
            }
        }

    </style>

    <!-- What it does: Makes background images in 72ppi Outlook render at correct size. -->
    <!--[if gte mso 9]>
    <xml>
        <o:OfficeDocumentSettings>
            <o:AllowPNG/>
            <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
    </xml>
    <![endif]-->

</head>
<!--body width="100%" bgcolor="#ffffff" style="margin: 0px; max-width: 710px; width: 710px;" -->
<body bgcolor="#ffffff">
<table class="body-wrap" bgcolor="#ffffff" cellpadding="0" cellspacing="0" align="center" border="0">
    <tr>
        <td></td>
        <td class="container" bgcolor="{{ comm.category.color }}">
            <div class="content">
                <table cellpadding="0" cellspacing="0" align="center" border="0">
                    <tr>
                        <td>

                            <table style="width: 680px; padding: 15px; background: {{ comm.category.color }};">
                                <tr>
                                    <td style="padding: 15px !important;">
                                        <center style="width: 100%; background: #ffffff; text-align: left;">

                                            <!-- Visually Hidden Preheader Text : BEGIN -->
                                            <div style="display:none;font-size:1px;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;mso-hide:all;font-family: sans-serif;">
                                                Puma Energy
                                            </div>
                                            <!-- Visually Hidden Preheader Text : END -->

                                            <!--
                                                Set the email width. Defined in two places:
                                                1. max-width for all clients except Desktop Windows Outlook, allowing the email to squish on narrow but never go wider than 680px.
                                                2. MSO tags for Desktop Windows Outlook enforce a 680px width.
                                                Note: The Fluid and Responsive templates have a different width (600px). The hybrid grid is more "fragile", and I've found that 680px is a good width. Change with caution.
                                            -->
                                            <div style="background:#ffffff;" class="email-container">
                                                <!--[if mso]>
                                                <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
                                                    <tr>
                                                        <td>
                                                <![endif]-->

                                                <!-- Email Header : BEGIN -->
                                                <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="background: {{ comm.category.color }}; max-width: 680px;">
                                                    <tbody><tr>
                                                        <td align="center">
                                                            <div class="imgpop">
                                                                <img src="https://team.pumaenergyarg.com.ar/dist/images/mails/1.png" border="0" style="display: block; max-width: 300px; width: 100%; border: none;" alt="Puma Energy" />
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody></table>
                                                <!-- Email Header : END -->

                                                <!-- Email Body : BEGIN -->
                                                <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 680px;" class="email-container">

                                                    <tbody>

                                                    {% if not (comm.mainImage and comm.mainImage.webPath) %}
                                                    <!-- 1 Column Text : BEGIN -->
                                                    <tr>
                                                        <td bgcolor="#ffffff">
                                                            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                                                <tbody><tr>
                                                                    <td style="padding: 40px; font-family: sans-serif; font-size: 15px; line-height: 20px;">
                                                                        <h2 style="margin: 0 0 10px 0; font-family: sans-serif; font-size: 18px; line-height: 21px; color: #333333; font-weight: bold;">{{ comm.title }}</h2>
                                                                        <p style="margin: 0 0 10px 0;">{{ comm.content|raw }}</p>
                                                                    </td>
                                                                </tr>
                                                                </tbody></table>
                                                        </td>
                                                    </tr>
                                                    <!-- 1 Column Text : END -->
                                                    {% else %}
                                                    <!-- Thumbnail Left, Text Right : BEGIN -->
                                                    <tr>
                                                        <!-- dir=ltr is where the magic happens. This can be changed to dir=rtl to swap the alignment on wide while maintaining stack order on narrow. -->
                                                        <td dir="ltr" bgcolor="#ffffff" align="center" height="100%" valign="top" width="100%" style="padding: 10px 0;">
                                                            <!--[if mso]>
                                                            <table role="presentation" border="0" cellspacing="0" cellpadding="0" align="center" width="660" style="width: 660px;">
                                                                <tr>
                                                                    <td align="center" valign="top" width="660" style="width: 660px;">
                                                            <![endif]-->
                                                            <table role="presentation" border="0" cellpadding="0" cellspacing="0" align="center" width="100%" style="max-width:660px;">
                                                                <tbody><tr>
                                                                    <td align="center" valign="top" style="font-size:0; padding: 10px 0;">
                                                                        <!--[if mso]>
                                                                        <table role="presentation" border="0" cellspacing="0" cellpadding="0" align="center" width="660" style="width: 660px;">
                                                                            <tr>
                                                                                <td align="left" valign="top" width="220" style="width: 220px;">
                                                                        <![endif]-->
                                                                        <div style="display:inline-block; margin: 0 -2px; min-width:160px; vertical-align:top; width:50%;" class="stack-column">
                                                                            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                                                                <tbody><tr>
                                                                                    <td dir="ltr" style="padding: 0 10px 10px 10px;">
                                                                                        {% if comm.mainImage and comm.mainImage.webPath %}
                                                                                            <img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset(comm.mainImage.webPath) }}" width="200" height="" border="0" alt="main image" class="center-on-narrow" style="width: 100%; height: auto; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;">
                                                                                            {#<img src="https://hoyts-storerk-test.aper.net/uploads/communications/images/c1a793-014.jpg" width="200" height="" border="0" alt="main image" class="center-on-narrow" style="width: 100%; height: auto; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;">#}
                                                                                        {% endif %}
                                                                                    </td>
                                                                                </tr>
                                                                                </tbody></table>
                                                                        </div>
                                                                        <!--[if mso]>
                                                                        </td>
                                                                        <td align="left" valign="top" width="440" style="width: 440px;">
                                                                        <![endif]-->
                                                                        <!--[if mso]>
                                                                        <div style="display:inline-block; margin: 0 -2px; max-width:100%; min-width:0; vertical-align:top;" class="stack-column">
                                                                        <![endif]-->
                                                                        <div style="display:inline-block; margin: 0 -2px; max-width:50%; min-width:0; vertical-align:top;" class="stack-column">
                                                                            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                                                                <tbody><tr>
                                                                                    <td dir="ltr" style="font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555; padding: 10px 10px 0; text-align: left;" class="center-on-narrow">
                                                                                        <h2 style="margin: 0 0 10px 0; font-family: sans-serif; font-size: 18px; line-height: 21px; color: #333333; font-weight: bold;">{{ comm.title }}</h2>
                                                                                        <p style="margin: 0 0 10px 0;">{{ comm.content|raw }}</p>

                                                                                    </td>
                                                                                </tr>
                                                                                </tbody></table>
                                                                        </div>
                                                                        <!--[if mso]>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                        <![endif]-->
                                                                    </td>
                                                                </tr>
                                                                </tbody></table>
                                                            <!--[if mso]>
                                                            </td>
                                                            </tr>
                                                            </table>
                                                            <![endif]-->
                                                        </td>
                                                    </tr>
                                                    <!-- Thumbnail Left, Text Right : END -->
                                                    {% endif %}

                                                    <!-- 3 Even Columns : BEGIN -->
                                                    <tr>
                                                        <td bgcolor="#ffffff" align="center" height="100%" valign="top" width="100%" style="padding: 10px 0;">

                                                            <table role="presentation" border="0" cellpadding="0" cellspacing="0" align="center" width="100%" style="max-width:660px;">
                                                                <tbody>
                                                                {% if comm.gallery %}
                                                                        {#<tr>#}
                                                                            {#<td align="center" valign="top" style="font-size:0">#}
                                                                                {#{% for galeria in comm.gallery %}#}
                                                                                {#<!--[if mso]>#}
                                                                                {#<div style="display:inline-block; margin: 0 -2px; min-width:220px; vertical-align:top; width:220px;max-width: 220px" class="stack-column">#}
                                                                                {#<![endif]-->#}
                                                                                {#<div style="display:inline-block; margin: 0 -2px; min-width:220px; vertical-align:top; width:50%;" class="stack-column">#}

                                                                                    {#<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">#}
                                                                                        {#<tbody>#}
                                                                                        {#<tr>#}
                                                                                            {#<td style="padding: 10px 10px;">#}
                                                                                                {#<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="font-size: 14px;text-align: left;">#}
                                                                                                    {#<tbody>#}
                                                                                                    {#<tr>#}
                                                                                                        {#<td align="">#}
                                                                                                            {#<a href="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset(galeria.webPath) }}" target="_blank">#}
                                                                                                                {#<img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset(galeria.webPath) }}" width="200" height="" border="0" alt="gallery image" class="center-on-narrow" style="width: 100%; height: auto; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;">#}
                                                                                                                {#<img src="https://hoyts-storerk-test.aper.net/uploads/communication/images/1bb157-1.jpg" width="200" height="" border="0" alt="gallery image" class="center-on-narrow" style="width: 100%; height: auto; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;">#}
                                                                                                            {#</a>#}
                                                                                                        {#</td>#}
                                                                                                    {#</tr>#}
                                                                                                    {#</tbody>#}
                                                                                                {#</table>#}
                                                                                            {#</td>#}
                                                                                        {#</tr>#}
                                                                                        {#</tbody>#}
                                                                                    {#</table>#}

                                                                                {#</div>#}
                                                                                {#{% endfor %}#}
                                                                            {#</td>#}
                                                                        {#</tr>#}

                                                                    <tr>
                                                                        <td>
                                                                            <table width="100%">
                                                                                <tr>
                                                                                    {% for galeria in comm.gallery %}
                                                                                        <td style="padding: 10px 10px; width: 50%" width="300">
                                                                                            <a href="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset(galeria.webPath) }}" target="_blank">
                                                                                                <img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset(galeria.webPath) }}" width="100%" style="width: 100%">
                                                                                                {#<img src="https://hoyts-storerk-test.aper.net/uploads/communication/images/1bb157-1.jpg" width="100%" style="width: 100%">#}
                                                                                            </a>
                                                                                        </td>
                                                                                        {% if loop.index is divisibleby(2) %}
                                                                                            </tr>
                                                                                        {% endif %}
                                                                                {% endfor %}
                                                                            </table>
                                                                        </td>
                                                                    </tr>


                                                                {% endif %}

                                                                </tbody>
                                                            </table>

                                                        </td>
                                                    </tr>
                                                    <!-- 3 Even Columns : END -->


                                                    </tbody></table>
                                                <!-- Email Body : END -->

                                                <!-- Email Footer : BEGIN -->
                                                <table role="presentation" bgcolor="#ffffff" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
                                                    <tbody><tr>
                                                        <td align="center">
                                                            <div class="imgpop">
                                                                <img src="https://team.pumaenergyarg.com.ar/dist/images/mails/1.png" border="0" style="display: block; max-width: 300px; width: 100%; border: none;" alt="Puma Energy" />
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody></table>
                                                <!-- Email Footer : END -->

                                                <!--[if mso]>
                                                </td>
                                                </tr>
                                                </table>
                                                <![endif]-->
                                            </div>



                                        </center>
                                    </td>
                                </tr>
                            </table>



                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td></td>
    </tr>
</table>
{#<table class="footer-wrap">#}
    {#<tr>#}
        {#<td></td>#}
        {#<td class="container">#}
            {#<div class="content">#}
                {#<table>#}
                    {#<tr>#}
                        {#<td align="center">#}
                            {#<p style="font-size: 11px; text-align: center;">Sino deseas recibir más novedades#}
                                {#<a href="" style="color:#3e6596; text-decoration: underline; ">haz clic aquí</a>#}
                            {#</p>#}
                        {#</td>#}
                    {#</tr>#}
                {#</table>#}
            {#</div>#}
        {#</td>#}
        {#<td></td>#}
    {#</tr>#}
{#</table>#}





</body></html>