{% extends '@SurpriseTarget/index.html.twig' %} {% block surpriseTargetContent
%}


<!-- MODAL FALTA ASIGNACIÓN DE STOCKS-->
<div
  class="modal fade"
  id="faltaAsignarStockModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="faltaAsignarStockLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-loading">Cargando...</div>
      <div class="modal-body">
        <div class="progressInfo inner-container">
          <div class="row">
            <div class="col-md-12">
              <h2 style="color: #727272; font-weight: bold">
                Asignación objetivos
              </h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h3 style="color: #2db185">
                Aún te quedan <span id="cantidadFaltante"></span>
                <span id="targetName2"></span>
                por asignar
              </h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10">
              <p>
                Solo podrás cargar los objetivos cuando estén todos asignados a
                un playero. Los siguientes playeros no tiene objetivo asignado:
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <div
                class="previewAsignacionesPendientes"
                id="previewAsignacionesPendientes"
              ></div>
            </div>
          </div>
          <div
            class="row flex align-center justify-center"
            style="margin-top: 5%; margin-bottom: 5%"
          >
            <button
              type="button"
              class="saveStockButton"
              onclick="closeFaltaAsignarModal()"
            >
              Volver a asignar objetivos
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- FIN MODAL -->

<!-- MODAL CONFIRMACIÓN DE STOCKS-->
<div
  class="modal fade"
  id="confirmarStockModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="confirmarStocksLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-loading">Cargando...</div>
      <div class="modal-body">
        <div class="progressInfo inner-container">
          <div class="row">
            <div class="col-md-12">
              <h2 style="color: #727272; font-weight: bold">
                Confirmación de objetivos
              </h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h3 style="color: #2db185">Objetivos de tus empleados</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10">
              <p>
                Estos son los objetivos de tu equipo, antes de confirmar
                corroborá que la asignación es correcta.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <div class="previeFaltaAsignar" id="previeFaltaAsignar"></div>
            </div>
          </div>
          <div
            class="row flex align-center justify-center"
            style="margin-top: 5%; margin-bottom: 5%"
          >
            <button
              type="button"
              class="modalBtn"
              style="background-color: grey"
              onclick="closeModifyStocksModal()"
            >
              Modificar Objetivos
            </button>
            <button
              type="button"
              class="modalBtn"
              style="background-color: red"
              onclick="onConfirmPress()"
            >
              Confirmar Objetivos
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- FIN MODAL -->

<!-- MODAL ASIGNACIÓN DE STOCKS-->
<div
  class="modal fade"
  id="assignStockModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="assignStockLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-loading">Cargando...</div>
      <div class="modal-body">
        <div class="progressInfo inner-container">
          <div class="row">
            <div class="col-md-7">
              <h2>Definir objetivo spot</h2>
            </div>
            <div class="col-md-5">
              <img src="" id="targetImg" style="max-width: 150px" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            <h3 class="targetFor">
              Objetivo para <span id="employeeName"></span>
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p style="font-size: 17px">
              Debes asignar un objetivo a cada uno de tus colaboradores para
              poder seguir el grado de alcance de sus objetivos.
            </p>
          </div>
        </div>
        <div
          class="row flex align-center justify-center"
          style="margin-top: 5%; margin-bottom: 5%"
        >
          <h5 id="targetName"></h5>
          <input type="number" name="newStock" id="newStock" />
        </div>

        <div
          class="row flex align-center justify-center"
          style="margin-top: 5%; margin-bottom: 5%"
        >
          <button
            type="button"
            class="saveStockButton"
            onclick="saveEmployeeStock()"
          >
            Cargar Objetivo
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- FIN MODAL -->

<!-- MODAL TERMINOS Y CONDICIONES -->
<div
  class="modal fade"
  id="tycmodal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="tycmodalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="progressInfo inner-container" id="tycContent">
          <p style="white-space: pre-wrap;">{{target[0].legals}}</p>
        </div>

        <div class="clearfix visible-sm visible-xs"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- FIN MODAL -->

<div class="row tab">
  <div
    class="col tab-item {% if app.request.attributes.get('_route') == 'aper_target_surprise_front_manager_target_detail' %}tab-active{% endif %}"
  >
    <a
      href="{{
        path('aper_target_surprise_front_manager_target_detail', { id: target[0].id, assign_id_stock: assign_id_stock })
      }}"
      >Definir objetivos</a
    >
  </div>
  <div
    class="col tab-item {% if app.request.attributes.get('_route') == 'aper_target_surprise_front_manager_target_performance' %}tab-active{% endif %}"
  >
    <a
      href="{{
        path('aper_target_surprise_front_manager_target_performance', { id: target[0].id, assign_id_stock:assign_id_stock  })
      }}"
      >Performance</a
    >
  </div>
  <div
    class="col tab-item {% if app.request.attributes.get('_route') == 'aper_target_surprise_front_manager_confirm_sales' %}tab-active{% endif %}"
  >
    <a
      href="{{
        path('aper_target_surprise_front_manager_confirm_sales', { id: target[0].id, assign_id_stock:assign_id_stock  })
      }}"
      >Confirmar Ventas</a
    >
  </div>
</div>

<div class="row resume">
  <div class="col-md-4">
    <select
      name="store"
      id="store"
      class="puma-select"
      onchange="applyStoreFilter()"
    >
      {%if estaciones %} {%for est in estaciones %}
      <option value="{{ est.id }}">{{ est.location }}</option>
      {%endfor%} {%else%}
      <option value="{{ estacion.id }}">{{ estacion.location }}</option>
      {%endif%}
    </select>
  </div>

  <div class="col-md-4 mt-1">
    <h4 class="bold">
      <span id="productName"></span> a asignar:
      <span class="asignar" id="to_assign">Cargando...</span>
    </h4>
  </div>

  <div class="col-md-4 mt-1">
    <h4 class="bold">
      <span id="productName"></span> asignados:
      <span class="assigned" id="assigned">Cargando...</span>
    </h4>
  </div>
</div>

<div id="employees">
  <!-- Here, load employees with Ajax-->
</div>

<div class="centrado mt-2" id="tycDiv">
  <input class="mt-2 mycheck" type="checkbox" name="tyc" id="tyc" />
  <a
    href=""
    id="launchModal"
    class="tycLink"
    data-toggle="modal"
    data-target="#tycmodal"
    onclick="viewTyC()"
    >Aceptar Términos y Condiciones</a
  >
</div>
<div class="centrado">
  <button
    class="btn btnSaveStocks"
    id="saveButton"
    type="button"
    onclick="saveAllStocks()"
  >
    CONFIRMAR ASIGNACIÓN OBJETIVOS
  </button>
</div>

<script type="text/javascript">
  $(document).ready(() => {
    retrieveData();
  });

  let assign_id_stock = "{{assign_id_stock}}";
  console.log("assign: ", assign_id_stock);

  let stockTotal = 0,
    stockAsignado = 0,
    store = null;

  var mainData;

  var targetName;

  var modifying;

  const employeeCardComponent = (name, producto, cantidad, id, imgPath, subrol) => {
    return `
      <div class="row employee-c">
          <div class="col-md-2">
            <img src="{{asset('/uploads/target_img/')}}${imgPath}" class="prod">

          </div>
          <div class="col-md-3 mt-3">
            <h4 class="font-weight-bold">${name}</h4>
            <p>${subrol? subrol: "Sin subrol"}<p>
          </div>

          <div class="col-md-3 mt-2">
            <h3 style="font-weight: bold;color:green;" id="cardAssign_${id}">${cantidad}<small>${producto}</small></h3>
          </div>

          <div class="col-md-4 mt-3">
            <button type="button"
            id=""
          data-toggle="modal"
          data-id="${id}"
          data-target="#assignStockModal"
          onclick="modifyStockEmployee(${id})"
          class="tycLink modifyBtn">Modificar</button>
          </div>
        </div>
        `;
  };

  const applyStoreFilter = () => {
    clearUI();
    retrieveData();
  };

  const closeFaltaAsignarModal = () => {
    $("#faltaAsignarStockModal").modal("hide");
    $("#previewAsignacionesPendientes").html("");
  };

  const clearUI = () => {
    mainData = null;
    modifying = null;
    $("#employees").html("");
  };

  const saveAllStocks = () => {
    const { total_stock } = mainData;

    $("#previewAsignacionesPendientes").html("");

    if (!infoValidate()) {
      return;
    }

    if (getAssignedStock() != total_stock) {
      // Modal de que falta asignar
      $("#faltaAsignarStockModal").modal("show");
      loadInfoModalPendingAssign();
    } else {
      // Modal de confirmación
      $("#confirmarStockModal").modal("show");
      console.log("Abro confirmar stock modal");
      showModalPreview();
    }
  };

  const loadInfoModalPendingAssign = () => {
    $("#targetName2").html(targetName);
    $("#cantidadFaltante").html(getAssignments().pendiente);

    console.log("Entra a cargar la info del modal pendientes");
    // Recorremos los empleados para ver cual falta asignar stock
    mainData.employees.forEach((employee) => {
      console.log(employee);
      if (employee.asignado == 0) {
        $("#previewAsignacionesPendientes").append(`
          <p>${employee.name}</p>
      `);
      }
    });
  };

  const viewTyC = () => {
    $(".modal-dialog .modal-body").show();
  }

  const showModalPreview = () => {
    console.log("ENtro a show modal preview");
    console.log("main data es:", mainData);
    $("#previeFaltaAsignar").html("");

    mainData.employees.forEach((employee) => {
      console.log("Muestro employee recorrido", employee);

      $("#previeFaltaAsignar").append(`
          <p>${employee.name} <span style="color: #1D5F49;font-weight: bold;font-size: 16px;">(${employee.asignado} ${mainData.nameTarget})</span></p>
      `);
    });
  };

  const onConfirmPress = () => {
    sendPostRequest();
    $("#previeFaltaAsignar").html("");
    $("#confirmarStockModal").modal("hide");
  };

  const buttonSpinner = (on) => {
    $("#saveButton").html(on ? "" : "CONFIRMAR ASIGNACIÓN OBJETIVOS");

    if (on) {
      $("#saveButton").append(
        `<span class="glyphicon glyphicon-refresh spinning"></span> Guardando...`
      );
    } else {
      $(".spinning").remove();
    }
  };

  const sendPostRequest = () => {
    // Spinner
    buttonSpinner(true);

    mainData.station = $("#store").val();
    //mainData.assign_id_stock = "{{assign_id_stock}}";

    console.log("Voy a enviar:", mainData);
    console.log(mainData);
    $.ajax({
      type: "POST",
      url: "{{ path('aper_target_surprise_api_save_assigned_stocks') }}",
      data: mainData,
      dataType: "json",
      success: function (data, textStatus, xhr) {
        toastr.success("Stock actualizado correctamente", `¡Guardado!`);
        $("*[class*='toast-top-right']")
          .removeClass("toast-top-right")
          .addClass("toast-top-center");

        //Quitar spinner
        buttonSpinner(false);

        $('.modifyBtn').hide();
        $('#saveButton').hide();
        $('#tycDiv').hide();
      },
    });
  };

  const getAssignedStock = () => {
    let assigned = 0;

    let a = mainData.employees.forEach((element) => {
      assigned = assigned + parseInt(element.asignado);
    });

    return assigned;
  };

  const closeModifyStocksModal = () => {
    $("#confirmarStockModal").modal("hide");
  };

  const infoValidate = () => {
    const { total_stock } = mainData;

    let assigned = getAssignedStock();

    if (assigned > total_stock) {
      toastr.error(
        `Se sobrepasa la cantidad de ${mainData.nameTarget} asignados`
      );
      $("*[class*='toast-top-right']")
        .removeClass("toast-top-right")
        .addClass("toast-top-center");
      return false;
    }

    if (!$("#tyc").is(":checked")) {
      toastr.error(`Debe aceptar los términos y condiciones`);
      $("*[class*='toast-top-right']")
        .removeClass("toast-top-right")
        .addClass("toast-top-center");
      return false;
    }

    if (assigned < 1) {
      toastr.error(`Debe asignar el stock primero`);
      $("*[class*='toast-top-right']")
        .removeClass("toast-top-right")
        .addClass("toast-top-center");
      return false;
    }

    return true;
  };

  const updateAssignaments = (to_assign, assigned) => {
    $("#assigned").html(assigned);
    $("#to_assign").html(to_assign);
  };

  const hideSaveButton = (boolean) => {
    if(boolean){
      $('#saveButton').hide();
      $('#tycDiv').hide();
    }else{
      $('#saveButton').show('slow');
      $('#tycDiv').show('slow');
    }
  }

  const modifyStockEmployee = (idSearch) => {
    // Buscamos el elemento clickeado
    let found = mainData.employees.find((element) => element.id == idSearch);

    // Obtenemos su indice
    var index = mainData.employees.indexOf(found);

    modifying = index;

    loadInfoModalStock(found, index, mainData.fileTarget);
  };

  const validateEmployeeStock = (newVal) => {
    // console.log(newVal.toString());
    // return;

    if (
      newVal < 0 ||
      newVal.toString().trim() == "" ||
      newVal.toString().trim() == null
    ) {
      $("#newStock").addClass("stockErrorInput").focus();
      return false;
    }

    $("#newStock").removeClass("stockErrorInput");

    return true;
  };

  const saveEmployeeStock = () => {
    let newVal = $("#newStock").val();

    if (!validateEmployeeStock(newVal)) {
      console.log("Error en validación");
      return;
    }
    console.log("Continúa la ejecución");
    console.log("New val:", newVal);

    mainData.employees[modifying].asignado = newVal;

    recalculatePendingAndAssigned(false);

    updateEmployeeCards(modifying, newVal);
    $("#assignStockModal").modal("hide");
  };

  const recalculatePendingAndAssigned = (firstTime) => {
    console.log("Recalculando...");
    let a = getAssignments();

    if(firstTime){
      hideSaveButton(a.pendiente<1);
      // Ocultar botones de modificar
      if(a.pendiente<1) $('.modifyBtn').hide();
    }

    updateAssignaments(a.pendiente, a.asignado);
  };

  const getAssignments = () => {
    console.log("getting assignaments");
    const { total_stock } = mainData;

    let assigned = 0;

    let a = mainData.employees.forEach((element) => {
      assigned = assigned + parseInt(element.asignado);
    });

    return {
      asignado: assigned,
      pendiente: total_stock - assigned,
    };
  };

  // actualizar las tarjetas y las cantidades
  const updateEmployeeCards = (index, asignado) => {
    console.log("UpdateEmployeeCards", asignado);
    var id = mainData.employees[index].id;
    $(`#cardAssign_${id}`).html(`${asignado} <small>${targetName}</small>`);
  };

  const loadInfoModalStock = (found, index, fileTarget) => {
    $(".modal-dialog .modal-loading").hide();
    $(".modal-dialog .modal-body").show();
    $("#employeeName").html(found.name);
    $("#targetImg").attr("src", "{{asset('/uploads/target_img/')}}"+fileTarget);
    $("#targetName").html(targetName);
    $("#newStock").prop("value", found.asignado);
    $("#myModalNew").modal("show");
  };

  const retrieveData = () => {
    let station = $("#store").val();

    let jsonData = {
      target: "{{target[0].id}}",
      station: station,
      assign_id_stock: "{{assign_id_stock}}"
    };

    console.log("retrieve, id_assign", jsonData.assign_id_stock);

    $.ajax({
      type: "GET",
      url: "{{ path('aper_target_surprise_api_assigned_stocks') }}",
      data: jsonData,
      dataType: "json",
      success: function (data, textStatus, xhr) {
        mainData = data;
        mainData.assign_id_stock = data.id_asignacion_store;
        targetName = data.nameTarget;
        $("#productName").html(targetName);
        data.employees.forEach((element) => {
          $("#employees").append(
            employeeCardComponent(
              element.name,
              data.nameTarget,
              element.asignado,
              element.id,
              data.fileTarget,
              element.subrol
            )
          );
        });
        console.log("Traje info, to assign es: ", data.to_assign);

        //updateAssignaments(data.to_assign, data.assigned);
        recalculatePendingAndAssigned(true);
      },
    });
  };


</script>
{% endblock %}
