{% extends '@SurpriseTarget/index.html.twig' %} {% block surpriseTargetContent
%}

<div class="row tab">
  <div
    class="col tab-item {% if app.request.attributes.get('_route') == 'aper_target_surprise_front_manager_target_detail' %}tab-active{% endif %}"
  >
    <a
      href="{{
        path('aper_target_surprise_front_manager_target_detail', { id: id, assign_id_stock: assign_id_stock })
      }}"
      >Definir Objetivos</a
    >
  </div>
  <div
    class="col tab-item {% if app.request.attributes.get('_route') == 'aper_target_surprise_front_manager_target_performance' %}tab-active{% endif %}"
  >
    <a
      href="{{
        path('aper_target_surprise_front_manager_target_performance', {
          id: id, assign_id_stock: assign_id_stock
        })
      }}"
      >Performance</a
    >
  </div>
  <div
    class="col tab-item {% if app.request.attributes.get('_route') == 'aper_target_surprise_front_manager_confirm_sales' %}tab-active{% endif %}"
  >
    <a
      href="{{
        path('aper_target_surprise_front_manager_confirm_sales', { id: id, assign_id_stock: assign_id_stock })
      }}"
      >Confirmar Ventas</a
    >
  </div>
</div>

<div
  class="row flex align-center justify-center"
  style="margin-top: 5%; margin-bottom: 5%"
>
  <div class="col-md-4">
    <select
      name="store"
      id="store"
      class="puma-select"
      onchange="applyStoreFilter()"
    >
      {%if estaciones %} {%for est in estaciones %}
      <option value="{{ est.id }}">{{ est.location }}</option>
      {%endfor%} {%else%}
      <option value="{{ estacion.id }}">{{ estacion.location }}</option>
      {%endif%}
    </select>
  </div>

  <div class="col-md-2" id="graphic"></div>
  <div class="col-md-5">
    <h3 id="targetNamePerformance"></h3>
  </div>
</div>

<div class="row" id="loading">
  <div class="col-md-12 flex align-center justify-center">
    <h3>Cargando...</h3>
  </div>
</div>

<div class="row" id="nodata" style="display: none">
  <div class="col-md-12 flex align-center justify-center">
    <h3>La estación seleccionada no tiene objetivos asignados</h3>
  </div>
</div>

<div class="row">
  <div id="employeeList"></div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    retrieveData();
  });

  let id_asignacion_store = "{{assign_id_stock}}";


  const clearUI = () => {
    $("#employeeList").html("");
    $("#graphic").html("");
    $("#targetNamePerformance").html("");
  };

  const applyStoreFilter = () => {
    clearUI();
    retrieveData();
  };

  const retrieveData = () => {
    let station = $("#store").val();

    console.log(station);

    let jsonData = {
      target: "{{id}}",
      station: station,
      assign_id_stock: id_asignacion_store
    };

    $.ajax({
      type: "GET",
      url: "{{ path('aper_target_surprise_front_manager_api_performance') }}",
      data: jsonData,
      dataType: "json",
      beforeSend: function (params) {
        $("#loading").show("slow");
      },
      success: function (data, textStatus, xhr) {
        if (data.employees.length != 0) {
          $("#nodata").hide();

          let storeAssign = data.station.assigned;
          let totalSales = 0;

          data.employees.forEach((e) => {
            console.log("total Sales: ", totalSales);
            totalSales += parseInt(e.totalSales);
            console.log(
              "total Sales sumando: ",
              e.totalSales,
              " = ",
              totalSales
            );

            let progress = e.assigned ? (e.totalSales * 100) / e.assigned : 100;
            console.log("Antes", progress);

            $("#employeeList").append(
              employeePerformanceComponent(
                e.id,
                e.name,
                e.storeName,
                e.totalSales,
                e.assigned,
                progress
              )
            );
            $(`#progress_emp_${e.id}`).css("width", `${100 - progress}%`);
          });

          $("#graphic").append(graphicComponent(storeAssign, totalSales, data.target.file));
          $("#targetNamePerformance").html(data.target.name);
        } else {
          $("#nodata").show("slow");
        }
        $("#loading").hide();
      },
    });
  };

  const employeePerformanceComponent = (
    id,
    name,
    location,
    sold,
    total,
    progress
  ) => {
    console.log(id, name, location, sold, total, progress);
    return `
    <div class="progressInfo inner-container">
      <div class="flex align-center justify-between hidden-md hidden-sm hidden-xs">
        <div class="col-lg-4 data">
          <div class="myWorkPlace">
            <div class="where">
              <span class="perf-name">${name}</span>
              <br />
              <span class="perf-location"><small>${location}</small></span>
            </div>
          </div>
        </div>

        <div class="col-lg-7">
          <div class="progressBar">
              <div class="points text-right"><span data-point="${sold}">${sold} </span>/${total}</div>
              <div class="mask" data-width="${
                100 - progress
              }" id="progress_emp_${id}" ></div>
              <span></span>
          </div>
        </div>
      </div>
      <div class="clearfix visible-sm visible-xs"></div>
    </div>`;
  };

  const graphicComponent = (target, sales, fileTarget) => {
    let percent = (sales * 100) / target;

    let style = percent >= 100? "bg-color-mayor":"bg-color-menor";
    let numberStyle = percent >= 100? "totalSold-mayor":"totalSold-menor";
    console.log(style, percent);

    let porc_dato1 = percent > 100 ? 360 : (percent / 100) * 360;
    let porc_dato2 = porc_dato1 / 2;

    return `
    <div class="graph pt4 fl-m-r" id="graph_MYSTERYSHOPPER">
      <div class="data-prom-medium">${target}</div>
      <a href="#">
        <div class="radial-graph-medium">
          <!-- SHAPE -->
          <div class="shape-medium">
            <div
              class="mask-medium full-mask-medium"
              style="transform: rotate(${porc_dato2}deg)"
            >
              <div
                class="fill-medium ${style}"
                style="transform: rotate(${porc_dato2}deg)"
              ></div>
            </div>
            <!-- MASK -->
            <div class="mask-medium">
              <div
                class="fill-medium ${style}"
                style="transform: rotate(${porc_dato2}deg)"
              ></div>
              <div
                class="fill-medium ${style} shim-medium"
                style="transform: rotate(${porc_dato1}deg)"
              ></div>
            </div>
          </div>
          <div class="cutout-medium color-menor">
            <div class="data-medium">
              <img
                style="
                object-fit: contain;
                width: 120px;
                height: 120px;"
                src="{{asset('/uploads/target_img/')}}${fileTarget}"
                alt=""
              />
            </div>
          </div>
          <div class="data-canal-medium">
            <span class="normal ${numberStyle}">${sales}</span>
          </div>
        </div>
      </a>
      <div class="border ${style}">
        <div class="arrow arrow-color-menor"></div>
      </div>
    </div>`;
  };
</script>

{% endblock %}
