{% extends '@SurpriseTarget/index.html.twig' %} {% block surpriseTargetContent
%}
<!-- MODAL LISTADO DE VENTAS DEL EMPLEADO-->
<div
  class="modal fade"
  id="employeeSalesModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="employeeSalesLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-loading">Cargando...</div>
      <div class="modal-body">
        <div class="progressInfo inner-container">
          <div class="row">
            <div class="col-md-12">
              <h2 style="color: #727272; font-weight: bold">Confirmación</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h3 style="color: #2db185">
                Chequee las ventas de <span id="modalEmployeeName"></span>
              </h3>
            </div>
          </div>
          <div class="row">
            <div class="panel panel-default">
              <div class="panel-heading">
                Estas son las ventas cargadas por el usuario, confírmelas o
                rechacelas para actualizar el porcentaje de performance
              </div>
              <table class="table" id="salesList">
                <thead>
                  <tr>
                    <td>ID Carga</td>
                    <td>Fecha</td>
                    <td>Vendido</td>
                    <td>Estado</td>
                    <td></td>
                  </tr>
                </thead>
                <tbody id="bodyTable"></tbody>
              </table>
            </div>
          </div>
          <div class="row flex align-center justify-center">
            <h3 id="actualizando"></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- FIN MODAL -->

<div class="row tab">
  <div
    class="col tab-item {% if app.request.attributes.get('_route') == 'aper_target_surprise_front_manager_target_detail' %}tab-active{% endif %}"
  >
    <a
      style="text-decoration:none;" href="{{
        path('aper_target_surprise_front_manager_target_detail', { id: id, assign_id_stock: assign_id_stock })
      }}"
      >Definir Objetivos</a
    >
  </div>
  <div
    class="col tab-item {% if app.request.attributes.get('_route') == 'aper_target_surprise_front_manager_target_performance' %}tab-active{% endif %}"
  >
    <a
      style="text-decoration:none;" href="{{
        path('aper_target_surprise_front_manager_target_performance', {
          id: id,assign_id_stock:assign_id_stock
                  })
      }}"
      >Performance</a
    >
  </div>
  <div
    class="col tab-item {% if app.request.attributes.get('_route') == 'aper_target_surprise_front_manager_confirm_sales' %}tab-active{% endif %}"
  >
    <a
      style="text-decoration:none; " href="{{
        path('aper_target_surprise_front_manager_confirm_sales', { id: id, assign_id_stock:assign_id_stock })
      }}"
      >Confirmar Ventas</a
    >
  </div>
</div>

<div class="row resume">
  <div class="col-md-3">
    <select
      name="store"
      id="store"
      class="puma-select"
      onchange="applyStoreFilter()"
    >
      {%if estaciones %} {%for est in estaciones %}
      <option value="{{ est.id }}">{{ est.location }}</option>
      {%endfor%} {%else%}
      <option value="{{ estacion.id }}">{{ estacion.location }}</option>
      {%endif%}
    </select>
  </div>
</div>

<div class="row" id="loading">
  <div class="col-md-12 flex align-center justify-center">
    <h3>Cargando...</h3>
  </div>
</div>

<div class="row" id="nodata" style="display: none">
  <div class="col-md-12 flex align-center justify-center">
    <h3>La estación seleccionada no tiene ventas pendientes de confirmación</h3>
  </div>
</div>

<div class="row">
  <div id="employeeList"></div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    retrieveData();
  });

  let assign_id_stock = "{{assign_id_stock}}";
  let initialStatic = "{{assign_id_stock}}";
  const clearUI = (emp) => {
    if (emp) $("#employeeList").html("");

    $("#bodyTable").html(` <tr id="loadingRow">
                    <td style="text-align: center" colspan="5">Cargando...</td>
                  </tr>`);
  };

  const employeeCardComponent = (name, approvedSales, pendingSales, id, targetFile) => {
    return `
        <div class="row employee-c">
            <div class="col-md-1">
              <img src="{{ asset('/uploads/target_img/')}}${targetFile}" class="prod">

            </div>
            <div class="col-md-3 mt-2">
              <h4 class="font-weight-bold">${name}</h4>
            </div>

            <div class="col-md-2 mt-2">
              <h4 style="font-weight: bold;color:grey;" id="cardAssign_${id}">${approvedSales} vendidos</small></h4>
            </div>

            <div class="col-md-3 mt-2">
              <h4 style="font-weight: bold;color:green;" id="cardAssign_${id}">${pendingSales} ventas a confirmar</h4>
            </div>
            <div class="col-md-3 mt-5">
                <button type="button"
                id=""
                data-toggle="modal"
                data-id="${id}"
                style="margin-top:15%"
                data-target="#employeeSalesModal"
                onclick="seeAllEmployeeSales(${id}, '${name}' )"
                class="tycLink modifyBtn">Confirmar
              </button>
            </div>
          </div>
          `;
  };

  const rowTableComponent = (data) => {
    const { saleId, date, sold, status } = data;

    const statusShow = ["Pendiente", "Confirmado", "Rechazado"];

    return `
      <tr>
        <td>${saleId}</td>
        <td>${date}</td>
        <td>${sold}</td>
        <td>${statusShow[status]}</td>
        <td>

          ${
            status == 0
              ? '<button class="approveBtn" id="approveBtn_' +
                saleId +
                '" onclick="changeStatus(1,' +
                saleId +
                ')"><i class="far fa-check"></i></button><button class="rejectBtn" id="rejectBtn_' +
                saleId +
                '" onclick="changeStatus(0,' +
                saleId +
                ')"><i class="far fa-times"></i></button>'
              : ""
          }
        </td>
      </tr>
    `;
  };

  const seeAllEmployeeSales = (id, name) => {
    $(".modal-dialog .modal-loading").hide();
    $(".modal-dialog .modal-body").show();
    $("#modalEmployeeName").html(name);
    $("#actualizando").html("");
    $("#bodyTable").html(` <tr id="loadingRow">
                    <td style="text-align: center" colspan="5">Cargando...</td>
                  </tr>`);
    ajaxRequest(id);
  };

  const applyStoreFilter = () => {
    clearUI(true);
    retrieveData();
  };



  const ajaxRequest = (id) => {
    // Buscamos las ventas
    let station = $("#store").val();

    let jsonData = {
      target: "{{id}}",
      station: station,
      userId: id,
      assign_id_stock: assign_id_stock
    };

    $.ajax({
      type: "GET",
      url: "{{ path('aper_target_surprise_api_sales_per_employee') }}",
      data: jsonData,
      dataType: "json",
      beforeSend: function (params) {
        $("#loadingRow").show("slow");
      },
      success: function (data, textStatus, xhr) {
        $("#loadingRow").hide();

        console.log("Consulto asignn", assign_id_stock);

        data.employees.forEach((e) => {
          $("#bodyTable").append(rowTableComponent(e));
        });
      },
    });
  };

  const retrieveData = () => {
    let station = $("#store").val();

    console.log(station);

    let jsonData = {
      target: "{{id}}",
      station: station,
      assign_id_stock: assign_id_stock
    };



    $.ajax({
      type: "GET",
      url: "{{ path('aper_target_surprise_api_sales_sum_per_employee') }}",
      data: jsonData,
      dataType: "json",
      beforeSend: function (params) {
        $("#loading").show("slow");
      },
      success: function (data, textStatus, xhr) {
        assign_id_stock = data.id_asignacion_store?data.id_asignacion_store:initialStatic;

        console.log("stock de estacion", assign_id_stock);

        $("#loading").hide();
        if (data.employees.length > 0) {
          let employeesWithPendingSales = 0;

          data.employees.forEach((e) => {
            if(e.pendingSales != 0){
              employeesWithPendingSales = employeesWithPendingSales + 1;
              $("#employeeList").append(
              employeeCardComponent(
                e.name,
                e.approvedSales,
                e.pendingSales,
                e.id,
                data.targetFile
              )
            );
            }
          });
          if(employeesWithPendingSales != 0){
            $("#nodata").hide();
          }else{
            $("#nodata").show();
          }

        } else {
          $("#nodata").show("slow");
        }
      },
    });
  };

  const employeePerformanceComponent = (
    id,
    name,
    location,
    sold,
    total,
    progress
  ) => {
    console.log(id, name, location, sold, total, progress);
    return `
    <div class="progressInfo inner-container">
      <div class="flex align-center justify-between hidden-md hidden-sm hidden-xs">
        <div class="col-lg-4 data">
          <div class="myWorkPlace">
            <div class="where">
              <span class="perf-name">${name}</span>
              <br />
              <span class="perf-location"><small>${location}</small></span>
            </div>
          </div>
        </div>

        <div class="col-lg-7">
          <div class="progressBar">
              <div class="points text-right"><span data-point="${sold}">${sold} </span>/${total}</div>
              <div class="mask" data-width="${
                100 - progress
              }" id="progress_emp_${id}"></div>
              <span></span>
          </div>
        </div>
      </div>
      <div class="clearfix visible-sm visible-xs"></div>
    </div>`;
  };

  const graphicComponent = (target, sales) => {
    let percent = (sales * 100) / target;

    let porc_dato1 = percent > 100 ? 360 : (percent / 100) * 360;

    let numberStyle = percent >= 100? "totalSold-mayor":"totalSold-menor";

    let porc_dato2 = porc_dato1 / 2;

    return `
    <div class="graph pt4 fl-m-r" id="graph_MYSTERYSHOPPER">
      <div class="data-prom-medium">${target}</div>
      <a href="#">
        <div class="radial-graph-medium">
          <!-- SHAPE -->
          <div class="shape-medium">
            <div
              class="mask-medium full-mask-medium"
              style="transform: rotate(${porc_dato2}deg)"
            >
              <div
                class="fill-medium bg-color-menor"
                style="transform: rotate(${porc_dato2}deg)"
              ></div>
            </div>
            <!-- MASK -->
            <div class="mask-medium">
              <div
                class="fill-medium bg-color-menor"
                style="transform: rotate(${porc_dato2}deg)"
              ></div>
              <div
                class="fill-medium bg-color-menor shim-medium"
                style="transform: rotate(${porc_dato1}deg)"
              ></div>
            </div>
          </div>
          <div class="cutout-medium color-menor">
            <div class="data-medium">
              <img
                src="https://i.ibb.co/hK1vd5W/photoroom.png"
                alt=""
                width="120px"
              />
            </div>
          </div>
          <div class="data-canal-medium">
            <span class="normal ${numberStyle}">${sales}</span>
          </div>
        </div>
      </a>
      <div class="border bg-color-menor">
        <div class="arrow arrow-color-menor"></div>
      </div>
    </div>`;
  };

  const changeStatus = (status, id) => {
    let jsonData = {
      id,
      status,
    };

    $("#actualizando").html("Actualizando...");

    $.ajax({
      type: "POST",
      url: "{{ path('aper_target_surprise_api_sales_change_status') }}",
      data: jsonData,
      dataType: "json",
      beforeSend: function () {
        if (status) {
          $(`#approveBtn_${id}`).attr("disabled", "true");
        } else {
          $(`#rejectBtn_${id}`).attr("disabled", "true");
        }
      },
      success: function (data, textStatus, xhr) {
        if (data.message) {
          console.log("Change status request:");
          clearUI(false);
          ajaxRequest(data.user_id);
        } else {
          console.log("Error,", data);
        }
        $("#actualizando").html("");
      },
    });

    if (status) {
      $(`#approveBtn_${id}`).attr("disabled", "false");
    } else {
      $(`#rejectBtn_${id}`).attr("disabled", "false");
    }

    applyStoreFilter();
  };
</script>

{% endblock %}
