{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block page_title %}Plan de Carrera del Empleado {{ employee.profile.name }}{% endblock %}

{% block body_class %}show {% endblock %}

{% block content_header %}
     <link rel="stylesheet" href="{{ asset('js/jquery-ui/jquery-ui.min.css') }}">
    <div class="row">
        <div class="col-sm-5">
            {% block content_title_wrapper %}
                <h4 class="title">Empleado: {{ employee.profile.name }}</h4>
                <h4 class="title">Estación: {{ employee.store.location }}</h4>
            {% endblock %}
        </div>

        <div class="col-sm-7">
            <div class="global-actions">
                {% block global_actions %}

                    {% block search_action %}

                    {% endblock search_action %}

                {% endblock global_actions %}
            </div>
        </div>
    </div>
{% endblock content_header %}

{% block main %}
<style>
.table {
    margin-bottom: 0px; !important;
}
.fechas input{
    width: 100%;
}
</style>

<br>
    <div class="nav-tabs-custom">
        <div class="tab-content">
            {% for plan in plans %}
                <div class="box-body">
                    <div class="content-o">
                        <table class="table table-striped table-hover table-condensed">
                            {% for module in plan.modules if (not module.nivelation and module.type == 'module')  %}

                                {{ include('@PlanCarrera/Backend/Partials/module.html.twig', [module]) }}


                                <div class="fechas" name="{{ module.id }}" id="selector {{ module.id }}" title="Fechas">
                                <label>Fecha desde:
                                    <input type="text" name="date_from" class="date_from {{ module.id }}"> </label>
                                <label>Fecha hasta:
                                    <input type="text" name="date_to" class="date_to {{ module.id }}"></label>
                                        <button class="btn btn-lg ok" id="{{ module.id}}">OK</button>
                                </div>

                            {% else %}

                                <tr>
                                    <td colspan="2" class="col-md-12">
                                        <i>No hay Capacitaciones en este Plan</i>
                                    </td>
                                </tr>

                            {% endfor %}

                        </table>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script type="text/javascript">

        $(function () {

            $('.fechas').hide();

            $.datepicker.regional['es'] = {
                closeText: 'Cerrar',
                prevText: '< Ant',
                nextText: 'Sig >',
                currentText: 'Hoy',
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
                dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
                weekHeader: 'Sm',
                dateFormat: 'yy-mm-dd',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };
            $.datepicker.setDefaults($.datepicker.regional['es']);

            $('[name=date_from]').datepicker();
            $('[name=date_to]').datepicker();


            $('#activar').click(function (event) {
                let id = 'selector ' + this.getAttribute('name');
                let fecha = document.getElementById(id);

                $(fecha).dialog();


            });


            $('.btn.btn-lg.ok').click(function (event) {

                let dateFromId = 'date_from '+ this.id;
                let dateToId = 'date_to ' + this.id;

                let datePickerFrom = document.getElementsByClassName(dateFromId);
                let datePickerTo = document.getElementsByClassName(dateToId);

                let fechaBlock = document.getElementById(this.id);


                if(this.id === fechaBlock.id){

                    date_from = $(datePickerFrom).val();
                    date_to = $(datePickerTo).val();

                    if (date_from != '' && date_to != '') {

                        console.log(date_from);

                        var url = '{{ path('employee_career_plan_activate_module', {employee: employee.id, 'module': 'module_id' }) }}';
                        url = url.replace("module_id", this.id);

                        href = url + "?date_from=" + date_from + '&date_to=' + date_to;


                        if (!confirm('Está seguro que desea Activar el Curso para el usuario?')) {

                            return false;
                        }

                        window.location.href = href;

                    } else {

                        alert('Las dos fechas deben ser establecidas');
                    }
                }


            });

        });
    </script>
    <script src="{{ asset('js/jquery-ui/jquery-ui.min.js') }}"></script>

    <script>
    $(document).ready(function() {
        $('.fechas').hide();

        $('#form_trainer').select2({
            theme: 'bootstrap',
            language: 'es'
        });
    });
    function fadeOut(el){
        el.style.opacity = 1;
        (function fade() {
            if ((el.style.opacity -= .1) < 0) {
                el.style.display = "none";
            } else {
                requestAnimationFrame(fade);
            }
        })();
    }
    window.setTimeout(function() {
        let fl = document.getElementById('flash-messages');
        if (window.getComputedStyle(fl).display === 'block') {
            //fl.style.display = 'none';
            fadeOut(fl);
            return;
        }
    }, 5000);
</script>

{% endblock %}
