{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'slider.home'|trans,
    path: {
    new: {uri: path('aper_slider_add')},
    },
    } only %}
{% endblock page_header %}



{% block page_content %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>{{'Sort'|trans }}</th>
                    <th>{{'Rols'|trans}}</th>
                    <th>{{'Image'|trans}}</th>
                    <th>{{'Acciones'|trans}}</th>
                </tr>
            </thead>
            <tbody>
                    {% for slider in pagination %}
                    <tr>
                        <td>{{slider.sort }}</td>
                        <td>
                    {% for roles in slider.categories %}
                        {{roles|trans}} <br>
                    {% endfor %}
                        </td>

                        <td align="center">
                            <img src="{{asset(slider.file.webPath)}}" style="max-height: 200px">
                        </td>


                        <td>
                            <a href="{{ path('aper_slider_show', {id: slider.id }) }}" class="btn"
                               onclick="">{{ 'actions.show.label'|trans }}</a>
                            <a href="{{ path('aper_slider_update', {id: slider.id }) }}"
                               class="btn">{{ 'actions.edit.label'|trans }}</a>
                            <a href="{{ path('aper_slider_delete', {id: slider.id }) }}"
                               class="btn btn btn-danger btn-delete"
                               onclick="return confirm('{{ 'actions.delete_slider.confirm_cuestion'|trans }}')">{{ 'actions.delete.label'|trans }}</a>
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        {{ grid_pagination(pagination) }}
    </div>
{% endblock page_content %}