<div id="header-all-courses" class="row header_image animated fadeIn">

    <div id="header-search" class="col-lg-12 col-md-12 col-sm-12">

        <div class="cabecera-gris">

            <div class="col-md-5">
                <h1>
                    <span>Talleres y <br/>Cursos Presenciales</span>
                    <br/>Usuarios asignados
                </h1>
            </div>

            <div class="col-md-7">

                <form id="form-search" class="form-search">

                    <div class="form-row">
                        <input v-model="nameform" id="name_form" placeholder="Ingrese el nombre del taller" class="input">
                    </div>
                    <div class="form-row">

                    </div>
                    <div class="form-row">
                        <input v-model="dateDesde" id="date_picker_desde" placeholder="Fecha desde:" class="input">
                    </div>
                    <div class="form-row">
                        <input v-model="dateHasta" id="date_picker_hasta" placeholder="Fecha hasta:" class="input">
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                        </div>
                    </div>
                    <div class="form-row">
                        <a class="btn-search"
                           v-on:click="searchMethod();" title="Buscar">
                            Buscar
                        </a>
                    </div>

                </form>

            </div>

        </div>

    </div>

    <div class="develops-active-bg"></div>

</div>


{% verbatim %}
<div class="searchingZone" v-if="(searchingForResult == true)">

    <div class="flexbox-container">

        <div class="flexbox-content">

            <div class="flexbox-columns">

                <div class="the-loader"></div>

            </div>

        </div>

    </div>

</div>

<div class="searchingZone" v-if="(statusMessageForSearch && searchingForResult == false)">

    <div class="flexbox-container">

        <div class="flexbox-content">

            <div class="flexbox-columns">

                <h1>{{ statusMessageForSearch }}</h1>

            </div>

        </div>

    </div>

</div>
{% endverbatim %}