{% verbatim %}
<div class="boxbox_general_items"
    v-if="((searchingForResult == false) && (pdc_list_trainings))"
    v-for="(list_trainings, index) in pdc_list_trainings.active">

    <div class="box_general_items" :id="'list_trainings_id_' + list_trainings.id">

        <div class="box_info_interior full-module full-module-smaller subcontent flexbox-content">

            <div class="fully-content flexbox-columns">

                <div class="flexbox-columns">

                    <div class="expanded-module flexbox-main">

                        <h1 class="special-h1">
                            <strong>{{ list_trainings.name }}<span> / Lugar: {{ list_trainings.place }}</span></strong>
                        </h1>

                        <div class="listed2">
                            <p>
                                <strong><i class="fa fa-calendar-o"></i> Día/Hora:</strong> <span class="text-capitalize">{{ list_trainings.date | moment }} Hs</span>
                            </p>
                            <p>
                                <strong><i class="fa fa-address-book-o"></i> Cupos:</strong> <span class="text-capitalize">{{ list_trainings.quota }}</span>
                            </p>
                            <!--<p>-->
                                <!--<strong><i class="fa fa-clock-o"></i> Duración:</strong> <span class="text-capitalize">{{ list_trainings.duration }}</span>-->
                            <!--</p>-->
                        </div>

                        <div class="listed2">
                            <p v-if="(list_trainings.expositor)">
                               <strong><i class="fa fa-star"></i> Expositor: </strong> <span class="text-capitalize">{{ list_trainings.expositor }}</span>
                            </p>
                            <p v-else>
                               <strong><i class="fa fa-star"></i> Expositor: </strong> <span class="text-capitalize">{% endverbatim %}{{ currentUser.fullname|capitalize }}{% verbatim %}</span>
                            </p>
                        </div>

                        <div class="listed2" style="border-top: 1px solid #d2d2d2; padding: 7px 0 0 0; margin: 7px 0 0 0;">
                            <p>
                               <strong><i class="fa fa-users"></i> Inscriptos al curso {{ list_trainings.inscriptions.length }} de {{ list_trainings.quota }} cupos disponibles.</strong>
                            </p>
                        </div>

                        <div class="listed2">
                            <p>
                               <strong><i class="fa fa-check-square"></i> Total de asistencias: {{ list_trainings.attendees }}</strong>
                            </p>
                            <p>
                               <strong><i class="fa fa-pencil-square"></i> Total de aprobados: {{ list_trainings.approveds }}</strong>
                            </p>
                        </div>

                    </div>

                    <div class="box-click-module flexbox-sidebar-second">

                        <a class="click-todo click-todo-full-module-expanded click-todo-icon"
                            v-on:click="greetToOpen">Ver</a>

                    </div>

                </div>

            </div>

            <div class="extra-content extra-content-with-image flexbox-container">

                <div class="row-liner-white-top"></div>

                <div v-if="(list_trainings.inscriptions.length > 0)" class="row-liner-white flexbox-content listed">
                    <div class="col-md-6 white-border flexbox-columns">
                        <p><strong>Nombre y apellido</strong></p>
                    </div>
                    <div class="col-md-6 no-padding-right no-padding-left flexbox-columns">
                        <div class="col-md-6 white-border flexbox-columns bg-grey text-center">
                            <p class="dib text-center"><strong>Asistencia</strong></p>
                        </div>
                        <div v-if="(list_trainings.evaluable == true)" class="col-md-6 white-border flexbox-columns bg-grey text-center">
                            <p class="dib text-center"><strong>Aprobación</strong></p>
                        </div>
                    </div>
                </div>

                <div v-for="(list_trainings_inscriptions, index) in list_trainings.inscriptions"
                        v-if="(list_trainings.inscriptions.length > 0)" class="row-liner-white flexbox-content listed">
                    <div class="col-md-6 white-border bg-grey flexbox-columns">
                        <p>{{ list_trainings_inscriptions.employee.name }} - <strong>{{ list_trainings_inscriptions.employee.store.location }}</strong></p>
                        <p class="hidden"><br/>e: {{ list_trainings_inscriptions.assists }} - a: {{ list_trainings_inscriptions.approved }}</p>
                    </div>
                    <div class="col-md-6 no-padding-right no-padding-left flexbox-columns">
                        <div class="col-md-6 white-border flexbox-columns bg-white no-padding-right no-padding-left text-center"
                            :id="'e_liner_radio_id_'+ list_trainings_inscriptions.employee.id">
                            <div data-toggle="buttons" class="fancy-radio-group">
                                <label v-on:click="call_assistance_trainings_method(list_trainings.id, list_trainings_inscriptions.employee.id, e_true)"
                                       v-bind:class="{ active: (list_trainings_inscriptions.assists == true)}"
                                       class="btn btn-fancy-radio text-xs text-no-transform clearfix">
                                       {% endverbatim %}
<img src="{{ asset('img/plan-de-carrera/radio/r-default.png') }}" class="normal"/>
<img src="{{ asset('img/plan-de-carrera/radio/r-active.png') }}" class="checked"/>
{% verbatim %}
                                       <input type="radio" class="hidden" value="true" :name="'options_e_' + list_trainings_inscriptions.employee.id + '_id_' + list_trainings.id">Si
                                </label>
                                <label v-on:click="call_assistance_trainings_method(list_trainings.id, list_trainings_inscriptions.employee.id, e_false)"
                                       v-bind:class="{ active: (list_trainings_inscriptions.assists == false)}"
                                       class="btn btn-fancy-radio text-xs text-no-transform clearfix">
                                       {% endverbatim %}
<img src="{{ asset('img/plan-de-carrera/radio/r-default.png') }}" class="normal"/>
<img src="{{ asset('img/plan-de-carrera/radio/r-active.png') }}" class="checked"/>
{% verbatim %}
                                       <input type="radio" class="hidden" value="false" :name="'options_e_' + list_trainings_inscriptions.employee.id + '_id_' + list_trainings.id">No
                                </label>
                            </div>
                        </div>
                        <div v-if="(list_trainings.evaluable == true)" class="col-md-6 white-border flexbox-columns bg-white no-padding-right no-padding-left text-center"
                            :id="'a_liner_radio_id_'+ list_trainings_inscriptions.employee.id">
                            <div data-toggle="buttons" class="fancy-radio-group">
                                 <label v-on:click="call_approved_trainings_method(list_trainings.id, list_trainings_inscriptions.employee.id, a_true)"
                                        v-bind:class="{ active: (list_trainings_inscriptions.approved == true)}"
                                        class="btn btn-fancy-radio text-xs text-no-transform clearfix">
                                        {% endverbatim %}
<img src="{{ asset('img/plan-de-carrera/radio/r-default.png') }}" class="normal"/>
<img src="{{ asset('img/plan-de-carrera/radio/r-active.png') }}" class="checked"/>
{% verbatim %}
                                        <input type="radio" class="hidden" value="true" :name="'options_a_' + list_trainings_inscriptions.employee.id + '_id_' + list_trainings.id">Si
                                 </label>
                                 <label v-on:click="call_approved_trainings_method(list_trainings.id, list_trainings_inscriptions.employee.id, a_false)"
                                        v-bind:class="{ active: (list_trainings_inscriptions.approved == false)}"
                                        class="btn btn-fancy-radio text-xs text-no-transform clearfix">
                                        {% endverbatim %}
<img src="{{ asset('img/plan-de-carrera/radio/r-default.png') }}" class="normal"/>
<img src="{{ asset('img/plan-de-carrera/radio/r-active.png') }}" class="checked"/>
{% verbatim %}
                                    <input type="radio" class="hidden" value="false" :name="'options_a_' + list_trainings_inscriptions.employee.id + '_id_' + list_trainings.id">No
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div v-if="(list_trainings.inscriptions.length > 0)"  class="row-liner-white flexbox-content listed">
                    <div class="col-md-6 white-border flexbox-columns">
                        <p><br/></p>
                    </div>
                    <div class="col-md-6 no-padding-right no-padding-left flexbox-columns">
                        <div class="col-md-12 flexbox-columns bg-grey text-center zona-btn-confirmar">
                            <!--<a v-on:click="call_archived_trainings_method(list_trainings.id)" class="dib text-center btn-confirmar" title="Confirmar">-->
                                <!--<strong>Archivar</strong>-->
                            <!--</a>-->
                        </div>
                    </div>
                </div>

                <div v-if="(list_trainings.inscriptions.length == 0)"  class="row-liner-white flexbox-content listed">
                    <div class="col-md-12 no-padding-right no-padding-left flexbox-columns">
                        <div class="col-md-12 flexbox-columns bg-grey text-center">
                            <h1 class="mensaje-no-suscriptos">No hay personas suscriptas al curso aún.</h1>
                        </div>
                    </div>
                </div>

                <div class="row-liner-white-bot"></div>

            </div>

        </div>

    </div>

</div>

<div class="no-trainings-in-box" v-if="(!pdc_list_trainings)">
    <div class="flexbox-container"><div class="flexbox-content"><div class="flexbox-columns"><h1>No tienes asignado ningún taller presencial.</h1></div></div></div>
</div>


{% endverbatim %}