{% extends '::base.html.twig' %}
{% block pagename %}communications{% endblock %}
{% block page_logo %}
    <div class="hidden-xs hidden-sm">
        {{ parent() }}
    </div>
{#    <div class="hidden-md hidden-lg comunicacion">#}
{#        <img src="{{ asset('dist/images/logo_comunicacion.png') }}">#}
{#    </div>#}
{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="row header_image">
            <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs" style="background-image: url({{ asset('dist/images/puma/header-news.png') }})">
                <img class="img_backHeader" src="{{ asset('dist/images/puma/header-news.png') }}">
            </div>
            <div class="col-xs-12 hidden-sm hidden-md hidden-lg" style="background-image: url({{ asset('dist/images/puma/header-news.png') }})">
                <img class="img_backHeader" src="{{ asset('dist/images/header-news.png') }}">
            </div>
        </div>
        <div class="row custom-row" style="margin: 0;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" data-slider-id="1">
                <br/>
                <div class="marginThis">
                    <p>Te invitamos a revivir juntos la alegría del lanzamiento de "SOMOS TU FAN"</p>
                    <p>Compartí con nosotros como vivimos los lanzamientos de SOMOS TU FAN Y LIGA DE ESTRELLAS en los
                        Complejos y Oficinas</p>
                    <p>VOS sos lo más importante y es por eso que SOMOS TU FAN</p>
                </div>
                <p class="customTitle">Video Lanzamiento</p>
                <div class="video-section">
                    <div class="wrapIframe" style="position: relative">
                        <div style="width: 100%;padding-bottom: 56.42%;"></div>
                        <iframe style="position: absolute;width: 100%;height: 100%;top: 0;left: 0"
                                src="//www.youtube.com/embed/5lfKZwhvRGA?rel=0"
                                frameborder="0"
                                allowfullscreen></iframe>
                    </div>
                </div>

                <p class="customTitle">Galería de imágenes</p>
                <div class="image-slider">
                    <div class="reference">
                        <span class="current">1</span> / 134
                    </div>
                    <div class="owl-carousel" data-slider-id="1">
                        {% for i in 1..134 %}
                            {% if i < 10 %}
                                {% set newI = '00' ~ i %}
                            {% endif %}
                            {% if i >= 10 and i < 100 %}
                                {% set newI = '0' ~ i %}
                            {% endif %}
                            {% if i >= 100 %}
                                {% set newI = i %}
                            {% endif %}

                            <div>
                                <img src="{{ asset('dist/images/galleries/1/' ~ newI ~ '.jpg') }}"
                                     alt="Random image slider">
                            </div>
                        {% endfor %}
                    </div>
                    <div class="thumbs-nav" data-current-position="0">
                        <a href="#" class="showLeft"><i class="fa fa-angle-left" style="color: #947e4f;"></i></a>
                        <a href="#" class="showRight"><i class="fa fa-angle-right" style="color: #947e4f;"></i></a>
                    </div>

                    <div class="parentHideScrollBar">
                        <div class="overflow-hidden">
                            <div class="owl-thumbs" data-slider-id="1">
                                {% for i in 1..134 %}
                                    {% if i < 10 %}
                                        {% set newI = '00' ~ i %}
                                    {% endif %}
                                    {% if i >= 10 and i < 100 %}
                                        {% set newI = '0' ~ i %}
                                    {% endif %}
                                    {% if i >= 100 %}
                                        {% set newI = i %}
                                    {% endif %}
                                    <a class="owl-thumb-item"><img
                                                src="{{ asset('dist/images/galleries/1/' ~ newI ~ '.jpg') }}"
                                                alt="Thumb"></a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}
{% block body_scripts_optional %}
    {{ parent() }}
    <script src="{{ asset('dist/scripts/vendor/owl-carousel.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            var _calcW = 0;
            var activeThumb;
            $('.owl-carousel').owlCarousel({
                items: 1,
                lazyLoad: true,
                loop: false,
                dots: true,
                nav: true,
                navText: ['<i class="fa fa-chevron-circle-left" aria-hidden="true" style="color: #fff;"></i>', '<i  style="color: #fff;" class="fa fa-chevron-circle-right" aria-hidden="true"></i>'],
                thumbs: true,
                // When only using images in your slide (like the demo) use this option to dynamicly create thumbnails without using the attribute data-thumb.
                thumbImage: false,
                // Enable this if you have pre-rendered thumbnails in your html instead of letting this plugin generate them. This is recommended as it will prevent FOUC
                thumbsPrerendered: true,
                // Class that will be used on the thumbnail container
                thumbContainerClass: 'owl-thumbs',
                // Class that will be used on the thumbnail item's
                thumbItemClass: 'owl-thumb-item',
                mouseDrag: false,
                animateOut: 'fadeOut',
                onInitialized: function () {

                    countImg = $('.owl-thumb-item').length
                    _calcW = countImg * (65 + 7) - 7;
                    $('.owl-thumbs').width(_calcW);

                    $('.showLeft').hide()

                },
                onChange: function () {
                    activeThumb = $('.owl-thumb-item.active');
                },
                onChanged: function (obj) {
                    if ($('.thumbs-nav').attr('data-current-position') == 0) {
                        $('.showLeft').hide()
                    } else {
                        $('.showLeft').show()
                    }
                    if (parseInt($('.thumbs-nav').attr('data-current-position')) <= -1364) {
                        $('.showRight').hide();
                    } else {
                        $('.showRight').show();
                    }


                    setTimeout(function () {

                        var _currentShow = $('.owl-item.active').index() + 1;
                        $('.reference .current').text(_currentShow)
                        if (activeThumb.index() != -1) {
                            var currentPos = parseInt($('.thumbs-nav').attr('data-current-position'))
                            var moveEl = $('.overflow-hidden');
                            var moveQ = parseInt(65 + 7)
                            if (activeThumb.index() < $('.owl-thumb-item.active').index()) {
                                moveEl.stop().animate({scrollLeft: currentPos + moveQ}, 400, function () {
                                    $('.thumbs-nav').attr('data-current-position', moveEl.scrollLeft())
                                })
                            } else {
                                moveEl.stop().animate({scrollLeft: currentPos - moveQ}, 400, function () {
                                    $('.thumbs-nav').attr('data-current-position', moveEl.scrollLeft())
                                })
                            }
                        }
                    }, 300)
                }
            });

            $('.overflow-hidden').on('scroll', function () {
                var _num = parseInt($('.overflow-hidden').scrollLeft());
                $('.thumbs-nav').attr('data-current-position', _num);
            })

            $('.thumbs-nav a').on('click', function (e) {
                e.preventDefault();
                var $this = $(this)
                setTimeout(function () {
                    if ($this.parent().attr('data-current-position') == 0) {
                        $('.showLeft').hide()
                    } else {
                        $('.showLeft').show()
                    }
//                    if (parseInt($this.parent().attr('data-current-position')) <= -1364) {
//                        $('.showRight').hide();
//                    } else {
//                        $('.showRight').show();
//                    }
                }, 200)

                if ($this.hasClass('showLeft')) {
                    moveThumbNav('left', $this)
                }
                if ($this.hasClass('showRight')) {
                    moveThumbNav('right', $this)
                }
            })
        })

        function moveThumbNav(direction, element) {
            var $this = element;
            var currentPos = parseInt($this.parent().attr('data-current-position'))
            var moveEl = $('.overflow-hidden');
            var moveQ = parseInt((67 + 7) * 4) //thumb width + thumb space
            switch (direction) {
                case 'left':
                    moveEl.stop().animate({scrollLeft: currentPos - moveQ}, 400, function () {
                        $this.parent().attr('data-current-position', moveEl.scrollLeft())
                    })

                    break;
                case 'right':
                    moveEl.stop().animate({scrollLeft: currentPos + moveQ}, 400, function () {
                        $this.parent().attr('data-current-position', moveEl.scrollLeft())
                    })
            }
        }
    </script>
{% endblock %}
