{% extends '::base.html.twig' %}
{% block pagename %}communications{% endblock %}
{% block page_logo %}
    <div class="hidden-xs hidden-sm">
        {{ parent() }}
    </div>
    <div class="hidden-md hidden-lg comunicacion">
        <img src="{{ asset('dist/images/puma/logo-puma.png') }}">
    </div>
{% endblock %}

{% block page_content %}
    <div class="container" style="padding-bottom: 2em">
        <div class="row header_image">
            <div class="communications-active-bg"></div>
            <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs" style="background-image: url({{ asset('dist/images/puma/header-news.png') }})">
                <img class="img_backHeader" src="{{ asset('dist/images/puma/header-news.png') }}">
                <h4 class="header-title">Nosotros</h4>
            </div>
            <div class="col-xs-12 hidden-sm hidden-md hidden-lg" style="background-image: url({{ asset('dist/images/puma/header-news.png') }})">
                <img class="img_backHeader" src="{{ asset('dist/images/puma/header-news.png') }}">
                <h4 class="header-title">Nosotros</h4>
            </div>
        </div>
{#        <div class="row header_image">#}
{#            <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs" style="background-image: url({{ asset('dist/images/puma/header-news.png') }})">#}
{#                <img class="img_backHeader" src="{{ asset('dist/images/puma/header-news.png') }}">#}
{#            </div>#}
{#            <div class="col-xs-12 hidden-sm hidden-md hidden-lg" style="background-image: url({{ asset('dist/images/puma/header-news.png') }})">#}
{#                <img class="img_backHeader" src="{{ asset('dist/images/header-news.png') }}">#}
{#            </div>#}
{#        </div>#}
        <div class="row custom-row" style="margin: 0;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" data-slider-id="1">
                <br/>
                <h2 class="organigrama-title">NOSOTROS</h2>
                <div class="organigrama-section">
                    <div class="wrapIframe" style="position: relative">
                        <div style="width: 100%;padding-bottom: 56.42%;"></div>
                        <div id="pdfcont" style="position: absolute;width: 100%;height: 100%;top: 0;left: 0"></div>
                    </div>
                    <div class="pdf-icon-link hidden-md hidden-lg">
                        <img class="pdficon" src="{{ asset('dist/images/pdf-icon.png') }}" alt="">
                        <div class="clearfix"></div>
                        <div class="btn-descargar-pdf">
                            <a class="" href="{{ asset('uploads/files/organization.pdf') }}" target="_blank">DESCARGAR PDF</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}

{% block body_scripts_optional %}
    <script>
        PDFObject.embed("../uploads/files/organization.pdf", "#pdfcont");
    </script>
{% endblock %}



