{% extends 'WebFactoryUserBundle::layout.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'web_factory_user.title.already_authenticated'|trans({}, 'web_factory_user')
    } only %}
{% endblock page_header %}

{% block web_factory_user_content %}
    <p>{{ 'web_factory_user.message.already_authenticated'|trans({}, 'web_factory_user') }}</p>
{% endblock web_factory_user_content %}