{% extends 'WebFactoryBackOfficeThemeBundle::login_layout.html.twig' %}

{% block page_content %}
    {% embed '@WebFactoryBackOfficeTheme/embed/login.html.twig' with {
    error: error|trans({}, 'web_factory_user'),
    form: form,
    title: ' ',
    subtitle: ' ',
    copyright: '© ' ~ 'now'|date('Y'),
    form_title: 'Ingrese sus credenciales',
    form_btn_name: 'Iniciar Sesión',
    i_forgot_my_password_uri: path('backend_web_factory_user_resetting_request')
    } %}

        {% block header_icon %}<img src="{{ asset('img/logo.png') }}" alt="logo" height="50" />{% endblock %}

        {% block social_links %}
        {% endblock %}

        {% block navigation_links_register %}
        {% endblock %}

    {% endembed %}
{% endblock page_content %}
