{% extends 'base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
        title:'Editar Tipo de Objetivo de Empleado',
        path: {
            index: {uri: path('goal_type_employee_index')},
            delete: {uri: path('goal_type_employee_delete', {'id': goalType.id})},
        },
        delete_form: delete_form,
    } only %}
{% endblock page_header %}


{% block page_content %}
    {{ form(edit_form) }}
{% endblock %}
