{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
        title:' Listado de tipos de objetivos de empleados',
        path: {
            new: {uri: path('goal_type_employee_new')},
        },
    } only %}
{% endblock page_header %}

{% block page_content %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>{{'Year'|trans}}</th>
                <th>{{'Month'|trans }}</th>
                <th>{{'Category'|trans}}</th>
                <th>{{'Name'|trans}}</th>
                <th>{{'Cell'|trans}}</th>
                <th>{{'Is special'|trans}}</th>
                <th>{{'Is totalizer'|trans}}</th>
                <th>{{'Parent'|trans}}</th>
                <th>{{'Actions'|trans}}</th>
            </tr>
            </thead>
            <tbody>
            {% for goalType in pagination %}
                <tr>
                    <td>{{ goalType.year }}</td>
                    <td>{{ goalType.month }}</td>
                    <td>{{ goalType.category }}</td>
                    <td>{{ goalType.name }}</td>
                    <td>{{ goalType.cell }}</td>
                    <td>{{ goalType.special ? 'Yes'|trans : 'No'|trans }}</td>
                    <td>{{ goalType.totalizer ? 'Yes'|trans : 'No'|trans }}</td>
                    <td>{{ goalType.parent is not null ? goalType.parent.name : '' }}</td>
                    <td>
                        <a href="{{ path('goal_type_employee_show', {id: goalType.id }) }}" class="btn"
                           onclick="">{{ 'actions.show.label'|trans }}</a>
                        <a href="{{ path('goal_type_employee_edit', {id: goalType.id }) }}"
                           class="btn">{{ 'actions.edit.label'|trans }}</a>
                        <a href="{{ path('goal_type_employee_delete', {id: goalType.id }) }}"
                           class="btn btn btn-danger btn-delete"
                           onclick="return confirm('{{ 'Desea eliminar la capacitación?' }}')">{{ 'actions.delete.label'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
        {{ grid_pagination(pagination) }}
    </div>
{% endblock page_content %}