{% extends '::base.html.twig' %}
{% block pagename %}communications{% endblock %}

{% block page_logo %}
    <div class="hidden-xs hidden-sm">
        {{ parent() }}
    </div>
    <div class="hidden-md hidden-lg comunicacion">
        <img src="{{ asset('dist/images/logo_comunicacion.png') }}">
    </div>
{% endblock %}

{# {% set currentRole =  is_granted('ROLE_EMPLOYEE') ? 'ROLE_EMPLOYEE' : '-'  %} #}
{% block page_content %}
    <div class="container" style="margin: 0 auto; width: 80%; padding: 40px;">
        <h3><strong>POR FAVOR, SELECCIONA EL PERFIL QUE TENGAS EN TEAM</strong></h3>
        <p>Con el objetivo de mejorar tu experiencia de uso en la plataforma, 
        te pedimos que identifiques tu perfil según el rol que tengas en tu estación de servicio</p>
        <div class="row">
            <div class="col" style="margin: 0 auto; width: 80%; padding: 40px;">
                <form method="POST" action="{{ path('sub_rol_form') }}">
                    <div class="fields-group">
          
						<div class="row" style="display:flex;">
						<div class="column" style="flex: 50%; align-self:center;">
						<div class="input-group">
                            <select required class="form-control" id="register_role" name="role" style="min-height: 33px; background-color: hsla(0,0%,45%,.3); color: #7a7a7a; padding: 5px 15px; border: none; max-width: 250px; width: 100%;">
                                <option value="" disabled="disabled" selected>SELECCIONAR</option>
                                <option value="OPERADOR/A">OPERADOR/A</option>
                                <option value="JEFE/A EESS">JEFE/A EESS</option>
                                <option value="ENCARGADO/A">ENCARGADO/A</option>
                                <option value="GERENTE EESS">GERENTE EESS</option>
                                <option value="DUEÑO/A">DUEÑO/A</option>
                                <option value="EMPLEADO/A ADMINISTRATIVO">EMPLEADO/A ADMINISTRATIVO</option>
                            </select>                                
                        </div>
						</div>
						<div class="column" style="flex: 50%;">
                        <input type="submit" class="btn btn-default" id="register_submit" name="submit" value="Confirmar">
						</div>
						</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock page_content %}

{% block body_scripts_optional %}
{% endblock %}