{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Nuevo requisito duro cumplido'|trans,
    path: {
    index: {uri: path('aper_plancarrera_req_index')},
    },
    } only %}
{% endblock page_header %}


{% block page_content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn" type="submit">Asociar</button>
    {{ form_end(form) }}
{% endblock %}

{% block head_style %}

{% endblock %}

{% block body_scripts_optional %}
    <script src="{{ asset('bundles/mopabootstrap/js/mopabootstrap-collection.js') }}"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script type="text/javascript">
        $('#aper_plancarrerabundle_planrequirementsemployee_user').select2({
            placeholder: 'Seleccione un empleado'
        });
    </script>
    <script>
        $('#aper_plancarrerabundle_planrequirementsemployee_plan').on('change', function() {
            $.ajax({
                url: "/admin/plancarrera/json/requirementsByPlan/"+$(this).val(),
                type: 'GET',
                success : function(r){
                    $("#aper_plancarrerabundle_planrequirementsemployee_requirement").html("");

                    for(row=0;row<r.length;row++) {
                        $("#aper_plancarrerabundle_planrequirementsemployee_requirement").append("<option value='"+r[row].id+"'>"+r[row].description+"</option>");
                    }
                }
            })
        });
    </script>
{% endblock %}
