{% extends 'base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Ver Requisito Duro'|trans,
    path: {
    index: {uri: path('aper_plancarrera_req_index')},
    edit: {uri: path('aper_plancarrera_req_edit', {'id': requirement.id})},
    delete: {uri: path('aper_plancarrera_req_delete', {'id': requirement.id})},
    },

    } only %}
{% endblock page_header %}


{% block page_content %}
    <table class="table">
        <tbody>
        <tr>
            <th> Descripción </th>
            <td>{{ requirement.description|raw }}</td>
        </tr>
        <tr>
            <th> Plan </th>
            <td>{{ requirement.plan.title|raw }}</td>
        </tr>
        <tr>
            <th> Estado </th>
            <td>{{ requirement.status }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}