

body {
  background-color: #fafbfc;
}

.row.header_image {
  > div {
    position: relative;
    z-index: 5;

    &[class$=-bg] {
      z-index: 1 !important;
      position: absolute !important;
    }
  }
}

.single-new {
  .new-content {
    margin-top: 50px;
  }
  .the-title {
    font-size: 32px
  }

  .inner-content {
    * {
      color: #566b84;
      font-size: 16px;
    }
  }
  .publish-date {
    i, span {
      color: $siteBlue;
    }
    color: #a4aeb9;
    font-size: 14px;
  }

  .iframeContainer {
    position: relative;
    div {
      width: 100%;
      padding-bottom: 60%;
    }
    iframe {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .gallery-btn {
    height: 40px;
    padding: 0 20px;
    border: 2px solid $siteRed;
    background-color: $siteRed;
    display: inline-flex;
    align-items: center;
    text-align: center;
    color: white;
    margin-top: 20px;
    transition: all .4s;
    margin-bottom: 20px;
    &:hover, &:active, &:target, &:focus {
      background-color: transparent;
      color: $siteRed;
      text-decoration: none !important;
      outline: none !important;
      font-weight: bold;
    }
  }
  .related-news {
    h3 {
      font-size: 18px;
      padding: 30px 0 0;
      border-top: 3px solid #edeff1;
      margin: 0 15px 30px 15px;

    }
    .the-img {
      margin-bottom: 15px;
      width: 100%;
      padding-bottom: 56%;
    }
    .the-title {
      font-size: 16px;
      color: $siteRed;
      @media (max-width: 992px) {
        padding-bottom: 20px;
        margin-bottom: 15px;
        border-bottom: 2px solid #edeff1;
      }
    }
    .publish-date {
      font-size: 12px;
    }
  }
}

/* FANCYBOX STYLES */

.fancybox-container--thumbs .fancybox-caption-wrap, .fancybox-container--thumbs .fancybox-controls, .fancybox-container--thumbs .fancybox-slider-wrap{
  right: 0 !important;
  .fancybox-slider{
    .fancybox-slide{
      height: 85%;
      .fancybox-placeholder{
        transform: translate(368px, 70px) !important;
        transform: translate(0%,15%)!important;
        position: relative !important;
        margin: 0 auto !important;
      }
    }


  }
}
.fancybox-caption-wrap{
  display: none;
}
.fancybox-enabled .fancybox-container .fancybox-thumbs{
  bottom: 0 !important;
  left: 0;
  margin: 0 auto;
  background: rgba(0, 0, 0, .4);
  top: 87%;
  max-height: 125px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  ul{
    display: flex;
    height: 100%;
    width: auto;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    overflow-x: auto;
    li{
      border: 5px solid rgba(0, 0, 0, 0);
      min-width: 100px !important;
      height: 100% !important;
    }
  }
  @media (max-width: 800px){
    display: flex !important;
  }
}