$siteBlue: rgba(11, 99, 73, 1);
$siteRed: #ed1c24;
$siteDarkestGray: #7a7a7a;
$siteGray: #b9b9b9;
$siteGrayLight: #dedede;
$sitewhite: #ffffff;
$inputsBg: rgba(185, 185, 185, 0.43);


$icon-font-path: '../fonts/';
$grid-gutter-width: 30px !default;
$container-large-desktop: (1240px + $grid-gutter-width) !default;
$container-lg: $container-large-desktop !default;

//Categories
$categoryWellness: #009966;
$categoryMoments: #ffcc33;
$categoryEntertainment: #f26640;
$categoryServices: #ff0000;

//discounts
$discountBg: #e5e5e5;
$discountBd: #f6f6f6;
$discountTxt: #3a526f;

//News
$golden: #dabc72;
$silver: #7a8a9b;
$grayBorder: #edeff1;
$grayDateTxt: #a4aeb9;
$grayBodyTxt: #566b84;
