{% extends 'base.html.twig' %}

{% block page_header %}
	{% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
        title:'page_header.aper.goal_type.edit.title'|trans,
        path: {
            index: {uri: path('goal_type_index')},
            delete: {uri: path('goal_type_delete', {'id': goalType.id})},
        },
        delete_form: delete_form,
    } only %}
{% endblock page_header %}


{% block page_content %}
{{ form_start(edit_form) }}

	{{ form_row(edit_form.name) }}
	{{ form_row(edit_form.category) }}
	{{ form_row(edit_form.cell) }}
	{{ form_row(edit_form.month) }}
	{{ form_row(edit_form.year) }}
	{{ form_row(edit_form.isSpecial) }}
	{{ form_row(edit_form.isTotalizer) }}
	{{ form_row(edit_form.bt) }}
    {{ form_row(edit_form.popup_text) }}
    <div class="form-group">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-9">
     El texto no debe superar los 255 caracteres; si se quiere incluir un enlace se debe usar el siguiente formato: &lt;a href="[[URL ENLACE]]" target="_blank">[[TEXTO ENLACE]]&lt;/a&gt; <p><b>Ejemplo:</b> Para mayor información revisar el siguiente enlace: &lt;a href="https://google.com/" target="_blank">DOCUMENTO&lt;/a&gt;</p>.
    </div>
    </div>
    	{{ form_row(edit_form.submit) }}
{{ form_rest(edit_form) }}
{{ form_end(edit_form) }}

		

	{% endblock %}
