{% extends '::base.html.twig' %}
{% block pagename %}develops{% endblock %}
{% block page_logo %}
    <div class="hidden-xs hidden-sm">
        {{ parent() }}
    </div>
    <div class="hidden-md hidden-lg desarrollo">
        <img src="{{ asset('dist/images/logo_desarrollo.png') }}">
    </div>
{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="row header_image">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <img src="{{ asset('dist/images/proximamente_desarrollo.jpg') }}">
            </div>
            <div class="develops-active-bg"></div>
        </div>
    </div>
{% endblock page_content %}
