{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'page_header.cinema.list.title'|trans,
    path: {
    new: {uri: path('aper_cinema_add')},
    },
    } only %}
{% endblock page_header %}


{% block page_content %}




{% endblock page_content %}