{% extends '::base.html.twig' %}
{% block pagename %}clases{% endblock %}
{% block page_content %}
<div class="container">

	<div class="row header_image claseBanner">
		{% if clase.imagen %}
		<div class="col-lg-12 col-md-12 col-sm-12"
			 style="background-image: url({{ asset(clase.imagen.WebPath) }})">
			{% else %}
			<div class="col-lg-12 col-md-12 col-sm-12">
		{% endif %}
			<img class="img_backHeader" src="{{ asset('dist/images/puma/header-news.png') }}">
			<h1 class="title_header bold">
				{{ clase.titulo }}
			</h1>
		</div>
	</div>



	<div class="container row">

		<div class="description contenidoClases">
				{{ clase.descripcion }}  Cualquier texto que venga en formato HTML con |raw lo interpreta en la página como HTML
		</div>

			{% if contenidos %}

				<div class="contenidoClases">


					{%  for contenido in contenidos %}

						{%  if contenido.url %}

							<h3 class="content-title text-center">Video Informativo</h3>

							<iframe src="{{contenido.url}}" allowfullscreen frameborder="0"></iframe>

						{% endif %}

						{% if contenido.video.webPath %}

							<h3 class="content-title text-center">Contenido Multimedia:</h3>

							<video width="1024" height="740">
								<source src="{{ asset(contenido.video.webPath) }}">
							</video>

						{% endif %}

						{% if contenido.pdf.webPath %}
						<div class="pdf">
							<h3 class="content-title text-center">Material Descargable:</h3>

							<a href="{{ asset(contenido.pdf.webPath) }}">
								<img class="text-center" src="{{ asset('dist/images/puma/pdf-file.png') }}" />
							</a>
						</div>
						{% endif %}


					{% endfor %}

				</div>

			{% endif %}


	</div>
		<div class="container backAction">
			<div class="row">
				<a href="{{ path('homepage') }}">Volver</a>
			</div>
		</div>
</div>
{% endblock %}