{% extends '::base.html.twig' %}
{% block pagename %}clases{% endblock %}
{% block page_content %}
    <div class="container">
    <div class="row header_image claseBanner">

        {% if cursoPadre.imagen %}

        <div class="col-lg-12 col-md-12 col-sm-12"
             style="background-image: url({{ asset(cursoPadre.imagen.WebPath) }})">

            {% else %}

            <div class="col-lg-12 col-md-12 col-sm-12">

                {% endif %}
                <img class="img_backHeader" src="{{ asset('dist/images/puma/header-news.png') }}">
                <h1 class="title_header bold">
                    {{ cursoPadre.titulo }}
                </h1>
            </div>
        </div>

        <div class="container row">

            {% set counter = 0 %}

            <div class="content row col-lg-12 center-block main-content">

                <div class="encabezado">
                    <h2 class="course-title">Bienvenido al curso: {{ cursoPadre.titulo }}</h2>
                    <p class="course-description">{{ cursoPadre.descripcion }}</p>
                </div>

                {#  Encuesta previa del Curso PADRE  #}

                {% if cursoPadre.examenPrevio and examenPrevio and examenPrevio[0].aprobado is null %}

                    {% set counter = counter + 1 %}

                    <div class="single-class encuesta available">

                        <div class="number col-lg-1">{{ counter }}</div>

                        <div class="content-class col-lg-11">

                            <div class="classContent">

                                <h4 class="title">Cuestionario Previo a la clase</h4>

                                <p class="description">Hemos incluido
                                    unas breves preguntas. Probablemente
                                    no tengas
                                    todas
                                    las respuestas.
                                    Es importante que sepas que NO SE
                                    TRATA DE UNA EVALUACIÓN.
                                    Queremos que puedas comparar cuánto
                                    sabes ahora y cuanto aprendiste
                                    luego de
                                    completar
                                    este curso de capacitación.</p>
                                <a href="{{ path('frontend_evaluacion_padre_previa', {'id': cursoPadre.id}) }}"
                                   class="cta">Ingresar</a>


                            </div>

                            <div class="classState">
                                <img src={{ asset('dist/images/puma/disponible.png') }} />
                                <p>Disponible</p>
                            </div>

                        </div>

                    </div>

                {% else %}

                    {% set counter = counter + 1 %}

                    <div class="single-class encuesta available">

                        <div class="number col-lg-1">{{ counter }}</div>

                        <div class="content-class col-lg-11">

                            <div class="classContent">

                                <h4 class="title">Cuestionario Previo a la clase</h4>

                                <p class="description">Hemos incluido unas breves preguntas. Probablemente no tengas
                                    todas
                                    las respuestas.
                                    Es importante que sepas que NO SE TRATA DE UNA EVALUACIÓN.
                                    Queremos que puedas comparar cuánto sabes ahora y cuanto aprendiste luego de
                                    completar
                                    este curso de capacitación.</p>

                            </div>

                            <div class="classState">
                                <img src={{ asset('dist/images/puma/done.png') }} />
                                <p>Realizada</p>
                            </div>

                        </div>

                    </div>

                {% endif %}


                {#                Clase interactiva  #}

                {% set counter = counter + 1 %}

                {% if examenPrevio and examenPrevio[0].aprobado is not null %}

                    <div class="single-class available">
                        <div class="number col-lg-1">{{ counter }}</div>
                        <div class="content-class col-lg-11">
                            <div class="classContent">
                                <h4 class="title">Clase Interactiva</h4>
                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse</p>
                                <a href="{{ path('clase_front', {'course_id': cursoPadre.id}) }}"
                                   class="cta">Ingresar</a>
                            </div>

                            <div class="classState">
                                <img src={{ asset('dist/images/puma/disponible.png') }} />
                                <p>Activo</p>
                            </div>

                        </div>

                    </div>

                {% else %}

                    <div class="single-class disabled">
                        <div class="number col-lg-1">{{ counter }}</div>
                        <div class="content-class col-lg-11">
                            <div class="classContent">
                                <h4 class="title">Clase Interactiva </h4>
                                <p class="description"></p>
                                <a href="{{ path('clase_front', {'course_id': cursoPadre.id}) }}"
                                   class="cta">Ingresar</a>
                            </div>

                            <div class="classState">
                                <img src={{ asset('dist/images/puma/disabled.png') }} />
                                <p>No disponible</p>
                            </div>

                        </div>

                    </div>

                {% endif %}


                {#  Examen final del curso padre  #}

                {% if examenPrevio and examenPrevio[0].aprobado is null %}

                    {% set counter = counter + 1 %}

                    <div class="single-class evaluacion disabled">
                        <div class="number col-lg-1">{{ counter }}</div>
                        <div class="content-class col-lg-11">
                            <div class="classContent">
                                <h4 class="title">Cuestionario Posterior a la clase</h4>
                                <p class="description">Podés realizar el cuestionario. Se aprueba con el 80% de las
                                    respuestas correctas. En caso de no aprobar después de los intentos, deberás enviar
                                    un mail a soporte@campusvirtual-pumaenergy.com.ar para que te habiliten a tomar la
                                    clase nuevamente y realizar otra vez el cuestionario posterior a la clase otras
                                    veces mas como máximo</p>
                                <a href="{{ path('frontend_evaluacion_padre', { 'id': cursoPadre.id }) }}"
                                   class="cta">Ingresar</a>
                            </div>

                            <div class="classState">
                                <img src={{ asset('dist/images/puma/disabled.png') }} />
                                <p>No disponible</p>
                            </div>

                        </div>

                    </div>

                {% else %}

                    {% set counter = counter + 1 %}

                    {% if examenFinal %}

                        {% if examenFinal[0].aprobado %}

                            <div class="single-class evaluacion available">
                                <div class="number col-lg-1">{{ counter }}</div>
                                <div class="content-class col-lg-11">
                                    <div class="classContent">
                                        <h4 class="title">Evaluacion Final</h4>
                                        <p class="description">Podés realizar el
                                            cuestionario {{ examenFinal[0].cantIntentos }} veces. Se aprueba con el 80%
                                            de
                                            las respuestas correctas. En caso de no aprobar después de
                                            los {{ examenFinal[0].cantIntentos }} intentos, deberás enviar un mail a
                                            soporte@campusvirtual-pumaenergy.com.ar para que te habiliten a tomar la
                                            clase
                                            nuevamente y realizar otra vez el cuestionario posterior a la clase
                                            otras {{ examenFinal[0].cantIntentos }} veces mas como máximo</p>
                                        <a href="{{ path('frontend_evaluacion_padre', { 'id': cursoPadre.id }) }}"
                                           class="cta">Ingresar</a>
                                    </div>

                                    <div class="classState">
                                        <img src={{ asset('dist/images/puma/done.png') }} />
                                        <p>Aprobado</p>
                                    </div>

                                </div>

                            </div>

                        {% else %}

                            <div class="single-class evaluacion available">
                                <div class="number col-lg-1">{{ counter }}</div>
                                <div class="content-class col-lg-11">
                                    <div class="classContent">
                                        <h4 class="title">Evaluacion Final</h4>
                                        <p class="description">Podés realizar el
                                            cuestionario {{ examenFinal[0].cantIntentos }} veces. Se aprueba con el 80%
                                            de
                                            las respuestas correctas. En caso de no aprobar después de
                                            los {{ examenFinal[0].cantIntentos }} intentos, deberás enviar un mail a
                                            soporte@campusvirtual-pumaenergy.com.ar para que te habiliten a tomar la
                                            clase
                                            nuevamente y realizar otra vez el cuestionario posterior a la clase
                                            otras {{ examenFinal[0].cantIntentos }} veces mas como máximo</p>
                                        <a href="{{ path('frontend_evaluacion_padre', { 'id': cursoPadre.id }) }}"
                                           class="cta">Ingresar</a>
                                    </div>

                                    <div class="classState">
                                        <img src={{ asset('dist/images/puma/available.png') }} />
                                        <p>Disponible</p>
                                    </div>

                                </div>

                            </div>

                        {% endif %}


                    {% endif %}

                {% endif %}

                {# Encuesta del curso padre    #}

                {% if examenFinal is not null %}

                    {% set counter = counter + 1 %}

                    <div class="single-class available">
                        <div class="number col-lg-1">{{ counter }}</div>
                        <div class="content-class col-lg-11">
                            <div class="classContent">
                                <h4 class="title">Encuesta</h4>
                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                                    ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                    reprehenderit in voluptate velit esse cillum dolore.</p>
                                <a href="{{ path('frontend_encuesta_curso', { 'id': cursoPadre.id }) }}"
                                   class="cta">Ingresar</a>
                            </div>

                            <div class="classState">
                                <img src={{ asset('dist/images/puma/disponible.png') }} />
                                <p>Activo</p>
                            </div>

                        </div>

                    </div>

                {% else %}

                     {% set counter = counter + 1 %}

                     <div class="single-class disabled">
                         <div class="number col-lg-1">{{ counter }}</div>
                         <div class="content-class col-lg-11">
                             <div class="classContent">
                                 <h4 class="title">Encuesta</h4>
                                 <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing
                                     elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                     Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                                     ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                     reprehenderit in voluptate velit esse cillum dolore.</p>
                                 <a href="{{ path('frontend_encuesta_curso', { 'id': cursoPadre.id }) }}"
                                    class="cta">Ingresar</a>
                             </div>

                             <div class="classState">
                                 <img src={{ asset('dist/images/puma/disabled.png') }} />
                                 <p>No disponible</p>
                             </div>

                         </div>

                     </div>


                {% endif %}


                {#  Certificado del curso padre  #}

                {% if examenFinal %}

                    {% if examenFinal[0].aprobado and encuesta %}

                        {% set counter = counter + 1 %}

                        <div class="single-class certificado available">

                            <div class="number col-lg-1">{{ counter }}</div>

                            <div class="content-class col-lg-11">

                                <div class="classContent">

                                    <h4 class="title">Certificado</h4>

                                    <p class="description">Fin del curso
                                        De este modo, hemos concluido con el curso de "{{ cursoPadre.titulo }}".
                                        Recordá siempre la importancia de ofrecer a nuestros clientes los
                                        combustibles, PUMA MAX PREMIUM, en los vehículos nafteros y ION PUMA
                                        DIESEL en los vehículos con motores diésel. ¡Muchas gracias por tu
                                        participación!
                                        ¡Hasta pronto!</p>

                                    <a href="{{ path('cursopadre_certificado', { 'curso_padre_id' : cursoPadre.id }) }}"
                                       class="cta">Descargar</a>


                                </div>

                                <div class="classState">
                                    <img src={{ asset('dist/images/puma/done.png') }} />
                                    <p>Activo</p>
                                </div>

                            </div>

                        </div>

                    {% else %}

                        {% set counter = counter + 1 %}

                        <div class="single-class certificado disabled">

                            <div class="number col-lg-1">{{ counter }}</div>

                            <div class="content-class col-lg-11">

                                <div class="classContent">

                                    <h4 class="title">Certificado</h4>

                                    <p class="description">Fin del curso
                                        De este modo, hemos concluido con el curso de "{{ cursoPadre.titulo }}".
                                        Recordá siempre la importancia de ofrecer a nuestros clientes los
                                        combustibles, PUMA MAX PREMIUM, en los vehículos nafteros y ION PUMA DIESEL
                                        en los vehículos con motores diésel. ¡Muchas gracias por tu participación!
                                        ¡Hasta pronto!</p>

                                    <a href="#" class="cta">Descargar</a>


                                </div>

                                <div class="classState">
                                    <img src={{ asset('dist/images/puma/disabled.png') }} />
                                    <p>No disponible</p>
                                </div>

                            </div>

                        </div>

                    {% endif %}

                {% endif %}


                {#  Certificado del curso padre  #}


            </div>
        </div>
        <div class="container backAction">
            <div class="row">
                <a href="{{ path('homepage') }}">Volver</a>
            </div>
        </div>
    </div>
{% endblock %}