{% block page_content %}
{#    {% for curso in cursos %}#}
    {# Esto revisa el rol del usuario #}
    {% set esta = false %}
    {% for rol in curso.rolesAllowed %}
        {% if rol in empleado.user.roles %}
            {% set esta = true %}
        {% endif %}
    {% endfor %}
    {# Esto revisa el rol del usuario #}

    {% if esta %}

        {#				Curso con Material disponible #}

        {%  if curso_reducido %}

            {#			Curso iniciado porcentaje mayor a cero #}

            {% set continue = false %}
{#            {% for porcentaje in porcentaje_curso %}#}
{#                {% if porcentaje[0] == curso.id %}#}
{#                    {% if porcentaje[1] > 0 %}#}
{#                        {% set continue = true %}#}
{#                    {% endif %}#}
{#                {% endif %}#}
{#            {% endfor %}#}

            {#			Curso iniciado porcentaje mayor a cero #}

            {% if continue %}

                <div class="individual-course continue col-lg-5 col-12">
                    <div class="top">

{#                        {% for porcentaje in porcentaje_curso %}#}
{#                            {% if porcentaje[0] == curso.id %}#}

                                <div id="percent" name="percent" value="{{ porcentaje[1] }}">
                                    <div id="cont" data-pct="100">
                                        <svg id="svg" width="200" height="200" viewPort="0 0 100 100"
                                             version="1.1"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <circle r="90" cx="100" cy="100" fill="transparent"
                                                    stroke-dasharray="565.48"
                                                    stroke-dashoffset="0"></circle>
                                            <circle id="bar" r="90" cx="100" cy="100" fill="transparent"
                                                    stroke-dasharray="565.48"
                                                    stroke-dashoffset="0"></circle>
                                        </svg>
                                    </div>
                                </div>

{#                            {% endif %}#}
{#                        {% endfor %}#}
                    </div>

                    <div class="bottom">
                        <h3 class="title">{{ curso.titulo|truncate(25)|raw }}</h3>
                    </div>

                </div>

            {% else %}

                <div class="individual-course available col-lg-5 col-12">

                        <div class="cursoState"
                             style="background-image: url({{ asset('dist/images/puma/disponible.png') }})"></div>


                        <div class="bottom">
                            <h3 class="title">{{ curso.titulo }}</h3>
                        </div>

                </div>

            {% endif %}



        {% else %}


                {% if curso.activo %}

                    {#			Curso iniciado porcentaje mayor a cero #}

                    {% set continue = false %}
{#                    {% for porcentaje in porcentaje_curso %}#}
{#                        {% if porcentaje[0] == curso.id %}#}
{#                            {% if porcentaje[1] > 0 %}#}
{#                                {% set continue = true %}#}
{#                            {% endif %}#}
{#                        {% endif %}#}
{#                    {% endfor %}#}

                    {#			Curso iniciado porcentaje mayor a cero #}

                    {% if continue %}

                        <div class="individual-course continue col-lg-5 col-12">

                            {% if curso.imagen %}
                                <div class="top" style="background-image: url({{ asset(curso.imagen.WebPath) }})">
                                    <img src="{{ asset(curso.imagen.WebPath) }}">

{#                                    {% for porcentaje in porcentaje_curso %}#}
{#                                        {% if porcentaje[0] == curso.id %}#}

                                            <div id="percent" name="percent" value="{{ porcentaje[1] }}">
                                                <div id="cont" data-pct="100">
                                                    <svg id="svg" width="200" height="200" viewPort="0 0 100 100"
                                                         version="1.1"
                                                         xmlns="http://www.w3.org/2000/svg">
                                                        <circle r="90" cx="100" cy="100" fill="transparent"
                                                                stroke-dasharray="565.48"
                                                                stroke-dashoffset="0"></circle>
                                                        <circle id="bar" r="90" cx="100" cy="100" fill="transparent"
                                                                stroke-dasharray="565.48"
                                                                stroke-dashoffset="0"></circle>
                                                    </svg>
                                                </div>
                                            </div>
{#                                        {% endif %}#}
{#                                    {% endfor %}#}

                                </div>

                            {% else %}

                                <div class="top"
                                     style="background-image: url({{ asset('dist/images/puma/step2.png') }})">
                                    <img src="{{ asset('dist/images/puma/step2.png') }}">

{#                                    {% for porcentaje in porcentaje_curso %}#}
{#                                    {% if porcentaje[0] == curso.id %}#}

                                        <div id="percent" name="percent" value="{{ porcentaje[1] }}">
                                            <div id="cont" data-pct="100">
                                                <svg id="svg" width="200" height="200" viewPort="0 0 100 100"
                                                     version="1.1"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <circle r="90" cx="100" cy="100" fill="transparent"
                                                            stroke-dasharray="565.48"
                                                            stroke-dashoffset="0"></circle>
                                                    <circle id="bar" r="90" cx="100" cy="100" fill="transparent"
                                                            stroke-dasharray="565.48"
                                                            stroke-dashoffset="0"></circle>
                                                </svg>
                                            </div>
                                        </div>
{#                                    {% endif %}#}
{#                                    {% endfor %}#}

                                </div>

                            {% endif %}

                            <div class="bottom">
                                <h3 class="title">{{ curso.titulo }}</h3>
                                <p class="description">{{ curso.descripcion }}</p>
                                <a href="{{ path('curso_clase_front', { 'curso_padre_id': curso.id }) }}"
                                   class="continue">CONTINUAR</a>
                            </div>


                        </div>

                    {% else %}

                        <div class="individual-course available col-lg-5 col-12">
                            {% if curso.imagen %}

                                <div class="top" style="background-image: url({{ asset(curso.imagen.WebPath) }})">
                                    <img src="{{ asset(curso.imagen.WebPath) }}">
                                    <div class="cursoState"
                                         style="background-image: url({{ asset('dist/images/puma/disponible.png') }})"></div>
                                </div>

                            {% else %}

                                <div class="top"
                                     style="background-image: url({{ asset('dist/images/puma/step2.png') }})">
                                    <img src="{{ asset('dist/images/puma/step2.png') }}">
                                </div>

                                <div class="cursoState"
                                     style="background-image: url({{ asset('dist/images/puma/disponible.png') }})"></div>


                            {% endif %}

                            <div class="bottom">
                                <h3 class="title">{{ curso.titulo }}</h3>
                                <p class="description">{{ curso.descripcion }}</p>
                                <a href="{{ path('curso_clase_front', { 'curso_padre_id': curso.id }) }}">DISPONIBLE</a>
                            </div>

                        </div>

                    {% endif %}

                    {#					Curso con Material No disponible    #}

                {% else %}

                    <div class="individual-course col-lg-5 col-12">
                        {% if curso.imagen %}
                            <div class="top" style="background-image: url({{ asset(curso.imagen.WebPath) }})">
                                <img src="{{ asset(curso.imagen.WebPath) }}">

                                <div class="cursoState"
                                     style="background-image: url({{ asset('dist/images/puma/disabled.png') }})"></div>

                            </div>

                        {% else %}
                            <div class="top"
                                 style="background-image: url({{ asset('dist/images/puma/step2.png') }})">
                                <img src="{{ asset('dist/images/puma/step2.png') }}">

                                <div class="cursoState"
                                     style="background-image: url({{ asset('dist/images/puma/disabled.png') }})"></div>

                            </div>

                        {% endif %}
                        <div class="bottom">
                            <h3 class="title">{{ curso.titulo }}</h3>
                            <p class="description">{{ curso.descripcion }}</p>
                            <a href="#" class="cursoDisabled">BLOQUEADO</a>
                        </div>
                    </div>

                {% endif %}


            {% endif %}

    {% endif %}
{#{% endfor %}#}
{% endblock %}

{% block body_script_custom %}
    <script src="{{ asset('dist/scripts/main.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            var val = $('#percent').attr('value');

            var $circle = $('#svg #bar');

            if (isNaN(val)) {
                val = 0;
            } else {
                var r = $circle.attr('r');
                var c = Math.PI * (r * 2);

                if (val < 0) {
                    val = 0;
                }
                if (val > 100) {
                    val = 100;
                }

                var pct = ((100 - val) / 100) * c;

                $circle.css({strokeDashoffset: pct});

                $('#cont').attr('data-pct', val);
            }
        })
    </script>
{% endblock %}