{% extends '::base.html.twig' %}
{% block pagename %}develops{% endblock %}
{% block page_content %}
    <div class="container">
        <div class="row header_image">
            <div class="col-lg-12 col-md-12 col-sm-12"
                 style="background-image: url({{ asset('dist/images/puma/center-puma.png') }})">
                <img class="img_backHeader" src="{{ asset('dist/images/puma/center-puma.png') }}">
                <h1 class="title_header bold">
                    Tu conocimiento al próximo nivel
                </h1>
            </div>
        </div>

        <div class="courses-content">
            {% for curso in cursos %}
{#                % include '@Incentive/Frontend/Incentive/widgets/points-table-objetive.html.twig'#}
                {% include 'curso/estadodecurso.html.twig' with {
                    'empleado': app.user.employee,
                    'curso': curso,
                    'curso_reducido' : false,
                } only %}
{#                {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {#}
{#                    'curso': curso,#}
{#                } %}#}
            {% endfor %}

        </div>

        <div class="container backAction">
            <div class="row">
                <a href="{{ path('homepage') }}">Volver</a>
            </div>
        </div>

    </div>
    {% block body_script_custom %}
        <script src="{{ asset('dist/scripts/main.js') }}"></script>
        <script type="text/javascript">
            $(function () {
                var val = $('#percent').attr('value');

                var $circle = $('#svg #bar');

                if (isNaN(val)) {
                    val = 0;
                } else {
                    var r = $circle.attr('r');
                    var c = Math.PI * (r * 2);

                    if (val < 0) {
                        val = 0;
                    }
                    if (val > 100) {
                        val = 100;
                    }

                    var pct = ((100 - val) / 100) * c;

                    $circle.css({strokeDashoffset: pct});

                    $('#cont').attr('data-pct', val);
                }
            })
        </script>
    {% endblock %}

{% endblock %}