{% extends 'WebFactoryUserBundle::layout.html.twig' %}

{% block page_class %}first-login profile-page{% endblock %}

{% block body_scripts_optional %}
    <script type="text/javascript" src="{{ asset('dist/scripts/vendor/pass.js') }}"></script>
{% endblock %}
{% block web_factory_user_content %}

    {# http://jgestures.codeplex.com/ eventos para reemplazar por jquery-mobile #}

    <style>
        .password{
            position: relative;
        }
        .tool{
            width: 100%;
            margin-left: auto;
            padding: 5px;
            font-size: 12px;
            font-weight: bolder;
            cursor: pointer;
            position: absolute;
            right: 0;
            text-align: right;
        }
        .tool .info {
            visibility: hidden;
            background-color: #555;
            color: #fff;
            text-align: left;
            border-radius: 6px;
            width: 100%;
            left: 0;

            padding: 10px 10px 10px 35px;

            /* Position the tooltip text */
            position: absolute;
            z-index: 9;

            /* Fade in tooltip */
            opacity: 0;
            transition: opacity 0.3s;
        }

        /* Show the tooltip text when you mouse over the tooltip container */
        .tool:hover .info {
            visibility: visible;
            opacity: 1;
        }
    </style>



    <div class="container">
        <div class="formBox">
            <div class="formContainer row">
                <div class="col-md-4">
                    <p class="pw-error" style="display: none"></p>
                    {{ form_start(form,{attr:{class:"site_form center"}}) }}
                    {#<div class="form-head">#}
                        {#<img src="{{ asset('dist/images/profile-header.jpg') }}" alt="">#}
                        {#<div class="user-avatar" style=""></div>#}
                        {#<a href="#">Cambiar foto de perfil</a>#}
                    {#</div>#}

                    <legend>Datos Personales</legend>
                    <div class="container">{{ form_errors(form) }}</div>

                    {{ form_row(form.phoneAreaCode, {'help_block': 'phone_area_code_help_block'|trans}) }}
                    {{ form_row(form.phoneNumber, {'help_block': 'phone_number_help_block'|trans}) }}
                    {{ form_row(form.operator )}}
                    {{ form_row(form.email )}}
                    {{ form_row(form.current_password )}}
                    
                    <div class="password">

                        <div class="tool">
                            <svg version="1.1" id="Capa_1" width="17" height="17" fill="#62666994" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 330 330" style="enable-background:new 0 0 330 330;" xml:space="preserve">
                                <g>
                                    <path d="M165,0C74.019,0,0,74.02,0,165.001C0,255.982,74.019,330,165,330s165-74.018,165-164.999C330,74.02,255.981,0,165,0z
                                		 M165,300c-74.44,0-135-60.56-135-134.999C30,90.562,90.56,30,165,30s135,60.562,135,135.001C300,239.44,239.439,300,165,300z"/>
                                    <path d="M164.998,70c-11.026,0-19.996,8.976-19.996,20.009c0,11.023,8.97,19.991,19.996,19.991
                                		c11.026,0,19.996-8.968,19.996-19.991C184.994,78.976,176.024,70,164.998,70z"/>
                                    <path d="M165,140c-8.284,0-15,6.716-15,15v90c0,8.284,6.716,15,15,15c8.284,0,15-6.716,15-15v-90C180,146.716,173.284,140,165,140z
                                		"/>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                            </svg>
                            <ul class="info">
                                <li>Al menos 10 caracteres</li>
                                <li>Debe tener mayúsculas y minúsculas</li>
                                <li>No puede ser ninguna de las últimas 15 contraseñas utilizadas</li>
                                <li>No puede contener el nombre de usuario</li>
                            </ul>
                        </div>

                        {{ form_row(form.plainPassword.first )}}
                    </div>
                    {{ form_row(form.plainPassword.second )}}

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock web_factory_user_content %}
