{% extends '::base.html.twig' %}
{% block pagename %}initEmployees{% endblock %}
{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Activar Empleados',
    path: {
    },
    } only %}
{% endblock page_header %}

{% block page_content %}

    <div class="container">
        <div class="row header_image">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-image: url({{ asset('dist/images/puma/header-news.png') }})">
                <img src="{{ asset('dist/images/puma/header-news.png') }}">
            </div>
            <h2 class="title text-center bold">Activar Empleados</h2>

        </div>
    </div>


    <div class="container">
        <h4 class="title-area">Los siguientes usuarios estan esperando confirmación de activación.</h4>
        {% for employee in pagination %}
                <div class="cardEmployee">
                    <div class="data-employee">
                        <div class="avatar">
                            <img src="{{ asset('dist/images/puma/playero-avatar.png') }}" />
                        </div>
                        <div class="info">
                            <p><strong>{{ employee.nombre }} {{ employee.apellido }}</strong></p>
                            <p>{{ employee.dni }}</p>
                        </div>
                    {% for provincia in provincias %}
                        {% if employee.provincia == provincia.id %}
                            <div class="info">{{ provincia.nombre }}</div>
                        {% endif %}
                    {% endfor %}
                    {% for localidad in localidades %}
                        {% if employee.localidad == localidad.id %}
                            <div class="info">{{ localidad.nombre }}</div>
                        {% endif %}
                    {% endfor %}
                    {% for store in stores %}
                        {% if employee.store == store.id %}
                            <div class="info">{{ store.location }}</div>
                        {% endif %}
                    {% endfor %}
                    </div>
                    <div class="contacto">
                        <p>{{ employee.email }}</p>
                    </div>

                    <div class="cta" style="margin-right:1%;">
                        <a href="{{ path('aper_my_employees_registered_activate', {'id': employee.id}) }}">Activar</a>
                    </div>
					
                    <div class="cta" style="margin-right:1%;">
                        <a href="{{ path('aper_my_employees_real_delete', {'id': employee.id}) }}">Rechazar</a>
                    </div>
                </div>
        {% endfor %}

        {{ grid_pagination(pagination) }}

    </div>
{% endblock page_content %}