{% extends '::base.html.twig' %}
{% block pagename %}communications{% endblock %}

{% block page_logo %}
    <div class="hidden-xs hidden-sm">
        {{ parent() }}
    </div>
    <div class="hidden-md hidden-lg comunicacion">
        <img src="{{ asset('dist/images/puma/logo-puma.png') }}">
    </div>
{% endblock %}


{% set roleHeadOffice = false %}
{% set user = app.user %}
{% if user %}
    {% for role in user.roles if not roleHeadOffice %}
        {% if role == 'ROLE_HEAD_OFFICE'%}
            {% set roleHeadOffice = true %}
        {% endif %}
    {% endfor %}
{% else %}
    {% set roleHeadOffice = false %}
{% endif %}


{% block page_content %}

    <style type="text/css">
        .new-body {
            text-align: justify;
            text-justify: inter-word;
            word-break: normal;
        }
    </style>

    <div class="container">

        <div class="row header_image">
            <div class="communications-active-bg"></div>
            <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs" style="background-image: url({{ asset('dist/images/puma/header-news.png') }})">
                <img class="img_backHeader" src="{{ asset('dist/images/puma/header-news.png') }}">
                <h4 class="header-title">Nuestras Novedades</h4>
            </div>
            <div class="col-xs-12 hidden-sm hidden-md hidden-lg" style="background-image: url({{ asset('dist/images/puma/header-news.png') }})">
                <img class="img_backHeader" src="{{ asset('dist/images/puma/header-news.png') }}">
                <h4 class="header-title">Nuestras Novedades</h4>
            </div>
        </div>

        <div class="comunicados-headline 4 row">

            <form method="get" action="" class="form-inline pull-right" role="search">
                <div class="form-group select-class">

                    <select class="form-control" id="category" name="category"
                            value="{{ app.request.get('categories') }}">

                        <option value="" selected>Todas las Categorías</option>

                        {% for cat in categories %}

                            {% if app.request.query.get("category") == cat.id %}
                                <option value="{{ cat.id }}" selected>{{ cat.name }}</option>
                            {% else %}
                                <option value="{{ cat.id }}">{{ cat.name }}</option>
                            {% endif %}

                        {% endfor %}
                    </select>
                    <span class="input-group-addon"><i class="fa fa-caret-down"></i></span>

                </div>

                {% set sinceVal = app.request.get('since') %}
                {% set untilVal = app.request.get('until') %}

                {% if app.request.query.get("since") %}
                    {% set sinceVal = app.request.query.get("since") %}
                {% endif %}

                {% if app.request.query.get("until") %}
                    {% set untilVal = app.request.query.get("until") %}
                {% endif %}


                <div class="form-group date-range">
                    <div class="input-group">

                        <input type='' class="js-datepicker" placeholder="Desde" id="since" name="since"
                               value="{{ sinceVal }}"/>

                        <span class="input-group-addon"><i class="fa fa-caret-down"></i></span>
                    </div>
                </div>

                <div class="form-group date-range">
                    <div class="input-group">

                        <input type='' class="js-datepicker" placeholder="Hasta" id="until" name="until"
                               value="{{ untilVal }}"/>

                        <span class="input-group-addon"><i class="fa fa-caret-down"></i></span>
                    </div>
                </div>

            </form>

            <div class="clearfix "></div>

        </div>

        <div class="comunicados-content">

            {% if pagination|length >= 1 %}

                <h2 class="bold have-cont-h2">
                    {% if (app.request.query.get("category") or sinceVal or untilVal) %}
                        RESULTADOS DE LA BÚSQUEDA
                    {% else %}
                        ÚLTIMAS NOVEDADES
                    {% endif %}
                </h2>

                <div class="content-news">

                    <div class="row">

                        {% for news in pagination %}

                            <div class="col-sm-12 col-lg-6 new" id="{{ news.id }}">

                                <div class="img-cont">
                                    {% if news.mainimage %}
                                        <a class="" href="{{ path('frontend_news_show',{id:news.id}) }}">
                                            <div class="the-img" style="width: 100%;padding-bottom: 56%;background: url({{ asset(news.mainimage.webPath) }}) center /contain no-repeat;"></div>
                                        </a>
                                        <a class="medium read-more" href="{{ path('frontend_news_show',{id:news.id}) }}"> Más Información</a>
                                    {% endif %}
                                </div>

{#                                <div class="new-date">#}
{#                                    <i class="fa fa-clock-o" aria-hidden="true"></i> Publicado el#}
{#                                    <span>{{ news.createdAt|date('l')|trans }} {{ news.createdAt|date('d') }} {{ news.createdAt|date('F')|trans }}</span> en#}
{#                                    <span>{{ news.category|trans }}</span>#}
{#                                </div>#}

                                <a class="title-link" href="{{ path('frontend_news_show',{id:news.id}) }}">
                                    <div class="new-title bold">{{ news.title }}</div>
                                </a>

                                <div class="new-body">{{ news.content|striptags|truncate(200, true)|raw }}</div>

                            </div>

                        {% endfor %}

                    </div>
                </div>


            {% else %}
                <h2 class="bold"> NO SE HAN ENCONTRADO NOVEDADES </h2>
            {% endif %}

        </div>
        {{ grid_pagination(pagination) }}
    </div>

{% endblock page_content %}

{% block body_scripts_optional %}
    {{ parent() }}
    <script>
        $('.js-datepicker').datetimepicker({format: 'DD/MM/YYYY', locale: 'es'});

        $('#category').change(function () {

            $('form').submit();

        });



        var weekday = new Array(7);
        weekday[0] = "Domingo";
        weekday[1] = "Lunes";
        weekday[2] = "Martes";
        weekday[3] = "Miércoles";
        weekday[4] = "Jueves";
        weekday[5] = "Viernes";
        weekday[6] = "Sabado";

        var monthNames = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
            "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
        ];



    </script>
{% endblock %}