{% extends 'base.html.twig' %}

{% block pagename %}communications
{% endblock %}
{% block head_javascripts_optional %}{% endblock %}
{% block head_stylesheets_custom %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css"/>
{% endblock %}

{% block page_header %}
	{% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'page_header.aper.news.show.title'|trans,
    path: {
    index: {uri: path('aper_news_index')},
    edit: {uri: path('aper_news_edit', {'id': news.id})},
    delete: {uri: path('aper_news_delete', {'id': news.id})},
    },

    } only %}
{% endblock page_header %}


{% block page_content %}
	<div class="container single-new">

		<div class="row header_image">
			<div class="col-lg-12 col-md-12 col-sm-12 hidden-xs" style="background-image: url({{ asset('dist/images/puma/header-news.png') }})">
				<img class="img_backHeader" src="{{ asset('dist/images/puma/header-news.png') }}">
				<h4 class="header-title">COMUNICADOS</h4>
			</div>
			<div class="col-xs-12 hidden-sm hidden-md hidden-lg" style="background-image: url({{ asset('dist/images/puma/header-news.png') }})">
				<img class="img_backHeader" src="{{ asset('dist/images/header-news.png') }}">
				<h4 class="header-title">COMUNICADOS</h4>
			</div>
		</div>

		{# <div class="comunicados-headline 3">
			<div style="padding: 0 15px">
				<h2 class="medium" style="font-size: 18px;margin: 0;padding: 20px 0">COMUNICADOS</h2>
			</div>
		</div> #}

		<div class="new-content">
			<div class="col-sm-5 visible-sm visible-md visible-lg hidden-xs">
				<div class="new-image">
					{% if news.urlvideo %}
						<div class="iframeContainer">
							<div></div>
							{{ news.urlvideo|videoEmbed({ related: 0 })|raw }}
						</div>
					{% else %}
						{% if news.mainimage %}
							<img src="{{ asset(news.mainimage.webPath) }}" class="img-responsive"/>
						{% endif %}
					{% endif %}
				</div>
				{% if news.gallery|length > 0 %}
					<div class="new-gallery">
						{% for galeria in news.gallery %}
							{% if loop.index > 1 %}
								<a class="hidden" data-fancybox="group2" data-type="image" href="{{ asset(galeria.webPath) }}">
									<img class="img-responsive" src=" {{ asset(galeria.webPath) }}">
								</a>
							{% else %}
								<div class="text-center">
									<a class="gallery-btn" data-fancybox="group2" data-type="image" href="{{ asset(galeria.webPath) }}" title="Ver galería">Ver Galería
									</a>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				{% endif %}
			</div>
			<div class="col-sm-7 the-content">
				<div class="publish-date medium">
					<i class="fa fa-clock-o" aria-hidden="true"></i>
					Publicado el
					<span>{{ news.createdAt|date('l')|trans }}
						{{ news.createdAt|date('d') }}
						{{ news.createdAt|date('F')|trans }}</span>
					en
					<span>{{ news.category|trans }}</span>
				</div>
				<h2 class="the-title medium">{{ news.title }}</h2>
				<div class="new-image visible-xs">
					{% if news.urlvideo %}
						<div class="iframeContainer">
							<div></div>
							{{ news.urlvideo|videoEmbed({ related: 0 })|raw }}
						</div>
					{% else %}
						{% if news.mainimage %}
							<img src="{{ asset(news.mainimage.webPath) }}" class="img-responsive"/>
						{% endif %}
					{% endif %}
					{% if news.gallery|length > 0 %}
						<div class="new-gallery">
							{% for galeria in news.gallery %}
								{% if loop.index > 1 %}
									<a class="hidden" data-fancybox="group" data-type="image" href="{{ asset(galeria.webPath) }}">
										<img class="img-responsive" src=" {{ asset(galeria.webPath) }}">
									</a>
								{% else %}
									<div class="text-center">
										<a class="gallery-btn" data-fancybox="group" data-type="image" href="{{ asset(galeria.webPath) }}" title="Ver galería">Ver Galería
										</a>
									</div>
								{% endif %}
							{% endfor %}
						</div>
					{% endif %}
				</div>
				<div class="inner-content">
					{{ news.content|raw }}
				</div>
			</div>
			<div class="clearfix"></div>
		</div>

		<div class="related-news">

			{% if relatedNews %}
				<h3 class="medium" style="">NOTAS RELACIONADAS</h3>
			{% endif %}

			{% for news in relatedNews %}

				<a href="{{ path('frontend_news_show',{id:news.id}) }}">
					<div class="col-sm-3">
						{% if news.mainimage %}
							<div class="the-img" style="width: 100%;padding-bottom: 56%;background: url({{ asset(news.mainimage.webPath) }}) center /cover no-repeat;"></div>
						{% endif %}

						<div class="publish-date medium">
							<i class="fa fa-clock-o" aria-hidden="true"></i>
							Publicado el
							<span>{{ news.createdAt|date('l')|trans }}
								{{ news.createdAt|date('d') }}
								{{ news.createdAt|date('F')|trans }}</span>
							en
							<span>{{ news.category|trans }}</span>
						</div>
						<h2 class="the-title medium">{{ news.title }}</h2>
					</div>
				</a>

			{% endfor %}

		</div>
	</div>
{% endblock %}
{% block body_scripts_optional %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>
	<script type="text/javascript">
		$("[data-fancybox]").fancybox({
thumbs: {
showOnStart: true,
autoStart: true, // Display thumbnails on opening
hideOnClose: true // Hide thumbnail grid when closing animation starts
}
});
	</script>
{% endblock %}
