{% extends '::base.html.twig' %}
{% block pagename %}communications{% endblock %}

{% block page_logo %}
    <div class="hidden-xs hidden-sm">
        {{ parent() }}
    </div>
    <div class="hidden-md hidden-lg comunicacion">
        <img src="{{ asset('dist/images/logo_comunicacion.png') }}">
    </div>
{% endblock %}

{# {% set currentRole =  is_granted('ROLE_EMPLOYEE') ? 'ROLE_EMPLOYEE' : '-'  %} #}
{% block page_content %}
    <div class="container">

        <div class="row header_image">
            <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs" style="background-image: url({{ asset('dist/images/puma/header-news.png') }})">
                <img class="img_backHeader" src="{{ asset('dist/images/puma/header-news.png') }}">
            </div>
            <div class="col-xs-12 hidden-sm hidden-md hidden-lg" style="background-image: url({{ asset('dist/images/puma/header-news.png') }})">
                <img class="img_backHeader" src="{{ asset('dist/images/header-news.png') }}">
            </div>
        </div>

        <div class="contact-headline row">

            <h2 class="col-sm-12 medium">BUSCAR CONTACTOS</h2>

            <form method="get" action="" class="col-sm-12 form-inline" role="search">

                {% set fullnameVal = app.request.get('fullname') %}
                {% set areaVal = app.request.get('areas') %}
                {% set storeVal = app.request.get('store') %}
                {% set provinceVal = app.request.get('provincias') %}

                {% if app.request.query.get("fullname") %}
                    {% set fullnameVal = app.request.query.get("fullname") %}
                {% endif %}
                {% if app.request.query.get("area") %}
                    {% set areaVal = app.request.query.get("area") %}
                {% endif %}
                {% if app.request.query.get("store") %}
                    {% set storeVal = app.request.query.get("store") %}
                {% endif %}
                {% if app.request.query.get("province") %}
                    {% set provinceVal = app.request.query.get("province") %}
                {% endif %}

                <div class="form-group input-class col-sm-12 col-md-4">
                    <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Nombre y/o apellido" value="{{ fullnameVal }}">
                </div>

                <div class="form-group select-class col-sm-12 col-md-4">
                    <select class="form-control" id="area" name="area">

                        <option value="" selected>Departamento (Áreas/Complejos)</option>

                        {% for area in areas %}

                            {% if areaVal == area.area %}
                                <option value="{{ area.area }}" selected>{{ area.area }}</option>
                            {% else %}
                                <option value="{{ area.area }}">{{ area.area }}</option>
                            {% endif %}

                        {% endfor %}

                    </select>
                    <select class="form-control" id="store" name="store">

                        <option value="" selected>Localización</option>

                        {% for contacto in stores %}

                            {% if storeVal == contacto.id %}
                                <option value="{{ contacto.id }}" selected>{{ contacto.location }}</option>
                            {% else %}
                                <option value="{{ contacto.id }}">{{ contacto.location }}</option>
                            {% endif %}

                        {% endfor %}

                    </select>
                </div>

                <div class="form-group select-class col-sm-12 col-md-4">
                    <div class="form-group select-class">
                        <select class="form-control" id="province" name="province">

                            <option value="" selected>Provincia</option>

                            {% for provincia in provincias %}

                                {% if provinceVal == provincia %}
                                    <option value="{{ provincia }}" selected>{{ provincia }}</option>
                                {% else %}
                                    <option value="{{ provincia }}">{{ provincia }}</option>
                                {% endif %}

                            {% endfor %}

                        </select>
                    </div>
                    <button type="submit">BUSCAR <i class="fa fa-search"></i></button>
                </div>

            </form>

            <div class="clearfix "></div>

        </div>

        <div class="comunicados-content">

            {% if pagination|length >= 1 %}
                <h2 class="bold have-cont-h2">
                    RESULTADOS DE LA BÚSQUEDA
                </h2>

                <div class="content-contact">
                    <div class="row">
                        {% for contact in pagination %}
                            <div class="panel col-sm-12 col-lg-4 contact" id="{{ contact.id }}">
                                <div class="panel-heading">
                                    <div class="contact-img">
                                        {% if contact.employee.profile.avatar %}
                                            <img src={{ asset(contact.employee.profile.avatar.webPath) }} class="img-circle empty-avatar">
                                        {% else %}
                                            <img src="{{ asset("/dist/images/empty-avatar-white.png") }}" class="img-circle empty-avatar">
                                        {% endif %}
                                    </div>
                                    <span>{{ contact.employee.profile.name }}</span>
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <strong>ÁREA/CINE:</strong>
                                        <span>{{ contact.employee.area }}</span>
                                    </li>
                                    <li class="list-group-item">
                                        <strong>PUESTO:</strong>
                                        <span>{{ contact.employee.category }}</span>
                                    </li>
                                    
                                    {% if not is_granted('ROLE_EMPLOYEE')%}
                                        <li class="list-group-item">
                                            <strong>EMAIL:</strong>
                                            <span>{{ contact.employee.profile.corpmail }}</span>
                                        </li>
                                        <li class="list-group-item">
                                            <strong>TEL. OFICINA:</strong>
                                            <span>{{ contact.employee.profile.officePhone }}</span>
                                        </li>
                                        {# <li class="list-group-item">
                                            <strong>CELULAR:</strong>
                                            <span>{{ contact.employee.profile.phonenumber }}</span>
                                        </li> #}
                                    {% endif %}
                                    
                                    <li class="list-group-item">
                                        <strong>LOCALIZACIÓN:</strong>
                                        <span>{{ contact.employee.store.location }}</span>
                                    </li>
                                    <li class="list-group-item">
                                        <strong>PROVINCIA:</strong>
                                        <span>{{ contact.employee.profile.province }}</span>
                                    </li>
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                {% if pagination|length >= 9 %}
                    <div class="row">
                        <a class="medium load-more" href="#">
                            <i class="fa fa-rotate-right" aria-hidden="true"></i> Cargar más contactos
                        </a>
                    </div>
                {% endif %}
            {% else %}
                <h2 class="bold"> NO SE HAN ENCONTRADO CONTACTOS </h2>
            {% endif %}
        </div>
    </div>
{% endblock page_content %}

{% block body_scripts_optional %}
    {{ parent() }}
    <script>

        var currentPage = 1;

        $('a.load-more').on('click', function (e) {
            e.preventDefault();
            e.stopImmediatePropagation();

            $('a.load-more i').removeClass('fa-rotate-right');
            $('a.load-more i').addClass('fa fa-circle-o-notch fa-spin fa-fw');

            currentPage++;

            var url = document.location.href;

            if (url.indexOf('?') !== -1) {
                url = url + '&page=' + currentPage;
            } else {
                url = url + '?page=' + currentPage;
            }

            if (currentPage > 0) {

                $.ajax({
                    url: url,
                    type: 'json',
                    success: function (res) {

                        var res = $.parseJSON(res);
                        var isEmployee = '{{is_granted('ROLE_EMPLOYEE')}}';

                        if (res.length < 9) {
                            currentPage = 0;
                            $('.load-more').hide();
                        }

                        for (var key in res) {
                            var html = '<div class="panel col-sm-12 col-lg-4 contact">';
                                    html += '<div class="panel-heading">';
                                        html += '<div class="contact-img">';
                                            if(res[key].avatar){
                                                html += '<img src="{{ asset("url_img") }}" class="img-circle empty-avatar">';
                                                html = html.replace('url_img', res[key].avatar);
                                            }else{
                                                html += '<img src="{{ asset("/dist/images/empty-avatar-white.png") }}" class="img-circle empty-avatar">';
                                            }
                                        html += '</div>';
                                        html += '<span>'+ res[key].fullname +'</span>';
                                    html += '</div>';
                                html += '<ul class="list-group">';
                                    html += '<li class="list-group-item">';
                                        html += '<strong>ÁREA:</strong>';
                                        html += '<span>'+ res[key].area +'</span>';
                                    html += '</li>';
                                    html += '<li class="list-group-item">';
                                        html += '<strong>PUESTO:</strong>';
                                        html += '<span>'+ res[key].jobposition +'</span>';
                                    html += '</li>';
                                    
                                    if (!isEmployee) {
                                        html += '<li class="list-group-item">';
                                            html += '<strong>EMAIL:</strong>';
                                            if(res[key].corpmail != null)
                                                html += '<span>'+ res[key].corpmail +'</span>';
                                            else
                                                html += '<span></span>';
                                        html += '</li>';
                                    
                                        html += '<li class="list-group-item">';
                                            html += '<strong>TEL. OFICINA:</strong>';
                                            if(res[key].officenumber != null)
                                                html += '<span>'+ res[key].officenumber +'</span>';
                                            else
                                                html += '<span></span>';
                                        html += '</li>';
                                        
                                    //     html += '<li class="list-group-item">';
                                    //         html += '<strong>CELULAR:</strong>';
                                    //         if(res[key].mobile != null)
                                    //             html += '<span>'+ res[key].mobile +'</span>';
                                    //         else
                                    //             html += '<span></span>';
                                    //     html += '</li>';
                                    }
                                    
                                    html += '<li class="list-group-item">';
                                        html += '<strong>LOCALIZACIÓN:</strong>';
                                        if(res[key].store != null)
                                            html += '<span>'+ res[key].store +'</span>';
                                        else
                                            html += '<span></span>';
                                    html += '</li>';
                                    html += '<li class="list-group-item">';
                                        html += '<strong>PROVINCIA:</strong>';
                                        if(res[key].province != null)
                                            html += '<span>'+ res[key].province +'</span>';
                                        else
                                            html += '<span></span>';
                                    html += '</li>';
                                html += '</ul>';
                            html += '</div>';

                            $('.content-contact .row').append(html);

                        }

                        $('a.load-more i').removeClass('fa fa-circle-o-notch fa-spin fa-fw');
                        $('a.load-more i').addClass('fa fa-rotate-right');

                    }
                });
            }

        });

    </script>
{% endblock %}