{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Menú de Cursos',
    path: {
        edit: {uri: path('cursopadre_edit', { 'id': cursoPadre.id })},
    },
    } only %}
{% endblock page_header %}


{% block page_content %}
{#    <div class="table-responsive">#}
{#        {{ grid_filter_form(filter_form) }}#}
    <table class="table">
        <tbody>
        <tr>
            <th>Titulo</th>
            <td>{{ cursoPadre.titulo }}</td>
        </tr>
        <tr> <th> Relanzar curso  </th> <td><a href="{{ path('relanzar_curso_padre', {'curso_id': cursopadre.id}) }}">Relanzar</a></td></tr>
        <tr>
            <th>Descripcion</th>
            <td>{{ cursoPadre.descripcion }}</td>
        </tr>
        <tr>
            <th>{{ 'Roles allowed'|trans }}</th>
            <td>
                <ul class="list-unstyled">
                    {% for role in cursoPadre.rolesAllowed %}
                        <li>{{ role|trans }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        </tr>



       <tr>
            <th>Examen Previo</th>
            <td>
                <ul class="list-unstyled">
                {% if cursopadre.examenPrevio %}
                    <li>Título: {{ cursopadre.examenPrevio.titulo | default('') }}</li>
                    <li>Nro de Preguntas: {{ cursopadre.examenPrevio.cantPreg | default('') }}</li>
                    <li>% de Aprobación: {{ cursopadre.examenPrevio.porcentajeAprobacion | default('') }}</li>
                    <li><a href="{{ path('examen_curso_show', {'id': cursopadre.examenPrevio.id}) }}">Ver</a></li>
                    <li><a href="{{ path('examen_curso_edit', {'id': cursopadre.examenPrevio.id}) }}">Editar</a></li>
                {% else %}
                    <li><a href="{{ path('ex_previo_curso_new', {'id': cursopadre.id}) }}">Nuevo</a></li>
                {% endif %}
                </ul>
            </td>
        </tr>
        <tr>
            <th>Examen Posterior</th>
            <td>
                <ul class="list-unstyled">
                {% if cursopadre.examenFinal %}
                    <li>Título: {{ cursopadre.examenFinal.titulo | default('') }}</li>
                    <li>Nro de Preguntas: {{ cursopadre.examenFinal.cantPreg | default('') }}</li>
                    <li>% de Aprobación: {{ cursopadre.examenFinal.porcentajeAprobacion | default('') }}</li>
                    <li><a href="{{ path('examen_curso_show', {'id': cursopadre.examenFinal.id}) }}">Ver</a></li>
                    <li><a href="{{ path('examen_curso_edit', {'id': cursopadre.examenFinal.id}) }}">Editar</a></li>
               {% else %}
                    <li><a href="{{ path('ex_final_curso_new', {'id': cursopadre.id}) }}">Nuevo</a></li>
                {% endif %}
                </ul>
            </td>
        </tr>
        <tr>
            <th>Encuesta</th>
            <td>
                <ul class="list-unstyled">
                {% if cursopadre.encuesta %}
                    <li>Título: {{ cursopadre.encuesta.titulo | default('') }}</li>
                    <li>Nro de Preguntas: {{ cursopadre.encuesta.cantPreg | default('') }}</li>
{#                    <li>% de Aprobación: {{ cursopadre.encuesta.porcentajeAprobacion | default('') }}</li>#}
                    <li><a href="{{ path('examen_curso_show', {'id': cursopadre.encuesta.id}) }}">Ver</a></li>
                    <li><a href="{{ path('examen_curso_edit', {'id': cursopadre.encuesta.id}) }}">Editar</a></li>
                {% else %}
                    <li> <a href="{{ path('encuesta_curso_new', {'id': cursopadre.id}) }}">Nuevo</a></li>
                {% endif %}
                </ul>
            </td>
        </tr>
        <tr>
            <th> Imágen principal </th>
            {% if cursoPadre.imagen %}
                <td>  <img src=" {{ asset(cursoPadre.imagen.webPath) }}" height="200"/>   </td>
            {% else %}
                <td>  N/D </td>
            {% endif %}
        </tr>
        <tr>
            <th>Contenido de las Clases</th>
            <td>
                {% if cursoPadre.contenidoDeClases %}
                    <a href="{{ path('contenido_de_clase_index', {'id': cursoPadre.id}) }}">Ver</a></br>
                {% endif %}
                <a href="{{ path('contenido_de_clase_new', {'id': cursoPadre.id}) }}">Nuevo</a>
            </td>
        </tr>
{#        <tr>#}
{#            <th><h2>Capacitaciones:</h2></th>#}
{#            <td></br><a href="{{ path('aper_course_new', { 'id': cursoPadre.id }) }}" class="btn">Nuevo Capacitación</a></td>#}
{#        </tr>#}
        </tbody>
    </table>
{#    <table class="table table-striped table-bordered table-hover">#}
{#        <thead>#}
{#        <tr>#}
{#            <th>Nombre</th>#}
{#            <th>Categoría</th>#}
{#            <th>Carpeta</th>#}
{#            <th>Contenido de la Capacitación</th>#}
{#            <th>Estado</th>#}
{#            <th>{{ 'Roles allowed'|trans }}</th>#}
{#            <th>{{ 'Actions'|trans }}</th>#}
{#        </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        {% for course in pagination %}#}
{#            <tr data-id="{{ course.id }}">#}
{#                <td>{{ course.title }}</td>#}
{#                <td>{{ course.category|trans }}</td>#}
{#                <td>{{ course.trainingFolder|trans }}</td>#}
{#                <td>{{ course.content|raw }}</td>#}
{#                <td>{% if course.active == 1 %}#}
{#                        <b>   <span class="text-success">Activa</span></b>#}
{#                    {% elseif course.active == 0 %}#}
{#                        <b> <span class="text-danger">Inactiva</span> </b>#}
{#                    {% endif %}</td>#}
{#                <td>#}
{#                    <ul class="list-unstyled">#}
{#                        {% for role in course.rolesAllowed %}#}
{#                            {%  if role != 'ROLE_ADMIN' %}#}
{#                            <li>{{ role|trans }}</li>#}
{#                            {% endif %}#}
{#                        {% endfor %}#}
{#                    </ul>#}
{#                </td>#}
{#                <td>#}
{#                    <a href="{{ path('aper_course_show', {id: course.id }) }}" class="btn"#}
{#                       onclick="">{{ 'actions.show.label'|trans }}</a>#}
{#                    <a href="{{ path('aper_course_edit', {id: course.id }) }}"#}
{#                       class="btn">{{ 'actions.edit.label'|trans }}</a>#}
{#                    <a href="{{ path('aper_course_delete', {id: course.id }) }}"#}
{#                       class="btn btn btn-danger btn-delete"#}
{#                       onclick="return confirm('{{ 'Desea eliminar la capacitación?' }}')">{{ 'actions.delete.label'|trans }}</a>#}
{#                    <a href="{{ path('lista_resultados_examenes_index', {id: course.id }) }}"#}
{#                       class="btn">{{ 'Ver Resultados' }}</a>#}
{#                    <a href="{{ path('relanzar_curso', {'curso_id': course.id }) }}" class="btn btn btn-danger btn-delete"#}
{#                       onclick="return confirm('{{ 'Desea reiniciar los examenes de este curso?' }}')">{{ 'Reiniciar Examenes' }}</a>#}
{#                </td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#        </tbody>#}
{#    </table>#}
{#    <br>#}

{#        {{ grid_pagination(pagination) }}#}

{#    </div>#}
{% endblock page_content %}