{% extends 'base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Ver Capacitación'|trans,
    path: {
    index: {uri: path('aper_course_index',{'cursopadre': course.cursoPadre.id})},
    edit: {uri: path('aper_course_edit', {'id': course.id})},
    delete: {uri: path('aper_course_delete', {'id': course.id})},
    },

    } only %}
{% endblock page_header %}


{% block page_content %}
    <table class="table">
        <tbody>
        <tr>
            <th> Titulo </th>
            <td>{{ course.title}}</td>
        </tr>
        <tr>
            <th> Contenido </th>
            <td>{{ course.content|raw }}</td>
        </tr>
        <tr>
            <th>{{ 'Category'|trans }}</th>
            <td>{{ course.category|trans }}</td>
        </tr>
        <tr>
            <th>{{ 'Folder'|trans }}</th>
            <td>{{ course.trainingFolder|trans }}</td>
        </tr>
        <tr>
            <th>{{ 'Roles allowed'|trans }}</th>
            <td>
                <ul class="list-unstyled">
                    {% for role in course.rolesAllowed %}
                        <li>{{ role|trans }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <th>Activo</th>
            <td>{% if course.active %}{{ 'Yes'|trans }}{% else %}{{ 'No'|trans }}{% endif %}</td>
        </tr>
        <tr>
            <th>Examen Previo</th>
            <td>
                <ul class="list-unstyled">
                {% if course.examenPrevio %}
                    <li>Título: {{ course.examenPrevio.titulo | default('') }}</li>
                    <li>Nro de Preguntas: {{ course.examenPrevio.cantPreg | default('') }}</li>
                    <li>% de Aprobación: {{ course.examenPrevio.porcentajeAprobacion | default('') }}</li>
                    <li><a href="{{ path('examen_show', {'id': course.examenPrevio.id}) }}">Ver</a></li>
                    <li><a href="{{ path('examen_edit', {'id': course.examenPrevio.id}) }}">Editar</a></li>
                {% else %}
                    <li><a href="{{ path('ex_previo_new', {'id': course.id}) }}">Nuevo</a></li>
                {% endif %}
                </ul>
            </td>
        </tr>
        <tr>
            <th>Examen Posterior</th>
            <td>
                <ul class="list-unstyled">
                {% if course.examenFinal %}
                    <li>Título: {{ course.examenFinal.titulo | default('') }}</li>
                    <li>Nro de Preguntas: {{ course.examenFinal.cantPreg | default('') }}</li>
                    <li>% de Aprobación: {{ course.examenFinal.porcentajeAprobacion | default('') }}</li>
                    <li><a href="{{ path('examen_show', {'id': course.examenFinal.id}) }}">Ver</a></li>
                    <li><a href="{{ path('examen_edit', {'id': course.examenFinal.id}) }}">Editar</a></li>
               {% else %}
                    <li><a href="{{ path('ex_final_new', {'id': course.id}) }}">Nuevo</a></li>
                {% endif %}
                </ul>
            </td>
        </tr>
        <tr>
            <th>Encuesta</th>
            <td>
                <ul class="list-unstyled">
                {% if course.encuesta %}
                    <li>Título: {{ course.encuesta.titulo | default('') }}</li>
                    <li>Nro de Preguntas: {{ course.encuesta.cantPreg | default('') }}</li>
{#                    <li>% de Aprobación: {{ course.encuesta.porcentajeAprobacion | default('') }}</li>#}
                    <li><a href="{{ path('examen_show', {'id': course.encuesta.id}) }}">Ver</a></li>
                    <li><a href="{{ path('examen_edit', {'id': course.encuesta.id}) }}">Editar</a></li>
                {% else %}
                    <li> <a href="{{ path('encuesta_new', {'id': course.id}) }}">Nuevo</a></li>
                {% endif %}
                </ul>
            </td>
        </tr>

            <th> Imágen principal </th>
        {% if course.mainimage.webPath %}
            <td>  <img src=" {{ asset(course.mainimage.webPath) }}" height="200"/>   </td>
        {% else %}
            <td>  N/D </td>
        {% endif %}
        </tr>

        <th> Adjunto </th>
        {% if course.pdf.webPath %}
            <td>  <a href="{{ asset(course.pdf.WebPath) }}">Descargar</a></td>
        {% else %}
            <td>  N/D </td>
        {% endif %}

        </tr>
        <tr>
        <th>Contenido de las Clases</th>
            <td>
            {% if course.contenidoDeClases %}
                <a href="{{ path('contenido_de_clase_index', {'id': course.id}) }}">Ver</a></br>
            {% endif %}
                <a href="{{ path('contenido_de_clase_new', {'id': course.id}) }}">Nuevo</a>
            </td>
        </tr>

        </tbody>
    </table>
{% endblock %}