{% extends '::base.html.twig' %}
{% block pagename %}incentives{% endblock %}
{% block page_logo %}
    <div class="hidden-xs hidden-sm">
        {{ parent() }}
    </div>
    <div class="hidden-md hidden-lg incentivo">
        <img src="{{ asset('dist/images/puma/logo-puma.png') }}">
    </div>
{% endblock %}

{% set roleHeadOffice = false %}
{% set user = app.user %}
{% if user %}
{% for role in user.roles if not roleHeadOffice %}
    {% if role == 'ROLE_HEAD_OFFICE'%}
        {% set roleHeadOffice = true %}
    {% endif %}
{% endfor %}
{% else %}
    {% set roleHeadOffice = false %}
{% endif %}

{% block page_content %}
<link rel="shortcut icon" href="/pumaenergy/web/favicon.ico" type="image/x-icon">
<link rel="icon" href="/pumaenergy/web/favicon.ico" type="image/x-icon">

<link rel="stylesheet" type="text/css" href="/pumaenergy/web/dist/styles/main.css"/>
<link rel="stylesheet" type="text/css" href="/pumaenergy/web/stylesheet/general.css"/>
<link rel="stylesheet" type="text/css" href="/pumaenergy/web/fonts/font-awesome/css/font-awesome.css"/>



<form name="account" method="post" action="#" novalidate="novalidate" class="site_form center">
                                                                                                                
                    <legend>Datos Personales</legend>
                    <div class="container"></div>


                        
    <div  class="form-group"><label for="account_phoneAreaCode" class="control-label col-sm-3 required">
        Código de área&nbsp;<span class="asterisk">*</span></label><div class=""><input type="text" id="account_phoneAreaCode" name="account[phoneAreaCode]" required="required" class="form-control" value="342" /><p class="help-block">Cod. Area (sin cero)</p></div></div>
                        
    <div  class="form-group"><label for="account_phoneNumber" class="control-label col-sm-3 required">
        Número de Teléfono&nbsp;<span class="asterisk">*</span></label><div class=""><input type="text" id="account_phoneNumber" name="account[phoneNumber]" required="required" class="form-control" value="1160540035" /><p class="help-block">Telefono (sin 15)</p></div></div>

                        
    <div  class="form-group"><label for="account_operator" class="control-label col-sm-3 required">
        Operador&nbsp;<span class="asterisk">*</span></label><div class=""><select id="account_operator" name="account[operator]" class=" form-control"><option value="Nextel">Nextel</option><option value="Personal">Personal</option><option value="Claro">Claro</option><option value="Movistar">Movistar</option><option value="Tuenti" selected="selected">Tuenti</option></select></div></div>    
    <div  class="form-group"><label for="account_email" class="control-label col-sm-3 required">
        Correo electrónico&nbsp;<span class="asterisk">*</span></label><div class=""><input type="email" id="account_email" name="account[email]" required="required" class="form-control" value="dpereira@aper.net" /></div></div>    
    <div  class="form-group"><label for="account_plainPassword_first" class="control-label col-sm-3 optional">
        Nueva Contraseña
    </label><div class=""><input type="password" id="account_plainPassword_first" name="account[plainPassword][first]" class="form-control" /></div></div>    
    <div  class="form-group"><label for="account_plainPassword_second" class="control-label col-sm-3 optional">
        Repita la contraseña ingresada
                                        </label><div class=""><input type="password" id="account_plainPassword_second" name="account[plainPassword][second]" class="form-control" /></div></div>    
    <div  class="form-group"><label for="account_current_password" class="control-label col-sm-3 required">
        Contraseña actual&nbsp;<span class="asterisk">*</span></label><div class=""><input type="password" id="account_current_password" name="account[current_password]" required="required" class="form-control" /></div></div>    <div class="clearfix form-actions">
        <button type="submit" id="account_submit" name="account[submit]" class="btn btn-default"
>
        Enviar</button></div></form>
                </div>
            </div>
        </div>
    </div>

    </section><!-- /content -->

    </div>

</main>

     <script src="/pumaenergy/web/dist/scripts/main.js"></script>
    <script>
        $(function () {
            $('img[src="/pumaenergy/web/"]').attr('src', "/pumaenergy/web/dist/images/empty-avatar.png");
        });
    </script>
    <script>

        $(function () {
            $('.left-menu li').on('click', function () {
                var dropDown = $(this).next();
                if (dropDown.hasClass('accordion-panel')) {

                    setTimeout(function () {
                        var _scrollTo = dropDown.offset().top;
                        $('.left-menu').animate({
                            scrollTop: _scrollTo
                        })
                    }, 10);

                }
            })
        });
    </script>
        <script>
            
$(function () {
    $('form[name=resetting_change_password]').on('submit', function (e) {
        e.preventDefault();
        $('.form-control').on('focus', function () {
            $('p.pw-error').hide();
        })
        var pw_strong = CheckPassword($('#resetting_change_password_plainPassword_first').val())
        if (!pw_strong) {
            $('p.pw-error').text('Contraseña no válida').show();
            return false;
        } else {
            if ($('#resetting_change_password_plainPassword_first').val() == $('#resetting_change_password_plainPassword_second').val()) {
                this.submit();
            } else {
                $('p.pw-error').text('Las contraseñas no coinciden').show();
                return false;
            }
        }
    })

    $('form[name=account]').on('submit', function (e) {
        e.preventDefault();
        $('.form-control').on('focus', function () {
            $('p.pw-error').hide();
        })
        var pw_strong = CheckPassword($('#account_plainPassword_first').val())
        if (!pw_strong) {
            $('p.pw-error').text('La nueva Contraseña no es válida: La contraseña debe contener de 10 a 15 caracteres, e incluir al menos una mayúscula y un número').show();
            return false;
        } else {
            if ($('#account_plainPassword_first').val() == $('#account_plainPassword_second').val()) {
                this.submit();
            } else {
                $('p.pw-error').text('Las contraseñas no coinciden').show();
                return false;
            }
        }
    })


    $('#account_submit').click(function(e) {

    e.preventDefault();
        $('.form-control').on('focus', function () {
            $('p.pw-error').hide();
        })
        if($('#user_employee_plainPassword_first').val() == '' && $('#user_employee_plainPassword_second').val() == ''){
            this.submit();
            return false;
        }
        var pw_strong = CheckPassword($('#user_employee_plainPassword_first').val())
        if (!pw_strong) {
            $('p.pw-error').text('La nueva Contraseña no es válida: La contraseña debe contener de 10 a 15 caracteres, e incluir al menos una mayúscula y un número').show();
            return false;
        } else {
            if ($('#user_employee_plainPassword_first').val() == $('#user_employee_plainPassword_second').val()) {
                this.submit();
            } else {
                $('p.pw-error').text('Las contraseñas no coinciden').show();
                return false;
            }
        }
        return ver($('#user_employee_plainPassword_first').val());

    });

    $('form[name=user]').on('submit', function (e) {
        e.preventDefault();
        $('.form-control').on('focus', function () {
            $('p.pw-error').hide();
        })
        if($('#user_employee_plainPassword_first').val() == '' && $('#user_employee_plainPassword_second').val() == ''){
            this.submit();
            return false;
        }
        var pw_strong = CheckPassword($('#user_employee_plainPassword_first').val())
        if (!pw_strong) {
            $('p.pw-error').text('La nueva Contraseña no es válida: La contraseña debe contener de 10 a 15 caracteres, e incluir al menos una mayúscula y un número').show();
            return false;
        } else {
            if ($('#user_employee_plainPassword_first').val() == $('#user_employee_plainPassword_second').val()) {
                this.submit();
            } else {
                $('p.pw-error').text('Las contraseñas no coinciden').show();
                return false;
            }
        }
        return ver($('#user_employee_plainPassword_first').val());
    })
})

function CheckPassword(inputtxt) {
    var decimal = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9]?).{10,15}$/;
    if (decimal.test(inputtxt)) {
        return false;
    }
    else {
        return false;
    }
}
function ver(p) {
    var flag = false;
    $.ajax({
        url  : "{{ path('user_pass_see') }}",
        data : { 'pass' : p },
        type : 'GET', // CAMBIAR A POST
        success: function(result){
            if(result == 0)
                flag = true;
            else if(result == 1)
                flag = false;
            console.log(result)
        }
    });
    return flag;
}


        </script>
{% endblock %}