{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block body_class %}show {% endblock %}

{% block page_title %}Pregunta #{{ question.indexOf }} del Examen de la Capacitación &laquo;{{ module.title }}&raquo;{% endblock %}

{% block content_header %}
    <div class="row">
        <div class="col-sm-7">
            {% block content_title_wrapper %}
                <h1 class="title">Pregunta #{{ question.indexOf }} del Examen de la Capacitación &laquo;{{ module.title }}&raquo;</h1>
            {% endblock %}
        </div>

        <div class="col-sm-5">
            <div class="global-actions">
                {% block global_actions %}
                    <div class="pull-right">
                        <a class="btn btn-primary action-edit" href="{{ path('easyadmin', {action:'edit', id:question.id, entity:'ModuleExamQuestion'}) }}"><i class="fa fa-edit"></i> Modificar</a>
                    </div>
                    {% block search_action %}

                    {% endblock search_action %}

                {% endblock global_actions %}
            </div>
        </div>
    </div>
{% endblock content_header %}

{% block main %}
    <div class="content">
        <div class="box {{ question.enabled ? 'box-primary' : 'box-default' }} box-solid">
            <div class="box-header">
                <h3 class="box-title">
                    {{ question.indexOf }}) - {{ question.text }}{{ question.enabled ? '' : ' (Deshabilitada)'  }}
                </h3>

            </div>
            <div class="box-body">
                {% if question.type == 'MULTCHOICE' %}
                    {% if question.file %}
                        <div class="row">
                            {% if question.file.extension %}
                                <div class="col-sm-1">
                                    Imagen:
                                </div>
                                <div class="col-sm-11">
                                    <a title="{{ question.text }}" href="#"><img  style="max-width: 200px;" class="img-thumbnail lightbox img-responsive" src="/{{ question.file.webPath }}"></a>
                                </div>
                            {% endif %}
                        </div>
                        <br>
                    {% endif %}
                    <div class="row">
                        <div class="col-sm-1">
                            Opciones:
                        </div>
                        <div class="col-sm-11">
                            {% for answer in question.answers %}
                                <p>
                                    <i class="fa fa-{{ answer.correct ? 'check-' : '' }}square-o"></i>&nbsp;<b>{{ answer.text }}</b>
                                </p>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    {% if question.file %}
                        <div class="row">
                            {% if question.file.extension %}
                                <div class="col-sm-1">
                                    Imagen:
                                </div>
                                <div class="col-sm-11">
                                    <img src="/{{ question.file.getFilePath }}" class="img-thumbnail" style="max-width: 200px;">
                                </div>
                            {% endif %}
                        </div>
                        <br>
                    {% endif %}
                    <div class="row">
                        <div class="col-sm-12">
                            <textarea cols="40" rows="4" style="width: 100%" disabled readonly placeholder="--texto libre--"></textarea>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 form-actions">
                <div class="form-group">
                    <div id="form-actions-row">
                        <a class="btn btn-primary action-edit" href="{{ path('easyadmin', {action:'edit', id:question.id, entity:'ModuleExamQuestion'}) }}"><i class="fa fa-edit"></i> Modificar</a>
                        <a class="btn btn-secondary action-list" href="{{ path('easyadmin', {action:'list', entity:'ModuleExamQuestion'}) }}">Volver al listado</a>
                    </div>
                </div>
            </div>
            {#<div class="col-xs-12 form-actions sticky-wrapper" style="height: 0px;"></div>#}
        </div>


        <div tabindex="-1" class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal">×</button>
                        <h3 class="modal-title">Heading</h3>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $('.form-actions').easyAdminSticky();
            $(document).ready(function() {
                $('.lightbox').click(function(){
                    $('.modal-body').empty();
                    var title = $(this).parent('a').attr("title");
                    $('.modal-title').html(title);
                    let img = $(this);//.clone();
                    $(img.parents('div').html()).appendTo('.modal-body');
                    let i = $('.modal-body').find('img');
                    i.attr('style', 'max-width:100%');
                    $('#myModal').modal({show:true});
                    return false;
                });
            });
        </script>
    </div>
{% endblock %}

{% block head_stylesheets %}
    {{ parent() }}
{% endblock %}
