{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'page_header.cinema.list.title'|trans,
    path: {
    new: {uri: path('aper_cinema_add')},
    },
    } only %}

{% endblock page_header %}

{% block page_content %}
<div class="container">
<meta charset="utf-8">
  <title>jsQR Demo</title>
  <link href="https://fonts.googleapis.com/css?family=Ropa+Sans" rel="stylesheet">
  <style>
    #githubLink {
      position: absolute;
      right: 0;
      top: 12px;
      color: #2D99FF;
    }
    .mainContent{
        margin: 20px auto;
    }
    h1 {
      margin: 10px 0;
      font-size: 30px;
      font-weight: bolder;
      color: #ed1c24;
        margin-bottom: 70px;
    }
    #loadingMessage {
      text-align: center;
      padding: 40px;
      background-color: #eee;
    }
    #canvas {
      width: 100%;
    }
    #output {
      margin-top: 20px;
      background: #eee;
      padding: 10px;
      padding-bottom: 0;
    }
    #output div {
      padding-bottom: 10px;
      word-wrap: break-word;
    }
    #noQRFound {
      text-align: center;
    }
      .step{
          display: flex;
          align-items: center;
          justify-content: space-between;
      }
      .step .left-side{
          position: relative;
          border-right: 1px solid #ed1c24;
          padding: 0 30px;
          margin: 15px auto;
          max-width: 150px;
          width: 100%;
          height: 140px;
      }
      .step .left-side img {
          padding: 0 30px;
          max-width: 120px;
          height: auto;
      }
      .step .number{
          position: absolute;
          top: 0;
          right: 15px;
          background-color: #777777;
          border-radius: 50%;
      }
      .step .number span{
          color: white;
          font-weight: bolder;
          font-size: 14px;
          padding: 10px;
      }
      .description{
          margin-left: 30px;
      }
      .description span{
          color: #0b6449;
          font-size: 20px;
          font-weight: bold;
      }
      .description p{
          font-size: 16px;
          color: #7a7a7a;
          max-width: 450px;
      }
  </style>
</head>
<body>

  <script type="text/javascript" src="{{ asset('js/jsQR.js') }}"></script>
  <div class="row mainContent">
      <div class="steps col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <h1>Explicativo QR</h1>
          <div class="step">
              <div class="left-side">
                  <img src={{ asset('dist/images/puma/step1.png') }}  />
                  <div class="number"><span>1</span></div>
              </div>

              <div class="description">
                  <span>VENDER</span>
                  <p>Ofrecé y vendé los productos que suman a tus objetivos</p>
              </div>
          </div>

          <div class="step">
              <div class="left-side">
                  <img src={{ asset('dist/images/puma/step2.png') }}  />
                  <div class="number"><span>2</span></div>
              </div>

              <div class="description">
                  <span>DEPEGAR QR</span>
                  <p>Antes de darle el envase al cliente recorda depegar el QR</p>
              </div>
          </div>

          <div class="step">
              <div class="left-side">
                  <img src={{ asset('dist/images/puma/step3.png') }}  />
                  <div class="number"><span>3</span></div>
              </div>

              <div class="description">
                  <span>ESCANEAR QR</span>
                  <p>Cuando las condiciones de seguridad te lo permitan ingresa al sitio y escanea QR </p>
              </div>
          </div>

          <div class="step">
              <div class="left-side">
                  <img src={{ asset('dist/images/puma/step-four.png') }}  />
                  <div class="number"><span>4</span></div>
              </div>

              <div class="description">
                  <span>REGISTRO</span>
                  <p>Tu venta quedara registrada y sumara en el alcance de tu objetivo</p>
              </div>
          </div>

      </div>
      <div class="scanner col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <h1>Lector QR</h1>
          <form action="{{ path('aper_code_new') }}" method="POST" name="form-code" id="form-code" >
              <div id="loadingMessage"> No se puede acceder a la camara (Por favor asegurese de tener la cámara habilitada.)</div>
              <canvas id="canvas" hidden></canvas>
              <div id="output" hidden>
                  <div id="outputMessage">Qr no detectado</div>
                  <div hidden><b>Data:</b> <span id="outputData"></span></div>
                  <input type ="hidden" name="inputcode" id="inputcode" >
              </div>
          </form>
      </div>
  </div>

</div>

<script type="text/javascript" src="{{ asset('js/lectorQR.js') }}"></script>
{% endblock page_content %}