{% extends '::base.html.twig' %}
{% block pagename %}communications{% endblock %}

{% block page_logo %}
    <div class="hidden-xs hidden-sm">
        {{ parent() }}
    </div>
    <div class="hidden-md hidden-lg comunicacion">
        <img src="{{ asset('dist/images/puma/logo-puma.png') }}">
    </div>
{% endblock %}


{% set roleHeadOffice = false %}
{% set user = app.user %}
{% if user %}
    {% for role in user.roles if not roleHeadOffice %}
        {% if role == 'ROLE_HEAD_OFFICE'%}
            {% set roleHeadOffice = true %}
        {% endif %}
    {% endfor %}
{% else %}
    {% set roleHeadOffice = false %}
{% endif %}


{% block page_content %}

    <div class="container">

        <div class="row header_image">
            <div class="communications-active-bg"></div>
            <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs" style="background-image: url({{ asset('dist/images/puma/header-news.png') }})">
                <img class="img_backHeader" src="{{ asset('dist/images/puma/header-news.png') }}">
                <h4 class="header-title">Datos Leidos - QR</h4>
            </div>
            <div class="col-xs-12 hidden-sm hidden-md hidden-lg" style="background-image: url({{ asset('dist/images/puma/header-news.png') }})">
                <img class="img_backHeader" src="{{ asset('dist/images/puma/header-news.png') }}">
                <h4 class="header-title">Datos Leidos - QR</h4>
            </div>
        </div>

        <div class="comunicados-headline 1 row">

            <form method="get" action="" class="form-inline pull-right" role="search">
                <div class="form-group select-class">

                    <select class="form-control" id="category" name="category"
                          value="{{ app.request.get('categories') }}" > 

                        {%  if (is_granted('ROLE_MANAGER'))  %}  
                        <option value="-1" selected> Todos los Usuarios </option>
                        {% endif %}

                        {% for cat in categories %}

                            <option value="{{ cat.id }}" >{{ cat.nombre }}</option>

                            {% if app.request.query.get("category") == cat.id %}
                               {# <option value="{{ cat.id }}" selected>{{ cat.username }}</option> 
                               <option value="{{ cat.id }}" selected>{{ cat.nombre }}</option>#}

                            {% else %}
                              {# <option value="{{ cat.id }}" selected>{{ cat.nombre }}</option>
                                <option value="{{ cat.id }}">{{ cat.username }}</option> #}
                            {% endif %}

                        {% endfor %}

                    </select>

                </div>

                {% set sinceVal = app.request.get('since') %}
                {% set untilVal = app.request.get('until') %}

                {% if app.request.query.get("since") %}
                    {% set sinceVal = app.request.query.get("since") %}
                {% endif %}

                {% if app.request.query.get("until") %}
                    {% set untilVal = app.request.query.get("until") %}
                {% endif %}


                <div class="form-group date-range">
                    <div class="input-group">

                        <input type='' class="js-datepicker" placeholder="Desde" id="since" name="since"
                               value="{{ sinceVal }}"/>

                        <span class="input-group-addon"><i class="fa fa-caret-down"></i></span>
                    </div>
                </div>

                <div class="form-group date-range">
                    <div class="input-group">

                        <input type='' class="js-datepicker" placeholder="Hasta" id="until" name="until"
                               value="{{ untilVal }}"/>

                        <span class="input-group-addon"><i class="fa fa-caret-down"></i></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <input type='submit' class="btn btn-success"  id="search" name="Buscar" value="Buscar"/>
                    </div>
                </div>

            </form>

            <div class="clearfix "></div>

        </div>

        <div class="comunicados-content">

            {% if pagination|length >= 1 %}
                <h2 class="bold have-cont-h2">
                    {% if (app.request.query.get("category") or sinceVal or untilVal) %}
                        RESULTADOS DE LA BÚSQUEDA
                    {% else %}
                        LECTURAS REALIZADAS
                    {% endif %}
                </h2>
                <div class="content-news">

                    <div class="row">

                <table class="table">
                    <thead>
                        <tr>
                        <th>{{ knp_pagination_sortable(pagination, 'Usuario', 'c.id') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Datos leidos', 'c.dataQr') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Fecha', 'c.datetime') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Estado', 'c.isValid') }}</th>
                        {%  if (is_granted('ROLE_MANAGER') ) %}
                            <th>Acciones</th>
                        {%  endif %}    
                        </tr>
                    </thead>
                    <tbody>
                    {% for usercode in pagination %}
                        <tr>
                            <td>{{ usercode.employee.profile.name }}</td>
                            <td>{{ usercode.dataQr }}</td>
                            <td>{{ usercode.datetime|date('d-m-Y H:i') }}</td>
                            <td>{% if usercode.isValid %}
                            <p>Validado</p>
                            {% else  %}
                            <p>No Validado</p>
                            {% endif %}
                            </td>
                            <td>
                        {%  if (is_granted('ROLE_MANAGER') ) %}
                            {% if usercode.isValid != true  %}
                            <a href="{{ path('aper_code_edit', {id: usercode.id }) }}" class="btn btn-sm btn-success">Validar</a>
                            {#{% else %}
                            <a href="{{ path('aper_code_edit', {id: usercode.id }) }}" class="btn btn-sm btn-danger" >No Validar</a> #}
                            {% endif %}
                            </td>
                        {% else %} 
                            
                        {% endif %}
                            
                        </tr>

                    {% endfor %}
                        </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
                    </div>
                </div>

                {% if pagination|length >= 9 %}
                    <div class="row loadMore" style="margin: 0; ">
                        <a class="medium load-more" href="#">
                            <i class="fa fa-rotate-right" aria-hidden="true"></i> Cargar más entradas
                        </a>
                    </div>
                {% endif %}
            {% else %}
                <h2 class="bold"> NO SE HAN RESULTADOS </h2>
            {% endif %}

        </div>

    </div>

{% endblock page_content %}

{% block body_scripts_optional %}
    {{ parent() }}
    <script>
        $('.js-datepicker').datetimepicker({format: 'DD/MM/YYYY', locale: 'es'});

        /*$('#category').change(function () {
            $('form').submit();
        });*/

        var currentPage = 1;

        var weekday = new Array(7);
        weekday[0] = "Domingo";
        weekday[1] = "Lunes";
        weekday[2] = "Martes";
        weekday[3] = "Miércoles";
        weekday[4] = "Jueves";
        weekday[5] = "Viernes";
        weekday[6] = "Sabado";

        var monthNames = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
            "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
        ];

        $('a.load-more').on('click', function (e) {
            e.preventDefault();
            e.stopImmediatePropagation();


            $('a.load-more i').removeClass('fa-rotate-right');
            $('a.load-more i').addClass('fa fa-circle-o-notch fa-spin fa-fw');

            currentPage++;

            var url = document.location.href;

            if (url.indexOf('?') !== -1) {
                url = url + '&page=' + currentPage;
            } else {
                url = url + '?page=' + currentPage;
            }

            if (currentPage > 0) {

                $.ajax({
                    url: url,
                    type: 'json',
                    success: function (res) {

                        var res = $.parseJSON(res);
                        console.log()

                        if (res.length < 9) {
                            currentPage = 0;
                            $('.load-more').hide();
                        }

                        for (var key in res) {

                            var formatDate = new Date(res[key].date.date);
                            var dayString = weekday[formatDate.getDay()];
                            var dayNum = formatDate.getDate();
                            var monthString = monthNames[formatDate.getMonth()];
                            var fullDate = dayString + ' ' + dayNum + ' ' + monthString;

                            var html = '<div class="col-sm-12 col-lg-6 new">';

                            html += '<tr><td>' + res[key].user + '</td>';
                            html += '<td>' + res[key].data + '</td>';
                            html += '<td>' + res[key].date + '</td>';
                            html += '<td>' + res[key].status + '</td>';

                            html += '</tr>';

                            $('.content-news .row').append(html);

                        }

                        $('a.load-more i').removeClass('fa fa-circle-o-notch fa-spin fa-fw');
                        $('a.load-more i').addClass('fa-rotate-right');

                    }
                });
            }

        });

    </script>
{% endblock %}