{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'page_header.cinema.list.title'|trans,
    path: {
    new: {uri: path('aper_cinema_add')},
    },
    } only %}

{% endblock page_header %}

{% block page_content %}
<div class="container">

<div class="col-md-12">
 	<div class="page-header margin-none">
		<h2 class="padding-none">{% trans %} Datos leídos {% endtrans %} </h2>
	</div>

<div class="table-responsive">
total registros: {{ pagination.getTotalItemCount }}
<table class="table">
	<thead>
		<tr>
		<th>{{ knp_pagination_sortable(pagination, 'Usuario', 'c.id') }}</th>
		<th>{{ knp_pagination_sortable(pagination, 'Datos leidos', 'c.dataQr') }}</th>
		<th>{{ knp_pagination_sortable(pagination, 'Fecha', 'c.datetime') }}</th>
		<th>{{ knp_pagination_sortable(pagination, 'Estado', 'c.isValid') }}</th>
			<!--<th>Usuario</th>
			<th>Datos leidos</th>
			<th>Fecha</th>
			<th>Estado</th>-->
		{% 	if (is_granted('ROLE_ADMIN') ) %}
			<th>Acciones</th>
		{% 	endif %}	
		</tr>
	</thead>
	<tbody>
	{% for usercode in pagination %}
		<tr>
			<td>{{ usercode.id }}</td>
			<td>{{ usercode.dataQr }}</td>
			<td>{{ usercode.datetime|date('d-m-Y H:i') }}</td>
			<td>{% if usercode.isValid %}
			<p>Validado</p>
			{% else  %}
			<p>No Validado</p>
			{% endif %}
			</td>
			<td>
		{% 	if (is_granted('ROLE_ADMIN') ) %}
			{% if usercode.isValid != true  %}
			<a href="{{ path('aper_code_edit', {id: usercode.id }) }}" class="btn btn-sm btn-success">Validar</a>
			{% else %}
			<a href="{{ path('aper_code_edit', {id: usercode.id }) }}" class="btn btn-sm btn-danger" >No Validar</a>
			{% endif %}
			</td>
		{% else %} 
			
		{% endif %}
			
		</tr>

	{% endfor %}
	</tbody>
</table>
{# display navigation #}
<div class="navigation">
	{{ knp_pagination_render(pagination) }}
</div>

</div>
</div>
</div>




</div>
{% endblock page_content %}
