{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Listado de Requisitos Excluyentes'|trans,
    path: {
    new: {uri: path('aper_plancarrera_req_new')}
    },
    } only %}
{% endblock page_header %}


{% block page_content %}
    <div class="table-responsiv5568e">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th style="width: 50%">Descripción</th>
                <th>Plan asociado</th>
                <th>Estado</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for requirement in requirements %}
                <tr data-id="{{ requirement.id }}">
                    <td><b>{{ requirement.description }}</b></td>
                    <td><b>{{ requirement.plan.title }}</b></td>
                    <td>
                        {% if requirement.status == 0 %}
                            <span class="label label-danger">INACTIVO</span>
                        {% else %}
                            <span class="label label-success">ACTIVO</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('aper_plancarrera_req_show', {id: requirement.id }) }}" class="btn"
                           onclick="">
                            {{ 'actions.show.label'|trans }}
                        </a>
                        <a href="{{ path('aper_plancarrera_req_edit', {id: requirement.id }) }}"
                           class="btn">Editar</a>
                        <a href="{{ path('aper_plancarrera_req_delete', {id: requirement.id }) }}"
                           class="btn btn btn-danger btn-delete"
                           onclick="return confirm('{{ 'Desea eliminar la capacitación?' }}')">{{ 'actions.delete.label'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <br>

    </div>
{% endblock page_content %}