{% extends 'WebFactoryUserBundle::layout.html.twig' %}
{% block page_class %}register-page{% endblock %}
{% block pagename %}register-page{% endblock %}

{% block web_factory_user_content %}
    <!-- Modal -->
    {% if modal %}
    <div class="modal fade in" id="modal">
        <div class="modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="logo">
                        <img src="{{ asset('dist/images/puma/logo-puma.png') }}" style="max-width: 200px;"/>
                    </div>
                </div>
                <div class="modal-body">
                    {% if listaErr %}
                        <div class="success">
                            <img src="{{ asset('dist/images/puma/fail.jpg') }}"  />
                            <h3>El registro contiene los siguientes errores:</h3>
                        </div>
                        <div class="alert alert-danger">
                            {% for l in listaErr %}
                                <p>{{ l }}</p>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="success">
                            <img src="{{ asset('dist/images/puma/done.png') }}"/>
                            <h3>Gracias por finalizar tu registro.</h3>
                        </div>
                    <div class="content">
                        <p>Tu supervisor estará confirmando tus datos y habilitará tu usuario. Luego recibirás un mail de
                            activación a la brevedad.</p>
                        <br>
                        <p>En caso de no recibir tu mail de activación en las próximas 72 horas ponete en contacto con tu
                            supervisor.</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <style type="text/css">
        body.register-page .modal#modal2 {
            display: none;
        }
        body.register-page .modal#modal2 .modal-body .content p {
            font-size: 16px !important;
        }
        body.register-page .modal#modal2 .modal-body .content ol span {
            font-size: 16px !important;
        }
        body.register-page .modal#modal2 .modal-body {
            color: #5c5c5c;
        }
    </style>
    <div class="modal fade in" id="modal2">
        <div class="modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="close2">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="logo">
                        <img src="{{ asset('dist/images/puma/logo-puma.png') }}" style="max-width: 200px;"/>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="success">
                        <h3>COMUNIDAD DE COLABORADORES “PUMA ENERGY TEAM”</h3>
                    </div>
                    <div class="content">
                        <p style="margin-bottom: 0cm; text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif; ">&nbsp;</span></p>
<p style="margin-bottom: 0cm; text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif;"><strong><span style="">Descripci&oacute;n y objetivos</span></strong></span></p>
<p style="margin-bottom: 0cm; text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif; ">&nbsp;</span></p>
<p style="margin-bottom: 0cm; text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif; ">La comunidad de Colaboradores &ldquo;Puma Energy Team&rdquo; es, esencialmente, un Programa de pertenencia a trav&eacute;s del cual TRAFIGURA ARGENTINA S.A. (en adelante, el &ldquo;Organizador&rdquo;) pretende generar una comunidad con aquellas personas (en adelante, los &ldquo;Usuarios&rdquo;) que desempe&ntilde;an su actividad laboral en las Estaciones de Servicio que comercializan combustibles bajo la marca Puma Energy.</span></p>
<p style="margin-bottom: 0cm; text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif; ">&nbsp;</span></p>
<p style="margin-bottom: 0cm; text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif; ">Con tal fin, el Organizador reconoce el compromiso de los Usuarios que cumplan con los objetivos y acciones de incentivo propuestos por el Organizador, a trav&eacute;s de la competencia sana y por medio del acceso a una plataforma de beneficios (en adelante, los &ldquo;Beneficios&rdquo;) y premiaciones (en adelante, las &ldquo;Premiaciones&rdquo;); todo esto sujeto a los t&eacute;rminos y condiciones aqu&iacute; establecidos (en adelante, el &ldquo;Reglamento&rdquo;). La plataforma facilita la comunicaci&oacute;n entre el Organizador y los Usuarios, lo cual permite desarrollarnos en conjunto a trav&eacute;s de la gamificaci&oacute;n para recompensar los comportamientos y resultados deseados, dise&ntilde;ando planes de incentivos, planes de capacitaci&oacute;n sobre cuestiones inherentes al negocio y con el principal prop&oacute;sito de mantenerlos motivados mediante el seguimiento sistem&aacute;tico de m&eacute;tricas e incentivos.</span></p>
<p style="margin-bottom: 0cm; text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif; ">&nbsp;</span></p>
<p style="margin-bottom: 0cm; text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif; ">La presente manifestaci&oacute;n de aceptaci&oacute;n para participar en la Comunidad de Colaboradores &ldquo;Puma Energy Team&rdquo; da cuenta de haber le&iacute;do y comprendido la totalidad de los t&eacute;rminos y condiciones que conforman las bases de uso. Asumo en consecuencia la entera responsabilidad respecto de falsear cualquier tipo de dato personal y/o informaci&oacute;n correspondiente a terceras personas, as&iacute; como la de realizar acciones tendientes a violar el sistema y su funcionamiento.</span></p>
<p style="margin-bottom: 0cm; text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif; ">Puma Energy Team es una plataforma por la cual los empleados en relaci&oacute;n de dependencia de aquellas Estaciones de Servicio que comercializan combustibles de la marca Puma Energy pueden participar siempre que se mantenga su v&iacute;nculo de dependencia laboral con su empleador.</span></p>
<p style="margin-bottom: 0cm; text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif; ">La participaci&oacute;n dentro de Puma Energy Team no representa v&iacute;nculo de naturaleza alguna entre el trabajador de la Estaci&oacute;n de Servicio y la empresa administradora de Puma Energy Team, manifestando en consecuencia que el trabajador, conjuntamente con su empleador, no se encuentra bajo ning&uacute;n tipo de condici&oacute;n de dependencia t&eacute;cnica, jur&iacute;dica ni econ&oacute;mica con el Organizador. La aceptaci&oacute;n de la presente manifestaci&oacute;n ser&aacute; requisito necesario para poder ingresar dentro de la Plataforma que el Organizador pone a su alcance. </span></p>
<ol>
<li><span style="font-family: arial, helvetica, sans-serif;"><strong><span style="">GENERALIDADES:</span></strong></span></li>
</ol>
<p style="margin-bottom: 0cm; text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif; ">1.1 El Organizador se reserva el derecho a:</span></p>
<p style="margin-bottom: 0cm; text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></p>
<ol>
<li><span style="font-family: arial, helvetica, sans-serif;"><span style="line-height: 104%;"><span style="font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 7pt; line-height: normal;"> </span></span><span style="line-height: 104%;">Determinar los Usuarios aplicables al Programa, como as&iacute; tambi&eacute;n categorizarlos en distintos Perfiles conforme su rol laboral en la Estaci&oacute;n adherida. </span></span></li>
<li><span style="font-family: arial, helvetica, sans-serif;"><span style="line-height: 104%;"><span style="font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 7pt; line-height: normal;"> </span></span><span style="line-height: 104%;">Interpretar y administrar el Programa y dictar aquellas reglas relacionadas con el mismo que considere necesarias.</span></span></li>
<li><span style="font-family: arial, helvetica, sans-serif;"><span style="line-height: 104%;"><span style="font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 7pt; line-height: normal;"> </span></span><span style="line-height: 104%;">Modificar los t&eacute;rminos y condiciones de este Reglamento, como as&iacute; tambi&eacute;n sus premios y/o incentivos, en tanto fuera necesario, durante el desarrollo del Programa.</span></span></li>
<li><span style="font-family: arial, helvetica, sans-serif;"><span style="line-height: 104%;"><span style="font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 7pt; line-height: normal;"> </span></span><span style="line-height: 104%;">Definir cualquier situaci&oacute;n extraordinaria no contemplada en la presente Reglamento en el momento que sea necesario.</span></span></li>
<li><span style="font-family: arial, helvetica, sans-serif;"><span style="line-height: 104%;"><span style="font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 7pt; line-height: normal;"> </span></span><span style="line-height: 104%;">Delegar las tareas de administrar el Programa, en forma total o parcial, en la medida que lo considere necesario.</span></span></li>
<li><span style="font-family: arial, helvetica, sans-serif;"><span style="line-height: 104%;"><span style="font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 7pt; line-height: normal;"> </span></span><span style="line-height: 104%;">Enmendar, modificar o finalizar en forma individual o colectiva el Programa en cualquier momento, previa comunicaci&oacute;n fehaciente a los Usuarios. </span></span></li>
</ol>
<p style="margin-bottom: 0cm; text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif; ">&nbsp;</span></p>
<p style="margin-bottom: 0cm; text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif; ">1.2. Podr&aacute; ser Usuario del Programa &ldquo;Puma Energy Team&rdquo; toda persona f&iacute;sica mayor de dieciocho a&ntilde;os de edad y que sea empleado de las Estaciones Adheridas al Programa.</span></p>
<p style="margin-bottom: 0cm; text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif; ">1.3. &nbsp;Para participar en el Programa deber&aacute;n adherirse a trav&eacute;s de la registraci&oacute;n en la plataforma de la Comunidad &ldquo;Puma Energy Team&rdquo;.</span></p>
<p style="margin-bottom: 0cm; text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif; ">1.4. La participaci&oacute;n en el Programa implica la aceptaci&oacute;n de todas las condiciones estipuladas en el presente Reglamento, las que son conocidas por los Usuarios. Dicha participaci&oacute;n no es de car&aacute;cter obligatoria, la misma queda sujeto a la propia voluntad del Usuario.</span></p>
<p style="margin-bottom: 0cm; text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif; ">1.5. Cualquier cuesti&oacute;n que se suscite con el Usuario en relaci&oacute;n con el Programa, ser&aacute; resuelta en forma definitiva e inapelable por el Organizador.</span></p>
<p style="margin-bottom: 0cm; text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif; ">1.6. La adhesi&oacute;n al Programa implica la autorizaci&oacute;n del Usuario para la utilizaci&oacute;n de im&aacute;genes, voces, datos personales y domicilio, con fines comerciales, en los medios y formas que el Organizador determine, sin derecho a compensaci&oacute;n alguna, por todo el plazo de duraci&oacute;n del Programa a partir de la fecha de adhesi&oacute;n.</span></p>
<p style="margin-bottom: 0cm; text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif; ">1.7. La adhesi&oacute;n al Programa implica que el Usuario autoriza al Organizador a utilizar sus datos personales y domicilio para que Organizador efect&uacute;e acciones de marketing y promociones comerciales.</span></p>
<p style="margin-bottom: 0cm; text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif;"><strong><span style="">&nbsp;</span></strong></span></p>
<ol start="2">
<li><span style="font-family: arial, helvetica, sans-serif;"><strong><span style=""> ADHESI&Oacute;N A &ldquo;PUMA ENERGY TEAM&rdquo;:</span></strong></span></li>
</ol>
<p style="margin-bottom: 0cm; text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif; ">2.1. El Usuario es identificado mediante su correo electr&oacute;nico.</span></p>
<p style="margin-bottom: 0cm; text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif; ">2.2. El usuario identificado por el correo electr&oacute;nico del Usuario es personal e intransferible y s&oacute;lo puede ser utilizado por la persona a cuyo nombre est&aacute; registrado en el sistema, es decir el Usuario.</span></p>
<p style="margin-bottom: 0cm; text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif; ">2.3. La adhesi&oacute;n al Programa deber&aacute; ser autogestionado por el Usuario, a trav&eacute;s la plataforma de la Comunidad &ldquo;Puma Energy Team&rdquo;.</span></p>
<p style="margin-bottom: 0cm; text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif; ">2.4. El Organizador se reserva el derecho a suspender al Usuario cuando, a su s&oacute;lo criterio, el mismo haga un uso indebido o inconveniente de la Plataforma.</span></p>
<p style="text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif; ">2.5. En caso de que el Usuario modifique su direcci&oacute;n de correo electr&oacute;nico, el Usuario deber&aacute; notificar en forma inmediata al Organizador, actualizando sus datos en la Plataforma y permitiendo ingresar a la misma con el nuevo correo electr&oacute;nico.</span></p>
<p style="margin-bottom: 0cm; text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif; ">&nbsp;</span></p>
<ol start="3">
<li><span style="font-family: arial, helvetica, sans-serif;"><strong><span style=""> BENEFICIOS PARA LOS USUARIOS:</span></strong></span></li>
</ol>
<p style="text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif; ">3.1. Por pertenecer a la Comunidad &ldquo;Puma Energy Team&rdquo;, los Usuarios tendr&aacute;n acceso a una variedad de Beneficios. La oferta vigente de Beneficios se encontrar&aacute; publicada en una secci&oacute;n dedicada a tal fin en la Plataforma, donde los Usuarios podr&aacute;n identificar cu&aacute;les son los Beneficios a los que pueden acceder.</span></p>
<p style="text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif; ">3.2. El Organizador se reserva el derecho de modificar los Beneficios cuando lo considere necesario.</span></p>
<p style="text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif; ">3.3. Para solicitar o retirar Beneficios &ldquo;especiales&rdquo; o hacer uso de los mismos, se deber&aacute; acreditar la calidad de Usuario, a trav&eacute;s de la presentaci&oacute;n del DNI.&nbsp;Los Beneficios &ldquo;especiales&rdquo; ser&aacute;n comunicados como tal para conocimiento del Usuario.</span></p>
<p style="text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif; ">3.4. Los Beneficios podr&aacute;n estar compuestos, indistintamente, por una o m&aacute;s de estas clases de Beneficios:</span></p>
<ol>
<li><span style="font-family: arial, helvetica, sans-serif; ">a) Descuentos en comercios adheridos al&nbsp;Usuario; los comercios adheridos que brinden dichos descuentos estar&aacute;n claramente identificados con se&ntilde;ales que permitan al Usuario su f&aacute;cil y r&aacute;pida ubicaci&oacute;n.&nbsp;</span></li>
<li><span style="font-family: arial, helvetica, sans-serif; ">b) Obtenci&oacute;n de chances para sorteos. Dichas chances, se definen como la posibilidad del/los&nbsp;Usuario/s de obtener m&aacute;s oportunidades para participar en los sorteos.&nbsp; Las mismas&nbsp;podr&aacute;n ser obtenidas de la siguiente manera: el Usuario acceder&aacute; a la Plataforma y luego de identificarse con usuario/contrase&ntilde;a y, accediendo a la secci&oacute;n de Beneficios, podr&aacute; participar de cada uno de los sorteos publicados, pudiendo el Usuario decidir a cu&aacute;les de esos sorteos est&aacute; interesado en participar. La cantidad de chances que tendr&aacute; cada Usuario ser&aacute; definida por el Organizador en funci&oacute;n a la performance del Usuario en el cumplimiento de sus objetivos. El Organizador se reserva el derecho de modificar el criterio para otorgar chances para sorteos cuando lo considere necesario, como as&iacute; tambi&eacute;n de definir el alcance de dicho sorteo.</span></li>
<li><span style="font-family: arial, helvetica, sans-serif; ">c) Otros Beneficios: El Organizador se reserva el derecho de agregar e integrar al Programa &ldquo;Puma Energy Team&rdquo; otros productos y/o formas de obtener Beneficios. Los t&eacute;rminos y condiciones para la obtenci&oacute;n de los Beneficios ser&aacute;n detallados oportunamente en la secci&oacute;n de Beneficios o por los medios que el Organizador disponga.</span></li>
</ol>
<p style="text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif; ">3.5. Ninguno de los Beneficios podr&aacute; ser canjeado por dinero en efectivo.</span></p>
<p style="text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif; ">3.6. &nbsp;La entrega de los Beneficios ofrecidos en el marco del Programa estar&aacute; sujeta a su disponibilidad, sin generar esto una responsabilidad para el Organizador.<br /><br /></span></p>
<ol start="4">
<li><span style="font-family: arial, helvetica, sans-serif;"><strong><span style=""> PREMIACIONES PARA LOS USUARIOS:</span></strong></span></li>
</ol>
<p style="text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif; ">4.1. En el caso de cumplir con los objetivos propuestos en el marco de la Comunidad &ldquo;Puma Energy Team&rdquo;, los Usuarios ser&aacute;n merecedores de determinadas Premiaciones. La oferta vigente de Premiaciones se encontrar&aacute; publicada en la Plataforma, donde los Usuarios podr&aacute;n identificar cu&aacute;les son las Premiaciones a las que pueden acceder en caso de cumplir con los objetivos propuestos.</span></p>
<p style="text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif; ">4.2. El Organizador se reserva el derecho de modificar las Premiaciones y/o incorporar nuevas Premiaciones cuando lo considere necesario.</span></p>
<p style="text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif; ">4.3. Una vez finalizado el periodo en el cual los Usuarios pueden cumplir con los Objetivos propuestos, se comunicar&aacute;n los Usuarios que sean merecedores de las Premiaciones para su conocimiento.</span></p>
<p style="text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif; ">4.4. Las Premiaciones podr&aacute;n estar compuestos, indistintamente, por una o m&aacute;s de estas clases de Premiaciones:</span></p>
<ol>
<li><span style="font-family: arial, helvetica, sans-serif; ">a) Voucher o gift cards con valor nominal a definir por el Organizador.</span></li>
<li><span style="font-family: arial, helvetica, sans-serif; ">b) Descuentos preferenciales en comercios adheridos al&nbsp;Usuario; los comercios adheridos que brinden dichos descuentos estar&aacute;n claramente identificados con se&ntilde;ales que permitan al Usuario su f&aacute;cil y r&aacute;pida ubicaci&oacute;n.&nbsp;</span></li>
<li><span style="font-family: arial, helvetica, sans-serif; ">c) Otras Premiaciones: El Organizador se reserva el derecho de agregar e integrar al Programa &ldquo;Puma Energy Team&rdquo; otros productos y/o formas de entregar Premiaciones. Los t&eacute;rminos y condiciones para la obtenci&oacute;n de las Premiaciones ser&aacute;n detallados oportunamente por los medios que el Organizador disponga.</span></li>
</ol>
<p style="text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif; ">4.5. Ninguna de los Premiaciones podr&aacute; ser canjeado por dinero en efectivo.</span></p>
<p style="text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif; ">4.6. &nbsp;La entrega de las Premiaciones ofrecidas en el marco del Programa estar&aacute; sujeta a su disponibilidad, sin generar esto una responsabilidad para el Organizador.<br /><br /></span></p>
<ol start="5">
<li><span style="font-family: arial, helvetica, sans-serif;"><strong><span style=""> USO INDEBIDO:</span></strong></span></li>
</ol>
<p style="text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif; ">5.1. El Organizador se reserva el derecho de dar de baja del Programa a un Usuario si detectara un uso indebido de la Plataforma por parte del Usuario y/o de un tercero. La baja del Usuario implicar&aacute; la caducidad inmediata de todos los Beneficios y obligaciones del Organizador respecto a dicho Usuario.</span></p>
<p style="text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif;"><strong>&nbsp;</strong></span></p>
<ol start="6">
<li><span style="font-family: arial, helvetica, sans-serif;"><strong><span style=""> ATENCI&Oacute;N AL USUARIO:</span></strong></span></li>
</ol>
<p style="text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif; ">6.1.&nbsp; El Usuario, ante cualquier duda, consulta o inconveniente que se le presentare en relaci&oacute;n con el Programa podr&aacute; ingresar a la Plataforma y contactar al Organizador por las v&iacute;as de contacto que el Organizador disponga y comunique a tal fin, en los d&iacute;as y horarios para ello establecido por el Organizador.</span></p>
<p style="text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif;"><strong><span style="">&nbsp;</span></strong></span></p>
<ol start="7">
<li><span style="font-family: arial, helvetica, sans-serif;"><strong><span style=""> VIGENCIA DEL PROGRAMA:</span></strong></span></li>
</ol>
<p style="text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif; ">7.1. El Organizador se reserva el derecho a modificar los t&eacute;rminos del presente Reglamento.&nbsp; &nbsp;</span></p>
<p style="text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif; ">7.2. El Organizador se reserva el derecho de suspender y/o concluir el Programa notificando tal decisi&oacute;n con 30 (treinta) d&iacute;as de anticipaci&oacute;n a la fecha de cierre, por los mismos medios por los cuales se difund&iacute;a el Programa y/o por cualquier medio que considere apropiado. Los Usuarios podr&aacute;n hacer uso de sus Beneficios durante el mencionado plazo. Finalizado el mismo caducar&aacute; todo derecho a hacerlo.&nbsp;</span></p>
<p style="text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif;"><strong><span style="">&nbsp;</span></strong></span></p>
<ol start="8">
<li><span style="font-family: arial, helvetica, sans-serif;"><strong><span style=""> LEY APLICABLE &ndash; JURISDICCI&Oacute;N:</span></strong></span></li>
</ol>
<p style="text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif; ">8.1 El presente Reglamento se regir&aacute;, cumplir&aacute; y ejecutar&aacute; conforme a la ley argentina.</span></p>
<p style="text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif; ">8.2. Toda controversia que se suscite entre las Partes con relaci&oacute;n a este Reglamento, su existencia, validez, calificaci&oacute;n, interpretaci&oacute;n, alcance, cumplimiento o resoluci&oacute;n, se resolver&aacute; definitivamente por los Tribunales Nacionales Ordinarios de Buenos Aires.</span></p>
<p style="text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif;"><span style="">8.3. </span><span style="">Los presentes t&eacute;rminos y condiciones establecidos en el Reglamento entrar&aacute;n en vigencia a partir del d&iacute;a </span><span style="">01/03/2021.</span></span></p>
<p><span style="font-family: arial, helvetica, sans-serif;"><strong><span style="">&nbsp;</span></strong></span></p>
<ol start="9">
<li><span style="font-family: arial, helvetica, sans-serif;"><strong><span style=""> UTILIZACI&Oacute;N DEL PROGRAMA PARA OTROS PROYECTOS:</span></strong></span></li>
</ol>
<p style="margin-right: 34.85pt; text-align: justify;"><span style="font-family: arial, helvetica, sans-serif; ">9.1. Si bien el objeto principal del Programa consiste en incentivar a los Usuarios y generar un sentido de pertenencia de los mismos con la Red Puma Energy, mejorar la calidad de atenci&oacute;n y el nivel de capacitaci&oacute;n de los Usuarios como as&iacute; tambi&eacute;n la actividad de ventas y la calidad, imagen e infraestructura de las Estaciones Adheridas, tambi&eacute;n podr&aacute; utilizarse como plataforma de lanzamiento de nuevos programas o proyectos que el Organizador considere necesario realizar dentro de la Red Puma Energy. </span></p>
<p style="margin-right: 34.85pt; text-align: justify;"><span style="font-family: arial, helvetica, sans-serif; ">9.2. Aunque no se especifica una cantidad de puntos determinada para estas acciones especiales, la misma no superar&aacute; la ponderaci&oacute;n de los Objetivos preestablecidos, a los efectos de evitar la desnaturalizaci&oacute;n del Programa. </span></p>
<p><span style="font-family: arial, helvetica, sans-serif;"><strong><span style="">&nbsp;</span></strong></span></p>
<ol start="10">
<li><span style="font-family: arial, helvetica, sans-serif;"><strong><span style=""> OTROS T&Eacute;RMINOS Y CONDICIONES DEL PROGRAMA:</span></strong></span></li>
</ol>
<p style="margin-right: 34.85pt; text-align: justify;"><span style="font-family: arial, helvetica, sans-serif; ">10.1. <u>Garant&iacute;as de empleo</u>: El ingreso de los empleados al Programa no constituye una garant&iacute;a de empleo futuro.</span></p>
<p style="margin-right: 34.85pt; text-align: justify;"><span style="font-family: arial, helvetica, sans-serif; ">10.2. <u>Enmiendas, modificaciones y finalizaci&oacute;n del Programa</u>: El Organizador se reserva el derecho de enmendar, modificar o finalizar el Programa en cualquier momento.</span></p>
<p style="margin-right: 34.85pt; text-align: justify;"><span style="font-family: arial, helvetica, sans-serif; ">10.3. <u>Impuestos y deducciones</u>: El Programa estar&aacute; sujeto a todas las deducciones e impuestos correspondientes que se encuentren vigentes.</span></p>
<p style="margin-right: 34.85pt; text-align: justify;"><span style="font-family: arial, helvetica, sans-serif; ">10.4. Fin del empleo:</span></p>
<p style="margin-right: 34.85pt; text-align: justify;"><span style="font-family: arial, helvetica, sans-serif; ">10.4.1. <u>Despido, renuncia o muerte del Usuario</u>: Si el Usuario participante de este Programa finaliza su empleo con la Estaci&oacute;n Adherida al Programa, ya sea por haber sido despedido o haber renunciado a la misma, pierde todo derecho sobre los Beneficios y Premiaciones del Programa.</span></p>
<p style="text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline;"><span style="font-family: arial, helvetica, sans-serif; ">10.4.2. <u>Incapacidad total y permanente</u>: En caso de incapacidad total y permanente, los Usuarios mantienen el derecho sobre el proporcional de Premiaciones que correspondieren hasta la fecha de finalizaci&oacute;n de la relaci&oacute;n laboral con la Estaci&oacute;n Adherida al Programa, los que ser&aacute;n calculados considerando el per&iacute;odo en el que estuvo presente efectuando tareas durante el periodo de vigencia del Programa.</span></p>
<p><span style="font-family: arial, helvetica, sans-serif;"><strong><u><span style=""><span style="text-decoration: none;">&nbsp;</span></span></u></strong></span></p>
<p><span style="font-family: arial, helvetica, sans-serif;"><strong><u><span style="">POLITICAS DE PRIVACIDAD DE DATOS:</span></u></strong></span></p>
<p style="text-align: justify; line-height: 18.0pt; background: white;"><span style="font-family: arial, helvetica, sans-serif; ">Alcance:</span></p>
<p style="text-align: justify; line-height: 18.0pt; background: white;"><span style="font-family: arial, helvetica, sans-serif; ">Por medio de las Pol&iacute;ticas de Privacidad (en adelante, las &ldquo;Pol&iacute;ticas&rdquo;) se determina el tratamiento que el Programa &ldquo;Puma Energy Team&rdquo; dar&aacute; a los datos recibidos por parte de los Usuarios y que estar&aacute;n en un todo de acuerdo con lo establecido en la Ley Nacional de Datos Personales N&deg;25.326.</span></p>
<p style="text-align: justify; line-height: 18.0pt; background: white;"><span style="font-family: arial, helvetica, sans-serif; ">De esta manera, en aquellos casos que los Usuarios ingresen datos personales o informaci&oacute;n confidencial en la Plataforma, est&aacute;n aceptando las presentes Pol&iacute;ticas juntamente con el Reglamento.</span></p>
<p style="text-align: justify; line-height: 18.0pt; background: white;"><span style="font-family: arial, helvetica, sans-serif; ">Para ello, la Plataforma proporciona a los Usuarios los recursos adecuados para que tomen conocimiento de las presentes Pol&iacute;ticas, el Reglamento y Protecci&oacute;n de Datos Personales.</span></p>
<p style="text-align: justify; line-height: 18.0pt; background: white;"><span style="font-family: arial, helvetica, sans-serif; ">Las presentes Pol&iacute;ticas describen:</span></p>
<ul>
<li><span style="font-family: arial, helvetica, sans-serif; ">Cu&aacute;les ser&aacute;n los datos recolectados, como ser&aacute;n utilizados y la finalidad para los que ser&aacute;n tratados.</span></li>
<li><span style="font-family: arial, helvetica, sans-serif; ">Como el Organizador protege los datos de car&aacute;cter personal de los Usuarios. Facultad y modo de ejercer los derechos de acceso, rectificaci&oacute;n, actualizaci&oacute;n y supresi&oacute;n de los datos.</span></li>
<li><span style="font-family: arial, helvetica, sans-serif; ">Las consecuencias que deriven de proporcionar los datos o de la inexactitud de estos.</span></li>
</ul>
<p style="margin-left: 21.3pt; text-align: justify; text-indent: -21.3pt; line-height: 18.0pt; background: white;"><span style="font-family: arial, helvetica, sans-serif; ">&nbsp;</span></p>
<ol>
<li><span style="font-family: arial, helvetica, sans-serif;"><strong><span style=""><span style="font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 7pt; line-height: normal;"> </span></span></strong><strong><span style="">Cu&aacute;les ser&aacute;n los datos recolectados, como ser&aacute;n utilizados y la finalidad para los que ser&aacute;n tratados.</span></strong></span></li>
</ol>
<p style="text-align: justify; line-height: 18.0pt; background: white;"><span style="font-family: arial, helvetica, sans-serif; ">La Plataforma recolecta varios tipos de informaci&oacute;n y contenido que directa o indirectamente el Usuario provee. Para acceder a la Plataforma, el Usuario ser&aacute; requerido para proveer datos de su nombre o denominaci&oacute;n social, DNI, fecha de nacimiento, tel&eacute;fono, e-mail, direcci&oacute;n y c&oacute;digo postal en un formulario que contiene campos tanto obligatorios como opcionales. Asimismo, recolectamos otros contenidos e informaci&oacute;n que el Usuario nos provee directamente, incluido el contenido e informaci&oacute;n que el Usuario pueda agregar a los datos de su perfil en la Plataforma.</span></p>
<p style="text-align: justify; line-height: 18.0pt; background: white;"><span style="font-family: arial, helvetica, sans-serif; ">En el caso que el Usuario proporcione en la Plataforma informaci&oacute;n acerca de otra persona, el Organizador asume que el Usuario ha obtenido la correspondiente autorizaci&oacute;n del titular de los datos para su recolecci&oacute;n y procesamiento de acuerdo con los t&eacute;rminos de estas Pol&iacute;ticas.</span></p>
<p style="text-align: justify; line-height: 18.0pt; background: white;"><span style="font-family: arial, helvetica, sans-serif; ">La plataforma tambi&eacute;n recopilar&aacute; datos de un modo que, por si mismos, no pueden ser asociados directamente a una persona determinada. Estos datos de car&aacute;cter no personal se pueden recopilar, tratar, transferir y publicar con cualquier intenci&oacute;n. Recolectamos informaci&oacute;n acerca de c&oacute;mo el Usuario usa la Plataforma, y dependiendo los permisos de acceso que ha habilitado para su dispositivo, otra informaci&oacute;n, como la que se especifica m&aacute;s abajo, desde o acerca de que computadoras o tel&eacute;fono m&oacute;vil u otro dispositivo instale el acceso a la Plataforma. La Plataforma utiliza tecnolog&iacute;as de internet est&aacute;ndar, tales como cookies* con la finalidad de recolectar informaci&oacute;n acerca de su dispositivo o computadora y su actividad en l&iacute;nea.</span></p>
<p style="text-align: justify; line-height: 18.0pt; background: white;"><span style="font-family: arial, helvetica, sans-serif; ">*cookies: son peque&ntilde;os archivos que se alojan en la computadora o dispositivo del Usuario. Una cookie permite a la entidad que coloca la cookie en su dispositivo reconocerla en diferentes sitios web, etc. La Plataforma utiliza cookies para an&aacute;lisis respecto de c&oacute;mo el Usuario utiliza la Plataforma.</span></p>
<p style="text-align: justify; line-height: 18.0pt; background: white;"><span style="font-family: arial, helvetica, sans-serif; ">La informaci&oacute;n que se recolecta al respecto es:</span></p>
<p style="text-align: justify; text-indent: -18.0pt; line-height: 18.0pt; background: white;"><span style="font-family: arial, helvetica, sans-serif;"><span style="">-</span><span style="font-size: 7.0pt; ">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span><span style="">Su tipo de browser y sistema operativo.</span></span></p>
<p style="text-align: justify; text-indent: -18.0pt; line-height: 18.0pt; background: white;"><span style="font-family: arial, helvetica, sans-serif;"><span style="">-</span><span style="font-size: 7.0pt; ">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span><span style="">Direcci&oacute;n IP e identificadores de los dispositivos que utilice.</span></span></p>
<p style="text-align: justify; text-indent: -18.0pt; line-height: 18.0pt; background: white;"><span style="font-family: arial, helvetica, sans-serif;"><span style="">-</span><span style="font-size: 7.0pt; ">&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="">El comportamiento de su browser respecto las interacciones en la Plataforma, tales como, el tiempo de permanencia y los links que el Usuario utiliza dentro de las interacciones de la Plataforma.</span></span></p>
<p style="text-align: justify; text-indent: -18.0pt; line-height: 18.0pt; background: white;"><span style="font-family: arial, helvetica, sans-serif;"><span style="">-</span><span style="font-size: 7.0pt; ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="">Sitios web que el Usuario visita antes o despu&eacute;s de utilizar la Plataforma.</span></span></p>
<p style="text-align: justify; text-indent: -18.0pt; line-height: 18.0pt; background: white;"><span style="font-family: arial, helvetica, sans-serif;"><span style="">-</span><span style="font-size: 7.0pt; ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="">Datos acerca si ha abierto o reenviado los e-mails que enviamos durante o relacionados a la interacci&oacute;n con la Plataforma.</span></span></p>
<p style="text-align: justify; line-height: 18.0pt; background: white;"><span style="font-family: arial, helvetica, sans-serif; ">Los datos de car&aacute;cter personal se encontrar&aacute;n alojados en servers propios o de terceros contratados por el Organizador pudiendo localizarse los mismos en otros pa&iacute;ses; comprometi&eacute;ndose el Organizador a tomar los recaudos necesarios para su mejor conservaci&oacute;n y cuidado.</span></p>
<p style="text-align: justify; line-height: 18.0pt; background: white;"><span style="font-family: arial, helvetica, sans-serif;"><u><span style="">Divulgaci&oacute;n a Terceros</span></u><span style="">:</span></span></p>
<p style="text-align: justify; line-height: 18.0pt; background: white;"><span style="font-family: arial, helvetica, sans-serif; ">Ocasionalmente el Organizador puede facilitar determinados datos de car&aacute;cter personal a socios estrat&eacute;gicos que trabaje con el Organizador para proveer productos o servicios o ayudan a las actividades de marketing del Organizador. No se compartir&aacute;n los datos con ning&uacute;n tercero para sus propios fines de marketing.</span></p>
<p style="text-align: justify; line-height: 18.0pt; background: white;"><span style="font-family: arial, helvetica, sans-serif;"><u><span style="">Proveedores de servicios</span></u><span style="">:</span></span></p>
<p style="text-align: justify; line-height: 18.0pt; background: white;"><span style="font-family: arial, helvetica, sans-serif; ">El Organizador compartir&aacute; datos de car&aacute;cter personal con empresas que se ocupan, entre otras actividades de prestar servicios de tratamiento de datos, tramitar pedidos de clientes, presentar sus productos, mejorar datos de sus clientes, suministrar servicios de atenci&oacute;n al cliente, evaluar su inter&eacute;s en productos o servicios y realizar investigaciones sobre clientes o su grado de satisfacci&oacute;n.</span></p>
<p style="text-align: justify; line-height: 18.0pt; background: white;"><span style="font-family: arial, helvetica, sans-serif;"><u><span style="">Otros terceros:</span></u></span></p>
<p style="text-align: justify; line-height: 18.0pt; background: white;"><span style="font-family: arial, helvetica, sans-serif; ">Es posible que el Organizador divulgue datos de car&aacute;cter personal por mandato legal, en el marco de un proceso judicial o por petici&oacute;n de una autoridad, tanto dentro o fuera del Pa&iacute;s. Igualmente se puede publicar informaci&oacute;n personal si es necesaria o conveniente por motivos de seguridad nacional, para acatar legislaci&oacute;n vigente o por otras razones relevantes de inter&eacute;s p&uacute;blico.</span></p>
<p style="text-align: justify; line-height: 18.0pt; background: white;"><span style="font-family: arial, helvetica, sans-serif; ">Los datos solicitados ser&aacute;n utilizados por el Organizador exclusivamente para su inclusi&oacute;n en las Bases de datos del Organizador y para brindar los servicios y/o interacciones que permite la Plataforma.</span></p>
<p style="text-align: justify; line-height: 18.0pt; background: white;"><span style="font-family: arial, helvetica, sans-serif; ">El Organizador nunca utilizar&aacute; los datos personales de los Usuarios para ning&uacute;n fin distinto a los mencionados en estas Pol&iacute;ticas.</span></p>
<p style="text-align: justify; line-height: 18.0pt; background: white;"><span style="font-family: arial, helvetica, sans-serif;"><u><span style="">P&aacute;ginas web y servicios de terceros:</span></u><span style="">&nbsp;Las aplicaciones dentro de la Plataforma pueden contener enlaces a p&aacute;ginas web, productos y servicios de terceros. Tambi&eacute;n pueden utilizar u ofrecer productos o servicios de terceros. La recolecci&oacute;n de los datos por parte de terceros, introduciendo datos sobre ubicaciones geogr&aacute;ficas o datos de contacto, se guiar&aacute; por las respectivas pol&iacute;ticas de privacidad de tales terceros. Le recomendamos consultar las pol&iacute;ticas de privacidad de esos terceros.</span></span></p>
<p style="margin-bottom: 12.0pt; text-align: justify;"><span style="font-family: arial, helvetica, sans-serif;"><u><span style="font-size: 11pt; ">Inexistencia de Manifestaciones o Garant&iacute;as</span></u><span style="font-size: 11pt; ">: La Plataforma, los Beneficios y las Premiaciones se proporcionan "tal cual son" y sin manifestaciones o garant&iacute;as de ning&uacute;n tipo, ya sean expresas o t&aacute;citas, en la mayor medida posible en virtud de las leyes aplicables. El Organizador renuncia a efectuar cualquier tipo de declaraci&oacute;n o garant&iacute;a, expresa o t&aacute;cita, incluidas, entre otras, las garant&iacute;as t&aacute;citas de comerciabilidad y adecuaci&oacute;n a un fin concreto y sobre no infracci&oacute;n o violaci&oacute;n. El Organizador no manifiesta ni garantiza que las funciones o los Beneficios incluidos en el Sitio no se vean interrumpidos o est&eacute;n libres de errores, que los defectos ser&aacute;n corregidos o que esta Plataforma o el servidor que pone a disposici&oacute;n la Plataforma est&eacute;n libres de virus u otros componentes da&ntilde;inos. El Organizador no efect&uacute;a manifestaci&oacute;n o garant&iacute;a alguna sobre el uso de los contenidos de la Plataforma o de los Beneficios en el sentido de que sean correctos, exactos, adecuados, &uacute;tiles, oportunos, fiables y dem&aacute;s caracter&iacute;sticas.</span></span></p>
<p style="margin-bottom: 12.0pt; text-align: justify;"><span style="font-size: 11pt; font-family: arial, helvetica, sans-serif; ">&nbsp;</span></p>
<p style="margin-bottom: 12.0pt; text-align: justify;"><span style="font-family: arial, helvetica, sans-serif;"><u><span style="font-size: 11pt; ">Responsabilidad Limitada</span></u><span style="font-size: 11pt; ">: El Organizador no responder&aacute; ante usted, ni ante terceros, de indemnizaci&oacute;n alguna en concepto de da&ntilde;os y perjuicios compensatorios, punitivos, especiales o consecuentes que se deriven del uso de, o la imposibilidad de utilizar la Plataforma, los Beneficios, las Premiaciones o el contenido de esta Plataforma o del funcionamiento de la Plataforma, de los Beneficios, de las Premiaciones o productos descritos en esta Plataforma.</span></span></p>
<p style="text-align: justify;"><span style="font-family: arial, helvetica, sans-serif;"><u><span style="font-size: 11pt; ">&Aacute;reas de Comunicaciones del Usuario</span></u><span style="font-size: 11pt; ">: La Plataforma podr&aacute; incluir &aacute;reas en las que los usuarios puedan comunicarse entre s&iacute;, incluidos, entre otros, tablones de anuncios, calendarios, &aacute;reas de chat o p&aacute;ginas web personales. El Organizador ostenta el derecho, m&aacute;s no la obligaci&oacute;n, de hacer un seguimiento o revisar cualquier parte de la Plataforma, incluidas las &aacute;reas de comunicaciones de los Usuarios. No obstante, el Organizador no responder&aacute; del contenido de ninguna de las comunicaciones efectuadas en estas &aacute;reas. </span></span></p>
<ol>
<li><span style="font-family: arial, helvetica, sans-serif;"><strong><span style="">b</span></strong><strong><span style="">C&oacute;mo la empresa protege los datos de car&aacute;cter personal de los Usuarios.</span></strong></span></li>
</ol>
<p style="text-align: justify; line-height: 18.0pt; background: white;"><span style="font-family: arial, helvetica, sans-serif; ">El Organizador garantizar&aacute; la protecci&oacute;n de los datos personales mediante cifrado durante el tr&aacute;nsito y, los alojados en instalaciones, con medidas de seguridad f&iacute;sicas.</span></p>
<p style="text-align: justify; line-height: 18.0pt; background: white;"><span style="font-family: arial, helvetica, sans-serif;"><em><span style="">Integridad y conservaci&oacute;n de los datos de car&aacute;cter personal</span></em><span style="">: El Organizador garantizar&aacute; la exactitud y la calidad de los datos personales, los mismos se conservar&aacute;n durante el tiempo necesario para cumplir los fines para los cuales fueron recabados, salvo que la ley exija conservarlos durante m&aacute;s tiempo.</span></span></p>
<p style="text-align: justify; line-height: 18.0pt; background: white;"><span style="font-family: arial, helvetica, sans-serif;"><em><span style="">Derechos de los titulares:&nbsp;</span></em><span style="">los titulares de datos personales tienen la facultad de ejercer el derecho de acceso a los mismos en forma gratuita, acreditando debidamente su identidad a tal efecto, a intervalos no inferiores a seis meses, salvo que se acredite un inter&eacute;s leg&iacute;timo al efecto conforme lo establecido en el art&iacute;culo 14, inciso 3 de la Ley N&ordm; 25.326. Asimismo, cuando correspondiere, los titulares de datos personales tienen el derecho de ejercer los derechos de rectificaci&oacute;n y supresi&oacute;n de los datos.</span></span></p>
<p style="text-align: justify; line-height: 18.0pt; background: white;"><span style="font-family: arial, helvetica, sans-serif; ">Para el ejercicio de los derechos, el Solicitante deber&aacute; presentar una solicitud, ya sea de manera presencial o bien a distancia, por cualquiera de los siguientes medios: mensajer&iacute;a electr&oacute;nica, carta documento y/o presentaci&oacute;n escrita con firma certificada ante Banco o Escribano y/ o medio postal o telegr&aacute;fico.</span></p>
<p style="text-align: justify; line-height: 18.0pt; background: white;"><span style="font-family: arial, helvetica, sans-serif; ">La solicitud deber&aacute; incluir: a) Su nombre y apellido; b) Original o copia autenticada de su DNI o de documento v&aacute;lido legalmente equivalente que acredite su identidad; c) Domicilio; d) C&oacute;digo Postal; e) Tel&eacute;fono; f) E-mail; g) Especificaci&oacute;n del tipo de derecho que se est&aacute; ejerciendo: derecho de acceso, de supresi&oacute;n, de rectificaci&oacute;n, de actualizaci&oacute;n o de sometimiento a confidencialidad. En estos &uacute;ltimos tres casos deber&aacute; brindar una breve explicaci&oacute;n de por qu&eacute; la solicitud debe corresponder. h) Medio a trav&eacute;s del cual desea obtener la informaci&oacute;n, la cual podr&aacute; suministrarse por escrito, por medios electr&oacute;nicos, telef&oacute;nicos, de imagen, u otro id&oacute;neo a tal fin, conforme el art&iacute;culo 15.3 de la Ley 25326. i) Su firma hol&oacute;grafa al final de la solicitud. En caso de que la solicitud sea realizada v&iacute;a mensajer&iacute;a electr&oacute;nica podr&aacute; utilizar su firma digital, si la tuviere.</span></p>
<p style="text-align: justify; line-height: 18.0pt; background: white;"><span style="font-family: arial, helvetica, sans-serif;"><span style="">La solicitud deber&aacute; realizarse a: </span><span style=""><a href="mailto:soporteteam@pumaenergyarg.com.ar">soporteteam@pumaenergyarg.com.ar</a></span><span style=""> </span></span></p>
<p style="text-align: justify; line-height: 18.0pt; background: white;"><span style="font-family: arial, helvetica, sans-serif; "><br />LA AGENCIA DE ACCESO A LA INFORMACI&Oacute;N P&Uacute;BLICA, en su car&aacute;cter de &Oacute;rgano de Control de la Ley N&deg;25.326, tiene la atribuci&oacute;n de atender las denuncias y reclamos que interpongan quienes resulten afectados en sus derechos por incumplimiento de las normas vigentes en materia de protecci&oacute;n de datos personales.</span></p>
<ol>
<li><span style="font-family: arial, helvetica, sans-serif;"><strong><span style="">c)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Las consecuencias que deriven de proporcionar los datos o de la inexactitud de estos.</span></strong></span></li>
</ol>
<p style="text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline; margin: 0cm 0cm 6.0pt 0cm;"><span style="font-size: 11pt; font-family: arial, helvetica, sans-serif; ">El Usuario asume el compromiso de actualizar los Datos Personales conforme resulte necesario. La Compa&ntilde;&iacute;a no se responsabiliza por la certeza de los Datos Personales provistos por los Usuarios. Los Usuarios garantizan y responden, en cualquier caso, por la veracidad, exactitud, integridad, vigencia y autenticidad de los Datos Personales ingresados. Toda la informaci&oacute;n y los Datos Personales ingresados por el Usuario tienen car&aacute;cter de declaraci&oacute;n jurada.</span></p>
<p style="text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline; margin: 0cm 0cm 6.0pt 0cm;"><span style="font-size: 11pt; font-family: arial, helvetica, sans-serif; ">El Organizador se reserva el derecho de solicitar comprobantes y/u informaci&oacute;n adicional a efectos de corroborar la informaci&oacute;n entregada por un Usuario en materia de Datos Personales, as&iacute; como de suspender temporal o definitivamente a aquellos Usuarios cuyos datos no hayan podido ser confirmados.&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></p>
<p style="text-align: justify; line-height: 18.0pt; background: white; vertical-align: baseline; margin: 0cm 0cm 6.0pt 0cm;"><span style="font-size: 11pt; font-family: arial, helvetica, sans-serif; ">El Organizador se reserva el derecho de rechazar una solicitud de registro o de cancelar o suspender, temporal o definitivamente una cuenta, en caso de detectar incongruencias o inconsistencias en la informaci&oacute;n provista por un Usuario o en caso de detectar actividades sospechosas, sin que tal decisi&oacute;n genere para el Usuario derechos de indemnizaci&oacute;n o resarcimiento alguno.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="full">
            <div class="container-fluid top-bar">
                <a href="/login">
                    <img src="{{ asset('dist/images/puma/logo-puma.png') }}" style="max-width: 200px;" />
                </a>
            </div>
        </div>

        <div class="main-content container">

            <h2 class="title"><strong>Bienvenido</strong> a PumaEnergy<strong>Team</strong></h2>

            <form method="POST" action="{{ path('register_index') }}">
                
            <div class="form container">
                <div class="instruction">
                    <p>Para iniciar tu proceso completá los siguientes campos:</p>
                </div>

                <div class="personal-data">
                    <div class="section-title">
                        <h4><img class="mobile img" src="{{ asset('dist/images/puma/playero-register.png') }}"/>Datos Personales</h4>
                    </div>
                    <div class="fields-group">
                        <div class="img">
                            <img src="{{ asset('dist/images/puma/playero-register.png') }}"/>
                        </div>
                        <div>
                            <input type="text" id="register_nombre" name="nombre" required="required" placeholder="Nombre" class="form-control">
                            <input type="text" id="register_apellido" name="apellido" required="required" placeholder="Apellido" class="form-control">
                            <input type="text" id="register_dni" name="dni" required="required" placeholder="DNI" class="form-control">
                            <input type="email" id="register_email" name="email" required="required" placeholder="Correo electrónico" class="form-control" >
                            <input type="email" id="register_confirmarEmail" name="confirmarEmail" required="required" placeholder="Confirmar Email" class="form-control">
                            <div class="input-group">
                                <select class=" form-control" id="register_role" required="required" name="role" style="min-height: 33px; background-color: hsla(0,0%,45%,.3); color: #7a7a7a; padding: 5px 15px; border: none; max-width: 250px; width: 100%;">
									<option disabled selected value="">SELECCIONA UN ROL</option>
                                    <option value="OPERADOR/A">OPERADOR/A</option>
                                    <option value="JEFE/A EESS">JEFE/A EESS</option>
                                    <option value="ENCARGADO/A">ENCARGADO/A</option>
                                    <option value="GERENTE EESS">GERENTE EESS</option>
                                    <option value="DUEÑO/A">DUEÑO/A</option>
                                    <option value="EMPLEADO/A ADMINISTRATIVO">EMPLEADO/A ADMINISTRATIVO</option>
                                    <option value="PLAYERO/A">PLAYERO/A</option>
                                    <option value="CAJERO/A DE TIENDA">CAJERO/A DE TIENDA</option>
                                    <option value="OPERARIO/A DE SERVICIOS">OPERARIO/A DE SERVICIOS</option>
                                    <option value="OTROS PUESTOS">OTROS PUESTOS</option>
                                </select>                                
                            </div>
                        </div>

                    </div>

                </div>

                <div class="store-data">
                    <div class="section-title">
                        <h4><img class="mobile img" src="{{ asset('dist/images/puma/bomba-register.png') }}"/>Mi estación de servicio</h4>
                    </div>

                    <div class="fields-group">
                        <div class="img">
                            <img src="{{ asset('dist/images/puma/bomba-register.png') }}"/>
                        </div>


                        <div>
                            <p class="text">Antes de seleccionar tu estación es muy importante que le consultes a tu
                                superior el nombre o razón social para completar esta información correctamente.</p>
                            <div class="input-group">

                            <select id="register_provincia" name="provincia" required="required" placeholder="Provincia" class=" form-control">
                                <option value="" selected="selected">Provincia</option>
                                <option value="1">BUENOS AIRES</option>
                                <option value="2">CAPITAL FEDERAL</option>
                                <option value="3">CATAMARCA</option>
                                <option value="4">CHACO</option>
                                <option value="5">CHUBUT</option>
                                <option value="6">CORDOBA</option>
                                <option value="7">CORRIENTES</option>
                                <option value="8">ENTRE RIOS</option>
                                <option value="9">FORMOSA</option>
                                <option value="10">JUJUY</option>
                                <option value="11">LA PAMPA</option>
                                <option value="12">LA RIOJA</option>
                                <option value="13">MENDOZA</option>
                                <option value="14">MISIONES</option>
                                <option value="15">NEUQUEN</option>
                                <option value="16">RIO NEGRO</option>
                                <option value="17">SALTA</option>
                                <option value="18">SAN JUAN</option>
                                <option value="19">SAN LUIS</option>
                                <option value="20">SANTA CRUZ</option>
                                <option value="21">SANTA FE</option>
                                <option value="22">SANTIAGO DEL ESTERO</option>
                                <option value="23">TIERRA DEL FUEGO</option>
                                <option value="24">TUCUMAN</option>
                            </select>

                                <select name="localidad" defaultSelect="Localidad" id="register_localidad">
                                    <option>Localidad</option>
                                    {% for loc in localidades %}
                                        <option id={{ loc.provincia.id }} value={{ loc.id }} data="{{ loc.provincia.id }}"> {{ loc.nombre }}</option>
                                    {% endfor %}
                                </select>


                                <select name="store" defaultSelect="Estacion" id="register_store">
                                    <option>Estación</option>

                                    {% for store in stores %}

                                        {% if store.localidad %}

                                            <option id={{ store.localidad.id }} value={{ store.id }} data={{ store.localidad.id }}> {{ store.location }} - {{ store.address }} </option>

                                        {% endif %}

                                    {% endfor %}
                                </select>

                            </div>

                            <label class="tyc-label">
                                <input type="checkbox" required />
                                    <button type="button" id="launchModal" class="btn btn-primary" data-toggle="modal" data-target="#estadisticasModal" style="display: none;"></button>

                                <a href="javascript:void(0);" onclick="opentyc();">Acepto términos y condiciones</a>

                            </label>


                        </div>


                    </div>

                    <input type="submit" class="btn btn-default" id="register_submit" name="submit" value="Confirmar">

            </form>


                </div>

            </div>
        </div>

        <div class="bottom-section container">
            <div class="accordion"><strong>¿Qué es</strong> PumaEnergy<strong>Team?</strong> </div>
            <div class="panel">
                <p>Puma Energy Team es una plataforma que permite crear un canal de comunicación con todos los empleados de las Estaciones de Servicio de marca Puma Energy, la cual apunta a mejorar la capacitación y el desarrollo de todo el personal de la Red Puma, la incorporación de buenas prácticas de la industria y la implementación de acciones e iniciativas desarrolladas por Puma Energy</p>
            </div>

            <div class="accordion"><strong>¿Cómo puedo sumarme?</strong> </div>
            <div class="panel">
                <p>Podes registrarte completando tus datos y seleccionando la Estación de Servicio en la cual desempeñas tus actividades. Una vez registrado, el jefe y/o encargado de tu Estación de servicio habilitará tu acceso a la plataforma.</p>
            </div>

            <div class="accordion"><strong>¿Quiénes pueden participar? </strong> </div>
            <div class="panel">
                <p>Pueden participar todos los empleados de Estaciones de Servicio de marca Puma Energy</p>
            </div>

        </div>

    </div>


    <style>
        .panel {
            padding: 0 18px;
            background-color: white;
            max-height: 0;

        }
    </style>

{# 
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Launch demo modal
    </button> #}

    <!-- Modal -->
    {# <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Términos y condiciones</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>
          </div>
        </div>
      </div>
    </div>
 #}
    <script type="text/javascript">


        var close = document.getElementById('close');
        if(close){
            close.addEventListener('click',  function () {
                var modal = document.getElementById('modal');
                modal.style.display = "none";

            });
        }


        function opentyc(){
            document.getElementById('modal2').style.display = "block";
        }

        var close = document.getElementById('close2');
        if(close){
            close.addEventListener('click',  function () {
                var modal = document.getElementById('modal2');
                modal.style.display = "none";

            });
        }


        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }

        // ------------------------

        var provincia = document.getElementById("register_provincia");
        var localidad = document.getElementById("register_localidad");
        var store = document.getElementById("register_store");


            provincia.addEventListener("change" , function() {
                    var selectedId = provincia.value;
                    localidad.selectedIndex = "0";
                    store.selectedIndex = "0";
                    localidad.setAttribute('data-target', selectedId);

                $("#register_localidad option").not("[data='"+selectedId+"']").hide();
                    $("#register_localidad option").filter("[data='"+selectedId+"']").show();
            })

        localidad.addEventListener("change", function () {
            var selectedLocation = localidad.value;
            store.selectedIndex = "0";
            store.setAttribute('data-target', selectedLocation);
                $("#register_store option").not("[data='"+selectedLocation+"']").hide();
                    $("#register_store option").filter("[data='"+selectedLocation+"']").show();
        });


        document.getElementById('register_confirmarEmail').addEventListener("change", check );

        function check() {
            var email = document.getElementById('register_email');
            var emailRepeat = document.getElementById('register_confirmarEmail');
            var submit = document.getElementById('register_submit');

            if (email.value != emailRepeat.value) {
                submit.setAttribute('disibled', 'disabled');
                emailRepeat.setCustomValidity('El correo electrónico no coincide');
            } else {
                submit.removeAttribute('disibled');
                emailRepeat.setCustomValidity('');
            }
        }


    </script>



{% endblock  web_factory_user_content %}
