{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Inscripción módulo presencial'|trans,
    path: {
    },
    } only %}
{% endblock page_header %}


{% block page_content %}
    {{ form(form) }}

{% endblock %}

{% block head_style %}

{% endblock %}

{% block body_scripts_optional %}
    <script src="{{ asset('bundles/mopabootstrap/js/mopabootstrap-collection.js') }}"></script>

{% endblock %}
