{% verbatim %}
             <div v-bind:class="((module.pollPermission) && (module.pollPermission.enabled == true) && (module.pollPermission.next_step != 'none') && 
             ((module.examPermissionPost) && (module.examPermissionPost.enabled == true) && (module.examPermissionPost.next_step === 'completed' || module.examPermissionPost.next_step === 'finish') )
             ) ? 'single-class encuesta available' : 'single-class encuesta disabled'">

                        <div v-if="(module.id != 13 && module.id != 16)" class="number col-lg-1"> 4 </div>
						<div v-else class="number col-lg-1"> 2 </div>

                        <div class="content-class col-lg-10">

                            <div class="classContent">

                                <h4 class="title">Encuesta</h4>

                                <p v-if="(module.id != 13 && module.id != 16)" class="description">Por favor realice la siguiente encuesta anónima. Sólo tomará unos minutos. Si no se encuentra disponible es porque la actividad Cuestionario Posterior a la clase no se encuentra realizada.</p>
								<p v-else class="description">Por favor realice la siguiente encuesta anónima, sólo tomará unos minutos. Una vez realizada la clase interactiva, espere al menos un minuto y actualice la página para que se habilite la encuesta.</p>
                                <a class="cta" v-if="((module.pollPermission) && (module.pollPermission.enabled == true) && (module.pollPermission.next_step === 'continue' || module.pollPermission.next_step === 'start')) && ((module.examPermissionPost) && (module.examPermissionPost.enabled == true) && (module.examPermissionPost.next_step === 'completed' || module.examPermissionPost.next_step === 'finish') )" data-toggle="modal" :data-target="'#modalePoll-' + module.id" >Ingresa a la encuesta</a>

                            <a class="cta" v-if="((module.pollPermission) && (module.pollPermission.enabled == true) && (module.pollPermission.next_step === 'none' || module.pollPermission.next_step === 'forbidden'))" >No disponible</a>

                            </div>

                            <div v-if="((module.pollPermission) && (module.pollPermission.enabled == true) && (module.pollPermission.next_step === 'completed' || module.pollPermission.next_step === 'finish') )" class=" classState done">
                                <img src='/dist/images/puma/done.png'  />
                                <p>Realizado</p>
                            </div>

                            <div v-else-if="((module.pollPermission) && (module.pollPermission.enabled == true) && (module.pollPermission.next_step === 'continue' || module.pollPermission.next_step === 'start')) && ((module.examPermissionPost) && (module.examPermissionPost.enabled == true) && (module.examPermissionPost.next_step === 'completed' || module.examPermissionPost.next_step === 'finish') )" class="classState available">
                                <a class="cta" v-if="((module.pollPermission) && (module.pollPermission.enabled == true) && (module.pollPermission.next_step === 'continue' || module.pollPermission.next_step === 'start'))" data-toggle="modal" :data-target="'#modalePoll-' + module.id" >
                                    <img src='/dist/images/puma/disponible.png'  />
                                    <p>Activo</p>
                                </a>
                            </div>

                             <div v-else class="classState disabled">
                                <img src='/dist/images/puma/disabled.png'  />
                                <p>No disponible</p>
                            </div>

                        </div>

                    </div>



                        <div  class="box-modal">
                                <div v-if="((module.pollPermission) && (module.pollPermission.enabled == true) && (module.pollPermission.next_step != 'none'))" :id="'modalePoll-' + module.id" class="modal myModalPoll fade" role="dialog">

                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">

                                        <div class="modal-header">

                                            <button v-if="poll_ya_finalizada == false" type="button" class="close close1" v-on:click="closePagePoll();">&times;</button>
                                            <button v-if="poll_ya_finalizada == true" type="button" class="close close2" v-on:click="reloadPage();">&times;</button>

                                            <h1 class="img-encuesta">
                                                ENCUESTA <strong>{{ module.title }}</strong>
                                            </h1>

                                        </div>

                                        <div class="modal-body">

                                            <div class="inside-bg"></div>

                                            <div class="inside-modal">

                                                <div class="text-center">

                                                    <div class="white-border flexbox-columns bg-white no-padding-right no-padding-left text-center">

                                    <div :id="'myCarouselPoll-' + module.id">

                                        <!-- Wrapper for slides -->
                                        <div class="carousel-inner">
                                            <div v-for="(polling, index) in module.poll.questions" class="item"
                                                 v-bind:class="{ 'active-start': ((index == module.poll.current_pager_id) && (current_pager_id == 0)), 'active': ((index == current_pager_id) && (current_pager_id >= 0)) }">


                                               <div class="the-loader" v-if="(show_loader == true)"></div>

                                                 <form :id="'myForm' + polling.id" v-if="(show_loader == false)">

                                                    <p class="question-mark text-center" >
                                                         {{ index + 1 }}.- {{ polling.text }}
                                                    </p>

                                                    <div v-bind:class="{ 'col-sm-6': (polling.image && polling.image.ext)}">

                                                        <div class="the-question-area" v-if="(polling.type == 'MULTCHOICE')">

                                                            <div v-for="(answer, index) in polling.answers" class="the-question" :id="'the-question'+ polling.id" v-bind:class="{ 'the-question-w-image': (polling.image && polling.image.ext)}">

                                                               <div data-toggle="buttons" class="fancy-radio-group">

                                                                    <label v-on:click="markedActive('the-question' + polling.id)" class="btn btn-fancy-radio text-xs text-no-transform clearfix">

                                                                        {% endverbatim %}
                                                                        <img src="{{ asset('img/plan-de-carrera/radio/r-default.png') }}"
                                                                             class="normal"/>
                                                                        <img src="{{ asset('img/plan-de-carrera/radio/r-active.svg') }}"
                                                                             class="checked"/>
                                                                        {% verbatim %}

                                                                        <input type="radio" class="hidden"
                                                                               :name="'a' + polling.id + 'poll' + module.id"
                                                                               :value="answer.id"> <span class="the-question-text">{{ answer.text }}</span>
                                                                    </label>

                                                                </div>

                                                            </div>
                                                         </div>

                                                         <div class="the-question-area" v-if="(polling.type == 'COMPLETAR')">
                                                            <textarea rows="4" cols="50"></textarea>
                                                         </div>

                                                    </div>

                                                    {{polling.image}}

                                                    <div class="img-responsive-image" v-if="(polling.image && polling.image.ext)" v-bind:class="{ 'col-sm-6': (polling.image && polling.image.ext)}">
                                                        <img class="img-responsive" :src="'/' + polling.image.web_path" alt=""/>
                                                    </div>

                                                    <div class="poll-paginador" v-if="module.poll.questions.length+1 != index+1">
                                                        <p><span class="color-lila-claro">{{ index + 1 }}</span>
                                                        <span class="poll-liner"></span>
                                                        <span class="color-lila">{{ module.poll.questions.length }}</span></p>
                                                    </div>

                                                    <div class="poll-arrows">

                                                        <a
                                                            v-if="( (index + 1) < module.poll.questions.length)"
                                                            v-bind:class="'right carousel-control' + ' ' +  (index + 1)"
                                                            v-on:click="sendPoll((index), polling.type, module.id, polling.id, module.poll.questions.length);">
                                                            Siguiente
                                                        </a>

                                                        <a class="right carousel-control"
                                                            v-if="((index+1) == module.poll.questions.length)"
                                                            :class="index+1"
                                                            v-on:click="sendPoll((index), polling.type, module.id, polling.id, module.poll.questions.length);">
                                                            Finalizar
                                                        </a>


                                                    </div>

                                                </form>

                                            </div>

                                            <div class="item" v-bind:class="{active: (current_pager_id == module.poll.questions.length)}">

                                                <br/>

                                                <p class="question-mark text-center">GRACIAS POR COMPLETAR NUESTRA ENCUESTA.</p>

                                                <br/>

                                                <button type="button" v-on:click="reloadPagePoll();" class="btn btn-default">CERRAR ENCUESTA</button>

                                                 <br/>

                                            </div>

                                        </div>

                                    </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
{% endverbatim %}