<script>
     var moduleId = '{{ moduleId }}';
     // to convert json into a javascript object
</script>

{% verbatim %}

    <div class="modules">

        <div v-for="(plan, index) in pdc_plan" >

            <div class="module-content">

                <div v-if="(module.id == moduleId)" v-for="(module, index) in plan.modules">

                    <!--single page module header -->
                    <div class="row header_image animated claseBanner fadeIn">

                        <div class="col-lg-12 col-md-12 col-sm-12 header_image" v-if="(module.image)" v-bind:style="{ background: 'linear-gradient(260deg, rgba(11,99,73,1) 70%, rgba(11, 99, 73, 0.2784313725490196) 110%), url(/' + module.image.web_path + ') no-repeat' }">
                               <img v-bind:src="'/' + module.image.web_path" />
                               <h1 class="title_header bold">
                                    {{ module.title }}
                                </h1>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 header_image" v-else>
                            <h1 class="title_header bold">
                                {{ module.title }}
                            </h1>
                        </div>

                    </div>

                    <div class="col-xs-12 main-content">

                             <div class="encabezado">
                                <h2 class="course-title">Bienvenido al curso: {{ module.title }}</h2>
                                <p class="course-description" v-html="module.text"></p>
                             </div>

                      <!-- module content blocks -->

                        {% endverbatim %}

                        {% verbatim %}
                            <div v-if="module.multimedias.length">
                                {% endverbatim %}
                                  {% include '@PlanCarrera/Front/includes/inc-files.html.twig' %}
                            </div>
                             {%  include '@PlanCarrera/Front/includes/inc-examenPre.html.twig' %}

                             {%  include '@PlanCarrera/Front/includes/inc-interactiveClass.html.twig' %}

                             {%  include '@PlanCarrera/Front/includes/inc-examenPost.html.twig' %}

                             {%  include '@PlanCarrera/Front/includes/inc-poll.html.twig' %}

                             {%  include '@PlanCarrera/Front/includes/inc-certificate.html.twig' %}

                        {% verbatim %}

                      <!-- module content blocks -->


                    </div>

                </div>

            </div>
        </div>
    </div>



{% endverbatim %}