{#HEADER#}
<div class="row header_image animated fadeIn" id="header_current_plan_">

    <div class="col-lg-12 col-md-12 col-sm-12">

        <div class="row header_image">
            <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs"
                 style="background-image: url({{ asset('dist/images/puma/center-puma.png') }})">

                <img class="img_backHeader" src="{{ asset('dist/images/puma/center-puma.png') }}">

                <h1 class="title_header bold">
                    Tu conocimiento al próximo nivel
                </h1>

            </div>

                <h1 class="title_header bold">
                    Tu conocimiento al próximo nivel
                </h1>


        </div>

    </div>

    <div class="develops-active-bg"></div>

</div>

{% if (user.employee.idPixelnetUsr == '') %}
<p align="center" style="font-size: 18px;
    background: #d0d0d0;
    color: #0b6349;
    width: 94%;
    margin: 50px auto 0px;
    padding: 20px;
    border: 3px solid red;
    font-weight: bold;">
Estamos asignando el Plan de capacitación correspondiente a tu Perfil. <br>
En las próximas 48 horas hábiles tendrás disponibles tus cursos de capacitación.<br>
¡Gracias por sumarte a Puma Energy Team!</p>
{% endif %}