{#ALERTAS#}
<div v-if="((modules_with_nivelation[current_plan_position-1] >= 1) && ((pdc_capacitacion_entrenamiento_approved_array[current_plan_position-1] + pdc_cursos_talleres_approved_array[current_plan_position-1]) != modules_with_nivelation[current_plan_position-1]))"
     class="modulo-alertas"
     id="modulo-alertas">

    <a v-on:click="greetToCloseAlert" class="close-alertas">Cerrar</a>

    {% verbatim %}
    <div class="icon-warning" v-if="(((modules_with_nivelation[current_plan_position-1]) - (pdc_capacitacion_entrenamiento_approved_array[current_plan_position-1] + pdc_cursos_talleres_approved_array[current_plan_position-1])) == 1)">
        Tenés {{ ((modules_with_nivelation[current_plan_position-1]) - (pdc_capacitacion_entrenamiento_approved_array[current_plan_position-1] + pdc_cursos_talleres_approved_array[current_plan_position-1])) }} módulo de nivelación de {{ current_plan_name }}
        para hacer.
    </div>
    <div class="icon-warning" v-else>
        Tenés {{ ((modules_with_nivelation[current_plan_position-1]) - (pdc_capacitacion_entrenamiento_approved_array[current_plan_position-1] + pdc_cursos_talleres_approved_array[current_plan_position-1])) }} módulos de nivelación de {{ current_plan_name }}
        para hacer.
    </div>
    {% endverbatim %}

</div>
{#{% verbatim %}#}
        {#{{  modules_with_nivelation[current_plan_position-1] }}#}
                {#{{  pdc_capacitacion_entrenamiento_approved_array[current_plan_position-1] }}#}
                        {#{{   pdc_cursos_talleres_approved_array[current_plan_position-1] }}#}
        {#{{  pdc_capacitacion_entrenamiento_approved_array[current_plan_position-1] + pdc_cursos_talleres_approved_array[current_plan_position-1] }}#}
    {#{% endverbatim %}#}