{% verbatim %}
        <div v-if="(module.id != 13) && (module.id != 16)" v-bind:class="((module.examPermission) && (module.examPermission.enabled == true) && (module.examPermission.next_step != 'none' )) ? 'single-class encuesta available' : 'single-class encuesta disabled'">

            <div class="number col-lg-1"> 1 </div>

                 <div class="content-class col-lg-10">

                       <div class="classContent">

                            <h4 class="title">Cuestionario previo a la clase</h4>
                            <p class="description">Hemos incluido
                                    unas breves preguntas. Probablemente
                                    no tengas
                                    todas
                                    las respuestas.
                                    Es importante que sepas que NO SE
                                    TRATA DE UNA EVALUACIÓN.
                                    Queremos que puedas comparar cuánto
                                    sabes ahora y cuanto aprendiste
                                    luego de
                                    completar
                                    este curso de capacitación.</p>
                            <a class="cta" v-if="((module.examPermission) && (module.examPermission.enabled == true))" data-toggle="modal" :data-target="'#modaleExamen-' + module.id" v-on:click="starterExamen(module.id, 0, module.examPermission.next_step);">Ingresa al cuestionario previo</a>
                             <!-- <a class="cta" data-toggle="modal" :data-target="'#modaleExamen-' + module.id" v-on:click="starterExamen(module.id, 0, module.examPermission.next_step);">Ingresa al cuestionario previo</a> -->

                            <a class="cta" v-if="((module.examPermission) && (module.examPermission.enabled == true) && (module.examPermission.next_step === 'none' || module.examPermission.next_step === 'forbidden' || module.examPermission.next_step === 'wait'))" >No disponible</a>

                       </div>

                           <div v-if="((module.examPermission) && (module.examPermission.enabled == true) && (module.examPermission.next_step === 'completed' || module.examPermission.next_step === 'finish') )" class="classState done">
                                <img src='/dist/images/puma/done.png'  />
                                <p>Realizado</p>
                           </div>

                           <div v-else-if="((module.examPermission) && (module.examPermission.enabled == true) && (module.examPermission.next_step === 'continue' || module.examPermission.next_step === 'start'))" class="classState available" >
                                <a class="cta" v-if="((module.examPermission) && (module.examPermission.enabled == true) && (module.examPermission.next_step === 'continue' || module.examPermission.next_step === 'start'))" data-toggle="modal" :data-target="'#modaleExamen-' + module.id" v-on:click="starterExamen(module.id, 0, module.examPermission.next_step);">
                                    <img src='/dist/images/puma/disponible.png'  />
                                    <p>Ingresar</p>
                                </a>
                           </div>

                           <div v-else class=" classState disabled">
                              <img src='/dist/images/puma/disabled.png'  />
                              <p>No disponible</p>
                           </div>

                 </div>

        </div>



          <div class="box-modal">

            <div v-if="((module.examPermission) && (module.examPermission.enabled == true) && (module.examPermission.next_step != 'none'))" :id="'modaleExamen-' + module.id" class="modal myModalPoll myModalExamenM fade" role="dialog">

                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">

                        <div class="modal-header">

                            <button v-if="((show_exam_response == false) && (!message_days_to_retry))" type="button" class="close close1" v-on:click="closeModalExam()">&times;</button>

                            <button v-if="(message_days_to_retry)" type="button" class="close close2" v-on:click="reloadPage()">&times;</button>

                            <button v-if="(show_exam_response == true)" type="button" class="close close3" v-on:click="reloadPage()">&times;</button>

                            <h1 class="img-encuesta img-examen">
                                CUESTIONARIO PREVIO <strong>{{ module.title }}</strong>
                            </h1>

                        </div>

                        <div class="modal-body">

                            <div class="inside-bg"></div>

                            <div class="inside-modal">

                                <div class="text-center">

                                    <div class="white-border flexbox-columns bg-white no-padding-right no-padding-left text-center">


                                            <div :id="'myCarouselExam-' + module.id">

                                                <div class="carousel-full">

                                                     <div :id="'getting-started-' + module.id" class="clockdiv" v-if="(show_exam_response === false)"></div>

                                                    <div class="the-loader"
                                                         v-if="((show_loader == true) && (!message_days_to_retry))"></div>
                                                    <div v-if="((show_loader == true) && (!message_days_to_retry))">Si estás utilizando un navegador como Internet Explorer, el proceso puede demorar demasiado. Recomendamos utilizar Chrome.</div>



<!--                                                    <div v-if="(message_days_to_retry)">-->
<!--                                                        <br/>-->
<!--                                                        <br/>-->
<!--                                                        <br/>-->
<!--                                                        <br/>-->
<!--                                                        <p class="question-mark text-center" >-->
<!--                                                             {{ message_days_to_retry }}.-->
<!--                                                        </p>-->
<!--                                                        <br/>-->
<!--                                                        <br/>-->
<!--                                                        <button type="button" v-on:click="reloadPage();" class="btn btn-default btn-default2 btn-default3">CERRAR</button>-->
<!--                                                        <br/>-->
<!--                                                        <br/>-->
<!--                                                    </div>-->
                                                    <div class="carousel-inner">

                                                        <div v-for="(exa_questions, index) in pdc_full_exam_a" class="item"
                                                             v-bind:class="{'active-start':((index == pdc_full_exam_data.total_answers) && (current_pager_id == 0)), 'active':((index == current_pager_id && (current_pager_id > 0))) }"
                                                             v-if="(show_loader == false)">

                                                                <p class="hidden">current_pager_id: {{ current_pager_id }}</p>
                                                                <p class="hidden">pdc_full_exam_a.length: {{ pdc_full_exam_a.length }}</p>

                                                                <form :id="'myFormExam' + exa_questions.id">

                                                                    <p class="question-mark text-center" >
                                                                         {{ index + 1 }}.- {{ exa_questions.question.text }}
                                                                    </p>

                                                                    <div class="the-question-area col-sm-12">

                                                                        <div v-for="(exa_quest_item, index) in exa_questions">

                                                                             <!--<div class="dibimg" v-if="(exa_questions.question.type == 'COMPLETAR')">-->
                                                                                <!--<textarea rows="4" cols="50"></textarea>-->
                                                                             <!--</div>-->

                                                                             <div v-bind:class="{ 'col-sm-6': (exa_questions.question.file)}" v-if="(exa_questions.question.type == 'MULTCHOICE')">

                                                                                 <div v-for="(exa_quest_item_answer, index) in exa_quest_item.answers"
                                                                                     class="the-question" :id="'the-question'+ exa_questions.id"
                                                                                     v-bind:class="{ 'the-question-w-image': (exa_questions.question.file)}">

                                                                                     <div data-toggle="buttons" class="fancy-radio-group">

                                                                                        <label v-on:click="markedActive('the-question' + exa_questions.id)" class="btn btn-fancy-radio text-xs text-no-transform clearfix">

                                                                                            {% endverbatim %}
                                                                                            <img src="{{ asset('img/plan-de-carrera/radio/r-default.png') }}"
                                                                                                 class="normal"/>
                                                                                            <img src="{{ asset('img/plan-de-carrera/radio/r-active.svg') }}"
                                                                                                 class="checked"/>
                                                                                            {% verbatim %}

                                                                                            <input type="radio" class="hidden"
                                                                                                   :name="'a' + exa_questions.id + 'exam' + module.id"
                                                                                                   :value="exa_quest_item_answer.id"> <span class="the-question-text">{{ exa_quest_item_answer.text }}</span>
                                                                                        </label>

                                                                                     </div>

                                                                                 </div>

                                                                             </div>

                                                                             <div v-bind:class="{ 'img-responsive-image col-sm-6': (exa_questions.question.file)}">

                                                                                 <div v-for="(exa_quest_item_file, index) in exa_quest_item"
                                                                                         v-if="(exa_quest_item_file && exa_quest_item_file.ext)">

                                                                                    <img class="img-responsive" :src="'/' + exa_quest_item_file.web_path" alt=""/>
                                                                                 </div>

                                                                             </div>

                                                                        </div>

                                                                    </div>

                                                                    <div class="poll-paginador" v-if="pdc_full_exam_a.length + 1 != index + 1">
                                                                        <p><span class="color-lila-claro">{{ index + 1 }}</span>
                                                                        <span class="poll-liner"></span>
                                                                        <span class="color-lila">{{ pdc_full_exam_a.length }}</span></p>
                                                                    </div>

                                                                    <div class="poll-arrows">

                                                                        <a class="right carousel-control"  v-if="((index+1) < pdc_full_exam_a.length)" :class="index+1"
                                                                            v-on:click="sendExamen((index), 0, exa_questions.question.type, exa_questions.id, pdc_full_exam_a.length);">
                                                                            Siguiente
                                                                        </a>

                                                                        <a class="right carousel-control"  v-if="((index+1) == pdc_full_exam_a.length)" :class="index+1"
                                                                            v-on:click="sendExamen((index), 0, exa_questions.question.type, exa_questions.id, pdc_full_exam_a.length, module.id);">
                                                                            Finalizar
                                                                        </a>

                                                                    </div>

                                                                </form>

                                                        </div>

                                                        <div class="item" v-bind:class="{active: ((current_pager_id == pdc_full_exam_a.length) || (current_pager_id == pdc_full_exam_a.length+1))}">

                                                            <div class="exam-results-box" v-if="(show_exam_response == true)">
                                                                <br/>
                                                                <br/>
                                                                <br/>

                                                                <h1>¡Gracias por realizar el cuestionario previo! <br/> Puedes continuar con el curso</h1>

                                                                <br/>
                                                                <br/>
                                                                <br/>


                                                            </div>

                                                            <div class="" v-if="(show_exam_btn_response == true)">

                                                                <br/>

                                                                <p class="question-mark text-center">Has completado todas las preguntas, aguarda unos segundos</p>

                                                                <br/>


                                                                <br/>

                                                            </div>


                                                        </div>


                                                    </div>

                                                </div>

                                            </div>


                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endverbatim %}