{#puma modules#}

{% verbatim %}

    <div class="modules" >
	
        <div class="row" v-for="(plan, index) in pdc_plan" >

            <div class="container courses-content">

            <!--- modulo disponible ---->

                 <div v-if="(module.enabled === true) && (module.approved === false) && (module.progress != 100)" v-bind:class="(module.progress === 0) ? 'individual-course available col-lg-5 col-12' : 'individual-course continue col-lg-5 col-12'" v-for="(module, index) in plan.modules">

                        <div class="top" v-bind:style="{ backgroundImage: 'url(/' + module.image.web_path + ')' }" >
                           <img v-bind:src="'/' + module.image.web_path" />
                             <div class="cursoState" v-if='(module.progress === 0)' v-bind:style="{ backgroundImage: 'url(/dist/images/puma/available.png)' }"></div>
                             <div class="cursoState" v-else-if="(module.progress === 100)" v-bind:style="{ backgroundImage: 'url(/dist/images/puma/done.png)' }"></div>
                             <div class="cursoState" v-else>
                             <div class="percent" id="percent" name="percent" :value=module.progress>
                                        <div id="cont" :data-pct='module.progress'>
                                            <svg id="svg" width="200" height="200" viewPort="0 0 100 100"
                                                 version="1.1"
                                                 xmlns="https://www.w3.org/2000/svg">
                                                <circle r="90" cx="100" cy="100" fill="transparent"
                                                        stroke-dasharray="565.48"
                                                        stroke-dashoffset="0"></circle>
                                                <circle class="bar" id="bar" :valuePercent=module.progress r="90" cx="100" cy="100" fill="transparent"
                                                        stroke-dasharray="565.48"
                                                        stroke-dashoffset="0"></circle>
                                            </svg>
                                        </div>
                                    </div>
                               </div>
                            </div>
                        <div class="bottom">
                            <h3 class="title">{{ module.title }}</h3>
                            <p class="description" style="background-color: #bbb; line-height: 1.2em; word-break: break-word; font-size: 1em; margin-bottom: 0px; padding: 15px 30px; max-height: 98px; overflow: hidden;">{{ module.description }}</p>
                            <a href="#" v-if="(module.progress === 100)" style="cursor: pointer;">CERTIFICADO DISPONIBLE</a>
                            <a v-on:click="getModule(module.id);" v-bind:href="'/module/static/' + module.id" v-bind:data-selected="module.id" v-else-if="(module.progress !== 0)" class="continue">CONTINUAR</a>
                            <a v-on:click="getModule(module.id);" v-bind:href="'/module/static/' + module.id" v-bind:data-selected="module.id" v-else>DISPONIBLE</a>
                        </div>
                  </div>

            <!--- modulo finalizado ---->

                  <div v-else-if="(module.enabled === true) && ((module.approved === true) || (module.progress == 100))" class="individual-course available approved col-lg-5 col-12" >

                        <div class="top" v-bind:style="{ backgroundImage: 'url(/' + module.image.web_path + ')' }" >
                           <img v-bind:src="'/' + module.image.web_path" />
                             <div class="cursoState" v-bind:style="{ backgroundImage: 'url(/dist/images/puma/done.png)' }"></div>
                        </div>
                        <div class="bottom">
                            <h3 class="title">{{ module.title }}</h3>
                            <p class="description">{{ module.description }}</p>
                            <a v-on:click="getModule(module.id);" v-bind:href="'/module/static/' + module.id" v-bind:data-selected="module.id" style="cursor: pointer;">CERTIFICADO DISPONIBLE</a>
                        </div>
                  </div>

            <!--- modulo no disponible ---->

                   <div v-else-if="(module.enabled === false && module.title != 'Aula Virtual' && module.title != 'Transporte y Descarga de Combustibles N-1')" class="individual-course disabled col-lg-5 col-12">


                           <div class="top" v-bind:style="{ backgroundImage: 'url(/' + module.image.web_path + ')' }">
                              <img v-bind:src="'/' + module.image.web_path" />
                               <div class="cursoState" v-bind:style="{ backgroundImage: 'url(/dist/images/puma/disabled.png)' }"></div>
                           </div>
                           <div class="bottom">
                              <h3 class="title">{{ module.title }}</h3>
                              <p class="description">{{ module.description }}</p>
                              <a href="#">NO DISPONIBLE</a>
                           </div>
                   </div>

            <!--- Aula virtual ---->

                  <div v-else-if="module.title === 'Aula Virtual'" class="individual-course available col-lg-5 col-12" >

                        <div class="top" v-bind:style="{ backgroundImage: 'url(/' + module.image.web_path + ')' }" style="background-blend-mode: normal;" >
                           <img v-bind:src="'/' + module.image.web_path" />
                        </div>
                        <div class="bottom">
                            <h3 class="title">{{ module.title }}</h3>
                            <p class="description">{{ module.description }}</p>
                            <a v-on:click="getModule(module.id);" v-bind:href="'/module/static/' + module.id" v-bind:data-selected="module.id">INGRESAR</a>
                        </div>
                  </div>

                </div>
            </div>
        </div>

{% endverbatim %}