{%  verbatim %}
<div v-bind:class="((module.pollPermission) && (module.pollPermission.enabled == true) && (module.pollPermission.next_step != 'none') && ((module.examPermissionPost) && (module.examPermissionPost.enabled == true) && (module.examPermissionPost.next_step === 'completed' || module.examPermissionPost.next_step === 'finish') )) ? 'single-class certificate available' : 'single-class certificate disabled'">
    <!-- <div v-bind:class="module.approved ? 'single-class certificate available' : 'single-class certificate disabled'"> -->

            <div v-if="(module.id != 13 && module.id != 16)" class="number col-lg-1"> 5 </div>
			<div v-else class="number col-lg-1"> 3 </div>

                 <div class="content-class col-lg-10">

                       <div class="classContent">

                            <h4 class="title">Certificado</h4>
                            <p class="description">Fin del curso
                                        De este modo, hemos concluido con el curso "{{ module.title }}"
                                        Recordá siempre la importancia de ofrecer a nuestros clientes los
                                        combustibles, PUMA MAX PREMIUM, en los vehículos nafteros y ION PUMA
                                        DIESEL en los vehículos con motores diésel. ¡Muchas gracias por tu
                                        participación!
                                        ¡Hasta pronto!</p>

                            <!-- a class="cta" v-if="module.approved" :href="'/certificado/' + module.id">Descargar</a>
                            <a class="cta" v-else>No disponible</a -->
                            <a class="cta" v-if="((module.pollPermission) && (module.pollPermission.enabled == true) && (module.pollPermission.next_step != 'none')) && ((module.examPermissionPost) && (module.examPermissionPost.enabled == true) && (module.examPermissionPost.next_step === 'completed' || module.examPermissionPost.next_step === 'finish') )" :href="'/certificado/' + module.id">Descargar</a>

                       </div>


                           <div v-if="((module.pollPermission) && (module.pollPermission.enabled == true) && (module.pollPermission.next_step != 'none')) && ((module.examPermissionPost) && (module.examPermissionPost.enabled == true) && (module.examPermissionPost.next_step === 'completed' || module.examPermissionPost.next_step === 'finish') )" class="classState available" >
                                <a :href="'/certificado/' + module.id">
                                    <img src='/dist/images/puma/disponible.png'/>
                                    <p>Disponible</p>
                                </a>
                           </div>

                           <div v-else class="classState disabled">
                              <img src='/dist/images/puma/disabled.png'/>
                              <p>No disponible</p>
                           </div>

                           <!-- div v-if="module.approved" class="classState available" data-toggle="modal" :data-target="'#modaleExamenPost-' + module.id" >
                                <img src='/dist/images/puma/disponible.png'/>
                                <p>Disponible</p>
                           </div>

                           <div v-else class="classState disabled">
                              <img src='/dist/images/puma/disabled.png'/>
                              <p>No disponible</p>
                           </div -->

                 </div>

        </div>

{% endverbatim %}