<div class="cs-loader" id="cs-loader">
    <p>CARGANDO<br/>CURSOS</p>
    <div class="cs-loader-inner">
        <label> ●</label>
        <label> ●</label>
        <label> ●</label>
        <label> ●</label>
        <label> ●</label>
        <label> ●</label>
    </div>
</div>