{% if moduleId == 1 %}
    {% verbatim %}
    <div v-bind:class="(module.examPermission.next_step === 'completed') ? 'single-class available' : 'single-class disabled'">
        <div class="number col-lg-1"> 2 </div>
        <div class="content-class col-lg-10">
            <div class="classContent">
                <h4 class="title">Clase Interactiva</h4>
                <p class="description">
                    Con el fin de brindarte conocimientos y herramientas para tu desempeño cotidiano en la gestión comercial con los clientes esperamos con este curso logres:<br>
                    • Conocer las funciones básicas del lubricante.<br>
                    • Conocer la acción de la viscosidad en el lubricante y las escalas para su medición.<br>
                    • Saber que significa API y otros organismos de clasificación de lubricantes.<br>
                    • Conocer los lubricantes Puma que se ofrecen en el mercado argentino para los diferentes tipos de motores y máquinas.<br>
                    La clase se abrirá en una nueva ventana. Si tiene un bloqueador de ventanas emergentes o pop-up no podrá ver la clase. Desactive el bloqueador de ventanas emergentes.
                </p>
                <a class="cta" id="target" onclick="test()" v-if="module.examPermission.next_step === 'completed'">Ingresar</a>
                <small>Por favor, espere al menos 1 minuto para poder avanzar a la siguiente etapa mientras la plataforma procesa el avance de su performance.</small>
                <a class="cta" v-else-if="module.interactive_course === 'true'">Realizado</a>
                <a class="cta" v-else>No disponible</a>

            </div>

            <div class="classState" v-if="module.examPermission.next_step === 'completed'">
                <a class="cta" id="target" onclick="test()" v-if="module.examPermission.next_step === 'completed'">
                    <img src='/dist/images/puma/disponible.png' />
                    <p>Ingresar</p>
                </a>
            </div>
             <div class="classState" v-else-if="module.interactive_course === 'true'">
                <img src='/dist/images/puma/disponible.png' />
                <p>Aprobado</p>
            </div>

            <div class="classState" v-else>
                <img src='/dist/images/puma/disabled.png' />
                <p>No disponible</p>
            </div>

        </div>
    </div>
    {% endverbatim %}
{% elseif moduleId == 2 %}
    {% verbatim %}
    <div v-bind:class="(module.examPermission.next_step === 'completed') ? 'single-class available' : 'single-class disabled'">
        <div class="number col-lg-1"> 2 </div>
        <div class="content-class col-lg-10">
            <div class="classContent">
                <h4 class="title">Clase Interactiva</h4>
                <p class="description">
                    Con el fin de brindarte conocimientos y herramientas para tu desempeño cotidiano en la gestión comercial con los clientes esperamos con este curso logres: <br>
                    • Reconocer la importancia del rol de "prestador de servicios" en nuestro trabajo, con el sentido de satisfacer las necesidades de los clientes. <br>
                    • Identificar y poner en práctica los "4 pasos" del Ciclo de Calidad de Atención a Clientes.<br>
                    La clase se abrirá en una nueva ventana. Si tiene un bloqueador de ventanas emergentes o pop-up no podrá ver la clase. Desactive el bloqueador de ventanas emergentes.
                </p>
                <a class="cta" id="target" onclick="test()" v-if="module.examPermission.next_step === 'completed'">Ingresar</a>
                <small v-if="module.examPermission.next_step === 'completed'">Por favor, espere al menos 1 minuto para poder avanzar a la siguiente etapa mientras la plataforma procesa el avance de su performance.</small>
                <a class="cta" v-else-if="module.interactive_course === 'true'">Realizado</a>
                <a class="cta" v-else>No disponible</a>

            </div>

            <div class="classState" v-if="module.examPermission.next_step === 'completed'">
                <a class="cta" id="target" onclick="test()" v-if="module.examPermission.next_step === 'completed'">
                    <img src='/dist/images/puma/disponible.png' />
                    <p>Ingresar</p>
                </a>
            </div>
             <div class="classState" v-else-if="module.interactive_course === 'true'">
                <img src='/dist/images/puma/disponible.png' />
                <p>Aprobado</p>
            </div>

            <div class="classState" v-else>
                <img src='/dist/images/puma/disabled.png' />
                <p>No disponible</p>
            </div>

        </div>
    </div>
    {% endverbatim %}
{% elseif moduleId == 3 %}
    {% verbatim %}
    <div v-bind:class="(module.examPermission.next_step === 'completed') ? 'single-class available' : 'single-class disabled'">
        <div class="number col-lg-1"> 2 </div>
        <div class="content-class col-lg-10">
            <div class="classContent">
                <h4 class="title">Clase Interactiva</h4>
                <p class="description">
                    Clase "Combustibles N -1".<br>
                    La clase se abrirá en una nueva ventana. Si tiene un bloqueador de ventanas emergentes o pop-up no podrá ver la clase. Desactive el bloqueador de ventanas emergentes.
                </p>
                <a class="cta" id="target" onclick="test()" v-if="module.examPermission.next_step === 'completed'">Ingresar</a>
                <small v-if="module.examPermission.next_step === 'completed'">Por favor, espere al menos 1 minuto para poder avanzar a la siguiente etapa mientras la plataforma procesa el avance de su performance.</small>
                <a class="cta" v-else-if="module.interactive_course === 'true'">Realizado</a>
                <a class="cta" v-else>No disponible</a>

            </div>

            <div class="classState" v-if="module.examPermission.next_step === 'completed'">
                <a class="cta" id="target" onclick="test()" v-if="module.examPermission.next_step === 'completed'">
                    <img src='/dist/images/puma/disponible.png' />
                    <p>Ingresar</p>
                </a>
            </div>
             <div class="classState" v-else-if="module.interactive_course === 'true'">
                <img src='/dist/images/puma/disponible.png' />
                <p>Aprobado</p>
            </div>

            <div class="classState" v-else>
                <img src='/dist/images/puma/disabled.png' />
                <p>No disponible</p>
            </div>

        </div>
    </div>
    {% endverbatim %}
{% elseif moduleId == 4 %}
    {% verbatim %}
    <div v-bind:class="(module.examPermission.next_step === 'completed') ? 'single-class available' : 'single-class disabled'">
        <div class="number col-lg-1"> 2 </div>
        <div class="content-class col-lg-10">
            <div class="classContent">
                <h4 class="title">Clase Interactiva</h4>
                <p class="description">
                    El objetivo de éste curso es brindarte información sobre los procedimientos para desempeñarte en forma segura en tus tareas y otras operaciones en la Estación de servicio.<br>
                    La clase se abrirá en una nueva ventana. Si tiene un bloqueador de ventanas emergentes o pop-up no podrá ver la clase. Desactive el bloqueador de ventanas emergentes.
                </p>
                <a class="cta" id="target" onclick="test()" v-if="module.examPermission.next_step === 'completed'">Ingresar</a>
                <small v-if="module.examPermission.next_step === 'completed'">Por favor, espere al menos 1 minuto para poder avanzar a la siguiente etapa mientras la plataforma procesa el avance de su performance.</small>
                <a class="cta" v-else-if="module.interactive_course === 'true'">Realizado</a>
                <a class="cta" v-else>No disponible</a>

            </div>

            <div class="classState" v-if="module.examPermission.next_step === 'completed'">
                <a class="cta" id="target" onclick="test()" v-if="module.examPermission.next_step === 'completed'">
                    <img src='/dist/images/puma/disponible.png' />
                    <p>Ingresar</p>
                </a>
            </div>
             <div class="classState" v-else-if="module.interactive_course === 'true'">
                <img src='/dist/images/puma/disponible.png' />
                <p>Aprobado</p>
            </div>

            <div class="classState" v-else>
                <img src='/dist/images/puma/disabled.png' />
                <p>No disponible</p>
            </div>

        </div>
    </div>
    {% endverbatim %}
{% elseif moduleId == 6 %}
    {% verbatim %}
    <div v-bind:class="(module.examPermission.next_step === 'completed') ? 'single-class available' : 'single-class disabled'">
        <div class="number col-lg-1"> 2 </div>
        <div class="content-class col-lg-10">
            <div class="classContent">
                <h4 class="title">Clase Interactiva</h4>
                <p class="description">
                    Clase "Lubricantes Puma N-2".<br>
                    La clase se abrirá en una nueva ventana. Si tiene un bloqueador de ventanas emergentes o pop-up no podrá ver la clase. Desactive el bloqueador de ventanas emergentes.
                </p>
                <a class="cta" id="target" onclick="test()" v-if="module.examPermission.next_step === 'completed'">Ingresar</a>
                <small v-if="module.examPermission.next_step === 'completed'">Por favor, espere al menos 1 minuto para poder avanzar a la siguiente etapa mientras la plataforma procesa el avance de su performance.</small>
                <a class="cta" v-else-if="module.interactive_course === 'true'">Realizado</a>
                <a class="cta" v-else>No disponible</a>

            </div>

            <div class="classState" v-if="module.examPermission.next_step === 'completed'">
                <a class="cta" id="target" onclick="test()" v-if="module.examPermission.next_step === 'completed'">
                    <img src='/dist/images/puma/disponible.png' />
                    <p>Ingresar</p>
                </a>
            </div>
             <div class="classState" v-else-if="module.interactive_course === 'true'">
                <img src='/dist/images/puma/disponible.png' />
                <p>Aprobado</p>
            </div>

            <div class="classState" v-else>
                <img src='/dist/images/puma/disabled.png' />
                <p>No disponible</p>
            </div>

        </div>
    </div>
    {% endverbatim %}
{% elseif moduleId == 5 %}
    {% verbatim %}
    <div v-bind:class="(module.examPermission.next_step === 'completed') ? 'single-class available' : 'single-class disabled'">
        <div class="number col-lg-1"> 2 </div>
        <div class="content-class col-lg-10">
            <div class="classContent">
                <h4 class="title">Clase Interactiva</h4>
                <p class="description">
                    Clase "Prevencion del COVID-19".<br>
                    La clase se abrirá en una nueva ventana. Si tiene un bloqueador de ventanas emergentes o pop-up no podrá ver la clase. Desactive el bloqueador de ventanas emergentes.
                </p>
                <a class="cta" id="target" onclick="test()" v-if="module.examPermission.next_step === 'completed'">Ingresar</a>
                <small v-if="module.examPermission.next_step === 'completed'">Por favor, espere al menos 1 minuto para poder avanzar a la siguiente etapa mientras la plataforma procesa el avance de su performance.</small>
                <a class="cta" v-else-if="module.interactive_course === 'true'">Realizado</a>
                <a class="cta" v-else>No disponible</a>

            </div>

            <div class="classState" v-if="module.examPermission.next_step === 'completed'">
                <a class="cta" id="target" onclick="test()" v-if="module.examPermission.next_step === 'completed'">
                    <img src='/dist/images/puma/disponible.png' />
                    <p>Ingresar</p>
                </a>
            </div>
             <div class="classState" v-else-if="module.interactive_course === 'true'">
                <img src='/dist/images/puma/disponible.png' />
                <p>Aprobado</p>
            </div>

            <div class="classState" v-else>
                <img src='/dist/images/puma/disabled.png' />
                <p>No disponible</p>
            </div>

        </div>
    </div>
    {% endverbatim %}
{% elseif moduleId == 7 %}
    {% verbatim %}
    <div v-bind:class="(module.examPermission.next_step === 'completed') ? 'single-class available' : 'single-class disabled'">
        <div class="number col-lg-1"> 2 </div>
        <div class="content-class col-lg-10">
            <div class="classContent">
                <h4 class="title">Clase Interactiva</h4>
                <p class="description">
                    Clase "Transporte y Descarga de Combustibles N-1".<br>
                    La clase se abrirá en una nueva ventana. Si tiene un bloqueador de ventanas emergentes o pop-up no podrá ver la clase. Desactive el bloqueador de ventanas emergentes.
                </p>
                <a class="cta" id="target" onclick="test()" v-if="module.examPermission.next_step === 'completed'">Ingresar</a>
                <small v-if="module.examPermission.next_step === 'completed'">Por favor, espere al menos 1 minuto para poder avanzar a la siguiente etapa mientras la plataforma procesa el avance de su performance.</small>
                <a class="cta" v-else-if="module.interactive_course === 'true'">Realizado</a>
                <a class="cta" v-else>No disponible</a>

            </div>

            <div class="classState" v-if="module.examPermission.next_step === 'completed'">
                <a class="cta" id="target" onclick="test()" v-if="module.examPermission.next_step === 'completed'">
                    <img src='/dist/images/puma/disponible.png' />
                    <p>Ingresar</p>
                </a>
            </div>
             <div class="classState" v-else-if="module.interactive_course === 'true'">
                <img src='/dist/images/puma/disponible.png' />
                <p>Aprobado</p>
            </div>

            <div class="classState" v-else>
                <img src='/dist/images/puma/disabled.png' />
                <p>No disponible</p>
            </div>

        </div>
    </div>
    {% endverbatim %}
{% elseif moduleId == 9 %}
    {% verbatim %}
    <div v-bind:class="(module.examPermission.next_step === 'completed') ? 'single-class available' : 'single-class disabled'">
        <div class="number col-lg-1"> 2 </div>
        <div class="content-class col-lg-10">
            <div class="classContent">
                <h4 class="title">Clase Interactiva</h4>
                <p class="description">
                    Clase "Atención al Cliente N-2".<br>
                    La clase se abrirá en una nueva ventana. Si tiene un bloqueador de ventanas emergentes o pop-up no podrá ver la clase. Desactive el bloqueador de ventanas emergentes.
                </p>
                <a class="cta" id="target" onclick="test()" v-if="module.examPermission.next_step === 'completed'">Ingresar</a>
                <small v-if="module.examPermission.next_step === 'completed'">Por favor, espere al menos 1 minuto para poder avanzar a la siguiente etapa mientras la plataforma procesa el avance de su performance.</small>
                <a class="cta" v-else-if="module.interactive_course === 'true'">Realizado</a>
                <a class="cta" v-else>No disponible</a>

            </div>

            <div class="classState" v-if="module.examPermission.next_step === 'completed'">
                <a class="cta" id="target" onclick="test()" v-if="module.examPermission.next_step === 'completed'">
                    <img src='/dist/images/puma/disponible.png' />
                    <p>Ingresar</p>
                </a>
            </div>
             <div class="classState" v-else-if="module.interactive_course === 'true'">
                <img src='/dist/images/puma/disponible.png' />
                <p>Aprobado</p>
            </div>

            <div class="classState" v-else>
                <img src='/dist/images/puma/disabled.png' />
                <p>No disponible</p>
            </div>

        </div>
    </div>
    {% endverbatim %}
{% elseif moduleId == 10 %}
    {% verbatim %}
    <div v-bind:class="(module.examPermission.next_step === 'completed') ? 'single-class available' : 'single-class disabled'">
        <div class="number col-lg-1"> 2 </div>
        <div class="content-class col-lg-10">
            <div class="classContent">
                <h4 class="title">Clase Interactiva</h4>
                <p class="description">
                    Clase "Lubricantes Puma Energy N-3".<br>
                    La clase se abrirá en una nueva ventana. Si tiene un bloqueador de ventanas emergentes o pop-up no podrá ver la clase. Desactive el bloqueador de ventanas emergentes.
                </p>
                <a class="cta" id="target" onclick="test()" v-if="module.examPermission.next_step === 'completed'">Ingresar</a>
                <small v-if="module.examPermission.next_step === 'completed'">Por favor, espere al menos 1 minuto para poder avanzar a la siguiente etapa mientras la plataforma procesa el avance de su performance.</small>
                <a class="cta" v-else-if="module.interactive_course === 'true'">Realizado</a>
                <a class="cta" v-else>No disponible</a>

            </div>

            <div class="classState" v-if="module.examPermission.next_step === 'completed'">
                <a class="cta" id="target" onclick="test()" v-if="module.examPermission.next_step === 'completed'">
                    <img src='/dist/images/puma/disponible.png' />
                    <p>Ingresar</p>
                </a>
            </div>
             <div class="classState" v-else-if="module.interactive_course === 'true'">
                <img src='/dist/images/puma/disponible.png' />
                <p>Aprobado</p>
            </div>

            <div class="classState" v-else>
                <img src='/dist/images/puma/disabled.png' />
                <p>No disponible</p>
            </div>

        </div>
    </div>
    {% endverbatim %}
	
{#
{% elseif moduleId == 13 %}
    {% verbatim %}
    <div v-bind:class="(module.examPermission.next_step === 'completed' || module.id==13 ) ? 'single-class available' : 'single-class disabled'">
        <div class="number col-lg-1"> 1 </div>
        <div class="content-class col-lg-10">
            <div class="classContent">
                <h4 class="title">Puma App</h4>
                <p class="description">
                    Clase "Puma Energy APP".<br>
                    La clase se abrirá en una nueva ventana. Si tiene un bloqueador de ventanas emergentes o pop-up no podrá ver la clase. Desactive el bloqueador de ventanas emergentes.
                </p>
                <a class="cta" id="target" onclick="test()" v-if="module.examPermission.next_step === 'completed' || module.id==13 ">Ingresar</a>
                <small v-if="module.examPermission.next_step === 'completed' || module.id==13 ">Por favor, espere al menos 1 minuto para poder avanzar a la siguiente etapa mientras la plataforma procesa el avance de su performance.</small>
                <a class="cta" v-else-if="module.interactive_course === 'true'">Realizado</a>
                <a class="cta" v-else>No disponible</a>

            </div>

            <div class="classState" v-if="module.examPermission.next_step === 'completed' || module.id==13 ">
                <a class="cta" id="target" onclick="test()" v-if="module.examPermission.next_step === 'completed' || module.id==13 ">
                    <img src='/dist/images/puma/disponible.png' />
                    <p>Ingresar</p>
                </a>
            </div>
             <div class="classState" v-else-if="module.interactive_course === 'true'">
                <img src='/dist/images/puma/disponible.png' />
                <p>Aprobado</p>
            </div>

            <div class="classState" v-else>
                <img src='/dist/images/puma/disabled.png' />
                <p>No disponible</p>
            </div>

        </div>
    </div>
    {% endverbatim %}
#}
{% elseif moduleId == 11 %}
    {% verbatim %}
    <div v-bind:class="(module.examPermission.next_step === 'completed') ? 'single-class available' : 'single-class disabled'">
        <div class="number col-lg-1"> 2 </div>
        <div class="content-class col-lg-10">
            <div class="classContent">
                <h4 class="title">Clase Interactiva</h4>
                <p class="description">
                    Clase "Combustibles N -2".<br>
                    La clase se abrirá en una nueva ventana. Si tiene un bloqueador de ventanas emergentes o pop-up no podrá ver la clase. Desactive el bloqueador de ventanas emergentes.
                </p>
                <a class="cta" id="target" onclick="test()" v-if="module.examPermission.next_step === 'completed'">Ingresar</a>
                <small v-if="module.examPermission.next_step === 'completed'">Por favor, espere al menos 1 minuto para poder avanzar a la siguiente etapa mientras la plataforma procesa el avance de su performance.</small>
                <a class="cta" v-else-if="module.interactive_course === 'true'">Realizado</a>
                <a class="cta" v-else>No disponible</a>

            </div>

            <div class="classState" v-if="module.examPermission.next_step === 'completed'">
                <a class="cta" id="target" onclick="test()" v-if="module.examPermission.next_step === 'completed'">
                    <img src='/dist/images/puma/disponible.png' />
                    <p>Ingresar</p>
                </a>
            </div>
             <div class="classState" v-else-if="module.interactive_course === 'true'">
                <img src='/dist/images/puma/disponible.png' />
                <p>Aprobado</p>
            </div>

            <div class="classState" v-else>
                <img src='/dist/images/puma/disabled.png' />
                <p>No disponible</p>
            </div>

        </div>
    </div>
    {% endverbatim %}
{% elseif moduleId == 15 %}
    {% verbatim %}
    <div v-bind:class="(module.examPermission.next_step === 'completed') ? 'single-class available' : 'single-class disabled'">
        <div class="number col-lg-1"> 2 </div>
        <div class="content-class col-lg-10">
            <div class="classContent">
                <h4 class="title">Clase Interactiva</h4>
                <p class="description">
                    Clase "Descarga de Combustibles en Estaciones N1".<br>
                    La clase se abrirá en una nueva ventana. Si tiene un bloqueador de ventanas emergentes o pop-up no podrá ver la clase. Desactive el bloqueador de ventanas emergentes.
                </p>
                <a class="cta" id="target" onclick="test()" v-if="module.examPermission.next_step === 'completed'">Ingresar</a>
                <small v-if="module.examPermission.next_step === 'completed'">Por favor, espere al menos 1 minuto para poder avanzar a la siguiente etapa mientras la plataforma procesa el avance de su performance.</small>
                <a class="cta" v-else-if="module.interactive_course === 'true'">Realizado</a>
                <a class="cta" v-else>No disponible</a>

            </div>

            <div class="classState" v-if="module.examPermission.next_step === 'completed'">
                <a class="cta" id="target" onclick="test()" v-if="module.examPermission.next_step === 'completed'">
                    <img src='/dist/images/puma/disponible.png' />
                    <p>Ingresar</p>
                </a>
            </div>
             <div class="classState" v-else-if="module.interactive_course === 'true'">
                <img src='/dist/images/puma/disponible.png' />
                <p>Aprobado</p>
            </div>

            <div class="classState" v-else>
                <img src='/dist/images/puma/disabled.png' />
                <p>No disponible</p>
            </div>

        </div>
    </div>
    {% endverbatim %}
	
{% elseif moduleId == 16 %}
    {% verbatim %}
    <div v-bind:class="(module.examPermission.next_step === 'completed' || module.id==16 ) ? 'single-class available' : 'single-class disabled'">
        <div class="number col-lg-1"> 1 </div>
        <div class="content-class col-lg-10">
            <div class="classContent">
                <h4 class="title">APP Puma Pris</h4>
                <p class="description">
                    Clase "APP Puma Pris".<br>
                    La clase se abrirá en una nueva ventana. Si tiene un bloqueador de ventanas emergentes o pop-up no podrá ver la clase. Desactive el bloqueador de ventanas emergentes.
                </p>
                <a class="cta" id="target" onclick="test()" v-if="module.examPermission.next_step === 'completed' || module.id==16 ">Ingresar</a>
                <small v-if="module.examPermission.next_step === 'completed' || module.id==16 ">Por favor, espere al menos 1 minuto para poder avanzar a la siguiente etapa mientras la plataforma procesa el avance de su performance.</small>
                <a class="cta" v-else-if="module.interactive_course === 'true'">Realizado</a>
                <a class="cta" v-else>No disponible</a>

            </div>

            <div class="classState" v-if="module.examPermission.next_step === 'completed' || module.id==16 ">
                <a class="cta" id="target" onclick="test()" v-if="module.examPermission.next_step === 'completed' || module.id==16 ">
                    <img src='/dist/images/puma/disponible.png' />
                    <p>Ingresar</p>
                </a>
            </div>
             <div class="classState" v-else-if="module.interactive_course === 'true'">
                <img src='/dist/images/puma/disponible.png' />
                <p>Aprobado</p>
            </div>

            <div class="classState" v-else>
                <img src='/dist/images/puma/disabled.png' />
                <p>No disponible</p>
            </div>

        </div>
    </div>
    {% endverbatim %}
	
{% elseif moduleId == 17 %}
    {% verbatim %}
    <div v-bind:class="(module.examPermission.next_step === 'completed') ? 'single-class available' : 'single-class disabled'">
        <div class="number col-lg-1"> 2 </div>
        <div class="content-class col-lg-10">
            <div class="classContent">
                <h4 class="title">Clase Interactiva</h4>
                <p class="description">
                    El objetivo de éste curso es brindarte información sobre los procedimientos para desempeñarte en forma segura en tus tareas y otras operaciones en la Estación de servicio.<br>
                    La clase se abrirá en una nueva ventana. Si tiene un bloqueador de ventanas emergentes o pop-up no podrá ver la clase. Desactive el bloqueador de ventanas emergentes.
                </p>
                <a class="cta" id="target" onclick="test()" v-if="module.examPermission.next_step === 'completed'">Ingresar</a>
                <small v-if="module.examPermission.next_step === 'completed'">Por favor, espere al menos 1 minuto para poder avanzar a la siguiente etapa mientras la plataforma procesa el avance de su performance.</small>
                <a class="cta" v-else-if="module.interactive_course === 'true'">Realizado</a>
                <a class="cta" v-else>No disponible</a>

            </div>

            <div class="classState" v-if="module.examPermission.next_step === 'completed'">
                <a class="cta" id="target" onclick="test()" v-if="module.examPermission.next_step === 'completed'">
                    <img src='/dist/images/puma/disponible.png' />
                    <p>Ingresar</p>
                </a>
            </div>
             <div class="classState" v-else-if="module.interactive_course === 'true'">
                <img src='/dist/images/puma/disponible.png' />
                <p>Aprobado</p>
            </div>

            <div class="classState" v-else>
                <img src='/dist/images/puma/disabled.png' />
                <p>No disponible</p>
            </div>

        </div>
    </div>
    {% endverbatim %}	
	
{% endif %}
