{% verbatim %}
    <div class="single-class available download">
     <div class="number col-lg-1">  </div>
        <div class="accordion content-class col-lg-10" id="accordionExample">
              <h2 class="mb-0 titleAccordion">
                <button class="btn btn-link" type="button" id="btn" data-toggle="collapse" data-target="#collapseOne" aria-controls="collapseOne" aria-expanded="false">
                    <div>
                        <img src='/dist/images/puma/files-download.svg'> Documentos para descargar
                    </div>
                </button>
              </h2>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample" >
                    <ul>
                        <li v-for="(module, index) in pdc_modules" v-if="module.multimedias.length" >
                            <a  v-for="(multi) in module.multimedias" v-bind:href="'/' + multi.web_path" target="_blank">
                                {{multi.title}} - {{multi.description}}
                                <img src='/dist/images/puma/action-download.svg'>
                            </a>
                         </li>
                    </ul>
            </div>
        </div>
      </div>



{% endverbatim %}

