input,
label,
select,
button,
textarea
{
    margin:0;
    border:0;
    padding:0;
    vertical-align:middle;
    white-space:normal;
    background:none;
    line-height:1;
    font-size: 14px;
    width: 100%;
}

/* Remove the stupid outer glow in Webkit */
input:focus
{
    outline:0;
}

/* Box Sizing Reset
-----------------------------------------------*/

/* All of our custom controls should be what we expect them to be */
input,
textarea
{
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
}

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select
{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

input,
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    /*background-color: #e8f6fa !important;
    padding: 5px 0;
    border-radius: 2px;
    margin: 10px 0;*/
    width: 100%;
}

/* Button Controls
-----------------------------------------------*/

input[type=checkbox],
input[type=radio]
{
    width:13px;
    height:13px;
}

/* Buttons
-----------------------------------------------*/

button,
input[type="reset"],
input[type="button"],
input[type="submit"]
{
    /* Fix IE7 display bug */
    overflow:visible;
    width:auto;
}

/* IE8 and FF freak out if this rule is within another selector */
/*
::-webkit-file-upload-button
{
    padding:0;
    border:0;
    background:none;
}
*/

/* Textarea
-----------------------------------------------*/

textarea
{
    /* Move the label to the top */
    vertical-align:top;

    /* Turn off scroll bars in IE unless needed */
    overflow:auto;
}

/* Selects
-----------------------------------------------*/

select
{

}

select[multiple]
{
    /* Move the label to the top */
    vertical-align:top;
}

.btn.active.focus {
    outline: none;
}

.btn:active,
.btn.active {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}