{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Usuarios a Registrar'|trans,
    } only %}
{% endblock page_header %}



{% block page_content %}
    <div class="table-responsiv5568e">

        {% if filter_form is defined %}
            {{ grid_filter_form(filter_form) }}
        {% endif %}

        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>Registrados</th>
                <th>Role</th>
                <th>Categoría</th>
                <th>DNI</th>
                <th>Provincia</th>
                <th>Localidad</th>
                <th>Estacion</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for registrado in pagination %}
                <tr data-id="{{ registrado.id }}">
                    <td>{{ registrado.nombre }} {{ registrado.apellido }}</td>
                    <td>
                        {% set valueRole = registrado.role %}
                        {% if valueRole == 'ROLE_HEAD_OFFICE' %}
                            Perfil 1 (Oficina Central)
                        {% elseif valueRole == 'ROLE_MANAGER' %}
                            Perfil 2 (Gerencia)
                        {% elseif valueRole == 'ROLE_EMPLOYEE' %}
                            Perfil 3 (Empleado)
                        {% elseif valueRole == 'ROLE_ADMIN' %}
                            Perfil 5 (Administrador)
                        {% else %}
                            No especificado
                        {% endif %}
                    </td>
                    <td>{{ registrado.category }}</td>
                    <td>{{ registrado.dni }}</td>
                    {% set flag = true %}
                    {% for provincia in provincias %}
                        {% if registrado.provincia == provincia.id %}
                            <td>{{ provincia.nombre }}</td>
                            {% set flag = false %}
                        {% endif %}
                    {% endfor %}
                    {% if flag %}
                        <td>-</td>
                    {% endif %}
                    {% for localidad in localidades %}
                        {% if registrado.localidad == localidad.id %}
                            <td>{{ localidad.nombre }}</td>
                            {% set flag = false %}
                        {% endif %}
                    {% endfor %}
                    {% if flag %}
                        <td>-</td>
                    {% endif %}
                    {% for store in stores %}
                        {% if registrado.store == store.id %}
                            <td>{{ store.code }} - {{ store.location }} <a target="_blank" href="../estacion/{{ store.id }}">(ver)</a></td>
                            {% set flag = false %}
                        {% endif %}
                    {% endfor %}
                    {% if flag %}
                        <td>-</td>
                    {% endif %}
                    <td>
                        <a href="{{ path('aper_one_employees_registered_activate', {'id': registrado.id}) }}">Activar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <br>

        {{ grid_pagination(pagination) }}

    </div>
{% endblock page_content %}