{% extends '::base.html.twig' %}
{% block pagename %}myemployees{% endblock %}
{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Mis Empleados',
    path: {
    },
    } only %}
{% endblock page_header %}



{% block page_content %}

    <style type="text/css">
        .data-prom-medium {
            font-size: 12px;
            max-width: 90px;
            display: flex !important;
            height: 80px;
        }
        .radial-graph-medium,
        .shape-medium,
        .mask-medium,
        .fill-medium {
          width: 90px;
          height: 90px;
          border-radius: 50%;
          position: relative;
        }
        .shape-medium,
        .mask-medium,
        .fill-medium {
          position: absolute;
          background-color: #d1d1d1;
        }

        .mask-medium,
        .fill-medium {
          -webkit-backface-visibility: hidden;
          transition: transform 1s;
          border-radius: 50%;
        }

        .mask-medium {
          clip: rect(0px, 90px, 90px, 45px);
        }
        .fill-medium {
          clip: rect(0px, 45px, 90px, 0px);
          background-color: #50e3c2;
        }

        .cutout-medium {
          margin: 7px 0 0 7px !important;
          width: 76px;
          height: 76px;
          position: absolute;
          background-color: #dedede;
          border-radius: 50%;
        }
        .mask.full-mask,
        .fill {
          /*
            For a value of 90%
            0.9 * 360  / 2
          */
          transform: rotate(162deg);
        }
        .fill.shim {
          /* 
            For a value of 90%
            0.9 * 360
          */
          transform: rotate(324deg);
        }
        .data-medium {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            top: 12.5%;
            left: 12.5%;
            display: flex !important;
            flex-direction: column !important;
            justify-content: center !important;
            align-items: center !important;
            z-index: 10;
            font-size: 25px;
            font-weight: bold;
            letter-spacing: -4px;
        }
        body[data-page=myemployees] .employee .cursosProgress div {
            display: block;
        }
        .content-mod {
            margin: 0 !important;
        }
        body[data-page=myemployees] .employee .rankingPosition,
        body[data-page=myemployees] .employee .cursosProgress,
        body[data-page=myemployees] .employee .employeeData,
        body[data-page=myemployees] .employee .ptos-indicator {
            background-color: #f2f2f2;
        }
        body[data-page=myemployees] .employee .cursosProgress {
            /*max-width: 600px;*/
            /*min-width: 10% !important;*/
            /*width: 600px !important;*/
            padding: 20px;
        }
        body[data-page=myemployees] .employee .employeeData {
            min-width: 200px;
        }
        body[data-page=myemployees] .employee .ptos-indicator {
            min-width: 170px;
        }
        .color-promedio {
            color: #6d6d6d !important;
        }
        .color-mayor {
            color: #00694b !important;
        }
        .color-menor {
            color: #bd0511 !important;
        }
        .bg-color-promedio {
            background-color: #6d6d6d !important;
        }
        .bg-color-mayor {
            background-color: #00694b !important;
        }
        .bg-color-menor {
            background-color: #bd0511 !important;
        }
    </style>

    <div class="container">
        <div class="row header_image">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-image: url({{ asset('dist/images/puma/header-news.png') }})">
                <img src="{{ asset('dist/images/puma/header-news.png') }}">
            </div>
            <h2 class="title text-center bold">Mis empleados</h2>

        </div>
    </div>
{#<div class="container">#}
{#        {% for employee in pagination %}#}
{#            <div class="employee">#}
{#             {% if employee.id != empleador.id %}#}
{#               <div class="employeeData">#}
{#                   <div class="data">#}
{#                       {{ employee.profile.name }}#}
{#                       {% if employee.profile.avatar %}#}

{#                           <img src="{{ asset(employee.profile.avatar.webPath) }}"#}
{#                                class="img-circle img-responsive empty-avatar" />#}

{#                       {% else %}#}
{#                           <img src="{{ asset('dist/images/empty-avatar.png') }}"#}
{#                                class="img-circle img-responsive empty-avatar" />#}
{#                       {% endif %}#}
{#                       <p class="position">{{ employee.category }}</p>#}

{#                       <div class="button-group">#}
{#                           <a href="{{ path('aper_my_employees_inhabilitar', {'id': employee.id}) }}">Inactivar</a>#}
{#                           <a href="{{ path('aper_my_employees_eliminar', {'id': employee.id}) }}"#}
{#                              onclick="return confirm('Está seguro de eliminar?')">Eliminar</a>#}
{#                       </div>#}
{#                   </div>#}
{#                   {% set position = employee.getRankingByMonthAndYearEmployee(selectedYear,employee).empty ? 0 : employee.getRankingByMonthAndYearEmployee(selectedYear,employee).first.position %}#}
{#                   <div class="rankingPosition">#}
{#                       <div class="data">{{ position }}</div>#}
{#                   </div>#}
{#               </div>#}
{#        {% set totalPoints = employee.getGoalsByMonthAndNameEmployee(selectedYear, 'TOTAL_EMPLEADO_OBJETIVO').empty ? 0 : employee.getGoalsByMonthAndNameEmployee(selectedYear, 'TOTAL_EMPLEADO_OBJETIVO').first.objetive %}#}
{#        {% set completedPoints = employee.getGoalsByMonthAndNameEmployee(selectedYear, 'TOTAL_EMPLEADO_RESULTADO').empty ? 0: employee.getGoalsByMonthAndNameEmployee(selectedYear, 'TOTAL_EMPLEADO_RESULTADO').first.result %}#}
{#        <div class="ptos-indicator">#}

{#            <div class="flex align-center justify-between progressBar">#}
{#                {% include "@Incentive/Frontend/Incentive/widgetsEmployee/progress-bar.html.twig" with {'totalPoints':totalPoints,'completedPoints':completedPoints} only %}#}
{#            </div>#}
{#        </div>#}

{#                 <div class="cursosProgress">#}
{#                     <div>#}
{#                         {% for curso in cursos %}#}
{#                             {% include 'curso/estadodecurso.html.twig' with {#}
{#                                 'empleado': employee,#}
{#                                 'curso': curso,#}
{#                                 'porcentaje_curso': porcentajesPorEmpleado[employee.id],#}
{#                                 'curso_reducido' : true,#}
{#                                 } only %}#}
{#                         {% endfor %}#}
{#                     </div>#}
{#                 </div>#}

{#             {% endif %}#}
{#            </div>#}
{#        {% endfor %}#}
{#</div>#}

    <div class="table-responsive container">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr class="fields">
                    <th>{{'Nombre'}}</th>
                    <th>{{'Ranking'}}</th>
                    <th>{{'Objetivos'}}</th>
                    <th>{{'Campus Virtual'}}</th>
                </tr>
            </thead>
            <tbody>
            {% for employee in pagination %}
{#                 {% for careerPlan in employee.careerPlans %}
                    {% for module in careerPlan.modules %}
                        {{ module.dateFrom|date("d/m/Y") }}
                    {% endfor %}
                {% endfor %} #}

                {# {% if employee.deleted != 1 and employee.id != empleador.id %} #}
                {% if employee.deleted != 1 or employee.user.enabled == 1 %}
                {# {% if true %} #}

                    <tr class="employee listEmployee" id="{{ employee.id }}" data-profile="{{ employee.category }}">
                        {#                                                <div>#}
                        {#                                                    <p class="username nomargin"#}
                        {#                                                       style="text-transform: capitalize;">{{ employee.user.fullname|capitalize }}#}
                        {#                                                    </p>#}
                        {#                                                    <a href="{{ path('frontend_web_factory_user_profile_edit') }}">Editar mi perfil</a>#}
                        {#                                                </div>#}
                        {#                                                <div>#}
                        {#                                                    <img src="{{ employee.user.avatar }}"#}
                        {#                                                         class="img-circle img-responsive empty-avatar"/>#}
                        {#                                                </div>#}
                        {#                        {{ dump(employee.profile.avatar) }}#}


                        <td class="employeeData">{{ employee.profile.name }}</br>
                            <div>

                            {% if employee.profile.avatar %}

                                <img src="{{ asset(employee.profile.avatar.webPath) }}"
                                     class="img-circle img-responsive empty-avatar"/>

                            {% else %}
                                    <img src="{{ asset('dist/images/empty-avatar.png') }}"
                                         class="img-circle img-responsive empty-avatar"/>
                            {% endif %}

							
							
							{% if employee.subRol ==  'PERFIL 1  -  COMERCIAL / OFICINA CENTRAL  - REPRESENTANTE COMERCIAL' %}
									<p class="position">REPRESENTANTE COMERCIAL</p>
								{% elseif employee.subRol ==  'PERFIL 2  -  OPERADORES / JEFES  - OP TEAM (OPERADOR/A)' %}
									<p class="position">OPERADOR/A</p>
								{% elseif employee.subRol ==  'PERFIL 2  -  OPERADORES / JEFES  - OP TEAM (JEFE/A EESS)' %}
									<p class="position">JEFE/A EESS</p>
								{% elseif employee.subRol ==  'PERFIL 2  -  OPERADORES / JEFES  - OP TEAM (ENCARGADO/A)' %}
									<p class="position">ENCARGADO/A</p>
								{% elseif employee.subRol ==  'PERFIL 2  -  OPERADORES / JEFES  - OP (GERENTE EESS)' %}
									<p class="position">GERENTE EESS</p>
								{% elseif employee.subRol ==  'PERFIL 2  -  OPERADORES / JEFES  - OP (DUEÑO/A)' %}
									<p class="position">DUEÑO/A</p>
								{% elseif employee.subRol ==  'PERFIL 2  -  OPERADORES / JEFES  - OP (EMPLEADO/A ADMINISTRATIVO)' %}
									<p class="position">EMPLEADO/A ADMINISTRATIVO</p>
								{% elseif employee.subRol ==  'PERFIL 3  -  COLABORADORES  - PLAYERO/A' %}
									<p class="position">PLAYERO/A</p>
								{% elseif employee.subRol ==  'PERFIL 3  -  COLABORADORES  - CAJERO/A DE TIENDA' %}
									<p class="position">CAJERO/A DE TIENDA</p>
								{% elseif employee.subRol ==  'PERFIL 3  -  COLABORADORES  - OPERARIO/A DE SERVICIOS' %}
									<p class="position">OPERARIO DE SERVICIOS</p>
								{% elseif employee.subRol ==  'PERFIL 3  -  COLABORADORES  - OTROS PUESTOS' %}
									<p class="position">OTROS PUESTOS</p>
								{% elseif employee.subRol ==  'PERFIL 4  -  ADMINISTRACION / GERENTES  -  ADMINISTRACION / GERENTES' %}
									<p class="position">ADMINISTRACIÓN / GERENTES</p>
								{% elseif employee.subRol ==  'PERFIL 5  -  ADMINISTRADOR BACKEND  -  ADMIN BACKEND' %}
									<p class="position">ADMIN BACKEND</p>
								{% elseif employee.subRol ==  'PERFIL 6  -  ADMINSITRADOR DE CONSULTA  -  ADMIN DE CONSULTA' %}
									<p class="position">ADMIN DE CONSULTA</p>
								{% elseif employee.subRol ==  'PERFIL 7  -  ADMINISTRADOR DE CAPACITACIONES  -  ADMIN DE CAPACITACIONES' %}
									<p class="position">ADMIN DE CAPACITACIONES</p>									
								{% else %}
									<p class="position">{{ employee.subRol }}</p>
							{% endif %}








                               

                            </div>
                            <div class="button-group">
                                {% if (employee.user.enabled) %}
                                    <a href="{{ path('aper_my_employees_inhabilitar', {'id': employee.id}) }}">Inactivar</a>
                                {% else %}
                                    <a href="{{ path('aper_my_employees_inactive_activate', {'id': employee.id}) }}?myemployees" style="background-color: green; color: #fff;">Activar</a>
                                {% endif %}
                                <a href="{{ path('aper_my_employees_eliminar', {'id': employee.id}) }}"
                                   onclick="return confirm('Está seguro de eliminar?')">Eliminar</a>
                            </div>
                            <br>
                            <small>{{ employee.store }}</small>
{#                                                        <a href="{{ path('respuesta_delete', {'id': respuestum.id }) }}" class="btn btn btn-danger btn-delete" onclick="return confirm('Está seguro de eliminar?')">Eliminar</a>#}
                        </td>
                        {% set position = employee.getRankingByMonthAndYearEmployee(selectedYear,employee).empty ? 0 : employee.getRankingByMonthAndYearEmployee(selectedYear,employee).first.position %}
                        <td class="rankingPosition">
                            <div class="data">{{ position }}</div>
                        </td>
                        {% set totalPoints = employee.getGoalsByMonthAndNameEmployee(selectedYear, 'TOTAL_EMPLEADO_OBJETIVO').empty ? 0 : employee.getGoalsByMonthAndNameEmployee(selectedYear, 'TOTAL_EMPLEADO_OBJETIVO').first.objetive %}
                        {% set completedPoints = employee.getGoalsByMonthAndNameEmployee(selectedYear, 'TOTAL_EMPLEADO_RESULTADO').empty ? 0: employee.getGoalsByMonthAndNameEmployee(selectedYear, 'TOTAL_EMPLEADO_RESULTADO').first.result %}
                        <td class="ptos-indicator">

                            <div class="flex align-center justify-between progressBar">
                                {% include "@Incentive/Frontend/Incentive/widgetsEmployee/progress-bar.html.twig" with {'totalPoints':totalPoints,'completedPoints':completedPoints} only %}
                            </div>
                        </td>
                        <td class="cursosProgress">
                            {# <div> #}
                                {# <div class="data-prom-medium"></div>
                                <div class="radial-graph-medium">
                                    <div class="shape-medium">
                                        <div class="mask-medium full-mask-medium" id="porc_dato2_1">
                                            <div class="fill-medium" id="porc_dato2_2"></div>
                                        </div>
                                        <div class="mask-medium">
                                            <div class="fill-medium" id="porc_dato2_3"></div>
                                            <div class="fill-medium shim-medium" id="porc_dato1"></div>
                                        </div>
                                    </div>
                                    <div class="cutout-medium">
                                        <div class="data-medium"></div>
                                    </div>
                                </div> #}
                            {# {% for curso in cursos %}

                                {% include 'curso/estadodecurso.html.twig' with {
                                    'empleado': employee,
                                    'curso': curso,
                                    'porcentaje_curso': porcentajesPorEmpleado[employee.id],
                                    'curso_reducido' : true,
                                } only %}
                            {% endfor %} #}
                            {# </div> #}

                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <br>
        {{ grid_pagination(pagination) }}
    </div>

    <script type="text/javascript">

        var configBaseUrl = '{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}';
        //configBaseUrl = configBaseUrl.replace('http', 'https');

        var careerStatusURL = configBaseUrl + '/ajax/career-plan';
        var myCareerStatusURL = configBaseUrl + '/ajax/my-career-plan-user';

        var planDeCarrera = null;

        var _modulesCategories = new Array();

		//
		// Visualización dinámica de globos en Mis Empleados. (Parte A: se define para cada curso qué roles tienen que visualizarlo. Mejorable.)
		//
		// SQL Para determinar PLAYERO/SERVICIO: 
		//	select concat('\'', tbl.a, '\',') from ((SELECT distinct area a FROM employees ) UNION (SELECT distinct category a FROM employees)) as tbl where upper(tbl.a) like '%SERVICIO%' or upper(tbl.a) like '%PLAY%' OR upper(tbl.a) like '%ENCARGAD%' OR upper(tbl.a) like '%ADMINI%' OR upper(tbl.a) like  '%GERENTE%' OR upper(tbl.a) like  '%OFICINA%' OR upper(tbl.a) like  '%COMERCIAL%' OR upper(tbl.a) like  '%JEFE DE ZONA%'
		// SQL para determinar PLAYERO/CAJERO/SERVICIO:
		//	select concat('\'', tbl.a, '\',') from ((SELECT distinct area a FROM employees ) UNION (SELECT distinct category a FROM employees)) as tbl where upper(tbl.a) like '%SERVICIO%' or upper(tbl.a) like '%PLAY%' or upper(tbl.a) like '%CAJE%' OR upper(tbl.a) like '%ENCARGAD%' OR upper(tbl.a) like '%ADMINI%' OR upper(tbl.a) like  '%GERENTE%' OR upper(tbl.a) like  '%OFICINA%' OR upper(tbl.a) like  '%COMERCIAL%' OR upper(tbl.a) like  '%JEFE DE ZONA%'
		
		
	
		// Curso=	Lubricantes Puma N-1			ID	1 	Roles: PLAYERO, SERVICIO + ADMINS/ENCARGADOS/GERENTES...
		// Curso=	Atención al Cliente N-1			ID	2   Roles: PLAYERO, CAJERO, SERVICIO + ADMINS/ENCARGADOS/GERENTES...
		// Curso=	Combustibles Puma N-1			ID	3   Roles: PLAYERO, SERVICIO + ADMINS/ENCARGADOS/GERENTES...
		// Curso=	Seguridad en las EE.SS. N-1		ID	4   Roles: PLAYERO, CAJERO, SERVICIO + ADMINS/ENCARGADOS/GERENTES...
		// Curso=	Prevención COVID-19				ID	5   Roles: PLAYERO, CAJERO, SERVICIO + ADMINS/ENCARGADOS/GERENTES...
		// Curso=	Lubricantes Puma N-2 			ID	6   Roles: PLAYERO, SERVICIO + ADMINS/ENCARGADOS/GERENTES...
		// Curso=	Atención al Cliente N-2 		ID	9   Roles: PLAYERO, CAJERO, SERVICIO + ADMINS/ENCARGADOS/GERENTES...
		// Curso=	Lubricantes Puma N-3 			ID	10  Roles: PLAYERO, SERVICIO + ADMINS/ENCARGADOS/GERENTES...
		// Curso=	Combustibles Puma N-2 			ID	N/Aun  Roles: PLAYERO, SERVICIO + ADMINS/ENCARGADOS/GERENTES...
		// Curso=	Seguridad en las EE.SS. N-2		ID	N/Aun  Roles: PLAYERO, CAJERO, SERVICIO + ADMINS/ENCARGADOS/GERENTES...


         _modulesCategories[1] = new Array('Administrador', 'ADMINISTRATIVO/A', 'ENCARGADO/A DE TIENDA', 'ENCARGADO/A', 'ENCARGADOA', 'Gerente de Compras', 'Gerente de Ingeniería', 'GERENTE DE MARKETING', 'GERENTE', 'JEFE DE ZONA', 'OFICINA', 'Operador de Playa', 'OPERADOR/ADMINISTRADOR', 'OPERARIA/O DE PLAYA', 'OPERARIAO DE PLAYA', 'OPERARIO/A DE PLAYA', 'OPERARIO/A DE SERVICIO', 'OPERARIO/A. DE SERVICIO', 'REP COMERCIAL', 'REPRESENTANTE COMERCIAL');
         _modulesCategories[2] = new Array('Administrador', 'ADMINISTRATIVO/A', 'ENCARGADO/A DE TIENDA', 'ENCARGADO/A', 'ENCARGADOA', 'Gerente de Compras', 'Gerente de Ingeniería', 'GERENTE DE MARKETING', 'GERENTE', 'JEFE DE ZONA', 'OFICINA', 'Operador de Playa', 'OPERADOR/ADMINISTRADOR', 'OPERARIA/O DE PLAYA', 'OPERARIAO DE PLAYA', 'OPERARIO/A DE PLAYA', 'OPERARIO/A DE SERVICIO', 'OPERARIO/A. DE SERVICIO', 'REP COMERCIAL', 'REPRESENTANTE COMERCIAL', 'CAJERA/O DE TIENDA');
         _modulesCategories[3] = new Array('Administrador', 'ADMINISTRATIVO/A', 'ENCARGADO/A DE TIENDA', 'ENCARGADO/A', 'ENCARGADOA', 'Gerente de Compras', 'Gerente de Ingeniería', 'GERENTE DE MARKETING', 'GERENTE', 'JEFE DE ZONA', 'OFICINA', 'Operador de Playa', 'OPERADOR/ADMINISTRADOR', 'OPERARIA/O DE PLAYA', 'OPERARIAO DE PLAYA', 'OPERARIO/A DE PLAYA', 'OPERARIO/A DE SERVICIO', 'OPERARIO/A. DE SERVICIO', 'REP COMERCIAL', 'REPRESENTANTE COMERCIAL');
		 _modulesCategories[4] = new Array('Administrador', 'ADMINISTRATIVO/A', 'ENCARGADO/A DE TIENDA', 'ENCARGADO/A', 'ENCARGADOA', 'Gerente de Compras', 'Gerente de Ingeniería', 'GERENTE DE MARKETING', 'GERENTE', 'JEFE DE ZONA', 'OFICINA', 'Operador de Playa', 'OPERADOR/ADMINISTRADOR', 'OPERARIA/O DE PLAYA', 'OPERARIAO DE PLAYA', 'OPERARIO/A DE PLAYA', 'OPERARIO/A DE SERVICIO', 'OPERARIO/A. DE SERVICIO', 'REP COMERCIAL', 'REPRESENTANTE COMERCIAL', 'CAJERA/O DE TIENDA');
		 _modulesCategories[5] = new Array('Administrador', 'ADMINISTRATIVO/A', 'ENCARGADO/A DE TIENDA', 'ENCARGADO/A', 'ENCARGADOA', 'Gerente de Compras', 'Gerente de Ingeniería', 'GERENTE DE MARKETING', 'GERENTE', 'JEFE DE ZONA', 'OFICINA', 'Operador de Playa', 'OPERADOR/ADMINISTRADOR', 'OPERARIA/O DE PLAYA', 'OPERARIAO DE PLAYA', 'OPERARIO/A DE PLAYA', 'OPERARIO/A DE SERVICIO', 'OPERARIO/A. DE SERVICIO', 'REP COMERCIAL', 'REPRESENTANTE COMERCIAL', 'CAJERA/O DE TIENDA');
		 _modulesCategories[6] = new Array('Administrador', 'ADMINISTRATIVO/A', 'ENCARGADO/A DE TIENDA', 'ENCARGADO/A', 'ENCARGADOA', 'Gerente de Compras', 'Gerente de Ingeniería', 'GERENTE DE MARKETING', 'GERENTE', 'JEFE DE ZONA', 'OFICINA', 'Operador de Playa', 'OPERADOR/ADMINISTRADOR', 'OPERARIA/O DE PLAYA', 'OPERARIAO DE PLAYA', 'OPERARIO/A DE PLAYA', 'OPERARIO/A DE SERVICIO', 'OPERARIO/A. DE SERVICIO', 'REP COMERCIAL', 'REPRESENTANTE COMERCIAL');
		 _modulesCategories[9] = new Array('Administrador', 'ADMINISTRATIVO/A', 'ENCARGADO/A DE TIENDA', 'ENCARGADO/A', 'ENCARGADOA', 'Gerente de Compras', 'Gerente de Ingeniería', 'GERENTE DE MARKETING', 'GERENTE', 'JEFE DE ZONA', 'OFICINA', 'Operador de Playa', 'OPERADOR/ADMINISTRADOR', 'OPERARIA/O DE PLAYA', 'OPERARIAO DE PLAYA', 'OPERARIO/A DE PLAYA', 'OPERARIO/A DE SERVICIO', 'OPERARIO/A. DE SERVICIO', 'REP COMERCIAL', 'REPRESENTANTE COMERCIAL', 'CAJERA/O DE TIENDA');
		 _modulesCategories[10] = new Array('Administrador', 'ADMINISTRATIVO/A', 'ENCARGADO/A DE TIENDA', 'ENCARGADO/A', 'ENCARGADOA', 'Gerente de Compras', 'Gerente de Ingeniería', 'GERENTE DE MARKETING', 'GERENTE', 'JEFE DE ZONA', 'OFICINA', 'Operador de Playa', 'OPERADOR/ADMINISTRADOR', 'OPERARIA/O DE PLAYA', 'OPERARIAO DE PLAYA', 'OPERARIO/A DE PLAYA', 'OPERARIO/A DE SERVICIO', 'OPERARIO/A. DE SERVICIO', 'REP COMERCIAL', 'REPRESENTANTE COMERCIAL');


        function ready() {


            $.get(careerStatusURL, function (data1) {
                planDeCarrera = data1;

                jQuery('.listEmployee').each(function( index ) {
                    var id = jQuery(this).attr('id');
                    var userCategory = jQuery(this).attr('data-profile');
                    showCurso(id, planDeCarrera);

                    // Ordenamos según el orden guardado.
                    var _modules = [];
                    jQuery(planDeCarrera[0].modules).each(function (ii, mod){
                        _modules[mod.orden] = mod;
                    });

                    jQuery(_modules).each(function (ii, mod){

                        if (mod) {


							// Visualización dinámica de globos en Mis Empleados. (Parte B: si se cumple el rol en base al array de arriba, entonces visualiza)
                            // console.log(_modulesCategories[mod.id], userCategory)

                             if (_modulesCategories[mod.id] != undefined && _modulesCategories[mod.id].includes(userCategory)) {

                                if (mod && mod.id != 8 && mod.enabled == true) {
                                    jQuery('.listEmployee#' + id + ' .cursosProgress').append('<div class="content-mod mod-' + mod.id + '"><div class="data-prom-medium">' + mod.title + '</div><div class="radial-graph-medium"><div class="shape-medium"><div class="mask-medium full-mask-medium porc_dato2_1"><div class="fill-medium porc_dato2_2"></div></div><div class="mask-medium"><div class="fill-medium porc_dato2_3"></div><div class="fill-medium shim-medium porc_dato1"></div></div></div><div class="cutout-medium"><div class="data-medium"></div></div></div></div>');
                                }

                             }
                        }
                    });
                });
            });

        }

        document.addEventListener("DOMContentLoaded", ready);


        function showCurso(id, data1) {
            var temporal_data_m = 0;
            var temporal_data_ml = 0;
            var temporal_data_w = 0;
            var temporal_data_wl = 0;
            $.get(myCareerStatusURL + '?id=' + id, function (data2) {

                // console.log(data2);

                //console.log('Cantidad de planes que tiene el usuario: ' + data2.length);

                var currentIdPlan = '';
                currentIdModule = '';

                //recorre planes data1 para ordenar los falsos

                for (var i = 0; i < data1.length; i++) {

                    currentIdPlan = data1[i].id;

                    data1[i].approved = false;
                    data1[i].enabled = false;

                    data1[i].requirements_approved = false;
                    data1[i].requirements_enabled = false;

                    // app.is_all_module_approved[i] = false;
                    // app.is_all_workshop_approved[i] = false;

                    // app.is_all_module_locked[i] = false;
                    // app.is_all_workshop_locked[i] = false;

                    //console.log('id_plan: ' + currentIdPlan);
                    myFunctionCheckPlan(currentIdPlan, i);

                    for (v = 0; v < data1[i].modules.length; v++) {

                        data1[i].modules[v].status = data1[i].modules[v].enabled;

                        data1[i].modules[v].approved = false;
                        data1[i].modules[v].enabled = false;
                        data1[i].modules[v].status_revalid = false;

                        data1[i].modules[v].progress = 0;


                        currentIdModule = data1[i].modules[v].id;

                        // console.log('currentIdModule: ' + currentIdModule);
                        if (!data1[i].modules[v].poll) {
                            data1[i].modules[v].poll = false;
                        }


                        if (!data1[i].modules[v].employee_answers) {
                            data1[i].modules[v].poll.employee_answers = false;
                        }

                        myFunctionCheckModule(currentIdPlan, i, currentIdModule, v);

                    }

                    for (a = 0; a < data1[i].requirements.length; a++) {

                        data1[i].requirements[a].approved = false;
                        data1[i].requirements[a].enabled = false;

                        currentIdRequirements = data1[i].requirements[a].id;

                        myFunctionCheckRequirements(currentIdPlan, i, currentIdRequirements, a);

                    }

                }

                function myFunctionCheckPlan(id_plan_actual, indice_plan_actual) {

                    // console.log('id_plan_actual: ' + id_plan_actual);
                    // console.log('indice_plan_actual: ' + indice_plan_actual);

                    for (var j = 0; j < data2.length; j++) {

                        //VERIFICA EL ID DEL PLAN
                        if (id_plan_actual == data2[j].id) {

                            data1[indice_plan_actual].approved = data2[j].approved;
                            data1[indice_plan_actual].enabled = data2[j].enabled;

                            //console.log('id_plan concide: ' + data2[j].plan.id);

                        }

                    }

                }

                function myFunctionCheckModule(id_plan_actual, indice_plan_actual, id_module_actual, indice_module_actual) {

                    if (data2.length !== 0) {

                        for (var j = 0; j < data2[0].modules.length; j++) {

                            //RECORRE LOS MODULO DEL PLAN
                            for (x = 0; x < data2[0].modules.length; x++) {

                                if (id_module_actual == data2[0].modules[x].module.id) {

                                    data1[indice_plan_actual].modules[indice_module_actual].muestra = data2[0].modules[x].enabled;

                                    data1[indice_plan_actual].modules[indice_module_actual].approved = data2[0].modules[x].approved;
                                    data1[indice_plan_actual].modules[indice_module_actual].enabled = data2[0].modules[x].enabled;

                                    data1[indice_plan_actual].modules[indice_module_actual].status_revalid = data2[0].modules[x].enabled;

                                    data1[indice_plan_actual].modules[indice_module_actual].poll.employee_answers = data2[0].modules[x].employee_answers;

                                    data1[indice_plan_actual].modules[indice_module_actual].examPermission = data2[0].modules[x].examPermission;

                                    data1[indice_plan_actual].modules[indice_module_actual].examPermissionPost = data2[0].modules[x].examPermissionPost;

                                    data1[indice_plan_actual].modules[indice_module_actual].poll.pollPermission = data2[0].modules[x].pollPermission;
                                    data1[indice_plan_actual].modules[indice_module_actual].pollPermission = data2[0].modules[x].pollPermission;

                                    data1[indice_plan_actual].modules[indice_module_actual].poll.current_pager_id = data2[0].modules[x].employee_answers.length;

                                    data1[indice_plan_actual].modules[indice_module_actual].comment = data2[0].modules[x].comment;


                                    //module progress percentage//

                                    // prev exam //

                                    if (data1[indice_plan_actual].modules[indice_module_actual].examPermission === false && data1[indice_plan_actual].modules[indice_module_actual].examPermissionPost === false && data1[indice_plan_actual].modules[indice_module_actual].pollPermission === false) {
                                        // if nothing done 0

                                        data1[indice_plan_actual].modules[indice_module_actual].progress = 0;

                                    } else if (data1[indice_plan_actual].modules[indice_module_actual].examPermission !== false && data1[indice_plan_actual].modules[indice_module_actual].examPermission.next_step === 'completed' && data1[indice_plan_actual].modules[indice_module_actual].examPermission.enabled !== false) {

                                        // if prev exam is completed = 25
                                        data1[indice_plan_actual].modules[indice_module_actual].progress = 25;

                                        // interactive course - pixelnet sends true or false if the class is completed
                                        // console.log('--------------');
                                        // console.log(data2);
                                        // console.log(data2[indice_plan_actual]);
                                        // console.log(data2[indice_plan_actual].modules);
                                        // console.log('--------------');
                                        if ((data1[indice_plan_actual].modules[indice_module_actual].progress === 25) && data2[indice_plan_actual].modules[indice_module_actual] != undefined && (data2[indice_plan_actual].modules[indice_module_actual].interactive_course === true)) {
                                            // data1[indice_plan_actual].modules[indice_module_actual].progress = 75;
                                        }

                                        if ((data1[indice_plan_actual].modules[indice_module_actual].examPermissionPost) && (data1[indice_plan_actual].modules[indice_module_actual].examPermissionPost.enabled == true) && (data1[indice_plan_actual].modules[indice_module_actual].examPermissionPost.next_step != 'none' )) {
                                            data1[indice_plan_actual].modules[indice_module_actual].progress = 75;
                                        }


                                        // check post exam
                                        if (data1[indice_plan_actual].modules[indice_module_actual].examPermissionPost !== false && data1[indice_plan_actual].modules[indice_module_actual].examPermissionPost.next_step === 'completed' && data1[indice_plan_actual].modules[indice_module_actual].examPermissionPost.enabled !== false) {

                                            // if exam post is completed = 50

                                            data1[indice_plan_actual].modules[indice_module_actual].progress = 100;

                                            // check poll

                                            // if (data1[indice_plan_actual].modules[indice_module_actual].pollPermission !== false && data1[indice_plan_actual].modules[indice_module_actual].pollPermission.next_step !== 'completed') {
                                            //     // if poll is not completed
                                            //     data1[indice_plan_actual].modules[indice_module_actual].progress = 100;
                                            // } else if (data1[indice_plan_actual].modules[indice_module_actual].pollPermission.next_step === 'completed' && data1[indice_plan_actual].modules[indice_module_actual].pollPermission.enabled !== false) {
                                            //     // if poll is completed = 100
                                            //     data1[indice_plan_actual].modules[indice_module_actual].progress = 100;
                                            // }
                                        } else {
                                            if ((data1[indice_plan_actual].modules[indice_module_actual].pollPermission) && (data1[indice_plan_actual].modules[indice_module_actual].pollPermission.enabled == true) && (data1[indice_plan_actual].modules[indice_module_actual].pollPermission.next_step != 'none')) {
                                                if (data1[indice_plan_actual].modules[indice_module_actual].id >= 9) {
                                                    if (
                                                        (data1[indice_plan_actual].modules[indice_module_actual].examPermissionPost) && 
                                                        (data1[indice_plan_actual].modules[indice_module_actual].examPermissionPost.enabled == true) && 
                                                        (data1[indice_plan_actual].modules[indice_module_actual].examPermissionPost.next_step === 'completed' || data1[indice_plan_actual].modules[indice_module_actual].examPermissionPost.next_step === 'finish') 
                                                    ) {

                                                        data1[indice_plan_actual].modules[indice_module_actual].progress = 100
                                                    }
                                                } else {
                                                    data1[indice_plan_actual].modules[indice_module_actual].progress = 100

                                                }
                                            }
                                        }

                                    } else if (data1[indice_plan_actual].modules[indice_module_actual].examPermission !== false && data1[indice_plan_actual].modules[indice_module_actual].examPermission.next_step !== 'completed') {
                                        data1[indice_plan_actual].modules[indice_module_actual].progress = 0;
                                    }


                                    if ((data1[indice_plan_actual].modules[indice_module_actual].type == 'module')) {
                                        if ((data1[indice_plan_actual].modules[indice_module_actual].approved == false) && (data1[indice_plan_actual].modules[indice_module_actual].enabled == true)) {
                                            temporal_data_m = temporal_data_m + 1;
                                        }
                                        if ((data1[indice_plan_actual].modules[indice_module_actual].enabled == true)) {
                                            temporal_data_ml = temporal_data_ml + 1;
                                        }
                                    }

                                    if ((data1[indice_plan_actual].modules[indice_module_actual].type == 'workshop')) {
                                        if ((data1[indice_plan_actual].modules[indice_module_actual].approved == false) && (data1[indice_plan_actual].modules[indice_module_actual].enabled == true)) {
                                            temporal_data_w = temporal_data_w + 1;
                                        }
                                        if ((data1[indice_plan_actual].modules[indice_module_actual].enabled == true)) {
                                            temporal_data_wl = temporal_data_wl + 1;
                                        }
                                    }


                                }
                            }
                        }
                    }
                }


                function myFunctionCheckModule2(id_plan_actual, indice_plan_actual, id_module_actual, indice_module_actual) {

                    if (data2.length !== 0) {

                        for (var j = 0; j < data2[0].modules.length; j++) {

                            //RECORRE LOS MODULO DEL PLAN
                            for (x = 0; x < data2[0].modules.length; x++) {

                                if (id_module_actual == data2[0].modules[x].module.id) {

                                    data1[indice_plan_actual].modules[indice_module_actual].approved = data2[0].modules[x].approved;
                                    data1[indice_plan_actual].modules[indice_module_actual].enabled = data2[0].modules[x].enabled;

                                    data1[indice_plan_actual].modules[indice_module_actual].status_revalid = data2[0].modules[x].enabled;

                                    data1[indice_plan_actual].modules[indice_module_actual].poll.employee_answers = data2[0].modules[x].employee_answers;

                                    data1[indice_plan_actual].modules[indice_module_actual].examPermission = data2[0].modules[x].examPermission;

                                    data1[indice_plan_actual].modules[indice_module_actual].examPermissionPost = data2[0].modules[x].examPermissionPost;

                                    data1[indice_plan_actual].modules[indice_module_actual].poll.pollPermission = data2[0].modules[x].pollPermission;
                                    data1[indice_plan_actual].modules[indice_module_actual].pollPermission = data2[0].modules[x].pollPermission;

                                    data1[indice_plan_actual].modules[indice_module_actual].poll.current_pager_id = data2[0].modules[x].employee_answers.length;

                                    data1[indice_plan_actual].modules[indice_module_actual].comment = data2[0].modules[x].comment;


                                    //module progress percentage//

                                    // prev exam //

                                    if (data1[indice_plan_actual].modules[indice_module_actual].examPermission === false && data1[indice_plan_actual].modules[indice_module_actual].examPermissionPost === false && data1[indice_plan_actual].modules[indice_module_actual].pollPermission === false) {
                                        // if nothing done 0

                                        data1[indice_plan_actual].modules[indice_module_actual].progress = 0;

                                    } else if (data1[indice_plan_actual].modules[indice_module_actual].examPermission !== false && data1[indice_plan_actual].modules[indice_module_actual].examPermission.next_step === 'completed' && data1[indice_plan_actual].modules[indice_module_actual].examPermission.enabled !== false) {

                                        // if prev exam is completed = 25
                                        data1[indice_plan_actual].modules[indice_module_actual].progress = 25;

                                        // interactive course - pixelnet sends true or false if the class is completed
                                        // console.log('--------------');
                                        // console.log(data2);
                                        // console.log(data2[indice_plan_actual]);
                                        // console.log(data2[indice_plan_actual].modules);
                                        // console.log('--------------');
                                        if ((data1[indice_plan_actual].modules[indice_module_actual].progress === 25) && data2[indice_plan_actual].modules[indice_module_actual] != undefined && (data2[indice_plan_actual].modules[indice_module_actual].interactive_course === true)) {
                                            data1[indice_plan_actual].modules[indice_module_actual].progress = 50;
                                        }


                                        // check post exam
                                        if (data1[indice_plan_actual].modules[indice_module_actual].examPermissionPost !== false && data1[indice_plan_actual].modules[indice_module_actual].examPermissionPost.next_step === 'completed' && data1[indice_plan_actual].modules[indice_module_actual].examPermissionPost.enabled !== false) {

                                            // if exam post is completed = 50

                                            data1[indice_plan_actual].modules[indice_module_actual].progress = 75;

                                            // check poll

                                            if (data1[indice_plan_actual].modules[indice_module_actual].pollPermission !== false && data1[indice_plan_actual].modules[indice_module_actual].pollPermission.next_step !== 'completed') {
                                                // if poll is not completed
                                                data1[indice_plan_actual].modules[indice_module_actual].progress = 75;
                                            } else if (data1[indice_plan_actual].modules[indice_module_actual].pollPermission.next_step === 'completed' && data1[indice_plan_actual].modules[indice_module_actual].pollPermission.enabled !== false) {
                                                // if poll is completed = 100
                                                data1[indice_plan_actual].modules[indice_module_actual].progress = 100;
                                            }
                                        } else {

                                            data1[indice_plan_actual].modules[indice_module_actual].progress = 0;
                                        }

                                    } else if (data1[indice_plan_actual].modules[indice_module_actual].examPermission !== false && data1[indice_plan_actual].modules[indice_module_actual].examPermission.next_step !== 'completed') {
                                        data1[indice_plan_actual].modules[indice_module_actual].progress = 0;
                                    }


                                    if ((data1[indice_plan_actual].modules[indice_module_actual].type == 'module')) {
                                        if ((data1[indice_plan_actual].modules[indice_module_actual].approved == false) && (data1[indice_plan_actual].modules[indice_module_actual].enabled == true)) {
                                            temporal_data_m = temporal_data_m + 1;
                                        }
                                        if ((data1[indice_plan_actual].modules[indice_module_actual].enabled == true)) {
                                            temporal_data_ml = temporal_data_ml + 1;
                                        }
                                    }

                                    if ((data1[indice_plan_actual].modules[indice_module_actual].type == 'workshop')) {
                                        if ((data1[indice_plan_actual].modules[indice_module_actual].approved == false) && (data1[indice_plan_actual].modules[indice_module_actual].enabled == true)) {
                                            temporal_data_w = temporal_data_w + 1;
                                        }
                                        if ((data1[indice_plan_actual].modules[indice_module_actual].enabled == true)) {
                                            temporal_data_wl = temporal_data_wl + 1;
                                        }
                                    }


                                }
                            }
                        }
                    }
                }

                function myFunctionCheckRequirements(id_plan_actual, indice_plan_actual, id_requirements_actual, indice_requirements_actual) {

                    //console.log('data2.length: ' + data2.length);

                    for (var j = 0; j < data2.length; j++) {

                        //VERIFICA EL ID DEL PLAN
                        if (id_plan_actual == data2[j].plan.id) {

                            //RECORRE LOS MODULO DEL PLAN
                            for (x = 0; x < data2[j].requirements.length; x++) {

                                if (id_requirements_actual == data2[j].requirements[x].requirement.id) {

                                    data1[indice_plan_actual].requirements[indice_requirements_actual].approved = data2[j].requirements[x].approved;
                                    data1[indice_plan_actual].requirements[indice_requirements_actual].enabled = data2[j].requirements[x].enabled;
                                }

                            }

                        }

                    }


                }

                // console.log(JSON.parse(JSON.stringify(data1)));

                var listaModulos = data1[0].modules;
                console.log(id, listaModulos);

                jQuery(listaModulos).each(function (ii, mod){

                    if (mod.muestra == true) {
                        if (id == 5153) {
                            // if (mod.enabled === true && mod.approved === false && mod.progress == 0) {

                            // }
                            console.log("Curso: " + mod.id + ' || Progreso: ' + mod.progress);   
                        }

                        if (mod.progress == 75) {
                            // mod.progress = 100;
                        } else if(mod.progress == 0) {
                            // mod.progress = 25;
                        }

                        if (mod.approved) {
                            mod.progress = 100;    
                        }

                        var porc_dato1 = mod.progress / 100 * 360;
                        var porc_dato2 = porc_dato1 / 2;
                        var porc_color = (mod.progress < 50) ? 'bg-color-menor' : 'bg-color-mayor';
                        var porc_colortext = (mod.progress < 50) ? 'color-menor' : 'color-mayor';

                        // jQuery('.modal-body .myWorkPlace .where').html(storeName + ' <span>' + storeLocation + '</span>');
                        // jQuery('.modal-body .block-category h3').html(catName);

                        jQuery('.listEmployee#' + id + ' .cursosProgress .mod-' + mod.id + ' .cutout-medium .data-medium').html(mod.progress + '%');
                        jQuery('.listEmployee#' + id + ' .cursosProgress .mod-' + mod.id + ' .cutout-medium .data-medium').attr('class', 'data-medium ' + porc_colortext);

                        jQuery('.listEmployee#' + id + ' .cursosProgress .mod-' + mod.id + ' .shape-medium .fill-medium').addClass(porc_color);

                        jQuery('.listEmployee#' + id + ' .cursosProgress .mod-' + mod.id + ' .porc_dato2_1').attr('style', 'transform: rotate(' + porc_dato2 + 'deg);');
                        jQuery('.listEmployee#' + id + ' .cursosProgress .mod-' + mod.id + ' .porc_dato2_2').attr('style', 'transform: rotate(' + porc_dato2 + 'deg);');
                        jQuery('.listEmployee#' + id + ' .cursosProgress .mod-' + mod.id + ' .porc_dato2_3').attr('style', 'transform: rotate(' + porc_dato2 + 'deg);');
                        jQuery('.listEmployee#' + id + ' .cursosProgress .mod-' + mod.id + ' .porc_dato1').attr('style', 'transform: rotate(' + porc_dato1 + 'deg);');

                        if ((mod.enabled === true) && (mod.approved === false)) {
                            console.log('.listEmployee#' + id + ' .cursosProgress .mod-' + mod.id + ' .data-medium');
                            // jQuery('.listEmployee#' + id + ' .cursosProgress .mod-' + mod.id + ' .data-medium').html(mod.progress);
                        }
                        if ((mod.enabled === true) && (mod.approved === true)) {
                            console.log('.listEmployee#' + id + ' .cursosProgress .mod-' + mod.id + ' .data-medium');
                            // jQuery('.listEmployee#' + id + ' .cursosProgress .mod-' + mod.id + ' .data-medium').html(100);
                        }
                        // if (mod.id != 8 && mod.enabled == true) {
                        //     var html = '<div class="content-mod">';
                        //     html += '   <div class="data-prom-medium">' + mod.title + '</div>';
                        //     html += '   <div class="radial-graph-medium">';
                        //     html += '       <div class="shape-medium">';
                        //     html += '           <div class="mask-medium full-mask-medium porc_dato2_1">';
                        //     html += '               <div class="fill-medium porc_dato2_2"></div>';
                        //     html += '           </div>';
                        //     html += '           <div class="mask-medium">';
                        //     html += '               <div class="fill-medium porc_dato2_3"></div>';
                        //     html += '               <div class="fill-medium shim-medium porc_dato1"></div>';
                        //     html += '           </div>';
                        //     html += '       </div>';
                        //     html += '       <div class="cutout-medium">';
                        //     html += '           <div class="data-medium"></div>';
                        //     html += '       </div>';
                        //     html += '   </div>';
                        //     html += '</div>';
                        //     jQuery('.listEmployee#' + id + ' .cursosProgress').prepend(html);

                        // }
                    } else {
                        jQuery('.listEmployee#' + id + ' .cursosProgress .mod-' + mod.id).hide();
                    }
                });

                // data = data1;

                // var lastPlan = null;
                // app.pdc_plan_length = data.length;

                // //recorre planes
                // for (var i = 0; i < data.length; ++i) {

                //     var id_plan = data[i].id;

                //     app.pdc_plan[data[i].position] = data[i];

                //     //console.log(data[i].enabled);

                //     if (inicialPlan) {
                //         if (data[i].id == inicialPlan) {
                //             //console.log(data[i]);
                //             lastPlan = data[i];
                //         }
                //     } else {
                //         lastPlan = 1;
                //     }

                //     ////contar cantidad de planes con nivelacion

                //     var x;
                //     app.total_nivelation = 0;
                //     app.total_has_modules = 0;
                //     app.total_has_workshops = 0;

                //     app.pdc_capacitacion_entrenamiento_status = 0;
                //     app.pdc_cursos_talleres_status = 0;

                //     app.pdc_capacitacion_entrenamiento_approved = 0;
                //     app.pdc_cursos_talleres_approved = 0;

                //     //console.log('id_plan: ' + id_plan);

                //     //requirements
                //     //console.log(data[i].requirements.length);

                //     //var requiNoAppr = [];
                //     var requiNoApprTemp = 0;
                //     //var requiEnab = [];
                //     var requiEnabTemp = 0;

                //     for (x = 0; x < data[i].requirements.length; x++) {

                //         // console.log(data[i].requirements[x].approved);
                //         // console.log(data[i].requirements[x].enabled);

                //         if ((data[i].requirements[x].approved == false) && (data[i].requirements[x].enabled == true)) {
                //             requiNoApprTemp = requiNoApprTemp + 1;
                //         }

                //         if (requiNoApprTemp > 0) {
                //             data1[i].requirements_approved = false;
                //         } else {
                //             data1[i].requirements_approved = true;
                //         }

                //         if (data[i].requirements[x].enabled == true) {
                //             requiEnabTemp = requiEnabTemp + 1;
                //         }

                //         if (requiEnabTemp > 0) {
                //             data1[i].requirements_enabled = true;
                //         } else {
                //             data1[i].requirements_enabled = false;
                //         }

                //         //console.log('requiNoApprTemp: ' + requiNoApprTemp);
                //         //console.log('requiEnabTemp: ' + requiEnabTemp);

                //     }

                //     //modules

                //     var temporal_total_has_modules = 0;
                //     var temporal_total_has_workshops = 0;

                //     var temporal_pdc_capacitacion_entrenamiento_status = 0;
                //     var temporal_pdc_capacitacion_entrenamiento_approved = 0;

                //     var temporal_pdc_cursos_talleres_status = 0;
                //     var temporal_pdc_cursos_talleres_approved = 0;

                //     var temporal_data_m = 0;
                //     var temporal_data_w = 0;

                //     var temporal_data_ml = 0;
                //     var temporal_data_wl = 0;

                //     for (x = 0; x < data[i].modules.length; x++) {

                //         if (((data[i].modules[x].nivelation) == true) && ((data[i].modules[x].enabled) == true)) {
                //             app.total_nivelation = app.total_nivelation + 1;
                //         }

                //         app.modules_with_nivelation[i] = app.total_nivelation;

                //         //modules types module
                //         if (data[i].modules[x].type == 'module') {
                //             temporal_total_has_modules = temporal_total_has_modules + 1;

                //             if (((data[i].modules[x].nivelation) == true) && ((data[i].modules[x].enabled) == true)) {
                //                 temporal_pdc_capacitacion_entrenamiento_status = temporal_pdc_capacitacion_entrenamiento_status + 1;

                //                 if ((data[i].modules[x].approved) == true) {
                //                     temporal_pdc_capacitacion_entrenamiento_approved = temporal_pdc_capacitacion_entrenamiento_approved + 1;
                //                 }
                //             }

                //         }
                //         app.has_modules[i] = temporal_total_has_modules;
                //         app.pdc_capacitacion_entrenamiento_status_array[i] = temporal_pdc_capacitacion_entrenamiento_status;
                //         app.pdc_capacitacion_entrenamiento_approved_array[i] = temporal_pdc_capacitacion_entrenamiento_approved;

                //         //modules types workshop
                //         if (data[i].modules[x].type == 'workshop') {
                //             temporal_total_has_workshops = temporal_total_has_workshops + 1;

                //             if (((data[i].modules[x].nivelation) == true) && ((data[i].modules[x].enabled) == true)) {
                //                 temporal_pdc_cursos_talleres_status = temporal_pdc_cursos_talleres_status + 1;

                //                 if ((data[i].modules[x].approved) == true) {
                //                     temporal_pdc_cursos_talleres_approved = temporal_pdc_cursos_talleres_approved + 1;
                //                 }
                //             }

                //         }
                //         app.has_workshops[i] = temporal_total_has_workshops;
                //         app.pdc_cursos_talleres_status_array[i] = temporal_pdc_cursos_talleres_status;
                //         app.pdc_cursos_talleres_approved_array[i] = temporal_pdc_cursos_talleres_approved;

                //         ////////////////////////////////////////////////////////////////////////////////aproved y locked
                //         if ((data1[i].modules[x].type == 'module')) {
                //             if ((data1[i].modules[x].approved == false)) {
                //                 temporal_data_m = temporal_data_m + 1;
                //             }
                //             if ((data1[i].modules[x].enabled == true)) {
                //                 temporal_data_ml = temporal_data_ml + 1;
                //             }
                //         }

                //         if ((data1[i].modules[x].type == 'workshop')) {
                //             if ((data1[i].modules[x].approved == false)) {
                //                 temporal_data_w = temporal_data_w + 1;
                //             }
                //             if ((data1[i].modules[x].enabled == true)) {
                //                 temporal_data_wl = temporal_data_wl + 1;
                //             }
                //         }

                //         if (temporal_data_m > 0) {
                //             app.is_all_module_approved[i] = false;
                //         } else {
                //             app.is_all_module_approved[i] = true;
                //         }

                //         if (temporal_data_ml > 0) {
                //             app.is_all_module_locked[i] = false;
                //         } else {
                //             app.is_all_module_locked[i] = true;
                //         }

                //         //console.log('temporal_data_m: ' + i + ' : ' + temporal_data_m);

                //         if (temporal_data_w > 0) {
                //             app.is_all_workshop_approved[i] = false;
                //         } else {
                //             app.is_all_workshop_approved[i] = true;
                //         }

                //         if (temporal_data_wl > 0) {
                //             app.is_all_workshop_locked[i] = false;
                //         } else {
                //             app.is_all_workshop_locked[i] = true;
                //         }

                //         //console.log('temporal_data_w: ' + i + ' : ' + temporal_data_w);
                //         ///////////////////////////////////////////////////////////////

                //     }

                // }

                // //console.log(JSON.parse(JSON.stringify(app.modules_with_nivelation)));

                // if (lastPlan) {
                //     app.inicial_plan_position = lastPlan.position;
                // } else {
                //     app.inicial_plan_position = 1;
                //     lastPlan = data[0];
                // }

                // //console.log(lastPlan.enabled);
                // app.pdc_plan_enabled = lastPlan.enabled;
                // app.pdc_plan_approved = lastPlan.approved;

                // //console.log(app.pdc_plan_approved);
                // //console.log(JSON.parse(JSON.stringify(app.current_plan_full)));
                // //console.log(JSON.parse(JSON.stringify(data1)));


                // if (data.length) {

                //     var plan = app.pdc_plan[id] !== undefined ? app.pdc_plan[id] : lastPlan;

                //     showPlan(plan);

                //     // console.log('> Load career plan current user');
                //     //console.log('* ----------------------------- *');

                // } else {

                //     // console.log('No Hay Plan Para Cargar');

                // }

                // if (data2.length == 0) {
                //     app.my_career_status_length = 0;
                // } else {
                //     app.my_career_status_length = 1;
                // }


            }).done(function (data2) {

                //console.log('> Carga Completa! Planes por defecto');
                // console.log('* ---------------------------------- *');

            }).fail(function () {

                // console.log("!Error de carga. Presione F5");

            });


        }

        function showPlan(plan) {

            console.log(plan);
            return;

            // document.getElementById("pdc").style.display = "none";
            // document.getElementById("cs-loader").style.display = "block";

            app.pdc_result = plan;

            app.current_plan_position = plan.position;
            app.current_plan_name = plan.title;

            app.pdc_approved = plan.approved;

            app.pdc_plan_enabled = plan.enabled;

            app.pdc_requirements = null;

            // console.log(JSON.parse(JSON.stringify(plan)));

            if (plan.requirements) {
                if (plan.requirements.length) {

                    var i;
                    var counterio = 0;

                    for (i = 0; i < plan.requirements.length; i++) {
                        if (plan.requirements[i].enabled == true) {

                            // console.log(i);

                            counterio = counterio + 1;
                        }
                    }

                    app.pdc_requirements_total_enables = counterio;
                    app.pdc_requirements = plan.requirements;
                }
            }


            app.pdc_modules = plan.modules;
            app.requirements_approved = plan.requirements_approved;
            app.requirements_enabled = plan.requirements_enabled;

            app.total_nivelation = 0;
            app.pdc_capacitacion_entrenamiento_status = 0;
            app.pdc_cursos_talleres_status = 0;

            setTimeout(function () {

                $('.fully-content, .box_contenido.full-module').removeClass('opened');
                $('#pdc .full-module .extra-content, #pdc .full-module-extended.inside-content').hide();
                $("#cs-loader").hide();
                $("#pdc").css("visibility", "visible").css("display", "block");

                // console.log('Cargando scroll');
                //
                // setTimeout(function () {
                //     $(".content_malibu").mCustomScrollbar({
                //         axis: "x",
                //         theme: "dark",
                //         updateOnContentResize: true,
                //         alwaysShowScrollbar: 0,
                //         advanced: {
                //             autoExpandHorizontalScroll: true
                //         },
                //         scrollButtons: {
                //             enable: true,
                //             scrollType: "stepped"
                //         },
                //         keyboard: {scrollType: "stepped"}
                //     });
                // }, 1000);

                setTimeout(function () {

                    $('.slide_scroll_right').click(function () {
                        var scroller_horizontal = document.getElementById('scroller_horizontal');
                        sideScroll(scroller_horizontal, 'right', 25, 100, 10);

                        //console.log(scroller_horizontal);
                    });

                    $('.slide_scroll_left').click(function () {
                        var scroller_horizontal = document.getElementById('scroller_horizontal');
                        sideScroll(scroller_horizontal, 'left', 25, 100, 10);

                        //console.log(scroller_horizontal);
                    });

                    function sideScroll(element, direction, speed, distance, step) {
                        scrollAmount = 0;
                        var slideTimer = setInterval(function () {
                            if (direction == 'left') {
                                element.scrollLeft -= step;
                            } else {
                                element.scrollLeft += step;
                            }
                            scrollAmount += step;
                            if (scrollAmount >= distance) {
                                window.clearInterval(slideTimer);
                            }
                        }, speed);

                        //console.log('sideScroll');
                    }

                    function hasScroll(el, direction) {
                        // direction = (direction === 'vertical') ? 'scrollTop' : 'scrollLeft';
                        // var result = el[direction];
                        //
                        // if (!result) {
                        //     el[direction] = 1;
                        //     result = !!el[direction];
                        //     el[direction] = 0;
                        // }
                        // return result;
                    }

                    //alert('horizontal? ' + hasScroll(document.getElementById('scroller_horizontal'), 'horizontal'));

                    if ((hasScroll(document.getElementById('scroller_horizontal'), 'horizontal')) === true) {
                        $('.slide_scroll_left').show();
                        $('.slide_scroll_right').show();
                    } else {
                        $('.slide_scroll_left').hide();
                        $('.slide_scroll_right').hide();
                    }

                }, 500);

            }, 500);

        }
    </script>
{% endblock page_content %}