{% extends '::base.html.twig' %}
{% block pagename %}beneficios{% endblock %}
{% block head_scripts_optional %}
    <script>
        var apiKey = "{{ constant('Aper\\BenefitBundle\\Controller\\ApiBenefitController::KEY') }}";
        var codigoAfiliado = "{{ constant('Aper\\BenefitBundle\\Controller\\ApiBenefitController::CODIGO_AFILIADO_ID') }}";
        var codigoAfiliado = "{{ app.user.email }}";
        var endPoint = "{{ constant('Aper\\BenefitBundle\\Controller\\ApiBenefitController::END_POINT_API_CUPONSTAR_BASE') }}";
        var backEndCuponEndpoint = "{{ path('aper_benefit_apibenefit_findcuponby') }}";
        var backEndCategoriesEndpoint = "{{ path('aper_benefit_apibenefit_findcategoriesby') }}";
        var backEndLocationsEndpoint = "{{ path('aper_benefit_apibenefit_findlocationsby') }}";
        var microSiteID = "{{ constant('Aper\\BenefitBundle\\Controller\\ApiBenefitController::MICROSITE_ID') }}";
        var assetPath = '{{ asset('') }}';
    </script>
{% endblock %}
{% block page_content %}

    <style type="text/css">
        .form_single_wrap {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
        .form_single_wrap label {
            width: 30%;
            color: #868686;
            font-size: 14px;
        }
        .form_single_wrap input {
            width: 70%;
            color: #444 !important;
            background-color: #cecece;
            line-height: 34px !important;
            padding-left: 30px;
            border: 1px solid #aaa;
        }
        .content {
            background-color: #fff;
          
        }
		.filtroBus {
			background-color: #e5e5e5 !important;
			padding: 1px 11%;
			padding-bottom: 30px;
		}
    </style>
                                            
    {#<div class="container">#}
    <div class="services benefits_categories header_benefits container">
        <div class="container row" style="position: relative;margin: 0;">
            <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs" style="background-image: url({{ asset('dist/images/puma/header-news.png') }})">
                <img class="img_backHeader" src="{{ asset('dist/images/puma/header-news.png') }}">
                <h1 class="title_header bold">
                    Disfrutá de estos beneficios exclusivos para vos
                </h1>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 hidden-sm hidden-md hidden-lg" style="background-image: url({{ asset('dist/images/puma/header-news.png') }})">
                    <img class="img_backHeader" src="{{ asset('dist/images/puma/header-news.png') }}">
                    <h1 class="title_header bold">
                        Disfrutá de estos beneficios exclusivos para vos
                    </h1>
            </div>

                </div>
            </div>
            <div class="clearfix"></div>

        <div class="container">
            <div class="col-xs-12 searchBar" style="padding-bottom:10px !important; min-height:100px !important;">
                <div class="filters" style="float: right;">
                    <span class="medium" style="color: #868686;font-size: 14px; padding-right: 29px;">Encontrá tu descuento &nbsp;&nbsp;</span>
                    <select name="category" id="filterby-category" class="form-control filterby-category">
                        <option></option>
                    </select>
                    <select name="location" id="filterby-location" class="form-control filterby-location">
                        <option></option>
                    </select>
                    {#<select name="name" id="inputID" class="form-control">#}
                    {#<option value=""> -- Select One --</option>#}
                    {#</select>#}
                    <select name="location-city" id="filterby-location-city" class="form-control filterby-location-city">
                        <option></option>
                    </select>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-xs-12" style="padding-right:0px; padding-left:0px;">
                <div class="content filtroBus">
                    <div class="form_single_wrap"> 
                        <label for="text_id"  style="padding-left: 100px;">Filtrá tu búsqueda</label>
                        <input type="text" style="width: 555px; margin-left: 18px;" id="text_id" placeholder="¿Qué estás buscando?">
                    </div>
                </div>
            </div>
            <div id="results">  </div>
            <div class="clearfix"></div>
            <div id="benefitsData" class="wrapResult" style="position: relative;">
                <h3 class="title text-center" id="cat-title" style="color: red; font-weight: bolder; text-transform: uppercase; padding-top:25px;">Todos tus beneficios</h3>
                <div class="loaderSpinner" style="display: none">
                    <div class="loader">
                        <span class="dot dot_1"></span>
                        <span class="dot dot_2"></span>
                        <span class="dot dot_3"></span>
                        <span class="dot dot_4"></span>
                    </div>
                </div>
                <div class="benefitsList">
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="margintop-15 marginbottom-15">
                <div id="benefitsData" class="text-right col-xs-12 navigationBenefits" style="margin-top: 30px">
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    {#</div>#}
{% endblock %}
{% block body_scripts_optional %}
    <script src="{{ asset('dist/scripts/vendor/benefits.js') }}"></script>
    <script>
        $(function () {
            $('.discount').each(function () {
                $(this).find('.img').css('height', $(this).height() - 20)
            })

        });
//---------------------------------------------------------------------------------     
        $("#text_id").keyup(function() {
            var benefit = $("#text_id").val();
            if (benefit != '') {
                $('#benefitsData').css('display', 'none');
                $('.paginator').css('display', 'none');
                $('#results').css('display', 'block');
            } else {
                $('#benefitsData').css('display', 'block');
                $('.paginator').css('display', 'block');
                $('#results').css('display', 'none');
            }
            $.ajax({
                url:"search-ajax",
                type: "POST",
                data: ({
                    "text": benefit
                }),
                success: function (data) {
        
                    if(!data.error) {
                        let benefits = JSON.parse(data);
                        
                        if (benefits.count > 0) {
                            
                            let template = '';
                            
                            let title = `<h2>Se encontraron #"${benefits.count}" Resultados.<h2>`;

                            $('#tasks-title').html(title);
                            
                            benefits.results.forEach(benefit => {
                                specialSize = "";
                                    if (benefit.descuento == "PROMO") {
                                        specialSize = 'style="font-size: 3em !important; "';
                                    }
                                    template +=
                                        '<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">' +
                                        '<div class="discount">' +
                                        '<div class="left">' +
                                        '<div class="img" style="background-image: url(' + benefit.foto_apaisada['240x80'] + ')">' +
                                        '</div>' +
                                        '</div>' +
                                        '<div class="right">' +
                                        '<div class="text">' +
                                        '<h3 class="reduceText2Lines percentage"'+ specialSize +'>' + benefit.descuento + '</h3>' +
                                        benefit.descripcion_breve +
                                        '</div>' +
                                        '</div>' +
                                        '<a class="btn btn-primary show sm" href="show/' + benefit.id + '" data-benefit-id="' + benefit.id + '">' +
                                        '<div class="inner">Quiero mi beneficio</div>' +
                                        '</a>' +
                                        '</div>' +
                                        '</div>';
                            });

                            $('#results').html(template);

                        }
                    }
                } 
            });
        })
        if ($("#text_id").val() == "") {
            clearBox(document.getElementById("results"))
        }
        function clearBox(elementID) {
            document.getElementById(elementID).innerHTML = "";
        }

//-------------------------------------------------------------------------------
    </script>
{% endblock %}
