{% extends '::base.html.twig' %}
{% block head_stylesheets_custom %}
    {# <link rel="stylesheet" type="text/css" href="{{ asset('dist/styles/vendor/sweetalert.css') }}"/> #}
{% endblock %}
{% block head_scripts_optional %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7S7U4ntV8lgX2vOAo449R9oAm0VExjbc"></script>
    <script src="{{ asset('dist/scripts/vendor/sweetalert.js') }}"></script>
{% endblock %}
{% block pagename %}beneficiosInterna{% endblock %}
{% block page_content %}
    <div class="services benefits_categories header_benefits container">
        <div class="row" style="position: relative;margin: 0;">

            <div class="services benefits_categories header_benefits container">
                <div class="container row" style="position: relative;margin: 0;">
                    <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs" style="background-image: url({{ asset('dist/images/puma/header-news.png') }})">
                        <img class="img_backHeader" src="{{ asset('dist/images/puma/header-news.png') }}">
                        <h1 class="title_header bold">
                            Disfrutá de estos beneficios exclusivos para vos
                        </h1>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 hidden-sm hidden-md hidden-lg" style="background-image: url({{ asset('dist/images/puma/header-news.png') }})">
                        <img class="img_backHeader" src="{{ asset('dist/images/puma/header-news.png') }}">
                        <h1 class="title_header bold">
                            Disfrutá de estos beneficios exclusivos para vos
                        </h1>
                    </div>

                </div>
            </div>
            <div class="clearfix"></div>
{#            <div class="col-lg-4 col-md-6">#}
{#                <a class="medium show_benefit_detail active" data-benefit="8" data-toggle="tab" href="#menu8">#}
{#                    <div class="box_benefit menu8">CLUB DE DESCUENTOS »</div>#}
{#                </a>#}
{#            </div>#}
{#            {% for benefit in beneficios %}#}
{#                <div class="col-lg-4 col-md-6">#}
{#                    <a class="medium show_benefit_detail"#}
{#                       href="{{ path('aper_benefit_frontendbenefit_show',{'category':benefit.category}) }}#{{ benefit.id }}">#}
{#                        <div class="box_benefit menu8">{{ benefit.name }} »</div>#}
{#                    </a>#}
{#                </div>#}
{#            {% endfor %}#}
            <div class="clearfix"></div>
            <div style="position: relative;padding: 0 15px">
                <div class="col-xl-12">
                    <div style="font-size: 24px;color:#ff0000;margin: 15px 0">Beneficios</div>
                </div>
                <div class="goBack" style="position: absolute;right: 15px;top: 10px;">
                    <a href="../../api/coupons" style="color:#fe0000;font-size: 14px">« Volver</a>
                </div>
            </div>
            <div class="containerDiscount">
                <div class="row" style="padding: 15px !important;">
                    {% set benefit = response.coupon %}
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="discount detail">
                            <div class="left">
{#                                <p class="type">{{ benefit.descuento }}</p>#}
{#                                <img class="ico_discount" src="{{ asset('dist/images/ico_apidiscount.png') }}">#}
                                <div class="img img_principal"
                                     style="background-image: url('{{ benefit.foto_principal|first }}')">
                                </div>
                            </div>
                            <div class="right">
                                <div class="text">
                                    <h3 class="titleBenefit" data-name="{{ benefit.nombre }}">{{ benefit.nombre }}</h3>
                                    {{ benefit.descripcion_micrositio|raw }}

                                </div>

                            </div>


                            <div class="right action">
                                {% set apiData = { cupon_id :  benefit.id } %}
                                <a class="btn sm btn-primary show" data-beneficio="{{ apiData.cupon_id }}">
                                    <div href="#" class="inner">Solicitar descuento &raquo;
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="maps margintop-15 marginbottom-15" >
                    <div class="row">
                        {% set locales = response.sucursales %}
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h3>Podés usar este descuento en:</h3>
                        </div>
                    </div>
                    <div class="row">
                        {% for local in locales %}
                            <div class="col-lg-4 col-md-4">
                                <div class="col-lg-6 col-md-6 nopadding">
                                    <div id="map-{{ loop.index }}" class="map-container"
                                         data-lat="{{ local.latitud }}"
                                         data-lon="{{ local.longitud }}"
                                         style="height:95px;">

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 nopadding">
                                    <h4 class="medium nomargin">{{ local.direccion }}</h4>
                                    <p class="marginbottom-5 margintop-5">
                                        {{ local.barrio }}
                                        {{ local.localidad }}
                                        {{ local.provincia }}
                                    </p>
                                    {% if local.telefono %}
                                        <p>Teléfono: {{ local.telefono }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <hr>
                <div style="padding: 0 15px;">
                    <h3>Bases y condiciones</h3>
                    <p>{{ benefit.legales|raw }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block body_scripts_optional %}

    <script type="text/javascript">
        $(function () {
            $('.map-container').each(function (key, value) {
                var el = $(this);
                var lat = el.attr('data-lat');
                var lon = el.attr('data-lon');
                var myLatLng = new google.maps.LatLng(lat, lon);
                var mapOptions = {
                    scaleControl: true,
                    center: myLatLng,
                    zoom: 16
                };
                var map = new google.maps.Map(document.getElementById(el.attr('id')), mapOptions);
                var marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map
                });
                marker.setMap(map)
            })

            $('.btn.show').on('click', function (e) {
                e.preventDefault();
                var $this = $(this);
                swal({
                    title : "Solictando descuento",
                    text: "Espere...",
                    showConfirmButton: false
                })
                $.ajax({
                    method: "GET",
                    url: "{{ path('aper_benefit_apibenefit_redirect') }}?split=0&cupon_id=" + $this.data('beneficio'),
                    crossDomain: true,
                })
                .always(function (msg) {
                        console.log(msg);
                        if (msg.hasOwnProperty('success')) {
                            swal({
                                title: "Tu código de descuento es: " + msg.success.codigo,
                                text: msg.success.texto_sms,
                                type: "success",
                                // timer: 20000,
                                showConfirmButton: true
                            })
                        }
                        if (msg.hasOwnProperty('error')) {
                            swal("Error al solicitar descuento", "Ha ocurrido un error, intente nuevamente", "error")
                        }
                    })
            })
        });
    </script>
{% endblock %}
