{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'term.list.title'|trans,
    path: {
    new: {uri: path('aper_term_add')},
    },
    } only %}
{% endblock page_header %}



{% block page_content %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>{{'Title'|trans }}</th>
                    <th>{{'Content'|trans}}</th>
                    <th>{{ 'Actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for term in pagination %}
                    <tr>
                        <td>{{term.title }}</td>
                        <td>{{term.content|raw  }}</td>
                        <td>
                            <a href="{{ path('aper_term_show', {id: term.id }) }}" class="btn"
                               onclick="">{{ 'actions.show.label'|trans }}</a>
                            <a href="{{ path('aper_term_update', {id: term.id }) }}"
                               class="btn">{{ 'actions.edit.label'|trans }}</a>
                            <a href="{{ path('aper_term_delete', {id: term.id }) }}"
                               class="btn btn btn-danger btn-delete"
                               onclick="return confirm('{{ 'actions.delete_term.confirm_cuestion'|trans }}')">{{ 'actions.delete.label'|trans }}</a>
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        {{ grid_pagination(pagination) }}
    </div>
{% endblock page_content %}