{% extends 'base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'page_header.aper.term.show.title'|trans,
    path: {
        index: {uri: path('aper_term_index')},
        edit: {uri: path('aper_term_update', {'id': term.id})},
        delete: {uri: path('aper_term_delete', {'id': term.id})},
    },

    } only %}
{% endblock page_header %}


{% block page_content %}
    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'Title'|trans }}</th>
                <td>{{ term.title }}</td>
            </tr>
            <tr>
                <th>{{ 'Content'|trans }}</th>
                <td>{{ term.content|raw }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}