{% extends 'WebFactoryUserBundle:User:layout.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'page_header.user.delete.title'|trans,
    path: {
    index: {uri: path(user_context('user').getRoute('index'))},
    edit: {uri: path(user_context('user').getRoute('edit'), {id: user.id})},
    show: {uri: path(user_context('user').getRoute('show'), {id: user.id})},
    },
    } only %}
{% endblock page_header %}

{% block web_factory_user_content %}
    <p><strong>{{ user }}</strong></p>
    {{ form(form) }}
{% endblock web_factory_user_content %}