{% extends 'WebFactoryUserBundle:User:layout.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Load_Employees_File'|trans,
    path: {

    },
    } only %}
{% endblock page_header %}


{% block web_factory_user_content %}
    {{ form(form) }}
{% endblock web_factory_user_content %}