{% extends 'WebFactoryUserBundle:User:layout.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'page_header.user.list.title'|trans,
    path: {
    new: {uri: path(user_context('user').getRoute('new'))},
    },
    } only %}
{% endblock page_header %}

{% block web_factory_user_content %}
    {% if filter_form is defined %}
        {{ grid_filter_form(filter_form) }}
    {% endif %}

    <table class="table table-striped table-bordered table-hover">
        {% if pagination %}
            <tr>
                <th>{{'Docket'|trans }}</th>
                <th>{{'Name'|trans}}</th>
                <th>{{'Startat'|trans }}</th>
                <th>{{'Birthday'|trans}}</th>
                <th>{{'Category'|trans}}</th>
                <th>{{'Estación'}}</th>
                <th>{{ knp_pagination_sortable(pagination, 'DNI'|trans, 'User.username') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Status'|trans, 'User.enabled') }}</th>
                <th>Acciones</th>
            </tr>
        {% endif %}

        {# table body #}
        {% for user in pagination %}

           {%  if user.username != 'admin' %}
            <tr>
                <td>{{ user.employee ? user.employee.code }}</td>
                <td>{{ user.employee ? user.employee.profile.name }}</td>
                <td>{{ user.employee ? user.employee.profile.startat|date('d/m/Y')}}</td>
                <td>{{ user.employee ? user.employee.profile.birthday|date('d/m/Y')}}</td>
                <td>{{ user.employee ? user.employee.category }}</td>
                <td>{{ user.employee ? user.employee.store}}</td>
                <td>{{ user.username }}</td>
                <td>{% if user.enabled == 1 %}
                        <b> <span class="text-success">Activo</span></b>
                    {% elseif user.enabled == 0 %}
                        <b> <span class="text-danger">Inactivo</span> </b>
                    {% endif %}</td>
                <td>
                    <a href="{{ path(user_context('user').getRoute('edit'), {id: user.id }) }}" class="btn">Editar</a>
                </td>
            </tr>
           {% endif %}
        {% endfor %}
    </table>

    {{ grid_pagination(pagination) }}
{% endblock web_factory_user_content %}