{% extends 'WebFactoryUserBundle:User:layout.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'page_header.user.new.title'|trans,
    path: {
    index: {uri: path(user_context('user').getRoute('index'))},
    },
    } only %}
{% endblock page_header %}

{% block web_factory_user_content %}
    {{ form(form) }}
{% endblock web_factory_user_content %}

{% block body_scripts_optional %}
    <script src="{{ asset('bundles/mopabootstrap/js/mopabootstrap-collection.js') }}"></script>
    <script>
        $(function () {
            $('div.user_employee_sons_form_group a[data-collection-add-btn]:not([data-collection-add-btn=".user_employee_sons_form_group"])').hide();
            $('div.user_employee_sons_form_group a[data-collection-add-btn]').appendTo($('div.user_employee_sons_form_group').parent())

            $('div.user_employee_educations_form_group a[data-collection-add-btn]:not([data-collection-add-btn=".user_employee_educations_form_group"])').hide();
            $('div.user_employee_educations_form_group a[data-collection-add-btn]').appendTo($('div.user_employee_educations_form_group').parent())

            $('div.user_employee_achievements_form_group a[data-collection-add-btn]:not([data-collection-add-btn=".user_employee_achievements_form_group"])').hide();
            $('div.user_employee_achievements_form_group a[data-collection-add-btn]').appendTo($('div.user_employee_achievements_form_group').parent())

            $('a[data-collection-add-btn]').css({
                position: 'relative',
                bottom: '',
                left: '25%'
            });
        });
    </script>
{% endblock %}