{% extends 'WebFactoryUserBundle:User:layout.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'page_header.user.show.title'|trans,
    path: {
        index: {uri: path(user_context('user').getRoute('index'))},
        show: {uri: path('backend_web_factory_user_user_benefit', {id: user.id}), text: 'Benefits'|trans},
        edit: {uri: path(user_context('user').getRoute('edit'), {id: user.id})},
        delete: {uri: path(user_context('user').getRoute('delete'), {id: user.id})},
    },
    } only %}
{% endblock page_header %}

{% block web_factory_user_content %}
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                {% if user_context('user').userContext.identifierField == 'both' %}
                    <tr>
                        <th>{{ 'Username'|trans }}</th>
                        <td>{{ user.username }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th>{{ 'Email'|trans }}</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>{{ 'Roles'|trans }}</th>
                    <td>
                        {% for role in user.roles if role != 'ROLE_USER' %}
                        <span class="label label-lg label-info arrowed-in-right">
                            {{ ('web_factory_user.roles.' ~ role ~ '.name')|trans({}, 'web_factory_user') }}
                        </span>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'Benefits'|trans }}</th>
                    <td>
                        <ul class="list-unstyled">
                            {% for benefit in user.employee.benefits %}
                                <li>{{ benefit.name }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>{{ 'Enabled'|trans }}</th>
                    <td>{{ (user.enabled ? 'yes':'no')|trans }}</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock web_factory_user_content %}