{% extends '::base.html.twig' %}

{% block pagename %}clases{% endblock %}

{% block head_stylesheets_custom %}
    <!-- page specific plugin styles -->
    <link rel="stylesheet" type="text/css" href="{{ asset('stylesheet/animate.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('stylesheet/plan-de-carrera.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('stylesheet/pdc-mobile.css') }}"/>
{% endblock %}

{% block head_scripts_optional %}
    <!-- inline scripts related to this page -->
    <script src="{{ asset('script/vue.min.js') }}"></script>
    <script src="{{ asset('script/polyfill.min.js') }}"></script>
{% endblock %}

{% block page_logo %}
    <div class="hidden-xs hidden-sm">
        {{ parent() }}
    </div>
    <div class="hidden-md hidden-lg develop">
        <img src="{{ asset('dist/images/puma/logo-puma.png') }}">
    </div>
{% endblock %}

{% set roleHeadOffice = false %}
{% set user = app.user %}
{% if user %}
    {% for role in user.roles if not roleHeadOffice %}
        {% if role == 'ROLE_HEAD_OFFICE' %}
            {% set roleHeadOffice = true %}
        {% endif %}
    {% endfor %}
{% else %}
    {% set roleHeadOffice = false %}
{% endif %}

{% block page_content %}

    <style type="text/css">
        .courses-content .individual-course .bottom .description {
            word-break:  normal;
        }
        .myModalPoll .modal-dialog .fancy-radio-group .btn-fancy-radio {
            text-transform: none !important;
        }
    </style>

    {% include '@PlanCarrera/Front/includes/inc-loader.html.twig' %}

    <div class="container" id="single">

        <div class="appPDC">

            {#area-all-modules-zone#}
            <div id="module-content" v-bind:class="{'status-inactive':(pdc_plan_enabled == false), 'status-approved-all':(pdc_approved == true)}">



                {%  include '@PlanCarrera/Front/includes/inc-single.html.twig' with { 'moduleId' : module_id} %}

            </div>


        </div>
    </div>


{% endblock page_content %}

{% block body_scripts_optional %}
    <script src="{{ asset('script/jquery-migrate-1.4.1.js') }}"></script>
    <script>
        var configBaseUrl = '{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}';
        var userCurrentPlan = '{{ app.user.employee.currentPlan ? app.user.employee.currentPlan.id : null }}';

       function test(){
          window.location.href = '{{ n_url }}';
          return;


           var wnd = window.open(" {{ n_url }}", 'height=100,width=100,left=100,top=100,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no, status=yes');
           // window.focus();
           setTimeout(function() {
               wnd.close();
           }, 3000);
           setTimeout(function(){
               window.open('https://www.campusvirtual-pumaenergy.com.ar/mod/scorm/view.php?id=409&hideinterface=1')
           }, 5000);
           return false;
       }

       var _progressModules = new Array();

        {% for mod,pr in progreso %}
            _progressModules[{{mod}}] = {{pr}};
        {% endfor %}
    </script>
    <link href="{{ asset('script/noty/noty.css') }}" rel="stylesheet">
    <script src="{{ asset('script/noty/noty.js') }}" type="text/javascript"></script>
    <script src="{{ asset('script/countdown/jquery.countdown.js') }}" type="text/javascript"></script>
    <script src="{{ asset('script/plan-vue.js?v2') }}?v={{ date().timestamp }}"></script>


{% endblock %}

