{% extends '::base.html.twig' %}
{% block pagename %}incentives{% endblock %}

{% block page_logo %}
    <div class="hidden-xs hidden-sm">
        {{ parent() }}
    </div>
    <div class="hidden-md hidden-lg incentivo">
        <img src="{{ asset('dist/images/logo_incentivos.png') }}">
    </div>
{% endblock %}

{% set roleHeadOffice = false %}
{% set user = app.user %}
{% if user %}
{% for role in user.roles if not roleHeadOffice %}
    {% if role == 'ROLE_HEAD_OFFICE'%}
        {% set roleHeadOffice = true %}
    {% endif %}
{% endfor %}
{% else %}
    {% set roleHeadOffice = false %}
{% endif %}

{% block page_content %}

    {{ form(form) }}

{% endblock page_content %}

{% block body_scripts_optional %}
    {{ parent() }}
{% endblock %}

