{% block subject -%}
    {{ 'web_factory_user.email.resetting.confirm.subject'|trans({}, 'web_factory_user') }}
{%- endblock subject %}

{% block body_text %}
    {{ 'web_factory_user.email.resetting.confirm.message'|trans({}, 'web_factory_user') }}

    {{ confirmationUrl }}
{% endblock body_text %}

{% block body_html %}

    <p>{{ 'web_factory_user.email.resetting.confirm.message'|trans({}, 'web_factory_user') }}.</p>

    <p><a href="{{ confirmationUrl }}" class="confirmation_url">{{ confirmationUrl }}</a></p>

{% endblock body_html %}