{% block subject -%}
    {{ 'web_factory_user.email.resetting.success.subject'|trans({}, 'web_factory_user') }}
{%- endblock subject %}

{% block body_text %}
    {{ 'web_factory_user.email.resetting.success.message'|trans({}, 'web_factory_user') }}.
{% endblock body_text %}

{% block body_html %}
    <p class="passwordChanged">{{ 'web_factory_user.email.resetting.success.message'|trans({}, 'web_factory_user') }}.</p>
{% endblock body_html %}