{% extends '::base.html.twig' %}
{% block pagename %}communications{% endblock %}

{% block page_logo %}
    <div class="hidden-xs hidden-sm">
        {{ parent() }}
    </div>
    <div class="hidden-md hidden-lg comunicacion">
        <img src="{{ asset('dist/images/puma/logo-puma.png') }}">
    </div>
{% endblock %}


{% set roleHeadOffice = false %}
{% set user = app.user %}
{% if user %}
    {% for role in user.roles if not roleHeadOffice %}
        {% if role == 'ROLE_HEAD_OFFICE'%}
            {% set roleHeadOffice = true %}
        {% endif %}
    {% endfor %}
{% else %}
    {% set roleHeadOffice = false %}
{% endif %}


{% block page_content %}

    <div class="container">

{#        <div class="row header_image">#}
{#            <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs" style="background-image: url({{ asset('dist/images/puma/header-news.png') }})">#}
{#                <img class="img_backHeader" src="{{ asset('dist/images/puma/header-news.png') }}">#}
{#            </div>#}
{#            <div class="col-xs-12 hidden-sm hidden-md hidden-lg" style="background-image: url({{ asset('dist/images/puma/header-news.png') }})">#}
{#                <img class="img_backHeader" src="{{ asset('dist/images/header-news.png') }}">#}
{#                <h2>Mision, vision y valores</h2>#}
{#            </div>#}
{#        </div>#}
{#        #}
        <div class="row custom-row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mission-row" data-slider-id="1">
                <div class="mission-headline row">
                    <h2 class="medium col-sm-12 col-md-8">MISIÓN | VISIÓN | VALORES</h2>
                    <div class="clearfix "></div>
                </div>

                <div class="mission-content">
                    <div class="row">
                        
                        <div class="item">
                            <div class="col-md-2 text-center img-cont">
                                <img src="{{ asset('dist/images/puma/playero-avatar.png') }}" alt="">
                            </div>
                            <div class="col-sm-12 col-md-10">
                                <h3>MISIÓN</h3>
                                <p>
PumaEnergyTeam, llega para para conectar a todos los que formamos parte de la red de estaciones de servicio Puma Energy y potenciar las capacidades de todo el equipo.
                                </p>
                            </div>
                        </div>

                        <div class="item">
                            <div class="col-md-2 text-center img-cont ">
                                <img src="{{ asset('dist/images/puma/playero-avatar.png') }}" alt="">
                            </div>
                            <div class="col-sm-12 col-md-10">
                                <h3>VISIÓN </h3>
                                <p>
Un equipo dispuesto a hacer hasta lo más difícil, para que nuestros clientes la tengan más fácil.
                                </p>
                                <p>
Porque son ellos los que están delante de todo, nosotros estamos detrás de cada detalle.
                                </p>
                                <p>
Y nuestras estaciones, al servicio de los clientes.
                                </p>
                            </div>
                        </div>

                        <div class="item">
                            <div class="col-md-2 text-center img-cont">
                                <img src="{{ asset('dist/images/puma/playero-avatar.png') }}" alt="">
                            </div>
                            <div class="col-sm-12 col-md-10">
                                <h3>VALORES </h3>
<p>
Cada integrante es fundamental para poder superar los objetivos, crear oportunidades y compartir conocimiento.
</p>
<p>
Somos la comunidad de la red de estaciones Puma Energy.
</p>
<p>
Somos PumaEnergyTeam
</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock page_content %}