{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
        title:'Nuevo plan de carrera'|trans,
        path: {
            index: {uri: path('aper_plancarrera_index')},
        },
    } only %}
{% endblock page_header %}


{% block page_content %}
    {{ form(form) }}

{% endblock %}

{% block head_style %}

{% endblock %}

{% block body_scripts_optional %}
    <script src="{{ asset('bundles/mopabootstrap/js/mopabootstrap-collection.js') }}"></script>

{% endblock %}
