{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
        title:'Listado de Planes de Carrera'|trans,
        path: {
            new: {uri: path('aper_plancarrera_new')},
        },
    } only %}
{% endblock page_header %}


{% block page_content %}
    <div class="table-responsiv5568e">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>Orden</th>
                <th>Imagen</th>
                <th>Título</th>
                <th>Capacitaciones</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for plan in planes %}
                <tr data-id="{{ plan.id }}">
                    <td><span class="label label-info label-lg">{{ plan.position }}</span></td>
                    <td>
                        {% if(plan.image != null) %}
                            <img src="{{ asset(plan.image.webPath) }}" style="width: 50px"/>
                        {% endif %}
                    </td>
                    <td><b>{{ plan.title }}</b></td>
                    <td>
                        {% if plan.modules %}
                            <ul>
                                {% for module in plan.modules %}
                                    <li>
                                        {{ module.title }}

                                        {% if module.presencial == 1 %}
                                            [ PRES. ]
                                        {% endif %}
                                        {% if module.nivelation == 1 %}
                                            [ NIV. ]
                                        {% endif %}
                                        {% if module.required == 1 %}
                                            [ OBL. ]
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            Sin módulos
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <a href="{{ path('aper_plancarrera_show', {id: plan.id }) }}" style="margin-bottom:0.3em;" class="btn btn-sm"
                           onclick="">
                            {{ 'actions.show.label'|trans }}
                        </a>
                        <br />
                        <a href="{{ path('aper_plancarrera_edit', {id: plan.id }) }}" style="margin-bottom:0.3em;"
                           class="btn btn-sm">Editar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <br>

    </div>
{% endblock page_content %}