{% extends 'base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
        title:'Ver Plan de Carrera'|trans,
        path: {
            index: {uri: path('aper_plancarrera_index')},
            edit: {uri: path('aper_plancarrera_edit', {'id': plan.id})}
        },
    } only %}
{% endblock page_header %}

{% block page_content %}
    <table class="table">
        <tbody>
        <tr>
            <th> Titulo</th>
            <td>{{ plan.title }}</td>
        </tr>
        <tr>
            <th> Descripción</th>
            <td>{{ plan.description|raw }}</td>
        </tr>

        <tr>
        <th> Imágen principal</th>
        {% if plan.image %}
            <td><img src="{{ asset(plan.image.webPath) }}" height="200"/></td>
        {% else %}
            <td> N/D</td>
        {% endif %}
        </tr>

        <tr>
            <th> Orden</th>
            <td>{{ plan.position }}</td>
        </tr>

        <tr>
            <th> Requerimientos excluyentes:</th>
            {% if plan.requirements %}
            <td>
                <ul>
                    {% for requirement in plan.requirements %}
                        <li>{{ requirement.description }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </td>
        </tr>

        <tr>
            <th> Módulos:</th>
            {% if plan.modules %}
            <td>
                <ul>
                    {% for module in plan.modules %}
                        <li>
                            {{ module.title }}

                            {% if module.presencial == 1 %}
                                [ PRESENCIAL ]
                            {% endif %}

                            {% if module.nivelation == 1 %}
                                [ NIVELACIÓN ]
                            {% endif %}

                            {% if module.required == 1 %}
                                [ OBLIGATORIO ]
                            {% endif %}

                            {% if module.exam %}
                                <br/>
                                Exámen: <a href="{{ path('aper_plancarrera_exam_show', { id : module.exam.id }) }}">
                                {{ module.exam.name }}
                            </a>
                            {% endif %}

                            {% if module.poll %}
                                <br/>
                                Encuesta:
                                <a href="{{ path('aper_plancarrera_poll_show', { id : module.poll.id }) }}">
                                    VER ENCUESTA
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </td>
        </tr>

        </tbody>
    </table>
{% endblock %}