{% extends 'WebFactoryUserBundle::layout.html.twig' %}
{% block pagename %}profile{% endblock %}
    {% set currentPath = path(app.request.attributes.get('_route'),
        app.request.attributes.get('_route_params')) %}
{% block web_factory_user_content %}
    <style>
        .password{
            position: relative;
        }
        .tool{
            width: 100%;
            margin-left: auto;
            padding: 5px;
            font-size: 12px;
            font-weight: bolder;
            cursor: pointer;
            position: absolute;
            right: 0;
            text-align: right;
        }
        .tool .info {
            visibility: hidden;
            background-color: #555;
            color: #fff;
            text-align: left;
            border-radius: 6px;
            width: 100%;
            left: 0;

            padding: 10px 10px 10px 35px;

            /* Position the tooltip text */
            position: absolute;
            z-index: 9;

            /* Fade in tooltip */
            opacity: 0;
            transition: opacity 0.3s;
        }

        /* Show the tooltip text when you mouse over the tooltip container */
        .tool:hover .info {
            visibility: visible;
            opacity: 1;
        }
        .edit.birthDay .row {
            min-width: 100% !important;
        }
        .edit.birthDay .col-xs-4 {
            /*width: 100% !important;*/
        }
        .edit.birthDay .col-xs-4 .select2 {
            width: 100% !important;
        }

        @media (max-width:  980px) {
            .img-circle {
                height: 100px;
                width: 100px;
            }
        }

        .my-avatar .img-avatar {
            height: 150px;
            width: 150px;
            overflow: hidden;
            border-radius: 50%;
            border: 1px solid red;
            text-align: center;
            margin: 0 auto;
        }
        .my-avatar .img-avatar img {
            height: auto;
            width: auto;
            margin-left: -1px;
            border-radius: 0;
        }

    </style>


    <div class="visible-lg visible-md" style="height: 50px"></div>
    <div class="container">
        <div class="row" style="position: relative">
            <div class="col-md-4 col-sm-12 col-xs-12" style="position: absolute; z-index: 10">
                <div class="inner" style="background-color: #f6f8fa;">

                    <div class="form-head">

                        <div class="my-avatar" style="text-align: center">
                            <div class="img-avatar">
                                {% set currentUser = {
                                    fullname: app.user.employee.profile.name|capitalize ,
                                    avatar: app.user.employee.profile.avatar ? asset(app.user.employee.profile.avatar.webPath) : asset('dist/images/empty-avatar.png')
                                } %}
                                <img src="{{ currentUser.avatar }}"
                                     class="img-circle img-responsive empty-avatar big" style="max-width: 150px;"/>
                             </div>
                            <div class="actionsAvatar" style="color:#d3000b;display: none;margin-top: 30px">
                                <a style="color:#d3000b" href="#" id="changeAvatarON" title="Cambiar avatar">Aceptar</a>
                                &nbsp;&nbsp;&nbsp;
                                <a style="color:#d3000b" id="changeAvatarOFF" href="#" title="">Cancelar</a>
                            </div>
                            <label for="change-avatar" onclick="" style="">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                Cambiar
                                foto de perfil</label>
                            <div class="hide-input" style="">
                                {{ render(controller('UserBundle:Avatar:getAvatarForm')) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_start(form, {attr:{'class':'site_form'}}) }}
            <div class="col-md-4" style="padding-top: 250px">
                <div class="inner" style="background-color: #f6f8fa;">
                    <div class="padd profileFields" style="padding: 0 15px 15px;margin-bottom: 30px">
                        <legend class="header smaller blue">Datos personales</legend>
                        <div class="form-group">
                            <label for="" class="control-label">Nombre y apellido</label>
                            <input type="text" class="form-control text-capitalize" readonly
                                   value="{{ currentUser.fullname }}">
                        </div><!-- /input-group -->
                        <!-- <div class="form-group">
                            <label for="" class="control-label ">Fecha de nacimiento</label>
                            <input type="text" class="form-control" readonly
                                   value="{{ user.employee.profile.birthDay|date('d/m/Y') }}"></div> -->
                        <div class="form-group">
                            <label for="" class="control-label">Fecha de ingreso</label>
                            <input type="text" class="form-control" readonly
                                   value="{{ user.employee.profile.startAt|date('d/m/Y') }}"></div>
                        {#<div class="form-group">#}
                        {#<input type="text" class="form-control" readonly#}
                        {#value="{{ user.employee.profile.personalText|default('Go fot it!') }}">#}
                        {#</div>#}
                        <div class="form-group phoneFields">
                            <div class="form-group">
                                <label for="" class="control-label ">Fecha de nacimiento</label>
                                <input type="text" class="form-control onlyShow" readonly
                                   value="{{ user.employee.profile.birthDay|date('d/m/Y') }}">
                                <div class="edit birthDay">
                                    {{ form_widget(form.employee.profile.birthDay) }}
                                </div>
                            </div>


                            <label for="" class="control-label">Teléfono</label>
                            <div class="onlyShow">
                                {#<div class="input-group">#}
                                <input type="text" class="form-control" readonly
                                       value="{{ user.employee.profile.operator }} | ({{ user.employee.profile.phoneAreaCode }}) {{ user.employee.profile.phoneNumber }}">
                                {#<span class="input-group-btn">#}
                                {#<button class="btn btn-default" type="button">Editar</button>#}
                                {#</span>#}
                                {#</div>#}
                            </div>

                            <div class="form-group onlyShow">
                                <br>
                                <label for="" class="control-label">Email</label>
                                <input type="text" class="form-control" readonly
                                       value="{{ user.employee.profile.employee.user.email }}">
                                       <p>Si querés modificar tu email, envia un correo a la casilla de <a href="mailto:soporteteam@pumaenergyarg.com.ar">soporteteam@pumaenergyarg.com.ar</a></p>
                            </div>



                            <div class="edit">
                                {{ form_widget(form.employee.operator) }}
                            </div>
                            <div class="edit">
                                {{ form_widget(form.employee.phoneAreaCode, {'help_block': 'phone_area_code_help_block'|trans}) }}
                                {{ form_widget(form.employee.phoneNumber, {'help_block': 'phone_number_help_block'|trans}) }}

                            </div>
                            <div class="edit">
                                <p class="help-block"
                                   style="margin-top:1em; width: 100%;flex: 0 1 100%">{{ 'phone_area_code_help_block'|trans }}</p>
                                <p class="help-block"
                                   style="margin-top:1em; width: 100%;flex: 0 1 100%">{{ 'phone_number_help_block'|trans }}</p>
                            </div>

                        </div>
                        <div class="edit" style="display: none !important;">
                            {{ form_row(form.email) }}
                        </div>

                        <div class="edit">
                            <div class="password">

                                <div class="tool">
                                    <svg version="1.1" id="Capa_1" width="17" height="17" fill="#62666994" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 0 330 330" style="enable-background:new 0 0 330 330;" xml:space="preserve">
<g>
    <path d="M165,0C74.019,0,0,74.02,0,165.001C0,255.982,74.019,330,165,330s165-74.018,165-164.999C330,74.02,255.981,0,165,0z
		 M165,300c-74.44,0-135-60.56-135-134.999C30,90.562,90.56,30,165,30s135,60.562,135,135.001C300,239.44,239.439,300,165,300z"/>
    <path d="M164.998,70c-11.026,0-19.996,8.976-19.996,20.009c0,11.023,8.97,19.991,19.996,19.991
		c11.026,0,19.996-8.968,19.996-19.991C184.994,78.976,176.024,70,164.998,70z"/>
    <path d="M165,140c-8.284,0-15,6.716-15,15v90c0,8.284,6.716,15,15,15c8.284,0,15-6.716,15-15v-90C180,146.716,173.284,140,165,140z
		"/>
</g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
</svg>
                                  <ul class="info">
                                    <li>Al menos 10 caracteres</li>
                                    <li>Debe tener mayúsculas y minúsculas</li>
                                    <li>No puede ser ninguna de las últimas 15 contraseñas utilizadas</li>
                                    <li>No puede contener el nombre de usuario</li>
                                  </ul>
                                </div>



                                {{ form_row(form.employee.plainPassword) }}
                            </div>
                            <p class="pw-error"></p>
                            <span class="light">* Dejar en blanco si desea mantener su actual contraseña.</span>
                        </div>
                        <div class="marginbottom-15 margintop-5 text-center">
                            <a href="#" class="btn btn-default sm editFields"
                               type="button">
                                <div class="inner">Editar</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% set logros = user.employee.achievements|length %}
            {% set class = (logros > 0) ? 'col-md-5' : 'col-md-8 personal-data' %}
            <div class="{{ class }}">
                <div class="visible-lg visible-md" style="height:40px"></div>
                <legend class="header smaller blue">Mis Novedades</legend>
                <p>En esta sección, informanos tus Novedades de Nacimientos, Graduación o Casamiento a partir de la fecha.</p>
                <br/>
                <div class="sons">

                    <div id="sons" style="position: relative">
                        <p style="position: absolute;top: 30px">¿Tuviste un hijo recientemente? Cargá esta novedad. </p>
                        {{ form_row(form.employee.sons) }}
                    </div>
                </div>

                <div class="sentimentalStatus">

                    <div id="sentimentalStatus" style="position: relative;">
                        <p style="position: absolute;top: 30px">¿Te casaste recientemente? Cargá esta novedad.</p>
                        {{ form_row(form.employee.sentimentalStatus) }}
                    </div>
                </div>

                <div class="educations">

                    <div id="educations" style="position: relative">
                        <p style="position: absolute;top: 30px">Si te graduaste recientemente, cargá esta novedad.</p>
                        {{ form_row(form.employee.educations) }}
                    </div>
                </div>
            </div>

            {% if (user.employee.achievements|length > 0) %}
                <div class="col-md-3">
                    <div class="visible-lg visible-md" style="height:40px"></div>
                    <legend>Tus Logros <span class="light">en la Compañía</span></legend>
                    {% for achievement in user.employee.achievements %}
                        <div class="boxAchievement">
                            <div class="title medium blue">
                                <div class="ico"><i class="fa fa-trophy" aria-hidden="true"></i></div>
                                {{ achievement.title }}
                            </div>
                            <div class="margintop-5 marginbottom-5">
                                {{ achievement.description }}
                            </div>
                        </div>
                        {#{{ achievement.type }}#}
                        {#{{ achievement.date|date('Y-m-d') }}#}
                    {% else %}
                        <p>No tienes logros</p>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="row" style="margin: 0 !important;">
                <div class="col-xs-12">
                    <div class="text-left">
                        {{ form_row(form.submit,{attr:{class:'btn-primary'}}) }}
                    </div>
                </div>
            </div>
            <div class="hidden">
                {{ form_row(form.employee.profile.avatar) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock web_factory_user_content %}

{% block body_scripts_optional %}
    {{ parent() }}
    <script src="{{ asset('bundles/mopabootstrap/js/mopabootstrap-collection.js') }}"></script>
    <script src="{{ asset('dist/scripts/vendor/pass.js') }}"></script>
    <script>


        var send = false;
        var _oldAvatarImg;
        var _newAvatarImg;
        if (window.FormData) {
            var formdata = new FormData();
        }
        $(function () {
            _oldAvatarImg = $('div.my-avatar img.big').attr('src')
            $("label[for='change-avatar']").click(function () {
                $("#profile_avatar_avatar_file").trigger('click');
            });
            var inputElement = document.getElementById('profile_avatar_avatar_file');
            var handleFileSelect = function (evt) {
                var files = evt.target.files;
                var file = files[0];
                if (files && file) {
                    var reader = new FileReader();
                    reader.onload = function (readerEvt) {
                        var binaryString = readerEvt.target.result;
                        $('.empty-avatar.big').attr('src', 'data:image/png;base64,' + btoa(binaryString));

                        $('[for=change-avatar]').hide();
                        $('.actionsAvatar').show();
                        _newAvatarImg = 'data:image/png;base64,' + btoa(binaryString);
                    };
                    reader.readAsBinaryString(file);
                    if (formdata) {
                        formdata.append("profile_avatar[avatar][file]", file);
                    }
                }
            };
            if (window.File && window.FileReader && window.FileList && window.Blob) {
                inputElement.addEventListener('change', handleFileSelect, false);
            } else {
                alert('No podemos actualizar su imagen por que su navegador no soporta esta funcion.');
            }
            $('.inner .padd input').css('padding-left', 0);
            $('.inner .padd input').on('focus', function () {
                $(this).blur();
            });
            $('.editFields').on('click', function (e) {
                e.preventDefault();
                $(this).hide();
                $('.profileFields .edit input, .profileFields .edit select').unbind('focus');
                $('.profileFields .edit').addClass('show');
                $('.onlyShow').hide();
            })


            $('#changeAvatarON').on('click', function (e) {
                e.preventDefault();
                // todo ajax call to update avatar image
                sendAjaxAvatar(_newAvatarImg);
                $('img[src="' + _oldAvatarImg + '"]').attr(_newAvatarImg);
                _oldAvatarImg = _newAvatarImg;
            })

            $('#changeAvatarOFF').on('click', function (e) {
                e.preventDefault();
                $('[for=change-avatar]').show();
                $('.actionsAvatar').hide();
                $('.hide-input input').val('')
                $('div.my-avatar img.big').attr('src', _oldAvatarImg);
            })


            $('#user_employee_sentimentalStatus_date').clearSearch({})


            $('.js-datepicker').datetimepicker({format: 'DD/MM/YYYY', locale: 'es'});

            $('select').select2({minimumResultsForSearch: -1})
        })

        function sendAjaxAvatar(imgSrc) {
            if (!send) {
                var avatarForm = $('form[name=profile_avatar]')
                avatarForm.parent().show()
                // if (formdata) {
                //     formdata.append("profile_avatar[_token]", $('#profile_avatar__token').val());
                // }
                console.log(formdata)

                if (formdata) {
                    $.ajax({
                        url: avatarForm.attr('action'),
                        type: "POST",
                        data: formdata,
                        processData: false,
                        contentType: false,
                        success: function (res) {
                            console.log(res);
                        }
                    });
                }

                send = true;
                $('img[src="' + _oldAvatarImg + '"]').attr('src', imgSrc);
                _oldAvatarImg = imgSrc;

                $('[for=change-avatar]').show();
                $('.actionsAvatar').hide();
                $('.hide-input input').val('');
            }
        }
    </script>
{% endblock %}