{% extends 'WebFactoryUserBundle::layout.html.twig' %}

{% block web_factory_user_content %}
    <h2>Profile</h2>

    <table>
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
        </tr>
    </table>

{% endblock web_factory_user_content %}
