{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Estado planes de carrera por usuarios'|trans,
    path: {
    new: {uri: path('aper_plancarrera_assign_new')},
    },
    } only %}
{% endblock page_header %}


{% block page_content %}
    <div class="table-responsiv5568e">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>Empleado</th>
                <th>Sala</th>
                <th>Plan de Carrera</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for careerPlan in pagination %}
                <tr data-id="{{ careerPlan.user.id }}">
                    <td>{{ careerPlan.user.profile.name }}</td>
                    <td>{{ careerPlan.user.store.code }}</td>
                    <td>
                        {{ careerPlan.plan.title }}
                    </td>
                    <td>
                        <a href="{{ path('aper_plancarrera_assign_modules_new', {id: careerPlan.id }) }}" class="btn"
                           onclick="">
                            {{ 'actions.show.label'|trans }}
                        </a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <br />
        {{ grid_pagination(pagination) }}

    </div>
{% endblock page_content %}