{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Asignar plan de carrera a usuario'|trans,
    path: {
    index: {uri: path('aper_plancarrera_assign_index')},
    },
    } only %}
{% endblock page_header %}


{% block page_content %}
    <div class="col-md-8 col-md-offset-2">
    {{ form(form) }}
    </div>
{% endblock %}

{% block head_style %}

{% endblock %}

{% block body_scripts_optional %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="{{ asset('bundles/mopabootstrap/js/mopabootstrap-collection.js') }}"></script>
    <script type="text/javascript">
        $('#aper_plancarrerabundle_employeecareerplan_user').select2({
            placeholder: 'Seleccione un empleado'
        });
    </script>
{% endblock %}
