{% extends '::base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Gestión de plan de carrera de usuario'|trans,
    path: {
    index: {uri: path('aper_plancarrera_assign_index')},
    },
    } only %}
{% endblock page_header %}


{% block page_content %}
    <h4>Empleado: {{ employee.profile.name }} [ DNI: {{ employee.profile.dni }} ]</h4>
    <h4>Plan: {{ careerPlan.plan.title }}</h4>

    <br />
    {% if careerPlanApproved %}
        <div class="alert alert-info">
            <h3>El empleado cumple con los requisitos y módulos aprobados requeridos para poder aprobar el plan de carrera.</h3>
            <a href=""
               class="btn btn-sm btn-info"
               onclick="return confirm('{{ 'Seguro desea marcar como aprobado el plan de carrera?' }}')">
                APROBAR PLAN DE CARRERA
            </a>
        </div>
        <br />
    {% endif %}
    <h4>Requerimientos del plan</h4>
    {% if careerPlan.plan.requirements %}
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <th>Requerimiento</th>
                <th>Estado</th>
                <th>Cumplido</th>
                <th>Acciones</th>
                </thead>
                <tbody>
                {% for req in careerPlan.plan.requirements %}
                    <tr data-id="{{ req.id }}">
                        <td>

                            <a href="{{ path('aper_plancarrera_req_show',{
                                id : req.id
                            })}}" target="_blank">
                                <b>{{ req.description }}</b>
                            </a>
                        </td>
                        <td>
                            {% if req.status %}
                                <span class="label label-success label-lg">REQUERIDO</span>
                            {% else %}
                                <span class="label label-danger label-lg">DESACTIVADO</span>
                            {% endif %}
                        </td>
                        <td>
                            {% set done = false %}
                            {% set requirementID = false %}
                            {% for doneReq in careerPlan.requirements %}
                                {% if doneReq.requirement.id == req.id %}
                                    {% set done = true %}
                                {% endif %}
                            {% endfor %}

                            {% if done %}
                                <span class="label label-success label-lg">SI</span>
                            {% else %}
                                <span class="label label-danger label-lg">NO</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if done %}
                            <a href="{{ path('aper_plancarrera_remove_assigned_requirement', {
                                id: req.id ,
                                career : careerPlan.id

                            }) }}"
                               class="btn btn btn-danger btn-delete"
                               onclick="return confirm('{{ 'Desea eliminar el requerimiento duro realizado por el usuario?' }}')">
                                ELIMINAR REQ. CUMP.
                            </a>
                            {% else %}
                                <a href="{{ path('aper_plancarrera_new_dir_employee_req', {
                                    reqID: req.id,
                                    careerPlanID : careerPlan.id
                                    })
                                }}" class="btn btn btn-danger btn-delete">
                                    AGREGAR REQUERIMIENTO
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    <br />
    {% set done = false %}
    {% set employeeModuleId = false %}
    {% set isEnabled = false %}
    {% set enabledModules = careerPlan.getArrEnabledModules %}
    {% set approvedModules = careerPlan.getArrApprovedModules %}

    {% set enabledModuleId = null %}

    <h4>Módulos obligatorios</h4>
    {% if careerPlan.plan.modules %}
        <div class="table-responsiv5568e">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <th>Módulo</th>
                    <th>Habilitado</th>
                    <th>Aprobado</th>
                    <th>Acciones</th>
                </thead>
                <tbody>
                {% for module in careerPlan.plan.modules %}
                {% set isEnabled = (module.id in enabledModules) %}
                {% set isApproved = (module.id in approvedModules) %}

                {% if module.required == true and module.nivelation == false %}
                    <tr data-id="{{ module.id }}">
                        <td>
                            <a href="{{ path('aper_plancarrera_modules_show',{
                                id : module.id
                            })}}" target="_blank">
                                <b>{{ module.title }}</b>
                            </a>
                        </td>
                        <td>
                            {% if isEnabled %}
                                <span class="label label-success label-lg">SI</span>
                            {% else %}
                                <span class="label label-danger label-lg">NO</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if isApproved %}
                                <span class="label label-success label-lg">SI</span>
                            {% else %}
                                <span class="label label-danger label-lg">NO</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if isEnabled == false %}
                                <a href="{{ path('aper_plancarrera_enable_module_employee',{
                                    employeeCareerPlan : careerPlan.id,
                                    module : module.id
                                })}}"
                                   onclick="return confirm('{{ 'Esta seguro que desea habilitar el módulo para el usuario?' }}')"
                                   class="btn btn btn-danger btn-delete">
                                    HABILITAR
                                </a>
                            {% elseif isApproved == false %}
                                <a href="{{ path('aper_plancarrera_disable_module_employee',{
                                    employeeCareerPlan : careerPlan.id,
                                    id : module.id
                                })}}"
                                   class="btn btn btn-danger btn-delete">
                                    DESHABILITAR
                                </a>
                                <a href="{{ path('aper_plancarrera_new_approved_module',{
                                    moduleID : module.id,
                                    careerPlanID : careerPlan.id
                                })}}"
                                   class="btn btn btn-danger btn-delete"
                                   onclick="return confirm('{{ 'Seguro desea aprobar el módulo para este usuario?' }}')">
                                    APROBAR
                                </a>
                            {% endif %}
                            {% if isApproved %}
                            <a href="{{ path('aper_plancarrera_remove_assigned_module',{
                                module:module.id,
                                careerPlan : careerPlan.id
                            })}}"
                               class="btn btn btn-danger btn-delete"
                               onclick="return confirm('{{ 'Desea quitar el módulo realizado por el usuario?' }}')">
                                DESAPROBAR
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    <br />

    <h4>Módulos opcionales</h4>
    {% set cantOpcionales = 0 %}
    {% if careerPlan.plan.modules %}
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <th>Módulo</th>
                    <th>Habilitado</th>
                    <th>Aprobado</th>
                    <th>Acciones</th>
                </thead>
                <tbody>
                {% for module in careerPlan.plan.modules %}
                    {% set isEnabled = (module.id in enabledModules) %}
                    {% set isApproved = (module.id in approvedModules) %}

                    {% if module.required == false %}
                    <tr data-id="{{ module.id }}">
                        <td>
                            <a href="{{ path('aper_plancarrera_modules_show',{
                                id : module.id
                            })}}" target="_blank">
                                <b>{{ module.title }}</b>
                            </a>
                        </td>
                        <td>
                            {% if isEnabled %}
                                <span class="label label-success label-lg">SI</span>
                            {% else %}
                                <span class="label label-danger label-lg">NO</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if isApproved %}
                                <span class="label label-success label-lg">SI</span>
                            {% else %}
                                <span class="label label-danger label-lg">NO</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if isEnabled == false %}
                            <a href="{{ path('aper_plancarrera_enable_module_employee',{
                                employeeCareerPlan : careerPlan.id,
                                module : module.id
                            })}}"
                               onclick="return confirm('{{ 'Esta seguro que desea habilitar el módulo para el usuario?' }}')"
                               class="btn btn btn-danger btn-delete">
                                HABILITAR
                            </a>
                            {% elseif isApproved == false %}
                                <a href="{{ path('aper_plancarrera_disable_module_employee',{
                                    employeeCareerPlan : careerPlan.id,
                                    id : module.id
                                })}}"
                                   class="btn btn btn-danger btn-delete">
                                    DESHABILITAR
                                </a>
                                <a href="{{ path('aper_plancarrera_new_approved_module',{
                                    moduleID : module.id,
                                    careerPlanID : careerPlan.id
                                })}}"
                                   class="btn btn btn-danger btn-delete"
                                   onclick="return confirm('{{ 'Seguro desea aprobar el módulo para este usuario?' }}')">
                                    APROBAR
                                </a>
                            {% endif %}
                            {% if isApproved %}
                                <a href="{{ path('aper_plancarrera_remove_assigned_module',{
                                    module:module.id,
                                    careerPlan : careerPlan.id
                                })}}"
                                   class="btn btn btn-danger btn-delete"
                                   onclick="return confirm('{{ 'Desea eliminar la aprobación de el módulo para el usuario?' }}')">
                                    DESAPROBAR
                                </a>
                            {% endif %}
                        </td>
                    </tr>

                    {% set cantOpcionales = cantOpcionales + 1 %}
                    {% endif %}
                {% endfor %}

                {% if cantOpcionales == 0 %}
                    <tr>
                        <td colspan="4">
                            El plan de carrera no tiene módulos opcionales
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    {% endif %}

    <h4>Módulos de nivelación</h4>
    {% set cantOpcionales = 0 %}
    {% if careerPlan.plan.modules %}
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <th>Módulo</th>
                    <th>Habilitado</th>
                    <th>Aprobado</th>
                    <th>Acciones</th>
                </thead>
                <tbody>
                {% for module in careerPlan.plan.modules %}
                    {% set isEnabled = (module.id in enabledModules) %}
                    {% set isApproved = (module.id in approvedModules) %}

                    {% if module.nivelation == true %}
                        <tr data-id="{{ module.id }}">
                            <td>
                                <a href="{{ path('aper_plancarrera_modules_show',{
                                    id : module.id
                                })}}" target="_blank">
                                    <b>{{ module.title }}</b>
                                </a>
                            </td>
                            <td>
                                {% if isEnabled %}
                                    <span class="label label-success label-lg">SI</span>
                                {% else %}
                                    <span class="label label-danger label-lg">NO</span>
                                {% endif %}
                            <td>
                                {% if isApproved %}
                                    <span class="label label-success label-lg">SI</span>
                                {% else %}
                                    <span class="label label-danger label-lg">NO</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if isEnabled == false %}
                                    <a href="{{ path('aper_plancarrera_enable_module_employee',{
                                        employeeCareerPlan : careerPlan.id,
                                        module : module.id
                                    })}}"
                                       onclick="return confirm('{{ 'Esta seguro que desea habilitar el módulo para el usuario?' }}')"
                                       class="btn btn btn-danger btn-delete">
                                        HABILITAR
                                    </a>

                                {% elseif isApproved == false %}
                                    <a href="{{ path('aper_plancarrera_disable_module_employee',{
                                        employeeCareerPlan : careerPlan.id,
                                        id : module.id
                                    })}}"
                                       class="btn btn btn-danger btn-delete">
                                        DESHABILITAR
                                    </a>
                                    <a href="{{ path('aper_plancarrera_new_approved_module',{
                                        moduleID : module.id,
                                        careerPlanID : careerPlan.id
                                    })}}"
                                       class="btn btn btn-danger btn-delete"
                                       onclick="return confirm('{{ 'Seguro desea aprobar el módulo para este usuario?' }}')">
                                        APROBAR
                                    </a>
                                {% endif %}
                                {% if isApproved %}
                                    <a href="{{ path('aper_plancarrera_remove_assigned_module',{
                                        module:module.id,
                                        careerPlan : careerPlan.id
                                    })}}"
                                       class="btn btn btn-danger btn-delete"
                                       onclick="return confirm('{{ 'Desea eliminar la aprobación de el módulo para el usuario?' }}')">
                                        DESAPROBAR
                                    </a>
                                {% endif %}
                            </td>
                        </tr>

                        {% set cantOpcionales = cantOpcionales + 1 %}
                    {% endif %}
                {% endfor %}

                {% if cantOpcionales == 0 %}
                    <tr>
                        <td colspan="4">
                            El plan de carrera no tiene módulos opcionales
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}

{% block head_style %}

{% endblock %}

{% block body_scripts_optional %}
    <script src="{{ asset('bundles/mopabootstrap/js/mopabootstrap-collection.js') }}"></script>
{% endblock %}
