{% extends 'base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'Info y estructura para front segun diseños'|trans,
    path: {
    },

    } only %}
{% endblock page_header %}


{% block page_content %}
    <div class="col-md-12">
        <div class="text-center">
            <img src="/{{ dir }}/{{ careerPlan.plan.image.filePath }}" class="img-circle" style="width: 180px"/>

            <h3>{{ careerPlan.plan.title }}</h3>

            <div class="timeline">
                <h4>Requisitos Excluyentes</h4>
                <ul class="list-unstyled">

                    {% for requirement in careerPlan.plan.getEnabledRequirements %}
                    <li>
                        {% if requirement.id in approvedRequirements %}
                        <i class="fa fa-check"></i>
                        {% else %}
                        <i class="fa fa-times"></i>
                        {% endif %}

                        {{ requirement.description }}
                    </li>
                    {% endfor %}
                </ul>

                <h4>Capacitación y entrenamiento en puesto</h4>

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                {% for module in careerPlan.plan.modules %}
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingModule{{ module.id }}">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseModule{{ module.id }}" aria-expanded="false" aria-controls="collapseModule{{ module.id }}">
                                        {{ module.title }}
                                    </a>
                                </h4>
                                <p>
                                    {{ module.description }}
                                </p>
                            </div>
                            <div id="collapseModule{{ module.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingModule{{ module.id }}">
                                <div class="panel-body">
                                    {{ module.text }}
                                </div>
                            </div>
                        </div>

                {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block body_scripts_optional %}
<script>
    $('.collapse').collapse()
</script>
{% endblock %}