{% set progress = totalPoints ? (completedPoints * 100) / totalPoints : 0 %}

<div class="progressBar">
    <div class="points text-right">
    	<span data-point="{{ completedPoints }}">0</span>/{{ totalPoints }} Ptos
    </div>
    <div class="mask" style="background:#db0000" data-width="100"></div>
    <span></span>
</div>