{% extends 'WebFactoryUserBundle::layout.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'page_header.user.profile.edit.title'|trans,
    path: {
    show: {uri: path('backend_web_factory_user_profile_show')},
    edit: {uri: path('backend_web_factory_user_account_edit'), text:'menu.change_password'|trans},
    },
    } only %}
{% endblock page_header %}

{% block web_factory_user_content %}
    {{ form(form) }}
{% endblock web_factory_user_content %}

{% block body_scripts_optional %}
    <script src="{{ asset('bundles/mopabootstrap/js/mopabootstrap-collection.js') }}"></script>
{% endblock %}
