{% extends 'WebFactoryUserBundle::layout.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'page_header.user.profile.title'|trans,
    path: {
    show: {uri:path('backend_web_factory_user_profile_edit'), text:'page_header.user.profile.edit.title'|trans},
    edit: {uri: path('backend_web_factory_user_account_edit'), text:'menu.change_password'|trans},
    },
    } only %}
{% endblock page_header %}

{% block web_factory_user_content %}
    <h2>{{ 'Profile'|trans }}</h2>

    <table class="table">
        <tr>
            <td>Name</td>
            <td> <b>{{ user.employee.profile.name }}</b></td>
        </tr>
        <tr>
            <td>User</td>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <td>Category</td>
            <td>{{ user.employee.category }}</td>
        </tr>
        <tr>
            <td>Store</td>
            <td>{{ user.employee.store.location | default('')}}</td>
        </tr>

        <tr>
            <td>Startat</td>
            <td>{{ user.employee ? user.employee.profile.startat |date('d/m/Y')}}</td>
        </tr>

        <tr>
            <td>Birthday</td>
            <td>{{ user.employee ? user.employee.profile.birthday |date('d/m/Y')}}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{% if user.enabled == 1 %}
                    <b> <span class="text-success">Activo</span></b>
                {% elseif user.enabled == 0 %}
                    <b> <span class="text-danger">Inactivo</span> </b>
                {% endif %}</td>
            <td>
        </tr>




    </table>
{% endblock web_factory_user_content %}