{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block body_class %}edit {% endblock %}

{% block page_title %}Examen del Curso &laquo;{{ module.title }}&raquo;{% endblock %}

{% block content_header %}
    <div class="row">
        <div class="col-sm-7">
            {% block content_title_wrapper %}
                <h1 class="title">Examen del Curso &laquo;{{ module.title }}&raquo;</h1>
            {% endblock %}
        </div>

        <div class="col-sm-5">
            <div class="global-actions">
                {% block global_actions %}
                    <div class="pull-right">
                        <a class="btn btn-primary action-edit" href="{{ path('easyadmin', {action:'edit', id:exam.id, entity:'ModuleExam'}) }}"><i class="fa fa-edit"></i> Modificar</a>
                        <a class="btn btn action-new" href="{{ path('easyadmin', {action:'new', entity:'ModuleExamQuestion', examId:exam.id}) }}"><i class="fa fa-plus"></i> Agregar Pregunta</a>
                        <a class="btn btn-secondary action-list lightbox-FileImporter" href="#">Importar Archivo</a>
                    </div>
                    {% block search_action %}

                    {% endblock search_action %}

                {% endblock global_actions %}
            </div>
        </div>
    </div>
{% endblock content_header %}

{% block main %}
    <div class="content">
        <div class="row">
            <div class="field-group col-md-8 ">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Detalle</h3>
                    </div>
                    <div class="box-body">
                        <div class="col-md-6">
                            <p>
                                <div class="col-md-6">
                                    Curso:
                                </div>
                                <div class="col-md-6">
                                    <b>{{ module.title }}</b>
                                </div>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <div class="col-md-6">
                                    Cant. de Preguntas:
                                </div>
                                <div class="col-md-6">
                                    <b>{{ exam.enabledQuestionsCount }}</b>
                                </div>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <div class="col-md-6">
                                    Cant. de Preguntas Test:
                                </div>
                                <div class="col-md-6">
                                    <b>{{ exam.maxQuestionCount }}</b>
                                </div>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <div class="col-md-6">
                                    Correctas para Aprobar:
                                </div>
                                <div class="col-md-6">
                                    <b>{{ exam.correctAnswersToApprove }}</b>
                                </div>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                            <div class="col-md-6">
                                Tiempo máximo (segundos):
                            </div>
                            <div class="col-md-6">
                                <b>{{ exam.limitTimeInSeconds }}</b>
                            </div>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <div class="col-md-6">
                                    Tests Realizados:
                                </div>
                                <div class="col-md-6">
                                    <b>{{ evaluated }}</b>
                                </div>
                            </p>
                        </div>

                        <div class="col-md-6">
                            <p>
                                <div class="col-md-6">
                                    Aprobados / Reprobados:
                                </div>
                                <div class="col-md-6">
                                    <b>{{ approved }} / {{ reproved }}</b>
                                </div>
                            </p>
                        </div>

                        <br>&nbsp;
                    </div>
                </div>
            </div>
            <div class="field-group col-md-4">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Exportar Evaluaciones</h3>
                    </div>
                    <div class="box-body">
                        {{ form(export_data_form) }}
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="ro-w field-group">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Preguntas</h3>
                </div>
                <div id="list-list" class="box-body">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <input type="text" class="search form-control" placeholder="buscar" />
                    </div>
                    <br>
                    {% if exam.questions|length %}
                        <ul class="list">
                            {% for question in exam.questions %}
                                <li>
                                    <div class="box {{ question.enabled ? 'box-primary' : 'box-default' }} box-solid question">
                                        <div class="box-header">
                                            <h3 class="box-title">{{ question.indexOf }}) - {{ question.text }}{{ question.enabled ? '' : ' (Deshabilitada)' }}</h3>
                                            <div class="pull-right" ><a class="btn btn-tiny btn-default" title="Editar Pregunta" href="{{ path('easyadmin', {action:'edit', id:question.id, entity:'ModuleExamQuestion'}) }}"><i class="fa fa-edit text-white"></i></a></div>
                                        </div>
                                        <div class="box-body">
                                            {% if question.type == 'MULTCHOICE' %}
                                                {% if question.file %}
                                                    <div class="row">
                                                        {% if question.file.extension %}
                                                            <div class="col-sm-1">
                                                                Imagen:
                                                            </div>
                                                            <div class="col-sm-11">
                                                                <a title="{{ question.text }}" href="#"><img  style="max-width: 200px;" class="img-thumbnail lightbox img-responsive" src="/{{ question.file.webPath }}"></a>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                    <br>
                                                {% endif %}
                                                <div class="row">
                                                    <div class="col-sm-1">
                                                        Opciones:
                                                    </div>
                                                    <div class="col-sm-9">
                                                        {% for answer in question.answers %}
                                                            <p class="answer">
                                                                <i class="fa fa-{{ answer.correct ? 'check-' : '' }}square-o"></i>&nbsp;<b>{{ answer.text }}</b>
                                                            </p>
                                                        {% endfor %}
                                                    </div>
                                                    {#<div class="col-sm-2" style="bottom: 0px;">#}
                                                    {#<div class="pull-right" ><a class="btn btn-primary" title="Editar Pregunta" href="{{ path('easyadmin', {action:'edit', id:question.id, entity:'ModuleExamQuestion'}) }}"><i class="fa fa-edit"></i> Editar</a></div>#}
                                                    {#</div>#}
                                                </div>
                                            {% else %}
                                                {% if question.file %}
                                                    <div class="row">
                                                        {% if question.file.extension %}
                                                            <div class="col-sm-1">
                                                                Imagen:
                                                            </div>
                                                            <div class="col-sm-11">
                                                                <img src="/{{ question.file.getFilePath }}" class="img-thumbnail" style="max-width: 200px;">
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                    <br>
                                                {% endif %}
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <textarea cols="40" rows="4" style="width: 100%" disabled readonly placeholder="--texto libre--"></textarea>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <ul class="pagination pull-right"></ul>
                    {% else %}
                        <div class="empty collection-empty">
                            <span class="label label-empty">{{ 'label.empty'|trans(domain = 'EasyAdminBundle') }}</span>
                        </div>
                        <br>
                        <div>
                            <a class="btn btn-primary action-new" href="{{ path('easyadmin', {action:'new', entity:'ModuleExamQuestion', examId:exam.id}) }}"><i class="fa fa-plus"></i> Agregar</a>
                        </div>

                        <br>
                        <br>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 form-actions">
                <div class="form-group">
                    <div id="form-actions-row">
                        <a class="btn btn-primary action-edit" href="{{ path('easyadmin', {action:'edit', id:exam.id, entity:'ModuleExam'}) }}"><i class="fa fa-edit"></i> Modificar</a>
                        <a class="btn btn action-new" href="{{ path('easyadmin', {action:'new', entity:'ModuleExamQuestion', examId:exam.id}) }}"><i class="fa fa-plus"></i> Agregar Pregunta</a>
                        <a class="btn btn-secondary action-list lightbox-FileImporter" href="#">Importar Archivo</a>
                        <a class="btn btn-secondary action-list" href="{{ path('easyadmin', {action:'list', entity:'ModuleExam'}) }}">Volver al listado</a>
                    </div>
                </div>
            </div>
            {#<div class="col-xs-12 form-actions sticky-wrapper" style="height: 0px;"></div>#}
        </div>
    </div>

    <div tabindex="-1" class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">×</button>
                    <h3 class="modal-title">Heading</h3>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="form-importFile" style="display: none">{{ form(import_file) }}</div>
{#    <form id="form-importFile" style="display: block;"><input type="text"></form>#}
    <script>
        $('.form-actions').easyAdminSticky();
        $(document).ready(function() {
            $('.lightbox').click(function(){
                $('.modal-body').empty();
                var title = $(this).parent('a').attr("title");
                $('.modal-title').html(title);
                let img = $(this);//.clone();
                $(img.parents('div').html()).appendTo('.modal-body');
                let i = $('.modal-body').find('img');
                i.attr('style', 'max-width:100%');
                $('#myModal').find('.modal-footer').show();
                $('#myModal').modal({show:true});
                return false;
            });

            $('.lightbox-FileImporter').click(function(){
                $('.modal-body').empty();
                var title = 'Importar Preguntas Examen';
                $('.modal-title').html(title);
                let img = $(this);//.clone();

                let form = $('#form-importFile');
                form.attr('display', 'block');
                $(form.html()).appendTo('.modal-body');
                $('#myModal').find('.modal-footer').hide();
                $('#myModal').modal({show:true});
                return false;
            });
        });
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <script>
        var monkeyList = new List('list-list', {
            valueNames: ['question','answer'],
            page: 5,
            pagination: true
        });
    </script>
{% endblock %}

{% block head_stylesheets %}
    {{ parent() }}
    <style>
        ul.list {
            list-style-type: none;
            margin-left: 0em;
        }
    </style>
{% endblock %}
