{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block body_class %}show {% endblock %}

{% block page_title %}Detalle del Examen del Empleado &laquo;{{ employee.profile.name }}&raquo;{% endblock %}

{% block content_header %}
    <div class="row">
        <div class="col-sm-7">
            {% block content_title_wrapper %}
                <h1 class="title">Detalle del Examen del Empleado &laquo;{{ employee.profile.name }}&raquo;</h1>
            {% endblock %}
        </div>

        <div class="col-sm-5">
            <div class="global-actions">
                {% block global_actions %}
                    <div class="pull-right">
                    </div>
                    {% block search_action %}

                    {% endblock search_action %}

                {% endblock global_actions %}
            </div>
        </div>
    </div>
{% endblock content_header %}

{% block main %}
    <div class="content">
        {% if test.isPresencialExam %}
            <div class="h4 text-white p-3 bg-warning">Este Examen se tomó <b>&laquo;Presencial&raquo;</b> en un Taller, el detalle no se encuentran disponible para su visualización.</div>
            <br>
        {% endif %}
        <div class="row">
            <div class="field-group col-md-6">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Detalle</h3>
                    </div>
                    <div class="box-body">
                        <p>
                            <div class="row">
                                <div class="col-md-4">
                                    Plan:
                                </div>
                                <div class="col-md-8">
                                    <b><a class="" href="{{ path('easyadmin', {action:'show', id: plan.id, entity:'CareerPlan'}) }}">{{ plan.title }}</a></b>
                                </div>
                            </div>
                        </p>
                        <p>
                            <div class="row">
                                <div class="col-md-4">
                                    {{ module.type == 'module' ? 'Capacitación' : 'Taller' }}:
                                </div>
                                <div class="col-md-8">
                                    <b><a class="" href="{{ path('easyadmin', {action:'show', id: module.id, entity:'Module'}) }}">{{ module.title }}</a></b>
                                </div>
                            </div>
                        </p>
                        <p>
                            <div class="row">
                                <div class="col-md-4">
                                    Nombre:
                                </div>
                                <div class="col-md-8">
                                    <b>{{ exam.name }}</b>
                                </div>
                            </div>
                        </p>
                        {% if not test.isPresencialExam %}
                            <p>
                            <div class="row">
                                <div class="col-md-4">
                                    Cant. de Preguntas:
                                </div>
                                <div class="col-md-8">
                                    <b>{{ exam.maxQuestionCount }}</b>
                                </div>
                            </div>
                            </p>
                            <p>
                            <div class="row">
                                <div class="col-md-4">
                                    Correctas para Aprobar:
                                </div>
                                <div class="col-md-8">
                                    <b>{{ exam.correctAnswersToApprove }}</b>
                                </div>
                            </div>
                            </p>
                            <p>
                            <div class="row">
                                <div class="col-md-4">
                                    Tiempo máximo (segundos):
                                </div>
                                <div class="col-md-8">
                                    <b>{{ exam.limitTimeInSeconds }}</b>
                                </div>
                            </div>
                            </p>
                            <p>
                            <div class="row">
                                <div class="col-md-4">
                                    Días para reintento:
                                </div>
                                <div class="col-md-8">
                                    <b>{{ exam.daysForRetry }}</b>
                                </div>
                            </div>
                            </p>
                            <p>
                            <div class="row">
                                <div class="col-md-4">
                                    Cantidad de intentos:
                                </div>
                                <div class="col-md-8">
                                    <b>{{ exam.maxAttempts }}</b>
                                </div>
                            </div>
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="field-group col-md-6">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Evaluación empleado</h3>
                    </div>
                    <div class="box-body">
                        <p>
                            <div class="row">
                                <div class="col-md-3">Empleado: </div><div class="col-sm-9"><b>{{ employee.profile.name }}</b></div>
                            </div>
                        </p>
                        <p>
                            <div class="row">
                                <div class="col-md-3">Tipo: </div><div class="col-sm-9"><b>{{ test.isPresencialExam ? 'Presencial' : 'On-Line' }}</b></div>
                            </div>
                        </p>
                        <p>
                            <div class="row">
                                <div class="col-md-3">Iniciado: </div><div class="col-md-9"><b>{{ test.startsAt|date('d/m/Y H:i:s') }}</b></div>
                            </div>
                        </p>
                        <p>
                            <div class="row">
                                <div class="col-md-3">Finalizado: </div><div class="col-md-9"><b>{{ test.finishedAt is null ? '-No ha finalizado aún-' : test.finishedAt|date('d/m/Y H:i:s') }}</b></div>
                            </div>
                        </p>
                        {% if not test.isPresencialExam %}
                            <p>
                            <div class="row">
                                <div class="col-md-3">Correctas: </div><div class="col-md-9"><b>{{ test.corrects|length }}/{{ test.answers|length }}</b></div>
                            </div>
                            </p>
                        {% endif %}
                        <p>
                            <div class="row">
                                <div class="col-md-3">Resultado: </div><div class="col-md-9"><b>{{ test.approved is null ? 'No corregido' : ( test.approved ? 'Aprobado!' : 'Reprobado') }}</b></div>
                            </div>
                        </p>
                        {% if not test.isPresencialExam %}
                            {% if ((test.approved is not null) and (test.approved == false)) %}
                                <p>
                                <div class="row">
                                    <div class="col-md-3">Próxima posibilidad: </div><div class="col-md-9"><b>{{ test.nextChanceDatetime|date('d/m/Y H:i:s') }}</b></div>
                                </div>
                                </p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <br>
        {% if not test.isPresencialExam %}
            <div class="ro-w field-group">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Preguntas</h3>
                    </div>
                    <div class="box-body">
                        {% if test.answers|length %}
                            {% set t = 1 %}
                            {% for question in test.answers %}
                                <div class="box box-primary box-solid">
                                    <div class="box-header">
                                        <h3 class="box-title">{{ t }}) - {{ question.question.text }}</h3>
                                    </div>
                                    <div class="box-body">
                                        {% if question.question.type == 'MULTCHOICE' %}
                                            {% if question.question.file %}
                                                <div class="row">
                                                    {% if question.question.file.extension %}
                                                        <div class="col-sm-1">
                                                            Imagen:
                                                        </div>
                                                        <div class="col-sm-11">
                                                            <a title="{{ question.question.text }}" href="#"><img  style="max-width: 200px;" class="img-thumbnail lightbox img-responsive" src="/{{ question.question.file.webPath }}"></a>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                <br>
                                            {% endif %}
                                            <div class="row">
                                                <div class="col-sm-1">
                                                    Opciones:
                                                </div>
                                                <div class="col-sm-11">
                                                    {% for answer in question.question.answers %}
                                                        <p>
                                                            <i class="fa fa-{{ answer.id == question.answer.id ? 'check-' : '' }}square-o {{ answer.correct ? 'text-success' : 'text-danger' }}"></i>&nbsp;<b>{{ answer.text }}</b>
                                                        </p>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% else %}
                                            {% if question.question.file %}
                                                <div class="row">
                                                    {% if question.question.file.extension %}
                                                        <div class="col-sm-1">
                                                            Imagen:
                                                        </div>
                                                        <div class="col-sm-11">
                                                            <img src="/{{ question.question.file.getFilePath }}" class="img-thumbnail" style="max-width: 200px;">
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                <br>
                                            {% endif %}
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <textarea cols="40" rows="4" style="width: 100%" disabled readonly placeholder="--texto libre--">{{ question.answer.text }}</textarea>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                {% set t = t+1 %}
                            {% endfor %}
                        {% else %}
                            <div class="empty collection-empty">
                                <span class="label label-empty">{{ 'label.empty'|trans(domain = 'EasyAdminBundle') }}</span>
                            </div>
                            <br>
                            <br>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <div tabindex="-1" class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">×</button>
                    <h3 class="modal-title">Heading</h3>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('.lightbox').click(function(){
                $('.modal-body').empty();
                var title = $(this).parent('a').attr("title");
                $('.modal-title').html(title);
                let img = $(this);
                $(img.parents('div').html()).appendTo('.modal-body');
                let i = $('.modal-body').find('img');
                i.attr('style', 'max-width:100%');
                $('#myModal').modal({show:true});
                return false;
            });
        });
    </script>
{% endblock %}

{% block head_stylesheets %}
    {{ parent() }}
{% endblock %}