{% extends '@Incentive/Frontend/Incentive/index.html.twig' %}
{% block pagename %}incentives{% endblock %}
{% block incentiveContent %}

    {% set storeName = true %}

    <style type="text/css">
        .selectMonthYear{
            margin: 15px auto;
        }
        .selector{
            margin: 25px auto;
        }
        .active_button{
            padding: 10px;
            text-align: center;
            text-transform: uppercase;
            font-weight: 600;
            background: #0B6349;
            border:solid 2px #0b6349;
        }
        .inactive_button{
            padding: 10px;
            text-align: center;
            text-transform: uppercase;
            font-weight: 600;
            background-color: transparent;
            border:solid 2px #0b6349;
        }

        .progressInfo .title{
            padding: 15px;
        }

        .progressInfo .myStar .myRank {
            font-size: 20px;
            line-height: 36px;
        }
        .progressInfo .myStar .myRank.default {
            line-height: 27px;
            font-size: 12px;
        }
        .title.floatTitle {
            width: 80%;
            float: left;
        }
        .floatZone {
            float: right;
            padding: 10px;
            margin: 5px;
            width: 15%;
        }

        a, a:hover {
            color: unset;
            text-decoration: none !important;
        }

        .color-promedio {
            color: #6d6d6d !important;
        }
        .color-mayor {
            color: #00694b !important;
        }
        .color-menor {
            color: #bd0511 !important;
        }
        .bg-color-promedio {
            background-color: #6d6d6d !important;
        }
        .bg-color-mayor {
            background-color: #00694b !important;
        }
        .bg-color-menor {
            background-color: #bd0511 !important;
        }
        .indice {
            font-size: 16px;
            line-height: 14px;
        }
        .cuadrado {
            width: 13px;
            height: 13px;
            display: inline-block;
        }



        .radial-graph-big,
        .shape-big,
        .mask-big,
        .fill-big {
          width: 257px;
          height: 257px;
          border-radius: 50%;
          position: relative;
        }
        .shape-big,
        .mask-big,
        .fill-big {
          position: absolute;
          background-color: #6e6e6e;
        }

        .mask-big,
        .fill-big {
          -webkit-backface-visibility: hidden;
          transition: transform 1s;
          border-radius: 50%;
        }

        .mask-big {
          clip: rect(0px, 257px, 257px, 128.5px);
        }
        .fill-big {
          clip: rect(0px, 128.5px, 257px, 0px);
          background-color: #50e3c2;
        }
        .cutout-big {
          margin-left: 7px;
          margin-top: 7px;
          width: 242px;
          height: 242px;
          position: absolute;
          background-color: #dedede;
          border-radius: 50%;
        }



        .radial-graph-medium,
        .shape-medium,
        .mask-medium,
        .fill-medium {
          width: 171px;
          height: 171px;
          border-radius: 50%;
          position: relative;
        }
        .shape-medium,
        .mask-medium,
        .fill-medium {
          position: absolute;
          background-color: #6e6e6e;
        }

        .mask-medium,
        .fill-medium {
          -webkit-backface-visibility: hidden;
          transition: transform 1s;
          border-radius: 50%;
        }

        .mask-medium {
          clip: rect(0px, 171px, 171px, 85.5px);
        }
        .fill-medium {
          clip: rect(0px, 85.5px, 171px, 0px);
          background-color: #50e3c2;
        }

        .cutout-medium {
          margin-left: 7px;
          margin-top: 7px;
          width: 155px;
          height: 155px;
          position: absolute;
          background-color: #dedede;
          border-radius: 50%;
        }
        a:hover .cutout-medium {
          margin-left: 10px;
          margin-top: 10px;
          width: 151px;
          height: 151px;
          position: absolute;
          background-color: #dedede;
          border-radius: 50%;
        }

        .mask.full-mask,
        .fill {
          /*
            For a value of 90%
            0.9 * 360  / 2
          */
          transform: rotate(162deg);
        }
        .fill.shim {
          /* 
            For a value of 90%
            0.9 * 360
          */
          transform: rotate(324deg);
        }

        
        /*
        45 = 81 y 162
        78 = 140.4 y 280.8
        */

        .data-prom-big {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 10;
            font-size: 34px;
            color: #6d6d6d;
        }
        .data-prom-medium {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 10;
            font-size: 30px;
            color: #6d6d6d;
        }

        .data-big {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            top: 12.5%;
            left: 12.5%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 10;
            font-size: 82px;
            font-weight: bold;
            letter-spacing: -4px;
        }
        .data-medium {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            top: 12.5%;
            left: 12.5%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 10;
            font-size: 52px;
            font-weight: bold;
            letter-spacing: -4px;
        }
        .data-canal-medium {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 10;
            font-size: 19px;
            line-height: 24px;
            color: #6d6d6d;
            padding-top: 183px;
            text-align: center;
            text-decoration: none !important;
        }
        .data-canal-medium .normal {
            display: block;
        }
        .data-canal-medium .color {
            display: none;
            font-weight: bold;
        }
        .active .data-canal-medium .normal {
            display: none;
        }
        .active .data-canal-medium .color {
            display: block;
        }
        .ml4 {
            margin-left: 4%;
        }
        .pt4 {
            padding-top: 4%;
        }
        .circle-line {
            position: absolute;
            bottom: 150px;
            height: 5px;
            background-color: #6d6d6d;
            width: 80%;
            margin-left: 10%;
        }
        .rankingHeader {
            position: relative;
            padding-bottom: 30px;
            /*border-bottom: 13px #a9a9a9 solid;*/
        }
        .rankingHeaderGraph {
            position: relative;
            padding-bottom: 30px;
            border-bottom: 13px #a9a9a9 solid;
            background-color: #dedede;
            /*display: flex;*/

        }


        .graph .border {
            display: none;
        }
        .graph.active .border {
            height: 13px;
            width: 100%;
            position: relative;
            top: 73px;
            display: block;
        }
        .graph.active .arrow {
              width: 0; 
              height: 0; 
              border-left: 25px solid transparent;
              border-right: 25px solid transparent;
              margin: 0 auto;
        }
        .graph.active .arrow.arrow-color-mayor {
              border-top: 25px solid #00694b;
        }
        .graph.active .arrow.arrow-color-menor {
              border-top: 25px solid #bd0511;
        }

        .content-category {
            display: none;
        }
        .content-category.active {
            display: block;
        }
        .descripcioninforme {
            width: 60%;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 40px;
            font-size: 16px;
        }


        @media (max-width: 900px) {
            body[data-page=incentives] .rankingHeader .title {
                max-width: 100%;
            }
            .rankingHeader {
              border: none;
            }
            .floatZone {
                width: 55%;
            }
            .descripcioninforme {
                width: 100%;
            }

            .ml4 {
                margin-left: 0px;
            }

            .radial-graph-big,
            .shape-big,
            .mask-big,
            .fill-big {
              width: 200px;
              height: 200px;
              border-radius: 50%;
              position: relative;
            }
            .shape-big,
            .mask-big,
            .fill-big {
              position: absolute;
              background-color: #6e6e6e;
            }

            .mask-big,
            .fill-big {
              -webkit-backface-visibility: hidden;
              transition: transform 1s;
              border-radius: 50%;
            }
            .mask-big {
              clip: rect(0px, 200px, 200px, 100px);
            }
            .fill-big {
              clip: rect(0px, 100px, 200px, 0px);
              background-color: #50e3c2;
            }
            .cutout-big {
              margin-left: 7px;
              margin-top: 7px;
              width: 186px;
              height: 186px;
              position: absolute;
              background-color: #dedede;
              border-radius: 50%;
            }


            .radial-graph-medium,
            .shape-medium,
            .mask-medium,
            .fill-medium {
              width: 80px;
              height: 80px;
              border-radius: 50%;
              position: relative;
            }
            .shape-medium,
            .mask-medium,
            .fill-medium {
              position: absolute;
              background-color: #6e6e6e;
            }

            .mask-medium,
            .fill-medium {
              -webkit-backface-visibility: hidden;
              transition: transform 1s;
              border-radius: 50%;
            }
            .mask-medium {
              clip: rect(0px, 80px, 80px, 40px);
            }
            .fill-medium {
              clip: rect(0px, 40px, 80px, 0px);
              background-color: #50e3c2;
            }
            .cutout-medium {
              margin-left: 2.5px;
              margin-top: 2.5px;
              width: 75px;
              height: 75px;
              position: absolute;
              background-color: #dedede;
              border-radius: 50%;
            }
            a:hover .cutout-medium {
              margin-left: 5px;
              margin-top: 5px;
              width: 70px;
              height: 70px;
              position: absolute;
              background-color: #dedede;
              border-radius: 50%;
            }
            .data-prom-medium {
              font-size: 20px;
            }
            .data-medium {
              font-size: 30px;
            }
            .data-canal-medium {
              z-index: 10;
              font-size: 15px;
              line-height: 15px;
              padding-top: 96px;
          }



            .mobile-none {
                display: none;
            }

            .col-12 {
              width: 100%;
            }

            .rankingHeaderGraph {
                padding-bottom: 60px;
            }
            .rankingHeaderGraph .fl-m {
              display: flex;
              flex-direction: column;
              align-items: center;
            }
            .rankingHeaderGraph .fl-m-r {
              width: 25%;
              float: left;
            }
            .rankingHeaderGraph .fl-m-r a {
              left: -8px;
              position: relative;
            }

        }
    </style>
    <div class="row rankingHeader">
        <div class="col-md-12" >
            {% set user = app.user %}

            {% if user.maxRoleType == 'ROLE_MANAGER' %}
                <h2 class="title text-center color-promedio">Mi performance</h2>
            {% else %}
                <h2 class="title text-center color-promedio">Indicadores de Performance {% if (zonas != '') %} / {{ zonas }} {% endif %} </h2>
            {% endif %}

        </div>

        <div class="col-md-12" >
            {% if user.maxRoleType == 'ROLE_HEAD_OFFICE' or user.maxRoleType == 'ROLE_MANAGER_GLOBAL' %}
                <p class="descripcioninforme">Esta sección es muy útil para analizar la performance de tus Estaciones de Servicio según los datos de los indicadores de evaluación que integran el Programa Compromiso. Esta información te va a ayudar a saber cómo mejorar tu rendimiento y aumentar tus ventas. </p>
            {% elseif user.maxRoleType == 'ROLE_MANAGER' %}
                <p class="descripcioninforme">Esta sección es muy útil para analizar la performance de tu o tus Estaciones de Servicio según los datos de los indicadores de evaluación que integran el Programa Compromiso. Esta información te va a ayudar a saber cómo mejorar tu rendimiento y aumentar tus ventas. </p>
            {% endif %}
        </div>

        <div class="col-md-9">
            <p class="color-promedio indice"><span class="cuadrado bg-color-promedio"></span> Performance promedio red</p>
            <p class="color-mayor indice"><span class="cuadrado bg-color-mayor"></span> Indicador mayor promedio red</p>
            <p class="color-menor indice"><span class="cuadrado bg-color-menor"></span> Indicador menor promedio red</p>
        </div>
        <div class="col-md-3" >
            {% if user.maxRoleType == 'ROLE_MANAGER_GLOBAL' %}
                <span style="width: 60px; display: inline-block; text-align: right">Zona </span>
                <select class="select2" onchange="window.location = '?month={{ month }}&year={{ year }}&zone=' + $(this).val()">
                    <option value="Red Propia" {% if zonas == 'Red Propia' %}selected="selected"{% endif %} >Red Propia</option>
                    <option value="Centro" {% if zonas == 'Centro' %}selected="selected"{% endif %} >Centro</option>
                    <option value="Norte" {% if zonas == 'Norte' %}selected="selected"{% endif %} >Norte</option>
                    <option value="Sur" {% if zonas == 'Sur' %}selected="selected"{% endif %} >Sur</option>
                </select>
            {% endif %}
            {% if selectorChoices %}
                <p>&nbsp;</p>
                <span style="width: 60px; display: inline-block; text-align: right">Período </span>
                <select class="select2" onchange="window.location = '?' + $(this).val()">
                    <option value="" disabled="disabled">Seleccionar mes</option>
                    
					{# Esto es un pachichi para que no muestre el mes 8 y quede fiero #}
					{% for _month in selectorChoices %}
					
					{% if (_month|date('F')|trans != 'Agosto') %}
                        <option value="month={{ _month.format('n') }}&year={{ _month.format('Y') }}&zone={{ zonas }}" {% if _month.format('n') == month and  _month.format('Y') == year %} selected="selected" {% endif %} >
                            
							
							{% if (_month|date('F')|trans == 'Diciembre' and _month|date('Y') == 2020) %}
                                2019 / 2020
                            {% elseif (_month|date('F')|trans == 'Julio') %}
                                Julio / Agosto
                            {% elseif (_month|date('F')|trans == 'Septiembre') %}
                                Septiembre / Octubre
                            {% elseif (_month|date('F')|trans == 'Noviembre') %}
                                Noviembre / Diciembre
                            {% elseif (_month|date('F')|trans == 'Enero') %}
                                Enero / Febrero
                            {% elseif (_month|date('F')|trans == 'Marzo') %}
                                Marzo / Abril
                            {% elseif (_month|date('F')|trans == 'Mayo') %}
                                Mayo / Junio
                            {% endif %} 
                            {# {{ month|date('F')|trans }}/{{ month|date('Y') }} #}
                        </option>
						{% endif %} 
                    {% endfor %}
                </select>
           {% endif %}
        </div>
        
    </div>
    
    <div class="row rankingHeaderGraph">


        <div class="circle-line mobile-none"></div>


        <div class="col-md-3 ml4 col-12 fl-m">
            {% set porc_dato1 = promedioGlobalEstaciones / 100 * 360 %}
            {% set porc_dato2 = porc_dato1 / 2 %}
            {% set porc_color = (promedioGlobalEstaciones < promedioGlobal) ? 'bg-color-menor' : 'bg-color-mayor' %}
            {% set porc_colortext = (promedioGlobalEstaciones < promedioGlobal) ? 'color-menor' : 'color-mayor' %}
            <div class="data-prom-big">{{ promedioGlobal }} %</div>
            <div class="radial-graph-big">
                <div class="shape-big">
                    <div class="mask-big full-mask-big" style="transform: rotate({{ porc_dato2 }}deg);">
                        <div class="fill-big {{ porc_color }}" style="transform: rotate({{ porc_dato2 }}deg);"></div>
                    </div>
                    <div class="mask-big">
                        <div class="fill-big {{ porc_color }}" style="transform: rotate({{ porc_dato2 }}deg);"></div>
                        <div class="fill-big {{ porc_color }} shim-medium" style="transform: rotate({{ porc_dato1 }}deg);"></div>
                    </div>
                </div>
                <div class="cutout-big">
                    <div class="data-big {{ porc_colortext }}">
                        {{ promedioGlobalEstaciones }}%
                    </div>
                </div>
            </div>
        </div>



        {% set active = true %}
        {% for type in categories %}
            {% set promed = (promediosRedCat[type] is defined ? promediosRedCat[type] : 0) %}
            {% set porc = (promediosEstacionesCat[type] is defined ? promediosEstacionesCat[type] : 0) %}

            <div class="col-md-2 graph pt4 fl-m-r {{ active ? 'active' : '' }}" id="graph_{{ type|replace({' ': "", ',': ""}) }}">
                {% set porc_dato1 = porc / 100 * 360 %}
                {% set porc_dato2 = porc_dato1 / 2 %}
                {% set porc_color = (porc < promed) ? 'bg-color-menor' : 'bg-color-mayor' %}
                {% set porc_colortext = (porc < promed) ? 'color-menor' : 'color-mayor' %}
                <div class="data-prom-medium">{{ promed }}%</div>
                <a href="javascript:changeView('{{ type|replace({' ': "", ',': ""}) }}');">
                    <div class="radial-graph-medium">
                        <div class="shape-medium">
                            <div class="mask-medium full-mask-medium" style="transform: rotate({{ porc_dato2 }}deg);">
                                <div class="fill-medium {{ porc_color }}" style="transform: rotate({{ porc_dato2 }}deg);"></div>
                            </div>
                            <div class="mask-medium">
                                <div class="fill-medium {{ porc_color }}" style="transform: rotate({{ porc_dato2 }}deg);"></div>
                                <div class="fill-medium {{ porc_color }} shim-medium" style="transform: rotate({{ porc_dato1 }}deg);"></div>
                            </div>
                        </div>
                        <div class="cutout-medium {{ porc_colortext }}">
                            <div class="data-medium">
                                {{ porc }}%
                            </div>
                        </div>
                        <div class="data-canal-medium">
                            <span class="normal">{{ type|lower|capitalize }}</span>
                            <span class="color {{ porc_colortext }}">{{ type|lower|capitalize }}</span>
                        </div>
                    </div>
                </a>
                <div class="border {{ porc_color }}"><div class="arrow arrow-{{ porc_colortext }}"></div></div>
            </div>

            {% set active = false %}

        {% endfor %}

    </div>

    <style type="text/css">
        .progressBlock {
            margin-top: 55px;
            margin-bottom: 40px;
            display: flex;
            justify-content: center;
        }
        .progressBlock .col-11-per {
            width: 14%;
        }
        .progressBlock .progressItem {
            text-align: center;
        }
        .progressBlock .progressItem h4 {
            font-size: 15px;
            font-weight: normal;
            color: #6d6d6d;
            display: block;
            text-align: center;
            width: 120%;
            margin-left: -10%;
            height: 27px;
        }
        .progressBlock .progressItem.more-height h4 {
            height: 60px;
        }
        .progressBlock .progressItem .bar {
            display: block;
            width: 80%;
            height: 15px;
            margin: 10px auto 15px;
            background-color: #6d6d6d;
            position: relative;
            z-index: 1;
        }
        .progressBlock .progressItem .bar .prog {
            position: absolute;
            z-index: 2;
            height: 15px;
        }
        .progressBlock .progressItem .result {
            font-size: 32px;
            font-weight: bold;
            display: block;
            text-align: center;
        }
        .progressBlock .progressItem .promedio {
            font-size: 28px;
            font-weight: normal;
            color: #6d6d6d;
            display: block;
            text-align: center;
            border-top: 1px solid #6d6d6d;
            padding: 5px 0;
            width: 80%;
            margin: 0 auto;
        }


        .progressStations .title {
            font-size: 25px;
            font-weight: bolder;
            max-width: 80%;
            margin: 30px auto;
        }
        .incentive-more {
            padding-top: 15px;
        }
        .incentive-more a {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #6f6f6f;
            display: block;
            margin: 0;
            text-align: center;
        }
        .incentive-more a span {
            color: #FFFFFF;
            font-size: 50px;
            line-height: 50px;
            font-weight: bold;
        }
        .incentive-more a:hover span {
            color: #e5e5e5;
        }
        .progressInfo .myWorkPlace {
            margin-left: 35px;
        }
        .progressInfo .myWorkPlace .where {
            font-weight: normal;
            color: #6e6e6e;
            font-size: 18px;
        }
        .progressInfo .myWorkPlace .where span {
            font-weight: bold;
            color: #02684b;
        }
        .progressInfo .myStar .myRank.default {
            width: 60px;
            height: 60px;
            line-height: 56px;
            font-size: 25px;
        }

        @media (max-width: 900px) {
            .progressBlock {
              display: block;
            }
            .progressBlock .col-11-per {
              float: left;
              width: 32%;
              margin-bottom: 20px;
            }
            .progressBlock .progressItem .result {
              font-size: 22px;
            }
            .progressBlock .progressItem .promedio {
              font-size: 18px;
            }
            .progressBlock .progressItem h4 {
              height: 45px;
            }
            .progressStations .title {
              max-width: 100%;
            }
            .progressInfo .myStar .myRank.default {
              width: 40px;
              height: 40px;
              line-height: 36px;
              font-size: 15px;
            }
            .progressInfo .data {
              margin-left: -7%;
            }
            body[data-page=incentives] .progressInfo .where.mobile {
              right: unset;
              left: 18%;
              color: #6e6e6e;
              font-size: inherit;
              text-align: left;
              top: 14px;
              font-weight: normal;
            }
            body[data-page=incentives] .progressInfo .where.mobile span {
                  font-weight: bold;
                  color: #02684b;
              }
            .incentive-more {
                padding-top: 15px;
                float: right;
                padding: 49px 0 0 10px;
                margin-right: -7%;
            }
            .incentive-more a {
              width: 30px;
              height: 30px;
            }
            .incentive-more a span {
                font-size: 30px;
                line-height: 30px;
            }
            .progressBar .points {
              top: 50px;
            }

        }
    </style>

    {% set catActive = true %}
    {% for key,category in itemsList %}

        <div class="content-category {{ catActive ? 'active' : '' }}" id="{{ key|replace({' ': "", ',': ""}) }}">

            {# Listado de Objetivos #}
            <div class="row progressBlock d-flex justify-content-center">
                {% for item in category %}
                    {% set promRed = (promediosRed[item.id] is defined) ? promediosRed[item.id] : 0 %}
                    {% set promEstacion = (promediosEstaciones[item.id] is defined) ? promediosEstaciones[item.id] : 0 %}


					{# Se cambia el promEstacion por promedioBarraEstacion para evitar que si viene prom >100 se rompa el width de la barra #}
					{% set promedioBarraEstacion = promEstacion %}
					{% if promedioBarraEstacion > 100 %}
						{% set promedioBarraEstacion = 100 %}
					{% endif %}

						
                    
                    {% set porc_color = (promEstacion < promRed) ? 'bg-color-menor' : 'bg-color-mayor' %}
                    {% set porc_colortext = (promEstacion < promRed) ? 'color-menor' : 'color-mayor' %}

                    {% if not item.isTotalizer %}
                        {% if key == 'MYSTERY SHOPPER' %}
                            {% if item.isSpecial %}
                                {% if promEstacion == 0 %}
                                    {% set porc_color = 'bg-color-promedio' %}
                                    {% set porc_colortext = 'color-promedio' %}
                                {% endif %}
                                <div class="col-md-1 col-11-per progressItem">
                                    <h4>{{ item.name|lower|capitalize }}</h4>
                                    <div class="bar"><div class="prog {{ porc_color }}" style="width: {{ promedioBarraEstacion }}%"></div></div>
                                    <div class="result {{ porc_colortext }}">
                                        {% if promEstacion == 0 %}
                                            <small>No aplica</small>
                                        {% else %}
                                            {{ promEstacion }}%
                                        {% endif %}
                                    </div>
                                    <div class="promedio">{{ promRed }}%</div>
                                </div>
                            {% endif %}
                        {% elseif key == 'OBJETIVOS DE VENTA' %}
                            {% set tipoMedida = 'm3' %}
                            {% if (item.name == 'VENTA DE LUBRICANTES EN ENVASE MENOR') %}

                              {% set tipoMedida = 'ltrs' %}
                            {% endif %}
                            
                            {%if (promediosEstacionesCategory[key][item.id] is defined) %}
                                {% set porc_color = (promediosEstacionesCategory[key][item.id].resultMet < promediosEstacionesCategory[key][item.id].objetiveMet) ? 'bg-color-menor' : 'bg-color-mayor' %}
                                {% set porc_colortext = (promediosEstacionesCategory[key][item.id].resultMet < promediosEstacionesCategory[key][item.id].objetiveMet) ? 'color-menor' : 'color-mayor' %}
                            {% endif %}
								
								
                            <div class="col-md-1 col-11-per progressItem">
                                <h4>{{ item.name|lower|capitalize }}</h4>
                                <div class="bar"><div class="prog {{ porc_color }}" style="width: {{ promedioBarraEstacion }}%"></div></div>
                                {#
                                <div class="result {{ porc_colortext }}">{{ (promediosEstacionesCategory[key][item.id] is defined) ? promediosEstacionesCategory[key][item.id].promedioMet : 0 }}{{ tipoMedida }}</div>
                                <div class="promedio">{{ (promediosRedCategory[key][item.id] is defined) ? promediosRedCategory[key][item.id].promedioMet : 0 }}{{ tipoMedida }}</div>
                                #}
                                <div class="result {{ porc_colortext }}">{{ (promediosEstacionesCategory[key][item.id] is defined) ? promediosEstacionesCategory[key][item.id].resultMet : 0 }}{{ tipoMedida }}</div>
                                <div class="promedio">{{ (promediosEstacionesCategory[key][item.id] is defined) ? promediosEstacionesCategory[key][item.id].objetiveMet : 0 }}{{ tipoMedida }}</div>
                            </div>
                        {% else %}
                            <div class="col-md-1 col-11-per progressItem {% if key == 'CAPACITACIÓN' %}more-height{% endif %}">
                                <h4>{{ item.name|lower|capitalize }}</h4>
                                <div class="bar"><div class="prog {{ porc_color }}" style="width: {{ promedioBarraEstacion }}%"></div></div>
                                <div class="result {{ porc_colortext }}">{{ promEstacion }}%</div>
                                <div class="promedio">{{ promRed }}%</div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>



            {# Listado de estaciones #}
            <div class="row progressStations">
                <div class="col-md-12">
                    <h2 class="title text-center color-promedio">Ranking Mis Estaciones {{ key|lower|capitalize }}</h2>
                </div>
            </div>

            {% set totalStores = storeRankings[key]|length %}

            {% for ind,station in storeRankings[key] %}

                {% set gas_station = station.store %}
                {#
                
                {% set totalPoints = gas_station.goalsByMonthAndName(selectedYear, 'PUNTAJES OBJETIVO', key).empty ? 0 : gas_station.goalsByMonthAndName(selectedYear, 'PUNTAJES OBJETIVO', key).first.objetive %}
                {% set completedPoints = gas_station.goalsByMonthAndName(selectedYear, 'PUNTAJES RESULTADO', key).empty ? 0 : gas_station.goalsByMonthAndName(selectedYear, 'PUNTAJES RESULTADO', key).first.result %}
                {% set stoRank = (gas_station.rankingByMonthAndYear(selectedYear, gas_station)) ? gas_station.getRankingByMonthAndYear(selectedYear, gas_station).first.position : 0 %}

                #}

                {% set totalPoints = station.totalPoints %}
                {% set completedPoints = station.completedPoints %}
                {% set completedPointsReal = station.completedPointsReal %}
                {# {% set stoRank = station.stoRank %} #}
                {% set stoRank = (ind+1) %}

                {% if (completedPoints < 0) %}
                    {% set completedPoints = 0 %}
                {% endif %}

                <div class="progressInfo inner-container" >
                    <div class="flex align-center justify-between hidden-md hidden-sm hidden-xs">

                        <div class="col-lg-4 data">
                            <div class="myStar" >
                                {% include '@Incentive/Frontend/Incentive/widgets/cup.html.twig' with {'podium':0,'position':stoRank,'myrank': false} only %}
                            </div>

                            <div class="myWorkPlace ">
                                <div class="where">
                                    {% if gas_station.cliente %}
                                        {{ gas_station.cliente }}<br>
                                    {% else %}
                                        {{ gas_station.location }}<br>
                                    {% endif %}
                                    <span>{{ gas_station.address  }} <br><small>({{ gas_station.provincia.nombre }})</small></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-7">
                            {% include "@Incentive/Frontend/Incentive/widgets/progress-bar.html.twig" with {'totalPoints':totalPoints,'completedPoints':completedPoints, 'completedPointsReal':completedPointsReal } only %}
                        </div>
                        <div class="col-lg-1 incentive-more">
                            {% if key == 'MYSTERY SHOPPER' and totalStores == 1 %}
                                {% set _promedioEstacion = (promediosEstacionesCat[key] is defined ? promediosEstacionesCat[key] : 0) %}
                            {% else %}
                                {% set _promedioEstacion = totalPoints ? (completedPoints * 100) / totalPoints : 0 %}
                            {% endif %}

                            <a href="javascript:showModal('{{ key }}', {{ gas_station.id }}, '{{ gas_station.location }}', '{{ gas_station.address }}', '{{ gas_station.provincia.nombre }}', '{{ key|lower|capitalize }}', '{{ (promediosRedCat[key] is defined ? promediosRedCat[key] : 0) }}', '{{ (promediosEstacionesCat[key] is defined ? promediosEstacionesCat[key] : 0) }}', {{month}}, {{year}}, '{{ gas_station.btToken }}', {{ _promedioEstacion }}, {{gas_station.code}})"><span>+</span></a>
                        </div>
                    </div>

                    <div class="flex align-center justify-center hidden-lg">

                        <div class="col-lg-12 data">

                            <div class="myStar">
                                {% include '@Incentive/Frontend/Incentive/widgets/cup.html.twig' with {'podium':0,'position':stoRank,'myrank': false} only %}
                            </div>
                            <div class="where mobile">
                              {% if gas_station.cliente %}
                                    {{ gas_station.cliente }}<br>
                                {% else %}
                                    {{ gas_station.location }}<br>
                                {% endif %}
                                <span>{{ gas_station.address  }} (<small>{{ gas_station.provincia.nombre }}</small>)</span>
                            </div>
                            {% include "@Incentive/Frontend/Incentive/widgets/progress-bar.html.twig" with {'totalPoints':totalPoints,'completedPoints':completedPoints, 'completedPointsReal':completedPointsReal } only %}
                            <div class="col-lg-1 incentive-more">
                                {% if key == 'MYSTERY SHOPPER' and totalStores == 1 %}
                                    {% set _promedioEstacion = (promediosEstacionesCat[key] is defined ? promediosEstacionesCat[key] : 0) %}
                                {% else %}
                                    {% set _promedioEstacion = totalPoints ? (completedPoints * 100) / totalPoints : 0 %}
                                {% endif %}
                              <a href="javascript:showModal('{{ key }}', {{ gas_station.id }}, '{{ gas_station.location }}', '{{ gas_station.address }}', '{{ gas_station.provincia.nombre }}', '{{ key|lower|capitalize }}', '{{ (promediosRedCat[key] is defined ? promediosRedCat[key] : 0) }}', '{{ (promediosEstacionesCat[key] is defined ? promediosEstacionesCat[key] : 0) }}', {{month}}, {{year}}, '{{ gas_station.btToken }}', {{ _promedioEstacion }},{{gas_station.code}})"><span>+</span></a>
                          </div>
                        </div>
                    </div>

                    <div class="clearfix visible-sm visible-xs"></div>
                </div>
            {% endfor %}


        </div>

        {% set catActive = false %}

    {% endfor %}


    <!-- Button trigger modal -->
    <button type="button" id="launchModal" class="btn btn-primary" data-toggle="modal" data-target="#estadisticasModal" style="display: none;"></button>

    <style type="text/css">
        .modal-dialog {
            width: 60%;
            max-width: 1200px;
            background-color: #e5e5e5;
            border: 8px solid #00694b;
        }
        @media (max-width: 900px) {
          .modal-dialog {
            width: 95%;
          }
        }
        .modal-dialog .modal-header {
            border-bottom: unset;
            position: absolute;
            right: 0;
            z-index: 999;
        }
        .modal-dialog .modal-loading {
            display: block;
            text-align: center;
            padding: 200px;
        }
        .modal-dialog .modal-body {
            margin-top: 20px;
            display: none;
        }
        .modal-dialog .modal-content {
            box-shadow: unset;
            border-radius: 0px;
            background-color: #e5e5e5;
        }
        .modal-dialog .myWorkPlace {
            margin-left: 0px;
        }

        .modal-dialog .block-category {
            display: flex;
            align-items: center;
            height: 175px;
            flex-direction: row-reverse;
        }
        .modal-dialog .block-category h3 {
            font-weight: normal;
            color: #6e6e6e;
            font-size: 20px;
        }
        .modal-dialog .mt-negativo {
            margin-top: -35px;
        }
        .progressInfo .myWorkPlace .where {
        }
        .progressInfo .myWorkPlace .where small {
            font-size: 65%;
        }
        .modal-dialog .estadisticas {
            width: 100%;
            background-color: #ffffff;
            margin: 0 0 30px 0;
            padding: 40px 0 30px 0;
        }
        .modal-dialog .estadisticas.mistery {
            background-color: transparent;
            padding-top: 0px;
        }
        .modal-dialog .estadisticas .progressBlock {
            margin-top: 0px;
            margin-bottom: 0px;
            padding: 20px;
        }
        .modal-dialog .estadisticas.mistery .progressBlock {
            background-color: #ffffff;
            margin: 0 20px;
        }
        .modal-dialog .estadisticas .progressTitle {
            font-size: 18px;
            padding-top: 20px;
        }
        .modal-dialog .estadisticas .progressItem h4 {
            font-size: 26px;
            font-weight: bold;
            height: auto;
            width: 100%;
            margin: 0;
        }
        .modal-dialog .estadisticas .progressItem .bar {
            width: 100%;
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .modal-dialog .estadisticas .porc_promedio {
            font-size: 24px;
            font-weight: normal;
            padding-top: 17px;
        }
        .modal-dialog .leyenda-calidad {
            display: none;
        }
        .modal-dialog .min-height-30 {
            min-height: 30px;
        }

        .modal-dialog .progressBlock.especial {
            background-color: #a9a9a9 !important;
            margin-top: 20px !important;
        }
        .modal-dialog .estadisticas .especial .porc_promedio {
            color: #ffffff !important;
        }
        .modal-dialog .hidespecial {
            display: none;
        }
        .modal-dialog .incentive-more {
            padding-top: 8px;
        }
        .modal-dialog .incentive-more .minus {
            line-height: 44px;
        }
    </style>

    <!-- Modal -->
    <div class="modal fade" id="estadisticasModal" tabindex="-1" role="dialog" aria-labelledby="estadisticasModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-loading">
            Cargando...
          </div>
          <div class="modal-body">
            
            <div class="progressInfo inner-container">
                <div class="flex align-center justify-between hidden-md hidden-sm hidden-xs">

                    <div class="col-lg-7 data">
                        <div class="myWorkPlace">
                            <div class="where">
                                WILNOR S.A. <span>BUENOS AIRES</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5">
                        <div class="row">
                            <div class="col-md-7 block-category">
                                <h3>Objetivo venta</h3>
                            </div>
                            <div class="col-md-5 mt-negativo">
                                <div class="data-prom-medium"></div>
                                <div class="radial-graph-medium">
                                    <div class="shape-medium">
                                        <div class="mask-medium full-mask-medium" id="porc_dato2_1">
                                            <div class="fill-medium" id="porc_dato2_2"></div>
                                        </div>
                                        <div class="mask-medium">
                                            <div class="fill-medium {{ porc_color }}" id="porc_dato2_3"></div>
                                            <div class="fill-medium {{ porc_color }} shim-medium" id="porc_dato1"></div>
                                        </div>
                                    </div>
                                    <div class="cutout-medium">
                                        <div class="data-medium"></div>
                                    </div>
                                </div>
                            </div>
                        </div>                      
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 min-height-30">
                        <p class="color-promedio leyenda-calidad">Para mayor detalles ingresá a la sección "Mis Empleados"</p>
                    </div>
                    <div class="col-md-12">
                      <div class="flex align-center justify-between hidden-md hidden-sm hidden-xs" style="margin-left: 20px;">
                          <div class="col-12">
                              <p class="color-promedio indice"><span class="cuadrado bg-color-promedio"></span> Performance promedio red</p>
                              <p class="color-mayor indice"><span class="cuadrado bg-color-mayor"></span> Indicador mayor promedio red</p>
                              <p class="color-menor indice"><span class="cuadrado bg-color-menor"></span> Indicador menor promedio red</p>
                          </div>
                      </div>

                        <div class="estadisticas">
                            <div class="row progressBlock">
                                <div class="col-md-4 progressTitle color-promedio text-left">
                                    Imagen
                                </div>
                                <div class="col-md-7 progressItem">
                                    <h4><span class="color-mayor">12</span>/100</h4>
                                    <div class="bar"><div class="prog bg-color-mayor" style="width: 12%"></div></div>
                                </div>
                                <div class="col-md-1 porc_promedio">65%</div>
                            </div>
                            <div class="row progressBlock">
                                <div class="col-md-4 progressTitle color-promedio text-left">
                                    Módulo Ni Lubricantes puma 1
                                </div>
                                <div class="col-md-7 progressItem">
                                    <h4><span class="color-mayor">12</span>/100</h4>
                                    <div class="bar"><div class="prog bg-color-mayor" style="width: 12%"></div></div>
                                </div>
                                <div class="col-md-1 porc_promedio">65%</div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="clearfix visible-sm visible-xs"></div>
            </div>



          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
        function changeView(name) {
            jQuery('.content-category.active').removeClass('active');
            jQuery('.content-category#' + name).addClass('active');

            jQuery('.graph.active').removeClass('active');
            jQuery('.graph#graph_' + name).addClass('active');
        }


        function showModal(cat, storeId, storeName, storeAddress, storeLocation, catName, promedioRed, promedioEstaciones, month, year, token, storeProgress, code) {
            jQuery('.modal-dialog .modal-loading').show();
            jQuery('.modal-dialog .modal-body').hide();
            jQuery('#launchModal').trigger('click');



            var jsonData = {'json': true, 'cat': cat, 'store': storeId, 'month': month, 'year': year};
            $.ajax({
              type: 'GET',
              url: "{{ path('aper_ranking_performance') }}",
              data: jsonData,
              dataType: "json",
              success: function(data, textStatus, xhr){
                // console.log(data);

                promedioEstaciones = Math.round(storeProgress);
                var porc_dato1 = promedioEstaciones / 100 * 360;
                var porc_dato2 = porc_dato1 / 2;
                var porc_color = (promedioEstaciones < promedioRed) ? 'bg-color-menor' : 'bg-color-mayor';
                var porc_colortext = (promedioEstaciones < promedioRed) ? 'color-menor' : 'color-mayor';

                jQuery('.modal-body .myWorkPlace .where').html(storeName + ' <br><span>' + storeAddress + '<br><small>(' + storeLocation + ')</small></span>');
                jQuery('.modal-body .block-category h3').html(catName);

                jQuery('.modal-body .data-prom-medium').html(promedioRed + '%');
                jQuery('.modal-body .cutout-medium .data-medium').html(promedioEstaciones + '%');
                jQuery('.modal-body .cutout-medium .data-medium').attr('class', 'data-medium ' + porc_colortext);

                jQuery('.modal-body .shape-medium .fill-medium').attr('class', 'fill-medium ' + porc_color);

                jQuery('.modal-body #porc_dato2_1').attr('style', 'transform: rotate(' + porc_dato2 + 'deg);');
                jQuery('.modal-body #porc_dato2_2').attr('style', 'transform: rotate(' + porc_dato2 + 'deg);');
                jQuery('.modal-body #porc_dato2_3').attr('style', 'transform: rotate(' + porc_dato2 + 'deg);');
                jQuery('.modal-body #porc_dato1').attr('style', 'transform: rotate(' + porc_dato1 + 'deg);');

                if (cat == 'MYSTERY SHOPPER') {
                    jQuery('.modal-body .estadisticas').attr('class', 'estadisticas mistery');
                    if (token) {
                        jQuery('.modal-body .block-category h3').append('<br><small><a style="color: #337ab7;font-size: 16px;" href="https://www.webethere.net/main-menu.php?&chk_key=' + token + '" target="_blank">Ver informe</a></small>');
                    }
                } else {
                    jQuery('.modal-body .estadisticas').attr('class', 'estadisticas');
                }
				
				//CAMBIAR LA URL POR LA DE PRODUCCION!!!
				if (cat == 'CALIDAD, IMAGEN E INFRAESTRUCTURA') {
						
						jQuery('.modal-body .block-category h3').append('<br><small><a style="color: #337ab7;font-size: 16px;" href="https://pumaenergy-ar.aper.asso.ar/incentive/quality/' + code +'" target="_blank">Ver informe de Calidad</a></small>');
				}

                jQuery('.modal-body .estadisticas').html('');

                if (data.items.length > 0) {
                    var special = '';
                    for (var indice in data.items) {
                        var v = data.items[indice];
                        if (cat == 'OBJETIVOS DE VENTA') {
                          var _porc_color = (v.cumple < v.objetivo) ? 'bg-color-menor' : 'bg-color-mayor';
                          var _porc_colortext = (v.cumple < v.objetivo) ? 'color-menor' : 'color-mayor';
                        } else {
                          var _porc_color = ((v.cumple/v.objetivo)*100 < v.promedio) ? 'bg-color-menor' : 'bg-color-mayor';
                          var _porc_colortext = ((v.cumple/v.objetivo)*100 < v.promedio) ? 'color-menor' : 'color-mayor';
						  // console.log("v.cumple");
						  // console.log(v.cumple);
						  // console.log("v.promedio");
						  // console.log(v.promedio);
                        }
                        // var _especial = (v.especial) ? 'especial' : '';
						console.log('variable v', v);

                        if (v.especial) {
                            _porc_colortext = (v.objetivo == 0 ? 'color-promedio' : _porc_colortext);
                            special = indice;
                            var text = '<div class="row progressBlock especial">';
                            text += '       <div class="col-md-4 progressTitle ' + _porc_colortext + ' text-left"> ' + v.titulo + ' ' + (v.objetivo == 0 ? ' (No aplica) ' : v.cumple + '%') + '</div>';
                            text += '       <div class="col-md-6 progressItem"></div>';
                            text += '       <div class="col-md-1 porc_promedio color-promedio">' + v.promedio + '%</div>';
                            text += '       <div class="col-md-1 incentive-more"><a class="linkspecials linkspecials' + special + '" href="javascript:showEspecial(' + special + ')"><span>+</span></a></div>';
                            text += '   </div>';
                        } else {

                            var text = '<div class="row progressBlock special' + special + ' ' + (special != '' ? 'hidespecial' : '') + '">';
                            text += '       <div class="col-md-4 progressTitle color-promedio text-left">' + v.titulo + '</div>';
                            text += '       <div class="col-md-7 progressItem">';
                            if (cat == 'OBJETIVOS DE VENTA') {
                              var tipoMedida = 'm3';
                                if (v.titulo == 'VENTA DE LUBRICANTES EN ENVASE MENOR') {
                                  tipoMedida = 'ltrs';
                                }
                                text += '           <h4 style="color: #000;"><span class="' + _porc_colortext + '">' + v.cumple + '<small class="' + _porc_colortext + '">' + tipoMedida + '</small></span>/' + v.objetivo + '<small>' + tipoMedida + '</small></h4>';
                            } else {
                                text += '           <h4 style="color: #000;"><span class="' + _porc_colortext + '">' + v.cumple + '</span>/' + v.objetivo + '</h4>';
                            }
                            text += '           <div class="bar"><div class="prog ' + _porc_color + '" style="width: ' + (v.cumple * 100 / v.objetivo) + '%; max-width: 100%;"></div></div>';
                            text += '       </div>';
                            if (cat != 'OBJETIVOS DE VENTA') {
                                text += '       <div class="col-md-1 porc_promedio color-promedio">' + v.promedio + '%</div>';
                            }
                            text += '   </div>';
                        }

                        

                        jQuery('.modal-body .estadisticas').append(text);

                    };
                } else {
                    jQuery('.modal-body .estadisticas').append('<p style="text-align: center; padding: 90px; background-color: #FFFFFF;"> Sin datos </div>');
                }


                if (cat == 'CAPACITACIÓN') {
                    jQuery('.modal-body .leyenda-calidad').show();
                } else {
                    jQuery('.modal-body .leyenda-calidad').hide();
                }


                jQuery('.modal-dialog .modal-loading').hide();
                jQuery('.modal-dialog .modal-body').show();
              },
              error: function(data) {
                jQuery('.modal-dialog .modal-loading').hide();
                jQuery('.modal-dialog .modal-body').show();
                console.log('formulario-fallido-usuario');
                console.log(data);
              }
            });
        }

        var showSpecial = '';
        function showEspecial(special){
            if (showSpecial === special) {
                showSpecial = '';
                jQuery('.linkspecials' + special).html('<span>+</span>');
                // jQuery('.hidespecial').slideUp();
                jQuery('.special' + special).slideUp();
            } else {
                showSpecial = special;
                jQuery('.linkspecials').html('<span>+</span>');
                jQuery('.linkspecials' + special).html('<span class="minus">-</span>');
                jQuery('.hidespecial').slideUp();
                jQuery('.special' + special).slideDown();
            }
        }
    </script>

{% endblock %}