{% extends '@Incentive/Frontend/Incentive/index.html.twig' %}
{% block pagename %}incentives{% endblock %}
{% block incentiveContent %}

    {% if user.maxRoleType == 'ROLE_HEAD_OFFICE' or user.maxRoleType == 'ROLE_MANAGER_GLOBAL' %}
        {% set storeName = true %}
    {% elseif user.maxRoleType == 'ROLE_MANAGER' or user.maxRoleType == 'ROLE_EMPLOYEE' %}
        {% set storeName = false %}
    {% endif %}

    <style type="text/css">
        .selectMonthYear{
            margin: 15px auto;
        }
        .selector{
            margin: 25px auto;
        }
        .active_button{
            padding: 10px;
            text-align: center;
            text-transform: uppercase;
            font-weight: 600;
            background: #0B6349;
            border:solid 2px #0b6349;
        }
        .inactive_button{
            padding: 10px;
            text-align: center;
            text-transform: uppercase;
            font-weight: 600;
            background-color: transparent;
            border:solid 2px #0b6349;
        }

        .progressInfo .title{
            padding: 15px;
        }

        .progressInfo .myStar .myRank {
            font-size: 20px;
            line-height: 36px;
        }
        .progressInfo .myStar .myRank.default {
            line-height: 27px;
            font-size: 12px;
        }
        .title.floatTitle {
            width: 80%;
            float: left;
        }
        .floatZone {
            float: right;
            padding: 10px;
            margin: 5px;
            width: 15%;
        }
        .descripcioninforme {
            width: 60%;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 40px;
            font-size: 16px;
        }
        @media (max-width: 900px) {
            .descripcioninforme {
                width: 100%;
            }
        }

        .progressInfo .myWorkPlace .where span  {
            font-size: 65%;
        }
        .progressInfo .myWorkPlace .where span small {
            font-size: 75%;
            color: #7a7a7a;
            display: block;
        }
    </style>
    <div class="row rankingHeader">
        <div class="col-md-12" >
            <h2 class="title text-center">Ranking Bimestral de Estaciones</h2>
            {% if user.maxRoleType == 'ROLE_HEAD_OFFICE' or user.maxRoleType == 'ROLE_MANAGER_GLOBAL' %}
                <p class="descripcioninforme">Esta variable te permite saber la posición actualizada de tus Estaciones de servicio en el Ranking que cubre tu área comercial. Tené en cuenta que las Estaciones de Servicio ganadoras son aquellas que se encuentran dentro de los 10 primeros puestos.</p>
            {% elseif user.maxRoleType == 'ROLE_MANAGER' %}
                <p class="descripcioninforme">Esta variable te permite saber la posición actualizada de tu Estación de servicio en el Ranking que cubre tu área comercial. Tené en cuenta que las Estaciones de Servicio ganadoras son aquellas que se encuentran dentro de los 10 primeros puestos.</p>
            {% elseif user.maxRoleType == 'ROLE_EMPLOYEE' %}
                <p class="descripcioninforme">En esta sección, podrás hacer un seguimiento de la ubicación de tu Estación de Servicio en el Ranking de tu área comercial. Recordá que los ganadores serán aquellas Estaciones de servicio que se encuentren en los <strong>10 mejores puestos del Ranking</strong>.
            {% endif %}

            <div class="col-md-6 col-sm-12 col-xs-12 selectMonthYear" >
                <p class="col-md-6 col-sm-12 col-xs-12 active_button">
                    <a style="text-decoration:none; color: #fff;" href="{{ path('aper_ranking_mensualesanuales') }}">Bimestral</a>
                </p>
                <p class="col-md-6 col-sm-12 col-xs-12 inactive_button">
                    <a style="text-decoration:none; color: #0B6349;" href="{{ path('aper_ranking_anuales') }}">Anual</a>
                </p>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 text-right selector">
                <select class="select2" onchange="window.location = '?' + $(this).val()">
                    {# <option value="" selected="selected" disabled="disabled" >2019/2020</option> #}

                    <option value=""  disabled="disabled" >Seleccionar bimestre</option>
                    {# {{ selectorChoices }} #}
                    {% for month in selectorChoices %}
                        <option value="month={{ month.format('n') }}&year={{ month.format('Y') }}&zone={{ zone }}"
                                {% if month.format('n') == selectedYear.format('n') and  month.format('Y') == selectedYear.format('Y') %}selected="selected"{% endif %}
                        >
                            {% if (month|date('F')|trans == 'Diciembre' and month|date('Y') == 2020) %}
                                2019 / 2020
                            {% elseif (month|date('F')|trans == 'Julio') %}
                                Julio / Agosto
                            {% elseif (month|date('F')|trans == 'Septiembre') %}
                                Septiembre / Octubre
                            {% elseif (month|date('F')|trans == 'Noviembre') %}
                                Noviembre / Diciembre
                            {% elseif (month|date('F')|trans == 'Enero') %}
                                Enero / Febrero
                            {% elseif (month|date('F')|trans == 'Marzo') %}
                                Marzo / Abril
                            {% elseif (month|date('F')|trans == 'Mayo') %}
                                Mayo / Junio
                            {% endif %} 
                            {# {{ month|date('F')|trans }}/{{ month|date('Y') }} #}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h4 class="text-uppercase medium" style="font-size: 18px;margin: 0;line-height: 28px">Período</h4>
                {# <p class="text-uppercase bold" style="font-size: 22px">2019/2020</p> #}

                <p class="text-uppercase bold" style="font-size: 22px">
                    {% if (selectedYear|date('F')|trans == 'Diciembre' and selectedYear|date('Y') == 2020) %}
                        2019 / 2020
                    {% elseif (selectedYear|date('F')|trans == 'Julio') %}
                        Julio / Agosto
                    {% elseif (selectedYear|date('F')|trans == 'Septiembre') %}
                        Septiembre / Octubre
                    {% elseif (selectedYear|date('F')|trans == 'Noviembre') %}
                        Noviembre / Diciembre
                    {% elseif (selectedYear|date('F')|trans == 'Enero') %}
                        Enero / Febrero
                    {% elseif (selectedYear|date('F')|trans == 'Marzo') %}
                        Marzo / Abril
                    {% elseif (selectedYear|date('F')|trans == 'Mayo') %}
                        Mayo / Junio
                    {% endif %} 
                    {# {{selectedYear|date('F')|trans }}/{{ selectedYear|date('Y')  }} #}
                </p>
            </div>

        </div>
    </div>

        <div class="progressInfo myRoom row" id="sticky">
            {% if user.maxRoleType != 'ROLE_HEAD_OFFICE' and user.maxRoleType != 'ROLE_MANAGER' and user.maxRoleType != 'ROLE_MANAGER_GLOBAL' %}
            <p class="title floatTitle" >Mi estación</p>
            {% endif %}

            {% if showZone == 1 %}
            <select class="floatZone" onchange="window.location = '?month={{ selectedYear.format('n') }}&year={{ selectedYear.format('Y') }}&zone=' + $(this).val()">
                <option value="general">Total Red</option>
                {% if user.maxRoleType != 'ROLE_MANAGER_GLOBAL' %}
                    <option value="zone" {% if zone == 'zone' %}selected="selected"{% endif %} >Mi área</option>
                {% else %}
                    <option value="Red Propia" {% if zone == 'Red Propia' %}selected="selected"{% endif %} >Red Propia</option>
                    <option value="Centro" {% if zone == 'Centro' %}selected="selected"{% endif %} >Centro</option>
                    <option value="Norte" {% if zone == 'Norte' %}selected="selected"{% endif %} >Norte</option>
                    <option value="Sur" {% if zone == 'Sur' %}selected="selected"{% endif %} >Sur</option>
                {% endif %}

            </select>
            {% endif %}

            {#
            and user.maxRoleType != 'ROLE_MANAGER' 
            #}

            {% if user.maxRoleType != 'ROLE_HEAD_OFFICE' and user.maxRoleType != 'ROLE_MANAGER_GLOBAL' %}

                {% if user.maxRoleType != 'ROLE_MANAGER'  %}
                    <div style="clear: both; float: none;"></div>

                    {% set totalPoints = store.goalsByMonthAndName(selectedYear, 'TOTAL_STORE_OBJETIVO').empty ? 0 : store.goalsByMonthAndName(selectedYear, 'TOTAL_STORE_OBJETIVO').first.objetive %}
                    {% set completedPoints = store.goalsByMonthAndName(selectedYear, 'TOTAL_STORE_RESULTADO').empty ? 0: store.goalsByMonthAndName(selectedYear, 'TOTAL_STORE_RESULTADO').first.result %}

                    {% set completedPointsReal = completedPoints %}
                    {% if (completedPoints < 0) %}
                        {% set completedPoints = 0 %}
                    {% endif %}
                    
                    {# {% set position = store.getRankingByMonthAndYear(selectedYear,store).empty ? 0 : store.getRankingByMonthAndYear(selectedYear,store).first.position %} #}

                    {% set position = 0 %}
                    {% for ind,_gas_station in storeRankings %}
                        {% if _gas_station.store.id == store.id %}
                            {% set position = ind+1 %}
                        {% endif %}
                    {% endfor %}
                    
                    <div class="flex align-center justify-between hidden-md hidden-sm hidden-xs">

                        <div class="col-lg-4 data">
                            <div class="myStar">
                                {% include '@Incentive/Frontend/Incentive/widgets/cup.html.twig' with {'podium':podium,'position':position,'myrank':true} only %}
                            </div>

                            <div class="myWorkPlace">

                                <div class="where">
                                    {{ store.location }}
                                    <br><span>{{ store.address }} <br><small>({{ store.provincia.nombre }})</small></span>
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-9">
                        {% include "@Incentive/Frontend/Incentive/widgets/progress-bar.html.twig" with {'totalPoints':totalPoints,'completedPoints':completedPoints, 'completedPointsReal':completedPointsReal} only %}
                        </div>
                    </div>

                    <div class="flex align-center justify-between hidden-lg ">

                        <div class="col-lg-12 flex align-center">

                            <div class="myStar">
                                {% include '@Incentive/Frontend/Incentive/widgets/cup.html.twig' with {'podium':podium,'position':position,'myrank':true} only %}
                            </div>
                            <div class="where mobile">{{ store.location }}</div>
                            {% include "@Incentive/Frontend/Incentive/widgets/progress-bar.html.twig" with {'totalPoints':totalPoints,'completedPoints':completedPoints, 'completedPointsReal':completedPointsReal} only %}
                        </div>
                    </div>

                {% else %}

                    {# {% for sto in myRankStores %} #}
                    {% for indMy,_gas_station in myRankStores %}
                        {% set sto = _gas_station.store %}
                        {% set own = sto == store %}

                        <div style="clear: both; float: none; padding-top: 20px;"></div>

                        {# {% set totalPoints = sto.goalsByMonthAndName(selectedYear, 'TOTAL_STORE_OBJETIVO').empty ? 0 : sto.goalsByMonthAndName(selectedYear, 'TOTAL_STORE_OBJETIVO').first.objetive %}
                        {% set completedPoints = sto.goalsByMonthAndName(selectedYear, 'TOTAL_STORE_RESULTADO').empty ? 0: sto.goalsByMonthAndName(selectedYear, 'TOTAL_STORE_RESULTADO').first.result %} #}

                        {% set totalPoints = _gas_station.totalPoints %}
                        {% set completedPoints = _gas_station.completedPoints %}
                        {% set completedPointsReal = _gas_station.completedPointsReal %}

                        {# {% set completedPointsReal = completedPoints %}
                        {% if (completedPoints < 0) %}
                            {% set completedPoints = 0 %}
                        {% endif %} #}
                        
                        {# {% set position = sto.getRankingByMonthAndYear(selectedYear,sto).empty ? 0 : sto.getRankingByMonthAndYear(selectedYear,sto).first.position %} #}


                        {% set position = (indMy+1) %}
                        <div class="flex align-center justify-between hidden-md hidden-sm hidden-xs">

                            <div class="col-lg-4 data">
                                <div class="myStar">
                                    {% include '@Incentive/Frontend/Incentive/widgets/cup.html.twig' with {'podium':podium,'position':position,'myrank':true} only %}
                                </div>

                                <div class="myWorkPlace">

                                    <div class="where">
                                        {{ sto.location }}
                                        <br><span>{{ sto.address }} <br><small>({{ sto.provincia.nombre }})</small></span>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-9">
                            {% include "@Incentive/Frontend/Incentive/widgets/progress-bar.html.twig" with {'totalPoints':totalPoints,'completedPoints':completedPoints, 'completedPointsReal':completedPointsReal} only %}
                            </div>
                        </div>

                        <div class="flex align-center justify-between hidden-lg ">

                            <div class="col-lg-12 flex align-center">

                                <div class="myStar">
                                    {% include '@Incentive/Frontend/Incentive/widgets/cup.html.twig' with {'podium':podium,'position':position,'myrank':true} only %}
                                </div>
                                <div class="where mobile">{{ sto.location }}</div>
                                {% include "@Incentive/Frontend/Incentive/widgets/progress-bar.html.twig" with {'totalPoints':totalPoints,'completedPoints':completedPoints, 'completedPointsReal':completedPointsReal} only %}
                            </div>
                        </div>

                    {% endfor %}

               {% endif %}
            {% endif %}
            <div class="clearfix visible-sm visible-xs"></div>
        </div>
{#    <div class="row">#}
{#        <div class="col-md-12">#}
{#            {% if podium > 0%}#}
{#                <h4 class="text-uppercase medium" style="font-size: 18px;margin: 0;line-height: 28px">Felicitamos a los ganadores del mes de {{selectedYear.format('F')|trans}}</h4>#}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}
    {% for ind,_gas_station in storeRankings %}
        {% set gas_station = _gas_station.store %}
        {% set own = gas_station == store %}

        <div class="progressInfo inner-container">
            {#
            {% set totalPoints = gas_station.goalsByMonthAndName(selectedYear, 'TOTAL_STORE_OBJETIVO').empty ? 0 : gas_station.goalsByMonthAndName(selectedYear, 'TOTAL_STORE_OBJETIVO').first.objetive %}
            {% set completedPoints = gas_station.goalsByMonthAndName(selectedYear, 'TOTAL_STORE_RESULTADO').empty ? 0 : gas_station.goalsByMonthAndName(selectedYear, 'TOTAL_STORE_RESULTADO').first.result %}
            #}

            {% set totalPoints = _gas_station.totalPoints %}
            {% set completedPoints = _gas_station.completedPoints %}
            {% set completedPointsReal = _gas_station.completedPointsReal %}

            {#
            {% set completedPointsReal = completedPoints %}
            {% if (completedPoints < 0) %}
                {% set completedPoints = 0 %}
            {% endif %}
            #}

            {% if zone == 'zone' %}
                {% set stoRank = (ind+1) %}
                {% if own %}
                    <script type="text/javascript">
                        function ready() {
                            var myPosJS = {{ stoRank }};
                            jQuery('.myRoom .myRank').html(myPosJS);
                        }

                        document.addEventListener("DOMContentLoaded", ready);
                    </script>
                {% endif %}
            {% else %}
                {#
                {% set stoRank = (gas_station.rankingByMonthAndYear(selectedYear, gas_station)) ? gas_station.getRankingByMonthAndYear(selectedYear, gas_station).first.position : 0 %}
                }
                #}
                {% set stoRank = _gas_station.stoRank %}
            {% endif %}

            {# LUCAS #}
            {% set stoRank = (ind+1) %}
            

            <div class="flex align-center justify-between hidden-md hidden-sm hidden-xs">

                <div class="col-lg-4 data">
                    <div class="myStar" >
                        {% include '@Incentive/Frontend/Incentive/widgets/cup.html.twig' with {'podium':podium,'position':stoRank,'myrank': (own ? true : false)} only %}
                    </div>

                    <div class="myWorkPlace ">
                        {% if own %}
                            <div class="where">
                                {{ gas_station.location }}
                                <br><span>{{ gas_station.address }} <br><small>({{ gas_station.provincia.nombre }})</small></span>
                            </div>
                        {% else %}
                            {% if gas_station.code in idStores %}
                                <div class="where">
                                    {{ gas_station.location }}
                                    <br><span>{{ gas_station.address }} <br><small>({{ gas_station.provincia.nombre }})</small></span>
                                </div>
                            {% else %}
                                {% if storeName %}
                                    <div class="where">
                                        {% if gas_station.cliente %}
                                            {{ gas_station.cliente }}
                                        {% else %}
                                            {{ gas_station.location }}
                                        {% endif %}

                                        <br><span>{{ gas_station.address }} <br><small>({{ gas_station.provincia.nombre }})</small></span>
                                    </div>
                                {% else %}
                                    <div class="where">Estación {{ loop.index }} </div>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
            </div>

            <div class="col-lg-9">
                {% include "@Incentive/Frontend/Incentive/widgets/progress-bar.html.twig" with {'totalPoints':totalPoints,'completedPoints':completedPoints, 'completedPointsReal':completedPointsReal} only %}
                </div>
            </div>

            <div class="flex align-center justify-center hidden-lg">

                <div class="col-lg-12 data">

                    <div class="myStar">
                        {% include '@Incentive/Frontend/Incentive/widgets/cup.html.twig' with {'podium':podium,'position':stoRank,'myrank': (own ? true : false)} only %}
                    </div>
                    <div class="where mobile">
                        {% if gas_station.cliente %}
                            {{ gas_station.cliente }}
                        {% else %}
                            {{ gas_station.location }}
                        {% endif %}
                    </div>
                    {% include "@Incentive/Frontend/Incentive/widgets/progress-bar.html.twig" with {'totalPoints':totalPoints,'completedPoints':completedPoints, 'completedPointsReal':completedPointsReal} only %}
                </div>
            </div>

            <div class="clearfix visible-sm visible-xs"></div>
        </div>
    {% endfor %}

{#    {% if podium > 0 %}#}
{#        <div style="background-color:#f7f8fa; width:100%;">#}
{#            <h4 style="font-size: 18px;#}
{#                        font-weight: 700;#}
{#                        margin: 0;#}
{#                        line-height: 28px;#}
{#                        overflow: hidden;#}
{#                        padding: 40px 20px;#}
{#                        display: block;">#}
{#                        Recursos Humanos contactará a los gerentes de cada complejo para coordinar la entrega de los premios.#}
{#            </h4>#}
{#        </div>#}
{#        <br>#}
{#    {% endif %}#}
{% endblock %}