{% extends '@Incentive/Frontend/Incentive/index.html.twig' %}

{% block incentiveContent %}

{% set hardcodeado = false %}
{% set displayTabs = false %}

    {% if hardcodeado %}
        {% include "@Incentive/Frontend/Incentive/ajax/month_statistics_hardcoded.html.twig" %}
    {% elseif displayTabs %}
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-uppercase medium hidden-xs" style="font-size: 18px;margin: 0;line-height: 28px">Objetivos Mensuales de mi cine</h4>
                <h4 class="text-uppercase medium visible-xs"
                    style="font-size: 14px;margin: 0;line-height: 28px; text-align:center">Objetivos Mensuales de mi cine</h4>
            </div>
        </div>
        <br/>

        {% if lastUploadDate != false %}
            <ul class="nav nav-tabs">
                {% if lastUploadDate2 != false %}
                    <li><a data-toggle="tab" href="#{{ lastUploadDate2|date('F')|trans }}">{{ lastUploadDate2|date('F')|trans }}</a></li>
                {% endif %}
                <li class="active"><a data-toggle="tab" href="#{{ lastUploadDate|date('F')|trans }}">{{ lastUploadDate|date('F')|trans }}</a></li>
            </ul>
            <div class="tab-content">
                <div id="{{ lastUploadDate|date('F')|trans }}" class="tab-pane fade in active">
                    <div class="points-table">
                        <div class="flex-table">
                            <div class="flex-row head general" style="background-color: #3a5371;font-size: 17px;">
                                <div>
                                    GENERALES
                                </div>
                                <div style="white-space: nowrap; padding-right: 0px !important;">
                                    {{ store.goalsByMonthAndName(lastUploadDate, 'TOTAL_STORE_OBJETIVO').empty ? 0 : store.goalsByMonthAndName(selectedMonth, 'TOTAL_STORE_OBJETIVO').first.objetive }}
                                    Ptos
                                </div>
                            </div>
                        </div>
                    </div>

                    {% for type in categories %}
                        {% include '@Incentive/Frontend/Incentive/widgets/points-table-objetive.html.twig' with {
                        'render_values': false,
                        'title': type,
                        'total_objetive': store.goalsByMonthAndName(lastUploadDate, 'TOTAL_OBJETIVO', type).empty ? 0 : store.goalsByMonthAndName(lastUploadDate, 'TOTAL_OBJETIVO', type).first.objetive,
                        'total_result': store.goalsByMonthAndName(lastUploadDate, 'TOTAL_RESULTADO', type).empty ? 0: store.goalsByMonthAndName(lastUploadDate, 'TOTAL_RESULTADO', type).first.result,
                        'items': store.goalsByMonthAndCategory(lastUploadDate, type),
                        'message': textSpecialGoalMessage,
                        } only %}
                    {% endfor %}
                </div>
                <div id="{{ lastUploadDate2|date('F')|trans }}" class="tab-pane fade">
                    <div class="points-table">
                        <div class="flex-table">
                            <div class="flex-row head general" style="background-color: #0b6349;font-size: 17px;">
                                <div>
                                    GENERALES
                                </div>
                                <div style="white-space: nowrap; padding-right: 0px !important;">
                                    {{ store.goalsByMonthAndName(lastUploadDate2, 'TOTAL_STORE_OBJETIVO').empty ? 0 : store.goalsByMonthAndName(selectedMonth, 'TOTAL_STORE_OBJETIVO').first.objetive }}
                                    Ptos
                                </div>
                            </div>
                        </div>
                    </div>

                    {% for type in categories %}
                        {% include '@Incentive/Frontend/Incentive/widgets/points-table-objetive.html.twig' with {
                        'render_values': false,
                        'title': type,
                        'total_objetive': store.goalsByMonthAndName(lastUploadDate2, 'TOTAL_OBJETIVO', type).empty ? 0 : store.goalsByMonthAndName(lastUploadDate2, 'TOTAL_OBJETIVO', type).first.objetive,
                        'total_result': store.goalsByMonthAndName(lastUploadDate2, 'TOTAL_RESULTADO', type).empty ? 0: store.goalsByMonthAndName(lastUploadDate2, 'TOTAL_RESULTADO', type).first.result,
                        'items': store.goalsByMonthAndCategory(lastUploadDate2, type),
                        'message': textSpecialGoalMessage,
                        } only %}
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="tab-content">
                <div id="{{ lastUploadDate|date('F')|trans }}" class="tab-pane fade in active">
                    <div class="points-table">
                        <div class="flex-table">
                            <div class="flex-row head general" style="background-color: #3a5371;font-size: 17px;">
                                <div>
                                    NO HAY OBJETIVOS CARGADOS AÚN
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}
    {% endif %}
    <br/>
    <div class="row">
        <div class="col-md-6">
            <h4 class="text-uppercase medium" style="font-size: 18px;margin: 0;line-height: 28px">Objetivos y Resultados de mi cine</h4>
        </div>
        <div class="col-md-6 text-right">
            <select class="select2" onchange="window.location = '?' + $(this).val()">
                <option value="" disabled="disabled">Seleccionar mes</option>
                {% for month in selectorChoices %}
                    <option value="month={{ month.format('n') }}&year={{ month.format('Y') }}"
                            {% if month.format('n') == selectedMonth.format('n') and  month.format('Y') == selectedMonth.format('Y') %}selected="selected"{% endif %}
                    >{{ month|date('F')|trans }}/{{ month|date('Y') }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="progressInfo myRoom">
        {% set totalPoints = store.goalsByMonthAndName(selectedMonth, 'TOTAL_STORE_OBJETIVO').empty ? 0 : store.goalsByMonthAndName(selectedMonth, 'TOTAL_STORE_OBJETIVO').first.objetive %}
        {% set completedPoints = store.goalsByMonthAndName(selectedMonth, 'TOTAL_STORE_RESULTADO').empty ? 0: store.goalsByMonthAndName(selectedMonth, 'TOTAL_STORE_RESULTADO').first.result %}
        {% set position = store.getRankingByMonthAndYear(selectedMonth,store).empty ? 0 : store.getRankingByMonthAndYear(selectedMonth,store).first.position %}
        <div class="flex align-center justify-between">

            <div class="myStar">
                {% include '@Incentive/Frontend/Incentive/widgets/cup.html.twig' with {'podium':podium,'position':position,'myrank':true,} only %}
            </div>

            <div class="myWorkPlace">
                <div class="type">{{ store.brand }}</div>
                <div class="where">{{ store.location }}</div>
            </div>

            {% include "@Incentive/Frontend/Incentive/widgets/progress-bar.html.twig" with {'totalPoints':totalPoints,'completedPoints':completedPoints} only %}


            <div class="viewMore">
                <h4 class="hidden-xs"> VER </h4>
                <a href="#progress-detailME" data-toggle="collapse" style="text-decoration: none">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    <i class="fa fa-minus" aria-hidden="true" style="display: none"></i>
                </a>
            </div>
        </div>
        <div class="clearfix visible-sm visible-xs"></div>
        <div class="row-objectives collapse" id="progress-detailME">
            {% for type in categories %}

                {% include '@Incentive/Frontend/Incentive/widgets/points-table.html.twig' with {
                'render_values': true,
                'title': type,
                'total_objetive': store.goalsByMonthAndName(selectedMonth, 'TOTAL_OBJETIVO', type).empty ? 0 : store.goalsByMonthAndName(selectedMonth, 'TOTAL_OBJETIVO', type).first.objetive,
                'total_result': store.goalsByMonthAndName(selectedMonth, 'TOTAL_RESULTADO', type).empty ? 0 : store.goalsByMonthAndName(selectedMonth, 'TOTAL_RESULTADO', type).first.result,
                'items': store.goalsByMonthAndCategory(selectedMonth, type),
                'message': textSpecialGoalMessage,
                } only %}

            {% endfor %}
        </div>
    </div>

    {% if podium > 0 %}
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-uppercase medium" style="font-size: 18px;margin: 0;line-height: 28px">Felicitamos a los ganadores del mes de {{selectedMonth.format('F')|trans}}</h4>
            </div>
        </div>

        {% set contador = 0 %}
        {% for cine in storeRankings if contador < podium %}
            {% set contador = contador + 1 %}
            {% set own = cine == store %}

            <div class="progressInfo">
                {% set totalPoints = cine.goalsByMonthAndName(selectedMonth, 'TOTAL_STORE_OBJETIVO').empty ? 0 : cine.goalsByMonthAndName(selectedMonth, 'TOTAL_STORE_OBJETIVO').first.objetive %}
                {% set completedPoints = cine.goalsByMonthAndName(selectedMonth, 'TOTAL_STORE_RESULTADO').empty ? 0 : cine.goalsByMonthAndName(selectedMonth, 'TOTAL_STORE_RESULTADO').first.result %}

                <div class="flex align-center justify-between">

                    <div class="myStar">
                        {% include '@Incentive/Frontend/Incentive/widgets/cup.html.twig' with {'podium':podium,'position':loop.index,'myrank': (own ? true : false)} only %}
                    </div>

                    <div class="myWorkPlace">
                        <div class="type">{{ cine.brand }}</div>
                        <div class="where">{{ cine.location }}</div>
                    </div>

                    {% include "@Incentive/Frontend/Incentive/widgets/progress-bar.html.twig" with {'totalPoints':totalPoints,'completedPoints':completedPoints} only %}

                    {% if not inTop %}
                    <div class="viewMore">
                        <a href="#progress-detail{{ loop.index }}" data-toggle="collapse"
                           style="text-decoration: none;{{ not own ? 'visibility:hidden' : '' }}">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            <i class="fa fa-minus" aria-hidden="true" style="display: none"></i>
                        </a>
                    </div>
                    {% endif %}
                </div>
                <div class="clearfix visible-sm visible-xs"></div>
                {% if own %}
                    <div class="row-objectives collapse" id="progress-detail{{ loop.index }}">
                        {% for type in categories %}
                            {% include '@Incentive/Frontend/Incentive/widgets/points-table.html.twig' with {
                            'render_values': true,
                            'title': type,
                            'total_objetive': cine.goalsByMonthAndName(selectedMonth, 'TOTAL_OBJETIVO',type).empty ? 0 : cine.goalsByMonthAndName(selectedMonth, 'TOTAL_OBJETIVO',type).first.objetive,
                            'total_result': cine.goalsByMonthAndName(selectedMonth, 'TOTAL_RESULTADO',type).empty ? 0 : cine.goalsByMonthAndName(selectedMonth, 'TOTAL_RESULTADO',type).first.result,
                            'items': cine.goalsByMonthAndCategory(selectedMonth, type),
                            'message': textSpecialGoalMessage,
                            } only %}

                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        <div style="background-color:#f7f8fa; width:100%;">
            <h4 style="font-size: 16px;
                        font-weight: 700;
                        margin: 0;
                        line-height: 28px;
                        overflow: hidden;
                        padding: 40px 20px;
                        text-align: center;
                        display: block;">Recursos Humanos contactará a los gerentes de cada complejo para coordinar la entrega de los premios. </h4>
        </div>
        <br>
    {% endif %}
{% endblock %}
