{% extends '::base.html.twig' %}

{% block page_content %}
    <div class="row">
        <div class="col-sm-5">
            <h2>Ingrese Nueva Estación</h2>
        </div>

    </div>

    {{ form_start(form) }}
        {{ form_row(form.provincia) }}    {# <select id="store_provincia" ... #}
        {{ form_row(form.localidad) }} {# <select id="store_localidad" ... #}

    {{ form_end(form) }}
{% endblock %}
{% block body_script_custom %}
{{ parent() }}
<script>
    var $provincia = $('#store_provincia');
    // cuando cambia la provincia
    $provincia.change(function() {
        // ... retrieve the corresponding form.
        var $form = $(this).closest('form');
        // Simulate form data, but only include the selected sport value.
        var data = {};
        data[$provincia.attr('name')] = $provincia.val();
        // Submit data via AJAX to the form's action path.
        $.ajax({
            url : $form.attr('action'),
            type: $form.attr('method'),
            data : data,
            success: function(html) {
                // Replace current position field ...
                $('#store_localidad').replaceWith(
                    // ... with the returned one from the AJAX response.
                    $(html).find('#store_localidad')
                );
                // Position field now displays the appropriate positions.
            }
        });
    });
</script>
{% endblock %}