{% extends '::base.html.twig' %}

{% block page_header %}
    {% if is_granted('ROLE_ADMIN') %}
        {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
        title:'page_header.store.list.title'|trans,
        path: { new: {uri: path( 'aper_store_add')}, }, 
        } only %}
    {% else %}
        {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
        title:'page_header.store.list.title'|trans,
        } only %}
    {% endif %}
{% endblock page_header %}

{% block page_content %}
    <div class="table-responsive">

        {{ grid_filter_form(filter_form) }}

        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>{{ 'Code'|trans }}</th>
                <th>{{ 'Nombre'|trans }}</th>
                <th>{{ 'Provincia' }}</th>
                <th>{{ 'Zona' }}</th>
                <th>{{ 'Responsable Comercial' }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for store in pagination %}
                <tr data-id="{{ store.id }}">
                    <td>{{ store.code }}</td>
                    <td>{{ store.location }}</td>
                    <td>{{ store.provincia.nombre | default('') }}</td>
                    <td>{{ store.zona | default('') }}</td>
                    <td>{{ store.responsableComercial | default('') }}</td>
                    <td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('aper_store_edit', {id: store.id }) }}" class="btn">Editar</a>
                        <a href="{{ path('aper_store_delete', {id: store.id }) }}" class="btn btn btn-danger btn-delete" onclick="return confirm('Está seguro de eliminar?')">Eliminar</a>
                    {% endif %}
                        <a href="{{ path('aper_store_show', {id: store.id }) }}" class="btn" onclick="">Ver</a>                    
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <br>

        {{ grid_pagination(pagination) }}

    </div>

{% endblock page_content %}