{% extends '::base.html.twig' %}

{% block page_header %}
    {% if is_granted('ROLE_ADMIN') %}
        {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
        title:'menu.store'|trans,
        path: {
        index: {uri: path('aper_store_index')},
        edit: {uri: path('aper_store_edit', {'id': store.id})},
        delete: {uri: path('aper_store_delete', {'id': store.id})},
        },
        } only %}
    {% else %}
        {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
        title:'menu.store'|trans,
        path: {
        index: {uri: path('aper_store_index')},
        },
        } only %}
    {% endif %}
{% endblock page_header %}


{% block page_content %}
    <table class="table">
        <tbody>
        <tr>
            <th width="200px">{{ 'Code'|trans }}</th>
            <td>{{ store.code }}</td>
        </tr>
        <tr>
            <th width="200px">{{ 'Nombre'|trans }}</th>
            <td>{{ store.location }}</td>
        </tr>
        <tr>
            <th width="200px">{{ 'Provincia' }}</th>
            <td>{{ store.provincia.nombre | default('') }}</td>
        </tr>
        <tr>
            <th width="200px">{{ 'Localidad' }}</th>
            <td>{{ store.localidad.nombre | default('') }}</td>
        </tr>
        <tr>
            <th width="200px">{{ 'Zona' }}</th>
            <td>{{ store.zona | default('') }}</td>
        </tr>
        <tr>
            <th width="200px">{{ 'Cliente' }}</th>
            <td>{{ store.cliente | default('') }}</td>
        </tr>
        <tr>
            <th width="200px">{{ 'Tipo Comercio' }}</th>
            <td>{{ store.tipoComercio | default('') }}</td>
        </tr>
        <tr>
            <th width="200px">{{ 'Segmento' }}</th>
            <td>{{ store.segmento | default('') }}</td>
        </tr>
        <tr>
            <th width="200px">{{ 'Bandera' }}</th>
            <td>{{ store.bandera | default('') }}</td>
        </tr>
        {% if is_granted('ROLE_ADMIN') %}
        <tr>
            <th width="200px">{{ 'Responsable Comercial' }}</th>
            <td>User ID: {{ store.responsableComercial | default('') }} <a target="_blank" href="../user/edit/{{ store.responsableComercial }}">(ver usuario)</a></td>
        </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}