{% extends 'base.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'page_header.aper.slider.show.title'|trans,
    path: {
        index: {uri: path('aper_slider_index')},
        edit: {uri: path('aper_slider_update', {'id': slider.id})},
        delete: {uri: path('aper_slider_delete', {'id': slider.id})},
    },

    } only %}
{% endblock page_header %}


{% block page_content %}
    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'Ordenamiento'|trans }}</th>
                <td>{{ slider.sort }}</td>
            </tr>
            <tr>
                <th>{{ 'Roles'|trans }}</th>

               <td>
                {% for roles in slider.categories %}
                    {{roles|trans}} <br>
                {% endfor %}
            </td>

            <tr>
                <th>{{ 'Imagen'|trans }}</th>
            <td>
                <img src="{{asset(slider.file.webPath)}}" style="max-height: 600px">
            </td>

        </tr>
        </tbody>
    </table>
{% endblock %}