{% extends 'base.html.twig' %}

{% block body %}
    <h1>Localidads list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Fechabaja</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for localidad in localidads %}
            <tr>
                <td><a href="{{ path('localidad_show', { 'id': localidad.id }) }}">{{ localidad.id }}</a></td>
                <td>{{ localidad.nombre }}</td>
                <td>{% if localidad.fechaBaja %}{{ localidad.fechaBaja|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('localidad_show', { 'id': localidad.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('localidad_edit', { 'id': localidad.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('localidad_new') }}">Create a new localidad</a>
        </li>
    </ul>
{% endblock %}
