{% extends 'base.html.twig' %}

{% block body %}
    <h1>Localidad</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ localidad.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ localidad.nombre }}</td>
            </tr>
            <tr>
                <th>Fechabaja</th>
                <td>{% if localidad.fechaBaja %}{{ localidad.fechaBaja|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('localidad_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('localidad_edit', { 'id': localidad.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
