{% extends 'WebFactoryUserBundle::layout.html.twig' %}

{% block page_header %}
    {% include '@WebFactoryBackOfficeTheme/embed/helper/page_header.html.twig' with {
    title:'page_header.user.account.edit.title'|trans,
    path: {
    show: {uri: path('backend_web_factory_user_profile_show'), text:'button.label.show'|trans},
    edit: {uri: path('backend_web_factory_user_profile_edit'), text:'page_header.user.profile.edit.title'|trans},
    },
    } only %}
{% endblock page_header %}

{% block web_factory_user_content %}
    {{ form(form) }}
{% endblock web_factory_user_content %}
